[2019-12-20 10:57] mar-v opened #1487 "RN apps log users out and forget servers intermittently"
- Your Rocket.Chat Experimental app version: Official 4.1.0.2095, Experimental 4.2.0
- Your Rocket.Chat server version: 3.0.0 and 2.3.0
- Device (or Simulator) you're running with: Samsung Galaxy JS, HomTom HT72, Android 6.0.1 and Android 7.

Once in a while when I try to open an app or click on a push message, the app launches but prompts me to type in the server address and log in, although I di

[2019-12-20 15:16] JohnLukeP commented on #1356
Setting allow_empty_token = true on Jitsi will have the drawback of allowing unauthenticated guest to join and, worse, creating rooms. Basically people from the App (which supposedly have the token) and guests are treated in the same way.
I think this should be fixed on the rocketchat app side which is not correctly sending the token.

[2019-12-20 18:41] geekgonecrazy opened #1488 "Searching leaves result behind"
- Your Rocket.Chat Experimental app version: 4.1.0.268
- Your Rocket.Chat server version: open’s version
- Device (or Simulator) you're running with: iPhone XS

* Sort activity
* unread on top

Searching then seems to leave behind a result above unread

![BF141E15-4E5B-4C85-8875-790A56C1CFF9](https://user-images.githubusercontent.com/51996/71283841-e838fe00-2326-11ea-8585-aa721b90fba6.gif)

[2019-12-22 12:55] ankar84 commented on #1356
It is not quite true. As I said with virtual host guest.meet.jitsi all fine. All in my post, read carefully.

[2019-12-23 08:16] JohnLukeP commented on #1356
Thanks, you're right, my mistake. I have only a question about this: since we're configuring different virtual hosts (eg. meet.jitsi and guest.meet.jitsi in this case), rocketchat, when creating the videoconference, gives a link only for the main virtualhost (eg. meet.jitsi/RoomName) do we have to change the link (eg. to guest.meet.jitsi/RoomName) before sharing it with guests?

[2019-12-23 13:54] ankar84 commented on #1356
We did not changed any Rocket.Chat links. Just enabled **allow_empty_token = true** in **guest.meet.jitsi virtualhost**.
Now I see only one restriction - **mobile user can't create new videoconference** (actualy guest can't do that, which is good for us).
And advantages of that options for us - is that mobile users now can join already started video calls (as guest I think) and any external (not R

[2019-12-23 16:40] jedhelmers commented on #1420
I'm getting the same error, too.
**RN 0.59.9 to 0.60.5 migration**

[2019-12-23 21:08] Bubu opened #1489 "Foss version"
The apk built from this repo contains a lot of google play services and firebase libraries. This can easily be check with:

` $ANDROID_HOME/tools/bin/apkanalyzer dex packages ./android/app/build/outputs/apk/debug/app-debug.apk | grep com.google.android.gms`

As these are proprietary libraries the apk cannot be distributed by F-Droid, which is therefore currently stuck on version 3.5.1: https://f-d

[2019-12-23 21:15] djorkaeffalexandre commented on #1489
Hello @Bubu ! We want to distribute an APK on F-Droid.
If you want, we can work collaborate to make it!
Reach me on https://open.rocket.chat. I'm `djorkaeff.alexandre`.

Thanks a lot! ❤️

[2019-12-24 02:38] Prateek93a commented on #1420
@jedhelmers try cd android && ./gradlew clean. Cleaning fixed the problem for me.

[2019-12-24 03:11] alleniver opened #1490 "Can you provide a version of the realm?"
Can you provide a version of the realm? Because the local application uses realm. If we use waterelmondb, we need to re integrate a new database, so the application will become more and more complex.

[2019-12-24 10:47] didierm commented on #1427
@Prateek93a For testing purposes, we installed the react native client on a couple of Android clients/smartphones.

* This issue **_never_** occurs :
   * with the Electron desktop client (latest v2.7.2, but it did not occur with previous versions either)
   * in a Web GUI session (current Rocket.Chat server backend : v2.2.0).

* This issue is _(partly, see below)_ reproducible with both :
  * the

[2019-12-26 06:59] Prateek93a commented on #1444
@diegolmello
app > views > ThreadMessagesView> index.js > line no 100 inside subsribeData() function. when I comment out the code on line 100, the error disappears, and everything works fine, but I am not able to understand why this is so.

![Screenshot from 2019-12-26 12-21-50](https://user-images.githubusercontent.com/44807945/71462947-ecf42b00-27da-11ea-9276-4eb2034a0e0c.png)

[2019-12-26 08:46] Prateek93a commented on #1427
@didierm  Ok,now I got it. Thanks for the update

[2019-12-26 09:27] Prateek93a opened #1491 "Error when tapping on images in channel thread"
- Your Rocket.Chat Experimental app version:4.2.0.999999999
- Your Rocket.Chat server version:2.4.0-rc.0
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6
![ezgif com-crop(1)](https://user-images.githubusercontent.com/44807945/71469085-1c606300-27ee-11ea-99db-8a157f02c9de.gif)

Steps to reproduce ->
-Go to any channel.
-Go to threads.
-Tap on any image or attachment

[2019-12-26 09:28] Prateek93a commented on #1491
Can I take it up?

[2019-12-26 09:32] Prateek93a commented on #1491
Can I take it up?

[2019-12-26 11:12] djorkaeffalexandre commented on #1491
@Prateek93a yes, you can.

[2019-12-26 13:08] djorkaeffalexandre commented on #1444
@Prateek93a try change `findAndObserve` to two functions like:
[code]
Unfortunately the function `findAndObserve` not works fine..

[2019-12-26 13:10] Prateek93a commented on #1491
@djorkaeffalexandre Ok Sir

[2019-12-26 13:11] djorkaeffalexandre commented on #1490
Hello @alleniver ! Realm has a lot of problems with Jitsi SDK, we migrate our code base to use WatermelonDB and it works fine for us.. I think you can create a Fork and revert the watermelon PR.. Thank you!

[2019-12-26 14:01] Prateek93a commented on #1444
@djorkaeffalexandre Yes Sir your solution worked, since the `findAndObserve` was not throwing error, the app was crashing. Now after splitting the function, the error got thrown and logged out in the console, without crashing the app. So the solution is working.

[2019-12-26 14:02] djorkaeffalexandre commented on #1444
;)

[2019-12-26 14:07] allytech commented on #1451
I can confirm this happens on RC Server 2.3.2 on Ubuntu 18 with an NGINX proxy for both iOS and Android devices.  We use our RC Server for critical outage communications and since the react native update, most of our users experience this issue.  You will receive a lock screen (banner) notification of a message but when you go to the channel that banner message is missing.  Other messages later ma

[2019-12-26 15:15] ssbing99 opened #1496 "The field is resetting"
- Your Rocket.Chat Experimental app version: 4.2.0
- Your Rocket.Chat server version: 2.4.0-rc.0
- Device (or Simulator) you're running with: Android & iOS

For the profile part, after I keyed-in value to the field, then it seems like is resetting automatically in awhile.
And also for the image, i try to select image from picker and debug using Reactotron it showed there is value in the avatar obj

[2019-12-26 15:27] djorkaeffalexandre commented on #1496
Hey @ ssbing99, can you help by doing a PR?
I think it's related to this:
`` ``
componentWillReceiveProps (nextProps) {
  const {user} = this.props;
  if (user! == nextProps.user) {
    this.init (nextProps.user);
  }
}
`` ``
`user` is an object and this comparison always evaluates to` true` and redefines the fields.

[2019-12-26 16:04] ssbing99 commented on #1496
I could have a try on it. I'm thinking to use a flag to determine whether it has changes in any field, so when the flag is in true state, then it should skip for updating the `user` , something like below. So if it is not have any changes, then it will still remain to update the `user` .
Sorry for my English.
`
if(!hasChange){
			if (user !== nextProps.user) {
				this.init(nextProps.user);
			}

[2019-12-26 16:11] djorkaeffalexandre commented on #1496
I think you not need this..
Only use:
[code]

[2019-12-26 16:23] ssbing99 commented on #1496
I see ! Many thanks ! I'll create a PR when I'm available as soon as possible.

[2019-12-26 21:03] jedhelmers commented on #1420
Nope! haha. But that is my go-to command!

I think this error is buried inside **settings.gradle**. I changed the path from **../node_modules/react-native-notifications/android/app** to **../node_modules/react-native-notifications/android/app/src/** and the error goes away.

[2019-12-27 04:34] entonio opened #1498 "Channels don't appear"
- Your Rocket.Chat Experimental app version: ####
4.2.0

- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####
iPhone X

The private channels I'm subscribed to don't appear in the directory, which makes them inaccessible, as they don't appear in the history either (logout + login cleared the history, even though it's available on other devices). This has been so

[2019-12-27 04:36] entonio opened #1499 "Can't change presence status"
- Your Rocket.Chat Experimental app version: ####
4.2.0

- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####
iPhone X

Selecting a status in the menu gives no visual feedback, only returns to the previous menu, and apparently does nothing anyway, since the status doesn't change.

[2019-12-27 06:00] aashaypalliwar commented on #1488
Hi! I wish to take this up.

[2019-12-27 09:52] programwar opened #1501 "App crashes clicking "Sort by activity""
- Your Rocket.Chat Experimental app version: 1.25.0
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: iPhone X 12.2 / Android 9

When you click on "Sort by activity" app crashed and shows following error:

![image](https://user-images.githubusercontent.com/3056856/71512501-cabfe300-2896-11ea-8296-6379d1ed0d45.png)

[2019-12-27 12:26] Prateek93a commented on #1158
@diegolmello From the following gif, the deeplink opens the app if it is installed whereas the other link opens in browser, this is true for desktop as well. The deeplink opens the desktop app if installed.
The 'Go to message' button has href of the other link, hence it always opens the browser, so by changing the href, and passing suitable `rid` and `path`, the issue can be solved. However I am u

[2019-12-27 16:01] Prateek93a commented on #901
Can I take this up?

[2019-12-27 16:07] IlarionHalushka commented on #901
go ahead 👍

[2019-12-27 16:14] Prateek93a commented on #901
@IlarionHalushka Ok Sir

[2019-12-27 16:55] aashaypalliwar commented on #1443
@diegolmello What default behavior are we expecting when a channel is muted? Like should it be the case that it doesn't show any unread count badge and that's it?

[2019-12-28 21:22] Sys-Admin889 opened #1740 "Auto-resizing photos"
What about adding the possibility to let users upload photos that its size is bigger than the max allowed size of attachment by auto-resizing it?, if it possible.

For example: Max size of attached files is 2 mb but we need resizing any photo that bigger than allowable limit to provide storage space for the server.

- Rocket.Chat app version: 4.1.0.268
- Rocket.Chat server version: 2.3.1

[2019-12-29 20:08] mikesrus opened #1505 "[BUG] App close on push notification"
- Rocket.Chat Experimental app version: 4.2.0.2096
- Rocket.Chat server version: 2.2.0
- Device running with: Honor 8x

When i receive push notofication from our chat server, app closes/crashes.
i try clear cache/data/reinstall, but nothing help.

[2019-12-30 16:04] lkraider commented on #1487
Same issue here on iOS, app keeps logging me out and forgetting servers.

iOS App: 4.1.0
Servers: 2.3.0 and 2.2.1

Why is that even a thing? Please save servers forever until manually excluded. This never happens with the desktop app or the native app.

[2019-12-30 16:08] djorkaeffalexandre commented on #1487
Hello @lkraider .
I'm trying to solve this, but I can't reproduce it here.. You have steps to follow and reproduce this issue?
Can you reach me on https://open.rocket.chat?
My username is `djorkaeff.alexandre`.

[2019-12-30 18:20] mar-v commented on #1487
@lkraider Look like this is not an issue on the latest (beta) release anymore. Would you please try to join the TestFlight and download the beta version? https://github.com/RocketChat/Rocket.Chat.ReactNative#testflight I hope it can work for you. Otherwise, please let us know if still persists on 4.2.0

[2019-12-30 18:22] djorkaeffalexandre commented on #1505
Hello @mikesrus , can you reach me on https://open.rocket.chat?
My username is `djorkaeff.alexandre`.
We'll find steps to reproduce your issue and fix it. :)
Thanks a lot.

[2019-12-30 19:36] rsjr opened #1507 "[FEATURE] Authentication via Wordpress"
Currently the authentication via Wordpress is not supported in the mobile apps -> https://github.com/RocketChat/Rocket.Chat.ReactNative#features

Can you please add this feature in the development roadmap? Thanks!

[2019-12-30 19:53] djorkaeffalexandre commented on #1505
We talked about it and found that error is only to `Test Push Notification` from Server Admin Panel.

[2019-12-31 10:52] HamzaKhait commented on #1471
@Prateek93a  @diegolmello  Thanks for the feedback.
I'm sorry for reopening this issue but the problem is unsolved.
When I try to build the single-server branch, I get the following error :
[code]

[2019-12-31 15:03] allytech commented on #1451
RC Experimental App 4.2.0.13336 seems to have fixed the issue.  Our messages now show in push and the channel for both iOS and Android.  Thank you very much!

[2019-12-31 15:13] djorkaeffalexandre commented on #1451
Nice @allytech ! :) If it happens again, fell free to comment here or open another issue. Thanks!

[2019-12-31 20:34] rvlta commented on #1451
Nope it didn't fixe the issue to me...

[2020-01-01 18:11] Ritesh-Ag commented on #1476
Can i take up this issue?

[2020-01-01 20:08] djorkaeffalexandre commented on #1476
@Ritesh-Ag yes!

[2020-01-02 10:42] Ritesh-Ag commented on #1476
@djorkaeffalexandre Okay Sir!

[2020-01-02 13:41] Prateek93a opened #1511 "[FEATURE] Direct Message from Channel Room itself"
- Your Rocket.Chat Experimental app version: 4.2.0.99999999
- Your Rocket.Chat server version: 2.4.0 open.rocket.chat
- Device (or Simulator) you're running with: Android P

Its a feaure request. It would be helpful to be able to direct message someone from the channel room itself by tapping on his/her avatar. Right now, tapping on the avatar takes you to the user info page. So to direct message h

[2020-01-02 13:42] Prateek93a commented on #1511
Can I take this up?

[2020-01-02 13:43] djorkaeffalexandre commented on #1511
Yes.

[2020-01-02 13:46] Prateek93a commented on #1511
@djorkaeffalexandre Ok Sir, so what would be better, having a modal open up or having a direct message button in the user info view itself?

[2020-01-02 13:51] djorkaeffalexandre commented on #1511
I think is better if you add a button on User Info to send a new message to user.

[2020-01-02 14:14] Prateek93a commented on #1511
Ok Sir, on it.

[2020-01-02 18:49] marianotribuj opened #1512 "Adding Kerberos authentication"
Sorry to report it as issue, but I'm being unable to solve an integration and maybe someone can help:

We were able to successfully integrate our rocketchat server with an Active Directory with LDAP, using moreover the existing settings. The problem is that security area asked us to add Kerberos on top of LDAP (they are doing Kerberos delegation on the F5 that stands between the web and Rocket.cha

[2020-01-03 11:02] dusatvoj opened #1513 "Blank lines in messages are not rendered"
- Your Rocket.Chat Experimental app version: Not Experimental but stable 4.1.0 on Android
- Your Rocket.Chat server version: 2.1.3
- Device (or Simulator) you're running with: Apple Phones or Motorola One _(Same issue)_

How to reproduce:
 - Write a message like this
[code]

PC:
![image](https://user-images.githubusercontent.com/11560794/71720082-aa58d100-2e20-11ea-9a4c-e24a7959279c.png)

Phone:
!

[2020-01-03 14:45] Ritesh-Ag opened #1514 "Dropdown menu does not closes automatically."
- Your Rocket.Chat Experimental app version: 4.2.0.999999999
- Your Rocket.Chat server version: 2.4.0 open.rocket.chat
- Device (or Simulator) you're running with: Android P

When we search for any channel or user under directory option, the dropdown menu does not closes automatically after choosing the option. It has to be closed manually by clicking again.
![20200103_195955](https://user-images.

[2020-01-03 14:46] Ritesh-Ag commented on #1514
Can I take up this issue?

[2020-01-03 14:46] djorkaeffalexandre commented on #1514
@Ritesh-Ag yes, you can! 😁

[2020-01-03 14:48] Ritesh-Ag commented on #1514
@djorkaeffalexandre Okay, sir.

[2020-01-03 15:08] brittyazel commented on #1451
I think I might have this issue. On one of my channels I was informed that there were new messages and it even showed a snippet of the message content on the channel list, but upon opening the channel there were no new messages at all. Strangely though, when I view the channel on the web client, I do see the messages. So it appears it is just the mobile app unable to load these missing messages fo

[2020-01-03 15:16] allytech commented on #1451
So we had this same exact issue with the 4.1 version of the rocket chat iOS and Android client.  We had this problem at scale and it was causing crazy miscommunications in the organization.  We found that you have to completely delete all rocket chat clients from the mobile device and look for the "Rocket.Chat Experimental" app in the app store and sign in again.  If it does not ask you to sign in

[2020-01-03 20:01] aKn1ghtOut commented on #1513
I'll take this up?

[2020-01-03 20:04] djorkaeffalexandre commented on #1513
@aKn1ghtOut yes.

[2020-01-03 21:19] Prateek93a opened #1517 "Unable to go to direct message room from members list in a channel"
- Your Rocket.Chat Experimental app version: 4.2.0.9999999
- Your Rocket.Chat server version: 2.4.0 open.rocket.chat
- Device (or Simulator) you're running with: Android P

Actually it's a bug issue.  When we tap on the member, in members  list, that we didn't have conversation with before, nothing happens but when tap on the member whom we had conversation with before, then direct message screen

[2020-01-03 21:20] Prateek93a commented on #1517
If this feature seems useful, can I take it up?

[2020-01-03 21:46] brittyazel commented on #1451
Interesting. I did as you said and the particular channel in which I had this issue is now refusing to load any messages. It just endlessly spins with no messages loading in. No other channels have this issue.

This channel is a private channel. I'm not sure if that makes a difference

[2020-01-05 18:20] djorkaeffalexandre commented on #1517
Yes, you can.
You not need to ask if you can take some issue, if it not has a PR opened, you can do.
We really appreciate your contributions.
Thanks.

[2020-01-05 19:53] Prateek93a commented on #1517
@djorkaeffalexandre Thanks a lot Sir :)

[2020-01-06 04:58] khanhbao0508 opened #1520 "React native custom keyboard on ios"
![issues](https://user-images.githubusercontent.com/47891357/71795927-061e9680-307b-11ea-8d84-94e253d0bcc4.png)
custom keyboard emoji run on android is working normally but when i add the same keyboard on ios, so the error above
please help !

[2020-01-06 05:22] brittyazel opened #1521 "Messages won't load"
- Your Rocket.Chat Experimental app version: 4.2.0.13337
- Your Rocket.Chat server version: 2.4.0
- Device (or Simulator) you're running with: Android 9, OnePlus5t

On one of our channels messages stopped updating on the Android client. New messages were coming in, and we could see them from the web client, but on the mobile app the messages weren't showing. I was advised to log out and log in to

[2020-01-06 05:34] brittyazel commented on #1521
Oddly, if I click the discussions button I can see all the discussions just fine.

![Screenshot_20200105-213404](https://user-images.githubusercontent.com/3747347/71797475-2a3e9100-3003-11ea-8642-ae0fbc84edcc.jpg)

[2020-01-06 10:10] cygnusm opened #1522 "app closed after click on video call button"
- Your Rocket.Chat Experimental app version: 4.2.0
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: huawei 7x,android 9

after click on video call, app closed.
jitsi is working good on browsers and jitsi official app and rocketchat web aaplication.
-app's log after click on video call button:

[13:28:57] E | ReactNativeJS ▶︎ TypeError: null is not an object (ev

[2020-01-06 15:14] brittyazel commented on #1521
Another note, some of our users who are experiencing this issue are reporting that it's new with the update to server 2.4.0. Perhaps that may help narrow it down

[2020-01-06 15:51] sumukhah commented on #1507
Hello,
I can take this issue,
But i need some guiding @djorkaeffalexandre

[2020-01-06 16:05] djorkaeffalexandre commented on #1507
Hello @sumukhah , I think you need start by create a Rocket.Chat server with WordPress Authentication, and understand how it works on our web client. :)

[2020-01-07 09:32] JohnLukeP commented on #1356
Thanks for your reply, I also replicated your configurations in my environment. Now the situation I got is:
guest trying to create a new room: "failed to connect"
guest trying to join an already created (by a JWT-authenticated user): Cannot see nor hear the authenticated user; the authenticated user can't see nor hear the guest.

Are you also having these problems?

[2020-01-07 11:57] diegolmello commented on #1522
@cygnusm Thanks for opening this issue.
Apparently, Jitsi uses old JSC and we're introducing Hermes on 4.2.0.
We're figuring if we can fix the issue or if we should release the 4.2.0 without Hermes.

[2020-01-07 12:07] diegolmello commented on #1520
We don't have a custom keyboard on iOS.

[2020-01-07 12:07] #1520 closed

[2020-01-07 12:24] cygnusm commented on #1522
thank you, i 'm waiting for new release

[2020-01-07 12:25] diegolmello commented on #1522
You can try our official version: https://play.google.com/store/apps/details?id=chat.rocket.android

[2020-01-07 13:29] Prateek93a opened #1524 "Unsent Messages are not saved as draft"
- Your Rocket.Chat Experimental app version: 4.2.0.9999999999
- Your Rocket.Chat server version: 2.4.0 open.rocket.chat
- Device (or Simulator) you're running with: Android P

I think its a bug. As the following gif shows, the unsent messages are not available as draft once we leave the room and re-enter the room.
![ezgif com-crop (6)](https://user-images.githubusercontent.com/44807945/71893259-1d

[2020-01-07 13:29] Prateek93a commented on #1524
I think its related to `this.messagebox=React.createRef()`.  this.messagebox.current is always null and hence the unsaved messages don't not get saved as draft.

[2020-01-07 13:58] #1524 closed

[2020-01-07 14:25] Ritesh-Ag opened #1526 "Auto search when text changes in directory textfield"
- Your Rocket.Chat Experimental app version: 4.2.0.99999999
- Your Rocket.Chat server version: 2.4.0
- Device (or Simulator) you're running with: Android P

When we search for any channel or user, we have to click the search button but the search should start automatically as the text changes.

![directory](https://user-images.githubusercontent.com/50779098/71901467-05bef200-3186-11ea-8742-eb3916b

[2020-01-07 14:26] Ritesh-Ag commented on #1526
Can I take up this issue?

[2020-01-07 14:34] djorkaeffalexandre commented on #1526
@Ritesh-Ag , yes you can, but I think you need to check if user stopped typing before search.
You not need to ask if you can take an issue, if it not has some `Assignees` or `Opened Pull Requests` you can start your work.
Thanks.

[2020-01-07 16:28] novacrazy opened #1528 "iOS doesn't load channels or messages"
This morning I finally upgraded to iOS 12.4.4, and it seems that was the catalyst for the iOS app to completely crap itself.

Joined channel listings no longer load, selected a joined channel in the directory says I'm not joined, new or old messages do not display in the channel listing, etc. Upon joining the already-joined channels from the directory, I am able to send and view messages, but the

[2020-01-07 17:31] #1517 closed

[2020-01-07 17:50] #1505 closed

[2020-01-07 18:17] diegolmello commented on #1528
Transferred to the proper repo.
This issue is a duplicate from other issues like #1521 though

[2020-01-07 18:17] #1528 closed

[2020-01-07 18:31] novacrazy commented on #1521
For myself and my users, messages will sometimes load/send if the channel is open. New messages don't always come through, but generally existing ones do load.

However, as of this morning the channel listing is empty and there are no unread messages. This makes the app effectively useless for actually keeping up with channels. Using the directory to visit channels shows them all as unjoined.

**N

[2020-01-07 18:49] diegolmello commented on #1521
Can you give me a reproducible test or it's an issue that happens often but not always?
I need to narrow it down, because it always works for me.

[2020-01-07 18:57] novacrazy commented on #1521
Well, regarding the bot, because it replies extremely fast its messages tend to be ignored by the app more often than others. That's a notable example.

However, since the app doesn't populate the joined channel listing or unread messages now limits my ability to test things.

The fact is shows all channels as unjoined when navigating to them via the directory, despite me being the admin and havin

[2020-01-07 18:58] brittyazel commented on #1521
It isn't all channels, it's just particular channels. Likewise, of the two channels of mine that have experienced this issue, both were fine until 'something' triggered them. Some new message or new user induced the behavior. The behavior being 1) no new messages will load from the point when the issue occurred, and 2) if you clear the local database (by logging out and back in) no messages at all

[2020-01-07 18:59] brittyazel commented on #1521
I do not experience this behavior.

[2020-01-07 19:01] novacrazy commented on #1521
Hmm. Perhaps our issues are similar but orthogonal. I was simply redirected to this issue earlier.

[2020-01-07 19:04] diegolmello commented on #1521
@novacrazy Actually, you mentioned several issues on one ticket (and dup).
That's why your issue was closed.
Let's focus on message load here, so we can get it fixed.
If you have any more issues, open new ones (but search for it first).

[2020-01-07 19:09] novacrazy commented on #1498
I have been experiencing similar since this morning.

Joined channel listings no longer load, selected a joined channel in the directory says I'm not joined, new or old messages do not display in the channel listing, etc. Upon joining the already-joined channels from the directory, I am able to send and view messages, but the channel still does not show up in the main channel index.

- Your Rocket

[2020-01-07 19:13] diegolmello commented on #1521
@brittyazel I think the issue started after that user without username joined.
Don't remove it yet.
Let me check if I can fix it quickly.

[2020-01-07 19:16] brittyazel commented on #1521
Yep I won't remove anything. We had a few other of those "<blank> has joined" just above that as well

[2020-01-07 19:17] diegolmello commented on #1521
@brittyazel And do you know how they were added blank?

[2020-01-07 19:18] brittyazel commented on #1521
I don't know. I had sent out the invite link to get people to join. The blank users weren't an issue until the invite links started going out imo

[2020-01-07 19:28] djorkaeffalexandre commented on #1522
Fixed by #1523 .

[2020-01-07 19:28] #1522 closed

[2020-01-07 20:00] #1521 closed

[2020-01-07 20:05] diegolmello commented on #1498
How can I reproduce it?

[2020-01-07 20:06] brittyazel commented on #1521
awesome! How soon will it take to roll the fix out?

[2020-01-07 20:09] diegolmello commented on #1521
@brittyazel I'm building Experimental right now.
It's going to Experimental beta today.
Official probably by Monday.

[2020-01-07 20:10] brittyazel commented on #1521
awesome! Thanks so much for looking into it! I'm happy you were able to track down the cause :-)

The GNOME Foundation thanks you :-)

[2020-01-07 20:15] novacrazy commented on #1498
If I knew that, I would let you know. So far it seems spontaneous and random.

I've tried to point you in the right direction by saying the app is connected to the server, as notifications still function and accessing channels one-by-one via the directory still mostly works, but it's not retrieving a list of joined channels for some reason, so the primary index of joined channels is empty. All cha

[2020-01-07 20:28] diegolmello commented on #1498
@novacrazy If the same channel isn't working for more than one user, it's something there.
If that's the case, send me a test user on https://open.rocket.chat.
I'm `diego.mello`.

[2020-01-07 20:43] novacrazy commented on #1498
When I start the app, it doesn't display *any* joined channels. I can view the channel directory (which is a separate page) and access channels that way, but the app thinks they are all unjoined and prompts to join them again. I am surmising that would be why channels are not listed or updated.

It is not a per-channel issue, it's a problem with the app not listing any joined channels nor pulling

[2020-01-07 21:01] diegolmello commented on #1498
I'm not following what you're trying to say.
Try recording a video/gif.
It doesn't make any sense to me.

[2020-01-07 21:12] novacrazy commented on #1498
I'll see if I can't put together a screenshot slideshow, though I'll have to censor much for privacy.

But basically the app is failing on such a fundamental level that it can't list joined channels. It's empty. That's where my frustration comes from. There is nothing to test or reproduce, it just... doesn't.

[2020-01-07 21:17] diegolmello commented on #1498
That's the point.
It's not working for you, but it does on https://open.rocket.chat, for example.
You can talk to me there, if you want to.
I also noticed you're using an old server version. Can you update or try a new one?
Is websocket enabled?

[2020-01-07 21:42] novacrazy commented on #1498
I'm using an older version of the server because it's a fork with some visual tweaks/fixes on the web version. I haven't touched the networking stuff. And yes, websockets are enabled and were working fine up until this morning. I currently don't have time to update it to the very latest version.

Here is a quick visual of what happens:
![rocket-bug](https://user-images.githubusercontent.com/470864

[2020-01-07 21:55] novacrazy commented on #1498
Here is the nginx proxy config:

[code]

[2020-01-07 23:18] entonio commented on #1498
All I know is that my company was running smoothly on the old mobile clients and since the December update to this version, it's mostly become unusable. I'm not in a position to provide you with access to our server.
To wit:
- history is empty after login, instead of syncing with what's visible in the desktop client
- (at least the) private channels don't appear anywhere
- presence change (usually

[2020-01-07 23:20] entonio commented on #1498
Update: the only way to get to a private channel seems to be to receive a message from it while the app is open in the foreground.

[2020-01-08 02:03] khanhbao0508 commented on #1520
But if i want to custom keyboard, so how can i working that with theme on iOS
Custom keyboard run on Android normally with theme but on iOS return error 'theme is undefined'
Thank you for answer my question

[2020-01-08 05:48] novacrazy commented on #1498
Okay, so, for myself and my users the problem appears to have fixed itself for now. That's odd...

Was there a non-self-hosted service Rocket.Chat relies on to have functioning apps? Was it screwed up yesterday?

[2020-01-08 07:24] djorkaeffalexandre commented on #1520
@khanhbao0508 probably you forgotten to pass some `theme` prop to component. ;)

[2020-01-08 11:48] diegolmello commented on #1498
@entonio If you can't post your server URL here, send me a test user on open server.
I'm `diego.mello`.
Otherwise how would I be able to fix it?
Help me help you.
Thanks.

[2020-01-08 12:41] Ritesh-Ag commented on #1526
@djorkaeffalexandre Okay sir!

[2020-01-08 14:08] Ritesh-Ag commented on #1526
@djorkaeffalexandre Should I use timeout function for that. If so, how much time should be given?

[2020-01-08 18:29] Prateek93a opened #1533 "'No results found' message not displayed when search don't match any room or user."
- Your Rocket.Chat Experimental app version: 4.2.0.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P

As the gif shows, when we search for something thats not available, we are not getting message like 'no results found'. Instead the initial list of rooms are displayed.
![ezgif com-crop (9)](https://user-images.github

[2020-01-08 20:26] rheo-chiti commented on #1533
Can I work on this issue?

[2020-01-08 20:47] diegolmello commented on #1533
@rheo-chiti sure!

[2020-01-08 21:17] msisskin opened #1535 "Channel names display with '-' on mobile"
- Your Rocket.Chat Experimental app version: 1.7.0
- Your Rocket.Chat server version: 2.3.1
- Device (or Simulator) you're running with: Android/iOS

When displaying channels in the sideNav in the browser, channel/group names are normalized to not have spaces. E.G. "This is a channel" However, that same channel is displayed with dashes when the list of Channels is viewed on mobile.

Per the linked

[2020-01-08 21:19] msisskin opened #1536 "Set a custom status message"
- Your Rocket.Chat Experimental app version: 1.7.0
- Your Rocket.Chat server version: 2.3.1
- Device (or Simulator) you're running with: iOS/Android

Users cannot set a custom status message on mobile like they can in the browser.

[2020-01-08 21:34] Pratikrocks opened #1537 "Adding a feature to pin a particular channel"
- Your Rocket.Chat Experimental app version: 4.2.0.999999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with: Android P

Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.
When new messages arrives in a community channel then other channels are pushed down,It would be nice if there exist

[2020-01-08 21:35] Pratikrocks commented on #1537
Can I take this issue?

[2020-01-09 08:40] Eiken commented on #1498
Just wanted to say we had the same issue. Updating our server instance from 2.2.0 to 2.4.0 solved it for us.

[2020-01-09 12:04] diegolmello commented on #1536
@msisskin it's not implemented yet. Some work was made on #1176

[2020-01-09 12:06] diegolmello commented on #1535
Can you test on a newer version of the app?

[2020-01-09 12:11] diegolmello commented on #1537
The favorite group does that.
I'm afraid we have no plans on adding another way to pin channels on top.

[2020-01-09 12:11] #1537 closed

[2020-01-09 12:14] #1147 closed

[2020-01-09 12:15] #391 closed

[2020-01-09 12:16] #690 closed

[2020-01-09 12:16] #695 closed

[2020-01-09 12:17] #697 closed

[2020-01-09 12:17] #698 closed

[2020-01-09 13:15] phriedrich opened #1539 "TeX math rendering"
- Your Rocket.Chat Experimental app version: 4.1
- Your Rocket.Chat server version: 2.4.0
- Device (or Simulator) you're running with: iOS 13.3

Rocket.Chat has the option to render math formulas with Katex. It would be great to have this also available in the app.

[2020-01-09 14:09] msisskin commented on #1535
Thanks for the quick response. Both my iOS sim from a develop pull on Tuesday and a quick reinstall of Rocket.Chat.Experimental on Android show the dashes in name behavior while the browser version does not.

[2020-01-09 15:54] apshada opened #1540 "Emoji invisibility in Dark Mode"
- Your Rocket.Chat Experimental app version: 4.2.0.13337
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with: Redmi 3S

Black emoji's and gif's seems to be completely invisible in Dark Mode
![WhatsApp Image 2020-01-09 at 9 04 33 PM (2)](https://user-images.githubusercontent.com/49001649/72082380-11491f00-3326-11ea-9a2a-4f534d9519c4.jpeg)
![WhatsApp Image 20

[2020-01-09 18:13] diegolmello commented on #1540
I'm afraid there's nothing we can do about that.

[2020-01-09 18:13] #1540 closed

[2020-01-10 07:32] flashbackcz opened #1541 "Translations"
Hello,

I'd like to translate Rocket.Chat Experimental (iOS) into Czech. Where can I find the source files?

Thank you

Martin

[2020-01-10 10:13] phriedrich commented on #1541
Check `Rocket.Chat.ReactNative/app/i18n/locales/`

[2020-01-10 10:33] flashbackcz commented on #1541
Thanks for navigation, I was a bit blind (:

[2020-01-10 10:33] #1541 closed

[2020-01-10 14:23] Prateek93a opened #1543 "Cursor not starting from expected position after writing a mention"
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with: Android P

As the following gif shows, when we write mention tag, then a list of options come up, and when we select one of those and start typing again , the cursor begins from where we left instead of after the tag.
![ezgif com-crop(2)](https:

[2020-01-10 14:25] m1-key opened #1544 "No confirmation message is displayed on successful registration"
- Your Rocket.Chat Experimental app version: 4.2
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android (P)

No confirmation message is displayed when a user successfully register on this app. There is no way user can know that registration is done successfully unless the app is restarted.
![ss](https://user-images.githubusercontent.c

[2020-01-10 14:26] m1-key commented on #1544
Can I work on this issue ?

[2020-01-10 16:22] diegolmello commented on #1544
@m1-key Sure. The app needs to redirect the user to rooms list after that screen.

[2020-01-10 20:27] ani4aniket commented on #1543
Actually sometimes it is working correctly.
![in](https://user-images.githubusercontent.com/31184591/72184105-a545e400-3415-11ea-8f2c-d0e47085c35c.gif)

[2020-01-11 03:48] Prateek93a commented on #1543
@ani4aniket Thanks for testing. So the issue is not appearing on the iOS device, I guess. Can you try this on Android device also?

[2020-01-11 08:01] brtptrs opened #1545 "CAS authentication broken on new app version 4.2.1"
- Your Rocket.Chat Experimental app version: 4.2.1
- Your Rocket.Chat server version: 2.3.2
- Device (or Simulator) you're running with: Fairphone 3, Android 9

Since the latest upgrade logging in via CAS is not working any more. On previous versions it was working without any problems.

The CAS login option is shown in the app, redirecting to the login page works, but after a successful login (on

[2020-01-11 11:40] hassan3o3 opened #1546 "error build and run in xcode 10.3"
- Your Rocket.Chat Experimental app version: 4.1.0
- Your Rocket.Chat server version: 2.4.0
- Device (or Simulator) you're running with: xcode 10.3

Error build and run Message:-
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_RNNotificationCenterMulticast", referenced from:
      objc-class-ref in libreact-native-notifications.a(RNNotifications.o)
ld: symbol(s) not found for architect

[2020-01-11 12:20] Prateek93a opened #1547 "'No results found' message on Directory search view not displayed"
- Your Rocket.Chat Experimental app version: 4.2.1.9999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P

Similar as #1533 . On the directory view also, we don't get 'no results found' message.

![ezgif com-crop(3)](https://user-images.githubusercontent.com/44807945/72198595-cd553780-3455-11ea-881d-06ec08595c06.gif)

[2020-01-11 16:42] m1-key opened #1548 "No message is displayed to verify the email-id"
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android 9

There is an issue and it is that when we create an account ( not using the pre-described methods like via google, github etc.) then it needs email-verification , so what I am planning is that when we create an account

[2020-01-11 16:55] Prateek93a commented on #1389
@diegolmello Can I work on this? Also can you brief me how it should look, like when the user logs in with OAuth for the first time, he/she should be taken to the profile screen with modal asking the user to set the password, is it fine?

[2020-01-11 17:00] devyaniChoubey commented on #1472
can i work  on this issue?

[2020-01-11 18:05] devyaniChoubey commented on #809
@diegolmello can i work on this issue?

[2020-01-11 19:24] devyaniChoubey commented on #1488
@geekgonecrazy  can i work on this issue?

[2020-01-11 19:56] devyaniChoubey opened #1550 "When some option is clicked in sorting by activity dropdown menu it should close automatically"
Your Rocket.Chat Experimental app version: 4.2.1.999999999
    Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
    Device (or Simulator) you're running with: Android 9

[2020-01-11 21:17] geekgonecrazy commented on #1488
I’m sure no one would object :)

Cc: @RocketChat/reactnative

[2020-01-11 21:36] aashaypalliwar commented on #1488
@devyaniChoubey @geekgonecrazy , hey ! I am working on this and would soon open a pr. Took time because of internet issues in my region.

[2020-01-11 23:40] Conrado916645 commented on #1389
It should show new password entry with re typing password before going to
any other forms or layout.

On Sun, Jan 12, 2020, 12:55 AM Prateek Jain <notifications@github.com>
wrote:

[2020-01-12 02:26] Prateek93a opened #1552 "Display User Info instead of Room info"
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with: Android P

This is minor improvement issue. As the following image shows, when we view someone's profile, the title of the screen is 'Room Info' instead of 'User Info' like in case of web app.
![20200112_071409](https://user-images.githubusercon

[2020-01-12 02:30] Prateek93a commented on #1389
Ok, Thanks. I'm on it.

[2020-01-12 03:12] aashaypalliwar commented on #1547
Hi there! I am working on this.

[2020-01-12 06:51] devyaniChoubey opened #1554 "when we edit room info and then press save button we should be redirected to room info page"
Your Rocket.Chat Experimental app version: 4.2.1.999999999
Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
Device (or Simulator) you're running with: Android 9

[2020-01-12 07:06] devyaniChoubey commented on #1554
I am working on it.

[2020-01-12 08:23] cygnusm commented on #1501
it still crashes on version 4.1.0

[2020-01-12 09:03] Prateek93a commented on #1389
When a new user signs up via OAuth, he/she is taken to the screen to set username first. So I have put the password text input there itself so that any new user first set username and password and then go to the room list screen.
@diegolmello Is this fine? And also if this is fine, can you let me know what title and description should I provide to the screen instead of Username, like add something

[2020-01-12 09:10] Conrado916645 commented on #1389
Ahhmm.. if new user created by the admin and check the "change password
when 1st login " it will direct to a form of re newing his/her password

On Sun, Jan 12, 2020, 5:03 PM Prateek Jain <notifications@github.com> wrote:

[2020-01-12 09:14] Conrado916645 commented on #1389
When new user login the user should change its password upon 1st login.

The admin should enable change password upon creating the new user

On Sun, Jan 12, 2020, 5:10 PM Mobile Game <916645agravio@gmail.com> wrote:

[2020-01-12 10:17] devyaniChoubey opened #1555 "Reset button in Edit Room Info is only reseting the password."
Reset button should reset all the fields

[2020-01-12 10:36] devyaniChoubey opened #1557 "When we listen to any audio message then it will be good if the timer is displayed."
when we listen to any audio message then the timer should start until the audio ends so that we can see how much audio we have listened

[2020-01-12 10:56] devyaniChoubey commented on #1557
I am on this issue

[2020-01-12 10:56] devyaniChoubey commented on #1555
I am on it

[2020-01-12 10:57] devyaniChoubey commented on #1550
I am on it

[2020-01-12 11:14] #1555 closed

[2020-01-12 11:20] devyaniChoubey opened #1558 "When we edit room info separate messages should be shown depending on which field we have edited"
Your Rocket.Chat Experimental app version: 4.2.1.999999999
    Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
    Device (or Simulator) you're running with: Android 9

Currently it is showing only one message "Settings updated" for all the fields

[2020-01-12 11:20] devyaniChoubey commented on #1558
I am on it

[2020-01-12 11:48] devyaniChoubey opened #1559 "When we open "room info edit" form RESET button should be disabled untill we make changes in prefilled form"
Your Rocket.Chat Experimental app version: 4.2.1.999999999
Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
Device (or Simulator) you're running with: Android 9

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2020-01-12 12:14] awunder opened #1560 "Sign In with OAUTH stopped working"
- Your Rocket.Chat Experimental app version: 4.2.1
- Your Rocket.Chat server version: 2.4.1
- Device (or Simulator) you're running with: iPhone but also doesnt work under Android

the issue is that the oauth sign in does not result in an app sign in.. i open the app, sign in via oauth just fine (like before with server version 2.3.1), the sign in form disappears without any error (suggesting a suc

[2020-01-12 12:15] awunder commented on #1560
FWIW i have set up a custom oauth provider via my invision power board.

[2020-01-12 12:17] devyaniChoubey opened #1561 ""No result found" message not displayed when search don't match any member of the group"
Your Rocket.Chat Experimental app version: 4.2.1.999999999
Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
Device (or Simulator) you're running with: Android 9

When we search for members in a room then if our search doesn't matches with any of the members of the room then "No result found" message should be displayed

[2020-01-12 12:18] devyaniChoubey commented on #1561
I am on it

[2020-01-12 12:19] devyaniChoubey commented on #1559
I am working on it

[2020-01-12 12:57] m1-key commented on #1561
It is exactly similar to #1533

[2020-01-12 12:59] aashaypalliwar commented on #1561
@djorkaeffalexandre, Yes, this is a duplicate issue.

[2020-01-12 13:03] m1-key commented on #1533
@rheo-chiti  Can I resolve this issue if you say then only

[2020-01-12 13:11] aashaypalliwar commented on #1536
I wish to work on this. Thanks!

[2020-01-12 13:21] devyaniChoubey commented on #1561
![Screenshot from 2020-01-12 18-50-42](https://user-images.githubusercontent.com/52153085/72219475-8c037b80-356c-11ea-8c26-632e42313cc4.png)

[2020-01-12 13:41] devyaniChoubey commented on #1561
And i think the issue #1533 was about this search box
![Screenshot from 2020-01-12 18-50-42](https://user-images.githubusercontent.com/52153085/72219743-43998d00-356f-11ea-869c-cb6edc43f81a.png)

[2020-01-12 13:41] aashaypalliwar commented on #1543
@Prateek93a , I could reproduce the issue on android device. I wish to take this up. Thanks!

[2020-01-12 13:57] Prateek93a commented on #1389
@Conrado916645  Got it. So if a new user is created by the admin with the change password enabled,
the new user upon first login, should change his/her password before proceeding. Am I right on this?

[2020-01-12 13:59] Conrado916645 commented on #1389
Yes yes.

On Sun, Jan 12, 2020, 9:57 PM Prateek Jain <notifications@github.com> wrote:

[2020-01-12 14:09] devyaniChoubey commented on #1561
@m1-key  correct me if I am wrong?

[2020-01-12 14:20] Prateek93a commented on #1389
Ok Got it. Will try to fix this as soon as possible. Thanks for the input.

[2020-01-12 15:18] m1-key commented on #1561
@devyaniChoubey Basically issue #1533 is the parent issue and this one (raised by you)  is a sub-part of that as in that issue he showed only the room part not the user one in #1533 . That is what I inferred from that issue.

[2020-01-12 15:27] devyaniChoubey commented on #1561
But this was not mentioned in issue #1533.That's why I have created this issue.

[2020-01-12 15:30] devyaniChoubey opened #1562 "Matching words should be higlighted in message search result"

[2020-01-12 15:32] devyaniChoubey commented on #1562
I am working on it

[2020-01-12 16:29] m1-key opened #1563 "Language Change does not show proper effect."
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android 9

![88bI4f](https://user-images.githubusercontent.com/39923784/72222015-10aec380-3586-11ea-9d8b-d8686fe19600.gif)

Here we can see that when we change the language , it does not show any effect on RoomListView while sho

[2020-01-12 16:31] m1-key commented on #1563
@djorkaeffalexandre  I would like to work on this.

[2020-01-12 18:33] diegolmello commented on #1501
Can you test it on Experimental app 4.2.+?

[2020-01-12 18:37] diegolmello commented on #1560
It's not clear what the issue is.
How can I reproduce it?

[2020-01-12 18:41] diegolmello commented on #1563
@m1-key You don't have to ask. Just open a PR and we'll review it and merge it if the result is satisfactory.

[2020-01-12 18:46] diegolmello commented on #1536
@aashaypalliwar No need to ask. Just open a PR and we'll be happy to review it. Thanks.

[2020-01-12 18:48] diegolmello commented on #1545
@brtptrs How can I reproduce it?

[2020-01-12 19:55] devyaniChoubey opened #1565 "UI of "this room is blocked" should be changed"
![Screenshot from 2020-01-13 01-20-24](https://user-images.githubusercontent.com/52153085/72224717-85dcc180-35a3-11ea-937c-30e3f9e9700e.png)

It should be colored differently.

I am working on it.

[2020-01-12 21:00] awunder commented on #1560
i could create you a user in my forum.. that way you could try to auth. and see the issue... (?)

[2020-01-12 21:27] diegolmello commented on #1560
Sure, do it

[2020-01-13 08:12] brtptrs commented on #1545
We are using basic cas features, so I guess any cas login could be used to debug this issue.
Unfortunately I can't provide access to our internal system. I could provide debug info, if I knew where to start digging.

[2020-01-13 08:31] Prateek93a commented on #1543
@aashaypalliwar Ok Thanks for testing.

[2020-01-13 12:23] #1545 closed

[2020-01-13 12:29] awunder commented on #1560
done and sent you an email with the details.

[2020-01-13 12:51] awunder commented on #1560
fwiw, that was an apache issue.. i had the proxy right but missed to enable the proxy_wstunnel apache module...

[2020-01-13 12:51] #1560 closed

[2020-01-13 14:24] Prateek93a opened #1572 "Show background view until Avatar is loaded"
- Your Rocket.Chat Experimental app version: 4.2.1.999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with: Android P

As the following gif shows, when avatar has not loaded yet, there is no pre image like thing to indicate that there is an image here. After loading the avatar just pops into the display. This is more noticeable on slow internet. It would

[2020-01-13 14:24] Prateek93a commented on #1572
I have the following version ready, however I am getting errors related to storybook snapshots while committing changes.
![ezgif com-crop(4)](https://user-images.githubusercontent.com/44807945/72262876-cab53680-363d-11ea-8ea0-185b1b98ca40.gif)

[2020-01-13 18:24] ritwizsinha opened #1573 "Make users clickable in user interaction messages"
Your Rocket.Chat Experimental app version: 4.2.1
Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
Device (or Simulator) you're running with: Pixel 3

Currently in  the user interaction messages, we cannot click on the users , make them clickable

## Additional Context
I am working on it
**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are

[2020-01-13 22:22] devyaniChoubey opened #1576 "In #general channel on most of the messages time is hardcoded as 5:30AM"
Your Rocket.Chat Experimental app version: 4.2.1.999999999
    Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
    Device (or Simulator) you're running with: Android 9
![Peek 2020-01-14 03-48](https://user-images.githubusercontent.com/52153085/72297130-3cfb3a80-3681-11ea-88d6-1a6407676b4b.gif)

[2020-01-14 08:23] alonzzz opened #1580 "[BUG] Mentions autocomplete does not work on the mobile app."
Mention autocomplete which allows the user to see a list of users in the current channel after typing @... does not pop up the users list on mobile devices, it works fine for the same user on desktop app / native web browser.

It does work on mobile only if the user has the view-d-room & view-outside-room permission but then he can see all the users on the server not only the users in the relevant

[2020-01-14 09:11] devyaniChoubey commented on #1315
Can I work on this issue?

[2020-01-14 09:18] devyaniChoubey commented on #1248
Can I work on it?

[2020-01-14 09:23] devyaniChoubey commented on #1276
Can i work on this issue?

[2020-01-14 09:26] devyaniChoubey commented on #1436
Can I work on it?

[2020-01-14 09:29] devyaniChoubey commented on #1313
Can I work on this issue?

[2020-01-14 11:35] devyaniChoubey opened #1577 "When we archive a room we should not able to send messages in it."
Your Rocket.Chat Experimental app version: 4.2.1.999999999
Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
Device (or Simulator) you're running with: Android 9

![Peek 2020-01-14 17-34](https://user-images.githubusercontent.com/52153085/72343735-943af280-36f5-11ea-926f-998351c9660d.gif)

[2020-01-14 11:55] diegolmello commented on #1313
@devyaniChoubey Sure, but you don't have to ask nor flood our issues. Thanks.

[2020-01-14 12:07] Prateek93a opened #1578 "Disable Dark levels when Light theme is selected."
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with: Android P

As the gif shows, when light theme is activated, we still see dark level options enabled, on which user can click as well, this might create confusion among the users. It would be helpful to have dark level options to be disabled when

[2020-01-14 12:16] devyaniChoubey commented on #1577
I would like to work on it

[2020-01-14 15:58] ggazzo opened #1581 "[BREAK] Hide system messages"
just check how the setting will impact the mobile
https://github.com/RocketChat/Rocket.Chat/pull/16243

[2020-01-14 22:00] rstockm opened #1582 "Crash on 4.2.1 and "broken" account"
Rocket.Chat Version: 2.3.1 via Snap |
NodeJS Version: 8.15.1 - x64 |
MongoDB Version: 3.6.14 |
MongoDB Engine: wiredTiger

I just installed the RocketChat App 4.2.1 on my iPhone 8. It updated flawless from 4.1.0 to my account. I gave a emoticon-feedback on a posting, and the trouble started:

- the comment didn't show up (this is quite usual, it takes seconds or even minutes)
- In the overview pag

[2020-01-15 10:38] Prateek93a opened #1583 "Avatar changes as username is changed in Profile View"
- Your Rocket.Chat Experimental app version: 4.2.2.9999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P

This is a bug issue. As the gif shows, when we are changing the username, the avatar image gets changed simultaneously.
![ezgif com-crop(8)](https://user-images.githubusercontent.com/44807945/72422568-ba6d9a80-37a8-11ea

[2020-01-15 14:00] phriedrich commented on #1436
Sure, would be really nice to have this fixed.

[2020-01-15 16:38] ryguy222 opened #1588 "[BUG] SAML SSO no longer works on previous versions of rocket.chat server"
- Your Rocket.Chat app version: 4.2.2.2098
- Your Rocket.Chat server version: 2.3.0 (Official docker container)
- Device (or Simulator) you're running with: Android + iOS

When attempting to login with SAML (we use Shibboleth) users are able to tap the "Login with SSO" button and sign in, but are then redirected to a page that just says Verified. It never continues.

This happens on both Android a

[2020-01-15 17:25] diegolmello commented on #1588
Hi, @ryguy222.
Thanks for letting us know.
We fixed a bug that was happening on server 2.3.0.
Can you update your server to latest version?
Cheers.

[2020-01-15 18:02] ryguy222 commented on #1588
Unfortunately we typically test new versions of rocket chat for 1-2 weeks before we are allowed to deploy it across our business as we have been burned in the past for upgrading quickly.

[2020-01-16 06:45] m1-key commented on #1561
@devyaniChoubey Can I take this issue ?

[2020-01-16 09:54] m1-key opened #1590 "Respect Accounts_AllowUsernameChange"
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android 9

Username once set at the time of registration should be non-editable as it will ensure that one user have one username. As currently one user can set different usernames. A warning message should pop up while confirmi

[2020-01-16 10:03] phoenix-schwarz commented on #1582
![2020-01-16 09 10 27](https://user-images.githubusercontent.com/10234000/72515194-c496a400-384f-11ea-9cfb-c624fc010559.png)

Ich have the same issue and got this report on my Android phone. I have the same version on iOS as well. The native desktop client works.

[2020-01-16 10:37] m1-key opened #1591 "[BUG] Avatar change not working properly"
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android 9

Avatar change is not working properly, if user have an avatar associated with his/her email already then this problem is arising.
![20200116_160615](https://user-images.githubusercontent.com/39923784/72518712-e574ee80

[2020-01-16 10:43] m1-key opened #1592 "There should be a minimum password length."
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android 9

Right now app is supporting even a password of length 1. There should be a minimum length for this, so that password can be somewhat strong.

[2020-01-16 10:43] m1-key commented on #1592
I'm working on this issue.

[2020-01-16 11:55] rstockm commented on #1582
Update: my app "repaired itself" to some degree. I can login and use most of the channels. There is still at least one channel wish triggers an instant crash to Springboard. The "posting of doom" which triggers the crash seems to be in a thread.  I'm on iOS and "report crashes" is turned on, so you should see the crash report - I just triggered a crash right now.
I updatet to 4.2.2 and can still r

[2020-01-16 12:59] Prateek93a opened #1594 "Hide the pin message option"
- Your Rocket.Chat Experimental app version: 4.2.2.999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P

It is a minor improvement. As the gif shows, the Pin message feature is not working on direct message room. I checked the web client, and it doesn't provide the Pin message feature on direct message so on mobile client a

[2020-01-16 14:28] Conrado916645 opened #1596 "Help! Newbie React Native"
Good day sir maam,

can you help me how to start running this app to vs code.

[2020-01-16 14:52] m1-key commented on #1596
You can follow ```https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run``` this to set up the environment.
And then simply open the Rocket.Chat.ReactNative folder in VS Code. Changes made in the code will appear in the emulator once the build is successful.

[2020-01-16 15:06] Conrado916645 commented on #1596
Thanks m1

[2020-01-16 15:06] #1596 closed

[2020-01-16 15:10] m1-key opened #1597 "Minimum password length for New Password field of Profile View is 1"
- Your Rocket.Chat Experimental app version: 4.2.1.999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android 9

On clicking the profile, we get the option for new password. And if we only enter a single character then the ```Save Changes``` button becomes active, which is not efficient. Atleast 6 characters must be present in t

[2020-01-16 15:42] devyaniChoubey commented on #1561
@m1-key I was working on it.

[2020-01-16 16:05] #1582 closed

[2020-01-16 16:08] diegolmello commented on #1592
You should be following the Password policy rules from Admin

<img src="https://user-images.githubusercontent.com/804994/72541402-3aefd200-3861-11ea-9e5d-ef66c386a602.png" />

[2020-01-16 16:10] diegolmello commented on #1561
@m1-key @devyaniChoubey That's open source. There's no dibs.

[2020-01-16 16:22] m1-key commented on #1592
@diegolmello  So, I need to set all these criteria for a valid password ? Like from above policy , it must have 7 characters, max repeating characters is set to 3 , at least one lowercase ?
Please help

[2020-01-16 16:58] diegolmello commented on #1592
Based on above settings, yes. You should run your own local server and play with them on admin.

[2020-01-16 17:02] m1-key commented on #1592
Thanks a lot sir.

[2020-01-16 18:47] m1-key commented on #1592
@diegolmello Sir , do I need to inform the user about the criteria for a valid password ? Or I should simply make a PR according to the above mentioned settings ?

[2020-01-16 21:35] diegolmello commented on #1592
@m1-key Still not quite there.
You have to fetch above settings from server and save them on local db.
On register, you have to get these settings from redux and do validations on the form.

In your issue description, letting the user to create an 1 character length password is not a mistake.
It's a server configuration.

[2020-01-17 16:35] Prateek93a commented on #764
@diegolmello If this feature is not being worked on, I would like to work on it. My implementation->

![ezgif com-crop(12)](https://user-images.githubusercontent.com/44807945/72628149-c2c60100-3973-11ea-925e-0a253a4bea0a.gif)

I have also used Swipeable library and hooks. I have added Reply feature in left to right swipe and Add Reaction feature on right to left swipe as shown in above gif.

[2020-01-18 12:09] diegolmello commented on #1597
Mostly dup of #1592
Change that issue to reflect all issues regarding password policy.
Thanks.

[2020-01-18 12:09] #1597 closed

[2020-01-18 12:12] diegolmello commented on #1591
Dup of #441

[2020-01-18 12:12] #1591 closed

[2020-01-18 12:15] diegolmello commented on #1590
There's a setting for that on admin:
![image](https://user-images.githubusercontent.com/804994/72663586-069c2300-39d3-11ea-95c4-19918eb93b48.png)

You can create a PR to check for that setting.
Thanks.

[2020-01-18 12:20] diegolmello commented on #1578
That feels like a bad UX.
We can discuss it further if you want to, but I'm closing it for now.
Thanks.

[2020-01-18 12:20] #1578 closed

[2020-01-18 12:23] diegolmello commented on #1577
I think this is a collateral effect of another issue.
It looks like the `subscription.archived` is not being updated.

[2020-01-18 12:24] diegolmello commented on #1576
That's an issue on the server, that saves those attachments as 00:00.
The app just shows them to you as 05:30 because of the timezone.

[2020-01-18 12:24] #1576 closed

[2020-01-18 12:25] diegolmello commented on #1573
I didn't get what you're trying to achieve here.
Can you elaborate?
Thanks.

[2020-01-18 12:27] ritwizsinha commented on #1573
In the user interaction messages like x user-added y to the room , x muted or unmuted y etc the x and y i.e the users are not clickable, it would be great if clicking on them opens the user info tab

[2020-01-18 12:28] diegolmello commented on #1572
@Prateek93a It's looks pretty cool.
You should change update the jest tests before submitting.
Run `yarn test-update`

[2020-01-18 12:30] diegolmello commented on #1565
It's following the web client appearance.
I'm closing this because it's not really an issue, but I would like to see the approach you've been working on.

[2020-01-18 12:30] #1565 closed

[2020-01-18 12:31] diegolmello commented on #1573
Oh, you're right. Nice!

[2020-01-18 12:32] ritwizsinha commented on #1573
I have made the changes in the web client and thus would try to the same in the app , please assign me the issue

[2020-01-19 04:08] Prateek93a commented on #1572
@diegolmello Thank You Sir for the review!

[2020-01-19 10:39] rstockm commented on #1582
Just to let you know: Release 4.2.3 from today did _not_ solve my "Posting of doom" Problem above. The app still crashes in one channel/thread. It may be related to a "thread within a thread" situation.
Further findings: the iPad is _not_ affected, just the iPhone app.

[2020-01-19 10:54] marians commented on #1580
I can confirm this for version 4.2.3 on iOS. The selection menu appears only after I enter `@` plus one additional letter, which is different from the web app, where the menu appears right after entering `@`.

[2020-01-19 13:45] Prateek93a commented on #1436
@phriedrich @devyaniChoubey If work is not being done on this, can I take this up?

[2020-01-19 13:50] phriedrich commented on #1436
@Prateek93a I'm not working on this, but I don't know if @devyaniChoubey did some work already.

This ticket is also related to #1590, probably both could be fixed with one PR.

[2020-01-19 14:04] Prateek93a commented on #1436
@phriedrich Yes, #1590 will also be fixed in the similar way. In the same PR, all the above mentioned permissions can be checked and implemented accordingly. Thanks
@devyaniChoubey Are you working on this? If not, can I take it up?

[2020-01-19 14:17] devyaniChoubey commented on #1436
@Prateek93a Yes I am working on it. I will soon create a PR.

[2020-01-19 14:24] Prateek93a commented on #1436
@devyaniChoubey Ok, Great.

[2020-01-19 16:48] anjanaNewput opened #1604 "Getting error undefined is not an object $_require(_dependencyMap[30]," ./views/RoomView").default in Rocket chat react native"
I am getting error when try to import Tts from 'react-native-tts' in the MessageBox/index.js
getting error undefined is not an object $_require(_dependencyMap[30]," ./views/RoomView").default .

Please help me I am not able to add any new react native module in app.

[2020-01-20 15:53] ankar84 commented on #1484
I see that custom field search now working great in reactnative application!
My environment is
Rocket.Chat server version 2.4.0
RN application version 2.4.3

[2020-01-21 01:16] ura14h opened #1605 "App crashes when connecting to a RC server with URL contains subdirectory."
- Your Rocket.Chat Experimental app version: 4.2.4
- Your Rocket.Chat server version: 2.4.1
- Device (or Simulator) you're running with: iOS

App crashes when connecting to a RC server with URL contains subdirectory. (e.g. `https://www.example.com/apps/chat`)

I guess that `DB.setShareDB()` and `DB.setActiveDB()` in app/lib/database/index.js fails to replace URL to a path correcty in this case.

I

[2020-01-21 02:58] Prateek93a commented on #1578
@diegolmello Yes Sir, I think, there should be some indicator to indicate that the dark levels are not available for light theme, right now the dark levels are clickable for light theme as well, which might create confusion for users.

[2020-01-21 11:32] Schrammi opened #1606 "App crashes when add second Server"
- Your Rocket.Chat Experimental app version: Experimental: 4.2.4 , Productive 4.2.3 from Appstore
- Your Rocket.Chat server version: 2.4.1
- Device (or Simulator) you're running with: iPhone 11 Pro and no Name Android

When joining a single Server everything is fine and i can chat. Then i can add a second server and the app joins this server also fine. But when switching to the other server, the A

[2020-01-21 12:18] ankar84 commented on #1484
Correction.
Custom field search works great when you use **magnifying glass icon** right of the server name.
And Custom field search do not work when you tap **Directory** and then tap **Users** and then in **search form** try to search to some custom field (like telephone number).
But magnifying glass icon search works great as workaround!

[2020-01-21 15:35] daltondiaz commented on #1167
I've the problem in the lastest app for android.

![rocketchaterror](https://user-images.githubusercontent.com/3844467/72817818-2e94bc00-3c49-11ea-866d-909db95fb19b.jpeg)

This error occur only in mobile app.

Server version: 2.4.2
Android version: 9
Smartphone: Moto g6

[2020-01-21 17:18] Prateek93a opened #1609 "[BUG] Reply Message preview not updating"
- Your Rocket.Chat Experimental app version: 4.2.4.9999999999
- Your Rocket.Chat server version: 2.5.0-develop open.rocket.chat
- Device (or Simulator) you're running with:Android P

This is a bug issue. As the following gif shows, when we already have reply component on the screen, and then try to reply on some other message, the reply component is not updated, it still shows the previous message

[2020-01-21 17:36] daltondiaz opened #1611 "Error uploading: invalid file type"
- Your Rocket.Chat Experimental app version: 4.2.4.13691
- Your Rocket.Chat server version: 2.4.2
- Device (or Simulator) you're running with: Moto g6 Android 9

I've the problem in the lastest app for android.

![rocketchaterror](https://user-images.githubusercontent.com/3844467/72817818-2e94bc00-3c49-11ea-866d-909db95fb19b.jpeg)

This error occur only in mobile app.

Config. from server

![scree

[2020-01-22 13:45] Prateek93a opened #1612 "[BUG] Message Action not opening"
- Your Rocket.Chat Experimental app version: 4.2.4.999999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with:Android P

Its a bug issue. As the following gif shows, when we select `Permalink` wtih the reply or the edit box open, after that, Message actions are not shown on long pressing any message.
To reproduce the issue,
-open message actions on some

[2020-01-22 14:26] devyaniChoubey commented on #1315
@djorkaeffalexandre sir  a new screen should be created for displaying the messages or I can use the roomview.

[2020-01-23 15:58] devyaniChoubey opened #1614 "[IMPROVEMENT] Show toast when Star a message"
I would like to work on it

[2020-01-24 00:51] localguru commented on #1588
@diegolmello I do see the same bug on server version 2.2.0. How is this possible with version 2.2.0, if the bug was only introduced with version 2.3.0.

Is that bug fixed in version 2.4.2?

[2020-01-24 10:45] Prateek93a opened #1619 "[FEATURE] Scroll To bottom button"
- Your Rocket.Chat Experimental app version: 4.2.4.99999999
- Your Rocket.Chat server version: 2.5.0-develop
- Device (or Simulator) you're running with:Android P

Its a feature issue. It would be helpful to have a scroll to bottom button on chat room view and scroll to top button on directory view, thread view, room list view, search views like members list view and other screens to save time whe

[2020-01-24 11:03] j75 opened #1665 "Cannot login to my company's server"
Login to https://rocket.oodrive.net/ works in a browser, but the Android application displays a message claiming
[code]
(reverse  translated from French, see the attached screenshot).
![Screenshot_Rocket Chat_20200124-115039](https://user-images.githubusercontent.com/1899106/73064409-14511d00-3e99-11ea-888d-56d058c9cf0a.png)

[2020-01-24 14:25] phriedrich opened #1621 "Users of one server show in user list of another server"
- Your Rocket.Chat app version: 4.2.3.273
- Your Rocket.Chat server version: 2.4.2
- Device (or Simulator) you're running with: iOS 13.3

I use two different servers and set up both in the app.

On Monday I had some parallel conversations on both, and after opening the app from a push message notification, some users of server A (orange) showed up in the user list of server B (green). (There were

[2020-01-26 07:09] devyaniChoubey commented on #1533
@m1-key can I work on this?

[2020-01-26 16:06] sarthakpranesh commented on #1594
Hey, I would love to work on this issue

[2020-01-26 16:21] Prateek93a commented on #1594
@sarthakpranesh Hi. This issue is solved.  Kindly work on other issues

[2020-01-26 19:43] localguru commented on #1588
Server version 2.4.2 works with Shibboleth login, just tested it. The new mobile clients can't handle the popup window on older server versions.

[2020-01-27 06:31] m1-key commented on #1533
@devyaniChoubey  Yaa , sure

[2020-01-27 10:17] gusevmk commented on #1451
Same problem, in channel messages are not loaded on mobile application (RocketChat Experimental iOS / RC server version - 2.1.6) . Trying logout/login  helps load messages.

[2020-01-27 10:30] devyaniChoubey opened #1624 ""Following thread" and "Unfollowed Thread" is hardcoded and not translated"
![Peek 2020-01-27 15-59](https://user-images.githubusercontent.com/52153085/73167625-2e4f6180-411e-11ea-84be-43431639f9f5.gif)

[2020-01-27 10:31] devyaniChoubey commented on #1624
I am working on it

[2020-01-27 11:00] diegolmello commented on #1533
@devyaniChoubey Instead of opening a PR with the same content of #1589, review it.
Stop opening PRs just to get yourself top ranking on the leaderboard.

[2020-01-27 12:38] diegolmello commented on #1611
`Leave it blank for accepting all media types`

[2020-01-27 12:38] #1611 closed

[2020-01-27 12:46] #1484 closed

[2020-01-27 13:33] devyaniChoubey commented on #1533
Sorry sir ,but I thought that the issue #1589 was about the search members option in roomactions and this issue is about search chats options above directory. That's why I thought to solve this

[2020-01-27 15:54] aimador commented on #1449
Hi Diego,
any news on the issue?

[2020-01-27 16:07] jsalatiel opened #1626 "Clicking over the android notification will open rocket chat but lock on the splash"
- Your Rocket.Chat Experimental app version: 4.2.4
- Your Rocket.Chat server version: docker latest image
- Device (or Simulator) you're running with: OnePlus

When I receive a message from rocket chat, the notification appear on my phone, but after clicking it rocket chant will hang forever on the splash screen. I need to close it, and open by clicking over its icon to see the message.

[2020-01-27 20:39] djorkaeffalexandre commented on #1550
Closing: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1608#issuecomment-578941537

[2020-01-27 20:39] #1550 closed

[2020-01-28 11:59] #1490 closed

[2020-01-28 12:02] djorkaeffalexandre commented on #1626
Hi @jsalatiel, does this happen with all notifications?
Did you try with `https: // open.rocket.chat` notifications?
Do you have any `push` settings changed on your server?

[2020-01-28 12:08] djorkaeffalexandre commented on #1606
Hello @Schrammi.
Can you provide more info about this?
If you prefer, you can reach me on `https://open.rocket.chat`, my username `djorkaeff.alexandre`.
I need some steps to reproduce it here and be able to fix it.
Thanks.

[2020-01-28 12:09] djorkaeffalexandre commented on #1605
Hello @ura14h!
Thanks a lot about your suggestion, is correct.
Can you open a Pull Request with these changes?

[2020-01-28 12:11] djorkaeffalexandre commented on #1604
Probably, you need to restart your `metro bundler` or/and `rebuild` the application with `react-native run-android` because you added a new `react-native module` and it can have some native code.

[2020-01-28 12:57] lucasOlivio commented on #210
@diegolmello any news on this? I really needed to make some alterations and add some new icons in my project here.

[2020-01-28 13:21] #1588 closed

[2020-01-28 13:24] #1440 closed

[2020-01-28 13:25] #1624 closed

[2020-01-28 13:26] #1559 closed

[2020-01-28 13:28] #1552 closed

[2020-01-28 13:39] #1577 closed

[2020-01-28 13:40] #1496 closed

[2020-01-28 13:41] #1491 closed

[2020-01-28 14:50] #817 closed

[2020-01-28 14:51] #1280 closed

[2020-01-29 11:36] yenda23 opened #1632 "Cannot post to readonly channel from Android APP with proper permissions"
User that's able to write to readonly channel from desktop app/web app cannot post to this channel from Androdi App.

User have 'owner' permissions on the channel.

[2020-01-29 11:36] diegolmello commented on #1632
@Tzahi12345 Can you confirm it happens on 4.2+?

[2020-01-29 12:30] #1507 closed

[2020-01-29 16:30] dashields commented on #1632
We discovered in our case it was because of a special character in the room name - can't remember if was a hashtag or something similar.  If you have any non-alphanumerics in the room name, try removing them.

[2020-01-29 20:07] mddvul22 commented on #1377
Anyway to escalate this issue.  I would think that any piece of software that shows two login buttons would want to fix that kind of bug.

[2020-01-29 21:03] Tzahi12345 commented on #1632
4.2.3, experiencing this issue even in channel names with just letters in it

[2020-01-29 21:23] lkraider commented on #1487
I built version 4.2.0 locally and ran on my iPhone, and the problem persists. Could it be related to me running iOS 10.2 ? I am not sure how to go about debugging this part of the app.

[2020-01-29 21:25] mar-v commented on #1487
@djorkaeffalexandre Here's more information for you to consider (I could not reproduce it yet, though)
Affected environment:

App: Official 4.2.3 and Experimental 4.3.0
Devices: iPhone X, iPhone XS Max
(**IMPORTANT** - tested with iPhone XR 13.3 with the same server, and there were no issues)
Server versions: 1.3.2, 2.4.1
iOS: 13.3

The app log you out every time you minimise it or switch to any o

[2020-01-29 21:32] localguru commented on #1377
Anything new on it? It confuses my users more and more, especially since the Shibboleth button is only highlighted in white.

[2020-01-30 04:11] dholbrook86 commented on #1449
Any news on this issue?

[2020-01-30 11:42] diegolmello commented on #1377
I was hoping someone from the community would fix it, as it's very easy to implement.
Since nobody did it, let's schedule for 4.4.0 and I'll do it myself.

[2020-01-30 13:50] #1327 closed

[2020-01-30 14:20] #1487 closed

[2020-01-30 14:22] diegolmello commented on #1487
It's going to be released on 4.3.1

[2020-01-30 22:51] C1ean commented on #1449
Same problem

[2020-01-31 03:34] MetaChrome opened #1644 "Please close."
Please close

[2020-01-31 04:16] #1644 closed

[2020-01-31 13:22] ura14h commented on #1605
I can't do that.

I can only change the source code, but I can't verify that it works correctly with on the current master version.

First, I setted up my environment according to the "Installing Dependencies" section of the README. I ran the current master version, but the iOS simulator showed the error "Could not connect to server".
In this situation, I cannot confirm that my patch is correct.

[2020-01-31 13:24] Prateek93a commented on #1276
I may be wrong but I believe this issue is solved.  The permission to delete own message is being checked here -
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/78d142cd09fd50df18f16fbc715091543d0672e8/app/containers/MessageActions.js#L204

[2020-01-31 13:51] diegolmello opened #1645 "[BUG] Share Extension sometimes doesn't load image and sends empty msg"
- Your Rocket.Chat Experimental app version: 4.4.0
- Your Rocket.Chat server version: 2.5.0
- Device (or Simulator) you're running with: Samsung s10e Android 10

I couldn't reproduce it every time, but it happened 20% of the time here.
Trying to share a screenshot from gallery causes this:
<img src="https://user-images.githubusercontent.com/804994/73544209-6fde5600-4417-11ea-84e7-93830c68a3cc.png"

[2020-01-31 16:22] Atrate commented on #926
@diegolmello How's thia going?

[2020-01-31 17:04] lorek123 commented on #926
@Atrate it seems that someone is working on this: https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1489

[2020-01-31 17:14] Prateek93a commented on #1645
@diegolmello When this happens, if You press `Send`, does the attachment still get sent to recipient ?

[2020-01-31 17:32] diegolmello commented on #1645
Nope. An empty message is sent.

[2020-01-31 18:21] Prateek93a commented on #1645
I think maybe `fileInfo` must be null, hence nothing is displayed on the above shown screen. I could not reproduce the issue, so I explicitly set `fileInfo` to null, and got the above empty screen when sharing an image. When I pressed `Send`, it loaded for a while and then the app closed. When I checked the channel, there was nothing there. But  You also mentioned  an empty message was sent, so I

[2020-02-01 07:08] ura14h commented on #1605
I withdraw the previous comment.

I didn't notice that starting the development server wasn't described in the "How to run" README.
And so I forgot to run `yarn start` first.

Now you can see the patches you have created.

[2020-02-01 17:55] giterium opened #1647 "Images are not sent"
- Your Rocket.Chat app version: 4.2.3.273
- Your Rocket.Chat server version: 2.4.1
- Device (or Simulator) you're running with: Iphone XS

Error uploading image into direct chat or channel. From the desktop are sent.

There is no such problem with older versions of the server (0.7.4)

If the image format is png then there is no problem. Although maybe they are already reduced

[2020-02-02 18:04] ugintl opened #1648 "What is it"
I found this https://snyk.io/test/github/rocketchat/rocket.chat.reactnative

I was wondering what it is? Are these vulnerabilities still present?

[2020-02-03 11:37] diegolmello commented on #1648
We stopped using Snyk in favour of Github for some time already.
These Snyk reports are irrelevant.

[2020-02-03 11:37] #1648 closed

[2020-02-03 13:03] diegolmello commented on #1647
How are you uploading?
Do you know the server file upload setting?
Can you reproduce it on https://open.rocket.chat?

[2020-02-03 13:04] #1604 closed

[2020-02-03 13:05] #1412 closed

[2020-02-03 13:13] #1546 closed

[2020-02-03 13:18] ggazzo commented on #1276
@diegolmello could you please check?

[2020-02-03 13:59] djorkaeffalexandre opened #1650 "[BUG] Sometimes subscriptions aren't loaded"
- Your Rocket.Chat Experimental app version: 4.3.1
- Device (or Simulator) you're running with: iOS 13, iPhone 8

I have some subscriptions on this server, and this was cleared on database and not loaded from `rooms.get` because I sent an updated at new.

<img width="1620" alt="Screen Shot 2020-02-03 at 10 06 43" src="https://user-images.githubusercontent.com/29778115/73657755-b4fdc480-4671-11ea-8

[2020-02-03 14:00] diegolmello commented on #1276
It's not done yet.
We need to check for `delete-own-message` permission.

[2020-02-03 14:08] giterium commented on #1647
In 4.3.1 this bug is not present you can close it

[2020-02-03 14:08] #1647 closed

[2020-02-03 14:12] diegolmello commented on #1650
@djorkaeffalexandre Ok, but can you reproduce it on production?
Isn't this related to RN's Fast Refresh only?

[2020-02-03 14:15] djorkaeffalexandre commented on #1650
Unfortunately, I can't reproduce it on production, but it occurred before the RN's Fast Refresh starts, my screenshot was really late, sorry.
I'll try to get some steps to reproduce.

[2020-02-03 14:19] ggazzo commented on #1276
🤙

[2020-02-03 14:36] giterium commented on #1647
No the problem has not disappeared. One specific photo is loaded and the others are not. I didn't change the file upload settings. Docker version.

[2020-02-03 14:37] giterium commented on #1647
And I can send this one photo as many times as I want

[2020-02-03 14:38] giterium commented on #1647
Photos sent via watsapp are also transmitted

[2020-02-03 14:40] giterium commented on #1647
Probably problems with the file size

[2020-02-03 14:45] giterium commented on #1647
The only photo made on the phone that is sent weighs less than others-1107 kb, the rest is more than 1.5 mb

[2020-02-03 14:49] giterium commented on #1647
Changed to store upload files in the file system nothing has changed. Only small photos are uploaded. :(

[2020-02-03 14:54] giterium commented on #1647
No there are smaller photos that are not loaded. I don't know what's going on. :)

[2020-02-03 15:00] giterium commented on #1647
Screenshots taken from the screen uploads normally. Apparently there is a problem with heic processing.

[2020-02-03 15:19] giterium commented on #1647
Small horizontal photos are sent normally. I'm not sure of anything, though. Does anyone even care about this? :)

[2020-02-03 15:23] giterium commented on #1647
If you set the camera to save as jpg, they are not sent either

[2020-02-03 15:54] diegolmello commented on #1647
Can you upload that photo to https://open.rocket.chat?
Try sending it to me: `@diego.mello`

[2020-02-03 16:45] giterium commented on #1647
Thanks for the help. Everything was solved by setting the client_max_body_size parameter in config of nginx.

[2020-02-03 20:55] srhughes89 opened #1651 "[FEATURE] Sticky Date Header"
This is a feature request. It would be nice if there was a sticky date header that stays at the top indicating when the message was sent. Similar like Telegram. Attached is an image of Telegram.

![IMAGE 2020-02-03 16:00:59](https://user-images.githubusercontent.com/37354069/73690453-5ef34600-469e-11ea-8928-ebc8e825582f.jpg)

[2020-02-04 13:25] srhughes89 commented on #1557
In my opinion the time should show what you have listen to. It should show the total time until you hit the play button or the slider has moved from the start. As soon as the slider has moved it should show the duration. Right now the bug fix shows the total time when its paused and the duration only when it is playing.

[2020-02-04 13:50] srhughes89 opened #1652 "[FEATURE] Chat Tabs at the Bottom"
It would be neat to implement chat tabs at the bottom of the chat view. The tabs I would like to have is Direct Message, Channels, Groups, and Favorites. I would also think it should be able to be disabled in the settings if a person doesn't want that feature.

[2020-02-04 13:59] srhughes89 opened #1653 "[Bug] No sound from voice messages"
There is a bug on iOS where there is no sound that comes out when you are in silent mode.

How to reproduce.
Flip the silent mode switch on the side of the phone and you will not get any sound.

[2020-02-04 14:01] srhughes89 opened #1654 "[Bug] Play multiple voice message at a time"
There is a bug that it will play multiple voice messages at a time. It should only play one at a time. Also it would be neat if it will automatically play the next voice message in the view.

[2020-02-04 14:03] diegolmello commented on #1653
https://github.com/react-native-community/react-native-video#ignoresilentswitch

[2020-02-04 15:18] cdisabatino opened #1656 "File upload problem"
## Describe the bug
I cannot upload files (documents, photos, sound) from the iOS mobile application. From the windows client and from the web interface, it works. I tested with mobile data and wifi. The rocketchat server is under docker. It is configured to accept all types of files. It is not a file size issue. The error displayed is "Error uploading, Invalid file type", while all types are auth

[2020-02-04 15:40] diegolmello commented on #1656
@cdisabatino Is this related to #1647 ?

[2020-02-04 16:26] phriedrich commented on #1621
This has not happened since then, so I will close this now. (And reopen if it happens again and I’m able to get some more details.)

[2020-02-04 16:26] #1621 closed

[2020-02-04 18:47] adrijshikhar commented on #1488
@aashaypalliwar  are you still working on this?

[2020-02-04 18:53] adrijshikhar commented on #1581
@ggazzo hey i have setup the repo, can i start working on this?

[2020-02-04 18:54] ggazzo commented on #1581
feel free to help (:

[2020-02-04 19:02] adrijshikhar commented on #1276
can i work on this issue?

[2020-02-04 19:03] adrijshikhar commented on #1267
@geekgonecrazy i have setup the repo, can i work on this?

[2020-02-04 19:04] adrijshikhar commented on #1251
@diegolmello can i implement this feature?

[2020-02-04 19:06] adrijshikhar commented on #1130
@diegolmello i would like to work on this bug, can you please assign it to me?

[2020-02-04 19:31] programwar commented on #1501
It's OK 4.3.1.

Thank you so much!

[2020-02-04 19:31] #1501 closed

[2020-02-04 19:55] #103 closed

[2020-02-04 19:55] diegolmello commented on #103
It's working already.

[2020-02-05 00:18] geekgonecrazy commented on #1267
i'm not certain its still a thing.  But if so i'm sure no one will mind :)

[2020-02-05 04:08] srhughes89 commented on #1653
Thank you that fixes it.

[2020-02-05 09:31] cdisabatino commented on #1656
My problem is not corrected. With the windows client or the web interface, I can upload a 8.73 MB filesize. A file, photo or screenshot of less weight is refused with the android and iOS client. The same file format is accepted with the windows and web client but not android / iOS.

[2020-02-05 09:36] cygnusm opened #1658 "Not sending the message in the reply section in the notification"
- Your Rocket.Chat Experimental app version: 4.2.1
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: huawei 7x

When i reply a message from notification section, the message does not send and i can not see the massage in convesation.

[2020-02-05 10:08] leva3000 commented on #1626
Hi @djorkaeffalexandre. We are experiencing the same issue on both Android and iOS apps. Can you suggest how to debug this issue? I didn't find any way to get information from incoming push (just assumed that generated push can consist wrong URL or something like that). Let me know if you need more details. Thanks!

[2020-02-05 11:30] grzebo opened #1659 "[BUG] Wrong message order makes app incompatible with screen readers (for visually impaired)"
## Describe the bug
Android phones come with "TalkBack", a built-in screen reader, which is an accessibility app, that reads the content of the screen to visually impaired people. Rocket.chat app is incompatible with TalkBack, because when a user selects more than one message in Rocket.chat with TalkBack, they are read in reverse order (last message is read first). This causes Rocket.chat to be im

[2020-02-05 11:48] leva3000 commented on #1626
The issue was in Site URL. It was set with HTTPS but from outside network our server is accessible only over HTTP. So it looks like push notifications were lead to the URL with HTTPS which can't be opened.

[2020-02-05 14:01] #1605 closed

[2020-02-05 16:03] dinhduongson opened #1661 "Memory is high after jitsi call, and when app in background"
- Your Rocket.Chat Experimental app version: 4.3.1 and 4.1.0
- Your Rocket.Chat server version: [2.4.0](url)
- Device (or Simulator) you're running with: Huawei y9 2019

I use android studio profiler:
- When call jitsi, memory increase from 336 MB to 470 MB . After call, it still remains high: 425 MB
- When app in background, memory is still high (in both case: after call jitsi or have not call ji

[2020-02-05 16:27] srhughes89 opened #1662 "[Bug] Disable User Join and Leave Messages"
When these options are enabled it doesn't disable them on the app. It works on the web version but not the app.

Hide "User Join" messages
Hide "User Leave" messages
Hide "User Removed" messages
Hide "User Added" messages
Hide "User Muted / Unmuted" messages

[2020-02-05 16:28] djorkaeffalexandre commented on #1662
Duplicated of #1581

[2020-02-05 16:28] #1662 closed

[2020-02-05 16:41] #1645 closed

[2020-02-06 04:56] sarthakpranesh commented on #1334
I would like to work on this issue. Can I know more about what exactly is required to be done?
Warm Regards

[2020-02-06 04:57] sarthakpranesh commented on #1658
Hey I would like to work on this issue.

[2020-02-06 05:12] sarthakpranesh commented on #1651
I would like to work on this feature if no one else is.

[2020-02-06 05:47] sarthakpranesh opened #1668 "[IMPROVEMENT] Use whole screen on onboarding"
- Your Rocket.Chat Experimental app version: 4.4.0.999999999
- Your Rocket.Chat server version: 3.0.0-rc.2
- Device (or Simulator) you're running with: Redmi 5

As soon as the app starts we are greeted with a "Welcome to Rocket.Chat" screen. This screen and some of the following screens aren't utilizing the mobile screen available efficiently as all the buttons, text and images are cramped towards

[2020-02-06 09:15] aimador commented on #1449
Sounds familiar: [#1665](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1656)

Can anyone confirm this: [#1647](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1647)
If that works, why does this not affect all other clients?

[2020-02-06 11:43] diegolmello commented on #1334
@sarthakpranesh You have to add all markdown variations on Storybook.

[2020-02-06 12:51] AndreyWV opened #1669 "Can't start in Android emulator"
- Your Rocket.Chat Experimental app version: 4.4.0
- Your Rocket.Chat server version: -
- Device (or Simulator) you're running with: Android Studio Pixel 2 emulator (Android 10 Q, and Android 9 Pie)

App trying to start but hangs on splash screen.
In real device starts normally.

![image](https://user-images.githubusercontent.com/29225873/73938000-6b261000-48f7-11ea-89c9-e5de1966a669.png)

Steps:

[2020-02-06 15:43] sarthakpranesh commented on #1334
Ok, so can you guide me about where should I start.

[2020-02-06 15:51] sarthakpranesh commented on #1665
I would like to work on this issue if no one else is

[2020-02-06 15:53] sarthakpranesh commented on #1669
@AndreyWV I think you should try running the metro bundler first.
react-native start
react-native run-android

[2020-02-06 16:00] diegolmello commented on #1334
You should write tests for the [Markdown](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/markdown/index.js) similarly to what we did on Message here:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/storybook/stories/Message.js

[2020-02-06 16:22] sarthakpranesh commented on #1580
I would like to work on this issue!

[2020-02-06 16:24] diegolmello commented on #1580
@sarthakpranesh You don't have to ask. Just do it and open a PR if you were able to fix it. Thanks.

[2020-02-06 16:38] mar-v opened #1671 "Random discussion room name when opened from push notification"
- Your Rocket.Chat app version: 4.3.1.2102
- Your Rocket.Chat server version: 3.0.0.rc2
- Device (or Simulator) you're running with: HT70

Push notification from discussions reflect random room name in the notification, and in the app when you open the room from notification. If you find it in the channel and open from here, the room name is OK (as set in the channel).

![Discussion_room_name](htt

[2020-02-06 17:24] phriedrich commented on #1436
@devyaniChoubey Any updates on this?

[2020-02-06 17:46] sarthakpranesh commented on #1580
@diegolmello just wanted to make sure no one else is working on it.
I understood the bug and it is not just restricted to @, but it is the same case with # and : too.

[2020-02-07 07:48] AndreyWV commented on #1669
It works in this order, Thanks!

[2020-02-07 07:48] #1669 closed

[2020-02-07 15:24] sarthakpranesh opened #1677 "[BUG] Selecting Different Avatar under Profile does not change the Avatar"
- Your Rocket.Chat Experimental app version: 4.4.0.9999999
- Your Rocket.Chat server version: 3.0.0-develop
- Device (or Simulator) you're running with: Redmi 5

Bug - In the profile view, pre-existing avatars ( like profile image stored when login with Github ) on selection does not change the avatar of the account. Rather soon after selecting the desired avatar and clicking "Save Changes" the av

[2020-02-07 15:35] djorkaeffalexandre commented on #1677
Duplicated of #441 .

[2020-02-07 15:35] #1677 closed

[2020-02-07 18:25] yash17525 opened #1678 "Reset Button to reset all fields in Profile View"
Your Rocket.Chat Experimental app version: 4.2.4.99999999
Your Rocket.Chat server version: 2.5.0-develop
Device (or Simulator) you're running with: Android Pie

Its a feature issue. It would be helpful to have a reset button in the user profile view. When the user changes the fields in the profile view, he might wish to reset all fields ( name, username, email etc.) which can be achieved through a

[2020-02-07 19:22] diegolmello opened #1680 "[IMPROVEMENT] Hold to copy link"
Users should be able to hold links and copy to clipboard.

[2020-02-07 20:45] brittyazel opened #1681 "Push notifications should be on by default in direct messages"
By default I have my push notifications set to the default which is only when directly @ mentioned. This is perfectly fine in group chat channels, but in direct messages this rule is also used. This is an issue, because nobody @ mentions you in a direct message, and in reality every message in a direct message is an @ mention conceptually.

I propose that direct messages should use a different rul

[2020-02-07 20:46] diegolmello commented on #1681
That's a setting on the server. You can change that default if you're admin.

[2020-02-07 20:46] #1681 closed

[2020-02-07 21:09] brittyazel commented on #1681
Interesting. Yes I am an admin. Can you point me to where that setting is? I must have missed it

[2020-02-08 08:59] cygnusb opened #1682 "username change: no invalid chars should be allowed as input, improve error message"
- Your Rocket.Chat Experimental app version: 4.3.1.13914
- Your Rocket.Chat server version: 2.3.2
- Device (or Simulator) you're running with: 13.3

When changing the profile settings, it is possible to enter invalid chars in the username field.

The app complains with something like: "error occured on saving profile"

Two things should be changed here:

- entering invalid chars in the username fi

[2020-02-08 11:32] sarthakpranesh opened #1683 "[BUG] Long pressing Images does not open Menu"
- Your Rocket.Chat Experimental app version: 4.4.0.9999999
- Your Rocket.Chat server version: 3.0.0-develop
- Device (or Simulator) you're running with: Redmi 5

BUG - The Web client has a menu for messages only having an image that is uploaded on the channel which includes features like delete, etc. The same or similar menu does not appear on the app on long pressing the image.

Expected Behavior

[2020-02-08 15:53] PeGaSuS-Coder opened #1686 "Replies/Threads enhancement to the mobile app"
- Your Rocket.Chat Experimental app version: 4.4.0.14096
- Your Rocket.Chat server version: 2.4.8
- Device (or Simulator) you're running with: Android

1) - [ ] Replies/Threads replies should be hidden from the channel/room chat (pretty much like Slack does)

I've also suggested this on [Rocket.chat#16530](https://github.com/RocketChat/Rocket.Chat/issues/16530)
Feel free to close this `task`, but

[2020-02-08 16:27] sarthakpranesh commented on #1686
This is how Slack works if we tick the "also send to channelName" box while we are replying to a thread it will get displayed with all messages and shown in the screenshot
By doing so it would be easier to keep less important replies in the thread hidden from the normal flow of messages and the once which are very important and worthy of being outside the thread are ticked while the reply is being

[2020-02-08 18:01] djorkaeffalexandre commented on #1683
Duplicated of #1193.

[2020-02-08 18:01] #1683 closed

[2020-02-09 20:13] localguru opened #1689 "missing user name for status messages, like 'Has joined channel', 'Message removed' etc."
- Your Rocket.Chat Experimental app version: 4.4.0 (and 4.3.1 stable version)
- Your Rocket.Chat server version: 2.4.5
- Device (or Simulator) you're running with: OnePlus 7 Pro (Android 10.0.3)

It would be helpful if the user name was displayed in the status messages, such as 'Has joined channel', 'Message removed'. In their current form, the status messages are not very informative.

![rc](http

[2020-02-10 06:58] inimatic opened #1690 "Browser clear cache"
I changed an ssl certificate on my server (self sighed certificate changed to Sectigo issued certificate). But found no way to clear cache in the Android Rocket.Chat application browser to let it reload new certificate. So I couldn't login to the server at all with the error: couldn't to server.
In Chrome and other browsers alone after cache clearance they work perfect.
I tried:
Clear Rocket.Chat

[2020-02-10 08:28] frdmn opened #1691 "[IMPROVMENT] Upload images from clipboard"
- Your Rocket.Chat Experimental app version: 4.3.1
- Your Rocket.Chat server version: 2.4.8
- Device (or Simulator) you're running with: iPhone X

It would be nice to be able to to "paste" or upload images from the clipboard with the mobile client.

[2020-02-10 11:57] diegolmello commented on #1671
We need to fetch room title like this: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/rocketchat.js#L1128

[2020-02-10 12:03] diegolmello commented on #1686
Both clients must follow the same behaviour.
I'm closing this in favor of https://github.com/RocketChat/Rocket.Chat/issues/16530

[2020-02-10 12:03] #1686 closed

[2020-02-10 12:06] diegolmello commented on #1682
We should follow server's settings as @djorkaeffalexandre said here: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1685#discussion_r376723584

[2020-02-10 12:08] diegolmello commented on #1658
@cygnusm Try on 4.4.0 beta.

[2020-02-10 12:09] diegolmello commented on #1661
Can you try on 4.4.0 beta?

[2020-02-10 12:10] djorkaeffalexandre commented on #1690
Hey @inimatic.
It shouldn't be a problem on our app when you change your SSL certificate.
Can you try on a web browser on your device, or in another device? Maybe it can be a wrong configuration on your SSL certificate.
If it doesn't work, please, reach me in `https://open.rocket.chat`, my username is `djorkaeff.alexandre`.
Thanks.

[2020-02-10 12:12] diegolmello commented on #1665
@j75 You're using server version 0.59.3.
Our app supports only servers 0.70.0+.

[2020-02-10 12:12] #1665 closed

[2020-02-10 12:13] diegolmello commented on #1665
@Foxeronie @illo86 Please open another issue or ping me on https://open.rocket.chat at `diego.mello` and I'll take a look.
Thanks.

[2020-02-10 12:23] diegolmello commented on #1449
Have you tried https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1647#issuecomment-581506291?

Server uses meteor to upload files and app uses REST API.
Nginx default `client_max_body_size` is 1MB.
http://nginx.org/en/docs/http/ngx_http_core_module.html#client_max_body_size

Please confirm it fixes for you and we'll add this config to the docs.

[2020-02-10 12:27] diegolmello commented on #1656
Ok, it seems to be a filesize issue then.
Duplicated of #1449.
Please try https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1449#issuecomment-584097599

Feel free to comment there if it's related to file size or give us more details here.
Thanks.

[2020-02-10 12:30] diegolmello commented on #1652
I'll comment your suggestion with the design team.
This kind of request is more appropriate for a fork then for us to refactor our ux.
Thanks.

[2020-02-10 12:30] #1652 closed

[2020-02-10 14:17] cdisabatino commented on #1656
The problem is not related to the file size. A file does not upload from the android application. With the same file, on the same phone from the web interface the file uploads correctly. I tested with the android application to upload the same file on the server "https://open.rocket.chat/" and it works.

My server is under docker. I don't use Nginx but a LOAD Balancer. I haven't settings like "cli

[2020-02-10 14:44] diegolmello commented on #1656
What type of file?
Can you post a screenshot of your file upload settings here? (suppress credentials)

[2020-02-10 14:45] diegolmello commented on #1656
It's something on your server then.
Let's fix it.

[2020-02-10 15:28] cdisabatino commented on #1656
I tested with docx, ods, txt, mp4, jpg formats.
I'm using an official docker image "https://hub.docker.com/r/rocketchat/rocket.chat/tags".
I'm using the 2.4.7 tag. With the tag 1.3.2 I had the same problem.

Here are the screenshots.
![rocketchat_fileupload_conf](https://user-images.githubusercontent.com/46713357/74163229-5a8cd700-4c22-11ea-8071-b422e5955360.png)

![rocketchat_fileupload_conf2](ht

[2020-02-10 15:36] djorkaeffalexandre commented on #1656
@cdisabatino, please, remove the `*` at `Accepted Media Types`, you need to leave it blank to accept all media types.

[2020-02-10 15:36] #1656 closed

[2020-02-10 17:41] monarkh-karina opened #1693 "Choose between browser and webview when opening links."
- Your Rocket.Chat Experimental app version: 4.3.1

Currently, all the links are opened in the webview with further suggestion to open them in, for example, Samsung browser (Android) or Safari (iOS):
![links](https://user-images.githubusercontent.com/45059765/74174440-a0ef2f80-4c3c-11ea-91fa-1a92043f9c2a.png)

![links_1](https://user-images.githubusercontent.com/45059765/74174467-acdaf180-4c3c-11e

[2020-02-10 17:59] diegolmello commented on #1694
We merged a beta on #1674.
It's going to land on 4.4.0, but you can use it on beta already.

[2020-02-10 17:59] #1694 closed

[2020-02-10 18:09] youssef-md commented on #1689
Thank you for the advice, I will do this.

[2020-02-10 18:49] monarkh-karina opened #1695 "Audio messages can be recorded via mobile app despite being disabled in server settings."
- Your Rocket.Chat Experimental app version: 4.3.1
- Your Rocket.Chat server version: 2.3.2
- Device (or Simulator) you're running with: Samsung Galaxy J7

Steps to reproduce:
1. Open Administration -> Message -> Audio Message -> disable Audio Recorder.
2. Open chat -> record audio message -> send it successfully in spite of server settings.

![ezgif com-video-to-gif](https://user-images.githubuse

[2020-02-10 22:42] wreiske opened #1697 "Replying to the first message doesn't put it in a thread"
- Your Rocket.Chat Experimental app version: 4.4.0.14178
- Your Rocket.Chat server version: 3.0.0-rc.7
- Device (or Simulator) you're running with: Note 10+ 5G

Replying to a message with a video attachment doesn't attach it to a new thread, instead, it puts it in the main channel.

[2020-02-11 07:54] cdisabatino commented on #1656
Thanks, it works. It is specified to leave blank to authorize all formats. But, to configure our rocketchat server, I use docker-compose.yml and I use the attribute "OVERWRITE_SETTING_FileUpload_MediaTypeWhiteList". If I leave blank, the "empty" value is not supported and rocketchat keeps the previous value.

For example, via the web interface, if I add "image/*, audio/*" and in the docker-compose

[2020-02-11 08:38] FreewheelingLive opened #1699 "I want an independent DirectoryView"
- Your Rocket.Chat Experimental app version: 4.2.1
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: android note 5

**The app isn't connecting to your server?** no

Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

The current code logs into Rocket Chat and goes to RoomsListView.
But I wanted D

[2020-02-11 15:56] #1697 closed

[2020-02-11 15:56] wreiske commented on #1697
Now that was a quick turnaround! 🚀

[2020-02-11 16:49] 88fingerslukee opened #1704 "[FEATURE] - Android Auto Support"
I'd love to be able to see/hear RocketChat messages on Android Auto when I'm driving. Obviously being able to respond to them via voice would be great too.  Any chance of this happening?

[2020-02-11 20:28] #922 closed

[2020-02-11 20:29] #724 closed

[2020-02-11 20:29] #1563 closed

[2020-02-11 21:03] diegolmello opened #1705 "[NEW] Quick actions"
Suport quick actions both on iOS and Android.
https://github.com/jordanbyron/react-native-quick-actions

Actions:
- Add server
- Search rooms
- Last 3 rooms viewed

[2020-02-12 00:13] localguru opened #1706 "[BUG] [FEATURE] @username not rendered as display name"
- Your Rocket.Chat Experimental app version: 4.4.0 (and 4.3.1 stable version)
- Your Rocket.Chat server version: 2.4.5
- Device (or Simulator) you're running with: OnePlus 7 Pro (Android 10.0.3)

If a user is mentioned with @username in a channel, the @username is not translated with the display name (first name, last name). The corresponding feature on the server is activated.

Android App:
![gra

[2020-02-12 00:30] localguru opened #1707 "[BUG] paragraphs, space lines are not rendered"
- Your Rocket.Chat Experimental app version: 4.4.0 (and 4.3.1 stable version)
- Your Rocket.Chat server version: 2.4.5
- Device (or Simulator) you're running with: OnePlus 7 Pro (Android 10.0.3)

Paragraphs and space/emtpy lines are not rendered

Andriod App:
![grafik](https://user-images.githubusercontent.com/8544984/74291697-05da8080-4d36-11ea-9032-7805f685807d.png)

Desktop Client:
![grafik](ht

[2020-02-12 03:52] aKn1ghtOut commented on #1707
Working on this

[2020-02-12 09:12] Prateek93a commented on #1693
Is something like this fine? I will change the view name and setting name if needed.
![ezgif com-crop](https://user-images.githubusercontent.com/44807945/74319749-740a5c00-4da5-11ea-93ef-5ea620822ad7.gif)

[2020-02-12 13:10] diegolmello commented on #1707
Duplicated of #1513

[2020-02-12 13:10] #1707 closed

[2020-02-12 14:47] Prateek93a opened #1710 "Roles category not visible on dark theme"
- Your Rocket.Chat Experimental app version: 4.4.0.99999999999
- Your Rocket.Chat server version: 3.0.0-rc.8
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

The Roles category is not visible on dark theme.

![Screenshot_20200212-200736_RocketChat](https://user-images.githubusercontent.com/44807945/74345280-e2fea980-4dd3-11ea-9f84-e47b169c1df3.jpg)
![Screenshot_20200212-20

[2020-02-12 14:59] Prateek93a commented on #1710
maybe fixed by #1622

[2020-02-12 15:03] almandin opened #1711 "TLS Client/mutual authentication"
- Your Rocket.Chat Experimental app version: 4.4.0
- Your Rocket.Chat server version: 2.4.9
- Device (or Simulator) you're running with: android 7.0

Hi there,
I'm trying to install rocket chat with TLS client authentication. I currently set it up with Traefik and it is working like a charm but the application won't connect to the server despite my user certificate being valid and available in the

[2020-02-12 15:05] diegolmello commented on #1711
It's not implemented on Android yet.

[2020-02-12 15:38] alleait commented on #1315
Any plans on fixing this?

[2020-02-12 15:41] almandin commented on #1711
Okay, I thought this git repository was android specific but I guess the same code base runs on both android and iOS systems. Any chance for it to be implemented soon for android ? :)

[2020-02-13 07:09] nikbelikov opened #1715 "react-native run-ios not working"
Hello!

I'm using the instruction here https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run, but command react-native run-ios after I've cloned repo and installed all the dependencies does not work. Please, help me to figure out what I'm doing wrong.

Environment:
XCode: 10.1 (10B61)
nodejs: v10.16.3
npm: v6.9.0
react-native-cli: 2.0.1

Here is list of 3 commands: npm i, react-native r

[2020-02-13 09:29] almandin commented on #1711
A PR was filed for the legacy android app btw : https://github.com/RocketChat/Rocket.Chat.Android/pull/2007

[2020-02-13 11:20] diegolmello commented on #1715
You didn't follow https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run
We ask you to run `yarn` and not `npm i`.

[2020-02-13 11:20] #1715 closed

[2020-02-13 11:21] diegolmello commented on #1711
@almandin Nice! Thanks for bringing attention to this.

[2020-02-13 12:47] nikbelikov commented on #1715
It helped. Thank you very much!

[2020-02-13 13:15] frdmn opened #1716 "Setting to control cache of media files"
It would be great to give the user a bit more control about how long the app/client will store cached media files that were downloaded at some point from remote Rocket.Chat servers.

Additionally an option to pro-actively clear the cache completely would be nice.

[2020-02-13 13:44] phriedrich commented on #1716
An option to clear the cache has been recently merged into the develop branch: #1660

It should be released soon.

[2020-02-13 14:14] Prateek93a opened #1717 "Add empty space when custom emoji is added"
- Your Rocket.Chat Experimental app version: 4.4.0.9999999999
- Your Rocket.Chat server version: 3.0.0-rc.8
- Device (or Simulator) you're running with: Android P
As the following gif shows, custom emojis are not displayed when there is no space between text and emoji
![ezgif com-crop(1)](https://user-images.githubusercontent.com/44807945/74443090-9fba3e80-4e98-11ea-9621-4eecbe03a545.gif)

[2020-02-13 16:10] diegolmello commented on #1717
The issue is that we should add an empty space before the custom emoji, if there's none yet.

[2020-02-13 18:04] frdmn opened #1718 "[IMPROVEMENT] Display channel announcement banner prominently inside channel"
It would be great if a channel has an announcement set, it gets displayed as prominently as in the web version of Rocket.Chat on top of the channel.

### Screenshots

#### Web

<img width="1034" alt="Bildschirmfoto 2020-02-13 um 18 57 05" src="https://user-images.githubusercontent.com/944459/74464257-82cf3c80-4e93-11ea-9e8e-4fb3861123b5.png">

#### ReactNative

![Ohne Titel](https://user-images.gi

[2020-02-14 00:25] #1511 closed

[2020-02-14 10:00] dinhduongson commented on #1661
Yes

Vào Th 2, 10 thg 2, 2020 vào lúc 19:09 Diego Mello <
notifications@github.com> đã viết:

--
Dinh Duong Son

Phone: 0966181602

Email: duongsondinh@gmail.com

[2020-02-14 10:05] Rafiqgithub opened #1722 "Not able to receive notifications on Andoird(FCM)."
We are trying to enable custom push notification with fcm.
However we replcaed server key and project number.
Restarted server and still not able to get push notification on android devices.
We have also tested test push notification from admin. we received toast on the browser but on mobile side getting below mentioned error.

`java.lang.NoClassDefFoundError: Failed resolution of: Landroid/app/No

[2020-02-14 10:42] Prateek93a commented on #1710
fixed by #1516

[2020-02-14 10:42] #1710 closed

[2020-02-14 12:29] jdaviescoates commented on #808
Yes.  Any plans to fix it?

I note that in response to a recent (6 Feb 2020) negative review on Google Play that mentioned this issue Rocket.Chat responded saying "Livechat is not supported on mobile apps yet and we are planning to remove push messages for livechat." (not sure how much that'd help really - although I guess it would replace a horrible user experience with no experience at all)

It'

[2020-02-14 12:41] diegolmello commented on #808
@jdaviescoates Hi. We implemented a beta for 4.4.0.
It has chatting support (we'll work on missing features soon), so the agents can receive push notifications and chat using the app.
It's planned to be released public February 20.
Cheers!

[2020-02-14 12:46] jdaviescoates commented on #808
Great, thanks, looking forward to trying out the next version in a week's time! :-D

I actually already get push notifications from livechat (at least sometimes!) but unless the notification itself is clicked on there is no other way to browse to or get to the livechats.

And even if the notifications are clicked on none of the previous messages (including the one in the push notification itself)

[2020-02-14 13:22] diegolmello commented on #1722
Make sure you're up-to-date on `develop` branch.
We have a fix for this here: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1692

[2020-02-14 13:22] #1722 closed

[2020-02-14 13:39] #1680 closed

[2020-02-14 21:02] djorkaeffalexandre commented on #1356
Hey @ankar84, can you reach me on `https://open.rocket.chat`?
My username on there is `djorkaeff.alexandre`.
I'll implement this soon.

[2020-02-14 21:10] youssef-md commented on #1705
I would love to learn how to use quick action, I'll take this issue to improve myself 😄

[2020-02-15 12:52] djorkaeffalexandre opened #1731 "[IMPROVEMENT] Open AttachmentView on Avatar of RoomInfo"
Use our `AttachmentView` to open the avatar of `RoomInfo`.

[2020-02-15 15:32] phriedrich opened #1732 "Title of MessagesView is not translated for files, mentions, starred & pinned"
- Your Rocket.Chat Experimental app version: 4.3.1, 4.4.0
- Your Rocket.Chat server version: 3.0.0
- Device (or Simulator) you're running with: iOS

Title of MessagesView is not translated for files, mentions, starred, as shown in the screenshots.

The list entry has the correct translation but the MessagesView shows the untranslated string on top.

![MessagesView title](https://user-images.github

[2020-02-15 22:30] inimatic commented on #1690
I found an issl chain issue in my sertificate trying to get
`curl -i -N -H "Connection: Upgrade" -H "Upgrade: websocket" -H "Host: ai.stipot.com" -H "Origin: mysite.com" -H "Sec-WebSocket-Key: fVXESE8fjBMx8HheW0YlZQ==" -H "Sec-WebSocket-Version: 13" https://mysite/websocke`
So I added CA Bundle certificate text to the end of my *.crt certificate file. It fixed the issue with connecting to my serve

[2020-02-15 22:30] #1690 closed

[2020-02-16 14:12] mikelavrik commented on #1693
that would be great!

[2020-02-16 16:53] reetp opened #1737 "Rocket.Chat emojis icon missing from message box"
Samsung S9 with Samsung Android 10

Experimental 4.4.0.14457
Standard 4.4.0.2106

Server 2.4.8

Just noticed there is no longer a Rocket.Chat emoji button in the message box in either version.

I can still type :mycustomemoji: but the chooser icon is not there.

Standard Android emojis available via keyboard.

Not sure when this changed.

Also not sure if it is a server setting, React setting, or

[2020-02-16 16:55] djorkaeffalexandre commented on #1737
Hello @reetp, we removed them to keep same experience of our iOS app, now to see custom emojis you need to put some `:` on the MessageBox.

[2020-02-16 17:06] reetp commented on #1737
Sorry, but that is a *real* retrograde step. Even the whatsapp piece of junk has it. And Signal. And telegram. Just not Rocket.Chat ;doh:

That's a nightmare if you don't know the emoji you want. Or if someone adds one I want to use and I don't know what it is called.

I like to look at the emojis before I send and I don't remember the names of them all.

Please make iOS like Android WAS.

Or give

[2020-02-17 09:20] reetp commented on #1737
I also looked through the release notes again and can't find this mentioned anywhere.

If you are going to make these sorts of changes which break normal behaviour you must make people aware first and look for comments.

This is **not**  Android normal behaviour.

By all means make it a switchable option but do not just turn it off just because you think it is a great idea. Not everyone loves iOS.

[2020-02-17 10:38] Rafiqgithub commented on #1722
@diegolmello Thanks for the response.After taking a pull from develop  getting below error while running react-native run-android.
`error: cannot find symbol
    private String extractMessage(String message, Ejson ejson) {
    symbol:   class Ejson
  location: class CustomPushNotification
`

[2020-02-17 11:02] diegolmello commented on #1737
Hi, @reetp.
Don't forget this is a beta version.
We're testing new stuff.
Emoji keyboard raises some visual glitches (like messages text overlapping) we wanted to fix.
We are reverting it because we'll not remove new features like that.
Thanks for your feedback.

[2020-02-17 11:02] #1737 closed

[2020-02-17 11:59] reetp commented on #1737
Hi @diegolmello

Happens on both - please read my original comment again

See above....

Yup I can see that, but simply removing it is not the way when it breaks established practice.

Thank you :-)

Note things like this happen as well.... So you can't remove the emoji itself, but if you have a viewable list you don't notice some things....

https://github.com/RocketChat/Rocket.Chat/issues/16616

[2020-02-17 13:35] Sys-Admin889 commented on #1740
@diegolmello Thanks.

[2020-02-17 16:17] #1732 closed

[2020-02-17 19:09] Rafiqgithub commented on #1722
@diegolmello Working thanks for response.

[2020-02-17 19:24] #1548 closed

[2020-02-18 03:51] kakkou opened #1750 "Japanese Hiragana is judged as emoji"
- Your Rocket.Chat Experimental app version: 4.3 .1.2102
- Your Rocket.Chat server version: 2.4.1
- Device (or Simulator) you're running with: Android

![image](https://user-images.githubusercontent.com/696724/74702279-dacbc180-524c-11ea-945c-e4ded3db06ec.png)

As you can see in the code, there is a problem with the regular expression. (`[\ U2000- \ u3300]` is too wide to specify emoji)
https://ww

[2020-02-18 04:11] ankar84 commented on #1356
I tested https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1746 in my environment and can tell that it works great.
I tested creation of video call from mobile from:
- DM
- Private Chat
- Discussion
And all tests was successful!
So, @djorkaeffalexandre great job!
@diegolmello I will wait that functionality in new release.
Thank you for your great job!

[2020-02-18 13:50] #1699 closed

[2020-02-18 14:06] #1356 closed

[2020-02-18 19:37] slimlv commented on #1355
same with  Rocket.Chat Experimental app version: v4.4.0 (14335)
Basic Auth was available in Rocket.Chat.Android, see https://github.com/RocketChat/Rocket.Chat.Android/issues/1727

[2020-02-18 21:13] djorkaeffalexandre commented on #1355
Hey @slimlv and @redw0lf.
Can reach me on `https://open.rocket.chat`?
My username is `djorkaeff.alexandre`.
I'm working on it now.

[2020-02-19 09:31] reetp commented on #1737
Got them back in Experimental.

Ahhhhhhhhhh relief. Thank you.

[2020-02-19 11:37] slimlv commented on #1355
I would like to clarify that there may be two usage cases:
# basic auth as separate security level PRIOR rocket chat own authentication
# basic auth as native rocket chat authentication

this ticket about the first case, where basic auth is separate level of security and does not authentice into rocket.chat

[2020-02-19 18:27] phriedrich opened #1756 "Input field shows microphone and allows recording while audio messages are disabled on server"
- Your Rocket.Chat Experimental app version: 4.4.0.14681
- Your Rocket.Chat server version: 3.0.1
- Device (or Simulator) you're running with: iOS

Input field shows microphone and allows recording while audio messages are disabled on server.

This should be hidden if audio messages are disabled.

[2020-02-19 18:44] diegolmello commented on #1756
@phriedrich It's not implemented yet. Thanks for opening this issue.

[2020-02-19 19:32] rsjr opened #1760 "OTR Messages - Incorrect Display"
### Description:

OTR messages are incorrectly displayed in the mobile app.

![otr_1](https://user-images.githubusercontent.com/11891939/74868405-f6aa9280-5334-11ea-8c69-eea8531993ab.png)

### Expected behavior:

OTR messages to be correctly displayed

### Server Setup Information:

- Version of Rocket.Chat Server: 3.0.0-develop
- Operating System: Android 9 (Oxygen OS 9.0.10)
- Device: OnePlus 5

[2020-02-19 19:37] msisskin commented on #1544
Any progress on this issue? We have users reporting the same behavior and it's causing user acceptance difficulties. They aren't always in front of a computer to register that way. Thanks!

[2020-02-19 19:39] diegolmello commented on #1544
@msisskin There's a fix on the way: #1728

[2020-02-19 19:40] msisskin commented on #1544
@diegolmello Thank you for the quick update

[2020-02-19 19:40] djorkaeffalexandre commented on #1544
Hello @msisskin, we’re working on this, probably it'll be launched in the next release, `4.5`.
Thanks.

[2020-02-19 20:52] #1693 closed

[2020-02-20 09:42] Rafiqgithub opened #1762 "Can we group notification from multiple channel into one single notification like whatsapp?"

[2020-02-20 11:03] diegolmello commented on #1762
Hi, @Rafiqgithub.
For now, we prefer to group notifications by channel.
It allows the user to reply to a channel from the notification.

[2020-02-20 11:03] #1762 closed

[2020-02-20 11:24] Prateek93a opened #1763 "Markdown rules aren't applied when there's a space inside rule token"
- Your Rocket.Chat Experimental app version: 4.4.0.99999999
- Your Rocket.Chat server version: 3.0.1 open.rocket.chat
- Device (or Simulator) you're running with: Android P

As the following gif shows, the markdown text is not rendered when there is space in between. On  webapp it is rendered.
![ezgif com-crop (3)](https://user-images.githubusercontent.com/44807945/74928445-874da500-53ff-11ea-966d

[2020-02-20 12:01] Rafiqgithub commented on #1762
ok thanks for the quick response.

[2020-02-20 12:58] #1355 closed

[2020-02-20 18:26] #1590 closed

[2020-02-20 19:44] #1718 closed

[2020-02-20 20:08] #1123 closed

[2020-02-20 20:23] #1130 closed

[2020-02-20 20:43] #1581 closed

[2020-02-20 21:02] #1756 closed

[2020-02-20 22:22] phriedrich commented on #1436
This has been solved with the mentioned PR.

Many thanks to everyone involved, especially @tanmoyopenroot and @diegolmello!

[2020-02-20 22:22] #1436 closed

[2020-02-21 08:51] localguru commented on #1377
@diegolmello Is there already a schedule for a fix? We receive several requests daily from users who overlook the button for login via Shibboleth and try to use their email address or think they need to create an account. This is extremely confusing for normal users. It also makes no sense to offer other authentication methods if the server only offers Sibboleth/SAML and no accounts may be created

[2020-02-21 11:02] sarthakpranesh opened #1767 "[BUG] ProfileView Does not show server response for to many requests"
- Your Rocket.Chat Experimental app version: 4.5.0.9999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Redmi 5

Issue - When we make to many requests in ProfileView to update the profile, there is a response from the server saying `To many requests slow down` but this is not cought by the app due to improper error handling.

[2020-02-21 11:15] diegolmello commented on #1377
@localguru It was fixed yesterday on #1727. I'll release a beta for Experimental later today.

[2020-02-21 11:15] #1377 closed

[2020-02-21 16:28] djorkaeffalexandre commented on #901
Fixed by #1769.

[2020-02-21 16:28] #901 closed

[2020-02-22 02:35] dantehemerson commented on #1763
@Prateek93a  I think that markdown does not work that way, it does not accept blanks before and after asterisks, if you want to add space you must do so before `**`. Thus: ` **hello**` Otherwise Markdown interprets that you want to write that without transforming it.
I think this is a convention for Markdown.

[2020-02-22 11:45] localguru commented on #1377
@diegolmello This is great, even with the color of the button! Thank you, Diego!

[2020-02-22 13:44] ankar84 opened #1777 "[Feature] Add Instant View support"
Please add support of Telegram [Instant View](https://instantview.telegram.org/) function.
It is a very convenient feature for users and a lot of Internet resources support Instant View.

[2020-02-22 18:03] aKn1ghtOut commented on #1763
Yeah, I looked it up a bit. It is definitely a convention for markdown, specifically the commonmark markdown specification. You can have a look at it over here: https://spec.commonmark.org/dingus/?text=*foo%20bar*%0A
This should probably be changed in the web version instead though. It would in fact be much better if all of Rocket Chat could follow a standard that is already very well out there.

[2020-02-23 21:37] ozata commented on #1706
I am on this issue.

[2020-02-24 14:29] AgentTNT opened #1778 "Markdown is cutting off text"
- Your Rocket.Chat Experimental app version: 4.4.0 (stable from app sotres)
- Your Rocket.Chat server version: 3.0.1
- Device (or Simulator) you're running with: Android 10 and iOS

When markdown is disabled on both Android and iOS, we see the expected format:
![markdown-disabled](https://user-images.githubusercontent.com/29238486/75160424-f240f980-56e7-11ea-96cc-280aae1e95f2.jpeg)

However when m

[2020-02-24 16:33] grahamsmith opened #1779 "Mobile Client does not honour file upload enabled setting"
- Your Rocket.Chat app version: 4.3.1
- Your Rocket.Chat server version: 2.1.1
- Device (or Simulator) you're running with: Android Emulator & Pixel 2 - Running Android 10

**Problem**

The React Native Mobile Client does not respect the setting for file upload being enabled.

**Reproduction Steps**

Go to the Rocket Chat admin.
Disable File Upload.
Go to mobile client launch from a fresh install

[2020-02-26 04:38] anveshfactorly opened #1782 "Need Remote Push Notification Support For Android and IOS"
- Your Rocket.Chat Experimental app version: 1.0
- Your Rocket.Chat server version:
- Device (or Simulator) you're running with: iphone7

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

Hello There Thanks for providing amazing app , really appreciated your hard work and efforts I dow

[2020-02-26 12:01] diegolmello commented on #1782
Setting up push notifications is a tricky task even for experienced developers.
If you don't know how to do it, use our gateway or get help on [#jobs](https://open.rocket.chat/channel/jobs).
Thanks.

[2020-02-26 12:01] #1782 closed

[2020-02-26 12:16] diegolmello commented on #1706
Fixed on #1758

[2020-02-26 12:16] #1706 closed

[2020-02-26 12:18] diegolmello commented on #1377
Kudos to @djorkaeffalexandre (:

[2020-02-26 12:26] anveshfactorly commented on #1782
thanks for reply , will join there as well
I have my own server and setup the GCM related stuff but unable to receive the Push Notifications on my android device

Can you help me or guide me how can i proceed further

Help will be really appreciate
Thanks

[2020-02-26 12:46] #1763 closed

[2020-02-27 02:03] rockneverdies55 commented on #1451
Why even there isn't a way to manually enforce the app to refresh/load/fetch messages. There is obviously a problem with the app on loading messages from server.

Sometime it starts not loading new messages while you're in the channel but you get push notifications so you know there is something new, sometimes going back to chat list view and coming back to channel triggers re - load (sometimes no

[2020-02-27 11:24] diegolmello commented on #1451
@rockneverdies55 We do have pull to refresh. Make sure you're up-to-date on the stores.

[2020-02-27 16:19] Mohamed209 opened #1789 "Voice note seek bar doesn't move forward in the android app"
After recording a voice note you can't seek bar forward or backward , even timer freezing at 00:00
android app

[2020-02-27 16:54] Rits1272 commented on #1705
Can I work on this issue @diegolmello?

[2020-02-27 16:57] diegolmello commented on #1705
@Rits1272 If you can get it done both on iOS and Android, sure!

[2020-02-27 18:24] #1513 closed

[2020-02-27 18:49] sarthakpranesh commented on #1778
I found out that when the string
[code]

[2020-02-27 19:39] shaheem-khanzada opened #1791 "componentWillReceiveProps depreciated Warning"

[2020-02-27 19:53] djorkaeffalexandre opened #1792 "[IMPROVEMENT] Filter System messages per room"
We need to hide system messages using the configuration of room if it's not using the server configuration as a default.

Web PR: https://github.com/RocketChat/Rocket.Chat/pull/16369

![Screen Shot 2020-02-27 at 16 50 42](https://user-images.githubusercontent.com/29778115/75481158-5cc09680-5981-11ea-8433-dc61f5d8328a.png)

[2020-02-28 01:33] brittyazel opened #1793 "[Enhancement] Google Maps for the mobile client"
On RocketChat Experimental 4.5 on Android we do not have the Google Maps integration that the web client currently has. Right now when someone links their location it just shows 'nothing' on mobile, whereas on web it shows the location and clicking it opens Google Maps.

Would be awesome for the mobile version to get this feature.

[2020-02-28 05:02] aleadco opened #1794 "Push notifications are unnecessarily received while online in the chat."
Push notifications are unnecessarily received while online in the chat.  Also when I have read the messages on the web and I connect with the app, all the push messages that I have already read come in.  I have a fully updated self-hosted service and the Android app is also updated.

[2020-02-28 05:16] aleadco opened #1795 "Voice messages do not play correctly"
Voice messages do not play correctly on Android 9 devices. The error appears when you play the audio but nothing is played and the audio timeline does not advance.  This bug was identified in 2 Xiaomi devices, the Note 6 Pro and the Note 7 Pro. It also happens with Samsung models with Android 9.

[2020-02-28 07:34] JiangKzar commented on #1369
I have same issue.

Deprecated Gradle features were used in this build, making it incompatible with Gradle 6.0.
Use '--warning-mode all' to show the individual deprecation warnings.
See https://docs.gradle.org/5.5/userguide/command_line_interface.html#sec:command_line_warnings
886 actionable tasks: 80 executed, 806 up-to-date
Note: Some input files use or override a deprecated API.
Note: Recompile

[2020-02-28 11:24] diegolmello commented on #1793
Thanks, @brittyazel!
This task is marked as a Google Summer of Code feature.
There are some students that want to work on it.
Let's wait until the end of the summer.

[2020-02-28 11:36] #1010 closed

[2020-02-28 13:31] lorek123 commented on #1793
Please keep in mind that if we want to have this app on f-droid we need to have version of the app that is fully open source, and Google libraries often are closed. Also possibility to use other maps suppliers like OSM should be considered.

[2020-02-28 13:44] diegolmello commented on #1793
@lorek123 Yeah, @lorek123. Thanks for reminding us.
We'll have to implement both then, because we need to keep the same UX on web and mobile.

[2020-02-28 13:45] superseby2 opened #1797 "Trying capturing video using the front cam gives "Cannot capture video, another app may be using the mic""
- Your Rocket.Chat Experimental app version: 4.5.0
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Motorola G5 / Android 8.1.0

When trying to capture some video (by clicking the + button then selecting Take a video) the recording fails to start with the message  :
"Cannot capture video, another app may be using the mic"

The recording works fine from the rear

[2020-02-28 14:56] sarthakpranesh commented on #1695
What should be the possible fix like, do we want to show the recording feature irrespective of the setting is enabled and then show message feature not enabled on server or do we preferre to not show the recording mic if the setting is not enabled

[2020-02-28 14:58] djorkaeffalexandre commented on #1695
It was fixed by #1764, thanks.

[2020-02-28 14:58] #1695 closed

[2020-02-28 15:21] lorek123 commented on #1793
@diegolmello I don't know what's the status with web, maybe overall support for locations and maps can be a part of RC apps?

[2020-02-28 19:28] brittyazel commented on #1793
I'm indifferent if it's Google Maps or an OSM provider 🙂 Being able to pin your location is super handy when youre trying to meet up with people. However that happens is fine with me

[2020-02-28 19:31] #989 closed

[2020-02-28 19:59] youssef-md commented on #1792
I'll work on this

[2020-02-29 06:08] sarthakpranesh opened #1801 "[IMPROVEMENT] RoomMemberView and SearchMessageView should look similar"
- Your Rocket.Chat Experimental app version: 4.5.0.999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Redmi 5

Both Views the RoomMemberView and SearchMessageView perform a similar task but on different tables ( one searches for members and the other searches for messages ). These two components should look and feel similar because of there simi

[2020-02-29 06:35] sarthakpranesh commented on #1561
As no follow-up is taken on this issue, can I add my fix as a PR?

[2020-02-29 23:12] C1ean commented on #1449
Yes it works, the problem is resolved! Many thanks!

[2020-03-01 07:08] TheGr8Wonder opened #1803 "userAgent Inquiry"
Can anyone please tell me why we have these hard coded values in the following file?

`app/views/AuthenticationWebView.js`

[code]

If the Rcoket.Chat server has Google oAuth configured, and after a successful sign in via Android, users are sent a security email from Google regarding a new login from a Samsung Galaxy S6 device (SM-G920V mentioned in the string above).

As expected, users assume th

[2020-03-01 11:14] phriedrich commented on #1803
I don't know why this user agents have been chosen, and if there's some requirement here. Maybe a form like in `/app/utils/fetch.js` could be used.

[2020-03-01 16:13] titomiky opened #1804 "Not open after clicking on push notification"
- Your Rocket.Chat Experimental app version: 4.4.0
- Your Rocket.Chat server version: 3.0.2
- Device (or Simulator) you're running with: Android 9

Hello,
   We are testing Rocket chat but after clicking on a push notification (own Firebase FCM push), the app only shows splash image. I've made a video to explain it better.
Any idea?

https://drive.google.com/open?id=1DUO07I0jbjEFD0ZIEhr0M7vgw3ZChf

[2020-03-02 11:27] #1449 closed

[2020-03-02 11:38] Prateek93a opened #1806 "Sort members in member list according to roles"
- Your Rocket.Chat Experimental app version: 4.5.0.99999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

Its a  suggestion issue. I think it might be useful if we display all members of a group sorted by roles, ie, in the all members list, not the online one, we show the members separated by roles but I am not sure if it

[2020-03-02 13:12] Prateek93a opened #1808 "Error when trying remove a single member while creating new channel"
- Your Rocket.Chat Experimental app version: 4.5.0.9999999999
- Your Rocket.Chat server version: 3.1.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

As the gif shows, when we add members to create a channel, then if we remove them, the last one doesn't get removed. We don't get a message about why we can't remove a single member. Also if we long

[2020-03-02 17:16] Infinity-Intellect commented on #1225
Can I take up this issue?

[2020-03-02 17:23] djorkaeffalexandre commented on #1225
@Infinity-Intellect sure, go ahead.

[2020-03-02 17:47] akumar1999 commented on #1594
hey, I was wondering if this issue is fixed or not? I would like to work on the issue and improve it.

Thanks

[2020-03-02 17:56] diegolmello commented on #1594
@akumar1999 A PR was mentioned above. It's just not merged yet.

[2020-03-02 18:24] Prateek93a commented on #1808
@diegolmello Hi, I have a doubt here. If we don't select any users in the select user screen and proceed to create a channel, we are able to create it, but if we have selected a user, there is a condition that maintains the minimum number to 1, I am not sure why this condition is used if we can create a new channel even without selecting any user. Thanks

[2020-03-02 18:49] Infinity-Intellect commented on #1225
I'm not able to reproduce this issue, could anyone walk me through the steps to get the issue?

[2020-03-02 18:51] djorkaeffalexandre commented on #1225
1. Open the Share Extension to share something.
2. Try to type `@a` or `:a`.
3. Nothing happens.

It needs to have a similar behavior of our `MessageBox`.

[2020-03-02 19:09] Infinity-Intellect commented on #1225
Where can I find the 'Share Extension' is it an icon in the application?

[2020-03-02 19:13] djorkaeffalexandre commented on #1225
@Infinity-Intellect Share Extension is the way that you use to share files/text from other apps to our app.

### iOS
![Screen Shot 2020-03-02 at 16 10 09](https://user-images.githubusercontent.com/29778115/75708842-55aac880-5ca0-11ea-91d0-d63b349ab849.png)

### Android
![Screen Shot 2020-03-02 at 16 13 03](https://user-images.githubusercontent.com/29778115/75709037-b5a16f00-5ca0-11ea-828e-d70cdead

[2020-03-02 19:24] Infinity-Intellect commented on #1225
@djorkaeffalexandre Could you have a look at the screenshots below and let me know if I have tried to reproduce it correctly? Because the text seems to be appearing for me, so I think I haven't reproduced it properly.

![Screenshot_20200303_004956](https://user-images.githubusercontent.com/49329642/75709722-3be1a380-5ce9-11ea-86d9-fcaad80d0c09.png)
![Screenshot_20200303_004940](https://user-images

[2020-03-02 20:15] sarthakpranesh commented on #1808
We shouldn't be allowed to make any new channel without any user. :thinking:

[2020-03-02 20:27] diegolmello commented on #1808
@sarthakpranesh You're making too many assumptions.
People tend to have different expectations of how a software should behave.
Creating a room without any users is a correct feature and it's available on the web client.

@Prateek93a yep, that's an issue.
You should be able to remove both users on CreateChannelView.

[2020-03-03 04:16] Prateek93a commented on #1808
@diegolmello Ok, and also along with fixing the error, shall we add a visual indicator that tapping on the member item will remove that member? I didn't know about this until I mistakenly tapped on the member item. Maybe we can have a cross button on the right side indicating that by pressing on the member item. Similarly, on the select users view, we can have a cross on the top right corner of me

[2020-03-03 12:16] diegolmello commented on #1808
@Prateek93a Not a cross, but the same check icon as on SelectUsersView.

[2020-03-03 13:21] Prateek93a commented on #1808
Ok

[2020-03-03 16:19] sarthakpranesh opened #1816 "[IMPROVEMENT] Add confirm password in RegisterVIew"
- Your Rocket.Chat Experimental app version: 4.5.0.9999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Redmi 5

So I thought this is required big-time because I was making an account using the registration process and I didn't care much about what password I entered. I soon realized I made a typo and I wasn't able to login to the new account so I h

[2020-03-03 17:01] diegolmello commented on #1816
We used to have it and we removed it.

Some services confirm password when you're on desktop.
Some services have a magic link.
...

This is a long discussion, but we decided to make it easier for the user to onboard.
I'm closing this issue, but feel free to comment your view about it.

[2020-03-03 17:01] #1816 closed

[2020-03-03 17:06] sarthakpranesh commented on #1816
My thoughts where, if we were going to have a registration form that would ask users to enter a password it's always good to keep the user in check with a confirm password.
I agree with the fact that we have magic links and passwordless. :sweat_smile:

[2020-03-03 17:13] xtilyn opened #1818 "Logout from custom oauth does not log user out"
- Your Rocket.Chat Experimental app version: 4.4.0
- Your Rocket.Chat server version: 3.0.0
- Device (or Simulator) you're running with: Android (9) and IOS (11.4)

When authenticated through custom oauth, logging out from the server does not completely log user out.

Steps to reproduce:
- Authenticate through custom oauth
- Logout
- Log back in --> app redirects back in to the previous signed in

[2020-03-03 17:48] Infinity-Intellect commented on #1225
Okay, so what's expected is similar to what happens in whatsapp group wherein we type '@' and a list of members automatically show up, are we trying to achieve the same result here?

[2020-03-03 19:28] djorkaeffalexandre commented on #1225
@Infinity-Intellect, how you can see, when you type some command to the input on Share Extension, nothing happens, the idea is to show the options like the messageBox:

![Screen Shot 2020-03-03 at 16 26 01](https://user-images.githubusercontent.com/29778115/75811772-cc60c800-5d6b-11ea-96f4-a5ff0533a6d4.png)

![Screen Shot 2020-03-03 at 16 27 19](https://user-images.githubusercontent.com/29778115/7

[2020-03-03 19:39] titomiky commented on #1804
It seems it's related to ROOT_URL. We set ROOT_URL environment variable to our domain, but in the push notification, the host of ejson (data payload) is always "localhost".
Any ideas?

`root@vps784632:~# export MONGO_URL=mongodb://localhost:27017/rocketchat?replicaSet=rs01
root@vps784632:~# export MONGO_OPLOG_URL=mongodb://localhost:27017/local?replicaSet=rs01
root@vps784632:~# export ROOT_URL=htt

[2020-03-03 19:42] djorkaeffalexandre commented on #1804
You're using some SSL certificate? our notifications only work's fine with `https://` protocol.

[2020-03-03 19:47] titomiky commented on #1804
Thank you @djorkaeffalexandre, we are using Nginx as proxy for httpS. Our real domain is httpS://chat.domain.com, and Nginx redirects to http://localhost:3000 (we used this tutorial https://rocket.chat/docs/installation/manual-installation/centos/).

[2020-03-03 19:57] djorkaeffalexandre commented on #1804
it's really strange, if you start your server using `ROOT_URL=https://chat.domain.com meteor` it'll work, you can try use `console.log` on your browser console and then you will see that `Meteor.absoluteUrl` will return the correct url.

![Screen Shot 2020-03-03 at 16 55 07](https://user-images.githubusercontent.com/29778115/75814087-e3091e00-5d6f-11ea-9a84-4eadd42db66b.png)

And how you can see [

[2020-03-03 21:25] #1808 closed

[2020-03-04 13:02] novacrazy commented on #1528
It appears this issue has resurfaced today, exact same behavior.

Is there some critical app infrastructure Rocket.Chat has that is not self-hosted?

Today also happens to be when Let's Encrypt is revoking over 3 Million certs, so perhaps something has gone down elsewhere.

[2020-03-04 13:57] #1334 closed

[2020-03-04 14:03] #1554 closed

[2020-03-04 16:34] devyaniChoubey commented on #1691
Can I work on this issue?

[2020-03-04 16:35] diegolmello commented on #1691
@devyaniChoubey sure

[2020-03-04 16:48] jcourcel opened #1825 "[BUG] Can't open attachments on Tablet (Android)"
Rocket.Chat app version: 4.4.0.2107
Rocket.Chat server version: 2.4.9
Device running with: Samsung Tab A SM-T350, screen 8 inches
Android version : 7.1.1

After a touch on a picture, it is not show on the screen. It is may be related to the size of the screen. My android device has a 8 inches screen. I also try with a 10 inches screen and see the same problem.

Step to reproduce the issue :
1 - Se

[2020-03-04 17:46] PeGaSuS-Coder opened #1826 "Join to a channel that's mentioned in a message when tapping on it"
- Your Rocket.Chat Experimental app version: 4.5.0.15171
- Your Rocket.Chat server version: 3.0.0
- Device (or Simulator) you're running with: Huawei P20 Lite

When someone mentions a channel, tapping on it opens a preview that only shows the channel info and a avatar.

It would be nice to emulate the same behaviour of the web app (show a channel messages preview and a `Join` button) or at least a

[2020-03-04 18:11] devyaniChoubey commented on #1826
Can i work on this?

[2020-03-04 18:17] diegolmello commented on #1826
@devyaniChoubey Work on [this](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1691#issuecomment-594647334) first.

[2020-03-04 19:11] mddvul22 commented on #1377
In what version of the stable mobile app should this be appearing?  I have 4.4.0.2107 and am still seeing the problem.  I assume the fix is coming in the next version?

[2020-03-04 19:15] diegolmello commented on #1377
@mddvul22 Official beta coming next Monday. It's on Experimental beta if you want to try it out.

[2020-03-04 19:46] PeGaSuS-Coder opened #1828 "Option `Long press message > Mention user` or `double tap message` to mention a user"
- Your Rocket.Chat Experimental app version: 4.5.0.15171
- Your Rocket.Chat server version: 3.0.0
- Device (or Simulator) you're running with: Huawei P20 Lite

It would be nice to have `Long press message > Mention user` or `double tap message` to mention a user in the channel/DM.

Right now, the `@username` option sometimes shows way too many matches and we sometimes even end up writing the entir

[2020-03-06 02:18] novacrazy opened #1834 "iOS app does not recognize joined channels"
- Your Rocket.Chat Experimental app version: 4.4.0.14681
- Your Rocket.Chat server version: 1.3.0-develop-ish (latest commit RocketChat/Rocket.Chat@2c3c2dc)
- Device (or Simulator) you're running with: iPhone 6 running iOS 12.4.4, though other users have reporting it on their devices as well.

Joined channel listings no longer load, selected a joined channel in the directory says I'm not joined, n

[2020-03-06 02:44] shaheem-khanzada opened #1835 "[WatermelonDB] The action you're trying to perform (unnamed) can't be performed yet, because there are 2 actions in the queue. Current action: unnamed. Ignore this message if everything is working fine. But if your actions are not running, it's because the current action is stuck. Remember that if you're calling an action from an action, you must use subAction(). See docs for more details."

[2020-03-06 03:29] novacrazy commented on #1834
Aaaand of course it starts working again a few minutes ago. I suppose shouting into the void is an acceptable debugging technique.

However, as this has happened twice, and resolved itself twice, both times with odd timing and with zero changes on my end at all, be it server or app, I'd still like to know what about the apps fails. What external service is used to sync up the app and my server?

[2020-03-06 10:33] gesus14 opened #1837 "Unable to set push notifications for all messages in channel"
- Your Rocket.Chat app version: 4.4.0.282
- Your Rocket.Chat server version: 2.4.2
- Device (or Simulator) you're running with: iPhone SE

Within a private channel I would like to get push notifications on my phone for all messages. So I open the settings dialog of the channel to select `Notifications`. Push notifications are set to `Mentions` as default. So I tap on `Mentions` to change the value

[2020-03-06 12:28] xgdgsc opened #1836 "[BUG] Unable to connect to server using self signed cert"
- Your Rocket.Chat Experimental app version: #### 4.4.0
- Your Rocket.Chat server version: #### 2.4.1
- Device (or Simulator) you're running with: #### Android and ios

Is it possible to support this?
https://stackoverflow.com/questions/36289125/react-native-fetch-from-https-server-with-self-signed-certificate
my url is something like `https://DOMAIN.com:12222/` I tried ios and android import cert

[2020-03-06 13:15] djorkaeffalexandre commented on #1836
Hey @xgdgsc, can you reach me on `https://open.rocket.chat`?
My username is `djorkaeff.alexandre`.
It should be fixed by #1307.
But let's talk to see what can be your problem.
Thanks.

[2020-03-06 13:23] diegolmello commented on #1835
This is not an issue. WatermelonDB enqueue batches being passed to the bridge.

[2020-03-06 13:23] #1835 closed

[2020-03-06 14:19] #1792 closed

[2020-03-06 16:23] diegolmello commented on #1837
Duplicated of #1452

[2020-03-06 16:23] #1837 closed

[2020-03-07 06:42] Prateek93a opened #1839 "Wrong message pops up when we leave broadcast or private channel"
- Your Rocket.Chat Experimental app version: 4.5.0.9999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Android P

As the gif shows, when we leave a private or broadcast channel, the message comes that we were removed from the channel which is wrong message. Also the same message comes up when we delete the channel that we created ![ezgif com-cro

[2020-03-07 07:03] Prateek93a opened #1840 "[BUG] Not able to post message to broadcast channel"
- Your Rocket.Chat Experimental app version: 4.5.0.99999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

As the gif shows, after we create a broadcast or private broadcast channel, we are redirected to the room. However, we are unable to post anything as it says that the room is read-only. We have to go back to the room

[2020-03-07 16:55] devyaniChoubey opened #1842 "[BUG] Random id is shown in notification preferences of discussions"
![Screenshot_20200307-222104_RocketChat](https://user-images.githubusercontent.com/52153085/76147477-8c2e7c00-60c2-11ea-96f5-0748f6b5e431.jpg)
I am working on it

[2020-03-07 17:51] Prateek93a opened #1844 "Able to post message on broadcast channel"
- Your Rocket.Chat Experimental app version: 4.5.0.99999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Android P

As the gif shows, when we hide a broadcast channel, then search for it and enter the room, we are able to send a message to the room. Although the bot does show error messages, I think we should not be able to post a message in the

[2020-03-08 01:46] shaheem-khanzada opened #1845 "Unable to find the rejection error"
Possible Unhandled Promise Rejection (id: 1): TypeError: Cannot read property 'payload' of undefined TypeError: Cannot read property 'payload' of undefined at c (http://192.168.0.108:8081/index.bundle?platform=android&dev=true&minify=false:99476:25) at anonymous (http://192.168.0.108:8081/index.bundle?platform=android&dev=true&minify=false:99508:21) at forEach (native) at d (http://192.168.0.108:8

[2020-03-08 08:21] Badal1234 opened #1846 "[BUG] unable to delete media files from Message"
- Your Rocket.Chat Experimental app version: 4.5.0.999999
- Your Rocket.Chat server version: 3.1.0
- Device (or Simulator) you're running with: Honor 9 lite

Unable to delete media files from Message .
Step to reproduce:-
1.Go to any Channel
2.Send a file from your device or search for any media file
3.Click or Press on the file no delete option will appear

[2020-03-08 18:15] devyaniChoubey commented on #1671
@diegolmello I am not getting push notifications in rocket.chat develop. But i was getting notifications on the app which I have downloaded from play store.Is there any problem in my development setup?

[2020-03-09 06:13] Conrado916645 opened #1848 "Unable to install to rocket.chat to android kitkat and lower version."
Unable to install to previews android versoin

[2020-03-09 11:52] diegolmello commented on #1848
We support minSDKVersion of 21, which is Android Lollipop 5.0.

[2020-03-09 11:52] #1848 closed

[2020-03-09 12:11] djorkaeffalexandre commented on #1846
@Badal1234, can you give more info? It seems work here:
![](https://media.giphy.com/media/h8CVbk5uhNDRkFMzgC/giphy.gif)

[2020-03-09 12:13] djorkaeffalexandre commented on #1836
@xgdgsc created a certificate using Lets encrypt and all works fine, maybe it was a mistake with the creation of the self signed certificate.
Closing.

[2020-03-09 12:13] #1836 closed

[2020-03-09 12:55] djorkaeffalexandre commented on #1671
It was fixed by #1758.

[2020-03-09 12:55] #1671 closed

[2020-03-09 19:16] novacrazy commented on #1834
Nevermind, the issue has reappeared again today with the latest experimental app update. It even broke the stable app since they used some linked state.

I suppose I'll just have to take a week out of my schedule to update my server since you all can't support anything older than six months.

[2020-03-09 21:02] #1834 closed

[2020-03-09 21:15] novacrazy commented on #1834
You're going to close the issue here without addressing these persistent issues?

I want to be understanding, but when things break for reasons outside of my control, I'd like some answers. Why are there days when the app simply stops functioning? Why would it start functioning again at random intervals without any intervention from myself?

Previously, I didn't even restart the server and eventua

[2020-03-09 21:23] novacrazy commented on #1834
I am still unable to use the app at this moment, whereas yesterday I could, and a couple days before that I couldn't. That is a bug.

Why would the app not recognize what channels are joined? What part of the API has changed between the commit given and current Rocket.Chat that would cause this?

Give me something to work with. All I've taken away from this is that you simply don't care about user

[2020-03-09 21:27] joaomarcostg opened #1852 "Build failed after change bundle name"
- Your Rocket.Chat Experimental app version: 4.5.0
- Device (or Simulator) you're running with: Xiaomi MI 9 ( android 10 )
- Ubuntu 18.04

I'm trying to changle bundle name to be able for publish the app in Play Store. So, I've trying many ways to get on it, lately I've tried to rename all references of 'chat.rocket' to 'chat.clipping' (the name of bundle that I choosed ), but I'm receiving this e

[2020-03-09 21:36] djorkaeffalexandre commented on #1852
You don't need to change this on all places, you can change this only [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/android/app/build.gradle#L137).
You're changing the name of some node modules that was installed using `yarn`, so, when you try build it not will find `chat.clipping.userdefaults.RNUserDefaultsModule` because this not exists, how you can check [here](https

[2020-03-09 21:36] #1852 closed

[2020-03-10 06:14] sarthakpranesh commented on #1839
@djorkaeffalexandre @Prateek93a  What is the expected behavior that we are looking for in this part of the application?

[2020-03-10 07:42] Badal1234 commented on #1825
This problem arises during navigation to 'AttachmentView'.I need more guidance and suggestions on this issue
Thanks

[2020-03-10 09:36] Prateek93a commented on #1839
I don't think any message should pop up since a user left the room him/herself and so it should be similar to leaving any other type of room.

[2020-03-10 09:39] sarthakpranesh commented on #1839
Ok thanks for the input :smile:

[2020-03-10 11:27] diegolmello commented on #1834
Is websocket enabled?

[2020-03-10 11:43] djorkaeffalexandre commented on #1825
Hey @Badal1234, it's exactly on the `AttachmentView`, probably it's related about some thing that we're trying to render that isn't allowed by android, try to remove things, render only void views and see if the modal is shown, after this you will find what is broken and try to understand what's happening.

[2020-03-10 13:00] novacrazy commented on #1834
Yes, in fact, I have a bot that's been connected via websocket for the past few months without failure.

[2020-03-10 16:15] sarthakpranesh commented on #1839
I looked into it a bit
Found out that when we click `Leave channel` RoomActionVIew a function handleRoomRemoved is being called which checks `rid === this.rid` and displays this message.

[2020-03-10 16:24] sarthakpranesh opened #1854 "Unable to leave Public Room"
- Your Rocket.Chat Experimental app version: 4.5.1.9999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Redmi 5

When a user enters a Public room then even after leaving it the room does not disappear from RoomListView and the user is still allowed to send messages in the Room. Even the owner of the room cannot remove this user if they already cl

[2020-03-10 17:20] SLRover opened #1856 "Add integrations.update method"
Hi!

It would be great and convenient if you add for the REST API a new method for integrations:
`/api/v1/integrations.update`

[2020-03-10 18:57] Badal1234 commented on #1825
Hey @djorkaeffalexandre , Thanks for the your comment.Check the commit and let me know your review
Thanks

[2020-03-10 18:58] diegolmello commented on #1834
Ok.
Please, create a test user on your server and send me credentials on https://open.rocket.chat.
I'm `@diego.mello`.

[2020-03-10 19:13] novacrazy commented on #1834
That cannot be done, as the server contains sensitive confidential information.

However, since the build is on Docker, I may be able to spin up an empty clone of it soon. I could also provide you with any redacted debugging information that is requested if given instructions for how to acquire what you need or what to look for (i.e. malformed messages, etc.)

[2020-03-10 19:21] diegolmello commented on #1834
You could add the user to dummy channels.
The issue with asking you for debugging is that I would have to expect from you Android/iOS development background and environment.

[2020-03-10 22:24] titomiky commented on #1804
Sorry for the delay...
The problem was in our installation script and the variable ROOT_URL = localhost instead of our domain.
Thank you!

[2020-03-10 22:24] #1804 closed

[2020-03-11 01:58] Prateek93a commented on #1854
@sarthakpranesh Also I noticed that we get same message as #1839 after leaving public room as well

[2020-03-11 04:28] devyaniChoubey commented on #1691
@diegolmello I found solution of this but it is supported on IOS only and not on android.I am not able to implement this on both android and IOS

[2020-03-11 05:35] sarthakpranesh commented on #1840
I tested this on version 4.5.1.99999999
Looks like it is fixed already in the new version because I am not able to reproduce the error there :smile:

[2020-03-11 11:40] diegolmello commented on #1691
@devyaniChoubey Thanks for letting me know. What's the solution you've found?

[2020-03-11 11:53] Badal1234 commented on #1844
Hey @Prateek93a, this error was actually in renderFooter function of  'roomView' at
if (this.isReadOnly || !room.archived) .
In version 4.5.1.999999 this is solved as
if (this.isReadOnly || room.archived)

Correct my mistake if there any,
Thanks

[2020-03-11 11:58] diegolmello commented on #1844
Just a note here: 4.5.1.999999 means nothing, because it's something you're running on develop and it may point to whatever commit you're after we bumped the version to 4.5.1.

[2020-03-11 12:05] Badal1234 commented on #1844
Thanks @diegolmello  for this information.I think i had mistaken it

[2020-03-11 13:06] #1488 closed

[2020-03-11 13:43] diegolmello commented on #1795
Can you give more details?

[2020-03-11 13:44] #1653 closed

[2020-03-11 15:47] Badal1234 opened #1864 "[FEATURE] Transfer Ownership of the Channel"
- Your Rocket.Chat Experimental app version: 4.5.1.9999999
- Your Rocket.Chat server version: 3.1.0-develop
 Device (or Simulator) you're running with: Honor 9 lite

There is no option for transferring ownership of the channel to another member of the channel.

[2020-03-11 15:53] diegolmello commented on #1864
Not only transfer ownership:
![image](https://user-images.githubusercontent.com/804994/76436568-275f7400-6397-11ea-89e2-2ef6950386b2.png)

We have only `mute` and `conversation` implemented yet.

[2020-03-12 02:37] xuanduyrn opened #1866 "enableHermes: true crash app when release .apk"
android/app/build.gradle
project.ext.react = [
    entryFile: "index.js",
    bundleAssetName: "app.bundle",
    iconFontNames: [ 'custom.ttf' ],
    enableHermes: true,  // clean and rebuild if changing
]

enableHermes: true Works on the develop environment, when release .apk crashes the app when opening the application

[2020-03-12 02:38] dickensdjj opened #1867 "Not showing Chinese characters on channel name in mobile app when language is set to Chinese"
### Description:

I've run the rocket chat on my own server and intend to use as the major team communication for China mainland team. Everything works perfect in desktop app and web app, but on the mobile app (both andriod and IOS), no chinese characters is shown in channel name. Instead, it translates to pinyin, which can be presented in English alphabet.

### Steps to reproduce:

1. Go to Layou

[2020-03-12 02:39] xuanduyrn commented on #1866
@diegolmello how to fixed? pls

[2020-03-12 11:22] diegolmello commented on #1867
We're going to fix it soon.
Thanks for opening, @dickensdjj.

[2020-03-12 15:28] Fishbowler opened #1869 "Mobile app passes incorrect query parameters to Avatar endpoint"
- Your Rocket.Chat Experimental app version: 4.4.0

The app submits [width and height](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/a9e61c5d8b876f69c6e80157b46043ec2a86ba3b/app/containers/Avatar.js#L9) querystring parameters to the Rocket.Chat server when fetching an avatar.

The API doesn't appear to reference the width and height values that the mobile client submits, and instead a

[2020-03-12 22:33] Fishbowler opened #1870 "Stream Room Messages subscriptions pile up"
- Your Rocket.Chat Experimental app version: 4.4.0

On entering a room, the client sends a subscribe to `stream-room-messages` over the websocket connection.
On leaving a room, the client never sends an unsubscribe, meaning the server sends (and the device receives) every message for every channel a user enters during the lifetime of the app.

Worse still, entering a room a few times will duplicat

[2020-03-12 22:37] Fishbowler commented on #1389
Also encountered this.
The required info is there in the response to /api/v1/login request:
`"requirePasswordChange": true`

[2020-03-12 22:47] Fishbowler opened #1871 "App always sends auth for Avatar requests"
- Your Rocket.Chat Experimental app version: 4.4.0

The app never fetches the `Accounts_AvatarBlockUnauthenticatedAccess` setting from the server, and always sends auth for every avatar.

Given that the server doesn't currently support the x-auth headers on the /avatar endpoint that exist for the REST API, these are put on the query string. That's an [OWASP no-no](https://owasp.org/www-community/v

[2020-03-13 11:41] diegolmello commented on #1870
Hi, @Fishbowler .
Thanks for opening.
Do you have more info?
I couldn't reproduce it.

[2020-03-13 12:15] tusharmutreja opened #1874 "No visible @interface for 'RCTKeyCommands' declares the selector 'registerKeyCommand:modifierFlags:discoverabilityTitle:action:'"
facing this issue while building any update?

[2020-03-13 12:18] djorkaeffalexandre commented on #1874
Try `rm -rf node_modules; yarn` and see the logs, maybe some of our patches not worked properly to you.

[2020-03-13 12:23] shivam4ukhandelwal commented on #1874
npm i will not work you need to use yarn for it

[2020-03-13 13:21] Fishbowler commented on #1870
Thanks for replying!
You're right - I can't repro it either any more.
I'll close this until I can get something reliably reproducible. 👍

[2020-03-13 13:21] #1870 closed

[2020-03-13 17:46] devyaniChoubey commented on #1691
Sorry @diegolmello for late reply. But I have read from stackoverflow and that too is about copying an image to clipboard [(https://stackoverflow.com/questions/44347890/react-native-clipboard-how-to-copy-an-image-or-anything-other-than-text)]

[2020-03-14 18:04] monarkh-karina opened #1877 "[FEATURE] Possibility to see everybody who reacted to a message."
- Your Rocket.Chat app version: 4.4.0
- Your Rocket.Chat server version: 3.0.0
- Device (or Simulator) you're running with: Samsung Galaxy J7

Currently it's only possible to see 3 people of all those who reacted to a message/post, the rest won't be shown - would be great to have a full list available.

Some examples:
![WhatsApp Image 2020-04-27 at 16 51 05](https://user-images.githubusercontent.c

[2020-03-14 18:44] monarkh-karina opened #1878 "Receiving push notifications after user session is expired."
- Your Rocket.Chat app version: 4.4.0
- Your Rocket.Chat server version: 3.0.0

**Steps to reproduce:**
1. In Administration -> Accounts set the number of days for "Login Expiration in Days" to 1.
2. Save changes.
3. Send any message to your user on the server in 24 hours.

**Expected behavior:**
You shouldn't receive any push notifications after session is expired and you are logged out of the se

[2020-03-15 16:39] EzequielDeOliveira opened #1879 "[BUG] Opacity of emoji are incorrect in tab of image"
- Your Rocket.Chat Experimental app version: 4.5.1.999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device you're running with: Asus zenfone 3 (ZE552KL) Android 8

![photo5149973767580133431](https://user-images.githubusercontent.com/37127457/76705844-eda5aa80-66c1-11ea-9d7d-8d07a5bfa9fd.jpg)

[2020-03-16 02:29] EzequielDeOliveira opened #1882 "[BUG] Some flag emojis are unrecognized"
- Your Rocket.Chat Experimental app version: 4.5.1.999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device you're running with: Asus zenfone 3 (ZE552KL) Android 8

![WhatsApp Image 2020-03-15 at 23 22 01](https://user-images.githubusercontent.com/37127457/76717954-0179fc80-6714-11ea-8fb2-2c10b159d0da.jpeg)

**I'm working on it**

[2020-03-16 07:14] SaiAshish9 opened #1883 "Unable to resolve module :reactnativenotifications"
![error](https://user-images.githubusercontent.com/43849911/76731568-b7306400-6783-11ea-808a-2834bb338faf.jpg)

Can anyone help me sorting out this issue please?

[2020-03-16 12:11] diegolmello commented on #1883
Make sure you follow the readme.
If it keeps happening, we need more info.

[2020-03-16 12:11] #1883 closed

[2020-03-16 12:36] SaiAshish9 commented on #1883
Hi Diego,Actually I cloned this repo as I wanted to contribute here as a
GSOC participant .
I installed all the packages using the command *npm run install *
and when I tried to test the application on my android simulator using the
command
*npm run android*

It raised the following error :

Cannot choose between following variance of project
:reactnativenotifications

- reactNative59DebugRuntimeE

[2020-03-16 12:47] diegolmello commented on #1883
https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run

[2020-03-16 12:52] diegolmello commented on #1885
Was it fixed by #1862?
It was released as beta for 4.5.1 on TestFlight: https://testflight.apple.com/join/3gcYeoMr

[2020-03-16 15:37] Aaryan-kapur commented on #1705
Can i work on this @diegolmello

[2020-03-16 15:40] Aaryan-kapur commented on #1370
May I work on this?

[2020-03-16 15:48] Aaryan-kapur commented on #1003
May I take this up @djorkaeffalexandre

[2020-03-16 15:54] Aaryan-kapur commented on #1193
If it's available may I take it up?

[2020-03-16 15:57] Aaryan-kapur commented on #1472
If this is available, may i take  this up? @diegolmello

[2020-03-16 16:04] djorkaeffalexandre commented on #1472
@Aaryan-kapur yes you can work on issues that don't have any Pull Requests opened yet or that have opened pull requests and stay without activity, you don't need to ask if you can work on some issue, just open a Pull Request and we'll review your changes.
Thanks.

[2020-03-16 16:14] Aaryan-kapur commented on #1705
I definitely can start working on this!
can you please elaborate on this issue!

[2020-03-16 16:15] Aaryan-kapur commented on #1472
Thank you, sir!

[2020-03-16 16:17] djorkaeffalexandre commented on #1705
@Aaryan-kapur, read how the quick actions work [here](https://github.com/jordanbyron/react-native-quick-actions) and make quick actions to our app with these three functions:
- Add server
- Search rooms
- Last 3 rooms viewed

[2020-03-16 19:55] vitorl-s commented on #1877
I'll work on this

[2020-03-17 11:01] SaiAshish9 commented on #1883
Thank you for your response ☺️

On Mon, Mar 16, 2020, 6:18 PM Diego Mello <notifications@github.com> wrote:

[2020-03-17 12:50] DinDev3 opened #1889 "Option to Search for messages inside chat-rooms & threads"
- Your Rocket.Chat app version: 4.4.0
- Device you're running with: iPhone X

There's no option to search for messages inside a chat-room/ thread in the mobile app. This is a functionality that would come in handy for the user since otherwise, even though there is a search option in the screen which shows the channels, that search gives results from all the channels. Since searching is meant to ma

[2020-03-17 13:26] nikbelikov commented on #1188
Apple will stop accepting submissions of **app updates** that use UIWebView APIs starting from December 2020.

Apple will stop accepting submissions of **new apps** that use UIWebView APIs starting from April 2020.

[2020-03-17 13:27] #1791 closed

[2020-03-17 13:28] diegolmello commented on #1791
No need to rush. Let's remove it later.

[2020-03-17 13:36] diegolmello commented on #1794
First part of the message is related to the server, as you mentioned the other issue.
Second part of the issue is a another feature: https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1099

[2020-03-17 13:36] #1794 closed

[2020-03-17 13:36] diegolmello commented on #1188
@nikbelikov Thanks for letting us know.

[2020-03-17 13:39] diegolmello commented on #1797
I couldn't reproduce it.
Make sure there isn't another app using the mic.

[2020-03-17 13:39] #1797 closed

[2020-03-17 13:42] diegolmello commented on #1806
IMO it's not a good UX. I'm going to let design team know about this and then I reopen if necessary.

[2020-03-17 13:42] #1806 closed

[2020-03-17 13:55] diegolmello commented on #1889
Search is available on Room > Actions.

[2020-03-17 13:55] #1889 closed

[2020-03-17 13:59] #1874 closed

[2020-03-17 14:01] diegolmello commented on #1856
Duplicated of https://github.com/RocketChat/Rocket.Chat/issues/16820 and https://github.com/RocketChat/Rocket.Chat/pull/13618

[2020-03-17 14:01] #1856 closed

[2020-03-17 14:02] diegolmello commented on #1845
There's not enough information to help you.

[2020-03-17 14:02] #1845 closed

[2020-03-17 14:06] Nemental opened #1891 "[BUG] Registration with manually user approval"
- Your Rocket.Chat Experimental app version: 3.5.1.15552
- Your Rocket.Chat server version: 3.0.4
- Device (or Simulator) you're running with: iPhone XS iOS 13.3.1

I changed the registration-setting "manually approve news users" to true. So if a new user is registered, an administrator have to activate the user manually.

The problem is that the user gets this error message in case of a successfu

[2020-03-17 14:12] Nemental commented on #1557
something new here?

[2020-03-17 14:13] Nemental commented on #1795
#1557

[2020-03-17 14:15] Nemental commented on #1091
@diegolmello i think this is a key feature for mobile messenger in 2020 😅

[2020-03-17 14:19] Nemental commented on #1885
- Your Rocket.Chat Experimental app version: 3.5.1.15552
- Your Rocket.Chat server version: 3.0.4
- Device (or Simulator) you're running with: iPhone XS iOS 13.3.1

I also had this problem, now I can play voice messages in silent mode 👍

[2020-03-17 14:32] #1885 closed

[2020-03-17 15:49] diegolmello commented on #1091
@Nemental we're going to implement it on next versions. 4.7 or 4.8.

[2020-03-17 16:14] #1573 closed

[2020-03-17 16:26] #1767 closed

[2020-03-17 17:02] SaiAshish9 commented on #1883
I used the command yarn instead of npm. Now it worked thank you Diego

On Tue, Mar 17, 2020, 4:31 PM Sai Ashish <saiashish3760@gmail.com> wrote:

[2020-03-17 19:55] #1869 closed

[2020-03-17 20:05] Nemental commented on #1091
Yeah thank you, great news 🤙🏼

[2020-03-17 20:19] #1882 closed

[2020-03-17 20:28] DinDev3 commented on #1889
Ohh!! Didn't notice that Actions could be accessed by touching the name of the room.

[2020-03-17 20:42] #1879 closed

[2020-03-17 22:37] regalstreak opened #1892 "[IMPROVEMENT] Update existing old PR Template"
We have a really old PR template, that does not provide much value to the maintainers or any developer that is browsing through the specific pull req. Update it to match the needs of the maintainers, so we get the info that we need out of every PR.

[2020-03-17 23:09] aKn1ghtOut opened #1894 "[BUG] Make Emoji Regex Compatible with Web App"
- Your Rocket.Chat Experimental app version: 4.5.0
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: OnePlus 6 Oxygen OS Version 10.3.2

The emoji matching function in the Rocket.Chat/commonmark.js repository right now only aims to allow "non-word characters" right before an emoji. This means that **a:emojiNameHere:** doesn't contain an emoji. This, howe

[2020-03-17 23:38] regalstreak commented on #1691
We do not usually copy images on Android, but rather download them, or use the share intent to send. Is that not the same with ios? Do you copy images a lot? Is there no similar solution to a share intent on ios?

[2020-03-18 14:18] foss- commented on #1536
This is now https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1811 and it's looking great. Currently in "Need Review" state. Hope RC team can find the time for review soon.

[2020-03-18 15:40] ankar84 opened #1895 "[IMPROVEMENT] Swipe to Quote functionality"
Please add a Swipe to Quote functionality like in Telegram and WhatsApp mobile clients.
It is very convenient.
Related https://forums.rocket.chat/t/mobile-add-swipe-to-left-on-a-message-to-quickly-reply-as-used-by-telegram/2626

[2020-03-18 15:50] djorkaeffalexandre commented on #1895
I think it can be closed, we have other issue with the same proposal, #764, if you want can comment in the other issue, thanks a lot.

[2020-03-18 15:50] #1895 closed

[2020-03-18 16:49] diegolmello commented on #1854
I couldn't reproduce this issue.

[2020-03-19 05:58] devyaniChoubey opened #1899 "Control listening speed of audio messages"

[2020-03-19 06:34] devyaniChoubey commented on #1899
I am working on it

[2020-03-19 06:36] #1899 closed

[2020-03-19 12:46] #881 closed

[2020-03-19 12:46] diegolmello commented on #881
We use Expo now. It's way better.

[2020-03-19 12:53] nikbelikov commented on #1188
Also you need to update https://github.com/react-native-community/react-native-device-info. For example, current version 5.5.3 has no any deprecated UIWebView usage. So these two fixes will do all job with API Usage Warning from Apple.

I've created pull request for https://github.com/wix/react-native-keyboard-tracking-view/pull/32 but it's not viewed yet.

[2020-03-19 12:59] #784 closed

[2020-03-19 13:01] jamping commented on #1867
By the way, if "UI_Allow_room_names_with_special_chars" is set to false and "UTF8_Names_Validation" is specified as a regular expression permitting CJK characters, I feel that the method will work ...

[2020-03-19 14:54] devyaniChoubey opened #1901 "Control listening speed of the audio message"

[2020-03-19 17:49] jeevanpuchakay commented on #1842
I think this issue has been resolved, I'm unable to reproduce this

[2020-03-19 18:30] hheinen opened #1903 "Login to self hosted Server not possible"
## Describe the bug
I've set up an own Rocket.Chat-Server. Webclient works just fine. I wanted to test the Android App. When I enter my credentials and press Login (or however it is called in the english version), it just does nothing. After a short while the Login-Button is pressable again.

I can see incoming traffic in the apache logs of my server. ^

Is there a special port i have to open so t

[2020-03-19 18:43] diegolmello commented on #1903
Is Websocket enabled?
If so, we're going to need more info to help you.

[2020-03-19 18:59] hheinen commented on #1903
Hey, thanks for your response. I've searched the documentation of Rocket.Chat and looked into the Konfiguration of the Server. Can't find anything like that. Sorry to ask but, what exactly do you mean?
And what Info do you need?

[2020-03-19 19:03] hheinen commented on #1903
Sorry, it was a faulty configuration server-side... I'll close the ticket. Sorry and thanks.

[2020-03-19 19:03] #1903 closed

[2020-03-19 21:00] husnaintahir opened #1905 "TypeError: (0 , _$$_REQUIRE(...).defer) is not a function"
- Device (or Simulator) you're running with: All Devices
-  "@rocket.chat/sdk": "^1.0.0-alpha.31"

I am having a trouble with opening the threads that are related to group chat. Following are the logs

`TypeError: (0 , _$$_REQUIRE(...).defer) is not a function

    at Collection.findAndObserve (index.js:65)
    at ThreadMessagesView._this.subscribeData (index.js:96)
    at new ThreadMessagesView (

[2020-03-20 05:44] gitnepal opened #1907 "Android App Crashes while sending message to users/ on channel [security bug]"
## Description
 I found a security vulnerability in Rocket's latest android app by which I was able to remotely crash any  user’s app  instantly just by just sending a simple message in private or in channel. The vulnerability  require the victim open the message.

## Devices and Versions

Rocket.Chat.Android version: (e.g. 4.5.1)

Mobile device model and OS version: (tested on :+1: -- " **Android

[2020-03-20 07:49] sarthakpranesh commented on #1854
So whenever we leave the Public room such as '#sandbox', the room does not disappear from the list of rooms. Also when you re-enter that room the user is still allowed to send messages to that room and the `leave channel` button in the Room Action View also disappears.

app version: 4.5.1.999999999
server version: 3.1.0-develop
device: Redmi 5 ( Android 10 )

[2020-03-20 10:51] sarthakpranesh commented on #1658
Working in the latest develop branch
version: 4.5.1.9999999
server version: 3.1.0-develop
device: Redmi 5 ( Android 10 )

I think this issue can be closed @diegolmello @cygnusm

[2020-03-20 11:33] #1658 closed

[2020-03-20 11:45] diegolmello commented on #1907
I was able to reproduce it.
Error:
[code]

[2020-03-20 11:56] diegolmello commented on #1905
You're running an old version.
Make sure you follow https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run

[2020-03-20 11:56] #1905 closed

[2020-03-20 12:09] lilisako opened #1908 "[QUESTION] How can I set up my own database??"
I'm trying to set up my own database but I couldn't figure out which file to change. Thanks in advance.

[2020-03-20 14:35] #1840 closed

[2020-03-20 16:26] #1907 closed

[2020-03-20 16:38] #1839 closed

[2020-03-21 06:31] akumar1999 commented on #1818
xtilyn,
I did some looking up and found that this is somewhat standard oAuth behavior; as long as you are only logging in from Rocket.Chat, but not the OAuth service (Google, for example), you will never really "log out".

Are you having the problem despite logging out from Google on your phone? In that case I understand how this could be a problem; seems like if I login using Google account 'x',

[2020-03-21 06:53] akumar1999 commented on #1801
Hey, I would like to work on this issue.
Thank you

[2020-03-21 07:31] xtilyn commented on #1818
Hi akumar1999,
My company has implemented their own SSO service with OpenID Connect. The main issue is when a user wants to logout and sign in to a different account, current Rocket Chat does not allow them to do so. Unless we clear app storage, rocket chat will just redirect them back to the old signed in account. I don't really see this as an expected behavior but then again, I'm not that famili

[2020-03-21 08:51] #1908 closed

[2020-03-21 15:41] sarthakpranesh commented on #1801
Hey @akumar1999, nice to see your willingness to work on this issue but I am not sure if this is a legit problem or not. I mean both components are used to search stuff. The only difference is one searches for members and the other for messages.
It's better we wait and have everyone's view on it after that you can work on this issue
@diegolmello can you through some light on this

[2020-03-21 17:30] sarthakpranesh commented on #1846
Hey @Badal1234, the delete option is the last one when you long press.
Follow these steps
1. Upload an Image
2. Long press to open the `Message actions`
3. Scroll through the options to the last option,  it will be the delete option
4. Click on it and the image will be deleted

Please feel free to close this issue as everything is working as expected :smile:

[2020-03-21 17:54] akumar1999 commented on #1801
Hey @sarthakpranesh , Thank you for letting me know. However, I did start working on this but sure. We can wait for others to view it before I make the required changes.

[2020-03-21 19:49] sarthakpranesh commented on #1844
I have been looking into this and found the following
So I created a broadcast room called `testing-2201`
when the room is normally there the following is the object being received

![1](https://user-images.githubusercontent.com/41206172/77235208-e60e6600-6bd9-11ea-8f54-e8970787f6bc.png)

here we can see that the room is a broadcast room as that property is set to `true`
Now when we hide the room

[2020-03-21 19:54] #1846 closed

[2020-03-22 10:59] devyaniChoubey opened #1917 "Show ConfirmationAlert before blocking and unblocking a user"
- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2020-03-22 13:18] gitnepal commented on #1907
hall of fame ?

[2020-03-22 14:34] sarthakpranesh commented on #1427
@Prateek93a @didierm is this issue resolved if not, can you let us know what device did you use @didierm.
Warm regards

[2020-03-22 16:08] sarthakpranesh commented on #1295
Hey @diegolmello @gyverchang , I tested this on the current develop branch it looks like this issue has been resolved :smile:

[2020-03-22 16:14] sarthakpranesh commented on #1129
Hey @diegolmello, what would be the expected behaviour that we are looking for, from our two clients?

[2020-03-22 16:18] sarthakpranesh commented on #1115
Hey @diegolmello @frdmn, I tried to reproduce this error on the current develop branch but wasn't able too. Looks like it is fixed already. I hope this issue can be closed :smile:

[2020-03-22 16:20] #1115 closed

[2020-03-22 16:22] sarthakpranesh commented on #1003
Hey @Aaryan-kapur @djorkaeffalexandre @wreiske, I was trying to reproduce this bug but wasn't able to. It looks like it has been fixed already. If not then can anyone of you provide more info on this, else the issue can be closed :smile:

[2020-03-22 16:28] Aaryan-kapur commented on #1003
It is not an issue that is persistent but one which shows up in occasions, I have been working on this, will put a PR for this tomorrow

[2020-03-22 16:34] sarthakpranesh commented on #1003
Oh great to know that :+1:

[2020-03-22 18:11] didierm commented on #1427
@Prateek93a @sarthakpranesh This still an issue with chat.rocket.reactnative v4.5.1, today tested with Xiaomi Mi9T.
We tested & reproduced previously with several different Android devices (see https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1427#issuecomment-568722042), and have no reason to believe this is linked to a specific device.

[2020-03-22 18:17] corincorvus opened #1920 "New Version (today update) crashes, if in background"
- Your Rocket.Chat Experimental app version: 4.6.0.15775
- Your Rocket.Chat server version: 3.0.2
- Device (or Simulator) you're running with: Android 10, Oneplus 7t Pro

I updated the app today in play store. Now the app crashes while is in background. i dont get any popups or notifications. if i open the app, i see the start rocketchat logo every time. after i see many new messages.

On the last

[2020-03-23 02:59] FreewheelingLive opened #1921 "Avatar change issues"
- Your Rocket.Chat Experimental app version:
- Your Rocket.Chat server version: 3.0.4
- Device (or Simulator) you're running with: android note5

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

I found two problems.

at first, Updating user images does not update other users' apps.
L

[2020-03-23 15:32] djorkaeffalexandre commented on #1427
Hello @didierm!
Can you reach me on `https://open.rocket.chat` with some test credentials to your server, my username is `djorkaeff.alexandre`.
We can't reproduce this here, maybe this is some configuration about usernames that not be handled yet.
Waiting your contact or more info about the username configuration of your server.
Thanks.

[2020-03-23 15:52] sarthakpranesh commented on #1499
The setting of status works on the Production version of the mobile client though :thinking:

[2020-03-23 16:15] diegolmello commented on #1801
I can see your concern, but this is UX and it needs a feedback from our design team.
It's not something the can be fixed by their input.
They're working on something else, but I'll talk to them about it.
I'll let it open, but no need for you guys to work on it right now.

[2020-03-23 16:22] #1295 closed

[2020-03-23 16:22] #1129 closed

[2020-03-23 16:38] diegolmello commented on #1920
I couldn't test here on my Android 10.
Can you give us more data?
Can you install latest official app and confirm only Experimental crashes?

[2020-03-23 16:39] diegolmello commented on #1921
Duplicated of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/441

[2020-03-23 16:39] #1921 closed

[2020-03-23 16:43] #1499 closed

[2020-03-23 16:49] diegolmello commented on #1818
Most of the users may want to keep connected to their 3rd party login services instead of having to enter credentials over and over.
I commented how this could be achieved on your PR.
I'm closing this issue, but feel free to keep the discussion below.
Thanks.

[2020-03-23 17:01] xtilyn commented on #1818
When a user logs in, their session is still kept once they come back to the app (unless their token expires), so they don't have to enter their credentials over and over. But when they want to logout within the lifetime of their token, they can't. I'm not sure how this could be solved by making webview incognito but I will try it out. Thanks for the response!

[2020-03-23 17:30] aKn1ghtOut opened #1926 "[BUG] The ActionSheet menus don't respect theme preferences"
- Your Rocket.Chat Experimental app version: 4.5.0
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: OnePlus 6 and Google Pixel 3 XL Emulator

The "ActionSheet" dialogs do not respect the theming preferences on Android. While the iOS Action Sheets are part of the system and get their colours from the OS preferences, they're a part of the application on A

[2020-03-23 19:00] akumar1999 commented on #1818
Hi @diegolmello, I understand your point that users does not like entering their credentials over and over again. However, while playing around with the OAuth in rocket chat and another 3rd party app (using google for example), I realized that when I logout of rocket chat and when I logout from my google account from my phone which I used to log in, the app does not ask you to re-enter your creden

[2020-03-23 20:19] corincorvus commented on #1920
Official crashes too. I revert to last version and no have crashes.

If i add more servers, i have more crashes. with only one server i dont have issues. i tested it with the official rocketchat server and my server. if i only use my server all is fine. if i add a random or the official server as second, i get crashes without crash report.

[2020-03-23 20:27] diegolmello commented on #1920
We'll need more info than this.
When it crashes? Can you post a gif?
What's a crash that doesn't send a crash report?

[2020-03-23 23:46] regalstreak opened #1928 "[Bug] IP addresses don't work with HTTP Basic Auth"
<img src="https://user-images.githubusercontent.com/7759208/77373514-7c838880-6d8e-11ea-88a6-c6bd73f826d2.png" width="200px" />    <img src="https://user-images.githubusercontent.com/7759208/77373520-81e0d300-6d8e-11ea-88fe-c4575bb363e5.png" width="200px" />

Related:
#1753

[2020-03-24 07:19] corincorvus commented on #1920
I wrote it already. I open the App, all is fine. I minimize the App and if i open the App again after a while, the App was closed and the loadscreen is visible again.

it looks like the battery optimizing who close background Apps, but i disabled it for this Apps.

[2020-03-24 09:00] GOVINDDIXIT opened #1929 "Typo in CreateChannelView"
- There is a typo in CreateChannelView.js

`swithContainer` -> `switchContainer`

[2020-03-24 12:30] ankar84 opened #1932 "[BUG] Mobile application doesn't honor Default Directory Listing setting"
- Your Rocket.Chat Experimental app version: 4.6
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: Xiaomi Mi9 SE

Our users complain about other users search in mobile application.
By default, when you try to search **Directory** it searched **Channels**. But our users much more often are searching other users to communicate.
So, could you please set **Users by

[2020-03-24 12:48] diegolmello commented on #1920
Just to be clear. What you're calling **crash** is not a crash.
You seem to be talking about the OS closing the app in background earlier than it should.
I just tested 4.6.0.15775 on an Android 10 here in background for 10 minutes.
When I resumed, it was opened.

[2020-03-24 12:49] corincorvus commented on #1920
No the OS dont close the app. I disabled the Battery optimizing for this app and while i test it, nextcloud is not optimized too and works fine in the background (you will see it in the notificationbar in this video)

i created a testuser to send me messages. I upload a video in this moment.
i opened the app, i minimized the app. with the webclient on my pc i send "test, test2 3,4,5" and on the fi

[2020-03-24 13:07] diegolmello commented on #1920
Ok. We'll take a look.
Thanks.

[2020-03-24 15:42] regalstreak opened #1936 "[Bug] Images in attachment files view not loading"
- Your Rocket.Chat server version: 12.14.0
- Device (or Simulator) you're running with: Android 10 Emulator

<img src="https://user-images.githubusercontent.com/7759208/77446074-e98d3180-6e13-11ea-938c-3b0eab898988.png" width=300 />

Can anyone reproduce?

[2020-03-24 16:09] Prateek93a commented on #1936
@regalstreak Not able to reproduce it

[2020-03-24 16:15] djorkaeffalexandre commented on #1936
@regalstreak maybe you’re with the basic auth activated, or not? I can’t reproduce here.

[2020-03-24 16:43] regalstreak commented on #1936
Yeah basic auth was on. I'll test with a clean setup again

[2020-03-24 17:02] sarthakpranesh commented on #1111
I tried to produce this error on the current develop branch, it looks like it is fixed :smile: can you guys verify that @geekgonecrazy @diegolmello ?

[2020-03-24 17:07] mriedmann opened #1938 "ITMS-90809: Deprecated API Usage"
Hallo!

Currently, we are building and publishing our own (v3.5.1), slightly modified version (only some assets and push notifications) of this RocketChat Client as internal chat-solution. We are really happy with RC so far (thx for providing it!) and would like to continue using it in that way.

Sadly there is a little issue apple is complaining for some time now:

[code]

I wonder if there is so

[2020-03-24 17:31] phriedrich commented on #1938
This looks like a duplicate of #1188.

And isn't 3.5.1 also still the "old" version of the app? https://github.com/RocketChat/Rocket.Chat.iOS

[2020-03-24 17:54] #1938 closed

[2020-03-24 17:54] diegolmello commented on #1111
Yes, it's fixed. Thanks.

[2020-03-24 17:54] #1111 closed

[2020-03-24 22:52] mriedmann commented on #1938
Thx for the quick response. Missed that one obviously. Also, it's 4.5.1 of course.
Sorry for the noise, keep up the good work!

[2020-03-25 05:13] ankar84 commented on #1932
Server improvement was implemented in https://github.com/RocketChat/Rocket.Chat/pull/11965
And now in web version and desktop client it works very well.
Here is our current setting in Admin US - Accounts:
![image](https://user-images.githubusercontent.com/4023037/77503909-ea53b100-6e6f-11ea-9748-3834be1dae7a.png)
So, now I thinks, that problem is that mobile application doesn't honor that setting.

[2020-03-25 08:09] FreewheelingLive commented on #441
I chose the easy way. Enter any number after the URL. Restart the app. Then the photo has been changed.

[2020-03-25 11:18] frdmn commented on #1691
@regalstreak On iOS, I use the "copy method" across different apps quite often to avoid filling my camera/image roll with temporary media.

[2020-03-25 16:36] corincorvus commented on #1920
Meanwhile i test it with official Rocketchat App.

[2020-03-25 20:03] lucasOlivio opened #1943 "Slow load audio"
- Your Rocket.Chat Experimental app version: 4.3.1
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Android Samsung J7 NEO

Opening here because didn't find any issue similiar.

When I send an audio of more than 2 minutes takes too long to load on the messages, tested in different internets and devices and always the slowness to load bigger audios, also the tim

[2020-03-25 22:25] aleadco commented on #1795
I have several users at my university who have problems playing audios.  Keep in mind that the main problems are evident when you create audio from the application, but if you do it from Windows or from the browser, they can reproduce it.  I have been able to verify the error and it must also be added that the timeline does not advance.  It also usually happens with Android 9

[2020-03-25 22:27] aleadco commented on #1943
I have several users at my university who have problems playing audios.
Keep in mind that the main problems are evident when you create audio from
the application, but if you do it from Windows or from the browser, they
can reproduce it.  I have been able to verify the error and it must also be
added that the timeline does not advance.  It also usually happens with
Android 9

https://github.com/Ro

[2020-03-26 05:49] sarthakpranesh commented on #1854
![image](https://user-images.githubusercontent.com/41206172/77614728-a639dc80-6f53-11ea-9c73-bf14c3987f49.png)

[2020-03-26 07:58] djnews24 opened #1944 "Users will not logout automat when Login Expiration in Days is set"
- Your Rocket.Chat Experimental app version: 4.5.0
- Your Rocket.Chat server version: 2.4.11
- Device (or Simulator) you're running with: Device

Hey guys,

currently we set our Login Expiration in Days to 7 on Rocket.Chat self hosted server.
Users are LDAP Based.

Now we got the Problem thats the User dont see if the Token is expired.
So the App itself just looked like it work but not sync anymor

[2020-03-26 11:27] sarthakpranesh opened #1945 "EmojiPicker missing Header for Each category"
- Your Rocket.Chat Experimental app version: 4.6.0.99999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device (or Simulator) you're running with: Redmi 5

In our Rocket.Chat web application the EmojiPicker has a header text for each category, this lets the user know what is that particular section of emojis are about. This header text is missing in our Rochet.Chat.ReactNative mobile client

[2020-03-26 11:38] sarthakpranesh commented on #1944
hey @djnews24, as far as I understand the app should automatically log out as soon as the user token expires and the app is restarted :thinking:

[2020-03-26 11:46] djnews24 commented on #1944
Yep but it looks like it do not work.

[2020-03-26 11:47] diegolmello commented on #1944
@djnews24 we'll take a look

[2020-03-26 12:46] diegolmello commented on #1932
Good to know.
Thanks for opening, @ankar84 :)

[2020-03-26 12:57] GOVINDDIXIT commented on #1932
@diegolmello I would like to work on this

[2020-03-26 13:14] #1929 closed

[2020-03-26 13:20] #1928 closed

[2020-03-26 16:41] corincorvus commented on #1920
With official App i habe the same Symptome.
A friend was here today. I tested it with his Mi Mix 3. Same Problem with Experimental Version. The App closed randomly after minimize.

My wife dont have this Problem with her P20 pro.