[2017-07-06 11:53] jGleitz opened #1973 "[NEW] KaTeX Support"
Rocket.Chat supports posting [KaTeX](https://github.com/Khan/KaTeX), which will get rendered nicely in the conversation. For us, this is an outstanding feature.

Unfortunately, when posting KaTeX in the native app (e.g. `$x$` or `\[x\]`), it is *not* rendered as KaTeX but stays as it is.

[2017-08-07 12:52] rodrigok opened #1 "Better code structure"
There are some options to improve the code structure:

- [ ] Read the [Building Chatty](https://medium.com/react-native-training/building-chatty-a-whatsapp-clone-with-react-native-and-apollo-part-1-setup-68a02f7e11) to get ideas
- [x] Add redux
- [x] Rename file `meteor.js` to `RocketChat` to encapsulate the API to populate realm
- [x] Separate views to standalone files
- [x] Integrate [Storybook]

[2017-08-07 12:53] rodrigok opened #2 "Upload files"
- [x] Upload Images
- [ ] Upload Videos
- [ ] Upload Files

[2017-08-07 12:53] rodrigok opened #3 "Edit messages"

[2017-08-07 12:53] rodrigok opened #4 "Sync subscriptions"

[2017-08-07 12:53] rodrigok opened #5 "Show user's list"

[2017-08-07 12:54] rodrigok opened #6 "Abstract database calls from components"

[2017-08-07 12:54] rodrigok opened #7 "View: Register new user"

[2017-08-07 12:54] rodrigok opened #8 "View: Create room"

[2017-08-07 12:56] rodrigok opened #9 "Mention autocomplete"

[2017-08-09 20:19] #4 closed, assigned to nobody

[2017-08-09 20:19] rodrigok opened #10 "Filter in room list"

[2017-08-09 20:20] rodrigok opened #11 "Mark room as read"

[2017-08-09 20:20] rodrigok opened #12 "Manage user's status"

[2017-08-10 14:28] rodrigok opened #13 "Support Markdown"

[2017-08-10 14:28] #13 closed, assigned to nobody

[2017-08-10 14:29] rodrigok opened #14 "Support emoji parser"

[2017-08-10 14:29] #14 closed, assigned to nobody

[2017-08-10 15:14] rodrigok opened #15 "Load more messages when reach the top/end"

[2017-08-10 16:16] #10 closed, assigned to sampaiodiego

[2017-08-10 22:35] rodrigok opened #17 "Validate URL when adding new server"

[2017-08-10 23:27] #15 closed, assigned to nobody

[2017-08-11 00:13] sampaiodiego opened #18 "Support to push notifications"
- [ ] iOS support
- [ ] Android support

[2017-08-11 15:47] #17 closed, assigned to nobody

[2017-08-16 16:02] #11 closed, assigned to nobody

[2017-08-17 20:02] gdelavald opened #23 "CSS best practices"
Look into CSS-in-JS solutions like [Glamurous](https://github.com/paypal/glamorous)

[2017-08-31 19:37] gdelavald opened #35 "Refactoring components into presentation/containers"

[2017-08-31 19:41] gdelavald commented on #6
Create a class to abstract the database read/save calls from components, so we don't need to specify them directly in the code with Token/Server info

[2017-08-31 19:42] gdelavald opened #36 "View: User Registration"

[2017-08-31 19:44] gdelavald opened #37 "View: Forgot my Password"
Allow users to ask for password recovery email directly from the app

[2017-08-31 19:46] gdelavald opened #38 "Add components to Storybook"
We should be adding all new components to storybook so we can keep track of styles and different states, using it as a styleguide and a testing platform.

[2017-08-31 19:53] #36 closed

[2017-08-31 20:43] gdelavald opened #39 "Improved Navigation in the App"
Look into possible refactor or replacements for the current navigation library

[2017-09-13 12:33] mnlbox opened #43 "Is it ready for production?"
Hi guys,
Thanks for all of this work.
What is the state of this project? Is it ready for production? I can't find any information about this in README.md

I found this repo accidentally (please pin it to organization for others)

[2017-09-13 12:35] mnlbox commented on #39
I already worked with [react navigation](https://reactnavigation.org/) and it's very lite and powerful for me.

[2017-09-13 14:00] gdelavald commented on #43
@mnlbox Hey, this is still a work in progress, we are planning on releasing soon. We'll update the repo readme accordingly.
Thanks for the interest :)

[2017-09-13 14:01] gdelavald commented on #39
@mnlbox Bingo! We just moved into react-navigation as well, still fixing some issues but it looks very good indeed.

[2017-09-13 14:10] mnlbox commented on #43
Thanks @gdelavald,
I really happy to see RC to move to ReactNative :+1:
Is it possible to say about release date for first stable version?

[2017-09-25 13:12] #39 closed

[2017-09-25 13:14] ggazzo commented on #8
closed by #42

[2017-09-25 13:14] #8 closed

[2017-09-26 09:11] mnlbox opened #45 "Please provide roadmap and feature list for this repo"

[2017-09-28 03:30] yoonzm opened #46 "chrome devtools debug error"
What debugging tools do you use? when I open chrome devtools,console this error,please tell me what can i do.
ERROR:
POST http://localhost:8082/create_session net::ERR_CONNECTION_REFUSED
DOMException: Failed to execute 'send' on 'XMLHttpRequest': Failed to load 'http://localhost:8082/create_session'.(…)
Realm failed to connect to the embedded debug server inside the app
this._lazyCallableModules[n

[2017-09-28 12:01] yoonzm commented on #46
but only is debug android

[2017-10-10 15:46] MehdiMahmoudi opened #48 "Is the project grown enough so that we rebuild our client R.C-based app using the React Native project?"
Hi everyone,

We are considering rewriting our client application (which is a fork from Rocket.Chat) to React Native based on this project.
Knowing that the backend of the RC Meteor app is wired to the rest of our platform with extra customizations to the chat use cases (groups/channels linked to projects and teams, directing to our video call app – similar ton Appear, …etc.), do you think that in

[2017-11-03 13:26] #35 closed

[2017-11-03 13:28] #43 closed

[2017-11-03 17:40] gdelavald commented on #43
We'll update the readme with the release and roadmap.

[2017-11-03 17:41] gdelavald commented on #48
Hey, as this project is still in early phase, we don't recommend it's usage at the current state.
We'll update the readme with the release dates and roadmap as soon as possible.

[2017-11-03 17:41] #48 closed

[2017-11-03 17:55] diegolmello opened #50 "Add servers"
- [ ] add button
- [ ] autoconnect

[2017-11-03 17:56] diegolmello opened #51 "Reconnect Saga"

[2017-11-03 17:56] diegolmello opened #52 "Messages actions"
- [x] delete
- [x] edit
- [x] copy
- [x] permalink
- [x] quote
- [x] starmessage
- [x] pinmessage

[2017-11-03 17:57] diegolmello opened #53 "Login screens: Terms & privacy"

[2017-11-03 17:58] diegolmello opened #54 "Third-party authentication"

[2017-11-03 18:01] diegolmello opened #55 "Messages and attachments types"
- [x] image

- [x] url

- [x] video

- [x] audio

[2017-11-07 16:30] diegolmello opened #58 "Logout"

[2017-11-07 16:30] ggazzo commented on #7
closed by #44

[2017-11-07 16:30] #7 closed

[2017-11-07 16:32] diegolmello opened #59 "Verify if user has username on login"

[2017-11-07 20:56] ggazzo commented on #45
please install [zenhub](https://www.zenhub.com/) and follow this url https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/45#boards?repos=99262683

[2017-11-07 20:56] #45 closed

[2017-11-08 18:09] #58 closed

[2017-11-10 17:55] diegolmello opened #65 "Show correct screen on app resume"
- If user is logged in, app should redirect to rooms list
- Otherwise, it should redirect to server list

[2017-11-13 15:17] #37 closed

[2017-11-13 15:17] #50 closed

[2017-11-13 15:17] #53 closed

[2017-11-13 15:17] #59 closed

[2017-11-13 15:17] #65 closed

[2017-11-13 18:48] rodrigok opened #69 "Share Extension"
https://github.com/alinz/react-native-share-extension

[2017-11-13 18:51] rodrigok opened #70 "Audio recorder"
https://github.com/jsierles/react-native-audio
https://github.com/futurice/react-native-audio-toolkit

[2017-11-13 19:09] diegolmello opened #72 "Android splash screen hiding before app is fully loaded"
https://github.com/crazycodeboy/react-native-splash-screen

[2017-11-14 00:16] ggazzo opened #76 "call readMessages on new messages"
create a saga where each new message calls ``` RocketChat.readMessages(rid);```
you can use a debounce.

[2017-11-14 00:19] ggazzo opened #77 "resend/delete message not sent"

[2017-11-14 11:19] gdelavald opened #78 "Rooms opening twice"
When you double click on a room name, it opens the same room twice (like popups). Leaving the room also requires the back button to be tapped twice in this case.

[2017-11-14 18:13] ggazzo opened #79 "user typing"

[2017-11-14 18:26] #5 closed

[2017-11-15 12:56] theorenck commented on #59
![](https://github.trello.services/images/mini-trello-icon.png) [sasasa](https://trello.com/c/T8hBbQN8/1-sasasa)

[2017-11-20 10:49] diegolmello opened #87 "Messages actions permissions"

[2017-11-21 17:16] ggazzo opened #92 "a better messagebox"
improve this design

- [ ] actions

- [x]  user typing

- [x] textinput autogrow

- [x] icon to send

![image](https://user-images.githubusercontent.com/5263975/33086448-c57f7c9e-cece-11e7-8f92-e0ff38ce3940.png)

[2017-11-21 17:17] #3 closed

[2017-11-21 17:17] #18 closed

[2017-11-21 17:17] #52 closed

[2017-11-21 17:17] #76 closed

[2017-11-21 17:19] ggazzo commented on #54
https://github.com/adamjmcgrath/react-native-simple-auth

[2017-11-21 18:18] ggazzo opened #93 "new header for rooms and room"
![image](https://user-images.githubusercontent.com/5263975/33089372-85c6dd14-ced7-11e7-9504-e9e2868f74c6.png)
![image](https://user-images.githubusercontent.com/5263975/33089378-8ac7f88e-ced7-11e7-97db-accd3fe81c12.png)

[2017-11-21 19:50] ggazzo commented on #46
hey @yoonzm  can you check if we "solved"or "not?

[2017-11-21 20:17] ggazzo opened #94 "Some fixes"
- [x] cancel edit message

- [x] typing(false) on send message

- [x] message action trigger (hold) is a little weird

- [x] better strings on actions

[2017-11-21 23:26] #79 closed

[2017-11-22 12:21] rodrigok commented on #94
Show alert saying `copied to clipboard` when hit the option `permalink`.

Would be better to rename:
- `Permalink` to `Copy Permalink`
- `Copy` to `Copy Message`
- `Star Message` to `Star`
- `Pin Message` to `Pin`

[2017-11-22 12:23] rodrigok commented on #94
When navigate back while editing a message the text keeps yellow

[2017-11-22 16:46] ggazzo commented on #94
about the last one, I think it`s related with` cancel edit message`

[2017-11-22 20:07] diegolmello commented on #94
- [ ] settings being flushed on simulator reload

[2017-11-23 11:23] rodrigok opened #101 "Inline code is not working"
`inline code` is hidden

![img_0604](https://user-images.githubusercontent.com/234261/33170600-ede3090a-d02f-11e7-9d7b-c395439393f8.PNG)

[2017-11-23 11:24] rodrigok opened #102 "Not refreshing room's/message's list when came back from background"

[2017-11-23 11:24] rodrigok opened #103 "Add support for 1Password"

[2017-11-23 11:25] rodrigok opened #104 "Add share option in message's context menu to open the OS share dialog"

[2017-11-23 11:29] rodrigok opened #105 "Add unread line/separator"

[2017-11-23 11:29] rodrigok opened #106 "Add date separators in message's list"

[2017-11-23 11:30] rodrigok opened #107 "Keep favorite rooms on top"

[2017-11-23 11:31] rodrigok opened #108 "Change `Back` to `rooms` at message's screen"
![img_0604](https://user-images.githubusercontent.com/234261/33170848-053d832c-d031-11e7-859d-dc6cf0ffdf37.PNG)

[2017-11-23 11:31] rodrigok opened #109 "Open correct room from push notification"

[2017-11-23 11:32] rodrigok opened #110 "Show user's status on room's list and message view"

[2017-11-23 19:12] #108 closed

[2017-11-27 18:46] #94 closed

[2017-11-27 19:09] #87 closed

[2017-12-01 15:14] #109 closed

[2017-12-01 21:23] #102 closed

[2017-12-01 21:23] #110 closed

[2017-12-02 16:38] rodrigok opened #123 "Add some error tracking like crashlytics or bugsnag"
https://github.com/corymsmith/react-native-fabric
https://docs.bugsnag.com/platforms/react-native/

[2017-12-02 19:35] rodrigok commented on #9
https://github.com/nulrich/RCTAutoComplete

![](https://raw.githubusercontent.com/nulrich/RCTAutoComplete/master/demo.gif)

[2017-12-04 13:57] ggazzo opened #126 "set UserPresence"
manage ` UserPresence `. To avoid user online when app go to background

[2017-12-04 16:00] #55 closed

[2017-12-05 18:17] #126 closed

[2017-12-05 18:18] #12 closed

[2017-12-05 18:20] ggazzo opened #129 "manage users status"

[2017-12-07 13:51] ggazzo commented on #9
@arthurgiustina  @theorenck blocked waiting for design

[2017-12-08 19:22] ggazzo commented on #93
closed by #133

[2017-12-08 19:22] #93 closed

[2017-12-08 19:23] ggazzo commented on #129
closed by #133

[2017-12-08 19:23] #129 closed

[2017-12-08 19:23] ggazzo commented on #92
closed by #130

[2017-12-08 19:23] #92 closed

[2017-12-12 22:31] gkrauze opened #137 "Cannot add custom rocket.chat server"
I have an adding server issue.
I downloaded application from Android Store and I cannot add an url to my own rocket chat server, which is perfectly working with regular - cordova application. I receive an error "is not a valid rocket chat instance". The only server that is correct is https://open.rocket.chat.

Maybe there is something that as an user I can do? Or maybe it is an issue in this app.

[2017-12-13 12:07] diegolmello opened #138 "Better markdown"
Support:
- [ ] Inline code
- [ ] Block code
- [ ] Hashtags: #important
- [ ] Username: @username

[2017-12-13 20:05] #77 closed

[2017-12-13 20:13] ggazzo commented on #137
hey @gkrauze, which version of rocketchat are you using?

[2017-12-14 12:49] diegolmello commented on #101
@rodrigok https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/139

[2017-12-14 18:42] ggazzo opened #141 "Implement E2E encryption"
https://github.com/RocketChat/Rocket.Chat/pull/7181

[2017-12-14 18:48] ggazzo opened #142 "Problems when change server"
loose token/user etc...

[2017-12-17 17:44] GP-S commented on #123
Buglife : [https://www.buglife.com/](https://www.buglife.com/), might be a good idea too at least while in beta (for all graphical bugs and feature request)

[2017-12-19 16:09] #101 closed

[2017-12-19 16:12] #138 closed

[2017-12-19 17:01] #137 closed

[2017-12-21 16:12] #72 closed

[2017-12-21 16:12] #9 closed

[2017-12-21 16:15] diegolmello opened #155 "Splash Screen never disappearing on Android"
It happens after tapping hardware's back button and returning to the app.

[2017-12-21 19:18] #51 closed

[2017-12-21 19:18] #142 closed

[2017-12-22 20:42] ggazzo opened #158 "Mentions are weird"
![image](https://user-images.githubusercontent.com/5263975/34311948-d220177e-e747-11e7-9820-4b5d582cc3da.png)

[2017-12-24 22:26] saketkumar95 opened #160 "Adding templates for issues and Pull Requests"
This will make sure that important information is not missed in the issues.
Also same as those on other Rocket.Chat projects.

@rodrigok @ggazzo Can I work on this?

[2017-12-24 22:32] ggazzo commented on #160
Sure! :)

[2017-12-24 23:14] saketkumar95 opened #162 "Better Project structure"
In the reference to this issue #1

I think we should probably store all the images in the `static/images` folder outside the `/app` for better project structure.

@rodrigok @ggazzo Any suggestions? Can I work on this?

[2017-12-24 23:41] saketkumar95 commented on #123
@rodrigok Can I work on this?

[2017-12-26 14:50] ggazzo commented on #160
closed by #161

[2017-12-26 14:50] #160 closed

[2017-12-26 22:56] ggazzo commented on #162
I can`t see any problem with your suggestion,   @saketkumar95 feel free to contribute :)

[2017-12-26 23:22] saketkumar95 commented on #123
@ggazzo I want to work on this. Can you help me in proceeding?

[2017-12-26 23:34] ggazzo commented on #123
hey, @saketkumar95. yes, I can :)

[2017-12-27 15:27] #162 closed

[2017-12-27 16:49] saketkumar95 opened #166 "New UI design for login,signup and forgot password screen"
The current UI design of login,signup and forgot password screen looks a bit outdated and have some glitches too. We should change the whole UI of these screen first.

@rafaelks @ggazzo Any suggestions with the UI? Should I start the work?

[2017-12-27 16:57] ggazzo commented on #166
@saketkumar95 we have a designer working on new design... but it`s not ready yet =/... for now you can work to fix the bugs that you found. You can open a issue for each bug that you find...

[2017-12-27 17:07] saketkumar95 opened #167 "Use custom tabs to open links on Android (like FB messenger, FB, twitter etc)"
iOS already have better implementation (which looks like custom tabs).

https://developer.chrome.com/multidevice/android/customtabs

@ggazzo Can I work on this? :)

[2017-12-28 00:53] ggazzo opened #169 "Unread count after open a room"
Steps:

- open a room
- talk and receive a message
- returns to home

[2017-12-28 00:54] #155 closed

[2017-12-28 00:55] #6 closed

[2017-12-28 17:40] #167 closed

[2018-01-05 18:48] saketkumar95 opened #171 "Handle when custom tabs and browser is not installed"
There are some cases when we need handle the opening of links if custom tabs or browser is not installed.

[2018-01-05 19:03] saketkumar95 opened #173 "Add Reactotron with the project"
https://github.com/infinitered/reactotron

[2018-01-05 19:18] saketkumar95 commented on #173
@rodrigok @ggazzo What do you guys think about this?

[2018-01-05 19:43] rodrigok commented on #173
@saketkumar95 Looks interesting, I guess @ggazzo was already using it.

[2018-01-06 21:22] geekgonecrazy commented on #158
Even weirder when this happens....

![screenshot_20180106-152110](https://user-images.githubusercontent.com/51996/34644072-6cfd6554-f2f5-11e7-8ab0-d6af277c3e94.png)

[2018-01-06 21:23] geekgonecrazy commented on #158
I've seen the same happen for channels

[2018-01-07 05:22] geekgonecrazy opened #174 "Bold and italics rendered incorrectly"
- Your Rocket.Chat.Android app version: latest commit

- Your Rocket.Chat server version: 0.69.3

- Device model (or emulator) you're running with: Pixel

<!-- e.g. For iOS : iPhone 6 - iOS 11.2

- Steps to reproduce:
Put bold and italics on web or any other client.  Then look on this app to see it rendered wrong
![screenshot_20180106-231755](https://user-images.githubusercontent.com/51996/3464684

[2018-01-08 20:57] geekgonecrazy opened #178 "Gif insert from keyboard"
- Your Rocket.Chat.Android app version: latest

- Your Rocket.Chat server version: 0.60.3

- Device model (or emulator) you're running with: Pixel fully updated

- Steps to reproduce:
Use google keyboard and try to insert gif.

[2018-01-09 03:00] #158 closed

[2018-01-09 09:14] cyclops24 commented on #43
@gdelavald I can't see release and roadmap information in readme file. Are you sure?

[2018-01-09 15:30] jgtoriginal opened #179 "Run Rocket.Chat.ReactNative on Expo"
## Problem
The Rocket.Chat.ReactNative project runs the app in standalone mode, giving developers the possibility to run locally during the development process, but forcing them to run a build and push to the stores in order to share any progress with their final users. This is a huge dependency on the stores app review process, specially on iOS, which might delay several days delivering updates t

[2018-01-09 17:19] diegolmello opened #180 "Emoji picker"

[2018-01-09 19:50] saketkumar95 commented on #179
@ggazzo What are your thoughts on this?

[2018-01-09 20:45] saketkumar95 opened #181 "Use toast for displaying any message"
https://github.com/remobile/react-native-toast

We can use toast for displaying any kind of messages instead of alert dialog.

- [ ] Copy to clipboard messages
- [ ] displaying error messages

and many more user friendly messages.

@rodrigok @ggazzo Any Views?

[2018-01-09 20:47] saketkumar opened #182 "Improvement in lightbox"
Adding some options like :

- [ ] Save to the album
- [ ] Share Image
- [ ] Copy Image Link

in the light box.

[2018-01-10 01:02] rodrigok commented on #181
It looks interesting

[2018-01-10 18:36] diegolmello opened #186 "OnLongPress vibration feedback on Android"
When user presses and hold a message, the app should perform a vibration feedback.
This is a default behaviour on Android ecosystem.

[2018-01-10 19:14] diegolmello opened #187 "Messages not being updated"
- Steps to reproduce
In any room, long press a message you own and edit it. The message will never update.
It happens on delete action too.

This is probably related to #159, after message's shouldComponentUpdate overwrite.

[2018-01-10 21:06] #171 closed

[2018-01-12 09:44] CandyOgre commented on #179
@jgtoriginal have you tried [Fastlane](https://fastlane.tools/)?

- https://fastlane.tools/
- https://dbanck.svbtle.com/deploying-a-react-native-app-with-fastlane
- https://www.udemy.com/automate-your-react-native-releases-with-fastlane-and-bitrise/
- https://medium.com/react-native-training/fastlane-for-react-native-ios-android-app-devops-8ca85bee614e

[2018-01-12 10:17] jgtoriginal commented on #179
@CandyOgre yes, that's what I've been using with [Rocket.Chat.Cordova](https://github.com/RocketChat/Rocket.Chat.Cordova) at the time.
Truth is that Expo does use Faslane, so that's not a problem.
The problem here is that with Expo you do just one release in your life time, and you don't depend on the iOS store approving anything later on. Because you got the 'hot code push' feature, which basical

[2018-01-12 20:08] #173 closed

[2018-01-12 23:33] saketkumar95 opened #189 "Use detox for tests"
https://github.com/wix/detox
@rodrigok @ggazzo Suggestions?

[2018-01-12 23:37] saketkumar95 opened #190 "Implement prettier for the project"
https://github.com/prettier/prettier

[2018-01-13 04:22] saketkumar95 opened #191 "Improve message box"

[2018-01-13 04:31] saketkumar95 commented on #70
@ggazzo Are you working on this? Or should I work and complete this? :)

[2018-01-15 10:30] CandyOgre commented on #179
@jgtoriginal you can use Fastlane without Expo and "got the 'hot code push' feature, which basically allows you to submit updates without the need of store approval"

[2018-01-15 12:32] jgtoriginal commented on #179
@CandyOgre I was not aware of that, can you point any links?

[2018-01-15 13:24] #191 closed

[2018-01-15 14:42] CandyOgre commented on #179
@jgtoriginal I sent you a few links above. Open them and follow instructions

[2018-01-15 16:30] jgtoriginal commented on #179
@CandyOgre oh, my bad!!! sorry, checking now!

[2018-01-15 17:31] ggazzo commented on #179
@saketkumar95... I think use codepush instead expo is better because, sometimes we will use an incompatible dependencies...

[2018-01-15 18:44] #169 closed

[2018-01-15 20:43] #181 closed

[2018-01-16 17:21] diegolmello opened #195 "Improves on emoji picker / message box"
- [x] Emoji picker should be opened "behind" native keyboard (Custom Keyboard)
- [ ] Message box shouldn't use setState
- [x] Interactive dismiss of keyboard using swipe down (iOS)
- [x] Use FlatList on Emoji picker
- [x] Check mentions and autocomplete

This lib could help: https://github.com/wix/react-native-keyboard-input
![image](http://g.recordit.co/NTRkMquWzj.gif)

[2018-01-16 18:48] #180 closed

[2018-01-16 20:27] diegolmello opened #197 "Read only room"

[2018-01-16 20:27] #105 closed

[2018-01-17 12:44] #106 closed

[2018-01-17 13:35] diegolmello opened #199 "Autocomplete with @all and @here"

[2018-01-17 15:52] diegolmello opened #201 "Autocomplete emoji"
- [ ] Use same emoji list as Rocket.Chat's emoji file (https://github.com/RocketChat/Rocket.Chat/blob/develop/packages/rocketchat-emoji-emojione/emojiPicker.js)
- [ ] Refactor emoji picker to use file above
- [ ] List available emojis on messagebox (a merge from emoji list and custom emojis)

[2018-01-17 19:47] cirelramos opened #202 "Could not get unknown property 'VERSIONCODE'"
Start emulator
Start react packager: $ react-native start

when i run emulator: $ react-native run-android  ->
[code]

[2018-01-17 19:56] diegolmello commented on #202
It's not documented, but Circle CI adds VERSIONCODE on android/gradle.properties when build is running.
You should add any integer number for testing purposes.

At android/gradle.properties
[code]

[2018-01-17 20:18] cirelramos commented on #202
thanks @diegolmello  i solved this

[2018-01-17 20:18] #202 closed

[2018-01-17 20:19] saketkumar95 opened #203 "Integrate I18n with React Native"
Add [react-native-i18n](https://github.com/AlexanderZaytsev/react-native-i18n)

[2018-01-17 20:22] cirelramos opened #204 "Execution failed for task ':react-native-fetch-blob:processReleaseResources'"
[code]

[2018-01-17 20:31] diegolmello commented on #204
@cirelramos it seems Android SDK version missing.
Try running build with `--debug` to see more details.

[2018-01-17 21:01] cirelramos commented on #204
[output](https://drive.google.com/open?id=1MN5il0sYB0dPSmy8b0OhU4pT3BvxM-sC)
[picture](https://drive.google.com/open?id=1NJrIKAJtZBSAlSWk68iNjyfD_bACguyh)

`./gradlew installDebug --debug > /tmp/output-send.txt
16:52:32.781 [ERROR] [org.gradle.BuildExceptionReporter]
16:52:32.783 [ERROR] [org.gradle.BuildExceptionReporter] FAILURE: Build failed with an exception.
16:52:32.786 [ERROR] [org.gradle.B

[2018-01-17 21:28] diegolmello commented on #204
[code]

Install SDK version 25.0.1 and try again.

[2018-01-18 03:08] cirelramos commented on #204
i dont understand, i removed the sdk 23.0.1, installed the 25.0.1 and run ./gradlew installDebug --debug, but start again download the sdk 23.0.1 :s wtf

[2018-01-18 18:52] diegolmello opened #207 "Reactions"
- [ ] On long press a message should show `Add reaction` and open an emoji picker
- [ ] Show reactions of messages
- [ ] On press a reaction should toggle that reaction
- [ ] On long press a reaction should show user list

- [ ] Messages with a reaction should show a button to add more reactions
- [ ] Emoji picker performance?

[2018-01-18 23:53] cirelramos opened #208 "react-native-fetch-blob / android "): error = 2, the file or directory does not exist"
**i downloaded the package with npm install, it file or directory exist, what happend? please help!**

Caused by: java.io.IOException: Cannot run program "/home/server/Android/Sdk/build-tools/23.0.1/aapt" (in directory "/home/server/web/others/Roc
ket.Chat.ReactNative/node_modules/react-native-fetch-blob/android"): error=2, No existe el archivo o el directorio
        at net.rubygrapefruit.platfor

[2018-01-19 01:29] geekgonecrazy opened #209 "Subscription with out a name breaks things"
subscription with null for a name on it like:
[code]
causes none of the channels to load.

[2018-01-19 17:16] diegolmello opened #210 "Custom icons"
- [ ] Add custom icons
- [ ] Apply custom icons on entire project
- [ ] Remove react-native-vector-icons from project

[2018-01-19 18:08] saketkumar95 commented on #210
@diegolmello  Will you be working on this?

[2018-01-19 20:26] yashovardhanagrawal commented on #107
can I work on this issue?

[2018-01-19 20:29] saketkumar95 commented on #107
Go ahead ! @yashovardhanagrawal 👍

[2018-01-19 20:44] saketkumar95 commented on #208
@cirelramos This is due to your android sdk problem. update it with adding the libraries.

If you are running a 64-bit version of Ubuntu, you need to install some 32-bit libraries:

`$sudo apt-get install libc6:i386 libncurses5:i386 libstdc++6:i386 lib32z1 libbz2-1.0:i386`

If you are running 64-bit Fedora:

`$sudo yum install zlib.i686 ncurses-libs.i686 bzip2-libs.i686`

[2018-01-19 20:54] geekgonecrazy opened #211 "Last Message on room"
Show last message on room.

Full message object of the last sent message is saved on the room object under lastMessage property

[2018-01-19 21:01] geekgonecrazy commented on #211
Just to poke around on this to see what is up I tried to implement this.

First of all Modifying the room schema:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/realm.js#L51

Added:
[code]

Then realized the `database.objects('rooms')` is completely empty... So I tried to add that.
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/realm.js#L51

[2018-01-19 21:12] geekgonecrazy commented on #211
Or view here: https://github.com/RocketChat/Rocket.Chat.ReactNative/commit/2ec5916593c74e1a16878a0a8f79d705cc458db1

[2018-01-19 22:53] diegolmello commented on #210
I don't know. Talk to Gazzo.

[2018-01-20 07:21] yashovardhanagrawal commented on #107
from what I analyse this should be done in two parts
1. Add marking as favourite option
2. Moving the favourite chats to the top

about implementing the first one, should I create an option on the header inside the chat to mark as a favourite (like a star icon)?

[2018-01-22 13:42] rodrigok opened #215 "[BUG] Open from push notification breaks the app"

[2018-01-22 17:03] saketkumar95 opened #216 "[BUG] Using the Reactotron throws an error"

[2018-01-23 12:23] #186 closed

[2018-01-24 17:08] diegolmello opened #217 "Message Box issues"
- [x] Improve touchable area
- [x] Message box should stay on bottom (not scroll)
- [x] Message box height bug
- [x] Keyboard open
![screen shot 2018-01-24 at 15 03 33](https://user-images.githubusercontent.com/804994/35345862-e0f715ce-0117-11e8-9848-65acfc634363.png)

[2018-01-25 11:57] cirelramos commented on #208
@saketkumar95  thanks :D

[2018-01-25 11:57] #208 closed

[2018-01-25 12:43] #197 closed

[2018-01-25 12:44] #199 closed

[2018-01-25 14:04] #217 closed

[2018-01-30 16:15] diegolmello opened #222 "[iOS] Improve openLink util"
Add https://github.com/naoufal/react-native-safari-view to support SFSafariViewController and open links as a modal.

[2018-01-30 19:48] #187 closed

[2018-01-30 19:48] #207 closed

[2018-01-31 14:48] diegolmello commented on #204
It's an Android installation trouble and it seems and it seems to be solved on #208.
I'm closing.

[2018-01-31 14:48] #204 closed

[2018-01-31 14:50] diegolmello opened #224 "[NEW] Room Actions"
Create a view with all actions available on the room.

- [x] Room info
- [ ] Voice call
- [ ] Video call
- [x] Files
- [x] Members
- [x] Mentions
- [x] Starred
- [x] Search
- [x] Invite users
- [x] Pinned
- [x] Snippets
- [ ] Mute user - members rooms
- [ ] Mute user - direct
- [x] Block user
- [ ] Mute channel
- [x] Leave channel
- [x] Fav room

[2018-01-31 18:58] cirelramos commented on #204
i solved with this -> sudo apt-get install libncurses5:i386 libstdc++6:i386 lib32z1 libbz2-1.0:i386

[2018-02-01 15:20] saketkumar95 commented on #222
@diegolmello I implemented this but Is this really required? I mean the previous one was way better than this. What do you think?

[2018-02-02 10:57] diegolmello commented on #222
@saketkumar95 I disagree.

RN's Linking always opens links on Safari.
That means users leaving Rocket Chat.

react-native-safari-view opens links on a Safari modal inside Rocket Chat.

 Did you open a PR?

[2018-02-06 21:36] geekgonecrazy opened #228 "reply / quote don't work"
The reply and quote options don't work.  Haven't worked for several versions.  The option is there but nothing happens when you click

[2018-02-07 17:24] cardoso opened #1694 "[NEW] Support LiveChat"

[2018-02-08 14:08] #195 closed

[2018-02-08 16:10] #215 closed

[2018-02-10 21:17] saketkumar95 commented on #222
@diegodorgam Yup now I have opened the PR. Do review it.

[2018-02-10 21:42] saketkumar opened #233 "Integrate project with code push"
https://github.com/Microsoft/react-native-code-push

[2018-02-13 23:15] saketkumar95 opened #234 "Show/Hide option in password input"

[2018-02-14 15:48] #222 closed

[2018-02-16 09:26] abhishek71994 commented on #234
Can I work on this? I can get the app set up and contribute in a couple of days. As soon as I get a good internet connection.

[2018-02-16 13:32] saketkumar95 commented on #234
Hi @abhishek71994 , Thanks for your interest on working on this. I completed this issues an will send the PR today. You can check other issues to work on. :)

[2018-02-18 08:06] tonobo opened #237 "App crash during server create"
I've installed the app from play store right now and it will always crash on opening server add dialog.

[2018-02-19 20:10] #201 closed

[2018-02-20 05:33] ggazzo commented on #211
closed by #236

[2018-02-20 05:33] #211 closed

[2018-02-20 05:37] ggazzo commented on #237
hey @tonobo thanks for writing, actually I think, we know this problem, we believe updating react-native to 0.53+ will fix it, could you try use your phone on landscape (just until get logged), and let me know if "solves"?

[2018-02-20 05:41] ggazzo commented on #234
@abhishek71994 feel free to try... :)

[2018-02-20 05:44] tonobo commented on #237
Oh nice, this will fix it ;)

[2018-02-20 14:17] abhishek71994 commented on #234
@ggazzo isn't @saketkumar95 already working on this?

[2018-02-21 14:02] ggazzo commented on #234
@abhishek71994 I dont think so, but even so you can do... and I will see which is better and merge...(or merge both)

[2018-02-23 06:15] kb0304 commented on #70
The current implementation gives an error for mp3 file as `react-native-video` returns `naturalSize.duration` as `-0.001` for it.

@rodrigok @saketkumar95
I would like to work on it. Could you please assign me this issue.

[2018-02-23 06:23] kb0304 opened #243 "Error: Audio mp3 uploads gives Invariant Violation duration < 0"
- Your Rocket.Chat server version: 0.62.0-develop

- Device model (or emulator) you're running with: Nexus 5X - Android 6

- Steps to reproduce:
Using browser, upload a mp3 file from computer in a channel.
Open the channel in app.

The current implementation gives an error for mp3 file as `react-native-video` returns `naturalSize.duration` as -0.001 for it.

[2018-02-23 20:29] #54 closed

[2018-03-02 21:35] ggazzo commented on #237
@tonobo could you try again? :)

[2018-03-03 05:46] tonobo commented on #237
Im unable to reproduce it, because im already logged in

[2018-03-03 05:49] tonobo commented on #237
But i,ve triggered another crash on loading a chat history. I've reported tge feedback. Hope it helps. :)

[2018-03-05 13:44] ggazzo commented on #237
Thanks @tonobo I will close this issue because I`m confident we fixed this problem. :) thanks for the feedback

[2018-03-05 13:44] #237 closed

[2018-03-05 14:14] tonobo commented on #237
Is there any possibility to easily get the application stack trace if it crashes?

[2018-03-07 00:17] #70 closed

[2018-03-07 00:17] #243 closed

[2018-03-14 12:31] dmavrin opened #251 "Gitlab url hardcoded"
- Your Rocket.Chat.Android app version: latest
- Your Rocket.Chat server version: 0.62.2

Gitlab OAuth is limited only to gitlab.com, becouse url is hardcoded (https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/LoginView.js#L109)

Because of my limited knowledge in react-native (and JS), I wasn't able to fixed this issue.

On server add action, server returns all settings

[2018-03-14 14:11] ggazzo commented on #251
hey @dmavrin thanks for writing... sure we will fix it :)

[2018-03-19 07:40] mnlbox commented on #43
@gdelavald, @ggazzo any news about roadmap?

[2018-03-20 16:12] magicbelette opened #253 "Periodically check for new messages"
Rocket.Chat.Android app version: 1.1

Rocket.Chat server version: 0.62.1

Is there a way to get new messages without push notifications and manually check the apps ?

I'd like to avoid the use of Google services and I didn't find a way to periodically pull new messages.

Riot for Android do it with a warning about battery life :
https://matrix.org/docs/guides/faq.html#i-installed-riot-via-f-droid-

[2018-03-20 22:47] diegolmello commented on #253
I think we could do this in the future, but right now we're just developing the main features.

[2018-03-20 22:47] #253 closed

[2018-03-21 08:55] ggazzo commented on #253
@magicbelette actually we don't use push notifications to get new messages, we
 use just to show notifications and when you open your app we get using websockets/ddp... Maybe for now you should fork your code and remove the push code until we find a better way... Any question or problem feel free to ask :)

[2018-03-23 16:55] #216 closed

[2018-03-26 11:47] palmenros opened #255 "URL render error"
- Your Rocket.Chat.Android app version: 1.1

- Your Rocket.Chat server version: 0.62.2

- Device model (or emulator) you're running with: ZUK Edge - Android 7.0

- Steps to reproduce:
Send a message with the text `<http://www.google.com|Test>`. On the web client, the link URL is hidden and only the URL Message (`Test`) is shown, which is what I expect the mobile app to do.
Instead, Rocket Chat RN

[2018-04-01 01:01] #234 closed

[2018-04-03 10:51] SimJoSt commented on #137
I have the same issue.
The server is running 0.62.2.
Rocket.Chat and Rocket.Chat+ connect to it without any problems.
But using the ReactNative app I get `is not a valid Rocket.Chat instance`

[2018-04-03 16:52] diegolmello commented on #123
Fixed on #258

[2018-04-03 16:52] #123 closed

[2018-04-04 12:08] jlozadad opened #260 "hidden rooms appear"
i had hidden a couple of rooms or DM and they don't appear anymore on the web version or the RC+. they do here.

[2018-04-06 11:33] alexfdz commented on #43
+1
Waiting for the roadmap to evaluate the use if RC in our product.

@gdelavald @ggazzo Any timeline for the update?

[2018-04-06 20:34] abhishek71994 commented on #179
I just did this in an application I am making. Should this be done? I can implement the feature.

[2018-04-10 13:03] #78 closed

[2018-04-19 05:20] adam-kulagowski opened #270 "OAUTH is missing"
- Your Rocket.Chat.Android app version: latest from Google Play
- Your Rocket.Chat server version: 0.63.1
- Device model you're running with: BQ M5 + Lineage OS based on Android 7.1

- Steps to reproduce:
Adding codilime.rocket.chat server. Expected to see social logins (Google/custom OAUTH).

[2018-04-20 15:12] ckluis opened #271 "Rocket.Chat.React Native MIT License"
I presume that ReactNative is MIT licensed like the rest of the repositories, but the license is missing in this project.

[2018-04-21 16:12] ggazzo opened #274 "Fix announcements structure"
- Your Rocket.Chat server version: 0.64

- Device model (or emulator) you're running with: ####

![image](https://user-images.githubusercontent.com/5263975/39086118-5d972954-4563-11e8-9515-4a0dc00d8a7d.png)

we should keep working on  < 0.64 servers

[2018-04-21 18:25] ggazzo commented on #271
@ckluis you are right, added the license. thanks :)

[2018-04-21 18:25] #271 closed

[2018-04-24 12:07] ggazzo commented on #274
closed by https://github.com/RocketChat/Rocket.Chat/pull/10554

[2018-04-24 12:07] #274 closed

[2018-04-24 17:17] jberberick opened #276 "wrong repo"
wrong repo

[2018-04-24 17:21] thepowerprocess opened #277 "wrong repo"
wrong repo

[2018-04-24 17:25] jberberick opened #278 "[BUG] Most active channel is at the bottom of the list when sorting by Activity"
- Your Rocket.Chat.Android app version: 2.0.4 Build #2014

- Your Rocket.Chat server version: 63.3

- Device model (or emulator) you're running with: Galaxy S6, Android 7.0

- Steps to reproduce:
1) Set channels to Sort By 'Activity' ('Group by type' can be checked or unchecked)
2) when a channel receives activity (ie. a post) it moves to the bottom of the list.

The most recently active channel s

[2018-04-24 17:30] jberberick opened #279 "[NEW] Show date separator line between posts"
- Your Rocket.Chat.Android app version: 2.0.4 Build #2014

- Your Rocket.Chat server version: 63.3

- Device model (or emulator) you're running with: Galaxy S6, Android 7.0

When a post is made on a different date than the previous post, there should be a separator line that shows the date.  Otherwise there is no way to know what the date is of any post.

**Example:**
POST made before 4/24
-------

[2018-04-24 17:32] #279 closed

[2018-04-24 17:34] jberberick opened #280 "wrong repo"
wrong repo

[2018-04-24 17:38] jberberick opened #281 "wrong repo"
wrong repo

[2018-04-24 18:37] #278 closed

[2018-04-24 18:44] #281 closed

[2018-04-24 18:44] #280 closed

[2018-04-24 18:45] #277 closed, assigned to nobody

[2018-04-24 18:45] jberberick commented on #276
@ggazzo You're right.  Thank you.

[2018-04-24 18:45] #276 closed

[2018-04-25 18:57] diegolmello opened #282 "Deep linking"

[2018-04-25 19:03] ggazzo commented on #260
@jlozadad we fixed it on last version (:

[2018-04-25 19:03] #260 closed

[2018-04-25 19:03] ggazzo commented on #228
fixed :)

[2018-04-25 19:03] #228 closed

[2018-04-26 17:33] diegolmello opened #285 "Changing orientation inside a room doesn't update keyboard bounds"
![apr-26-2018 10-45-57](https://user-images.githubusercontent.com/804994/39309719-167d2188-493f-11e8-90a7-1afef664de40.gif)

[2018-04-27 17:18] karolymarton opened #287 "Mark Rocket.Chat.ReactNative as a "Messenger" app"
- Your Rocket.Chat.ReactNative app version: latest (version 1?)
- Your Rocket.Chat server version: 0.63.3
- Device model (or emulator) you're running with: Samsung Galaxy S8 - Android 8.0.0
- Steps to reproduce:
Neither can I setup a 2nd account (different account for the same chat server) nor can I share URL or something to Rocket.Chat app via native share function of Android. Maybe it's happenin

[2018-05-03 13:55] #166 closed

[2018-05-07 20:41] #255 closed

[2018-05-07 20:43] #282 closed

[2018-05-10 11:15] diegolmello commented on #285
Hi, @harshit98. Of course, you can!
If you have any questions, just reply here 👊

[2018-05-10 18:25] harshit98 commented on #285
@diegolmello While working on this issue, I've observed that if I refresh the app in my simulator (device being in horizontal position) then the message box appears in full-width equal to screen-size of the device and when I rotate the screen to vertical position, the message box covers the full-bottom width of the device but buttons like _microphone and '+' sign (to add files)_ get out of the scr

[2018-05-10 18:44] diegolmello commented on #285
@harshit98 Yes, I already opened an issue on wix/react-native-keyboard-input about it.
I wanted your opinion before I tell you.
Can you investigate iOS code?

I already made a fork for Wix's library here: https://github.com/RocketChat/react-native-keyboard-input

[2018-05-10 18:49] harshit98 commented on #285
@diegolmello I can't investigate the iOS code because I'm not familiar with Objective-C. But yes, I can help the team with other issues under this repository. ✨

[2018-05-10 18:57] diegolmello commented on #285
@harshit98 Thanks, man.

[2018-05-15 19:14] mnlbox opened #295 "How to customize and run compile this for my site?"
Hi,
I want to compile this app for my RC site for both Android and iOS, I want to customize server url, localization strings, some logo and splash, app name, push notification, ...

Can you guide me or refer me to some part of docs?

[2018-05-15 21:36] userbq201 opened #296 "How to use in RN project ?"
How implement rocket realtime api in app ? Is this real ? Only realtime api and custom chat

[2018-05-16 18:21] mnlbox opened #297 "cant run app with npm install and yarn"
- Your Rocket.Chat.Android app version: ---

- Your Rocket.Chat.iOS app version: ---

- Your Rocket.Chat server version: ---

- Device model (or emulator) you're running with: Android

I want to install and run this app. I'm running `npm install` and `yarn` But I got below error:
Can you help me to find issue?

[code]

**The app isn't connecting to your server?**
Make sure your server supports Web

[2018-05-17 16:00] integras commented on #137
Same here: Server 0.63.3

[2018-05-17 19:06] diegolmello commented on #297
@mnlbox Have you tried removing `node_modules` folder and run `npm i` again?

[2018-05-17 19:11] diegolmello commented on #295
@mnlbox Localization are not available yet, but it's very simple to change the appearance of the app.
You will need some React Native experience though.

[2018-05-17 19:28] diegolmello commented on #285
Fixed here: https://github.com/wix/react-native-keyboard-input/issues/49#issuecomment-389850990

[2018-05-17 19:28] #285 closed

[2018-05-17 23:44] userbq201 commented on #296
@diegolmello app with custom chat list and etc. Perhaps register new user ? No email. Only phone number. Or for custom char - rocket bad idea ? No libs for api rocket chat.

[2018-05-19 09:11] mnlbox commented on #297
@diegolmello yes and I also tried use `yarn` but it's not working

[2018-05-22 18:03] diegolmello opened #300 "[NEW] Broadcast Channels"
https://github.com/RocketChat/Rocket.Chat/pull/9950

[2018-05-23 13:07] diegolmello opened #302 "Markdown inline images not working"
Messages with inline images are not rendering images correctly.
Image syntax: `![image title][image url]`

This could be implemented passing `renderImage` prop to EasyMarkdown, like this:
[code]

This issue should take a look on SVG images as well and could be done by checking image url extension and render `Image` component if it's a regular image or another React Native component if it's SVG.
So

[2018-05-23 13:39] #189 closed

[2018-05-25 00:29] #300 closed

[2018-05-25 07:53] mnlbox commented on #297
@diegolmello , @ggazzo Any suggestion??
I can't run this app from source. :disappointed:

[2018-05-25 08:15] mnlbox commented on #297
It's my yarn output:
[code]

[2018-05-25 18:59] mnlbox commented on #297
@ggazzo I'm using node version 10.1.0. Is it related? :thinking:

[2018-05-25 20:30] ggazzo commented on #297
@mnlbox maybe something related https://github.com/realm/realm-js/issues/1813 ?

try install nvm and use v8.9.0

[2018-05-26 06:25] #297 closed, assigned to nobody

[2018-05-26 13:06] mnlbox opened #308 "Execution failed for task ':react-native-audio:compileReleaseJavaWithJavac'. > Could not create an instance of type com.sun.tools.javac.api.JavacTool."
- Your Rocket.Chat.Android app version: develop

I try to install this app but got this error:
[code]

Can you guide me?

**/CC:** @diegolmello , @ggazzo

[2018-05-26 13:07] mnlbox commented on #297
Now I have new error :disappointed:
#308

[2018-05-26 15:53] ggazzo commented on #308
I have no idea :/ maybe something related https://stackoverflow.com/questions/38644173/gradle-errorcould-not-create-an-instance-of-type-com-sun-tools-javac-api-javact?rq=1&utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

???

is something in your environment, I will find a solution ;)

[2018-05-27 09:48] mnlbox commented on #308
Thanks man. I'm switch from OpenJDK 9 to OpenJDK 8 and it's fixed now.

@ggazzo I think it's better to add minimum system requirement to ReadMe file. :thinking:

[2018-05-28 18:45] mnlbox commented on #308
@ggazzo In next step I tried to config fabric but I got this error:
[code]

Have you any idea? :thinking:

[2018-05-28 18:47] ggazzo commented on #308
@diegolmello

[2018-05-28 18:49] ggazzo opened #309 "Audio recording forever"
- Steps to reproduce:

start recording an audio go to the home screen (without cancel)
see the console

[2018-05-28 19:05] diegolmello commented on #308
@mnlbox This is listed here: https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run
It's a fabric configuration file.

[2018-05-28 19:07] #308 closed

[2018-05-28 19:45] mnlbox commented on #308
@diegolmello I read that doc and run fabric configurtion command.
My previouse post show my output.

[2018-05-28 19:54] diegolmello commented on #308
@mnlbox It seems your terminal is not at project's root path or `./scripts/fabric-android.sh` doesn't exists.
It's odd :/

Anyway, this bash goal is to create a file called `fabric.properties` at `./android/app/`.
The file content is as below:
[code]

You need to create a Fabric account in order to do it.
If you don't have one, you can create it [here](https://get.fabric.io/).

[2018-05-29 18:09] mnlbox commented on #308
@diegomello I double check and I'm in a project root and `./scripts/fabric-android.sh` also exists.
It seems that `fabric-android.sh` has error because I got this error on terminal:
[code]

I'm adding my code in `fabric.properties` file manually and it's working now.

[2018-05-29 18:26] mnlbox opened #311 "[FEATURE] Reply Preview"
- Your Rocket.Chat.Android app version: ####

- Your Rocket.Chat.iOS app version: ####

- Your Rocket.Chat server version: http://open.rocket.chat

- Device model (or emulator) you're running with: ####

Hi guys, Please add Reply Preview like: https://github.com/RocketChat/Rocket.Chat/pull/10086

[2018-05-30 12:26] diegolmello opened #314 "Universal links not working"
Receiving this error from iTunes Connect:

[2018-05-30 12:56] ggazzo opened #315 "Placeholders"
- [ ] Roomlist
- [ ] RoomView
- [ ] Pinned/Starred/Search

![image](https://user-images.githubusercontent.com/5263975/40721307-856528f0-63ef-11e8-8716-5343752e4208.png)

[2018-05-30 13:04] ggazzo opened #316 "Drawer"
- [x] select status
- [x] select server

![image](https://user-images.githubusercontent.com/5263975/40721625-6b58d1ae-63f0-11e8-93c5-6579413b76e8.png)

[2018-05-30 13:08] ggazzo opened #317 "Profile Section"
- [x] edit username

- [x] edit password

- [x] edit email
- [x] upload picture
- [x] customfields

- [x] change language

[2018-05-30 18:33] diegolmello commented on #302
Inline images is fixed on #306.
Inline SVG is not a priority right now.

[2018-05-30 18:33] #302 closed

[2018-05-31 07:51] cypa opened #320 "livechat dialogs never loads any message (well once messages was loaded successfully)"
- Your Rocket.Chat.Android app version: I've not found version on any screen, in Play Market it's version 1

- Your Rocket.Chat server version: ####

- Device model (or emulator) you're running with: HUAWEI  T1-701u android 4.4.2
- Steps to reproduce:
open app and try to read chat with cyrillic name - it never loads any message

**The app isn't connecting to your server?**
Make sure your server su

[2018-05-31 10:04] cypa commented on #320
sorry, correction:
livechat messages load take 10+ minute whatever cyrillic or latin name

[2018-06-01 06:52] dead23angel opened #321 "Error react-native run-android"
I want to test on the emulator with android 7.1.1
I run emulator.
I run react-native run-android, there is an assembly and installation on the emulator, upon termination it tries to open Intent, but there is an error

[code]

[2018-06-01 12:45] diegolmello commented on #321
Hi, @dead23angel.
This is a known error.
When running a debug build, we append `.debug` to our appId in order to have both debug and production versions of the app on the same device.
This way we don't have to uninstall versions from Google Play while working on a new feature.

The downside is that the app is not launched automatically after a debug build.
If you take a look at installed apps on y

[2018-06-01 12:45] #321 closed

[2018-06-01 13:46] dead23angel commented on #321
Hi, @diegolmello!
And what can I do to be able to run after the build, since I would like to have the ability to run automatically when locally developed.

[2018-06-01 13:51] diegolmello commented on #321
@dead23angel The app is installed. The only difference is that it won't be opened automatically.

[2018-06-01 17:38] #203 closed

[2018-06-01 21:57] #314 closed

[2018-06-02 02:00] mnlbox commented on #295
@diegolmello I see i18n PR merged and thanks about this.
Can you guide me about how we can embed my server url in app and change landing page from **add server** page to login (or signup)
I want to prevent user to add new server and embed my server url to my app.

[2018-06-02 05:45] ggazzo commented on #295
hey @mnlbox we dont have this feature "done" but its a good opportunity to extend your application to allow customizations and whitelabels, what do you think help us with this? I can try guide you and at the end you could open a(or many) PR!!

look here `app/lib/realm.js`
you can add at the end of the file
[code]

and create a global to hide "Add server" from menu... it`s a beginning.. good luck :

[2018-06-02 05:47] ggazzo commented on #320
@cypa is it just for livechat messages? the another messages are loading fast?

[2018-06-02 06:08] cypa commented on #320
#name channels and privat chats mostly OK, but transient problems exist
livechat dialogs have the problem always with rare exceptions

[2018-06-02 06:26] ggazzo commented on #320
we will check your problem... :)

[2018-06-02 10:46] cypa commented on #320
you need any debug info?

[2018-06-05 01:17] #316 closed

[2018-06-05 14:39] jgtoriginal commented on #179
It might be a good idea for you to go ahead @abhishek71994
Let us know if you make any good progress.

[2018-06-05 14:45] abhishek71994 commented on #179
@jgtoriginal I had backtrack and create the whole thing from scratch as when I was working on my own project, once I added the expo feature the react-native run-ios stopped working. However, I can still try and see if this repo works well with that functionality. @ggazzo any suggestions?

[2018-06-05 15:51] diegolmello commented on #179
@abhishek71994 @jgtoriginal I think Expo won't work with this project, because it uses native modules.
However, if you guys want to implement Code Push to distribute the app easier, it would be awesome.

[2018-06-11 08:36] dachnikrus commented on #308
Hello here. I tried the same, downgraded to Node v9
But I have an error `detox@7.3.5 postinstall: `scripts/postinstall.sh``
What can be wrong?

[2018-06-11 08:37] dachnikrus commented on #297
Hello here. I tried the same, downgraded to Node v9
But I have an error detox@7.3.5 postinstall: scripts/postinstall.sh
What can be wrong?

[2018-06-11 11:43] diegolmello commented on #297
@dachnikrus It seems to be an error on detox's postinstall, but post your entire error here and we'll try to help you.

[2018-06-11 11:50] dachnikrus commented on #297
@diegolmello Hi! I just resolved it with `npm i detox`, so it pushed me further, but I faced another issue with :react-native-push-notification

so, my current error log is like this

[code]

[2018-06-11 11:57] diegolmello commented on #297
@dachnikrus Try this: https://github.com/facebook/react-native/issues/19485#issuecomment-396159044

[2018-06-13 01:33] #317 closed

[2018-06-15 15:39] diegolmello opened #326 "Add E2E for Android"
Our e2e tests are implemented only for iOS.
We need them on Android as well.

There is a branch `detox-android` with a start, but Detox seems to miss full Android integration.
Maybe we can resume from there in a few months.

[2018-06-15 15:56] diegolmello opened #327 "Update Gradle version and targetSdkVersion"
Google will control SDK versions starting August 2018.

[Improving app security and performance on Google Play for years to come](https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html)

November 2018: Updates to existing apps required to target API level 26 or higher.
2019 onwards: Each year the targetSdkVersion requirement will advance. Within one year foll

[2018-06-15 20:47] diegolmello opened #329 "Better message actions"
https://github.com/beefe/react-native-actionsheet works fine on iOS, but is very ugly and performs poorly on Android.
Maybe switch it by https://github.com/yfuks/react-native-action-sheet.
![image](https://user-images.githubusercontent.com/804994/41488835-1a268444-70c4-11e8-87ac-61626a8157d2.png)

[2018-06-20 13:40] #327 closed

[2018-06-22 15:54] irepan opened #335 "fabric-ios and/or fabric-android problem"
Hi,

I have cloned the most recent Rocket.Chat.ReactNative version, at the Develop branch, honestly I need a little more documentation on it, but anyway, following the steps at the README.md, there is a step:

As a I am unable to find further documentation, I figured out the key and secret are gotten from fabric.io but not sure about that, anyway, when I try those commands I get:

[code]

Do someb

[2018-06-22 16:13] diegolmello commented on #335
Hi, @irepan.
This script was developed when we were using yarn and still works using yarn.
I'll fix it soon to work with npm as well.
Until then you can read what those scripts do.

At iOS, we are editing `Info.plist` and creating a file `Fabric.sh`.

[code]

Try running these comands or changing the files manually.
Let me know if everything works.

[2018-06-22 17:06] irepan commented on #335
Thank you,

anyway, I installed yarn, and trying the solution, so the big question here would be, am I ok with the key and secret from fabric.io?

[2018-06-22 17:14] #335 closed

[2018-06-22 17:24] diegolmello commented on #335
Yes, you only need to create your own Fabric.io account and grab your keys.
It's pretty easy.

[2018-06-27 16:44] saketkumar95 commented on #329
@diegolmello How about using https://github.com/expo/react-native-action-sheet this ?

[2018-06-27 17:07] diegolmello commented on #329
@saketkumar95 Hey, man. Expo's version uses a JS based implementation on Android and need a wrapper around entire app in order make it work.
I think it's a little weird.

https://github.com/yfuks/react-native-action-sheet is native (iOS/Android) and needs no render component on the tree. Still needs a work to see if works properly, but it sounds a better choice.
What do you think?
Do you want to c

[2018-06-29 16:29] diegolmello opened #340 "Analyze unnecessary re-renders"
Check with https://github.com/maicki/why-did-you-update

[2018-06-29 17:40] diegolmello opened #341 "Open PDF and other file types"
When the message has a file type different from Image/Video/Audio, the message is rendered empty.
For PDF, we could open the link on a webview or use this lib:
https://github.com/wonday/react-native-pdf

Edit: We should use this PR and parse and show copy-pasted medias, like png and gif.

[2018-06-29 17:54] diegolmello opened #342 "Switch push notification lib"
Our current push notification lib seems to be abandoned.
This can be seen at [#716](https://github.com/zo0r/react-native-push-notification/issues/716), [#575](https://github.com/zo0r/react-native-push-notification/issues/575) and [#727](https://github.com/zo0r/react-native-push-notification/issues/727).

[Wix's react-native-notifications](https://github.com/wix/react-native-notifications) seems to

[2018-07-05 00:44] irepan commented on #295
Hi @ggazzo I have tried this app/lib/realm.js editing solution and it does not work for me at all, probably I'm missing something here, what I did was to add the lines you suggested to the very end of the file, and the response I get is "Can't find the variable database".

[2018-07-07 14:16] mahmodsallam opened #353 "Splash scree n"
when the app running
it build successful
the splash screen show only and the app dont show any thing after this splash screen

[2018-07-09 12:19] diegolmello commented on #353
Hi @mahmodsallam.
Did the bundle finished running on terminal?
What about your environment?

[2018-07-09 13:40] seasick commented on #137
Got the same problem but was able to track it down: The `testServer` function in https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/rocketchat.js#L86 checks for `x-instance-id` header which isn't available in `response.headers`. Instead there is a `X-Instance-ID` header.

I replaced it for testing with `X-Instance-ID` and I was able to connect to our server. Not sure though

[2018-07-09 14:03] diegolmello commented on #137
@seasick Weird. Let's add Aaron to discussion.
@geekgonecrazy What do you think about these `x-instance-id` and `X-Instance-ID` string cases? Should I add another text case test, it's his server configuration or it's a RC bug?

Thanks.

[2018-07-10 10:19] mnlbox commented on #342
@diegolmello, @ggazzo I think [Onesignal](https://github.com/geektimecoil/react-native-onesignal/) also seems good alternative.

[2018-07-10 12:55] seasick commented on #137
@diegolmello, works like expected - i.e. the server is now validating correctly

[2018-07-10 13:40] #342 closed

[2018-07-11 09:40] diegolmello commented on #137
@geekgonecrazy No problem. It's working now. Thanks 👊

[2018-07-11 16:10] markmadlangbayan opened #355 "Running npm install - snyk error"
- latest commit on `develop` branch is `1faf9bf`
- node: v9.4.0
- npm: 6.1.0
- Steps to reproduce:
`npm install`

Error:
[code]

- debug log
[code]

[2018-07-11 16:30] diegolmello commented on #174
@jgtoriginal Yeah, we could change our fork to do that. I'll do that after I finish my current task.

[2018-07-11 16:36] jgtoriginal commented on #174
@diegolmello I just submitted a PR to that repo updating it with the main packages latests updates.
Let me know if you need a hand on this then. Thanks!

[2018-07-11 16:49] markmadlangbayan commented on #355
Awesome, that worked. Thanks!

[2018-07-11 16:49] #355 closed

[2018-07-11 16:56] diegolmello commented on #174
@jgtoriginal Awesome! I'll look into it soon. Thanks!

[2018-07-11 17:11] mahmodsallam opened #356 "ReactNativeJS: undefined is not an object (evaluating 'In[e]')"
Before writing an issue, please make sure you're talking about the native application and not the Cordova one. If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat.Android app version: ####

- Your Rocket.Chat server version: ####

- Device model (or emulator) you're running with: ####

**The app isn'

[2018-07-11 17:19] diegolmello commented on #356
@mahmodsallam There's not enough information.

[2018-07-11 17:19] #356 closed

[2018-07-11 20:44] #353 closed

[2018-07-12 09:43] mahmodsallam commented on #356
only red screen appears
on the physical device
and message on top of it
undefined is not a function (evaluating in[e])
and i dont know what is this ???

[2018-07-12 11:09] mahmodsallam opened #359 "undefined"
Before writing an issue, please make sure you're talking about the native application and not the Cordova one. If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat.Android app version: ####

- Your Rocket.Chat.iOS app version: ####

- Your Rocket.Chat server version: ####

- Device model (or emulator)

[2018-07-12 11:10] mahmodsallam opened #360 "undefined is not a function (evaluating'this_lazyCallableModules[e]()')"
Before writing an issue, please make sure you're talking about the native application and not the Cordova one. If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat.Android app version: ####

- Your Rocket.Chat.iOS app version: ####

- Your Rocket.Chat server version: ####

- Device model (or emulator)

[2018-07-12 12:20] diegolmello commented on #356
@mahmodsallam Make sure you have [installed React Native](https://facebook.github.io/react-native/docs/getting-started.html) properly and followed [How to run](https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run).

If error persists, try [creating a new application](https://facebook.github.io/react-native/docs/getting-started.html#creating-a-new-application) to make sure your environm

[2018-07-12 13:48] diegolmello commented on #46
@lyz19890927 Yes, it's frustrating, but we need a local database and Realm is the best option.
Reactotron helps a lot though.
We've overwritten `console.warn` to use `Reactotron.log`.
You could do the same to `console.log`.

Have you tried Reactotron?

[2018-07-12 13:49] diegolmello commented on #360
@mahmodsallam Before opening a lot of issues, make sure your environment is correctly set.

[2018-07-12 13:49] #360 closed

[2018-07-12 13:50] #359 closed

[2018-07-12 14:19] masterbater opened #361 "'android.enableAapt2' is deprecated and should not be used anymore."

[2018-07-12 16:23] markmadlangbayan opened #362 "How to use storybook?"
So we're trying to use storybook, and followed the `README`.  Without modifying any code, it doesn't work.

[code]
How can we configure Storybook correctly on this project?

Thanks!

[2018-07-12 16:48] diegolmello commented on #362
@markmadlangbayan Our Storybook is very outdated.
We'll update it on next PRs.

[2018-07-12 16:48] #362 closed

[2018-07-12 16:49] masterbater opened #363 "npm run android causes java.lang.NullPointerException"
I installed the ndk r10e for realm, set its path, but its not successfully building,  let me know what is lacking for the dependencies for android, and some problems with android studio 3.1.3
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

* Try:
Run with --info or --debug option to get more log output. Run with --scan to get full insigh

[2018-07-12 19:57] masterbater commented on #363
Solved

[2018-07-12 20:35] #363 closed

[2018-07-12 20:40] diegolmello commented on #361
@masterbater This is a known workaround for new version of gradle.
For example: https://github.com/react-navigation/react-navigation/issues/3097

[2018-07-12 20:40] #361 closed

[2018-07-13 08:12] 1st8 commented on #137
Since this issue is fairly recent, I want to add that connection to a server running under a path, e.g. `https://example.org/chat`, is not possible. It seems this is only due to the Regex.

When issuing the HEAD request to my chat url, it returns the X-Instance-ID correctly, though the app says that it is not a valid Rocket.Chat instance.

Maybe just remove `$` from the regex?

[2018-07-13 10:48] masterbater opened #365 "Use Benjamin-Dobell fork for react native notifications for FCM Integration"
https://github.com/Benjamin-Dobell/react-native-notifications/tree/android-overhaul

[2018-07-13 13:50] masterbater opened #366 "Can you revert to React Navigation?"
Hi, it seems that you moved to React Native Navigation, I would say that there are much more user who used React Navigation and its the library facebook recommended.
You might have to RNN because of its Push Notification library.  Hope you would revert back to react navigation. Cheers!

[2018-07-13 13:50] #365 closed

[2018-07-13 14:15] diegolmello commented on #366
@masterbater We do too much JS work related to websocket events.
We moved away from React Navigation because it's a JS based lib and it was dropping frame rate.
The guys from React Navigation are doing a great job, but it wasn't working for us.

React Native Navigation is 100% native, so it's less work for UI.

There is tons of discussions about RN's navigations libs and I could point several pros

[2018-07-13 14:15] #366 closed

[2018-07-13 14:46] masterbater commented on #366
@diegolmello good work to all of you guys.
I see, i would like to add this to my current app then thats why i wanted to use react navigation, i will migrate my existing codebase this.
I've got an issue though, current develop branch push notifications are not working

[2018-07-13 15:44] diegolmello commented on #366
@masterbater Ok, open an issue about this push notification problem.
It's is working fine using a custom server here.
Can you elaborate more?

[2018-07-13 15:54] masterbater opened #367 "Push Notification Custom Server Not Working"
Hi @diegolmello
I edited
`<meta-data android:name="com.wix.reactnativenotifications.gcmSenderId" android:value="61250997538883\0"/>`

Disabled the default gateway
![screen shot 2018-07-13 at 11 49 15 pm](https://user-images.githubusercontent.com/26339988/42700869-975662c4-86f7-11e8-9853-cccafdb18c97.png)
Added the GCM api and secret
![screen shot 2018-07-13 at 11 50 09 pm](https://user-images.gith

[2018-07-13 17:30] masterbater commented on #367
I found the problem, i tried the LocalNotification of react-navigation-push-notifcation wix and there is an error, "Failed to post notification on channel"  I was using android 8 emulator, then i tried it in marshmallow, remote notifications are working.

[2018-07-15 00:32] masterbater opened #369 "Cannot play video, and video placeholder is Rocket Chat Logo"

[2018-07-15 00:38] masterbater opened #370 "Webrtc Library for React Native"
https://github.com/oney/react-native-webrtc.
Hi You might considering using this library
Are you already working on the audio and video call implementation for react native? I'm excited to see this feature. . I'm considering to add video and audio myself but i need dig up to rocket chat server code to see its implementation.

[2018-07-16 20:47] diegolmello commented on #370
Hi, @masterbater.
I'm not working on it right now.
Do you want do it?
I can help you with server side stuff.

[2018-07-16 20:50] diegolmello commented on #369
@masterbater I need more information about device, version, media type, etc.
Video thumbnail is a RC logo for now, but we've planned to change it to first frame of the video.

[2018-07-16 20:54] diegolmello commented on #329
@saketkumar95 Are you still working on this? It's been 15 days since your last commit and your PR still doesn't pass on lint.

[2018-07-20 19:54] #209 closed

[2018-07-20 19:54] #320 closed

[2018-07-20 19:54] #311 closed

[2018-07-21 23:22] superseby2 commented on #353
@diegolmello I have actually the same issue.
Using branch develop, build seems to finish successfully. App is deployed into emulator.

In the logs,
07-21 23:08:06.118  7662  7662 D ReactNative: ReactInstanceManager.ctor()
07-21 23:08:06.188  7662  7662 D ReactNative: ReactInstanceManager.createReactContextInBackground()
07-21 23:08:06.188  7662  7662 D ReactNative: ReactInstanceManager.recreateRea

[2018-07-22 08:54] himpierre commented on #137
Hello.

Ran into the same problem. Just tried with rocketchat 0.68.0-rc0. Header is still upper case. Workaround for my nginx setup:

[code]

[2018-07-23 07:06] oinadmin opened #376 "The full name is not displayed"
![photo_2018-07-23_09-53-23](https://user-images.githubusercontent.com/39171599/43061982-fd7d3f90-8e5f-11e8-9650-e5c85acc0dbb.jpg)
In desktop client all normal
![rok](https://user-images.githubusercontent.com/39171599/43061903-a9ef4a44-8e5f-11e8-8502-6faead2b2390.jpg)

[2018-07-23 09:54] superseby2 opened #377 "App is built successfullly then launched but, nothing happened but the splash screen being displayed"
Hello,

I ve commented this issue here :
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/353

But I fear it would be unoticed as the issue is closed.  Hence this new issue.

Using branch develop, build seems to finish successfully. App is deployed into emulator.

In the logs,
07-21 23:08:06.118 7662 7662 D ReactNative: ReactInstanceManager.ctor()
07-21 23:08:06.188 7662 7662 D ReactNa

[2018-07-23 11:43] diegolmello commented on #353
@superseby2 Can you make sure Metro bundler is running? If not, you can run it manually with `npm start`.

[2018-07-23 11:44] diegolmello commented on #377
@superseby2 Can you make sure Metro bundler is running? If not, you can run it manually with npm start.

[2018-07-24 18:10] cdhowie opened #378 ""Not a valid Rocket.Chat instance" attempting to connect to our server"
- Your Rocket.Chat.Android app version: Unsure, because I can't even connect to my server and hence can't get to the side menu. It's the latest version from the Google Play store as of today (2018-07-24).
- Your Rocket.Chat server version: 0.66.3
- Device model (or emulator) you're running with: Nexus 6P - Android 8.1.0
- Steps to reproduce: Attempt to connect to server https://rocket.imavex.com -

[2018-07-24 19:08] diegolmello commented on #378
@cdhowie I tried here with a brand new version from Google Play and it works fine with https://rocket.imavex.com
I'm not sure how can I proceed.
Can you help us out by inspecting what is happening?

The test is done here: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/rocketchat.js#L87

Thanks.

[2018-07-24 19:13] cdhowie commented on #378
@diegodorgam Now I'm extremely perplexed because it's working on my phone suddenly.  I've tried various times over the past week (which should rule out typos) and it gave me the same error every time.  I tried using logcat and was unable to retrieve any logs from the app.  So I have no explanation for why it wasn't working before, nor why it suddenly started working the minute I asked for help.  :

[2018-07-24 19:16] diegolmello commented on #378
@cdhowie A new version was released 2018/07/20.
That's may be the reason.
I'm glad that worked :)

[2018-07-24 19:31] cdhowie commented on #378
Interesting. I reinstalled the app this morning, but looking in my notifications, it was auto-updated within the last hour. I guess the rollout to me was slow.

[2018-07-24 19:35] diegolmello opened #380 "Push notification is not working on Android 8"
[code]

[2018-07-25 12:09] seasick commented on #137
@himpierre I believe no changes were made at RocketChat itself, only how the ReactNative client is handling the x-instance-id header.

[2018-07-26 14:19] #380 closed

[2018-07-27 11:16] superseby2 commented on #377
@diegolmello Thanx ! That was it ! I guess Metro Bundler won't be needed when we package the real App package or is it part of the apk once we generate a signed apk ?

Thanks again for your help.

[2018-07-27 11:18] diegolmello commented on #377
@superseby2 Yes, it's only needed on development.

[2018-07-27 19:01] irepan opened #385 "Missing value for property 'subscriptions.name'"
- Your Rocket.Chat server version: 0.66.2

- Device model (or emulator) you're running with: ####

For android: Xiaomi redmiS3 - 6.0.1
- Steps to reproduce:
The App stops working after login, we open it again and again and just breaks, but if we try to login with a different user, it works fine, so far it has happened to 2 different users.

Stack trace
[code]

[2018-07-27 19:08] diegolmello commented on #385
Hi, @irepan!
This is happening because name is required on `realm.js`, but it was fixed on #375.
Are you sure you are up-to-date?

Can you find what is the room object realm is failing to add?

[2018-07-27 21:16] skhizerabass opened #386 "Bypass Server Screen"
I just want to bypass (remove) the server screen
I already have a server and i want user to connect to that server directly.

I tried to add my server in lib/Realm.js . But each time i write my server i get error in log .
Realm Method not found
realm.write(() => {
  	realm.create('servers', { id: 'myserver', current: true }, true);
this was the code i uncommented it

But i really have no idea abou

[2018-07-27 21:22] diegolmello commented on #386
Hi, @skhizerabass.
The code in charge of server creation is this: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/sagas/selectServer.js#L59

Your code is open source?
I could take a look into it.

[2018-07-28 09:04] skhizerabass commented on #386
import { Component } from 'react';
import { Linking } from 'react-native';
import { Navigation } from 'react-native-navigation';
import store from './lib/createStore';

import { appInit } from './actions';
import database from './lib/realm';
import { iconsLoaded } from './Icons';
import { registerScreens } from './views';
import { deepLinkingOpen } from './actions/deepLinking';
import parseQuery f

[2018-07-28 14:18] stinkydiver73 opened #388 "can't connect to a server on subpath"
I have a server on subpath (https://....ddns.net/rchat), works with the web and the native app, this client just says :"is not a valid Rocket.Chat instance".  (The server is behind nginx)

[2018-07-28 15:34] diegolmello commented on #388
I'll take a look

[2018-07-29 18:30] skhizerabass commented on #386
@diegolmello  Can you please guide me how can i connect directly to my server and take user to LoginSignupView directly.

[2018-07-30 13:37] skhizerabass opened #389 "Notification is not working"
Can't send or receive any notification. Followed the instructions But still no success in fixing the notification issues.

[2018-07-30 13:56] #295 closed

[2018-07-30 13:56] #386 closed

[2018-07-30 13:57] diegolmello commented on #386
@skhizerabass Take a look at `single-server` branch.

[2018-07-30 13:59] diegolmello commented on #295
@mnlbox @irepan I created a branch `single-server` to cases like yours.
Check it out.

[2018-07-30 14:02] diegolmello commented on #376
@oinadmin There's a setting we didn't implement yet.
I'll do it in a few days.

[2018-07-30 14:08] diegolmello commented on #389
Hi, @skhizerabass.
As the error says, you set an invalid sender id.

[2018-07-30 14:08] #389 closed

[2018-07-30 14:33] skhizerabass commented on #386
ok Thank you for the reply

[2018-07-30 14:34] skhizerabass commented on #389
@diegolmello I have already double checked my sender ID which i got from the console.  It still gives me this error

[2018-07-30 15:07] skhizerabass commented on #386
@diegolmello  Can you test this branch.
It doesn't work and throws warning.
ReactNative : Disconnected.

Also note this. If you use ListServerView once and try this trick you mentioned. It works only with that, But if you uninstall the application and install solely with these changes it won't work.
I have already tried this before and also tried your branch.
Thank you.

[2018-07-30 15:16] skhizerabass commented on #386
![screen shot 2018-07-30 at 8 12 07 pm](https://user-images.githubusercontent.com/15678235/43406330-6c4cf9da-9435-11e8-9a48-d6c07e5e2074.png)

[2018-07-30 15:33] diegolmello commented on #386
@skhizerabass Did you set your server on `app.json`?
It's working here.
Can you debug to see what's going on for you?

[2018-07-30 16:38] skhizerabass commented on #386
Yes i set that up.
Can you try it with uninstalling the previous version.
and try the fresh installation ?

[2018-07-30 17:30] diegolmello opened #391 "[NEW] Group notifications by room"
- [ ] Group notifications by room
- [ ] Show room icon
- [ ] Reply from notification

[2018-07-30 17:35] skhizerabass commented on #386
![whatsapp image 2018-07-30 at 22 33 56](https://user-images.githubusercontent.com/15678235/43413200-d7d18064-9448-11e8-9ccb-a206d997ccad.jpeg)

Once You Logout this is the error it throws.
Can you check this ?
Thanks

[2018-07-31 06:41] oinadmin commented on #376
ok, thank you

[2018-07-31 07:00] mnlbox commented on #295
@diegolmello Thanks man. I saw that and it seems that it's awesome.
Is it hard to add this as an option? So we can switch between `single-server` and `multi-server` by simple `flag` option set like: `single-server: true`.

[2018-07-31 07:07] mnlbox commented on #308
@diegolmello Please update ReadMe.md and add more info about this. :wink:

[2018-07-31 11:18] mnlbox commented on #43
@gdelavald one year later... :disappointed: :thinking:

[2018-07-31 12:06] diegolmello commented on #295
@mnlbox It can be made, but it's not in our plans to do it right now since we've lots of features to develop.
Are you willing to help us?

[2018-07-31 19:24] skhizerabass commented on #367
@masterbater  Can you help me in configuring this notification?
I have replaced sender ID in manifest which I got from firebase console.
but I still get this error

`08-01 00:01:52.421 17065-17847/? E/ReactNativeNotifs: Failed to retrieve new token
    java.lang.Exception: FATAL: Failed to fetch a fresh new token, instanceId=d6sC-nfoeGE
        at com.wix.reactnativenotifications.gcm.GcmToken.getN

[2018-07-31 19:49] diegolmello commented on #367
@masterbater This Android 8 notification error was fixed in #382 🥇

[2018-07-31 19:50] diegolmello commented on #367
@skhizerabass

We don't support FCM yet. Only GCM.

[2018-07-31 20:17] skhizerabass commented on #367
@diegolmello  Yes I know that And this Sender ID is same in GCM too. I double checked that.
But it is still throwing the same exception and i am not able to send any notification nor i am receiving any. If you can help me in this I will be thankful

[2018-08-01 02:37] masterbater commented on #367
@skhizerabass you can try create a firebase project then go to project settings then in messaging tab. it will work for gcm. also check if your android virtual image has play store or google api, also login your google account. I notice i cant recieved notification if i wont login any google account.  In any case check if local notification works. If its compiling issues dont use jdk10 use jdk 8

[2018-08-01 12:59] #377 closed

[2018-08-01 14:27] diegolmello opened #392 "[NEW] Onboarding"
![image](https://user-images.githubusercontent.com/804994/43527741-a98441a2-957d-11e8-85d0-3103c953875b.png)

[2018-08-01 14:29] diegolmello opened #393 "[NEW] Auto versioning app on Circle CI"
It should version app automatically on Circle CI build process based on `package.json` version.

[2018-08-01 15:37] diegolmello opened #394 "[NEW] Layout"

[2018-08-01 15:38] diegolmello opened #395 "[NEW] Rooms list layout"
![image](https://user-images.githubusercontent.com/804994/43532468-88e48780-9588-11e8-9e42-6643d56f9077.png)

[2018-08-01 15:39] diegolmello opened #396 "[NEW] Settings layout"

[2018-08-01 15:40] diegolmello opened #397 "[NEW] Message layout"
![image](https://user-images.githubusercontent.com/804994/43534139-ff1b22f2-958c-11e8-9552-3f28831ba517.png)

[2018-08-01 15:41] diegolmello opened #398 "[NEW] Add empty chat background"
![image](https://user-images.githubusercontent.com/804994/43534160-0bdee53c-958d-11e8-94fd-88f2b81a194b.png)

[2018-08-01 15:41] diegolmello opened #399 "[NEW] Splash screen"
![image](https://user-images.githubusercontent.com/804994/43534175-1dd5aef6-958d-11e8-9a0a-dd8fbf7e1c96.png)

[2018-08-01 15:42] diegolmello opened #400 "[NEW] Login/Register/Forgot Password layout"
![image](https://user-images.githubusercontent.com/804994/43534311-6647941a-958d-11e8-9660-f7fa45b819af.png)

[2018-08-01 15:42] diegolmello opened #401 "[NEW] Create channel layout"
![image](https://user-images.githubusercontent.com/804994/43534390-9e6e21e2-958d-11e8-9527-a8b6ceef4c9b.png)
![image](https://user-images.githubusercontent.com/804994/43534359-8dc289aa-958d-11e8-94fa-5305925e18dc.png)
![image](https://user-images.githubusercontent.com/804994/43534368-9215b342-958d-11e8-976f-abdce5f1fad0.png)

[2018-08-01 15:42] diegolmello opened #402 "[NEW] Contextual bar layout"
![image](https://user-images.githubusercontent.com/804994/43534427-b73dfa30-958d-11e8-98c5-023bb5f4cabd.png)
![image](https://user-images.githubusercontent.com/804994/43534459-c9875b14-958d-11e8-91fc-4ff707973dda.png)

[2018-08-01 16:22] diegolmello opened #403 "[Android] Adaptive icons"

[2018-08-01 16:23] diegolmello opened #404 "[Android] Add Fastlane"

[2018-08-01 16:29] diegolmello opened #405 "[NEW] Slash Commands"
![image](https://user-images.githubusercontent.com/804994/43534898-d97c81d8-958e-11e8-92cf-ef424198be4f.png)

[2018-08-02 17:38] irepan commented on #385
Yes, this was fixed, thank you

[2018-08-02 17:38] #385 closed

[2018-08-02 19:41] skhizerabass commented on #367
Ok I somehow have created the device token using FCM. But now the problem is I sometimes receive notifications and most of the times I don't receive them. While on my web It is working very smoothly

[2018-08-05 17:40] skhizerabass opened #408 "Can we sync Rooms chat when we receive a notification"
I have noticed that if we open a notification . Server takes sometime to load that message in a room. Is there any solution to sync it once we get the notification .
Thank you

[2018-08-05 17:46] skhizerabass commented on #408
I want it to sync at a time I receive the notification

[2018-08-06 11:55] diegolmello commented on #408
@skhizerabass It's already in sync. If you've received a notifications you don't have a opened connection anymore. When you tap on it, app opens a new connection then it requests room's messages.

[2018-08-06 11:55] #408 closed

[2018-08-06 12:27] mnlbox commented on #295
@diegolmello I want to help but I think we need more expert developers for doing this or If you have a little time please guide me to how to do this to contribute. :wink:

[2018-08-08 06:38] mnlbox commented on #341
I love it's idea guys. Thanks for anything :wink:

[2018-08-09 01:10] geekgonecrazy opened #410 "Only single attachment rendered"
- Your Rocket.Chat.Android app version: latest from playstore

- Your Rocket.Chat server version: 0.69.0-devwlop (open.rocket.chat)

- Device model (or emulator) you're running with: pixel XL Android 9.0

- Steps to reproduce:
View message with multiple attachments

Gave this a shot because we have a few integrations that send reports.  The native Android app doesn't support any field based attach

[2018-08-09 10:06] navratanp7737 opened #411 "An issue with implementing Push Notification for ios."
Hi ,

I am trying to implement Push Notification with the ios app, as I tested the .pem file its ok and I am able to send push notification but as I am unable to get the push notification from rocket chat app. In fact, I don’t find any guide for how to activate push notification with rocket chat.

Here are the steps i followed.

Here are my rocket chat push settings :
![15 towerchat 1](https://use

[2018-08-10 13:17] #398 closed

[2018-08-10 17:26] #392 closed

[2018-08-10 18:50] #399 closed

[2018-08-19 11:59] saadqbal opened #416 "User Status always online"
-Rocket.Chat server version: 0.67.0
- Remote Mongodb with Replication enabled
--
**My Rocket chat version is 0.67.0**

I have setup a remote Mongodb and enabled Replication on it
The user shows Status online even if the user logs out
or even if the app is completely deleted from the phone.

I haven't made any changes to the server code.

Can anyone help?

[2018-08-20 11:33] diegolmello commented on #416
@saadqbal Does it happen on the web too?

[2018-08-20 11:46] saadqbal commented on #416
Yup. On the web too

[2018-08-20 11:54] diegolmello commented on #416
This issue is related to the [server repo](https://github.com/RocketChat/Rocket.Chat).
I'm closing this issue.

Can you open it there or check if anyone is suffering from the same behaviour?
Thanks!

[2018-08-20 11:54] #416 closed

[2018-08-21 12:08] stinkydiver73 commented on #388
It's not updated on Google Play for me.

[2018-08-21 19:37] #410 closed

[2018-08-24 18:57] thisEdgarMarquez opened #419 "Problem receiving message notifications"
Hello, I would like to share this small problem that I am trying to solve in my mobile application and that has the notifications that I have already sent messages to the user connected to my mobile device and notifications and I believe that they have notification settings.

Then attach some images of the page

![captura de pantalla de 2018-08-24 14-51-18](https://user-images.githubusercontent.co

[2018-08-30 12:17] diegolmello commented on #388
@stinkydiver73 Can you ping me at open.rocket.chat with details about your server?
With access to one user I can help you more.

[2018-08-30 15:27] stinkydiver73 commented on #388
details sent. As you will see, now i have a cname for Rocket.Chat, so this subpath feature is not important anymore (a .club domain is $1.17/year). It have problem with zapier too (it's not cross checked without subpath).

[2018-08-31 16:46] #395 closed

[2018-08-31 18:13] #401 closed

[2018-09-01 09:13] saadqbal commented on #411
Try Setting the **Enable Gateway** to false.

[2018-09-03 15:33] irepan opened #424 "Script is missing on develop branch"
When I try to do npm install it throws up an error, seems that there is one script missing under scripts folder

[code]

And if I run the command with the error, I get this:

[code]

[2018-09-03 15:54] diegolmello commented on #424
@irepan The error says detox lib couldn't find that script.
This is something on your environment.
Check detox github issues like this: https://github.com/wix/Detox/issues/627

[2018-09-03 15:54] #424 closed

[2018-09-03 16:14] irepan commented on #424
Isn’t that script part of the Project/scripts folder?

De: Diego Mello <notifications@github.com>
Responder a: "RocketChat/Rocket.Chat.ReactNative" <reply@reply.github.com>
Fecha: lunes, 3 de septiembre de 2018, 10:54
Para: "RocketChat/Rocket.Chat.ReactNative" <Rocket.Chat.ReactNative@noreply.github.com>
CC: irepan <irepitan@gmail.com>, Mention <mention@noreply.github.com>
Asunto: Re: [RocketChat/

[2018-09-05 20:26] #296 closed

[2018-09-06 07:10] aba-rechsteiner opened #428 "authentication via SAML is missing"
- Your Rocket.Chat.Android app version: 1.1.1
- Your Rocket.Chat server version: 0.69.0

- Device model (or emulator) you're running with: OnePlus 5 - Android 8.1.0

- Steps to reproduce:
setup authentication via SAML

[2018-09-06 15:30] diegolmello opened #429 "[Android] Animated custom emojis won't animate on markdown"
It's a known React Native bug: https://github.com/facebook/react-native/issues/19429

Our markdown is a `<Text>` wrapper like this:
[code]

[2018-09-07 07:03] oinadmin commented on #376
Answer please when this will be implemented

[2018-09-11 16:32] #397 closed

[2018-09-12 12:11] diegolmello commented on #376
@oinadmin It's on master and Google Play already. Check it out!

[2018-09-12 12:11] #376 closed

[2018-09-13 07:59] mnlbox opened #435 "[BUG] Markdown render not correct"
Hi guys, It seems markdown render not correct in React Native version.

- Your Rocket.Chat.Android app version:
#### Latest

- Your Rocket.Chat.iOS app version:
#### Latest

- Your Rocket.Chat server version:
#### 0.70.0-develop

- Device model (or emulator) you're running with:
#### LG Q6 - Android 7.1.1

send message contain markdown (for example `*hi* RC`) it's showing well in web version as a

[2018-09-13 08:04] mnlbox opened #436 "Handle deleted messages"
Hi guys, I'm trying to remove some message from web version but message still show in React Native version. I try to close and re-open app and logout and re-connect to server then after open my chat page message updated successfully. I think we need some real-time update check here.

- Your Rocket.Chat.Android app version:
#### Latest

- Your Rocket.Chat.iOS app version:
#### Latest

- Your Rocket

[2018-09-13 08:08] mnlbox opened #437 "[Improvment] Show room Topic and Announcement in room info page"
Hi guys,

It seems that now `Room Info` page is very empty (just showing time zone) I think add Topic and Announcement can be very useful there.

Thanks for your attention.

[2018-09-13 08:12] mnlbox opened #438 "[BUG] Can't send voice message"
Hi guys, I'm trying to send some voice message but app return this error to me:
[code]

- Your Rocket.Chat.Android app version:
#### Latest

- Your Rocket.Chat.iOS app version:
#### Latest

- Your Rocket.Chat server version:
#### 0.70.0-develop

- Device model (or emulator) you're running with:
#### LG Q6 - Android 7.1.1

- Steps to reproduce:
1. Click voice message button in message (room) page
2

[2018-09-13 10:01] mnlbox opened #439 "[Improvment] Keep single server up-to-date (merge/rebase code + config docs)"
Hi guys,
[Single server branch](https://github.com/RocketChat/Rocket.Chat.ReactNative/tree/single-server) can be very useful for many people like me. I suggest to keep it up-to-date and merge/rebase main branch with that.
Also I think we need some extra info in ReadMe file because based on [ReadMe](https://github.com/RocketChat/Rocket.Chat.ReactNative#running-single-server):

But I can't find any

[2018-09-13 11:52] diegolmello commented on #435
#174

[2018-09-13 11:52] #435 closed

[2018-09-13 11:57] diegolmello commented on #437
@mnlbox `Room Info` is different to direct and other room types.
Direct shows the user role and timezone.
Other room types shows description, topic and announcement.
![image](https://user-images.githubusercontent.com/804994/45486840-e3a09580-b732-11e8-8388-6ba73ead88f5.png)

[2018-09-13 11:57] #437 closed

[2018-09-13 12:01] diegolmello commented on #439
@mnlbox There isn't much info to add at Readme, but it's there.

If you want to keep single server up-to-date, you can help us opening PRs to do it so.

[2018-09-13 12:01] #439 closed

[2018-09-13 18:02] saadqbal opened #440 "App never builds in release on iOS"
I have setup everything:
My App_ID Application Services: Associated Domains, Push Notifications, Game Center(enabled by default), In-App Purchase (enabled by default)

I have created a Appstore distribution provision profile and its showing no error in xcode.

When I build the app in debug mode, it works on both emulator and real device.

But when I run the app in release mode, xcode shows the fol

[2018-09-13 18:39] mnlbox commented on #437
@diegolmello why dm and other not same?
In web version we also have topic and announcment for dm?

[2018-09-13 20:28] skhizerabass opened #441 "Avatar images doesn't refresh"
Please can you test this app on Android devices. Avatar uploading doesn't work on android. I have installed the latest version from playstore but it is not uploading my avatar.

[2018-09-13 20:30] diegolmello commented on #438
@mnlbox It's working here. Can you send your error stack?

[2018-09-13 20:30] #438 closed

[2018-09-13 20:38] diegolmello commented on #441
@skhizerabass It's a known bug.
Currently this is a limitation in the image caching lib we're using: see https://github.com/DylanVann/react-native-fast-image/issues/197#issuecomment-385333467

We're open to PRs or even to react-native-fast-image PR fixing this error.
I'll leave this issue open until it's fixed.

[2018-09-13 20:43] skhizerabass commented on #441
I believe it never uploads the avatar on server. Because i never get any response from server Nor it changes even after uninstalling and reinstalling the app.
Can you look into this issue ?

[2018-09-13 20:46] diegolmello commented on #441
@skhizerabass Sure. I'll take a look as soon as react-native-fast-image is fixed too.

[2018-09-14 13:57] saadqbal commented on #440
@diegolmello Can you please help? The does not run on a device in release mode. It shows "**The executable was signed with invalid entitlements.**". If I archive the app and upload it to the appstore anyways, it stuck on the splash screen.

[2018-09-14 14:35] saadqbal commented on #440
If you change signing to "Automatically manage signing", the build succeeds but the app stuck on splash screen. I am on the same wifi.

If I run the app in debug mode, it runs fine.

[2018-09-14 15:51] diegolmello commented on #440
@saadqbal You should debug your phone log to see what's going on.

[2018-09-17 12:16] diegolmello opened #446 "Stop supporting Android 4.4 and lower"
react-native-navigation don't support it (https://github.com/wix/react-native-navigation/issues/1998#issuecomment-356838715) and it's causing crashes.

[2018-09-17 20:53] diegolmello commented on #436
@mnlbox Your server delete messages completely (without showing "Message removed"), right?
That's a setting we're not following in the app yet.

[2018-09-18 03:14] mnlbox commented on #436
@diegolmello Yes I think I delete message with these two scenario:
1. **purne message** button in rooms or channel
2. Through API (`clearHistory`)

I can check remove button on each message if you want man.

[2018-09-19 13:01] #446 closed

[2018-09-23 07:01] mnlbox commented on #386
@skhizerabass any news?

[2018-09-23 07:04] mnlbox commented on #437
@diegolmello Any idea?

**/CC:** @ggazzo

[2018-09-23 09:47] skhizerabass opened #455 "Typing Indicator not working"
Typing indicator only works if I type from web app but if I use react native app it doesn't show the typing indicator. I tried to debug it Checked the emitTyping method and it is calling everything. Also tried checking whether the user is subscribing to the room or not, but it does. If you can guide me on this it will be really helpful . I will look into those files. Till now I have noticed that t

[2018-09-24 11:59] diegolmello commented on #455
@skhizerabass I need more info. A gif or video would help.

[2018-09-25 02:47] steve-todorov opened #458 "Empty message is displayed when it contains only a link"
- Your Rocket.Chat.Android app version: ####
Experimental version (2018-09-19)

- Your Rocket.Chat server version: ####
0.69.1

- Device model (or emulator) you're running with: ####
Android 7.1

- Steps to reproduce:
1. Create a testing channel
2. Send the following message: [ abc ] ( somewhere ) <- remove white space
3. Results in a message which contains nothing in the android app. However, if

[2018-09-25 12:15] diegolmello commented on #458
@steve-todorov Thanks for reporting :)

[2018-09-26 07:00] mnlbox commented on #436
@diegolmello any news?

[2018-09-28 08:27] brunogain opened #467 "Giphy not showing"
We are using:

https://github.com/FinndropStudios/GifRocket

Giphy shows as a blank image.

Rocket.Chat.Android app version:
1.3.2.4272

- Device model (or emulator) you're running with:
Huawei P9 lite Android 7.0

- Steps to reproduce:
1. Add a new message "!gif monkey"
2. The bot will answer with an animated gif, which appears in the Stable mobile app and using the web browser.
3. On RocketChatR

[2018-09-28 18:57] #436 closed

[2018-09-29 23:02] localguru commented on #428
Yes! +1

[2018-09-30 09:38] mnlbox commented on #436
@diegolmello Thanks man :wink:

[2018-10-01 16:50] diegolmello commented on #467
@FaizanZahid Thanks, man! :)

[2018-10-09 23:09] q210 opened #479 "Malformed reply message in rooms and chats with unicode or spaces in names"
Hello, thank you for this work.

In our local Rocket.Chat server deployment we've allowed Russian names for chat rooms and channels via `UTF8 Names Validation` setting in Admin  panel (we've set its value to `[0-9а-яА-Яa-zA-Z-_.\s?!]+`)

This led to the following issue in RN client:
When replying to messages in rooms and channels with russian characters in the room name from RN client you'll see j

[2018-10-09 23:31] q210 commented on #411
Disabling gateway helped for iOS push notifications in our case too - we've deployed local rocket.chat server and built RN client for it - up until we needed to add Google FCM push notifications capability.

Sadly, Rocket.Chat server only supports deprecated Google GCM push notifications right now, and I've not found any way for FCM keys to work when setting them from Admin Panel.
In the end, we'v

[2018-10-10 11:00] diegolmello commented on #479
@q210 Thanks for this report! It'll be very helpful if you fix this (and another errors you find) since it's cyrillic and I wouldn't be able to find errors.

[2018-10-10 17:13] #403 closed

[2018-10-10 17:14] #107 closed

[2018-10-12 01:11] bo17age commented on #370
Hello @diegolmello i would like to implement Video chat (using Jitsi as in Web version).
Is it ok and how to collaborate with you on this?

[2018-10-12 14:20] q210 commented on #479
@diegolmello  I'm fairly sure this bug will be reproducible with any non-ascii room name (or even just room name with spaces), but I'll try

[2018-10-12 15:45] diegolmello commented on #370
@bo17age Of course. Thanks!

[2018-10-13 07:36] bo17age commented on #370
@diegolmello  I'm working on this now !

[2018-10-17 13:18] dano0b opened #491 "app crash when search"
- Your Rocket.Chat.Android app version: 1.4.1.4576

- Your Rocket.Chat server version: cloud rocket.chat

- Device model (or emulator) you're running with: Nokia 8 - Android 8.1.0

- Steps to reproduce: click search icon

App crashes directly when trying to search

[2018-10-17 13:20] diegolmello commented on #491
@dano0b Thanks. I'll fix it soon.

[2018-10-17 16:30] #491 closed

[2018-10-17 16:49] diegolmello commented on #491
@dano0b Just submitted 1.4.2 to Google Play. It should appear in a few.
Let me know if it's working for you.

[2018-10-18 00:13] dano0b commented on #491
Sorry for the late response(Bangkok Timezone...), search works again. Thanks @diegolmello

[2018-10-23 02:50] achilles-kosun opened #502 "I18n: Add Simplified Chinese(zh-CN) locale"
Support Simplified Chinese should be very meaningful for users whom from China.

We are gonna create a Pull request for this.

[2018-10-23 04:12] ggazzo commented on #502
hey @achilles-kosun please do that, pull requests are very welcome (:

[2018-10-24 19:10] #502 closed

[2018-10-29 16:04] diegolmello opened #517 "Run react-native run-android crash"
*This bug happens on Android development only*

We're using native icons everywhere in the app, but this is a limitation of react-native-navigation on header buttons when running in dev mode.
Workarounds:
- Option 1: Change all header buttons to use react-native-vector-icons
[code]

- Option 2: Run in release mode
This can be a pain if you're developing to Android only, but it can work if you're d

[2018-10-31 20:31] d-gubert commented on #517
Is there a problem in adopting option 1? Something like no matching icons, or not being able to control the icon size, maybe? If it is as straightforward as it sounds, I could do that :stuck_out_tongue:

[2018-10-31 20:43] diegolmello commented on #517
@d-gubert We want to remove react-native-vector-icons completely in future, because native icons are a lot faster.

[2018-11-05 10:58] FaizanZahid commented on #467
@diegodorgam you are welcome man, but after i tested it thoroughly , i cam across lots of crashing, each time i do some action, it crashes.

So for now we have decided to go with the android native kotlin app because it crashes less and has less bugs.

though we r keen in looking for react native development as your dreams are very promising and we cant wait to see the audio and video calls featur

[2018-11-05 12:05] FaizanZahid opened #524 "List of all crashes & bugs I found on react native app."
Rocket chat server version: 0.69.2
React native app version: 1.5.1.4854

Bugs:

1.  I don't understand why this app is a bit slow and lags, for e.g when i type a msg, the plus icon on right takes few seconds to be change into the play send icon. So sometimes i type fast and press the button but that button state is still plus instead of send. Messenger by fb is also on react native and its very fa

[2018-11-05 12:28] diegolmello commented on #524
Hi, @FaizanZahid.
Thanks for opening this issue.
I'm closing it and breaking it down.

[2018-11-05 12:28] #524 closed

[2018-11-05 12:30] diegolmello opened #525 "Message composer send icon is slow"
Reported on #524

[2018-11-05 12:32] diegolmello opened #526 "Duplicated files on Files View"
Reported on #524

[2018-11-05 12:35] diegolmello opened #527 "Aggressively navigation causes memory leak and other glitches"
Reported on #524

It also may causes unexpected header icons showing, e.g. rooms list icons showing inside room

[2018-11-05 18:44] fifou17 opened #529 "Rocket.Chat reactnative android faill"
rocket.chat react faill building release apk
Failed to capture snapshot of input files for task ':app:bundleReleaseJsAndAssets' property '$1' during up-to-date check

Failed to create MD5 hash for file 'D:\Rocket.Chat_ReactNative\node_modules\.bin\acorn'.

and in debug mode its build the app but its crash when i open it on the phone

[2018-11-05 19:03] #525 closed

[2018-11-06 07:52] achilles-kosun opened #531 "Display site name instead of site URL"
I think it's more sense to show site name than site URL, And that's what PC version do.

If you guys think so, I will create a PR for this.

[2018-11-06 11:17] diegolmello commented on #531
@achilles-kosun Where are you planning to do that?
Can you send a pic?

[2018-11-06 11:19] diegolmello commented on #190
@achilles-kosun I'll do it myself soon.

[2018-11-07 05:56] achilles-kosun commented on #531
@diegolmello  Of course sure!

<img width="382" alt="iphone x - 12 1 2018-11-07 13-48-56" src="https://user-images.githubusercontent.com/44356695/48113159-85a4b000-e294-11e8-804e-3166aca7bc94.png">
<img width="538" alt="iphone x - 12 1 2018-11-07 13-51-00" src="https://user-images.githubusercontent.com/44356695/48113160-85a4b000-e294-11e8-9bcb-ad876c0e04ec.png">
<img width="538" alt="iphone x - 12

[2018-11-07 10:53] diegolmello commented on #531
@achilles-kosun I'm working on the new authentication layout right now and I'll do it myself.
Thanks anyway :)

[2018-11-08 00:52] achilles-kosun commented on #531
@diegolmello  that's great!

[2018-11-12 12:51] superseby2 opened #535 "Touching a received notification does not bring to an updated list of messages"
- Your Rocket.Chat ReactNative App version : 1.5.1.4877
- Your Rocket.Chat server version:  0.71.1

- Device model (or emulator) you're running with:  Android 7.0

Issue : when touching a RocketChat Android notification, the App loads OK, the channel list shows a new message icon on the expected channel. But when entering inside the channel, sometimes, but most of the time, the list is not refresh

[2018-11-12 13:06] diegolmello commented on #535
@superseby2 Thanks for opening this issue. I'll take a look 👊

[2018-11-14 21:42] #400 closed

[2018-11-18 09:28] 0rmi opened #540 "Feature request: dark mode"
Are there plans to implement a dark mode in the app? Or more general theming/color adjustment like in the desktop applications?

[2018-11-18 12:42] diegolmello commented on #540
@0rmi It's not a priority, but we'll implement in future.

[2018-11-19 18:39] #393 closed

[2018-11-19 18:44] diegolmello opened #542 "[NEW] Read receipt"
![image](https://user-images.githubusercontent.com/804994/48727791-5a1db000-ec1a-11e8-91d3-379c297d44dc.png)

[2018-11-19 20:09] diegolmello opened #545 "[NEW] In-app notifications"
Subscribe to socket notifications and raise local notifications

[2018-11-20 02:08] diegolmello commented on #531
Fixed at #536

[2018-11-20 02:08] #531 closed

[2018-11-20 14:05] FaizanZahid commented on #527
Yes, i can related to this. totally happening to me as well. Why is this app a bit slow?

[2018-11-20 14:06] FaizanZahid commented on #287
i agree with you.

[2018-11-23 17:20] nsakapeter commented on #378
@diegolmello what version of rocketchat are you currently running. I am running version 0.66.3 and anytime I try to connect to my server with the react native app it says my url is invalid. my server address is https://app.squire.study

[2018-11-23 17:37] diegolmello commented on #378
Hi, @nsakapeter.
Your server is returning `x-instance-id` in a different case `X-Instance-Id`.
It seems this header may change cases and we need to pick the value in whatever type it returns.
I'll take a look and keep you updated.

[2018-11-27 20:02] skhizerabass opened #552 "Opening channel through notification is very slow"
Opening channel through notifications take a lot of time and sometime it doesn't even open a channel nor updates it.

[2018-11-27 20:04] diegolmello commented on #552
Probably related to #549
I'll release it in 1.6.1.

[2018-11-28 07:21] skhizerabass commented on #552
I believe it is not related to the new react native navigation. I am facing same issue with the old one .  There is something else that is making issues.

[2018-11-28 12:38] diegolmello commented on #552
@skhizerabass Just released 1.6.1.
Update your app and try again.

[2018-11-28 12:39] #552 closed

[2018-11-28 12:43] diegolmello commented on #388
Probably fixed at #551

[2018-11-28 12:43] #388 closed

[2018-11-28 12:44] diegolmello commented on #535
@superseby2 Can you try again at 1.6.1?

[2018-11-28 12:44] #535 closed

[2018-11-29 16:43] cdhowie commented on #535
@diegodorgam The update did not fix the issue. If anything, it made it substantially worse.

[2018-11-29 18:08] skhizerabass opened #554 "Deeplink directly to the room"
Is there anyway we can directly open roomview instead of roomlistview when we use deeplink through notification?

[2018-11-29 19:54] awele-engineering opened #555 "What are the steps to release a personal beta on fastlane"
What are the steps to release a personal beta on fastlane?

[2018-12-04 11:53] achilles-kosun opened #557 "Can not connect server via http"
In the local development, I can't use http://localhost:3000 as the server.

I thinks it's because here:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/bef34f7f96b48454999f18752289ace76e056794/app/lib/rocketchat.js#L183

`useSsl` hardcode with `true`.

Can we detected `useSsl` by the provided url ?

[code]

[2018-12-04 13:08] diegolmello commented on #557
@achilles-kosun Sure! I'll fix that in a few days.

[2018-12-07 01:47] achilles-kosun commented on #557
Fixed in #558

[2018-12-07 01:47] #557 closed

[2018-12-11 04:53] nsakapeter opened #566 "Setting up push notifications for Android"
@diegolmello Please how do I get push notification up and running for this react native application. I
1. Updated the GCM App ID and API key on the server
2. restarted the server.

When I click on the "send test push to my user" on the rocketchat admin, it says the notification has been sent to 1 device but I actually don't get any notification on my device.

I tried logging out and logging back i

[2018-12-11 10:02] diegolmello commented on #566
@nsakapeter What's your app version? Are you running from the stores?

[2018-12-11 12:45] nsakapeter commented on #566
@diegolmello I am running version 0.66.3. No I downloaded an instance and uploaded it crashlytics for Beta Testing

[2018-12-11 12:52] diegolmello commented on #566
@nsakapeter Did you change your app bundle id? If so, please change it here as well: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/rocketchat.js#L470

[2018-12-11 15:38] nsakapeter commented on #566
@diegolmello I just updated that but it still doesn't work. However, I fount out that the registerPushToken is not successfully called when the user logs in on the app. I know this because the _raix_push_app_tokens on the database is not updated with the token details.

[2018-12-11 16:18] diegolmello commented on #566
@nsakapeter That's odd, because it works fine on https://open.rocket.chat.
Can you try it under 0.72~0.73?

[2018-12-12 04:31] SteveUNSW opened #569 "unblockUser or blockUser doesn't work"
As above, try to block or unblock a user.

Steve

[2018-12-12 04:37] SteveUNSW commented on #569
More investigation from me:

It's because the member object is empty.

Hence memeber._id is undefined.

unBlockUser and blockUser use rid and member_.id to toggle between them.

Steve

[2018-12-12 10:42] diegolmello commented on #569
@SteveUNSW Thanks. I'll take a look.

[2018-12-14 14:23] diegolmello commented on #569
Fixed on #568

[2018-12-14 14:23] #569 closed

[2018-12-17 10:40] SteveUNSW commented on #441
Hey team,

Any updates on this? Avatar doesn't refresh and I can't change it to anything.

[2018-12-17 12:41] cyberb opened #571 "Cannot connect to my server"
Cannot connect to my server instance with Rocket.Chat Experimental (React Native) on Android.

Error message: "Credentials were rejected"

Regular android app is fine.

Server version: 0.71.1
App version: 1.7.0

Server nginx config: https://github.com/syncloud/rocketchat/blob/master/config/nginx.conf

Front-end nginx config: https://github.com/syncloud/platform/blob/master/config/nginx/public.conf

[2018-12-17 13:32] diegolmello commented on #571
HI, @cyberb.
Thanks for opening this issue.
Today we check for x-instance-id on headers, but I saw that your nginx don't forward it.
This is not a mistake in your config, I'll change the way we check for a valid server by doing a fetch on the api.
I'll let you know when it's ready (probably on 1.7.1 later this week).
Cheers.

[2018-12-20 02:30] sd1998 commented on #341
@diegolmello Can I work on this?

[2018-12-20 05:00] sd1998 opened #576 "App crashes when Remote JS Debugging turned on"
Steps to reproduce:
(i) Run the app on (ios or android)
(ii) Enable Remote JS Debugging

The app crashes with an error in the realm.js library.

[2018-12-20 05:02] sd1998 commented on #576
@diegolmello The fix to this would be either to downgrade real.js from 2.19.1 to 2.17.0 or [this](https://github.com/realm/realm-js/issues/2088#issuecomment-443181759). What should I do?

[2018-12-20 10:50] diegolmello commented on #576
@sd1998 Hi, thanks for opening this issue.
What do you need from Remote JS debugging?
Logging or inspect code?
Logging: we already use Reactotron for this and it works in a better way.
Inspect code: it's a problem.
Even when Remote JS debugging was working for us, Realm used to slow down everything.
Realm guys said this is a [React Native issue](https://github.com/realm/realm-js/issues/491#issueco

[2018-12-20 10:50] #576 closed

[2018-12-20 10:53] diegolmello commented on #341
@sd1998 The PDF part is already done (it opens a webview).
Can you work on copy-pasted medias like png, gifs, giphy, etc.
It would be awesome!
Thanks :)

[2018-12-20 10:55] diegolmello commented on #526
@sd1998 Fixed on #568.

[2018-12-20 10:55] #526 closed

[2018-12-20 10:56] sd1998 commented on #341
@diegolmello I will work on that then.

[2018-12-20 16:58] shubhsherl commented on #545
Hi, I am currently working on React-Native. Would like to contribute. :)

[2018-12-20 22:33] cyberb commented on #571
Do you plan to release this to Google Play?

[2018-12-20 23:05] diegolmello commented on #571
@cyberb i'll release to the stores tomorrow

[2018-12-20 23:07] diegolmello commented on #545
@shubhsherl Wonderful!
Do you have any native skills? That's ok if don't have it.
I'm just wondering what task I can assign to you.

[2018-12-21 03:43] shubhsherl commented on #545
I have been contributing to rocketchat.android and exploring other areas... currently I am working on a project in react native...

[2018-12-21 10:21] diegolmello commented on #545
@shubhsherl Can you work on #391?
On android/app/src/main/java/chat/rocket/reactnative/CustomPushNotification.java, we build our current push notification.
We need to group notifications by room.

[2018-12-21 10:21] sd1998 commented on #341
@diegolmello I am having a small issue whenever I try to run the app on android device I am receiving the following message:-
<img width="1438" alt="screenshot 2018-12-21 at 3 49 04 pm" src="https://user-images.githubusercontent.com/22047421/50337825-4676a980-0538-11e9-91a9-1b359026893a.png">
could you help me a little with the same? I have searched for the bug and have followed a couple of soluti

[2018-12-21 10:55] #340 closed

[2018-12-21 12:32] diegolmello commented on #439
@mnlbox single-server branch was just updated

[2018-12-21 16:19] shubhsherl commented on #545
@diegolmello Sure, I will start on it soon.

[2018-12-23 11:04] sd1998 commented on #341
@diegolmello Yes, I found the app and have been trying to login but as an when I get authenticated in the app the app tends to crash. I have tested this on emulator as well as a physical device. The same is not reproducible on ios.

[2018-12-23 12:07] pranay414 commented on #341
@sd1998 This happens on Android development only and there is an [issue](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/517) filed regrading this. Look into this and try any of the following workarounds. Cheers :grin:

[2018-12-23 13:23] alleniver opened #577 "I have an integration problem. Can I integrate Rocket. Chat RN into my own RN application?"
- Your Rocket.Chat.Android app version: 1.6.0 (single-server branch)
- Your Rocket.Chat.iOS app version:1.6.0
- Your Rocket.Chat server version: 0.66.0+
- Device model (or emulator) you're running with: Android All Version And iOS All Version.

Hi，Everyone.
is RocketChat RN can be packaged as a component ? And I Can use yarn or npm to Install it to My RN Exists Project.

Because if I integrate dir

[2018-12-23 13:33] alleniver commented on #577
I have found many similar components in the past six months, but since I saw Rocket Chat RN, I intend to use this as a solution for LiveChat in the application. But now I have encountered this problem, I do not know how to solve it?

[2018-12-23 14:40] diegolmello commented on #577
@alleniver It's not possible to use RocketChat RN as a component.

[2018-12-23 14:40] #577 closed

[2018-12-24 06:18] sd1998 commented on #341
@diegolmello I was looking into [this[(https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/341#issuecomment-448955590) and what I understand is when user sending a GIF and touching on the sent message the gip is opened but the modal only shows the first frame and does not play the whole gif. But in case of PNG the image is perfectly shown in the ImageModal. So what I have to do is make su

[2018-12-25 10:33] cyberb commented on #571
Still cannot login with 1.7.1

Nginx log:
[code]

Regular adroid client:
[code]

[2018-12-28 05:09] skhizerabass opened #578 "Insert new schema in Realm"
Can i add new schema to the realm. I want to add new table but it throws exception. the code works fine if i  uninstall the App nd reinstall it with new schema. The migration is not working

[2018-12-28 06:29] alleniver opened #579 "Please pay attention to the react-navigation branch, which has not been updated for a long time."
- Your Rocket.Chat.Android app version: 1.6.0 (single-server branch)
- Your Rocket.Chat.iOS app version: 1.6.0
- Your Rocket.Chat server version: 0.66.0+
Device model (or emulator) you're running with: Android All Version And iOS All Version.

hello,i am use react-navigation in my project,i want to integrate RC to my project,but the RC was use react-navigation-native component,components are not c

[2018-12-28 06:34] alleniver commented on #579
many people use React Navigation. If you want to integrate RC immediately, you must change React Navigation to React-Navigation-Native. This workload can be very large. So do you think about?

[2018-12-28 06:36] alleniver commented on #579
It is possible to use React-Navigation at a speed that is not as fast as Native. But sometimes the urgency of the project is more important than speed.

[2018-12-29 12:31] alleniver commented on #579
I upgraded the Navigation branch, and in the next days I had to apply all the remaining patches, which was time-consuming.

[2018-12-29 17:12] #578 closed

[2019-01-07 06:54] SteveUNSW commented on #429
Is this happening on iOS too? I can't seem to get custom emojis to work.

[2019-01-10 11:20] diegolmello commented on #579
Duplicated #366
See https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/366#issuecomment-404846282

[2019-01-10 11:20] #579 closed

[2019-01-10 11:51] diegolmello commented on #545
@shubhsherl Hi. How is your progress? Do you need help?

[2019-01-11 17:33] saadqbal commented on #576
Hey @diegolmello do you have any rough timeline when are you going to shift to WatermelonDB?

[2019-01-11 18:32] diegolmello commented on #576
@saadqbal Nope. It'll take a few months until we switch databases.

[2019-01-12 02:07] saadqbal commented on #441
We can resolve this for the time being by setting priority to high on FastImage in Avatar.js

`FastImage
		style={[styles.avatar]}
		source={{
		uri,
		priority: FastImage.priority.high
		}}
/>`

[2019-01-13 03:41] shubhsherl commented on #545
@diegolmello Hi, sorry for the delay, I could not start on this, I will begin as soon as I finish my other works.

[2019-01-13 17:46] AnBo83 commented on #571
Same here, credentials rejected on 0.73.2.
I think it is related on LDAP, because before enabling LDAP, login is possible...

[2019-01-13 19:17] reduxsaga commented on #329
i want to work on this.

[2019-01-14 06:44] saadqbal commented on #441
@diegolmello our code is way too changed. Won't be possible for you to merge.

[2019-01-14 09:48] AnBo83 opened #581 "Cannot connect to my server instance"
Cannot connect to my server instance with Rocket.Chat Experimental (React Native) on Android.
Error message: "Credentials were rejected"

Login to the server is no longer possible after enabling LDAP authentication. Disabling LDAP authentication does not solve the problem, everything is fine before activation.

Regular android app is fine.

- Your Rocket.Chat.Android app version: 1.71
- Your Rocke

[2019-01-14 09:57] superseby2 commented on #535
Since last update. Every thing works like a charm. Thanks guys and sorry for the late reply !

[2019-01-14 10:33] diegolmello commented on #329
@reduxsaga There's an open PR here #567.
It's already approved and it'll be merged soon.
If you still want to help, you can find out what's happening on connect/login: #571 and #581.

[2019-01-14 18:50] #529 closed

[2019-01-14 18:54] fifou17 commented on #529
Duplicated to #517

[2019-01-15 22:10] semack commented on #581
+1. The same configuration.

[2019-01-17 14:00] skhizerabass opened #585 "Inserting the new message received in Realm."
Can you point me to the code where we receive new message and we are inserting it into realm database. I want to put some checks for my application. If you can guide me on this it will be really . helpful.
Thanks in advance

[2019-01-17 21:14] cyberb commented on #571
We are also using LDAP, so probably related.

@diegolmello  Please reopen the issue.

[2019-01-21 05:20] mlapaglia commented on #178
Any chance this will get looked at? I'm a gif loon!

[2019-01-21 13:34] diegolmello commented on #178
@mlapaglia Yeah, I use gifs a lot too, but it's not planned. Thanks.

[2019-01-22 22:20] AugustoAleGon opened #586 "Select Photo doesn't work on Android. [React-Native-Image-Crop-Picker]"
- Your Rocket.Chat.Android app version:  Latest version Single Server

- Your Rocket.Chat server version: https://open.rocket.chat

- Device model (or emulator) you're running:
For android : Xioami Redmi 5A - Android 71.1

- Log in.
- Go to the menu sidebar.
- Go to your profile.
- Select and image from your gallery.
Here the image should be attached. But the submit button is not even enable.
So f

[2019-01-24 22:44] AugustoAleGon commented on #441
The best way for me was to add a ts which is always different...

[2019-01-25 10:50] diegolmello commented on #441
@AugustoAleGon Can you explain more or open a PR?

[2019-01-25 19:33] diegolmello commented on #585
Hi @skhizerabass.
When a message will be inserted to db, `buildMessage` is called to normalize it.
If you search for it, you'll find several places (load messages, sync messages, etc).
If you want just the stream in charge of receiving new messages, this is the one:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/rocketchat.js#L190

I'm closing this because it's not an i

[2019-01-25 19:33] #585 closed

[2019-01-28 12:58] diegolmello opened #589 "Create a singleton to manage registered views"
In order to achieve the better performance we can get, we make [inline requires](https://facebook.github.io/react-native/docs/performance#inline-requires).
We only load views we **really** need at startup.
Every other view needs to be loaded when needed.

Currently, we are using the exact same example of React Native docs, but this is causing unnecessary loads.

Example:
On RoomView, we import Roo

[2019-01-29 17:02] diegolmello opened #590 "Remove tvOS and Xcode tests targets"
Remove tvOS and Xcode tests since it's not being used and to clean up xcode environment.

[2019-01-30 06:22] tushar-patil-android opened #591 "undefined is not an object (evaluating 'U.startApp')"
As per document followed all the steps but got this error after run app on android device.

Environment details -
react-native-cli: 2.0.1
npm: 6.4.1
node: v8.12.0

![error](https://user-images.githubusercontent.com/13730671/51962122-084c9e00-2485-11e9-91ab-9df450a40ec7.png)

[2019-01-30 11:11] diegolmello commented on #591
@tushar-patil-android Can you post logs?

[2019-01-30 12:11] #329 closed

[2019-01-30 18:44] AugustoAleGon opened #593 "[Android] After upload a new picture in the ProfileView the button is disable."
Before writing an issue, please make sure you're talking about the native application and not the Cordova one. If you are looking to open an issue to the Cordova application, go to this URL: https://github.com/RocketChat/Rocket.Chat.Cordova.

- Your Rocket.Chat.Android app version:  Latest

- Your Rocket.Chat.iOS app version: ####

- Your Rocket.Chat server version: open.rocket.chat

- Device mode

[2019-01-31 07:31] tushar-patil-android commented on #591
java.lang.IllegalStateException: Default FirebaseApp is not initialized in this process chat.rocket.reactnative.debug. Make sure to call FirebaseApp.initializeApp(Context) first. at com.google.firebase.FirebaseApp.getInstance(com.google.firebase:firebase-common@@16.0.1:219) at com.google.firebase.iid.FirebaseInstanceId.getInstance(Unknown Source) at com.wix.reactnativenotifications.gcm.FcmToken.re

[2019-01-31 11:48] #571 closed

[2019-01-31 11:48] #581 closed

[2019-01-31 15:57] cyberb commented on #571
Could you tell which Android app version this will be included in?

[2019-01-31 16:03] diegolmello commented on #571
@cyberb 1.8.0. I'm releasing it right now.

[2019-01-31 16:08] #589 closed

[2019-01-31 16:32] diegolmello commented on #527
When I was [updating dependencies](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/587) I found a [bug on react-native-navigation](https://github.com/wix/react-native-navigation/issues/4651).

[2019-01-31 16:34] diegolmello commented on #527
I found also a minor leak from inline requires.
I fixed it on #594.

There's still job to do on navigation, but it appears to be faster.

[2019-02-02 11:01] tiagoefreitas commented on #270
Still missing. And custom oauth ts also not working in the Rocket.Chat.Android 3.2.0 version, so there is currently no android app that works...

[2019-02-04 10:55] diegolmello commented on #270
@tiagoefreitas Yes, it's not implemented yet.

[2019-02-04 15:25] diegolmello commented on #593
Duplicated #586

[2019-02-04 15:25] #593 closed

[2019-02-04 17:42] tiagoefreitas commented on #270
May want to fix it first in the current android app before implementing here then...its not working there neither.

[2019-02-04 19:06] diegolmello opened #600 "Messagebox improvements"
Props:
- [ ] Archived
- [ ] Muted
- [ ] Audio recorder enabled
- [ ] Keep same appearence as props change

Also:
- [ ] Separate into container / component
- [ ] Add to storybook

<img width="350" src="https://user-images.githubusercontent.com/804994/52230560-e39a6100-289e-11e9-9845-e75dddb3252f.png" />
<img width="350" src="https://user-images.githubusercontent.com/804994/52230574-ed23c900-289e-11

[2019-02-05 11:04] diegolmello commented on #591
@tushar-patil-android Hi.
It seems you have installed an updated version of react-native-notifications.
They're implementing gcm -> fcm migration and it's causing this error for you.
Try following our `package-lock` or using `react-native-notifications@1.1.23`.

[2019-02-05 11:04] #591 closed

[2019-02-05 23:46] davidlougheed opened #603 "Avatars and other images don't display"
- Your Rocket.Chat.ReactNative app version: 1.8.0.5534

- Your Rocket.Chat server version: 0.74.0

- Device model (or emulator) you're running with: iPhone 8

- Steps to reproduce: Connect to a server with security enabled for avatars, avatars don't load.

[2019-02-06 01:05] davidlougheed commented on #603
`rc_uid` and `rc_token` are needed if unauth. access to avatars is enabled. these arent passed.

[2019-02-06 01:09] davidlougheed commented on #603
quasi fix: if `SDK.api.currentLogin` is not null, grab data with `const { authToken, userId } = SDK.api.currentLogin.result.data;` and pass it to the url with:

[code]

[2019-02-06 10:46] diegolmello commented on #591
Is this related? https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/517

[2019-02-07 16:04] #517 closed

[2019-02-07 18:19] d-gubert commented on #517
Nice, it's solved :D

[2019-02-07 18:58] diegolmello commented on #517
@d-gubert It's more a workaround than a fix, but it works for now 😝

[2019-02-07 19:58] #603 closed

[2019-02-08 13:33] diegolmello commented on #527
Quick update: guys from Wix tracked this to JSC here: https://github.com/react-native-community/jsc-android-buildscripts/issues/84

[2019-02-08 18:21] davidlougheed opened #618 "Channels interfere with one another?"
I'm in both the open.rocket.chat and a private server. They both have a #general channel, and messages seem to go between the two (so when I'm on the private server, messages appear from open.rocket.chat in the GUI).

I've attached some screenshots of the channels and within the channel in question.

![screen1](https://user-images.githubusercontent.com/357970/52497622-7d665480-2ba4-11e9-9848-d16c4

[2019-02-08 18:29] diegolmello commented on #618
@davidlougheed Can you check if it happens in this version? https://5667-99262683-gh.circle-artifacts.com/0/tmp/build/outputs/apk/release/app-release.apk

[2019-02-08 18:33] davidlougheed commented on #618
@diegolmello I'll give it a shot. It only shows up occasionally so it may take a while to see if it's still occurring.

[2019-02-08 18:37] diegolmello commented on #618
@davidlougheed This version will be released Feb 13.
If you find something wrong, tell me.

[2019-02-08 20:02] davidlougheed commented on #618
Still happens (iOS, built from latest source). Get an alert a bunch, plus the interfering channels thing (I think when new messages arrive while I'm on the 'other' server). If the APK diverges from the current latest code then that's my bad (I don't have an android phone myself but I'm getting a friend to test it).

<img width="518" alt="screen shot 2019-02-08 at 2 59 40 pm" src="https://user-imag

[2019-02-08 20:21] diegolmello commented on #618
@davidlougheed I'm not sure what this last screenshots supposed to mean.
Let me know if you find the reason for this bug and we can fix it in this release.
Thanks.

[2019-02-08 20:37] davidlougheed commented on #618
@diegolmello sorry the last screenshot is a different thing, probably a dev debug popup. ill edit it out since it's not relevant to the issue

[2019-02-12 16:14] #618 closed

[2019-02-12 18:41] davidlougheed opened #624 "Leaving channels doesn't update on mobile"
On the open.rocket.chat server, I left #general and #sandbox on the web app. These changes did not update on the latest TestFlight build (1.9.0.5693) on the iOS version of the react native app.

[2019-02-12 19:07] diegolmello commented on #624
Thanks for opening @davidlougheed!
This is a known issue as you can see [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/methods/helpers/mergeSubscriptionsRooms.js#L4)

We should do something similar to [this](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/methods/helpers/mergeSubscriptionsRooms.js#L56)

[2019-02-12 19:53] davidlougheed opened #625 "Code styling is not monospaced/padded"
Code styling is missing monospaced fonts / padding on my phone (versus the desktop web version) on the latest TestFlight version (1.9.0.5693) on iOS.

Compare the following:

![img_f8e3b330285a-1](https://user-images.githubusercontent.com/357970/52663872-a56ff380-2ed5-11e9-9690-a3b126e0b7fd.jpeg)

<img width="999" alt="screen shot 2019-02-12 at 2 52 33 pm" src="https://user-images.githubuserconten

[2019-02-13 18:20] diegolmello opened #627 "Migrate to WatermelonDB"
Realm was [never a perfect fit for us](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/576) (neither [React Native](https://github.com/realm/realm-js/issues/2239)) and we've been searching for database alternatives.
[WatermelonDB](https://github.com/Nozbe/WatermelonDB) was launched a few months ago and it seems to be the path to follow.

I've been working on Jitsi integration on past

[2019-02-15 03:33] davidlougheed commented on #625
issue: padding is due to nested `<Text>`, which is well-documented (and not a React native bug). The solution here would be to switch some container types in the react native markdown renderer to use `<View>`, which may take a while to implement/test.

[2019-02-15 11:59] diegolmello commented on #625
@davidlougheed Markdown is, basically, nested `<Text>`s.
Be careful: In some cases, a `<View>` inside a `<Text>` will raise error.
If you find any case with `<View>` working inside a `<Text>`, make sure it works both on iOS and Android.
We had several issues about this some time ago.

[2019-02-16 09:56] semack opened #633 "Android client crashes just after load"
- Rocket.Chat.Android app version: 1.9.0
- Self-hosted Rocket.Chat server version: 0.74.0
- Device: Meizu M6
- Steps to reproduce:
Android client had started -> showed the green label "Connected" on the top of the screen -> loaded channel list and just it has appeared on the screen, the app is crashing and closing.

[2019-02-17 22:39] BenWildeman commented on #391
@diegolmello I've been playing around with notifications on this repo as a test bed for my own application, and I'm wondering if grouping of notifications is the way you actually want to go?

the reason I ask, is because grouping the notification by channel would make sense only if this was like an email application, but it's not. when tapping on the notification, it will send you to the same plac

[2019-02-17 23:06] BenWildeman commented on #391
example of messaging style notification:
![screenshot_20190217-230404](https://user-images.githubusercontent.com/3674467/52920807-b1f6b080-3308-11e9-8d4b-9b9a9bd0cb6a.jpg)

[2019-02-18 00:49] diegolmello commented on #391
Very nice, @BenWildeman!
Can you open a PR with your progress?
What about notification reply? Have you played with?

[2019-02-18 12:01] diegolmello commented on #633
@semack I searched for errors in M6 on Fabric.
If I got luck, this is your error.

<img src="https://user-images.githubusercontent.com/804994/52949502-383be280-335b-11e9-86cf-a08549a6cde2.png" />

If you're admin, can you try disabling custom emojis and open the app just for testing?

[2019-02-18 13:25] diegolmello opened #634 "Use `permissions.listAll` api"
Currently, we're using `permissions.list`, but this returns the whole `permissions` collection.

We should check if server is +0.73 and call `permissions.listAll`.
It accepts `updatedSince` and it returns `update` and `remove` objects.

If server is below 0.73, we need to keep the current behavior.

[2019-02-20 15:18] mananpatel13589 opened #639 "single-server checkout not working on iPad"
single-server checkout not working on iPad. After splash screen it shows only black screen.

In any iPhone screen its working fine.

[2019-02-20 16:05] diegolmello commented on #639
@mananpatel13589 This app isn't iOS universal yet.
Are you willing to contribute?

[2019-02-20 16:05] #639 closed

[2019-02-21 04:06] mananpatel13589 commented on #639
@diegolmello Thanks.
I will see if I can help :-)

[2019-02-23 04:17] SteveUNSW commented on #178
Any idea how to get started on this?

[2019-02-23 15:29] semack commented on #633
@diegolmello, I am admin but, unfortunately, I didn't find the option to disable custom emoji, where I should look at?
I've tried to disable emoji in my account but the app still crashes.

[2019-02-24 18:42] diegolmello commented on #633
@semack I'll take a look this week and build a test version.
Join #react-native channel on open.rocket.chat to receive a link.

[2019-02-24 18:42] diegolmello commented on #178
@SteveUNSW Not really. I'll leave it open anyways.

[2019-02-25 07:33] semack commented on #633
@diegolmello  I am there. Thanks!

[2019-02-25 12:40] sampaiodiego opened #649 "Add support for action buttons"
- Your Rocket.Chat Experimental app version: 1.9.0.5743
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: Mi A2 - Android Pie

As the current state of Rocket.Chat Apps, they're using action buttons to interact with users, when clicking such buttons, a slash command is called.

Currently the app is not rendering action buttons:
![screenshot_20190225-093922](http

[2019-02-25 13:00] diegolmello commented on #649
Depends on #405

[2019-02-25 16:23] #633 closed

[2019-02-25 18:40] sampaiodiego commented on #649
@diegolmello I'm not sure it depends on that, since there is no UI involved.

[2019-02-25 18:52] diegolmello commented on #649
@sampaiodiego you're right about not being UI.
In the other hand, it would be odd to have support for action buttons taps, but no support for creating a poll 🤷‍♂️

[2019-02-26 05:41] SteveUNSW commented on #578
@skhizerabass How did you do this?

[2019-02-27 09:17] ebouJ commented on #624
@diegolmello can I take on this task?

[2019-02-27 13:41] diegolmello commented on #624
@davidlougheed do you mind if @ebouJ takes this?

[2019-02-27 14:01] davidlougheed commented on #624
@ebouJ @diegolmello go ahead, I’m busy with school right now and focusing on the markdown stuff anyway

[2019-02-27 17:32] diegolmello commented on #624
@ebouJ Go ahead. Let me know if you need some help. Thanks.

[2019-02-27 23:07] ebouJ commented on #624
Sure thanks

[2019-02-28 04:11] tinarsoft opened #663 "Error type 3 when i start in emulator (Activity class does not exist.)"
- Your Rocket.Chat Experimental app version: latest version
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: emulator android 6.0 on ubuntu

i receive this error when i  run "yarn android"
Starting the app on emulator-5554 (/home/m45/App/android-sdk-linux//platform-tools/adb -s emulator-5554 shell am start -n chat.rocket.reactnative/chat.rocket.reactnative.MainA

[2019-02-28 12:41] alleniver commented on #649
How can I send formatted pictures and text lists to the chat window?

[2019-02-28 16:59] diegolmello commented on #649
@alleniver didn't get what you're trying to do and why it's related to action buttons 🤔

[2019-02-28 17:23] diegolmello commented on #663
@tinarsoft Did you run `yarn` before `yarn android`?

[2019-03-01 05:25] alleniver commented on #649
haha! i'm just asking by the way.

[2019-03-01 16:49] #625 closed

[2019-03-02 02:41] tinarsoft commented on #663
yes, i did

[2019-03-02 13:35] wolfff opened #672 "App crashes when entering specific channel with Trying to add a 'RCTVirtualText' to a 'RCTView'"
- Your Rocket.Chat Experimental app version: 1.10.0 (Android Store beta channel)
- Your Rocket.Chat server version: current ubuntu Snap
- Device (or Simulator) you're running with: Samsung S9

On my company's (internal) rocket chat the app crashes when entering one specific channel (which could be browsed in web client without any issues.
The android app crahses with:
`AndroidRuntime: java.lang.Ru

[2019-03-02 13:43] diegolmello commented on #672
Hi, @wolfff.
Thanks for opening this issue.
There’s two ways: if it’s ok for you, you can send me a test user to that channel or you can debug it yourself trying to find out which message is different from the others.

[2019-03-02 20:43] diegolmello commented on #663
@tinarsoft I think the app was installed, but the activity wasn't found and didn't started automatically.
Search for `[DEVELOP] Rocket.Chat Experimental` in the applications.

[2019-03-02 21:01] tinarsoft commented on #663
yes , its installed but its not run

null is not an object (evaluating 'u.startApp')

i think navigation is not adapt for android

[2019-03-04 18:17] pranay414 opened #675 "Add support for scroll down when reading up old messages"
It would be good if we have a scroll button which appears at the bottom when reading up old messages. I found this on Rocket.Chat iOS app and I think this can be a good feature for React Native too.
![1a](https://user-images.githubusercontent.com/16045021/53753657-c9709480-3ed7-11e9-87f8-1b2e1e59ac2d.jpeg)

[2019-03-05 04:12] davidlougheed opened #676 "Misaligned server name after navigating"
- Your Rocket.Chat Experimental app version: 1.10.0
- Device (or Simulator) you're running with: iPhone 8

The server name dropdown gets misaligned when clicking on a channel and then navigating back.

Screen recording: http://dlougheed.com/rocketchat.MP4
Picture:
![image](https://user-images.githubusercontent.com/357970/53780544-f2daf180-3ed2-11e9-8d14-11b747e48d2f.png)

[2019-03-05 09:43] lienftech opened #678 "Unable to resolve module 'paho-mqtt/src/paho-mqtt'"
how can i fix this?
originModulePath:"...\\lib\\drivers\\mqtt.js"" Unable to resolve module 'paho-mqtt/src/paho-mqtt'

[2019-03-05 09:45] pranay414 commented on #678
Use Yarn to install dependencies.

On Tue, 5 Mar 2019 at 3:14 PM, lienftech <notifications@github.com> wrote:

--
Pranay Ankit Tiru
*Student* | IIITDM Kancheepuram | Computer Engineering
mobile: *+91-8839084045*
email: ced15i001@iiitdm.ac.in
linkedin: https://www.linkedin.com/in/pranay-ankit-585a76b9/

[2019-03-05 09:59] lienftech commented on #678
thanks @pranay414  very much!
it's work for me!

[2019-03-06 10:35] diegolmello commented on #676
@davidlougheed Thanks for opening, but it's just in beta.

[2019-03-06 10:35] #676 closed

[2019-03-06 11:30] #678 closed

[2019-03-06 11:53] diegolmello commented on #663
Closing. This is posted on #react-native on open server too.

[2019-03-06 11:53] #663 closed

[2019-03-06 13:32] diegolmello commented on #676
Fixed on #680

[2019-03-06 13:47] pranavpandey1998official opened #682 "Some emojis are not rendering properly"
- Your Rocket.Chat Experimental app version:1.10.0.9
- Your Rocket.Chat server version:
- Device (or Simulator) you're running with: redmi note 4 android API 7

screen shots

![whatsapp image 2019-03-06 at 7 11 23 pm](https://user-images.githubusercontent.com/44601530/53885725-749e5c80-4044-11e9-8234-2d7a1cd20e90.jpeg)

![whatsapp image 2019-03-06 at 7 09 45 pm](https://user-images.githubuserconte

[2019-03-06 17:38] sk1410 opened #683 "[NEW] More options in Setting Layout"
We can have more option in the Settings Layout.

-  About us

- Contact us

- License

@diegolmello Can I work on this ?

[2019-03-06 23:43] weijia-yu commented on #663
@diegolmello I have the same issue on develop branch, what should we do? I simply just init the project and follow the steps

[2019-03-07 03:45] alleniver opened #684 "When will the next stable version be released?"
I like this chat solution very much and have done a lot of comparisons. I think it's very perfect. I see that you are updating every day, so ask when will the next stable version be released, and I can integrate and update it at that time?

[2019-03-07 11:30] pranavpandey1998official opened #685 "Adding ActivityIndicator to RoomMemberView"
- Your Rocket.Chat Experimental app version: 1.10.0.99
- Your Rocket.Chat server version:
- Device (or Simulator) you're running with: Redmi note 4

Currently, there is no ActivityIndicator so if members fetching are it feels like app has stopped working or freezed,

@diegolmello
 your views

[2019-03-07 11:31] diegolmello commented on #684
@alleniver By `stable` you mean when it'll be released a new version on the stores?
If so, next week.
I'll start pushing released versions to master too.
Then master will always be stable.

[2019-03-07 11:31] #684 closed

[2019-03-07 12:01] pranavpandey1998official commented on #682
@diegolmello we are currently using react-emojione library for rendering emojis but problem with this is that it is made for react not react native, it returns a react-element the work around applied in the project is that it has a function that returns Unicode for the emoji it works fine for most of them but in case of these elements it is returning Unicode of different elements for example digit

[2019-03-08 07:48] alexroosenstein opened #688 "Support for iframe authentication"
- Your Rocket.Chat Experimental app version: 1.10.0.6097
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: Android Pie

We use [iframe auth](https://rocket.chat/docs/developer-guides/iframe-integration/authentication/) for our installation of Rocket.Chat, but when trying to connect to our server the default login form is presented.

Will the React app support t

[2019-03-08 11:07] diegolmello commented on #688
@alexroosenstein This is not implemented yet.
Are you willing to contribute?

[2019-03-08 11:17] alexroosenstein commented on #688
If I had the time and React Native knowledge, I would.

For now all I can contribute is a (small) Bounysource reward, but I'm glad it's on the roadmap/list now.

[2019-03-08 14:34] eliezer-of opened #690 "[FIX] Clear notifications after opening the app"
when a message from a favorite chat is received and it’s open directly in Rocket.Chat
app, it would be interesting to removed in notification.

[2019-03-08 16:04] diegolmello commented on #690
@eliezer-of It's probably not in favorite chats only, but it would be nice.
The rule is to check if the messages were read anywhere (web, desktop, other apps).

[2019-03-08 16:07] diegolmello commented on #690
@eliezer-of Are you aware of any apps that do something like this?

[2019-03-08 17:09] pranavpandey1998official opened #691 "Cannot set invisible status"
- Your Rocket.Chat Experimental app version: 1.10.0.99
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: Redmi note 4 API 7

Try setting your status to invisible it won't set but if you check it on the web it is chaged by actions on the app, it seems that upcomming calls from sever are not handled correctly for this ,

[2019-03-08 17:21] diegolmello commented on #691
@pranavpandey1998official Yeah, it seems the app isn't receiving its own `offline` status

[2019-03-08 23:03] eliezer-of commented on #690
@diegolmello yea! not just on favorite chats, I mean any notification received in the app.
But I specifically refer to the app (Reactive.Native) after reopening it and changing AppState to "onResume", it should clear all notifications. (i tested this on android)

not exactly, because I opened the same issue in the Android repository. And it was fixed as I said before

[2019-03-09 03:36] pranavpandey1998official commented on #682
@diegolmello do you have any other solution in mind ??

[2019-03-09 13:57] diegolmello commented on #682
@pranavpandey1998official Our emoji picker lacks tone select as well.
`react-native-emoji` don't seem to be the solution for that.
Or you can prove me I'm wrong 😄

Note: emoji pickers tend to be slow when opened (several views drawn at the same time) and these libs tend to add too much code to bundle size (+500KB or more).

The awesome solution would be to always add custom emojis to the native em

[2019-03-11 00:01] delkant commented on #663
@tinarsoft  how did you solve this problem? I have the same issue, only having problems on android.

@diegolmello

I am not so sure what this means, do you have a link or any information that can help with this? thanks.

[2019-03-11 01:12] sk1410 opened #694 "Integrate Code formatter with the project"
We can integrate code formatter for the project.
The best known is prettier but I have seen some problems with prettier.

Check this: https://github.com/prettier/prettier/issues/759#issuecomment-281372523

Other options? If available?

[2019-03-11 04:38] lienftech opened #695 "the URL is invalid"
I try to enter my server url in emulator to connect, and then alert a error box like images.
how can i fix?
My server is configured SSL and connect well in real IOS device
![Capture](https://user-images.githubusercontent.com/48079146/54100661-390fe380-43f2-11e9-884d-5428bf1e38a7.PNG)

[2019-03-11 05:44] Jaya738 commented on #683
Can I work on this? I am currently working on React

[2019-03-11 08:31] sk1410 commented on #683
@Jaya738 I almost completed this issue. I will raise a PR by today. Please check some other high priority issues.:)

[2019-03-11 11:59] pranavpandey1998official commented on #695
@lienftech can you share your servel URL so we could reproduce the issue and can take a better look at ir

[2019-03-11 12:03] diegolmello commented on #663
@delkant Go to https://open.rocket.chat and join #react-native channel.

[2019-03-12 00:14] weijia-yu opened #697 "null is not an object (evaluating 'U.startApp')"
- Your Rocket.Chat Experimental app version:
`develop branch`
` eb4b1553bf4bed65cce9ca201652143e8f778943`
- Your Rocket.Chat server version:
`develop branch`
`eb4b1553bf4bed65cce9ca201652143e8f778943`
- Device (or Simulator) you're running with:
Simulator Emualtor Nexus 5X API 28 x86
Android Studio version: 3.2.1

**Detail**
My app can run on other simulators such as `Pixel 2 XL API 26` and `Pixel

[2019-03-12 02:42] malivp3494 commented on #697
Can you please provide error log?

[2019-03-12 12:50] diegolmello opened #698 "Use react-native-tab-view on EmojiPicker"
https://github.com/ptomasroos/react-native-scrollable-tab-view isn't maintained as it should.

[2019-03-12 18:01] diegolmello opened #701 "Report Message"
Add a message action to report it.

https://rocket.chat/docs/developer-guides/rest-api/chat/reportmessage/

[2019-03-12 18:35] weijia-yu commented on #701
I'm on it

[2019-03-13 00:06] malivp3494 commented on #698
I'd like to take a shot at this.

[2019-03-13 01:02] diegolmello commented on #698
@malivp3494 Fine! Good luck 😊

[2019-03-13 12:19] diegolmello opened #704 "[FIX] Replies don't render images"
- Your Rocket.Chat Experimental app version: 1.10.0

![image](https://user-images.githubusercontent.com/804994/54278416-0ccea100-4571-11e9-9fbf-7e4845c18e8d.png)

[2019-03-13 20:17] #210 closed

[2019-03-13 20:20] diegolmello opened #705 "[FIX] Changes on icons"
- [ ] Missing changes from https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/643
- [ ] Remove unused icons from icon set (reduce app size)

[2019-03-13 20:21] diegolmello opened #706 "[NEW] Federation"

[2019-03-13 20:22] diegolmello opened #707 "[NEW] Threads"

[2019-03-13 20:25] diegolmello opened #708 "[NEW] Draft message per room"
If a user started to type in a room and leaves it without sending the message, the app must save the content in the database and automatically type it again next time he enters the room again.

[2019-03-13 20:26] diegolmello opened #709 "[NEW] Mark room as read/unread"
<img src="https://user-images.githubusercontent.com/804994/54431277-beeaa200-4704-11e9-9ac1-5478a7729b22.png" width="350" />
<img src="https://user-images.githubusercontent.com/804994/54431298-cc079100-4704-11e9-9c2e-13acaf7a9c64.png" width="350" />

[2019-03-13 20:28] diegolmello opened #710 "[NEW] Tablet support"

[2019-03-13 20:30] diegolmello opened #711 "[NEW] Jitsi integration"

[2019-03-13 20:31] diegolmello commented on #370
It'll be done in #711

[2019-03-13 20:31] #370 closed

[2019-03-13 20:42] diegolmello opened #712 "[NEW] Record Video"

[2019-03-13 20:43] diegolmello opened #713 "[NEW] Upload files"

[2019-03-13 20:43] diegolmello commented on #2
Separated into #713 and #712

[2019-03-13 20:43] #2 closed

[2019-03-14 00:55] kareemhamdy100 opened #716 "test leaderBoard"
- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2019-03-14 00:56] #716 closed

[2019-03-14 04:57] roony4 opened #717 "Could not install the app on the device,Android emulator running or a device connected and have set up your Android development environment:"
When I'm going to run this application having this error.How I solve this.?
(I tried connect my smartphone and android studio emulator.)

`Microsoft Windows [Version 10.0.17763.316]
(c) 2018 Microsoft Corporation. All rights reserved.

D:\gsoc\rocketchatrn\Rocket.Chat.ReactNative>react-native run-android
Starting JS server...
Building and installing the app on the device (cd android && gradlew.bat

[2019-03-14 10:27] PeGaSuS-Coder opened #718 "Unable to re-enable room notification after disabling them in the app"
- Your Rocket.Chat Experimental app version: 1.10.0.6193
- Your Rocket.Chat server version: 0.74.2 (snap)
- Device (or Simulator) you're running with: Huawei Y6 Pro 2017, Android 7.0

**Description**
Open a room menu, tap in `Disable notifications` and you're unable to enable them again in the app.

[2019-03-14 11:39] diegolmello commented on #717
@roony4 Try running from command line with `react-native run-android`.
`@remobile/react-native-toast` often triggers errors on Android Studio.

If you're wondering how to fix it and keep using Android Studio, you can do this.
[code]

[2019-03-14 11:42] diegolmello commented on #718
@TheMythPT It's working here.
There's a passing integration test for it.

[2019-03-14 11:50] TheMythPT commented on #718
Unfortunately doesn't work with me with the beta from Play Store.

[2019-03-14 11:50] diegolmello commented on #718
@TheMythPT Very odd. Can you try it on `https://open.rocket.chat`?

[2019-03-14 11:51] TheMythPT commented on #718
Sure thing. Just let me be sure of the correct instance version.

[2019-03-14 11:54] TheMythPT commented on #718
Odd. seems to work in the official server. perhaps the other server I'm joining is using another version or something. I'll check further with admins so I can keep this updated.

[2019-03-14 11:55] diegolmello commented on #718
@TheMythPT Nice!
Thanks for testing and letting me know anyway.
Maybe there's a setting/permission I can add to prevent users from doing this.

[2019-03-14 12:08] TheMythPT opened #719 "[I18N] pt-PT Translations"
I'd be very appreciated if you could create a pt-PT file with the original strings (in English) so I could translate the project.

Cheers!

[2019-03-14 12:12] diegolmello commented on #719
@TheMythPT Just create a new file `pt-PT.js` like `pt-BR.js`.
Here's a similar PR: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/641

[2019-03-14 12:14] TheMythPT commented on #719
Well, I was feeling lazy! 😂😂
I'll do it then. 👍

[2019-03-14 12:18] TheMythPT commented on #718
![Screenshot_20190314-131656](https://user-images.githubusercontent.com/25697531/54356284-8773eb00-465b-11e9-9703-a39ca562797b.png)
as it seems is the latest version and snap. it's weird that the behaviour in their instance and in the official one is so different.

[2019-03-14 13:05] diegolmello commented on #718
@TheMythPT it works correctly on web?
![image](https://user-images.githubusercontent.com/804994/54359073-9dc07d80-4640-11e9-95cb-ccc5cbfa5224.png)

[2019-03-14 13:44] diegolmello opened #720 "Add LDAP E2E test"
We should have LDAP login on E2E tests to prevent regression.

[2019-03-14 16:08] diegolmello commented on #717
Tell me exactly what you did

[2019-03-14 16:32] roony4 commented on #717
$ git clone  https://github.com/RocketChat/Rocket.Chat.ReactNative.git
$ cd Rocket.Chat.ReactNative
$ yarn global add react-native-cli
$ yarn

connected my phone to pc enabling debug mode

$ react-native run-android

[2019-03-14 17:50] PeGaSuS-Coder opened #723 "Last message in chat lists differs from the one inside the channel"
- Your Rocket.Chat Experimental app version: 1.10.0.6193
- Your Rocket.Chat server version: Official Rocket.chat instance
- Device (or Simulator) you're running with: Huawei Y6 Pro 2017, Android 7.0

**Description**
The app seems to not be making any update of the `last message` in the chat list.

**Screenshots**
Last message in the chat list (#support channel):

![lastmessage_chatlist](https://us

[2019-03-14 17:53] PeGaSuS-Coder opened #724 "When changing app language, old messages indicators / actions are kept in the default language (EN)"
- Your Rocket.Chat Experimental app version: 1.10.0.6193
- Your Rocket.Chat server version: Official Rocket.chat instance
- Device (or Simulator) you're running with: Huawei Y6 Pro 2017, Android 7.0

**Description**
When changing app language, older messages aren't _re-translated_

**Screenshots**
![messages_language_change](https://user-images.githubusercontent.com/25697531/54379789-5c54c000-468a

[2019-03-14 18:51] TheMythPT opened #725 "Bigger emojis in emojis only message"
When we use just emojis in a message, they could be enlarged in a similar way as the web client does.

[2019-03-15 07:35] pranavpandey1998official commented on #709
@diegolmello I could not find api call in the documentation can you refer me the required doc

[2019-03-15 07:37] pranavpandey1998official commented on #675
@pranay414 can I work on this

[2019-03-15 07:57] pranay414 commented on #675
Yes, go on @pranavpandey1998official

[2019-03-15 11:14] TheMythPT opened #729 "[IMPROVEMENT] Tap on avatar/username/channel to show info"
This would simplify a lot the life of app users

[2019-03-15 12:16] diegolmello commented on #729
@TheMythPT Totally! A normal press could open RoomInfoView and a long press could open an action sheet with "New Message" and "Info". Maybe "Video call" and "Audio call" (in the future).

[2019-03-15 12:17] diegolmello commented on #725
@TheMythPT Nice one! That can be achieved by doing a regex checking if there's only emojis and changing markdown to style it properly.
The regex must check emojis and custom emojis.

[2019-03-15 12:20] diegolmello commented on #724
@TheMythPT Yes, this is a trouble one.
It's hard to reload every component on the app after changing language.
I think we should show navigate to AuthLoadingView and back.
This would show a splash screen and go back to rooms list.

[2019-03-15 12:25] diegolmello commented on #723
@TheMythPT Thanks for opening.
We should do the same logic as here: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/message/Markdown.js#L37

We could also do this to parse emojis like (`:joy:` to 😂): https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/message/Markdown.js#L36

Remember to DRY.

[2019-03-15 12:28] diegolmello commented on #709
@pranavpandey1998official Here: https://rocket.chat/docs/developer-guides/rest-api/subscriptions/read/

[2019-03-15 20:43] diegolmello opened #732 "Add notification/deep linking E2E tests"
Add tests for notifications and deep linking.
This topic is very important and hard to ensure it works without testing it manually before every release.
A simple tap on a notification dispatches several methods like (_change server_, _login_, _navigate to the room_, _fetch new messages_, etc).
A deep linking is when the user taps on a link (https://go.rocket.chat/room\?host\=open.rocket.chat for e

[2019-03-18 13:48] bahramsport commented on #713
how can upload file other than jpeg ? i need upload pdf , zip , ... file

[2019-03-18 14:18] diegolmello commented on #713
@bahramsport that's why this issue is opened. It's not implemented yet.

[2019-03-18 19:01] #691 closed

[2019-03-18 19:09] #719 closed

[2019-03-18 19:14] #685 closed

[2019-03-19 01:08] engelgabriel opened #740 "[IMPROVEMENT] wrong padding in the bottom of message list."
Fix the padding on the bottom (in red).

![image](https://user-images.githubusercontent.com/1000217/54573201-140b0a00-49ca-11e9-81bb-ecc6b6b83b29.png)

[2019-03-19 01:19] engelgabriel opened #741 "[IMPROVEMENT] wrong padding on quoted message"
![image](https://user-images.githubusercontent.com/1000217/54573611-c68f9c80-49cb-11e9-9748-a2edaf2d7eec.png)

[2019-03-19 03:13] lienftech commented on #695
@pranavpandey1998official this is my server URL rchat.ftech.ai

[2019-03-19 07:24] aryankoul commented on #704
@diegolmello I am interested in working on this issue.

[2019-03-19 10:12] reetp opened #742 "Cannot modify Server title with multiple accounts"
- Your Rocket.Chat Experimental app version: 1.10.1.6315
- Your Rocket.Chat server version: 0.74.3/1.0.0-beta1/open.rocket.chat (beta2 ?)

- Device you're running with: Samsung S6 / Android 7.0

When I add multiple accounts, IN the Top Bar it shows 'Rocket.Chat'

If I click to drop down it shows:

Server

`Rocket.Chat`
https://chat.workserver.com

`Rocket.Chat`
https://chat.homeserver.com

We shou

[2019-03-19 11:52] diegolmello commented on #704
@aryankoul Nice! Go for it 👍

[2019-03-19 13:14] diegolmello commented on #742
@reetp This is the Rocket.Chat title. If you're admin, you can change it.
I'll leave this issue opened because we could should the server URL instead of the server title.

[2019-03-19 16:47] diegolmello opened #744 "RoomView should use FlatList instead of ListView"

[2019-03-19 20:47] TehPeGaSuS opened #745 "Roles after username"
IMHO, to be more consistent with the web design, I believe we should have the roles that a user have in front of the username.

[2019-03-19 20:50] TheMythPT opened #746 "Option to send or to make a new line when pressing the enter key in the virtual/hardware keyboard"
The app could have an option to `send on enter` or `create new line` when using the enter key.
By default, IMHO, it should respect the settings we have in our profile (I've set in to send via web interface).

[2019-03-19 20:53] diegolmello commented on #746
@TheMythPT Nice!

[2019-03-19 20:55] diegolmello commented on #745
@TheMythPT Yeah, this is really appreciated.
The design could be odd easily. I'll talk to the design team.

@TheMythPT do you have other app examples of this?

[2019-03-19 21:14] TheMythPT commented on #745
Pointing some nitpick points, as discussed in the Rocket.chat server:
- If it's possible to display just the room related role, I'd go for that option
- If not possible, then this can be closed.

[2019-03-19 21:20] TheMythPT opened #747 "[Feature] Add Message info when long pressing a message"
This could open an option named `Message Info` which would open a `window` with the following options:
- Sender
- Timestamp
- Read receipt
- Reactions and who reacted with what

[2019-03-19 21:21] diegolmello commented on #747
Depends on #542

[2019-03-20 07:41] pranavpandey1998official commented on #542
@pranay414 are you working on this??

[2019-03-20 07:46] pranay414 commented on #542
No, you can take this. Sorry for holding it up so long without any progress.

On Wed, 20 Mar 2019 at 1:11 PM, pranavpandey1998official <
notifications@github.com> wrote:

--
Pranay Ankit Tiru
*Student* | IIITDM Kancheepuram | Computer Engineering
mobile: *+91-8839084045*
email: ced15i001@iiitdm.ac.in
linkedin: https://www.linkedin.com/in/pranay-ankit-585a76b9/

[2019-03-20 08:04] pranavpandey1998official commented on #542
@diegolmello can you point me to docs for this

[2019-03-20 12:26] diegolmello commented on #542
@pranavpandey1998official Sure.

- As admin, there's two settings.
  - `Show read receipts` is self explanatory
  - `Detailed read receipts` is a settings you should test in order to allow "Message Info"
![image](https://user-images.githubusercontent.com/804994/54683956-c7225300-4af1-11e9-8795-673c95efb5fe.png)

- You must add `messages.unread` on realm.
  - You'll receive it on messages request.

[2019-03-20 15:02] pranavpandey1998official commented on #542
@diegolmello thank you for explination, I still have some querries
1)unread:true means that he has read the message and we should show the read-receipts or other way around (if it is other way around do i have to check show read rereceipts also)
2)How to check these settings

[2019-03-20 17:20] diegolmello commented on #542
@pranavpandey1998official

`unread: true` means the other users haven't read that message yet.

[Here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/methods/getSettings.js#L23) we fetch all the settings and keep the ones we want. You must add `Message_Read_Receipt_Enabled` and `Message_Read_Receipt_Store_Users`. Both boolean.
After that done, you should be able to use

[2019-03-21 11:51] diegolmello opened #752 "Custom fields on wrong servers"
- Your Rocket.Chat Experimental app version: 1.10.1

If you log into a server with custom fields, they will appear in the other servers as well.
![image](https://user-images.githubusercontent.com/804994/54750425-67da4680-4bb6-11e9-85c2-5ec10afbd71b.png)

[2019-03-21 12:07] diegolmello opened #753 "DMs showing `Join` button"
- Your Rocket.Chat Experimental app version: 1.10.1

It's a rare case, but sometimes the app shows `Join` button on DMs.
`Join` button should appear only on public channels that aren't joined yet.

<img src="https://user-images.githubusercontent.com/804994/54751086-9d802f00-4bb8-11e9-995f-d82a02adcaea.png" width="350" />

[2019-03-21 12:27] marceloschmidt opened #754 "[NEW] When room name is too big to fit screen, allow dragging the name to view the rest"
Check the title area of this reddit app:

![2019_03_20_15_29_45](https://user-images.githubusercontent.com/1986378/54710452-75e08680-4b26-11e9-81ae-1d52f0aa3fc6.gif)

[2019-03-21 12:34] diegolmello commented on #754
@marceloschmidt Nice!

We need to limit the container's width based on the current orientation of the screen (`currentWidth - (header button * 3)`) and add a horizontal ScrollView here:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/RoomView/Header/index.js#L185

There's already a `width` prop in the component, so it's easy as `this.props.window.width` :)

[2019-03-21 14:31] diegolmello opened #755 "Edited messages bug"
- Your Rocket.Chat Experimental app version: 1.10.1

We are appending "edited" to the paragraph tag. If there's more than one paragraph in the message, it shows more than one "edited"
<img src="https://user-images.githubusercontent.com/804994/54759247-73386c80-4bcc-11e9-93ad-4104dc1e7400.png" width="350" />

https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/message/

[2019-03-22 14:49] pranavpandey1998official commented on #746
@TheMythPT if he chooses send on enter how will he make a new line if he wants (on Android especially), I tried but couldn't do it

[2019-03-22 20:35] pranavpandey1998official commented on #704
@aryankoul are you still working on this ?? if not can I take up this one?

[2019-03-23 03:13] aryankoul commented on #704
@pranavpandey1998official Yes i am working on it

[2019-03-25 13:51] diegolmello opened #759 "Use reanimated-bottom-sheet"
We switched action sheet lib months ago, but it's still not what we're looking for.
While native look and feel is great, the current lib isn't customizable.

https://github.com/osdnk/react-native-reanimated-bottom-sheet aims to implement [Material bottom sheet](https://material.io/design/components/sheets-bottom.html#standard-bottom-sheet) and it's using react-native-gesture-handler and react-nati

[2019-03-25 20:20] #754 closed

[2019-03-25 20:54] #675 closed

[2019-03-27 10:45] lienftech opened #763 "is video call or audio call is not support?"
![Capture](https://user-images.githubusercontent.com/48079146/55070105-1f3ff300-50b8-11e9-8a65-9702593f95d0.PNG)

[2019-03-27 10:57] lienftech commented on #711
hi, is video call and audio call working?

[2019-03-27 13:58] #763 closed

[2019-03-27 13:59] diegolmello commented on #711
@lienftech No. This issue is to track future development. It's also described on readme.

[2019-03-27 17:24] lienftech commented on #711
@diegolmello : thanks, can i know when release?

[2019-03-27 18:56] diegolmello opened #764 "Swipe right gesture to reply message"
We should swipe right gesture on messages to trigger reply action.
In the same way Whatsapp does.

[2019-03-27 19:10] diegolmello opened #765 "ReactionsPicker should be full screen"
Currently, ReactionPicker is a square modal, but this is not a great ux:
<img src="https://user-images.githubusercontent.com/804994/55104964-2bbd4f00-50aa-11e9-8c45-3afaaaa3f66f.png" width="350" />

Instead, we should open a full screen modal like below:
<img src="https://user-images.githubusercontent.com/804994/55105145-a25a4c80-50aa-11e9-8fac-5b91fbb2bc9a.png" width="350" />

[2019-03-28 11:28] pranavpandey1998official commented on #764
do you want UI to be the same as that of WhatsApp??

[2019-03-28 11:56] diegolmello commented on #764
@pranavpandey1998official Yes.

[2019-03-28 12:04] diegolmello commented on #711
@lienftech I can't give you a date, but it'll be done in a few months.

[2019-03-28 12:19] real-player commented on #725
Can I work on this issue?

[2019-03-28 12:20] diegolmello commented on #725
@real-player sure!

[2019-03-28 18:59] diegolmello opened #770 "Remove emoji keyboard from iOS"
We must remove emoji keyboard from iOS and keep only on Android.
iOS native lib must be removed too.

We must create storyboooks to ensure everything is working on both platforms.
[code]

[2019-03-29 05:10] lienftech commented on #711
@diegolmello thanks

[2019-03-29 08:03] real-player commented on #717
I have the same problem as yours. I deleted my build cache files by executing
$ cd android && gradlew clean
command in cmd at Rocket.Chat RN directory.

[2019-03-29 11:36] pranavpandey1998official opened #773 "Cannot initiate reply for images"
- Your Rocket.Chat Experimental app version: 1.11.0.9999
- Device (or Simulator) you're running with: redmi note 4

try replying to an image shared

[2019-03-29 23:39] didacroyo commented on #697
Is it related to issue #591 ?

[2019-03-31 06:27] pranavpandey1998official opened #774 "RocketChat/react-native-image-crop-picker is behind 27 commits from original"
They have added many new features like feature to record video(https://github.com/ivpusic/react-native-image-crop-picker/commit/e5622719c2fae614780160de26d4972168404ddf) and removed a lot  of bugs we need to merge those commits in our fork too

[2019-03-31 06:28] pranavpandey1998official commented on #712
depends #774

[2019-03-31 11:42] alleniver commented on #753
same problem!!

[2019-03-31 23:28] diegolmello commented on #753
@alleniver Can you send more info?
I couldn't isolate the problem so far.

[2019-04-01 05:03] alleniver commented on #753
The reason I have this problem here is that after frequent calls to connect and login operations, there is a certain probability that this problem will occur.

Because I use RC as a Modal, closing Modal will automatically disconnect, and then open chat that will automatically connect and login and create 1v1. This process will have a certain probability of this problem.

[2019-04-01 09:58] alleniver commented on #753
Maybe it's also related to my separate management of Redux. I haven't seen much of it lately.

[2019-04-01 11:32] diegolmello commented on #753
@alleniver

I'll test this.

If you find something, let me know.

[2019-04-01 14:45] #708 closed

[2019-04-01 17:38] pranavpandey1998official opened #776 "wrong preview in of replied message RoomList View"
![WhatsApp Image 2019-04-01 at 11 08 10 PM](https://user-images.githubusercontent.com/44601530/55347738-1fcef400-54d3-11e9-9750-082c76262546.jpeg)

[2019-04-03 16:54] diegolmello opened #778 "[NEW] Show unread count in room's back button"
<img src="https://user-images.githubusercontent.com/804994/55497513-e358e080-5617-11e9-8273-2d29e7bf3714.png" width="350" />

[2019-04-03 17:15] djorkaeffalexandre commented on #744
This enhancement lhas already been made.
@diegolmello

[2019-04-03 17:20] diegolmello commented on #744
@djorkaeffalexandre Nice catch!

[2019-04-03 17:20] #744 closed

[2019-04-04 14:24] diegolmello opened #784 "Use react-native-reanimated transitions"
Currently, we use RN's LayoutAnimation to smoothly update the screen, but it works on iOS only.
Transitions gives us much more in control of animations and works on Android too.
We should first replace our current LayoutAnimation usage, but we can use it in many other places.

[2019-04-04 16:55] diegolmello opened #786 "Typescript"
It's a serious amount of work, but we should add Typescript to keep our app maintainable.
Hopefully it won't have any performance impact or new bugs, but we should do it anyway.

React Native supports Typescript without any harm since 0.57.

We need to do it in baby steps to guarantee not to break anything.
- [ ] Setup: it shouldn't be hard, but we need to make sure everything is working afterward

[2019-04-04 18:32] #590 closed

[2019-04-04 20:58] #740 closed

[2019-04-04 20:58] #741 closed

[2019-04-04 20:59] diegolmello commented on #776
Dup of #723

[2019-04-04 20:59] #776 closed

[2019-04-05 03:36] ebouJ commented on #624
@diegolmello sorry, I was so busy with school I started working on this yesterday. I almost go mad because I was trying to debug and use console.log but they never appear on the chrome debugger I later found out that the project is using Reactotron and installed it. I'm getting comfortable with the codebase.  However, it seems like this is not an issue anymore. If I leave a channel on the web it u

[2019-04-05 03:39] ebouJ commented on #786
@diegolmello I am fairly comfortable with typescript. I can on this task.

[2019-04-05 11:29] diegolmello commented on #786
@ebouJ Nice! Go on 👍

[2019-04-05 11:33] #624 closed

[2019-04-05 14:48] Vacak7 commented on #566
Hi, can you tell me what exactly we have to change here plz?

[2019-04-05 14:55] diegolmello commented on #566
@Vacak7 This issue is outdated (bundleid is set automatically nowadays).
If you're having trouble, open another issue.
I'm closing this one.

[2019-04-05 14:55] #566 closed

[2019-04-05 14:56] diegolmello commented on #566
@Vacak7 Also, we'll release FCM support monday.

[2019-04-05 16:56] valdirluiz commented on #713
I have the same problem

[2019-04-06 10:10] IlarionHalushka commented on #770
in progress

[2019-04-06 11:12] IlarionHalushka commented on #770
@diegolmello  Do you want to develop a completely new component for iOS MessageBox without using KeyboardAccessoryView from react-native-keyboard-input?

[2019-04-06 13:43] diegolmello commented on #770
@IlarionHalushka it don’t need to be a completely rewrite. You just need to transform the current messagebox code into a container (with all the logic) and create two new layout files for iOS and Android. Android will remain exactly as it is now and iOS won’t have emoji anymore and it’ll have “plus” button on the left and audio/send on the right (toggling between audio and send by checking if the

[2019-04-06 15:08] pranavpandey1998official commented on #701
@weijia-yu are you working on it?

[2019-04-07 13:28] IlarionHalushka opened #789 "Show 'Send' button when draft message exists"
Steps to reproduce:
1. Open Room View screen
2. Type in 'New Message' input: 'draft message'
3. Click 'back' in header
4. Return back to the same Room View screen

Expected: Draft message is displayed and the button on the right is 'Send'
Actual: Draft message is displayed but the button on the right is 'Microphone', which makes it not possible to send the draft right away after opening Room View

[2019-04-07 14:29] IlarionHalushka opened #791 "Hide frequently used emoji tab when empty"
Preconditions: Reinstall app so there are no frequently used emoji yet.

Steps to reproduce:
1. Open Room View screen
2. Click on Emoji button on the left

Expected: Frequently used tab is not displayed because it's empty.
Actual: Frequently used tab is displayed with empty content.

Screenshot: https://prnt.sc/n8mro3

Your Rocket.Chat Experimental app version: branch develop 1.11.0.100
Your Rocke

[2019-04-08 11:26] pranavpandey1998official commented on #698
@diegolmello I have implemented it but performance is not satisfactory with this, takes too much time to load ,

[2019-04-08 12:07] diegolmello commented on #698
@pranavpandey1998official Don't delete your branch. Open a PR anyway.

@malivp3494 Did you gave it a shot?

[2019-04-08 13:30] zdumitru commented on #713
Any update on this? Quite a critical issue not working for a long time.

[2019-04-08 13:40] diegolmello commented on #713
@valdirluiz @zdumitru This is not implemented yet. Are you guys willing to help?
I can guide you through it.

[2019-04-08 15:17] diegolmello opened #794 "Show loading indicator on images"

[2019-04-08 15:19] diegolmello opened #795 "Horizontal scroll on files"
In RoomView, we should be able to scroll horizontally to view more files.

[2019-04-08 20:07] IlarionHalushka commented on #795
could you please show an example of what you wish to see? :)

[2019-04-08 20:27] diegolmello commented on #795
@IlarionHalushka Go to any WhatsApp/Telegram group, tap in a photo and swipe left/right.
You'll be able to see other media files of that group in full screen (photos, audios, videos, etc).
It's a carousel.

[2019-04-08 20:41] pranavpandey1998official commented on #795
@IlarionHalushka are you taking up the issue?

[2019-04-08 20:48] IlarionHalushka commented on #795
Will try to implement it

[2019-04-08 21:04] diegolmello opened #799 "Merge message views"
On Room Actions, we have Files, Mentions, Starred and Pinned.
They have similar APIs and logic.
All of those could be merged into one generic view (MessagesView).
Maybe even Search could be in this merge.

**Note:** They're similar, but have own rules (unstar, unpin, etc).

This change may reduce 1MB to our release bundle size, since we're going to remove a lot of boilerplate.

[2019-04-08 21:06] pranavpandey1998official commented on #795
cool , here is the end point where you can get all files in channel (https://rocket.chat/docs/developer-guides/rest-api/channels/files/). I can think of a solution to view all images by using 'react-native-image-zoom-viewer' and pushing all images in it when photoModel is rendered I think for other media file solution can be similar . all the best 👍

[2019-04-10 11:52] samirchauhan opened #802 "Getting error while adding my server url in sign in your server page."
- Your Rocket.Chat Experimental app version: 1.11.0
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: Device

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

Getting error Oops! The URL you entered is invalid. Check it and try again, please!

[2019-04-10 12:19] diegolmello opened #803 "Change "SettingsView" layout"
We need to add more settings too, but this layout isn't good.

### SettingsView needs:
- Contact us
- Language
- Theme
- Share this app
- License
- Version (it's on SidebarView now and it should be here)
- Server version
- Send crash report

<img src="https://user-images.githubusercontent.com/804994/55877694-1bf53e80-5b71-11e9-8125-edd9b219338a.jpeg" width="350" />

### We need to create a Languag

[2019-04-10 12:50] pranavpandey1998official commented on #802
I will be needing more info , can you tell me your server URL

[2019-04-10 12:58] samirchauhan commented on #802
yes it is chat.oyamohali.org

[2019-04-10 12:58] pranavpandey1998official commented on #803
I would suggest that by selecting desired language we should redirect user to chat Stack so hole view could be reloaded

[2019-04-10 12:59] diegolmello commented on #802
@samirchauhan @pranavpandey1998official We always work to keep everyone's data incognito and we'll understand if you don't want to post your server url here, but we need more info to fix your issue.

Other options:
- Send your server url to me (`@diego.mello`) at https://open.rocket.chat
- Simulate a similar server on a free cloud (heroku, etc) and post the link here

[2019-04-10 13:06] pranavpandey1998official commented on #802
@samirchauhan  try with http://chat.oyamohali.org

[2019-04-10 13:06] pranavpandey1998official commented on #802
thanks for reporting

[2019-04-10 13:08] samirchauhan commented on #802
Same error with http also.

[2019-04-10 13:09] pranavpandey1998official commented on #802
Sorry but I could excess it with http://chat.oyamohali.org

[2019-04-10 13:11] pranavpandey1998official commented on #802
come to our IRC channel open.rocket.chat so we could discuss it more

[2019-04-10 13:15] pranavpandey1998official commented on #802
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/1d9acdb700c5f854e4dbd9bd61074ab90a29c7b8/app/views/NewServerView.js#L142
@diegolmello I think problem is here we are always adding https and not even concedering http

[2019-04-10 16:23] pranavpandey1998official commented on #698
@diegolmello it's too far gone.. 😞 maybe I'll implement it again and then make a PR.

[2019-04-11 14:29] diegolmello commented on #803
@pranavpandey1998official Good point. We should do that.

[2019-04-11 14:43] AugustoAleGon opened #806 "Upload files using endpoint rooms.upload"
- Your Rocket.Chat Experimental app version: 1.10
- Your Rocket.Chat server version: ###
- Device (or Simulator) you're running with: Simulator

I got an error message when I am sending the data form in the endpoint `rooms.upload/:rid`.
I am doing the following:

[code]

[2019-04-11 15:31] pranavpandey1998official commented on #806
can you post the error too...

[2019-04-11 15:56] diegolmello commented on #806
This is not a RN issue. If you're having trouble, refer to the main RC repo as this is an api question.

[2019-04-11 15:56] #806 closed

[2019-04-11 16:01] pranavpandey1998official opened #807 "react-native link throwing error"
rnpm-install ERR! Something went wrong while linking. Error: Maximum call stack size exceeded
Please file an issue here: https://github.com/facebook/react-native/issues

Maximum call stack size exceeded

RangeError: Maximum call stack size exceeded
    at merge_obj (/home/pranav/Desktop/myRepo/Rocket.Chat.ReactNative/node_modules/xcode/lib/parser/pbxproj.js:1883:25)
    at merge_obj (/home/pranav/

[2019-04-11 17:54] diegolmello opened #808 "[FIX] Livechat is broken"

[2019-04-11 18:40] AugustoAleGon commented on #806
It is a RN issue. Because In web the FormData works correctly.

[2019-04-11 18:41] AugustoAleGon commented on #806
My response from the server is:
[code]

[2019-04-11 19:54] diegolmello opened #809 "Show channel's avatar on discussions"
We should be looking for channel avatar instead of generating a letter for the discussion.
This is better for ux and it'll be helpful when we implement "Change channel's avatar" feature.

Reference: https://github.com/RocketChat/Rocket.Chat/pull/14053

[2019-04-13 07:53] pranavpandey1998official commented on #701
@diegolmello I am taking this issue .. so do you want to give user ability to write report text .. because Rocket.chat.Android are just reporting message with same text ??

[2019-04-14 08:59] aryankoul commented on #794
@diegolmello i would like to work on this issue.

[2019-04-14 10:20] pranavpandey1998official commented on #794
@aryankoul its already solved

[2019-04-15 12:42] diegolmello commented on #701
@pranavpandey1998official https://rocket.chat/docs/developer-guides/rest-api/chat/reportmessage/

As description send "Message reported by user"

[2019-04-15 20:04] diegolmello opened #817 "Localize dates"
All our date formats are fixed right now.
We need them to follow user's settings.

[2019-04-15 20:28] aryankoul commented on #817
@diegolmello i would like to work on this issue.

[2019-04-15 20:31] diegolmello commented on #817
@aryankoul Go on :)

[2019-04-17 16:44] diegolmello commented on #807
@pranavpandey1998official Why did you ran `link` without installing anything new? I'm closing this for now.

[2019-04-17 16:44] #807 closed

[2019-04-17 16:50] pranavpandey1998official commented on #807
@diegolmello I was installing react native tabview.. I have to make pr for that with head detched response this

[2019-04-17 19:27] #467 closed

[2019-04-17 19:47] pranavpandey1998official opened #820 "toggleFollowThread not working"

[2019-04-17 20:13] IlarionHalushka opened #822 "[BUG] [IMPROVEMENT] Threads"
@diegolmello nice feature, really useful one 👍

### Bugs:
**1. Replies count doesn't update on Threads List Screen.**
Steps to reproduce:
- open Threads List Screen
- open Single Thread Screen
- send a new message
- go back to Threads List Screen

Expected: replies count of the message is incremented.
Actual: replies count of the message is not incremented.

**2. Draft message is shared between di

[2019-04-17 20:59] diegolmello commented on #822
@IlarionHalushka Really nice catches there! Thanks for opening.
`Threads` is a "work in progress" yet, but I merged to keep other PRs in sync.
As you can notice, there's several workarounds to make `threads` and `threadMessages` in sync and all calls are made using DDP. That because [this PR](https://github.com/RocketChat/Rocket.Chat/pull/14045) didn't landed yet :)

I'll have to close this issue

[2019-04-17 21:02] #822 closed

[2019-04-17 21:29] #820 closed

[2019-04-18 16:37] IlarionHalushka opened #826 "[BUG] Replies count doesn't update on Threads List Screen."
Steps to reproduce:
- open Threads List Screen
- open Single Thread Screen
- send a new message
- go back to Threads List Screen

Expected: replies count of the message is incremented.
Actual: replies count of the message is not incremented.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simulator) you're running with: Iph

[2019-04-18 16:37] IlarionHalushka opened #827 "[BUG] Draft message is shared between different Threads"
Steps to reproduce:
- open Threads List Screen
- open Single Thread Screen
- type message '123' but don't send it
- go back to Threads List Screen
- open other Thread

Expected: draft message is not in input.
Actual: draft message is shared between Single Threads Screen.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simul

[2019-04-18 16:40] IlarionHalushka opened #828 "[BUG] Reply on images, audio files doesn't work.*"
Steps to reproduce:
- go to Room View
- long press on message with image/audio
- click Reply action in actionsheet

Expected: reply modal above message input appears.
Actual: nothing happens.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simulator) you're running with: Iphone SE

[2019-04-18 16:43] IlarionHalushka opened #829 "[BUG] Reply to Thread with audio or image doesn't work"
Steps to reproduce:
- open Room View screen
- long press on text message
- choose Reply in actionsheet
- record audio/attach photo file
- click Send

Expected: new reply is added to text message.
Actual: nothing happens.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simulator) you're running with: Iphone SE

[2019-04-18 16:47] pranavpandey1998official commented on #828
@IlarionHalushka  i would like to work on this

[2019-04-18 16:49] diegolmello commented on #828
@pranavpandey1998official I'll do it. I'll have to change other things as well.

[2019-04-18 16:50] IlarionHalushka opened #830 "[BUG] Editing of reply message in Single Thread Screen does nothing"
Steps to reproduce:
- go to Single Thread Screen
- long press on reply text message
- choose Edit in actionsheet
- edit reply message in message input
- click Send

Expected: reply message is edited.
Actual: nothing happens.

NOTE: editing of replies works ok in Single Room Screen.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Devic

[2019-04-18 16:53] IlarionHalushka opened #831 "[BUG] Permalink of reply message in Single Thread Screen doesn't work"
Steps to reproduce:
- open Single Thread Screen
- long press on reply text message
- choose Permalink in actionsheet

Expected: a success toast displayed and a link to the message is copied to clipboard.
Actual: no toast, no link copied to clipboard.

NOTE: works fine on Single Room View Screen.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocke

[2019-04-18 16:56] IlarionHalushka opened #832 "[BUG] Share of reply message in Single Thread Screen doesn't work"
Steps to reproduce:
- open Single Thread Screen
- long press on reply text message
- choose Share in actionsheet

Expected: a native action sheet is displayed with share options.
Actual: nothing happens.

NOTE: works fine on Single Room View Screen.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simulator) you're running w

[2019-04-18 16:58] IlarionHalushka opened #833 "[BUG] Delete of reply message in Single Thread Screen doesn't work"
Steps to reproduce:
- open Single Thread Screen
- long press on reply text message
- choose Delete in actionsheet
- in confirmation alert choose Yes Delete

Expected: reply message is deleted.
Actual: message is not deleted.

NOTE: works fine on Single Room View Screen.

- Your Rocket.Chat Experimental app version: 1.12.0.6971
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simula

[2019-04-18 17:09] bhanu2795 opened #834 "Can't able to start the app."
@leefaus @davidlougheed

I simply clone the project and run 'npm i' with node version 10.13
and then run 'react-native run-ios' but it failed.
below is the screenshot.

![Screenshot 2019-04-18 at 10 35 42 PM](https://user-images.githubusercontent.com/16860884/56378428-ac471980-622a-11e9-997a-eed007fab47d.png)

- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: ###

[2019-04-18 17:38] diegolmello opened #836 "Remove toast"
https://github.com/remobile/react-native-toast is dead.

For now, let's show simple Alerts or even nothing.

[2019-04-18 17:43] pranavpandey1998official commented on #836
can I take this up?

[2019-04-18 17:44] diegolmello commented on #836
@pranavpandey1998official Sure!

[2019-04-18 19:58] IlarionHalushka commented on #834
Are you sure you have all the dependencies installed?
You can follow this guide: https://facebook.github.io/react-native/docs/getting-started.html
Choose tab 'React Native CLI Quick start'.

After you are done with setup follow the instructions from Rocket.Chat.ReactNative docs:
$ git clone git@github.com:RocketChat/Rocket.Chat.ReactNative.git
$ cd Rocket.Chat.ReactNative
$ yarn global add react-n

[2019-04-19 05:03] saleseekr opened #839 "React Native App doesn't log in or register to my server"
Hi, I installed Rochet.Chat server and through web interface all goes well. But when I am using RocketChatRN app and trying to log in or register user, there are two ways:

1) If I am entering incorrect user name or password, it says me about wrong credentials (that means that it sees my server).
2) But when I am using proper credentials, it just does nothing. The button is showing spinning stuff

[2019-04-19 05:09] pranavpandey1998official commented on #839
Send your server URL to me (@pranav.pandey) at https://open.rocket.chat

[2019-04-19 05:58] saleseekr commented on #839
Thanks, added you to private channel there

[2019-04-19 08:11] aryankoul commented on #817
@diegolmello we need to set the date format according to the language selected?

[2019-04-19 09:00] bhanu2795 commented on #834
Yeah installed but got 1 one the following error in the terminal console.
![Screenshot 2019-04-19 at 2 28 54 PM](https://user-images.githubusercontent.com/16860884/56416803-93cd1280-62af-11e9-8ad2-72c602df417e.png)

[2019-04-19 14:41] IlarionHalushka commented on #834
Why are you running `npm i`, it is not mentioned anywhere?
This project uses `yarn`
and what's your version of python? mine is 2.7.15

[2019-04-19 14:56] bhanu2795 commented on #834
Its phython 3.7 npm also works instead of yarn

[2019-04-21 19:07] IlarionHalushka opened #840 "[BUG] Profile View inputs' state sets to default every 5 secs"
Steps to reproduce:
- go to Profile View Screen
- change any input's value
- wait 5 secs

Expected: changed value is displayed in input.
Actual: Changed input's value is set to default (the one that user currently has)

Video:
https://drive.google.com/file/d/159PF0qWffdMPpdi-wWJjAc5OEmtsObVw/view?usp=sharing

- Your Rocket.Chat Experimental app version: 1.12.0.100
- Your Rocket.Chat server version

[2019-04-22 12:53] diegolmello commented on #817
@aryankoul Yes, something like this: https://momentjs.com/docs/#/i18n/

[2019-04-22 13:11] diegolmello commented on #839
@saleseekr Make sure websocket is enabled.

[2019-04-23 03:01] kareemhamdy100 opened #842 "RTL problem with roomActionsView"
- RTL problem on RoomActionsView
![rtlproblem](https://user-images.githubusercontent.com/28368419/56549971-9fa52700-6584-11e9-884e-500cdcfb8547.png)

[2019-04-23 03:01] kareemhamdy100 commented on #842
I'm gonna solve it

[2019-04-23 16:00] giterium opened #844 "When messages becomes a lot of chat starts to slow down"
- Your Rocket.Chat Experimental app version: 1.11.0.6782
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: ios (iphone x or iphone 5s)

Chat is so slow. Messages remain in the input field after sending. Sometimes only part of the message is sent.

[2019-04-24 06:53] giterium commented on #844
![IMG_0660](https://user-images.githubusercontent.com/16814062/56638385-b2982400-6676-11e9-826d-8a14578e84e5.JPG)

[2019-04-24 18:36] #826 closed

[2019-04-24 18:36] #827 closed

[2019-04-24 18:36] #828 closed

[2019-04-24 18:36] #829 closed

[2019-04-24 18:36] #830 closed

[2019-04-24 18:36] #831 closed

[2019-04-24 18:36] #832 closed

[2019-04-24 18:36] #833 closed

[2019-04-25 20:12] pranavpandey1998official opened #848 "Cannot access all the items of drop drown in landscape"
- Your Rocket.Chat Experimental app version: 1.11
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.
![Screenshot_2019-04-26-01-33-01-228_chat rocket reactnative](https://user-images.githubusercont

[2019-04-26 00:57] graywolf336 commented on #649
There are even more action buttons than what @sampaiodiego described, we need documentation about them..

[2019-04-26 20:04] marceloschmidt opened #854 "[NEW] Auto-Translation"
We need to support Auto-translation feature.
When enabled, the server returns messages translated to the selected language.

There should be two ways of using it:
- Translating a single message (hold message and tap "Auto-translate" on the bottom sheet)
- Translating all messages in a room (tap "Auto-translate" on room actions)
  - Note: Only new messages will be translated

Both options must navi

[2019-04-30 09:53] giterium opened #859 "Dissable notification not working"
- Your Rocket.Chat Experimental app version: 1.11.0.6782
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: iphone x

Nothing happens when you click in the Disable notifications channel.

[2019-04-30 11:09] diegolmello commented on #859
@giterium Just tested and it seems to work.
Maybe it's not working the way you think it should.
We're just toggling "Mobile" notifications (see image below).
We have plans to implement all "Notifications Preferences" in the future.
Let me know if it's working for you like I said in order to close this issue.

![image](https://user-images.githubusercontent.com/804994/56957899-01363a00-6b1f-11e9-8df

[2019-04-30 11:26] giterium commented on #859
Nothing happens to me by clicking Disable notifications in Direct Chat. Nothing opens. Just blink item. I don’t know what is going to happen there :)

[2019-04-30 11:28] diegolmello commented on #859
@giterium are you checking on the web if it changes or complaining about UX?

[2019-04-30 11:37] giterium commented on #859
you have a disable notification item there. If I click on it nothing happens. I told you about it. Each button performs some function. This button does nothing. I don't know what this button should do. maybe she should open a window with settings. how can i check?

[2019-04-30 11:39] giterium commented on #859
if it turns off notifications just by clicking it means complaining about ux

[2019-04-30 11:44] giterium commented on #859
In general, make at least the inscription changed or it is not clear

[2019-04-30 11:44] #859 closed

[2019-04-30 11:46] diegolmello commented on #859
You're right about ux. It's terrible right now.
A simple toast would make it better.

[2019-04-30 11:50] giterium commented on #859
Yes, thanks :)

[2019-04-30 14:06] giterium opened #860 "After deleting and re-creating the chat is duplicated"
- Your Rocket.Chat Experimental app version: 1.11.0.6782
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: iphone x

After deleting and re-creating the direct chat is displayed twice for a while. Sometimes it takes a lot of duplicates.

[2019-04-30 14:11] giterium commented on #860
![IMG_0660](https://user-images.githubusercontent.com/16814062/56967955-e8ec0c80-6b6a-11e9-8dc1-6c3e1a0414ea.JPG)

[2019-04-30 14:23] diegolmello commented on #860
@giterium How do you simulate this?
What 'deleting and re-creating direct' means?

[2019-04-30 14:24] giterium opened #861 "Add sending photos in all formats"
- Your Rocket.Chat Experimental app version: 1.11.0.6782
- Your Rocket.Chat server version: 0.74.3
- Device (or Simulator) you're running with: iphone

IPhone saves photo in HEIC format. They can not be sent.

[2019-04-30 14:28] giterium commented on #860
1. Delete direct chat.
2. Create a direct chat which is deleted.

[2019-04-30 14:30] diegolmello commented on #860
@giterium How are you deleting a direct chat?

[2019-04-30 14:32] giterium commented on #860
In Rocket Chat Electron via chat menu

[2019-04-30 14:35] giterium commented on #860
On the main client is the same
https://github.com/RocketChat/Rocket.Chat.iOS/issues/2681

[2019-04-30 14:37] giterium commented on #860
Probably the case in the server. Only that to do it is unclear. The duplicates don't disappear.

[2019-04-30 14:39] diegolmello commented on #860
Where? Admin? Please, explain in details.

[2019-04-30 14:41] giterium commented on #860
In the chat itself. In the section Information about the chat. There is a delete button.

[2019-04-30 14:43] giterium commented on #860
![test](https://user-images.githubusercontent.com/16814062/56970245-66198080-6b6f-11e9-8cc7-36cd764e3057.jpg)

[2019-04-30 14:45] diegolmello commented on #860
@giterium Rocket.Chat Electron version? Screenshot after clicking "info", etc...

[2019-04-30 14:48] giterium commented on #860
2.15.2 version. Why do you need a screenshot?

[2019-04-30 14:50] giterium commented on #860
There is something unusual inside? :D

[2019-04-30 15:23] diegolmello commented on #860
@giterium Because "info" shows only for group/channel messages for me.
I'm still unable to simulate.

[2019-04-30 16:09] giterium commented on #860
The user has rights "delete-p" and "edit-room"?

[2019-04-30 16:17] diegolmello commented on #860
`delete-p` is for private, not direct.
But yes, I'm logged in as admin and I can't simulate 🤔

[2019-04-30 16:26] giterium commented on #860
![1](https://user-images.githubusercontent.com/16814062/56977405-ca434100-6b7d-11e9-821f-458d8c7ad898.jpg)

[2019-04-30 16:29] giterium commented on #860
I have this in all direct chats

[2019-04-30 16:30] giterium commented on #860
Maybe it's not direct? :D

[2019-04-30 16:30] giterium commented on #860
I just select a user from the directory and click on it

[2019-04-30 16:32] diegolmello commented on #860
@giterium Fine. I'll take a look soon. Thanks for opening :)

[2019-04-30 16:34] giterium commented on #860
room
![room](https://user-images.githubusercontent.com/16814062/56977857-db408200-6b7e-11e9-82a0-640ea940930b.jpg)
chat
![chat](https://user-images.githubusercontent.com/16814062/56977869-e1366300-6b7e-11e9-931c-52995edb204c.jpg)
Thank you :)

[2019-05-02 13:22] pranavpandey1998official opened #865 "two getRoleDiscription in RoomInfoView"
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/2f920c63e5a491974ea9af12e95b4f0d583aa767/app/views/RoomInfoView/index.js#L112

https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/2f920c63e5a491974ea9af12e95b4f0d583aa767/app/views/RoomInfoView/index.js#L142

[2019-05-02 13:55] #865 closed

[2019-05-02 15:19] reetp opened #868 "App crashes on accessing channel and docx file"
- Your Rocket.Chat Experimental app version: 1.13.0.7425
- Your Rocket.Chat server version: 0.74.3 1.0.2
- Device you're running with: Samsung Galaxy S9

Actually two items here but they can be split if required.

Clicking a docx in a private channel on 0.74.3 causes and immediate crash - doesn't ask to send logs.

Crashes on a specific Private Channel on a v1.0.2 server. The reason I decided to t

[2019-05-03 05:56] sujitkaulavkar123 opened #870 "Support for the experimental syntax 'decorators-legacy' isn't currently enabled"
Hello Team ,
   I am getting error while running on simulator and emulator.

[code]

[2019-05-03 11:45] diegolmello commented on #870
@sujitkaulavkar123 Make sure you run `yarn`.
This error is fixed with `@babel/plugin-proposal-decorators` and it's already on our `package.json`.

[2019-05-03 11:45] #870 closed

[2019-05-03 14:58] diegolmello opened #872 "Paste is not working on Android"
Known RN issue: https://github.com/facebook/react-native/issues/23653

[2019-05-03 16:43] diegolmello commented on #707
Resolved on #798

[2019-05-03 16:43] #707 closed

[2019-05-05 19:44] diegolmello opened #877 "Open URL doesn't work on Android 9"
Fabric points to CustomTabsAndroid.openURL.
It seems we need to require FLAG_ACTIVITY_NEW_TASK flag.
We should do something like this: https://github.com/droibit/react-native-custom-tabs/blob/develop/android/src/main/java/com/github/droibit/android/reactnative/customtabs/CustomTabsModule.java#L181

Here's the stack error from Fabric.
[code]