[2020-08-02 09:45] ankar84 commented on #2362
Today with same application version open.rocket.chat works fine
I successfully login and all update events works perfect. All chats are available.

[2020-08-02 23:53] trollqaa opened #2384 "Huawei push notifications"
### Description:
New Huawei / Honor smartphones do not have Google services, and as a result, PUSH notifications sent via GCM do not work

### Steps to reproduce:

1.  Use huawei/honor 2019/2020 years w/o gApps
2.  Install .apk Rocket.Chat
3.  Push not received and show message "app need google services"... :(

### Expected behavior:
i expect working push notify

### Actual behavior:
- push not wo

[2020-08-03 11:58] diegolmello commented on #2364
Duplicated of #1691

Update to latest version and try again.

[2020-08-03 12:10] luckydonald commented on #2364
@diegolmello #1691 is about pasting, this one is about copying.

[2020-08-03 12:13] luckydonald commented on #2364
![36418507-0C73-4941-A109-C1F958C13C90](https://user-images.githubusercontent.com/2737108/89181104-528b6f80-d593-11ea-8e5b-cd5ebe073123.jpeg)
@diegolmello this seem to be the newest version of the app there is on TestFlight. Where can I get a newer one?

[2020-08-03 12:15] luckydonald commented on #1691
@diegolmello this issue here is about **uploading** via paste, and not related to copying (downloading) an existing image to clipboard as described in #2364

[2020-08-03 12:31] diegolmello commented on #2364
@luckydonald You're right. My bad.
I'm opening again.
I also saw that you're talking about a follow-up feature of copying an image to another app.
That's not implemented yet.

About the version, Experimental version of the app was removed from the store by Apple.
We keep Experimental only as beta version, but we don't update it that often, as public betas need to be approved by Apple as well.
You

[2020-08-03 12:32] diegolmello commented on #1691
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2364#issuecomment-667996651 :)

[2020-08-03 12:41] luckydonald commented on #2364
I tried with the most recent Appstore one, and the open.rocket.chat server as well.

![34FB11BA-16F9-4D41-8745-460A13D5BB9B](https://user-images.githubusercontent.com/2737108/89183172-1eb24900-d597-11ea-8a0c-44044d061b4d.jpeg)
![55694779-1AB6-4F54-92ED-75C4C476575A](https://user-images.githubusercontent.com/2737108/89183293-486b7000-d597-11ea-87bc-28d9ff319cab.jpeg)
 Both copy and share give me an

[2020-08-03 12:44] luckydonald commented on #2364
All three (copy, share, permalink) do result in https://open.rocket.chat/channel/sandbox?msg=qD4Wfu9rKcqTsfECv

[2020-08-03 12:45] luckydonald commented on #2364
That current form redundant and all three could even be merged into one Single "Share post" as the link share me nu has the copy option as well.

[2020-08-03 12:48] diegolmello commented on #2364
I think `Copy` option copies the text of the message, but I agree `Permalink` and `Share` do almost the same thing.

[2020-08-03 12:51] luckydonald commented on #1691
Having no idea about how that could work,
How would one go about any of the copy stuff?
Is there a library in place one could use, or would one just pick one from Npm?
Or would it even need to be written from scratch?

[2020-08-03 13:13] luckydonald commented on #2364
Oh my bad. Indeed copy results in an empty clipboard with images.

How Would I go with implementing this?
My idea was to look at the code for the current save to camera role code for how to grab the image file, and then shove it into the clipboard somehow, probably those permalinks copy things already use a library for that?

[2020-08-03 13:18] diegolmello commented on #2364
Something like this on iOS https://stackoverflow.com/a/44423850/5447468
Possible on Android https://stackoverflow.com/a/39613285/5447468

[2020-08-03 14:25] diegolmello commented on #1691
AFAIK it needs to be implemented natively and there's no lib available.

[2020-08-04 02:12] BizClimb commented on #2329
Issue still persists, even after I upgraded to 3.5.1. :(

[2020-08-04 08:05] localhostec commented on #1471
Any luck with this man?

[2020-08-04 08:30] fniko opened #2367 "The application is unable to show group chat."
- Your Rocket.Chat Experimental app version: 4.9.0.2132
- Your Rocket.Chat server version: 3.4.2 (managed)
- Device (or Simulator) you're running with: Xiaomi Mi 9T (MIUI 12.0.2 Stable)

The application is unable to show one group chat. The chat is displayed for a second and then app crashes.
Error:
[code]

full bug report here
https://pastebin.com/Nur4gCRX

[2020-08-04 09:32] kosmonavtika commented on #2322
You forgot to mention that push notification data privacy is only available to paying customers, breaking GDPR compliance rendering Rocket.Chat push notifications unlawful in the EU.

[2020-08-04 09:35] la-coste commented on #2322
You forgot to mention that push notification data privacy is only available to paying customers, breaking GDPR compliance rendering Rocket.Chat push notifications unlawful in the EU.

[2020-08-04 10:15] AlexKalopsia commented on #1804
@titomiky I'm having the same exact issue, and same setup.

my env looked like

[code]

I changed it to

[code]
- PORT=3030
- ROOT_URL=https://chat.mydomain.com
- MONGO_URL=mongodb://mongo:27017/rocketchat
- MONGO_OPLOG_URL=mongodb://mongo:27017/local
- MAIL_URL=smtp://smtp.mydomain
[code]

[2020-08-04 11:53] diegolmello commented on #2322
@la-coste I understand your concern, but that's not up to this repo nor this issue.
I'm marking as off-topic as it's not related to Push Message Encryption.

[2020-08-04 11:59] diegolmello commented on #2367
@fniko I was unable to reproduce here.
Can you record a video/gif?

[2020-08-04 12:28] diegolmello commented on #2329
@BizClimb We're releasing version 4.10 right now.
It's on beta phase.
Next week, we're going to update the single-server branch to match the new version and I'll check this.
If you manage to find the root cause first, please open a PR.
Thanks.

[2020-08-04 14:24] fniko commented on #2367
@diegolmello Yes, link below. It is only one specific group... but no one has access to it using a mobile app.

https://photos.app.goo.gl/gNENAoLgHPkVoBRh8

[2020-08-04 14:29] diegolmello commented on #2367
Oh, I think I got it.
Thanks for reporting.

[2020-08-04 18:22] #2211 closed

[2020-08-04 18:34] BizClimb commented on #2329
Sounds good, I wasn't able to edit this issue title after I created it, but this bug does appear in the **normal branch** too, not only the single server, so I'll be able to test as soon as 4.10 comes out with the normal branch also.

[2020-08-04 19:01] diegolmello commented on #2329
Oh, I didn't know that.
So it should be really easier to reproduce, but still...
We use https://open.rocket.chat all day with no issues.

[2020-08-04 20:07] AlexKalopsia opened #2369 "Stuck on splash screen when tapping on push notification"
- Your Rocket.Chat Experimental app version: 4.10.0.19273
- Your Rocket.Chat server version: 3.5.1
- Device (or Simulator) you're running with: Sony Xperia 1 II

I am running RocketChat on Docker, reverse-proxied with LetsEncrypt's nginx.
It works perfectly fine from desktop and mobile, and I connect to it on `http://myip:3030` or `https://chat.mydomain.com`

The only issue I am having is that whe

[2020-08-04 20:19] diegolmello commented on #2369
Hey, @AlexKalopsia!
We released a new version yesterday and it should be available for you already: 4.10.0.19550
It has a PR that was merged 5 days ago here: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2359

Usually this kind of issue is related to a misconfiguration of the Site URL pointing to a different URL used as main server.
e.g. the user uses https://chat.mydomain.com but the

[2020-08-04 20:27] AlexKalopsia commented on #2369
Hi @diegolmello, thank you so much for the quick reply.

The new version did, in fact, fix the issue!

Out of curiosity, what's the correct way to fix `Site_Url` for a docker installation?

[2020-08-04 20:30] diegolmello commented on #2369
👊

I don't know :(
@geekgonecrazy can you help? :)

[2020-08-04 20:30] #2369 closed

[2020-08-05 03:40] BizClimb commented on #2329
I'm guessing most people use the RC gateway instead of direct firebase, maybe the gateway passes some kind of information that direct firebase notification does not?

Yes, it's really simple to re-create the bug, just compile with your own google-services.json (don't use gateway), and set the GCM  Server ID & API in the credentials. Launch and login to your server on the app to register the device

[2020-08-05 03:49] BizClimb commented on #2329
I will test again and report back once 4.10 is out.

[2020-08-05 11:41] diegolmello commented on #2329
We do this kind of test every other day and it's working.

[2020-08-05 12:55] emikolajczak opened #2371 "[white label] Default logo appears instead of android-chrome 512x512 (png)"
- Your Rocket.Chat Experimental app version: 4.9.0.1
- Your Rocket.Chat server version: 3.0.12
- Device (or Simulator) you're running with: Samsung Galaxy a20e

Hi,
I am working on white label version of Rocket mobile app. I base on `single-server` branch.
In my server configuration I was changed `android-chrome 512x512 (png)` asset

![image](https://user-images.githubusercontent.com/50440047/8941

[2020-08-05 15:14] BizClimb commented on #2329
Hmm, I've compiled the code via android studio, command line, and straight npx react-native run-android and still get the same result. I tried a RC server behind reverse proxy via nginx and apache, same result as well. I'm only using Android, not iOS so maybe a step for iOS is required even though I'm not using it?

I'll do a full video run through of what I'm doing from server setup, to compile,

[2020-08-05 16:46] #2371 closed

[2020-08-05 16:48] #2367 closed

[2020-08-06 09:03] geekgonecrazy commented on #2369
Just go into UI under general and fix.

If you just must fix via docker you can set OVERWRITE_SETTING_Site_Url=url and will force it on startup to that value

[2020-08-07 17:29] SpirouSp commented on #2329
Hello. I have had the same issues as you described but on iOS. After reading some topics on github and getting some help on chat, I found my problem: the url in the Admin Panel / General should be the same as the url used in the mobile application. After I changed this the individual  notifications are working again.

 I haven’t checked notifications two more then one user, so I don’t know if the

[2020-08-07 20:26] BizClimb commented on #2329
Thanks for the suggestion, I tried both the correct url and even the direct http://server:3000 url and neither resolved the issue.

[2020-08-07 20:56] BizClimb commented on #2329
I thought maybe I could get some more details from react-native log-android, I got this output from notification tap to freeze:

info Starting logkitty
[15:41:55] D | ReactNative ▶︎ ReactInstanceManager.ctor()

[15:42:08] D | ReactNative ▶︎ ReactInstanceManager.createReactContextInBackground()
                           └ ReactInstanceManager.recreateReactContextInBackgroundInner()

[15:42:10] D |

[2020-08-08 21:44] nixxou opened #2385 "No push notification : I dont receive notifications if the app is not running"
I don't know if that's a normal behavior. With apps like whatsapp, when i reboot my phone, dont launch the app and i receive a private message, i get the notification, but the same does not apply with rocketchat android app (both reactNative and the old one).

I'm on Android 9.

I only get notification after i launch the app, if i swipe out the app in the list of active app, i don't receive notifi

[2020-08-10 09:22] st1gok commented on #2385
I also have similar behavior.  I dont receive notifications if stopped application in Options->Applications.
Tried sending push from admin interface and as user message.

Android 9
App 4.9.0.2132
Server 3.5.1

[2020-08-10 11:58] diegolmello commented on #2385
Can you test that on https://open.rocket.chat?
We're using it on this server and it works.

[2020-08-10 12:02] diegolmello commented on #2384
You'll have to download the F-Droid build.
Push notification aren't going to work though.
I'm closing this so we can focus on the work being done on https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2096

[2020-08-10 12:02] #2384 closed

[2020-08-10 12:07] diegolmello opened #2387 "[IMPROVEMENT] New threads layout"

[2020-08-10 12:35] nixxou commented on #2385
Like i said, i did exactly that.
Two account on the open rocket chat server, one with my desktop, one with my android.
If i launch the mobile app, press home (so the app still runing in the background), and send a private message from my computer account to my mobile account i get the notification.
But if i swipe out the app in the list of active app, and then send a private message from my comput

[2020-08-10 12:43] diegolmello commented on #2385
It's hard to guess what's happening, as it's working on the phone on my desk.
What's you Android device?
Can you share a log report?

[2020-08-10 15:27] zerobytes999 opened #2389 "Feature: Video playback offline"
- Your Rocket.Chat Experimental app version: 4.10.0.19667
- Your Rocket.Chat server version: 4.5.1

I think it will help alot when receiving videos they get downloaded (upon user tap on video box) and it is saved in the device instead of it being streamed. It will help greatly in re-viewing videos or while offline

Also video thumbnail will be an amazing step too.

Thank you very much for all the

[2020-08-10 15:34] nixxou commented on #2385
My phone is a Black Shark 2, runing a close to stock Android 9.
I tried to disable all battery optimisations options for Rocket.chat application, but that dont change anything.
How can i produce a log report ?

[2020-08-10 16:12] diegolmello commented on #2389
Thanks for opening.
Yeah, that's a great feature to have.

[2020-08-10 16:13] diegolmello commented on #2385
https://developer.android.com/studio/debug/bug-report

[2020-08-11 12:10] uzcoderteam opened #2391 "Chat"

[2020-08-11 12:17] #2391 closed

[2020-08-11 17:09] ankar84 opened #2393 "[BUG] Messages are disappeared in read-only broadcast channels"
### Description:

Messages are disappeared in read-only channels with system messages hided.

### Environment Information:

- Rocket.Chat Server Version: 3.1.1
- Rocket.Chat App Version: 4.10.0.19667
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 10

### Steps to reproduce:

1. Go to read-only channel with hide system messages option turned on
2. See empty channel
3. Clear cache
4. Read-only

[2020-08-11 17:25] diegolmello commented on #2393
Hey. Thanks for reporting.
Can you disable read-only on that room (or on another one) and try again?
I'm trying to isolate this away from read-only.
From my understanding, read-only has nothing to do with messages not showing.
Even better you manage to reproduce that on our open server.
Thanks!

[2020-08-12 08:54] nixxou commented on #2385
I'm not confortable posting a log report on a public page, can i send it to you as a private message ?

I captured debug data while sending a "test push notification" on my server, with my android app swiped out.
And indeed, i see on the debug log :

08-12 10:26:41.061 10222 30453 31121 D ReactNativeNotifs: New message from FCM: Bundle[{soundname=default, google.delivered_priority=normal, google.s

[2020-08-12 08:57] ankar84 commented on #2393
Unfortunately I can't do that, because this is a **Broadcast Channel**

Did try to reproduce it on open.rocket.chat with no luck.

My use case details.
1. Channel with problem is Read-Only Broadcast channel
2. User with problem (with disappeared messages) is not able to write messages to that Read-Only Broadcast channel (regular user)
3. On server level there is a a Hide system messages settings s

[2020-08-12 16:18] hengsok opened #2395 "[CHORE] Upgrade to latest React Native 0.63.2"
### Description:

React Native 0.63.2 fixed several bugs and improvements. Any plans to upgrade this project to latest React native version?
I'm not familiar of the changes in the patch file for 0.63.1, so it would be nice for someone familiar with those changes to perform the upgrade.

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:
- OS Versi

[2020-08-12 16:38] diegolmello commented on #2395
Several bugs?
Are you looking for a specific bug that affect us now and will stop happening after the update?

[2020-08-12 20:02] idominiki commented on #2348
It's seems to be reentered after each app update.

[2020-08-12 20:50] nixxou opened #2396 "Push devices registrations are not clear with the "close other active session" button on the profile page"
### Description:

Push devices registrations are not clear with the "close other active session" button on the profile page.

### Environment Information:

- Rocket.Chat Server Version: 3.4.2
- Rocket.Chat App Version: Web

### Steps to reproduce:

1. Use the Rocket chat app on multiple android device with your Admin account
2. Login on your desktop, go to your profile, click on the "close other a

[2020-08-12 20:51] #2396 closed

[2020-08-12 21:55] antoniomorais360 opened #2397 "No push notification in official rocket.chat Android app: I dont receive notifications if the app is not running"
### Description:

No push notification in official rocket.chat Android apps (including experimental).
I dont receive notifications if the app is not running.  If I open the app, the notification comes instantly... but there are no notifications if I am in any other app.

### Environment Information:

- Rocket.Chat Server Version: 3.4.2
- Rocket.Chat App Version: 4.10.0.2135
- Device Name: Galaxy A

[2020-08-13 05:42] ankar84 commented on #2397
You need to use gateway to get push notifications work with official application.

[2020-08-13 08:32] procnedev opened #2398 "Unable to npm install"
### Description:

I've just do a "git clone" and run an "npm install".
The last command is unable to install/found all modules.

### Steps to reproduce:

1. git clone https://github.com/RocketChat/Rocket.Chat.ReactNative.git
2. npm install

### Actual behavior:

Error: Command failed: git submodule update -q --init --recursive
fatal: No url found for submodule path 'original/LokiJS' in .gitmodules

[2020-08-13 08:39] Fishbowler commented on #2398
This repo uses `yarn` rather than `npm install`. Give that a go and report back if that solves your problem.

[2020-08-13 09:01] antoniomorais360 commented on #2397
![image](https://user-images.githubusercontent.com/2750015/90115368-fd352800-dd21-11ea-96f3-f612708b8f6a.png)

Should be this one?

[2020-08-13 09:12] ankar84 commented on #2397
Yes. Settings looks fine.

[2020-08-13 09:18] antoniomorais360 commented on #2397
![image](https://user-images.githubusercontent.com/2750015/90116990-4b4b2b00-dd24-11ea-90bb-8e7439f5b1f9.png)
![image](https://user-images.githubusercontent.com/2750015/90117073-64ec7280-dd24-11ea-971f-0d133cb48efc.png)

I don't know what could be missing :(

[2020-08-13 09:21] ankar84 commented on #2397
Oh, so maybe this is the root cause https://forums.rocket.chat/t/update-on-registration-requirement-to-utilize-push-gateway/7733

[2020-08-13 09:23] procnedev commented on #2398
Yes it solved the issue.
Thank you.

[2020-08-13 09:23] #2398 closed

[2020-08-13 13:39] nixxou commented on #2385
Ok, so my last issue was related to this : https://github.com/RocketChat/Rocket.Chat/issues/18541
And i manage to fix it.

But right now, i'm back to step one, and i still only get notification if my app is active (or runing in background).

@diegolmello Can i send you a bug report in a private message ?

[2020-08-13 13:41] diegolmello commented on #2385
@nixxou sure! https://open.rocket.chat/
I'm `@diego.mello`

[2020-08-14 08:21] akong77 opened #2451 "Could add Trad.Chinese to android system?"
## My Setup

- Operating System: Android 9
- App Version: 4.10.0
- Installation type: google play

- [X] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description

Rocket.chat on android no trad.chinese. Could add it?

### Current Behavior

### Expected Behavior

[2020-08-14 10:28] nixxou commented on #2385
Ok, i send you a private message in the rocket chat open workplace.

[2020-08-14 12:41] antoniomorais360 commented on #2397
Hello @ankar84 , thanks for your help.

I was registered, but disconnected here. I reconnect and works! The problem now is the 2 minutes delay.
![image](https://user-images.githubusercontent.com/2750015/90250250-ccc8b900-de09-11ea-991e-601050513e5d.png)

[2020-08-14 12:42] #2397 closed

[2020-08-17 02:10] akong77 opened #2402 "[i18n] Add Trad Chinese"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.5.0
- Rocket.Chat App Version: 4.10.0.2135
- Device Name: HTC
- OS Version: Android 9

### Steps to reproduce:

1. Settings
2.  Language
3.  It's not Trad.Chinese

### Expected behavior:

I has translate all rocket.chat string for trad.chinese .But it's not add to android or ios system.Please add it.Thanks a lot.

###

[2020-08-17 11:44] diegolmello commented on #2402
hey, @akong77!
Can you open a PR adding it?
Copy, rename this file to `zh_TW.js` and translate all appropriate strings: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/i18n/locales/en.js

Add `zh_TW` [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/LanguageView/index.js#L23) and [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/b

[2020-08-18 09:24] didierm commented on #2348
Re-adding the server URL after each logout is also in our organization a major hurdle for end-user acceptance :

* URL's are difficult to enter on a mobile screen keyboard, leading to end-user errors ;
* URL's are difficult to remember, leading to end-user errors.

Requiring to re-enter the URL every few days is currently a major source of frustration.

Is this an intended modus operandi, or a fix

[2020-08-18 11:55] diegolmello commented on #2348
There's a setting on Admin's side to limit auth token's lifetime that may be causing this or maybe a misconfiguration of SSO.
Anything else is a bug and I would appreciate a reproducible example so we can fix the cause and not the collateral effect.

That said, I agree with you that we can think in a better UX for re-entering server URLs.
I'll talk to our design team.
Thanks.

[2020-08-19 04:31] ankar84 opened #2410 "[BUG] Jitsi call crash Rocket.Chat ReactNative application on smartphone rotate"
### Description:

Jitsi call crash Rocket.Chat ReactNative application on smartphone rotate. Mostly on Android.

### Environment Information:

- Rocket.Chat Server Version: 3.1.1
- Rocket.Chat App Version: 4.10.0.19667
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 10

### Steps to reproduce:

1. Start Jitsi call in Rocket.Chat ReactNative
2. Rotate your smartphone horizontally and vertically

[2020-08-19 05:45] nahid commented on #2385
I am facing the same issue from couple of days

[2020-08-19 12:02] #2285 closed

[2020-08-19 12:06] diegolmello commented on #2410
It seems to be related to Jitsi itself.
Thanks for linking it.

[2020-08-19 13:44] Bob7rm opened #2411 "Any way to override codes rather than replacing them?"
Hi
I'm wondering what is the best way to customize the app, is there any process to override mobile app views or a standard for that?
Generally is there any document for application customization like adding custom oauth services alike amazon cognito?

[2020-08-19 14:11] diegolmello commented on #2411
I didn't get what you're trying to get help here, but here's the whitelabel doc https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps

If you're trying to get help related to Custom OAuth, ask on our server repo: https://github.com/RocketChat/Rocket.Chat

[2020-08-19 14:11] #2411 closed

[2020-08-20 07:10] ankar84 commented on #1315
Must have functionality for search in mobile application!
Please implement that.

[2020-08-20 12:10] diegolmello commented on #1315
@ankar84 I agree.
We've been working more on encryption lately, but this feature is for sure on our plans.
Thanks.

[2020-08-20 12:54] ankar84 commented on #1315
Yeah, I know about plan to implement e2e encryption, and I personally wait it more then Jump to message functionality (which is pretty important in Search)
So, thanks, @diegolmello that sharing your plans!

[2020-08-20 19:49] mddvul22 commented on #2149
We are now logging our users out every day, for security reasons.  This bug is frustrating.

[2020-08-20 19:51] diegolmello commented on #2149
Let's keep the conversation on #2348

[2020-08-20 19:51] #2149 closed

[2020-08-20 19:54] mddvul22 commented on #2348
@diegolmello We have our max login time set to 1 day on the servers. As for requesting a reproducible example, how are you wanting that provided?

[2020-08-20 19:57] diegolmello commented on #2348
Thanks, @mddvul22.
The setting is enough.
I asked for a reproducible example just to make sure there isn't a bug on the app, but a feature needing implementation.

[2020-08-21 04:17] ankar84 opened #2417 "[BUG] Workspaces are lost and hang after upgrade to 4.11"
### Description:

Today my experimental application was updated to version 4.11.0.19927 and first what I saw when I opened it was screen of adding first workspace. Before update my application was configured with 2 workspaces.
When I add my workspace - right after login application stuck on undless load. I cleared cache and that immediately helped.

### Environment Information:

- Rocket.Chat Serv

[2020-08-21 05:54] ankar84 commented on #2417
Maybe related to https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2247 as additional encryption of all user data.

[2020-08-21 08:44] didierm commented on #2348
@diegolmello Not entirely sure what you're asking for, but :
* our authentication is primarily LDAP_based (with some local accounts for external guests) ;
* login expiration (Administration > Accounts > Login Expiration in Days) is set to "7 days".

_(possibly unrelated note : even after being forcibly logged out on our mobiles due to account expiration, we still receive push notifications without

[2020-08-24 10:25] GOVINDDIXIT commented on #2096
Hi @webmind The work is completed, you can expect to have the latest version of RC on the Fdroid by very next release.

[2020-08-25 12:05] diegolmello commented on #2010
Fixed by https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2292

[2020-08-25 12:05] #2010 closed

[2020-08-25 16:51] #2041 closed

[2020-08-25 20:04] #1818 closed

[2020-08-25 20:09] #2341 closed

[2020-08-26 11:41] arpsyapathy opened #2430 "Build failed (iOS)"
Hi all!

I first time follow the whitelabel doc step by step.
when i run-ios i get 6 errors and build failed:
[code]
Clean not help(
How fix this? Help me please.
Thank you!

xcode 11.4.1

[2020-08-26 13:09] diegolmello commented on #2430
Hey, @arpsyapathy!
Can you check if App and App Extension have different names on Xcode?

[2020-08-26 13:32] arpsyapathy commented on #2430
Hey @diegolmello
can I tell you more about what you mean?
Bundle identifier different in RocketChatRN and ShareRocketChatRN

[2020-08-26 13:44] diegolmello commented on #2430
Try changing "Display Name"

[2020-08-26 13:51] arpsyapathy commented on #2430
I change display name than clean and this 6 error disappear
But i have new 2 error:
[code]

[2020-08-26 14:06] #2313 closed

[2020-08-26 14:10] #2289 closed

[2020-08-26 14:38] arpsyapathy commented on #2430
@diegolmello
+ i get error
[code]
I create and put GoogleService-Info.plist in ShareRocketChatRN Folder

[2020-08-26 14:40] diegolmello commented on #2430
Please, follow our docs: https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps

[2020-08-26 14:40] #2430 closed

[2020-08-27 10:05] johnypeterson opened #2434 "One of the rooms crashes and freezes the app"
### Description:
One of the rooms doesn't load messages when scrolling up and crashes for all users. The app freezes and won't let you send messages or switch to another room until it is kicked out of the phone's memory. All the other rooms are unaffected
Though on desktop client and web version the room doesn't have any issues.
The logs were checked - nothing unusual

![rocketchat](https://user-i

[2020-08-27 11:32] diegolmello commented on #2434
Hey, can you reach me on https://open.rocket.chat?
I'm `@diego.mello`.
Thanks.

[2020-08-27 17:38] arpsyapathy opened #2437 "How build .ipa RocketChat for apple enterprise?"
Hi all

I succesfull build and run ios on emulator in xcode.
But i need build .ipa for my apple enterprise program.
How can i do this?
In xcode not available "archive" in RocketChat project.

Thank you

[2020-08-28 08:02] johnypeterson commented on #2434
The reason for the issue is found:
If there are strange very long spaces between URL and text inside the message + this message has the replies - the room crashes and application freezes.
The bug is also reported here https://github.com/stiang/remove-markdown/issues/52

[2020-08-28 08:51] johnypeterson commented on #2434
**UPDATE**
If any user in the room makes a certain amount of spaces and line breaks in the message, and after that someone replies that message - these actions lead to the crash of the room
https://github.com/stiang/remove-markdown/issues/52#issuecomment-682401313

[2020-08-28 08:55] artem-levashov commented on #2434
if  apply .replace(/\s\s+/g, ' ') before  run removeMarkdown then there is no problem

[2020-08-28 11:44] diegolmello commented on #2434
Can you guys open a PR with a fix?

[2020-08-28 11:49] artem-levashov commented on #2434
app\containers\message\RepliedThread.js
about line 28
`let msg = shortnameToUnicode(tmsg);
//wx fix strip multiple spaces in message, prvent crash room
msg = msg.replace(/\s\s+/g, ' ')
//wx fix end
msg = removeMarkdown(msg);`
it save  room from freez.    but when you try to click on reply button it freez again.

[2020-08-28 12:01] artem-levashov commented on #2434
just found second place app\containers\markdown\index.js
line 387 m = removeMarkdown(m);
if apply same fix before that line
m = m.replace(/\s\s+/g, ' ')

then everything is  ok - no problem with room and jumping into thread

[2020-08-28 12:02] artem-levashov commented on #2434
i do not see any more removeMarkdown in the project

[2020-08-28 22:12] pbenkoe opened #2438 "iFrame SSO Authentication not working"
### Description:

When I try to log in via iFrame, in about 90% of the cases the javascript code to log the user in doesn't seem to be executed correctly, but is just being displayed as html. In about 10% of the cases, the user is logged in after relaunching the app, although the UI didn't indicate login success.

### Environment Information:

- Rocket.Chat Server Version: 3.5.3
- Rocket.Chat App

[2020-08-29 13:10] djorkaeffalexandre commented on #2438
Hey @pbenkoe, looks like something is going wrong with your iFrame, not with the app, but if possible give me some test credentials on https://open.rocket.chat/direct/djorkaeff.alexandre and I'll take a look ASAP.
Thanks.

[2020-08-30 19:17] pbenkoe commented on #2438
Thank you very much @djorkaeffalexandre ! I'll reach out via PM 🙏

[2020-08-30 19:45] #2438 closed

[2020-08-31 08:08] anhhtbk commented on #380
I still received crashlytics log on Android 9. I use RocketChat server 3.5.2, android app - `single-server` branch.
`Fatal Exception: java.lang.IllegalStateException: Not allowed to start service Intent { cmp=com.company.app/com.wix.reactnativenotifications.fcm.FcmInstanceIdRefreshHandlerService (has extras) }: app is in background uid UidRecord{324d5c2 u0a291 TPSL idle change:cached procs:1 procl

[2020-08-31 08:49] emikolajczak commented on #2437
Hi, check in Xcode if in **"Devices"** menu you have selected **"Generic iOS Device"**

[2020-08-31 10:20] #2096 closed

[2020-08-31 11:50] diegolmello commented on #2437
That's a StackOverflow question.

[2020-08-31 11:50] #2437 closed

[2020-08-31 20:58] djorkaeffalexandre commented on #1328
Fixed by #2439.
Thanks to figure out the error guys! :)

[2020-08-31 20:58] #1328 closed

[2020-09-01 02:16] akong77 opened #2441 "How to divide the conversation into left and right sides?"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.5.4
- Rocket.Chat App Version: 2.17.11
- Device Name: PC
- OS Version: Win10

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

At present, the content of the conversation will be on the left, but when there are many messages, it will be very slow to find someone or the message will become very slow, and it is

[2020-09-01 02:37] akong77 opened #2442 "Could show unread message count at channel?"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.5.4
- Rocket.Chat App Version: 2.17.11
- Device Name: PC
- OS Version: Win10

### Steps to reproduce:

1.
2.
3.

### Expected behavior:
If I have unread direct message it's will show unread message count.But the channel only highlight.Could show unread message count at channel?

### Actual behavior:

### Additional con

[2020-09-01 02:39] bingluen opened #2443 "The release 4.10.0 is same to 4.9.0."
### Description:

The release 4.10.0 is same to 4.9.0.

Is there mistake on add tag ?

Just see https://github.com/RocketChat/Rocket.Chat.ReactNative/compare/4.9.0...4.10.0

[2020-09-01 08:53] akong77 opened #2444 "Could set message on top"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.5.4
- Rocket.Chat App Version: 2.17.11
- Device Name: PC
- OS Version:  Win10

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

Could set message always on top?The pinned message or my favorites message can't do it.

### Actual behavior:

### Additional context:

[2020-09-01 11:48] diegolmello commented on #2441
Wrong repo.
You're looking for https://github.com/RocketChat/Rocket.Chat.
I'm closing this issue and the others you've opened.
Make sure to open an issue on the correct repo and to follow the template.
Thanks.

[2020-09-01 11:48] #2441 closed

[2020-09-01 11:48] diegolmello commented on #2442
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2441#issuecomment-684794028

[2020-09-01 11:48] #2442 closed

[2020-09-01 11:48] diegolmello commented on #2444
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2441#issuecomment-684794028

[2020-09-01 11:48] #2444 closed

[2020-09-01 12:25] diegolmello commented on #2443
Hey, @bingluen.
That was my bad.
It should be all good now.
Thanks for reporting.

[2020-09-01 12:25] #2443 closed

[2020-09-01 12:53] code-by opened #2447 "determine chat types info"
Where I could find info (explanation) about chat/room types, e.g. `'c'`, `'t'`, `'d'`, `'p'` ...

[2020-09-01 12:57] djorkaeffalexandre commented on #2447
here: https://docs.rocket.chat/api/schema-definition#rooms

[2020-09-01 12:57] #2447 closed

[2020-09-02 02:31] nexus166 commented on #2315
issue disappeared with 3.6.0!

[2020-09-02 02:31] #2315 closed

[2020-09-02 02:35] jdsatava127 commented on #2152
We are experiencing a related issue using Docker image 3.5.4. For us though, Real Name displays fine everywhere outside of threads (normal messages and reactions), but displays username in the threads. I was able to manually edit a message in Mongo and set the "u.name" value for a message in a thread and that allowed the Real Name to display. Is the thread UI possibly expecting this value to be se

[2020-09-02 12:29] diegolmello commented on #2152
@jdsatava127 can you open a separate issue with steps? thanks

[2020-09-03 00:19] diegolmello commented on #2451
Duplicated #2402

[2020-09-03 00:19] #2451 closed

[2020-09-03 01:24] jdsatava127 commented on #2152
A new issue has been created here - https://github.com/RocketChat/Rocket.Chat/issues/18769

[2020-09-03 08:58] beranPro opened #2452 "TLS Client/mutual authentication via OAuth IDP doesn't work :("
### Description:

Hi,
i have an IDP (keycloak) which is configured to try TLS Client Auth before password authentication.
RC is configured to use the keycloak for authentication which works fine. Also on the mobiles over the chrome browser works the TLS Client authenticate well.

Now i tried to use the app, and he redirects me correctly to my keycloak, but sadly he didn't use or ask for a certific

[2020-09-03 12:20] diegolmello commented on #2452
Hi, @beranPro.
Can you reach me on https://open.rocket.chat?
I'm `@diego.mello`.
Thank you.

[2020-09-05 20:17] dkoo761 commented on #2151
Since there is no longer an option to choose compact vs cozy layout, I think the new problem is now:

The user preference "Show thread messages in the main thread" is being ignored.

[2020-09-06 05:44] bencgreen commented on #1313
Is there any progress on this issue?

[2020-09-06 08:31] dario-petrovic commented on #2417
Hi,

Same is seen on Android Rocket Chat Experimental app v4.1120023 as well as on Rocket Chat app.

Rockrt Chat server v3.6.0 (latest).

[2020-09-06 09:15] dario-petrovic commented on #2417
Rocket Chat app (not Experimental) v4.10.0.2135 works fine.

Can it be investigated what is the diff?

[2020-09-07 20:00] BizClimb commented on #2329
Just tried this on the regular repo (not single server) and it is better (not 100%) it opens the correct server, but does not go to the right conversation, just opens the rooms list. On the single server branch it still freezes on load.

[2020-09-08 12:22] diegolmello commented on #1313
@bencgreen not really. Can you open a PR?

[2020-09-08 12:23] diegolmello commented on #2151
We're going to implement new threads version on a future release.

[2020-09-08 18:53] krutik710 opened #2453 "App Installation Issue on Android Emulator - Gradle Build Failed"
react-native run-android
Throws this error -
* What went wrong:
Task 'installDebug' not found in project ':app'.

Find the traceback below -
warn Package @react-native-community/cookies has been ignored because it contains invalid configuration. Reason: Cannot find module '@react-native-community\cookies\package.json'
Require stack:
- C:\Users\DELL\Desktop\Temp\Rocket.Chat.ReactNative\node_modules

[2020-09-08 18:57] djorkaeffalexandre commented on #2453
use `$ yarn android`, we've updated the documentation and it'll be merged soon, see #2450.

[2020-09-08 18:57] #2453 closed

[2020-09-09 12:32] diegolmello commented on #2434
It looks like #2446 was created, but it didn't follow the template, nor answered my questions.
@johnypeterson @artem-levashov Can you guys provide a way to reproduce this error?

[2020-09-09 12:32] #2395 closed

[2020-09-09 12:33] diegolmello commented on #2395
@hengsok cool
I'm closing and we're going to update to when 0.64 is released, which is going to happen in a couple of weeks.

[2020-09-09 12:34] diegolmello commented on #2385
@nahid @nixxou is this still happening for you?

[2020-09-09 12:36] diegolmello commented on #2362
@caesarcxiv is this still a thing?

[2020-09-09 12:40] diegolmello commented on #2343
Hey, @christoph2806.
Is this still a thing?
I wasn't able to reproduce here.
Thanks.

[2020-09-09 12:41] diegolmello commented on #2329
I tried both develop and single-server and it worked fine.
It's something on your env.

[2020-09-09 12:41] #2329 closed

[2020-09-09 12:48] diegolmello commented on #2324
We talked private and I didn't reply here.
Yeah, we need to do some optimistic UI.

Instead of waiting for the new data to be returned via stream, we can assume the call was made and update the local database immediately after the promise is resolved.

[2020-09-09 12:50] #2299 closed

[2020-09-09 12:50] #2298 closed

[2020-09-09 12:52] diegolmello commented on #2243
Let's track the work on #2387

[2020-09-09 12:52] #2243 closed

[2020-09-09 12:52] #2207 closed

[2020-09-09 12:52] #2198 closed

[2020-09-09 12:52] #2196 closed

[2020-09-09 12:53] diegolmello commented on #2189
On the newest versions we started to show the offline status on the header.

[2020-09-09 12:53] #2189 closed

[2020-09-09 12:54] diegolmello commented on #2186
That's actually related to the navigation bar lib.
Does it happen still or was it fixed after the new releases?

[2020-09-09 12:55] #2176 closed

[2020-09-09 12:56] diegolmello commented on #2176
We receive a notification, but it doesn't really enters the call.
Although that's not what we want anyway.
We're going to implement Jitsi as a caller soon.
So the call is going to start the app as if you're receiving a call.

[2020-09-09 12:57] diegolmello commented on #2164
Is this still a thing?
I'm closing and you can open (if needed) following the new issue template, ok?
Thanks :)

[2020-09-09 12:57] #2164 closed

[2020-09-09 13:06] diegolmello commented on #2151
Let's track on #2387

[2020-09-09 13:06] #2151 closed

[2020-09-09 13:08] johnypeterson commented on #2434
We have faced the problem twice already.

Steps to reproduce:
1. From a desktop client or web version send a message which will contain text, a few long spaces, and line breaks
2. Reply that message
3. From the mobile client open the room and try to scroll over the messages

[2020-09-09 13:33] caesarcxiv commented on #2362
It has not reoccurred.

[2020-09-09 13:33] #2362 closed

[2020-09-09 13:36] diegolmello commented on #2434
I can't reproduce it.
The PR didn't have a proper test plan, before/after, etc.
If you faced twice, how can you be sure it's fixed?

[2020-09-09 13:41] diegolmello commented on #2125
We're working to get the filename properly.

[2020-09-09 13:43] diegolmello commented on #2123
It was something on the server, right?
I'm closing.

[2020-09-09 13:43] #2123 closed

[2020-09-09 13:47] diegolmello commented on #2112
We can discuss that on the comments, but currently we opted to not sync it, because they are different use cases.
The same user can opt to have unread on top on the web client and iPad, but disable it on the mobile (because of the smaller screen).
I'm happy to discuss pros and cons below.
Thanks.

[2020-09-09 13:47] #2112 closed

[2020-09-09 13:47] #2099 closed

[2020-09-09 13:49] #2044 closed

[2020-09-09 13:49] diegolmello commented on #2044
Is this still a thing?

[2020-09-09 13:51] #1983 closed

[2020-09-09 13:51] #1972 closed

[2020-09-09 13:52] #1945 closed

[2020-09-09 13:52] #1936 closed

[2020-09-09 13:52] #1901 closed

[2020-09-09 13:52] #1894 closed

[2020-09-09 13:53] #1854 closed

[2020-09-09 13:53] #1943 closed

[2020-09-09 13:54] #1828 closed

[2020-09-09 13:54] #1801 closed

[2020-09-09 13:57] #1750 closed

[2020-09-09 13:57] #1651 closed

[2020-09-09 13:57] #1678 closed

[2020-09-09 13:58] #1661 closed

[2020-09-09 13:59] #1650 closed

[2020-09-09 13:59] #1606 closed

[2020-09-09 14:00] #1614 closed

[2020-09-09 14:03] #1409 closed

[2020-09-09 14:03] #1451 closed

[2020-09-09 14:03] #1498 closed

[2020-09-09 14:03] #1514 closed

[2020-09-09 14:04] gamingumar commented on #2385
I am not able to login at https://cloud.rocket.chat/

[2020-09-09 14:04] diegolmello commented on #1531
Related to https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2348

[2020-09-09 14:04] #1531 closed

[2020-09-09 14:05] #1533 closed

[2020-09-09 14:05] #1535 closed

[2020-09-09 14:05] #1543 closed

[2020-09-09 14:05] #1547 closed

[2020-09-09 14:05] #1557 closed

[2020-09-09 14:05] #1558 closed

[2020-09-09 14:05] #1561 closed

[2020-09-09 14:07] #23 closed

[2020-09-09 14:08] #600 closed

[2020-09-09 14:08] #718 closed

[2020-09-09 14:09] #802 closed

[2020-09-09 14:09] #1353 closed

[2020-09-09 14:10] #1225 closed

[2020-09-09 14:11] diegolmello commented on #1035
We're going to do something similar [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2348)

[2020-09-09 14:11] #1035 closed

[2020-09-09 14:12] diegolmello commented on #1030
We've been working a lot on notification lately.
I'm closing.
Let me know if it's still a thing.
Thank you.

[2020-09-09 14:12] #1030 closed

[2020-09-09 14:12] #1023 closed

[2020-09-09 14:12] diegolmello commented on #1022
Is this still a thing?

[2020-09-09 14:12] #1022 closed

[2020-09-09 14:13] diegolmello commented on #951
Let me know if it's still happening.

[2020-09-09 14:13] #951 closed

[2020-09-09 14:13] #839 closed

[2020-09-09 14:13] #834 closed

[2020-09-09 14:18] diegolmello commented on #2385
@gamingumar Ask on https://open.rocket.chat/channel/support

[2020-09-09 14:46] johnypeterson commented on #2434
The first time issue was just in the message (without replies), the second time it occurred in a reply flow.
We are sure that it's fixed because it was tested manually

[2020-09-09 21:25] nixxou commented on #2385
@diegolmello yes, i still have the issue

[2020-09-10 07:36] nixxou opened #2455 "No GCM token registered when i use the Rocket chat experimental app"
### Description:

If i log-in using the experimental rocket chat app on the google play store, and try to do a test push, it show : "They are no tokens for this user".
If i disconect and reconect using the Rocket chat classic app on the play store, i have a push token registered for my account (even if push are not working from rocket chat on my phone, but i guess it's a separate issue : https://g

[2020-09-10 08:01] nixxou commented on #2455
After some investigations, it seems like the GCM token was registered on an other account where i was logged previously.
A normal behavior would be to reassign the token to the account you just signed in, but that's not what happen here.

Anyway, that sadly does not fix my issue with https://github.com/RocketChat/Rocket.Chat/issues/18541

[2020-09-10 08:59] artem-levashov commented on #2434
We have tested on open.rocket.chat room "test freezing room"  - if you come there you will face the problem on mobile

We have now   versions of  application Master  from rocket  and  fixed  version with our pull request.  We are facing  that problem only on master version. Version with our fix  works  without any problem. I also put some details  in broken room

[2020-09-10 09:12] artem-levashov commented on #2434
[one_bad_message.txt](https://github.com/RocketChat/Rocket.Chat.ReactNative/files/5200487/one_bad_message.txt)
here is file with bad text that you can copy past after download.

[2020-09-10 11:36] johnypeterson opened #2456 "Can't save pictures on Android 10"
### Description:

Android 10 devices get an error while trying to save pictures from chat. Looks like an album creation fails https://github.com/react-native-community/react-native-cameraroll/issues/115

### Environment Information:

- Rocket.Chat Server Version: 3.6.0
- Rocket.Chat App Version: 4.10.0
- OS Version: Android 10

### Steps to reproduce:

1. Go to any room which has messages with pic

[2020-09-10 21:11] degodfather opened #2457 "How do I change bundle id of the mobile app?"
All I can see is chat.rocket.whitelabel. How will I change the bundle id to something like com.mycompany.chat ?

[2020-09-11 04:39] nahid commented on #2385
@diegolmello yes I still facing this issue

[2020-09-11 11:44] diegolmello commented on #2457
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps

[2020-09-11 11:44] #2457 closed

[2020-09-11 12:12] degodfather commented on #2457
@diegolmello I've seen this page, but it doesn't show how to change the bundle id. Should I use tools like `react-native-rename` or something like that?

[2020-09-11 14:31] #141 closed

[2020-09-11 17:10] #2348 closed

[2020-09-11 17:25] didierm commented on #2348
@diegolmello Thank you !

[2020-09-11 18:01] shobhi1310 commented on #2456
I would like to contribute to this bug, and I am also a first timer on open-source. 🙄

[2020-09-11 18:47] diegolmello commented on #2456
@shobhi1310 Thanks, but we're working on a fix already.
There're other issues on [good first issue label](https://github.com/RocketChat/Rocket.Chat.ReactNative/labels/%F0%9F%8D%AD%20good%20first%20issue)

[2020-09-12 04:31] shobhi1310 commented on #2456
Thanks!, I will look into those issues then.

[2020-09-12 04:42] shobhi1310 commented on #2158
Has a pull request been made for this issue, and is it closed, or else can I work on it ?

[2020-09-13 06:45] dev-manager-uk opened #2461 "Trello links in messages"
### Description:

Enable Trello links to open the Trello app.

### Environment Information:

- Rocket.Chat Server Version: All
- Rocket.Chat App Version:: All
- Device Name: All
- OS Version: All

### Steps to reproduce:

1. Receive a trello link in your Rocket.Chat mobile app
For example: https://trello.com/c/m7mFrJK4

2. Click link in your Rocket.Chat mobile app

### Expected behavior:

It shoul

[2020-09-13 09:44] ankar84 commented on #2417
I think it reproduced on 4.10 and 4.6.0
![Screenshot_2020-09-13-16-42-09-330_chat rocket android](https://user-images.githubusercontent.com/4023037/93015058-5b368300-f5e0-11ea-8125-70b4856d33ef.jpg)
![Screenshot_2020-09-13-16-42-16-716_chat rocket android](https://user-images.githubusercontent.com/4023037/93015060-5d004680-f5e0-11ea-85cd-51a23ad3a7a6.jpg)

[2020-09-14 12:12] diegolmello commented on #2417
That's probably related to database migrations.
Every release has some database migrations for the next features (adding columns, tables, etc).
That's why it works after clearing cache, which deletes the whole database instead of just migrating it.
I'm going to close this one, because we need to proper test it after we have a release candidate of 4.11.
There's no point to tracking errors before fi

[2020-09-14 12:12] #2417 closed

[2020-09-14 12:28] diegolmello commented on #2461
That needs to be implemented as a Rocket.Chat app: https://docs.rocket.chat/guides/rocket-chat-apps

[2020-09-14 12:28] #2461 closed

[2020-09-14 12:42] dev-manager-uk commented on #2461
Why wouldn't you support this for all users?

[2020-09-14 12:43] ankar84 commented on #2158
@diegolmello hi! Can you take a look at that issue?

[2020-09-14 12:48] ankar84 commented on #2158
Please work on that issue if you can. There is no ready pr for that.

[2020-09-14 13:14] diegolmello commented on #2461
Who said that?
That's exactly the way we handle Atlassian: https://docs.rocket.chat/guides/rocket-chat-apps/atlassian
Trello is part of Atlassian now btw.
It shouldn't be that hard to implement.

[2020-09-14 13:24] diegolmello commented on #2158
@ankar84 I created the following user:
[code]

and searched by real name
<img src="https://user-images.githubusercontent.com/804994/93091182-2542de80-f674-11ea-8b6a-86168ea3e227.png" width="350" />

The issue is just the duplicated username?
Or is there something else?

[2020-09-14 13:25] dev-manager-uk commented on #2461
We're using Rocket.Chat cloud.  We don't have a custom server/client.

You seem to be saying that to solve this small but really annoying problem we should build our own custom client?

As you said 'It shouldn't be that hard to implement'

All I'm asking is to open a trello link, sent via Rocket.Chat, in the trello app, instead of the Rocket.Chat inbuild browser.

Are you saying you're not willing

[2020-09-14 13:31] diegolmello commented on #2461
Oh, that's actually my bad.
I thought you wanted to show Trello preview on the app.
You can just change the default browser of the app on `Settings > Default browser` to Safari or other one (I can't say because you didn't follow the issue template).

[2020-09-14 13:32] ankar84 commented on #2158
No.
Issue is about search users with non English real name (Cyrillic as example) in add users and magnifying glass tool.
Directory search works fine on Cyrillic Real Name (first screen) but when you try to add user yo some channel by Cyrillic Real Name - search results are not correct. And magnifying glass too search by Cyrillic Real Name not correct.

[2020-09-14 13:34] dev-manager-uk commented on #2461
OMG That worked perfectly!!!!!!!!!!

🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳🥳

Thank you :-)

[2020-09-14 13:34] diegolmello commented on #2158
Can you create a reproducible example on open server?

[2020-09-14 13:36] ankar84 commented on #2158
Yes. All screens from open.rocket.chat
Try to find Антон in Directory search and with magnifying glass tool.

[2020-09-14 19:24] Graciela-Zaffari opened #2467 "Problema para acessar APPs Rocket.Chat"
### Description:

 Membro da equipe não consegue utilizar o APP (tanto no PC quanto no celular), apenas o navegador. Restante da equipe utiliza sem problemas os APPs

### Steps to reproduce:

1.  coloco endereço do servidor
2.  coloco dados da pessoa (e-mail e senha)
3.  e recebo uma mensagem assim: Suas credenciais foram rejeitadas. Tente novamente por favor!

### Expected behavior:

### Actual b

[2020-09-15 13:01] #2158 closed

[2020-09-15 13:17] JoshMcCullough commented on #1353
Was this closed because it's fixed? @diegolmello

[2020-09-15 13:47] diegolmello commented on #2467
Oi, @Graciela-Zaffari.
Tudo bem?
Esse é um erro de usuário e senha mesmo.
Confirma se o email e a senha estão corretos.
Tu pode clicar naquele ícone de olho na direita da senha pra mostrar a senha informada.

[2020-09-15 15:16] Graciela-Zaffari commented on #2467
Oi, bom dia,
Sim, estão corretos, mas não encontrei ícone do olho ao lado da senha.
De qualquer forma, tentamos resetar a senha para ver se resolvia, mas não
teve forma de receber o e-mail pro resert mesma, mesmo ele estando certo.

--
*Estamos trabalhando em home office temporariamente na prevenção ao
COVID-19. Se necessário, entre em contato por e-mail ou WhatsApp.*
Atenciosamente,

Graciela Zaf

[2020-09-15 16:39] diegolmello commented on #2467
Estranho.
Me chama no https://open.rocket.chat/direct/diego.mello?

[2020-09-15 17:02] diegolmello commented on #2467
We solved the issue on DM.
Thanks.

[2020-09-15 17:02] #2467 closed

[2020-09-16 09:32] imrishabh18 commented on #2258
Hi @diegolmello , I am quite new to react-native. Can you guide me to resolve this issue? 😀

[2020-09-16 12:12] djorkaeffalexandre commented on #2258
Hey @imrishabh18,
  You should implement something like a text input to enter the join code of protected rooms, and send this code on the join method like the documentation explains https://docs.rocket.chat/api/rest-api/methods/channels/join.
  Remember that should appear only if the room needs a join code.
Thanks.

[2020-09-16 12:20] djorkaeffalexandre commented on #2258
This is how it looks like on our web client:
![Screen Shot 2020-09-16 at 9 19 33 AM](https://user-images.githubusercontent.com/29778115/93336179-cc06b680-f7fd-11ea-936f-e160f5856092.png)

[2020-09-16 16:18] bencgreen commented on #1313
I've never worked on React Native before but I have used React - I will have a look through the code, see if I can figure it out.

[2020-09-16 18:03] billypon opened #2470 "Can't work with jitsi when host port isn't 80/443"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.6.1
- Rocket.Chat App Version: 4.10.0.310
- Device Name: iPhone 7 Plus
- OS Version: 13.3.1

### Steps to reproduce:

1. Create direct message channel with someone
2. Start video meeting
3. Try to connect meeting server, and then auto quit

### Expected behavior:

Start video meeting

### Actual behavior:

It just work

[2020-09-16 18:13] djorkaeffalexandre commented on #2470
hey @billypon we've a old issue with a similar problem, can you take a look?
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1993

[2020-09-16 18:14] djorkaeffalexandre commented on #1313
@bencgreen Start the work doing a message with colored attachments on web client and try to reproduce the same behavior of colors on mobile.
It's more a non-implemented thing than a bug

[2020-09-16 19:12] joernal commented on #2258
Hi @djorkaeffalexandre,

I implemented something similar to the web experience.
If it's something similar to what you're looking for, I'd be happy to open a PR for it (and possibly coordinate with @imrishabh18).

![Simulator Screen Shot - iPhone 11 - 2020-09-16 at 15 06 39](https://user-images.githubusercontent.com/5616030/93381681-06d51280-f82f-11ea-9797-eb56fc26c001.png)

[2020-09-16 19:22] djorkaeffalexandre commented on #2258
Hi @joernal, it looks good!
Feel free to open a PR, it would be awesome.

[2020-09-17 02:32] billypon commented on #2470
@djorkaeffalexandre I'm sorry, I can see the issue is solved, but how to do? All software versions are up to date, still can't work with port 8443

[2020-09-17 13:05] imrishabh18 commented on #2324
@diegolmello Can I take up this issue? And It would be great if I can get some directions on how to approach to solve this issue 🙂

[2020-09-17 13:14] djorkaeffalexandre commented on #2324
@imrishabh18 read the comment above. The approach is based on Optimistic UI

[2020-09-17 13:17] diegolmello commented on #2324
Cool.
Let's take `pin` action as example (from the gif above).

This is were the action is triggered: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageActions/index.js#L207

It makes a [REST API request](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/e1c8b10765640335d27e03d05f8ac22368c2db40/app/lib/rocketchat.js#L676) and receives the update [via

[2020-09-17 17:09] imrishabh18 commented on #2324
I have messaged you in private in Rocket chat itself. Hopefully, you can respond me over there about the issue.

[2020-09-19 12:24] imrishabh18 commented on #2160
@djorkaeffalexandre Is this resolved yet? If not can I get some directions on how to resolve this thing.

[2020-09-20 23:06] robertfromont opened #2477 "Custom channel avatars don't appear in the app"
### Description:

In the browser interface, it's possible to set the avatar of a channel to a custom image, and these appear in the browser chat client instead of the big letter. But they *don't* appear in the mobile client.

### Environment Information:

- Rocket.Chat Server Version: 3.6.1
- Rocket.Chat App Version: iOS 4.10.0.310 (and also Android 4.10.0.2135)
- Device Name: iPad Air 2 (and also

[2020-09-20 23:11] EzequielDeOliveira commented on #2477
Hi @robertfromont  I'm working on this feature, soon we'll see custom avatars on the channels in the mobile app. take a look here #2454 :)

[2020-09-20 23:49] shaheem-khanzada opened #2478 "Scrollview and FlatList not scrolling to bottom on ios when keyboard open"
### Description:

Scrollview and FlatList not scrolling to bottom on ios when keyboard open

### Environment Information:

- Rocket.Chat Server Version: 3.5.4 and 3.0.7
- Rocket.Chat App Version: 4.10.0
- OS Version: iOS

### Steps to reproduce:

1. you can add more item like button on any screen using ScrollView or flat list try to focus input to open the keyboard and when you scroll the view cut

[2020-09-21 02:00] diegolmello commented on #2478
Please, follow the template.

[2020-09-21 10:43] ntrsboy opened #2479 "IOS application (single-server) crashes after tapping a new push notification"
### Description:

IOS application (single-server) crashes after tapping a new push notification

### Environment Information:

- Rocket.Chat Server Version: 3.6.2
- Rocket.Chat App Version: iOS 4.10.0 (single-server)
- Device Name: iPhone
- OS Version: 14.0

### Steps to reproduce:

1. Receive a push notification from a new message in a channel or a private message while the app is not in the fore

[2020-09-21 11:08] shaheem-khanzada commented on #2478
@diegolmello added

[2020-09-22 05:56] ankar84 commented on #2410
Hi, Diego!

Today I tested that issue on Jitsi Meet version 20.4.1 and it looks much stable - I did 50-70 rotates without any crash.
So, maybe that issue is resolved in [SDK 2.10.0](https://github.com/jitsi/jitsi-meet-release-notes/blob/master/CHANGELOG-MOBILE-SDKS.md#2100-2020-09-15)
Tested on Redmi Note 5 Android 9 and Samsung S8 Android 9
So, please in future versions (I believe 4.12) update Ji

[2020-09-22 09:58] ankar84 commented on #2286
@diegolmello @djorkaeffalexandre can you take a look at that issue?

[2020-09-22 10:27] ankar84 commented on #2158
@diegolmello I just tested that updates and it much more better than before, but still small amount of search results
Here is same search for `Антон` with Magnifying glass tool

[2020-09-22 13:45] mddvul22 commented on #1944
Will this preserve a message that the user is typing, if they get logged out, in the middle of typing the message?  When a user is logged out because of the timer, any message they are in the middle of typing should be saved as a draft.

[2020-09-22 18:05] lucasmidlhey commented on #2152
this problem has been resolve?

[2020-09-23 10:11] ferkawi opened #2482 "IOS application (single-server) always logout"
### Description:

All my clients who upgraded to ios14, logged in, used the application and then put it in the background, were logged out

### Environment Information:

- Rocket.Chat Server Version: 3.4.2
- Rocket.Chat App Version: 4.8.0
- Device Name: iphone
- OS Version: 14

### Steps to reproduce:

1. Go to Rocket Chat
2. Log in
3. Use the App normally
4. Put the App in the Background

### Exp

[2020-09-24 18:39] slimlv opened #2489 "[BUG] HTTP basic auth broken in android Rocket.Chat Experimental v4.11.0 (20594)"
### Description:
in latest android Rocket.Chat Experimental v4.11.0 (20594) HTTP basic auth is broken.
HTTP  basic auth was introduced in https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1753
Looks like  this brings regression https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1936
there is a log of rocket chat server protected by basic auth (username is "user"):
`10.10.10.2 ht

[2020-09-24 18:56] djorkaeffalexandre commented on #2489
Thanks for your report @slimlv! Fix on the way :)

[2020-09-24 19:06] #2489 closed

[2020-09-25 06:28] arpsyapathy commented on #2084
Hi all!
I too have same here bug.
Is there any solution for this?

[2020-09-25 08:53] emikolajczak opened #2492 "[single-server] Android build failed"
### Description:

During build `single-server` for Android an error occured

[code]

### Environment Information:

- Rocket.Chat Server Version: 3.0.12
- Rocket.Chat App Version: 4.10.0 (single-server)
- Device Name: Samsung Galaxy A20e
- OS Version: 9.0

### Steps to reproduce:

1. Try to build single server Android app

### Expected behavior:

Build success

### Actual behavior:

Build finished

[2020-09-25 11:20] slimlv commented on #1936
@diegolmello @djorkaeffalexandre
this bug still not resolved in Rocket.Chat Experimental v4.11.0.20703
Should I open new one ?

[2020-09-25 12:16] djorkaeffalexandre commented on #1936
@slimlv, WDYT about create a new issue with all the points where HTTP Auth Basic is not working?
So, when we go to work on this, we can track what's missing.

[2020-09-25 13:08] piotrkochan opened #2495 "Markdown - code is not visible as long as there is no 3x ` at the end"
### Description:

When \``` markdown code is used in the message then mobile app displays it only when is wrapped properly between \``` and \```.
Otherwise app shows empty code container.

### Environment Information:

- Rocket.Chat Server Version: (3.6.3, 1.0.3)
- Rocket.Chat App Version: Android, iOS, all versions
- Device Name: Android
- OS Version: not relevant

### Steps to reproduce:

1. Wri

[2020-09-25 13:11] piotrkochan commented on #2495
may be related to #1778 somehow

[2020-09-25 18:28] DiegoNascimento1 commented on #438
I also have this error, someone managed to solve?

[2020-09-25 21:31] aleadco opened #2497 "The icons are superimposed on the name."
Hi friends, in the experimental version the icons are superimposed when the name is long.  This happens after putting the directory button at the top.
![Screenshot_20200925-172107_RocketChat Experimental.jpg](https://user-images.githubusercontent.com/35962168/94317789-fcb0c380-ff54-11ea-87c7-19ed76bf2dd7.jpg)

[2020-09-26 12:58] namaniiitm commented on #2152
Hey @diegolmello can I take up this issue?

[2020-09-26 13:33] Namanl2001 commented on #2152
Hey! @diegolmello can I take up this issue?

[2020-09-26 13:58] Namanl2001 commented on #2152
Hey! @diegolmello can I take up this issue?

[2020-09-26 14:32] Namanl2001 commented on #2084
Hey! @djorkaeffalexandre I want to contribute to this, but I am a beginner and new to this community, so can you tell me which file to look into and what should be the further steps?. Please guide me.

[2020-09-26 16:08] diegolmello commented on #2152
@Namanl2001 Some work was done on #2365 already.
We just need to refactor it to reuse the action sheet.

[2020-09-27 09:14] devZer0 commented on #2482
did they need to re-enter the workspace url, too ?

[2020-09-28 00:36] LeeThompson opened #2500 "[ANDROID] Can no longer connect to intranet rocketchat (HTTP)"
### Description:

When attempting to connect to our intranet rocketchat server (which uses http not https) the error message appears:

"OOPS!

CLEARTEXT communication to (intranet address) not permited by network security policy.""

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rocket.Chat App Version: 4.11.0.2136
- Device Name: Samsung Galaxy S20
- OS Version: Android 10?

#

[2020-09-28 08:09] ferkawi commented on #2482
No they don´t need it! After speaking with my Boss, was a human error... some Problems with username´s. So I´ll close this thread, thank you anyways

[2020-09-28 08:09] #2482 closed

[2020-09-28 10:03] prajyot-naik commented on #2492
change minSdkVersion = 21 to minSdkVersion = 23 inside build.gradle of the project. This should fix the issue.

[2020-09-28 10:16] prajyot-naik opened #2501 "[RangeError: Maximum call stack size exceeded.]"
### Description:

Build is successful and also the app is getting installed, but when I enter the username and password and click on the login button. I get <b>"[Mon Sep 28 2020 14:33:10.170]  ERROR    [RangeError: Maximum call stack size exceeded.]"</b> I get this inside the server terminal. There is no message or prompt on the app side.

### Environment Information:

- Rocket.Chat Server Version

[2020-09-28 13:27] diegolmello commented on #2500
@LeeThompson We're following [Android's security best practices](https://developer.android.com/topic/security/best-practices). We won't rollback, because we've been working on increasing the security of our app.
You can open an issue on the main repo or on the forums if you need help setting up SSL.

[2020-09-28 13:27] #2500 closed

[2020-09-28 13:28] diegolmello commented on #2492
Fixed here https://github.com/RocketChat/Rocket.Chat.ReactNative/commit/709c7aaaea5815fcd60579c6d9390be0baf5a229
We'll update `single-server` branch in a couple of weeks, after 4.11 is released.

[2020-09-28 13:28] #2492 closed

[2020-09-28 13:29] diegolmello commented on #2501
Does it happen on develop branch?
We need more info than that to help you.

[2020-09-28 14:36] diegolmello commented on #2495
Duplicated

[2020-09-28 14:36] #2495 closed

[2020-09-28 14:40] diegolmello commented on #2455
It looks like the issue is on the server. Closing.

[2020-09-28 14:40] #2455 closed

[2020-09-28 16:21] aenonGit commented on #2497
the PR 2503 should fix this

[2020-09-29 03:35] prajyot-naik commented on #2501
No it doesn't happen on develop branch. I am able to login using the develop branch.

See I get the first screen, where the server url is displayed i.e set by me inside app.json. Then when I click on login button, the second screen opens up. I enter the username and password and then click on login button but nothing happens. No message is shown on the app side. But when I check the terminal it sh

[2020-09-29 04:23] ankar84 opened #2505 "[Jitsi] Mobile application ignores Enable room name hash server option"
### Description:

https://github.com/RocketChat/Rocket.Chat/pull/17481 introduced new feature in Rocket Chat that enable simple Jitsi room names (not hashed abracadabra) but RC RN mobile app not support that and create room name in old fashion.
I think, that RC RN mobile app just ignores **Enable room name hash** option.
@diegolmello @djorkaeffalexandre please add support of that setting to RC RN

[2020-09-29 12:00] djorkaeffalexandre commented on #2505
Thanks for your report @ankar84.
Let's do this ASAP, if someone from community wants to pick this, is just to copy the exact logic of web client. :)
Thanks.

[2020-09-29 15:39] ceefour opened #2515 "Send FCM push message as labeled data messages, so they show up in Firebase Cloud Messaging Reports"
### Description:

As of 3.6.3, FCM push notifications are sent without analytics label, meaning they don't show up in Firebase Cloud Reports.
Propose to add (meaningful) analytics labels, so they show up in Firebase Cloud Reports, for analytics purpose or for troubleshooting/diagnostics purposes.

Reference: https://firebase.google.com/docs/cloud-messaging/understand-delivery?authuser=0#adding_ana

[2020-09-30 10:46] ankar84 commented on #2393
After upgrade to 3.6.3 server version I think that bug in gone.

[2020-09-30 13:55] jacotec opened #2586 "Voice Messages - length not displayed and scrubber not responsive in IOS apps and Safari browser, Firefox gives fantasy lengths"
### Description:

In the IOS apps and the Safari browser, all voice messages are displayed with length 0:00, as a result of this the scrubber and playback progress is also not working. You can't jump to a particular point in the messages.

![image](https://user-images.githubusercontent.com/3321655/94693164-ab794900-0333-11eb-9608-6e94e1580c9c.png)

I'm listing this in the server repo as this is no

[2020-09-30 14:13] jacotec opened #2508 "Proposal: Detect "single-server" operation by the presence of the "server:" directive in app.json"
My whitelabeled version from the "single server" branch was refused by Apple due to the iPad bug in IOS 14 (Touching on "status" in the user settings crashes the app). This is already fixed in the dev branch, but there is no up-to-date single server and you can't transfer the changes by the github diffs as so many files has been changed and sections which are altered at the last single-server comm

[2020-09-30 15:51] aprocom commented on #2479
Hi! Have any new about this problem? We have the same problem..

[2020-09-30 16:13] imrishabh18 commented on #2505
@djorkaeffalexandre I will take this  🙂

[2020-10-01 17:29] djorkaeffalexandre commented on #1314
Check this out https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps.

[2020-10-01 17:29] #1314 closed

[2020-10-01 17:32] djorkaeffalexandre commented on #1003
I guess it's not happening anymore.
If it happens again, please, open a new issue.
Thanks.

[2020-10-01 17:32] #1003 closed

[2020-10-01 17:33] djorkaeffalexandre commented on #705
It's not needed anymore

[2020-10-01 17:33] #705 closed

[2020-10-01 17:40] djorkaeffalexandre commented on #1349
It doesn't looks like happens anymore.
If someone experience this, open a new issue, please.
Thanks.

[2020-10-01 17:40] #1349 closed

[2020-10-01 17:41] djorkaeffalexandre commented on #1357
Can't reproduce it here anymore, if the problem persists, open a new issue.
Thanks.

[2020-10-01 17:41] #1357 closed

[2020-10-02 11:04] gadiatskyi commented on #2479
Hi, I have the same problem. Is it possible to vote for prio here?

[2020-10-04 19:43] alexnaiman commented on #1526
Hello! Can I try to tackle this issue for the Hacktoberfest2020? If so, can you assign it to me?

[2020-10-05 07:22] ankar84 opened #2518 "[Bug] System messages lift channels up in Room List if sorting by activity despite they are disabled in system or channel level"
### Description:
System messages lift channels up in in Room list Mobile application if sorting by activity despite they are disabled in system and channel level

[Here](https://github.com/RocketChat/Rocket.Chat/issues/16931#issuecomment-651740101) @rodrigok announced great improvement in my opinion

And I see in web and desktop version that it's true
But not in Mobile application, even 4.11

###

[2020-10-05 07:48] ankar84 commented on #2456
My Xiaomi Mi 9 SE is on Android 10 QkQ1.190828.002
I did try couple versions - 4.7 and latest 4.11 - all fine, pictures was saved

[2020-10-05 11:31] Gummikavalier opened #2519 "Rocket.chat mobile application does not mark channels as read"
### Description:

Recently we've had a constant issue that on both iOS and Android mobile app does not mark any new unread channels as read after visiting them in the mobile client. The situation gets fixed either by closing the app from the history, or clearing its local cache.

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rocket.Chat App Version: 4.11 and 4.10
- Device Nam

[2020-10-05 13:04] diegolmello commented on #2519
It might be related to new threads support.
We're going to implement it on 4.12.0.

[2020-10-05 13:31] ankar84 commented on #2519
I think you rigth. I see this with new threads on 3.6.3 server

[2020-10-05 13:33] diegolmello commented on #1526
@alexnaiman I won't assign you, but I'd be happy to review your code.

[2020-10-05 17:31] halatas opened #2521 "Support for servers behind Identity Aware Proxy"
We host our rocket.chat instance behind "Identity aware proxy" on Google Cloud which validates a google login before redirecting to actual website.  (https://cloud.google.com/iap)

However because there is an additional login step, mobile apps can not validate the site as a valid rocket.chat instance.

1. Would it be possible to disable server validity check?
2. Would it possible to open a browser

[2020-10-05 20:14] Klotz95 commented on #1091
Is currently someone working on this one? If not i would start to implement this feature. ￼

[2020-10-05 20:23] diegolmello commented on #1091
Not really. We had to change our plans back then (as everyone else this year).
I'd appreciate your contribution, @Klotz95.
Thanks!

[2020-10-06 01:10] ankar84 opened #2523 "[NEW] Ability to set channels avatar from Internet picture search"
### Description:

https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2504 introduced custom channels avatars.
Please add ability to search pictures for avatar in internet like it's done in WhatsApp and Telegram.

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rocket.Chat App Version: 4.11
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 10

### Steps to reproduce:

[2020-10-06 08:50] webstar1987923 opened #2525 "the mobile app doesn't work login on iphone7"
## My Setup

- Operating System: iOS 13.7
- App Version: 4.10.0.310
- Installation type:

- [x] I have tested with the latest version
- [ ] I can simulate the issue easily

## Description

I cannot join workspace
### Current Behavior

### Expected Behavior

[2020-10-06 10:28] arpsyapathy commented on #2084
Hi all!
I also have the same bug here.
Is there any solution for this!
@diegolmello @djorkaeffalexandre

[2020-10-06 12:10] diegolmello commented on #2084
@arpsyapathy Can you share how to reproduce it?
I wasn't able to do it.
Let me know if you want to help.

[2020-10-06 12:15] jacotec opened #2524 "Attach from WebDAV and save to WebDAV not available in mobile apps"
### Description:

When a user has added a WebDAV storage (Nextcloud integration), he is still not able to attach files from his WebDAV storage or save attachments to his WebDAV storage.

The context menu for "add attachment" is missing the WebDAV entry. The context menu for an existing attachment is missing the "Save to WebDAV" menu entry.

### Environment Information:

- Rocket.Chat Server Versio

[2020-10-06 12:20] diegolmello commented on #2524
@jacotec Thanks for the feature request, but I wouldn't wait for us to implement this feature if I was you.
We have other high priorities and this is a very niche one.
Of course you can do it and I'd be happy to review.

You'll also need to add a PR to the server creating a setting to enable/disable it.

[2020-10-06 12:48] jacotec commented on #2524
@diegolmello Oops, I saw it as a bug ... did not know it needs special implementation. I thought mobile should be par to the desktop functionality.

I'd love to help you here if I could ... but I'm not a Javascript / mobile app programmer. I'm at least happy that I've learned in the last 2 weeks how to build my own whitelabeled apps ;-) So my contribution will mostly be limited to testing and fili

[2020-10-06 12:58] diegolmello commented on #2524
Np.
I didn't know you have that on the desktop.
Can you post some images?

[2020-10-06 13:58] diegolmello commented on #2525
@webstar1987923 Can you add detailed info or change your description to follow our issue template?
Thanks.

[2020-10-06 16:24] diegolmello commented on #2508
I see your point and something like that could be done, I guess.
The issue here is because `single-server` branch is updated during the release process.
Right after we update the `master` branch, we update `single-server`.
During this update, we merge changes made on `develop`, change some code to make it work for one server, test everything and update docs.
This way we can ensure the branch is **

[2020-10-06 17:26] cremfert opened #2526 "Bundle shows white screen / Integrate in existing app"
### Description:

Hi there, I tried to integrate the JSBundle generated by metro to load with RCT View Controller in my existing native App. My aim is to integrate Rocket.Chat into one of my employee apps, which also provides other functions beside chatting via Rocket.Chat. However, I do not succeed. I copied all the Pod instructions to my XCode project, did ```pod install``` and made it build. I

[2020-10-06 18:31] jacotec commented on #2508
@diegolmello I'm absolutely fine with this. This was maybe also a borderline case as 4.10 had a crash issue on the iPad @IOS14 which led my app to be refused. So I wanted to get something without the crash submitted as fast as possible, which was only the dev branch.

Hence my idea, of which I also thought it would help you to avoid merging all again for the single-server branch. If it would self-

[2020-10-06 21:52] jacotec commented on #2524
Sure.
Add Attachment from WebDAV:
![image](https://user-images.githubusercontent.com/3321655/95263976-e9440900-082e-11eb-8b45-7177287e59c9.png)

Save attachment to WebDAV:
![image](https://user-images.githubusercontent.com/3321655/95263998-f19c4400-082e-11eb-8b39-b0a239a873f9.png)

[2020-10-07 02:27] Godman-quake opened #2528 "EmojiKeyboard cannot work properly after the fresh install"
# Description:

The EmojiKeyboard cannot work properly after the fresh install on Android 5/7/9, but, when I close the app by pressing the BackButton and re-enter the app, the EmojiKeyboard is working fine.
What's the problem?

### Environment Information:

- Rocket.Chat Server Version: 1.4.0
- Rocket.Chat App Version: 2.+
- Device Name:
- OS Version:

[2020-10-07 03:07] ankar84 opened #2529 "[Improvement] Mention suggestions on Real Name like in Web version"
### Description:

Web version since some 3 server version improved mention suggestions significantly. One of my favorite improvement is now suggestions works not only on Username, but on Real Name too.
Please add that functionality to mobile application.

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rocket.Chat App Version: 4.11
- Device Name: Xiaomi Mi 9 SE
- OS Version: An

[2020-10-07 08:44] gadiatskyi commented on #2479
Hi! Any news on this topic? Probably, this could be a fix? https://github.com/wix/react-native-notifications/pull/625
Unfortunately, it is not merged to react-native-notifications version 2.1.7 which is used in rocket.chat.  Is there any plan to use react-native-notifications of version 3.3.4, which has this fix?

[2020-10-07 11:30] diegolmello commented on #2524
Cool. It's not that hard to implement then.
I'm assigning as `good first issue` and hoping anyone from the community can take.
Thanks.

[2020-10-07 11:32] diegolmello commented on #2479
We updated single-server branch yesterday and tested all use cases.
We followed [our whitelabel docs](https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps) and everything worked fine.

[2020-10-07 11:32] #2479 closed

[2020-10-07 11:35] diegolmello commented on #2526
In theory, it's possible, but we never did it.

[2020-10-07 11:36] diegolmello commented on #2501
We updated single-server yesterday and we tested everything.
Pull changes and try again.

[2020-10-07 11:36] #2501 closed

[2020-10-07 11:37] diegolmello commented on #2528
Please follow our template.
Also, we don't have version 2.

[2020-10-07 11:37] #2528 closed

[2020-10-07 11:39] diegolmello commented on #2529
Duplicated #1580

[2020-10-07 11:39] #2529 closed

[2020-10-07 11:42] cremfert commented on #2526
I will try to work on this further, but do you have any idea, why nothing happens or can give me a tip on how to debug? Even if I put a console.log message the main function, I cannot see it in the Xcode console. This makes it really hard to make a step forward.

[2020-10-07 11:47] diegolmello commented on #2526
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md#how-to-inspect-the-app

[2020-10-07 11:54] cremfert commented on #2526
Thanks, I will try that. Hopefully, it’ll brings some insights. I will share my results.

[2020-10-07 12:04] diegolmello commented on #2526
Cool, I'm closing since it's not really an issue.
Feel free to continue the discussion and we'll try to help you.
Thanks!

[2020-10-07 12:04] #2526 closed

[2020-10-07 12:13] diegolmello commented on #2508
Yup, but there's also `google-services`, api keys, etc involved.
We'll leave it as it is for now, but I guess we can make it at least closer to develop branch.
Thanks.

[2020-10-07 12:13] #2508 closed

[2020-10-07 19:58] diegolmello opened #2531 "[BUG] App isn't showing message for PDF/file uploads"
### Description:

### Environment Information:

- Rocket.Chat Server Version: any
- Rocket.Chat App Version: 4.11.0
- Device Name: any
- OS Version: any

### Steps to reproduce:

1. Upload a pdf with a message
2. It's not going to show the message on the app, but it'll show on the web client

#### Mobile
<img src="https://user-images.githubusercontent.com/804994/95380760-99605300-08bd-11eb-8de0-01

[2020-10-08 06:35] johnypeterson opened #2532 "Admin Panel is unreached"
### Description:

When trying to open the Admin Panel from an Android device, it switches to the weird-looking interface which resembles the desktop version. And it is impossible to do anything as admin.

### Environment Information:

- Rocket.Chat Server Version: 3.7.0
- Rocket.Chat App Version: 4.11.0
- OS Version: Android 9, 10

### Steps to reproduce:

1. Log into your server via an Android ap

[2020-10-08 09:57] saket-m0 commented on #2531
Heyy, I am new to opensource and would like to try on work on it.
I have setup the codebase in my local system already.

[2020-10-08 12:44] neurolabs opened #2533 "Can't login on workspace"
### Description:

I'm trying to log into our workspace (self-hosted instance). I can enter the workspace URL, but when I then  enter username and password and press the sign in button, nothing happens.
I tried resetting the apps storage, does not help.

### Environment Information:

- Rocket.Chat Server Version: 3.7.0
- Rocket.Chat App Version: 4.11.0.2137
- Device Name: Nubia Z17 Mini
- OS Versio

[2020-10-08 14:07] diegolmello commented on #2531
@saket-m0 go for it

[2020-10-08 14:15] diegolmello commented on #2533
@neurolabs Can you uninstall and try again?

[2020-10-08 16:24] diegolmello opened #2536 "Export show toast function"
### Current way
Out [Toast component](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/Toast.js) works based on EventEmitter and [every time we need to call it, we emit an event](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/StatusView.js#L119).

### Proposed way
It'd be easier if we exported a `showFunction` receiving the message.

[2020-10-08 18:06] refactor-droidyy commented on #2536
@diegolmello can I take-up this one .

[2020-10-08 18:12] diegolmello commented on #2536
@refactor-droidyy Sure, go ahead :)

[2020-10-08 19:57] neurolabs commented on #2533
Uninstalled, reinstalled, deleted app data and cache, tried again, to no avail

[2020-10-09 08:40] johnypeterson opened #2538 "Admin Panel is unreachable from mobile devices"
### Description:

After the server version update, when trying to open the Admin Panel from a mobile device, it switches to the weird-looking interface which resembles the desktop version. And it is impossible to do anything as admin.

### Steps to reproduce:

1. Log into your server via an Android app (being an Admin on this server).
2. Open the left-side menu.
3. Сlick on Admin Panel

### Expect

[2020-10-09 12:13] diegolmello commented on #2533
We need more info from your side then.
This is a basic feature and it works.
Try on https://open.rocket.chat.

[2020-10-09 14:33] diegolmello commented on #2538
Duplicated #2532

[2020-10-09 14:33] #2538 closed

[2020-10-09 16:23] mirabilos opened #2539 "Version in F-Droid cannot connect to server"
### Description:

I have a problem connecting to my employer’s server using the latest version shipped in F-Droid, that is, [3.5.1](https://f-droid.org/en/packages/chat.rocket.android/).

Wanting to report that as an issue here, I see that you changed repositories. So it’s natural that the F-Droid autobuilder doesn’t pick up the new versions.

Please ensure that the version in F-Droid is up-to-dat

[2020-10-09 17:10] diegolmello commented on #2539
Waiting review https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7516

[2020-10-09 17:10] #2539 closed

[2020-10-09 19:15] refactor-droidyy commented on #2524
@diegolmello can I get guidance from you regarding the implementation for the same.

[2020-10-09 19:16] diegolmello commented on #2524
@jacotec can you help him configure this feature?

[2020-10-09 19:23] jacotec commented on #2524
@diegolmello @refactor-droidyy  Regarding WebDAV configuration? That's easy - enable WebDAV in the admin panel globally, then as a user in any chat you click on the "+" as if you'd like to attach a file or picture in the web application (browser). Select "Add server" in WebDAV.

Enter your URL, username and password in the dialog and apply it. From now on you see the options in my screenshot in th

[2020-10-11 04:14] ankar84 opened #2545 "[New] Add all available in web version channel actions to mobile application"
### Description:

I can't find how to remove user from channel in mobile application, i see only mute/unmute in long tap menu.

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rocket.Chat App Version: 4.11
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 10

### Steps to reproduce:

1. Go to chat
2. Open chat members list
3. Long tap on user
4. No remove from chat menu item

[2020-10-11 10:37] saket-m0 commented on #2531
Hello, I have added a pull request. The pdfs now show messages. I ran the tests locally with 'yarn test -u' and the tests were successful.

On the pull request it is showing 2 check have been failed. `iOS Detox / detox-build (pull_request)` and `ci/circleci: lint-testunit` have been failed and I dont know why. Please help me.

[2020-10-11 17:27] shaheem-khanzada opened #2546 "[TypeError: cb is not a function. (In 'cb(message)', 'cb' is undefined)]"
### Description:

I guess this issue is related to  #1890.
![image](https://user-images.githubusercontent.com/37620819/95685335-ab6d2900-0c10-11eb-9096-ea0f823b1375.png)

### Environment Information:

Rocket.Chat Server Version: 3.8.0
Rocket.Chat App Version: 4.11.0
OS Version: iOS

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional context:

[2020-10-12 08:33] Jheysoon commented on #2533
I can't also login in app and in https://open.rocket.chat/

I try logging in via Github and have a console `{"isClientSafe":true,"message":"[undefined]","errorType":"Meteor.Error"}`

[2020-10-12 12:44] neurolabs commented on #2533
@diegolmello tried on https://open.rocket.chat, does not work either. Both (open.rocket.chat and our own workspace) work in the browser.
On our instance I don't see anything in the server logs (docker-compose setup).

What else can I do to help you validate this issue?

[2020-10-12 13:38] #2546 closed

[2020-10-12 15:13] igalic commented on #1936
it seems that only user uploaded attachments cannot be viewed
other things like Avatars are no problem

[2020-10-12 21:32] bestog commented on #2519
We have the Same Problem.

[2020-10-13 08:03] slimlv commented on #1936
indeed /pre/code formatted strings sometimes not displayed as well with app 4.11.0 20775
cant find any correlation, all requests processed with http 200.

[2020-10-13 08:26] tandamadril commented on #2532
I have noticed such behavior since version 3.6.0
Is this going to be fixed? This is very critical for us

[2020-10-13 09:15] igalic commented on #1936
that should be a separate bug.
I'm pretty, and sure, it has nothing to do with basic auth

[2020-10-13 09:38] jacotec opened #2548 "Single-Server does not work on Android from 4.11, Error "Cannot read property 'FDROID_BUILD' of null""
### Description:

From app version 4.11 on the single-server build compiles without errors but does not run due to two errors:

1) Error "Cannot read property 'FDROID_BUILD' of null"
2) Error "Cannot read property 'default' of undefined"

Tested on 4 different React Native environments: 2 x MacOS Catalina, 1 x Ubuntu 20.04, 1 x Windows 10.
I followed exactly the "Whitelabeling mobile apps" documen

[2020-10-13 11:21] diegolmello commented on #2532
@ggazzo Are you aware of this issue?
Should we transfer to the server repo?

[2020-10-13 11:27] jacotec commented on #2548
Solved by @aenon in the react-native channel of open.rocket.chat, thanks a lot to him!

The "buildTypes" block in /android/app/build.gradle must be changed to this to solve it:

[code]

[2020-10-13 11:30] diegolmello commented on #2533
If you can't login on our `open` server, it might be something on your end (device or network).
As you can imagine, this is our server and we (and tons of other people) use it everyday.
Can you debug it and check what's going on?

[2020-10-13 11:44] diegolmello commented on #2545
We'll do it soon.
Thanks.

[2020-10-14 05:39] ankar84 opened #2554 "[i18n] Improve Russian language"
### Description:

Russian translation have a lot of missing strings.
I have a fix for that

[2020-10-14 10:30] wolfcreative commented on #2525
After entering your username and password, the app freezes. You can't open settings @diegolmello

[2020-10-14 11:28] wolfcreative commented on #2385
@diegolmello I have this problem.
Moreover, my users with Huawei and Xiaomi do not receive ANY notifications.

[2020-10-14 12:05] aleadco commented on #2385
This happens with the latest version of the stable app 4.11.0.2137, in the experimental version it works correctly.

[2020-10-14 13:03] wolfcreative commented on #2385
@aleadco
As it turned out, the problem was in the Android system settings. Some users didn't have notifications enabled by default, while others did the opposite.

[2020-10-14 17:04] aleadco commented on #2385
@wolfcreative In the Push notifications settings in the user's profile "Default" is set, so according to the server settings all the notifications sent to the private chats should reach me, as happens in the experimental version of rocket.  However I changed the setting to "Mentions" and if I receive notifications in that regard.  With these it is possible to assume that with the last update the d

[2020-10-15 05:52] refactor-droidyy opened #2561 "Changing password in unlock with password should verify the owner first"
### Description:
While changing a passcode it eventually prompts to enter the new passcode without verifying that user

### Environment Information:

- Rocket.Chat Server Version: 3.7.0
- Rocket.Chat App Version: 4.11.0
- Device Name: POCO X2
- OS Version: Android 10

### Steps to reproduce:

1.  Navigate to Setting Section -> Screen Lock
2.  Now change the passcode you can see there is no passwor

[2020-10-15 06:01] refactor-droidyy commented on #2561
@diegolmello is this a valid issue?

[2020-10-15 06:19] battosai30 commented on #2207
Hi, same issue, try everything I could wirh no result ... Did you fixed it ?
Regards

[2020-10-15 10:54] neurolabs commented on #2533
On my device, the app has worked previously, but stopped working (not allowing to log in). No updates of the device's software in between.
I've tried different networks (mobile, wifi), no difference.

I've tried on another device (same wifi), login works on that one. The first notable difference is that on the ~"your workspace" screen (before the login form), my device does not show the logo and n

[2020-10-15 11:45] diegolmello commented on #2561
I'm not sure I got it.
If you're talking about asking the current password before the new one, I agree.

[2020-10-15 11:47] diegolmello commented on #2533
Follow `How to run` until you're able to inspect the app.

[2020-10-15 12:09] cremfert commented on #2526
Hi @diegolmello
I'm still working on this - unfortunately, as soon as I try to integrate the Pods to my custom project to allow the integration of the RC RN bundle, it deletes some of the Pods, as they are not listed in the Podfile. When I copy the office Podfile of RC RN to my project, as well as the Pods dir, and run ```pod install``` it says:
[code]
When I now start to run the app, it says "Mis

[2020-10-15 13:09] refactor-droidyy commented on #2561
@diegolmello yes you are right.

[2020-10-15 18:05] italossousa opened #2563 "Notificações antigas"
Boa tarde,

Uso esse sistema na empresa que eu faço parte, usamos no dia a dia o Rocket.Chat via PC e durante a noite no celular.

Sempre que lemos alguma mensagem no PC, o celular ainda fica alertando como uma nova mensagem em formas de notificações no celular e de momentos em momentos o app do celular apresenta todos os alertas de todas as mensagens e conversas que fizemos durante o dia como se

[2020-10-16 04:20] huytx0909 opened #2565 "TypeError: Cannot read property 'FDROID_BUILD' of null, js engine: hermes"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.7.0
- Rocket.Chat App Version: 4.11.0
- Device Name: Samsung A50
- OS Version: Linux Ubuntu 18.04

### Steps to reproduce:
I followed the guide: https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps, and successfully built the iOS version of the app.
- For the Android build:
1. I changed the i

[2020-10-16 12:02] hadiidbouk commented on #2565
I face the same error, I changed the import in the environment.js to this :

[code]

Somehow the `react-native-config-reader` module isn't imported correctly.

However, the new update ruin the `single-server` branch

<img width="367" alt="Screen Shot 2020-10-16 at 2 58 33 PM" src="https://user-images.githubusercontent.com/19314956/96255796-2f803180-0fc0-11eb-963d-80d6548f7910.png">

[2020-10-16 12:06] diegolmello commented on #2565
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2548

[2020-10-16 12:06] #2565 closed

[2020-10-16 12:15] zaphod534 commented on #2519
Same problem here:

- Server version: 3.0.10

- App version: 4.11

The only way to mark a channel as read is to close and reopen app.

[2020-10-16 13:13] zaphod534 commented on #2519
Update:
I notice that when a new message is sent on a channel, it is marked as unread, but it not appears in unread group. If I toggle "Unread on top" option twice the channel correctly goes in the unread list.

[2020-10-18 05:31] refactor-droidyy commented on #2531
@saket-m0 are you working on this?

[2020-10-18 05:34] saket-m0 commented on #2531
Yes. I have already opened a PR and am waiting for approval.

[2020-10-18 17:47] cmdares opened #2568 "Video message local cache"
Click play, you can cache the file , through the cache to improve the playback speed again.

[2020-10-19 01:40] Scorpio92 commented on #2456
The problem is urgent.
I have compiled the application from the latest source code (master, develop, single-server) the problem is available. I downloaded assembly 4.11 from the application store - there is a problem.
Asus ZenFone6, Android 10 (Stock ROM).

[2020-10-19 02:17] ankar84 commented on #2456
Please show permissions granted to RCRN app.

[2020-10-19 02:25] aleadco commented on #2563
We have this same problem, and it really is a big problem in user experience. The flow of information in our entity is similar to the one you propose.
This problem directly influences the push counter where you only have a small limit of 1000 push per month.

[2020-10-19 02:39] Scorpio92 commented on #2456
![1](https://user-images.githubusercontent.com/2156216/96395520-2ed9dc00-1208-11eb-83d5-0efce9295076.jpg)

[2020-10-19 02:51] Scorpio92 commented on #2456
Storage is permited.

![1](https://user-images.githubusercontent.com/2156216/96395520-2ed9dc00-1208-11eb-83d5-0efce9295076.jpg)

[2020-10-19 04:01] ankar84 commented on #2456
It's still somehow device or vendor related
![Screenshot_2020-10-19-11-00-08-885_com google android permissioncontroller](https://user-images.githubusercontent.com/4023037/96400247-72c5e480-11fa-11eb-9c0e-fd1f06673a48.jpg)
![Screenshot_2020-10-19-10-59-51-682_chat rocket reactnative](https://user-images.githubusercontent.com/4023037/96400251-73f71180-11fa-11eb-9fc3-ec0b92374383.jpg)

[2020-10-19 11:51] diegolmello commented on #2568
Duplicated #2389

[2020-10-19 11:51] #2568 closed

[2020-10-19 11:54] diegolmello commented on #2456
@Scorpio92 Contributions appreciated.

[2020-10-19 11:58] diegolmello commented on #2563
This PR might fix it https://github.com/RocketChat/Rocket.Chat/pull/19061

Not really. Push notifications are sent immediately, but the device might not be showing them because they are received as not priority.

[2020-10-19 14:15] BitFlexFinTech opened #2569 "Icons Not Showing in Mobile App"
Hi Guys we've set up our server and customized it and the Icons for the rooms are showing on the web but are not loading on the Mobile App (see attached)

MOBILE APP
![image](https://user-images.githubusercontent.com/68299707/96462584-02cd5380-1226-11eb-9fa1-8355285d7ea8.png)

WEB/DESKTOP APP
![image](https://user-images.githubusercontent.com/68299707/96462757-3dcf8700-1226-11eb-9c0e-d64afddb1eaa.

[2020-10-19 14:23] diegolmello commented on #2569
Duplicated #2477
It's going to be fixed on #2504

[2020-10-19 14:23] #2569 closed

[2020-10-19 17:55] aleadco commented on #2563
Hi @diegolmello I understand that the push is sent immediately but I consider that if we are working on the web, or in the desktop applications those push should not be sent unless the system detects that the user is not active in the browser or in the desktop applications.
I put a practical example: I am working an 8 hour workday where I do not have my mobile connected to the network.
If the syst

[2020-10-19 18:00] diegolmello commented on #2563
@aleadco Understood. That's not something to be addressed on mobile, but to the sender. Can you search on the server repo? I think that's a common question.

[2020-10-19 18:04] aleadco commented on #2563
@diegolmello I agree, I think it is a more chord problem on the server side

[2020-10-20 01:34] Scorpio92 commented on #2456
samsung s10e, Android 10, same problem.

[2020-10-21 05:01] 0xss opened #2572 "Android high does not connect to the workspace"
### Description:

### Environment Information:

- Rocket.Chat Server Version:3.6.2
- Rocket.Chat App Version:4.11.0.2137
- Device Name: Android
- OS Version: Android 9.0

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

Connect work area

### Actual behavior:

cleartext communication to  111.118.20.111 not permitted by network security policy

### Additional context:
Maybe the Android ve

[2020-10-21 12:21] diegolmello commented on #2572
Hey, @0xss.
We started following [Android's security best practices](https://developer.android.com/topic/security/best-practices) of not accepting insecure connections recently (it was enforced on iOS already).
It will work on your browser, but it won't on your devices (iOS and Android).
You can read more about it [here](https://koz.io/android-m-and-the-war-on-cleartext-traffic/).

You have two op

[2020-10-21 12:21] #2572 closed

[2020-10-21 13:47] jacotec opened #2573 "Opening a video call in a channel does not post the "Join" link into the chat"
### Description:

When a Video Call (using the Jitsi integration) is started in a (private) channel via the mobile app, the Jitsi screen opens on the smartphone of the call opener. But there is no link posted into the channel chat to indicate that others can join.

When the Video call is opened in a private direct message channel from the mobile app, the "Join" link is posted into the chat.

### E

[2020-10-22 03:59] billypon commented on #2160
@imrishabh18

The filename was encoded, and had been saved to db, I think the simply way is decode the file name when the `loadHistory` API is calling, or do decode on both app and web client.

View template on app is `Rocket.Chat.ReactNative/app/views/MessagesView/index.js`, and on web is `Rocket.Chat/app/message-attachments/client/messageAttachment.html`.

[2020-10-22 04:07] billypon commented on #2160
I want to drop the bad PR([[FIX] Allow special chars in Filename](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2020)), I decode filename on `sendFileMessage` Meteor method, so that I can solve this issue temporary without compile app. Because I don't need the 'special chars'

[2020-10-22 04:36] billypon opened #2574 "Exit video call when pull down the view"
### Description:

I'm on video call via Jitsi, and I will exit the call after I pull down the view.
Can I pull down the view, back to Rocket channel and keep video call, so that I can send messages.

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.11.0
- Device Name: iPhone 7 Plus
- OS Version: 13.3.1

### Steps to reproduce:

1. Go to channel, and st

[2020-10-22 11:23] diegolmello commented on #2574
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2178

[2020-10-22 11:23] #2574 closed

[2020-10-22 11:32] billypon commented on #2178
Is that any plan to implement the feature?

[2020-10-22 12:17] haxpak commented on #2533
Same here,
trying to build the app.
No white labelling applied, just added own google-services.json file

trying to connect to open.rocket.chat

[code]

getting error

[code]

[2020-10-22 16:37] ankar84 opened #2575 "[Feature] Font Size"
### Description:
Please implement font size feature to application.

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rocket.Chat App Version: 4.11
- Device Name: Xiaomi
- OS Version: Android 10

### Steps to reproduce:

1. Go to settings
2. Try to change font size

### Expected behavior:

Ability to set application wide font size for all elements

### Actual behavior:
No abilit

[2020-10-22 18:09] falconws opened #2576 "Font size strange big in Japanese."
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.11.0.20775
- Device Name: Pixel 3a XL
- OS Version: Android 11

### Steps to reproduce:

1. Send less than 4 characters (CJK character. I'm Japanese so input Japanese character)

### Expected behavior:

Show the normal font size.

### Actual behavior:

The font size is strange big.
![rc

[2020-10-23 09:08] falconws commented on #2576
React Native: Maybe related to this.
https://github.com/facebook/react-native/issues/29363

[2020-10-23 09:24] nooblag opened #2577 "Android App: Channel messages not displaying Name or Username?"
### Description:

Channel messages not displaying name or username?

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.11.0.2137
- Device Name: Samsung Galaxy Tablet
- OS Version: Unknown

### Steps to reproduce:

1. Open a channel
2. Look for channel notification messages such as "User has joined the channel" etc

### Expected behavior:

Name or Userna

[2020-10-23 11:53] diegolmello commented on #2577
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1689

[2020-10-23 11:53] #2577 closed

[2020-10-23 13:18] jacotec commented on #2573
Closing, I've discovered a config error on my server (Jitsi was not allowed for channels).

[2020-10-23 13:18] #2573 closed

[2020-10-23 13:23] jacotec opened #2578 "[Feature] Continue playback of audio messages in the background"
### Description:

Currently the playback of an audio message stops whenever the app goes into the background. I.e. when listening to a 5 minute audio message, the app must stay in the foreground all the time.

Other apps like WhatsApp etc. continue the active playback even when the app is in the background, which allows the use of other apps during playback.

### Environment Information:

- Rocket

[2020-10-23 16:10] gabrnunes opened #2579 "How I connect in localhost with Android app?"
I'm running the android app with emulator, but when I open the app for the first time and add http://localhost:3000 as workspace URL, the app return a error "Failed to connect to localhost/127.0.0.1:3000"

I'm using server with Docker in Windows 10, what I forgot?

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.11.0
- Device Name: Android
- OS Versio

[2020-10-23 16:42] #2579 closed

[2020-10-23 19:25] mmggmmgg commented on #2533
+1
I have the same problem too. Clicking the login button. The button blinks once, but the login does not occur and there are no logs on the server. Reinstalled, cleaned the cache.
Installing the same apk on a new phone for the first time works. The difference is in the absence of an icon and a bold name for the server.

[2020-10-24 09:46] saket-m0 commented on #2575
Heyy, I would like to try to work on this.

[2020-10-24 17:28] bradroid commented on #1332
@djorkaeffalexandre Can you explain your solution more, why doesn't it work without this modification? Can we include the fix into the base code? Can we add this to whitelabeling documentation?

[2020-10-25 10:16] mmggmmgg commented on #2533
I found all folders and files of this apk and deleted them. But I don't have root. What are the ways to clean the file system? Does android have an analogue of the MS registry?

[2020-10-25 10:33] saket-m0 commented on #2561
Hello, Can I work on this?

[2020-10-25 15:19] aleadco opened #2581 "Push notifications arrive with the session closed."
Despite having the session closed in the experimental application, notifications are coming in.

![Screenshot_20201025-111626_GitHub.jpg](https://user-images.githubusercontent.com/35962168/97111205-e6ad3480-16b3-11eb-9b8e-5bab891696a7.jpg)

Server version: 3.7.1
![Screenshot_20201025-112142_RocketChat Experimental.jpg](https://user-images.githubusercontent.com/35962168/97111270-515e7000-16b4-11eb-

[2020-10-25 15:51] neurolabs commented on #2533
@diegolmello When debugging, I basically see the same thing as @haxpak . First error

[code]

happens before accessing the ~"your workspace" screen that is missing the icon and server name. The other error

[code]

happens on the login screen after the ~"your workspace" screen.

So it seems that there is no logging happening directly with first symptoms.

Does this help? What else can I do?

[2020-10-25 15:51] mmggmmgg commented on #2533
Это автоответчик.
Я проверяю этот почтовый ящик один раз в неделю. Для большей оперативности используйте 1@romango.ru

Михаил Городилов

[2020-10-25 15:53] neurolabs commented on #2533
@mmggmmgg you really should disable your auto reply!

[2020-10-25 17:33] bradroid opened #2582 "Whitelabeled app: push notification click handling"
### Description:

Clicking the push notification does not open conversation screen. Blank screen is opened instead.

### Environment Information:

- Rocket.Chat Server Version: don't know, I think it doesn't matter, if it's relevant I'll look it up
- Rocket.Chat App Version: it's a whitelabeled app created from single-server branch
- Device Name: Huawei P30
- OS Version: Android 10

### Steps to r

[2020-10-26 11:36] diegolmello commented on #2581
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1878

[2020-10-26 11:36] #2581 closed

[2020-10-26 11:39] diegolmello commented on #2533
These aren't errors, but PropTypes warnings.

`[RangeError: Maximum call stack size exceeded]` can be anything on your end.
Search on StackOverflow.

[2020-10-26 11:41] diegolmello commented on #2582
Make sure the server received from the push notification exists on local database here https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/sagas/deepLinking.js#L74

[2020-10-26 11:46] bradroid commented on #2582
@diegolmello
I set my server in app.json as instructed in whitelabeling documentation. Is that enough for my server to be persisted in serversDB? I guess not, so where should I add code for adding my server to DB manually?

[2020-10-26 13:09] saket-m0 commented on #2561
I have opened a PR fixing this issue. Please review it.

[2020-10-26 13:28] neurolabs commented on #2533
@diegolmello
Can I do anything else? What other options do we have for gathering more information?
Now that a couple of people experience the same thing, how are you going to handle the issue?

[2020-10-26 15:12] clpacheco90 commented on #2505
I'm getting the same issue.
rocket chat version:3.7.1
app:4.11.0.2137

[2020-10-26 16:52] mmggmmgg commented on #2533
Hi guys. I have a workaround. So, I have two identical android 10 smartphones (let it be A and B). I have several different APKs. One of the APKs is in debug mode.
I install all APKs on my smartphone A except the one in debug mode. And I install several APKs on smartphone B, including the one in debug mode. As a result, on smartphone B, I get the bug described in this ticket. Smartphone A continue

[2020-10-27 09:09] phriedrich commented on #2533
I had the same problem last weekend with a friend who got a new Android phone.

After installing the Rocket.Chat app from the Google Play App Store they weren't able to log in, as described above.

What helped in this case, was tap-and-hold on the app's icon, select "app info", and then in the dialog was a point "data and caches". From there I was able to clear them. After that I re-opened the app

[2020-10-27 09:19] neurolabs commented on #2533
@phriedrich For me, your approach does not work, as mentioned in the original bug report and comment https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2533#issuecomment-705790401

[2020-10-27 13:22] theoneandonly-vector opened #2585 "Suffix not applied when using jitsi-meet in Android Client"
### Environment Information:

- Rocket.Chat Server Version: 3.6.2
- Rocket.Chat App Version: 4.11.0.2137 (Playstore) + Experimental 4.11.0.20775
- Device Name: tried multiple ones
- OS Version: Android 9/10

### Steps to reproduce:

1. Select custom server in jitsi integration.
2. define prefix and suffix for meeting-rooms.
3. start new jitsi-meeting through "Videocall"
4. join through website on

[2020-10-27 13:25] djorkaeffalexandre commented on #2585
Hey @theoneandonly-vector, this looks weird since we use a custom server on `https://open.rocket.chat` and it never redirects to `meet.jit.si`.
Can you provide more info about how jitsi is configured on your server?
A screenshot hiding sensitive info sounds good.
Thanks.

[2020-10-27 13:33] theoneandonly-vector commented on #2585
![image](https://user-images.githubusercontent.com/10380051/97308590-53b1fd00-1861-11eb-91cb-1e879c30a678.png)

[2020-10-27 13:39] djorkaeffalexandre commented on #2585
@theoneandonly-vector this looks right, can you provide me some test credentials to your server?
So I can debug it here.
Thanks.

https://open.rocket.chat/direct/djorkaeff.alexandre

[2020-10-27 13:43] theoneandonly-vector commented on #2585
your server is open for registration?

sent you an email

[2020-10-27 13:45] djorkaeffalexandre commented on #2585
@theoneandonly-vector yep, it's open to registration, you should just confirm your account on your email.
If you prefer, send me the test credentials to: `djorkaeff.alexandre@rocket.chat`

[2020-10-27 14:41] djorkaeffalexandre commented on #2585
We've found the cause of the problem, that is the `jitsi suffix` that was not implemented on mobile apps yet, so, when he tries to create a new call, it was pointing to a wrong url.

[2020-10-27 17:49] jsalatiel commented on #1659
@diegolmello news on this ?

[2020-10-27 20:32] jacotec commented on #2586
@gabriellsh I'm not sure if reactnative is the right place. Maybe you can work around in the app, but running in Safari on the iDevice gives exactly the same results as the app ... hence I've categorized it to the server.

Fact is - it's not only the client side. Changing the storage from file system to GridFS I'm getting some time display in the players. It's not correct, it's displaying a much l

[2020-10-27 21:28] diegolmello commented on #2563
We just changed our push gateway to send high priority push notifications.
Can you guys check how it behaves in the next days and reach me back in any case?

[2020-10-27 23:59] aleadco commented on #2563
@diegolmello Ok, I will be aware of the behavior, I will comment in the next few hours

[2020-10-28 05:34] aleadco commented on #2563
@diegolmello the changes made offer a better user experience in relation to this topic.  I have done some tests and it is very positive.  For my part, this ticket can be closed and if necessary it can be reopened.  A greeting.

[2020-10-28 11:39] ssachan commented on #2582
same issue. Kindly address.

[2020-10-28 11:54] #2563 closed

[2020-10-28 11:54] diegolmello commented on #2563
Thanks for testing. Let us know about anything odd on push notifications.

[2020-10-28 12:25] lorek123 commented on #2575
Isn't this something that should be configured system-wide? I am pretty sure that you can change this on Android.

[2020-10-28 12:56] JiangKzar opened #2588 "In IOS RocketChat/react-native-keyboard-input "this.trackingViewRef.resetTracking is not a function.""
package.json

    ...
    "react-native-keyboard-input": "RocketChat/react-native-keyboard-input",
    "react-native-keyboard-tracking-view": "^5.7.0",
    ....

<img width="414" alt="스크린샷, 2020-10-28 오후 9 38 51" src="https://user-images.githubusercontent.com/56865797/97438602-f8b2ff80-195f-11eb-9093-61c340d9f42b.png">

[2020-10-28 13:02] djorkaeffalexandre commented on #2588
@JiangKzar check if this patch was applied
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/patches/react-native-keyboard-tracking-view%2B5.7.0.patch

[2020-10-28 13:24] diegolmello commented on #2575
@lorek123 I'm not sure we're going to do the feature specifically as a switch inside the app, but for sure we need some work to make it better and testable.

[2020-10-28 13:34] gabriellsh commented on #2586
Okay, so there might be 2 different issues in place.
I'll map out my observations, see if they match yours.

Using GridFS:
* Audios recorded in any browser
  * Are saved as mp3
  * Shows correct length in every device or browser
* Audios recorded on mobile app
  * Are saved as .aac
  * Lengths vary depending on browser (expected due to format), but are mostly correct in safari and iOS app.

Using

[2020-10-28 14:18] jacotec commented on #2586
@gabriellsh This matches really good with my observations, except:

"but audios are still playable"
"I didn't find any issues in the audio playback, although lengths where utterly imprecise."

The issue's I've described did not happen with every message. But I've seen these issues by myself, my wife and they have also been reported by others. This might appear with one out of dozens messages, but

[2020-10-28 14:29] anhdevit commented on #1874
Why this issue is closed?

[2020-10-28 14:33] djorkaeffalexandre commented on #1874
@anhdevit the problem was related to use of `npm` instead of `yarn`, if you use yarn all should work's as expected, this change is applied by a patch.
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/patches/react-native%2B0.63.1.patch#L277
If you're facing the same problem, check if the patch was applied correctly.

[2020-10-28 15:05] #2588 closed

[2020-10-28 15:40] ankar84 commented on #2585
Pretty much related to https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2505

[2020-10-29 07:34] anhdevit commented on #1874
I updated like below and It worked
[code]

[2020-10-30 11:17] MrSerth opened #2590 "Mobile Notifications No Longer Show Content Preview"
After updating the mobile Rocket.Chat app from version 4.10 to version 4.11, notifications do not contain a content preview anymore. For every message (whether it is a private message or a channel message), the same text "You have a new message" is displayed.

### Description:

Mobile Notifications received with the newest version of the iOS app no longer show the content of the message. While som

[2020-10-30 12:59] DimmoK opened #2591 "cert problem"
Hello, sorry for my bad English.
I have a problem. When I try to connect to my server that I see error for my cert. I have Android 10 and your app Rocket.Chat.

[2020-10-30 13:12] #441 closed

[2020-10-30 13:12] #1583 closed

[2020-10-30 13:12] djorkaeffalexandre commented on #2590
Hey @MrSerth, does your server have "Push request content from server" enabled?
Is it possible to provide a test user on `https://open.rocket.chat/direct/djorkaeff.alexandre`?
So, we can try to debug it here, I've tried this feature some days ago with 4.11 and worked like a charm.
Thanks.

[2020-10-30 13:51] #809 closed

[2020-10-30 13:51] #2477 closed

[2020-10-30 15:54] #1871 closed

[2020-10-31 12:46] AmatorPhasma commented on #2533
I have a handful of users with the same problem (Android 9/10) in the last two weeks,
I noticed also that after entering the workspace (our server or open.rocket.chat) not even the logo is loaded in the next screen.

[2020-10-31 20:02] AgentTNT commented on #2456
@diegolmello

This issue was introduced via https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2375, which would have broken version 4.10 and beyond for Android.

The fix is to opt out of scoped storage (https://developer.android.com/training/data-storage/use-cases#opt-out-scoped-storage)

`android:requestLegacyExternalStorage="true"`

This is important to note for future changes to the ta

[2020-10-31 20:44] pbenkoe opened #2593 "Unable to log back in via iframe after token expires"
### Description:

After a session expires, the user gets logged out correctly - yet, there is no way for the user to log back in. When clicking 'Join a workspace' on the initial screen, there is no way to select a new workspace (might be a separate issue), but the 'Login' button for the previously selected server shows up (one should actually be able to enter a server URL here). Anyways, when clic

[2020-11-01 03:30] ankar84 commented on #2393
That issue is back again
We now on 3.7.1 and most recent 4.12
![20201101_102226](https://user-images.githubusercontent.com/4023037/97794481-41eba380-1c2d-11eb-834a-cc6b3d784c7e.gif)

[2020-11-01 03:34] ankar84 commented on #2393
@diegolmello @djorkaeffalexandre
We hava a few read only channels and one still has that bug, and other is not.
I think it's somehow related to unread messages in channel - first shows unread message, and history is blocked.

[2020-11-01 09:52] isaacvonaaron opened #2594 "Android App Showing Blank Page When Phone Default Language is Set to Hebrew"
### Description:

App showing blank page when phone default language is set to Hebrew.

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.11, also tested 4.10 and 4.8
- Device Name: Samsung Galaxy S10+
- OS Version: Android

### Steps to reproduce:

1. Use an android device
2. Go to settings, language, configure Hebrew as the default language
3. Stop th

[2020-11-01 19:57] hoesein opened #2595 "Gradle bundleRelease Failed"
### Description:
i get this error while trying to build release version of **Rocket.Chat App**. i have already follow your documantion and react native official documantion.

### Environment Information:
- Rocket.Chat Server Version: 3.0.12 (not sure)
- Rocket.Chat App Version: 4.11.0 (single-server)
- Device Name: Android Emulator
- OS Version: Android 9.0

# Steps
- generate upload key and set i

[2020-11-02 01:29] PeGaSuS-Coder commented on #1689
Any news about this one? is #2553 WIP?
It would be really great to see the username in all the message types that this issue pointed out.

Cheers

[2020-11-02 01:47] David-Tsui opened #2597 "I can see some users when inviting user into a group despite having no privilege in the desktop version"
### Description:

Differenct privilege from Rocket.Chat desktop version.

If I have no privilege of inviting **user into a group** in desktop version, no user will be seen;
however, I can see **every user I have interactived** with in mobile version

### Environment Information:

- **Desktop(meteor version)**: 3.7.1, I think it doesn't matter.
- **Mobile(RN version)**: 4.10.0, I am waiting for sta

[2020-11-03 08:29] hmn566 opened #2599 "there is no option to jump on messages in search"
### Description:

there is no option to jump on messages in search

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version: 4.11.0.2137
- Device Name: Mobile android
- OS Version: 10

### Steps to reproduce:

1. Go to rooms
2. search for a word
3.  there is no option to jump on messages in search

### Expected behavior:

 What you expect to be an option to jump on me

[2020-11-03 09:25] mukerremyilmaz opened #2600 "Windows build"
Hello can we get windows export with this project?

[2020-11-03 11:35] diegolmello commented on #2595
We have more than one build flavor, so `bundleRelease` won't work.
Run `bundlePlayRelease` for Google Play version or `bundleFossRelease` for FOSS.

[2020-11-03 11:35] #2595 closed

[2020-11-03 11:37] diegolmello commented on #2599
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1315

[2020-11-03 11:37] #2599 closed

[2020-11-03 11:38] diegolmello commented on #2600
Can you elaborate?

[2020-11-03 11:38] #2600 closed

[2020-11-03 12:02] mukerremyilmaz commented on #2600
I would like to and I will try but I am not a React Native developer. I have to learn first...

[2020-11-03 12:24] Scorpio92 commented on #2456
It's works. Thanks!

[2020-11-03 12:40] #1526 closed

[2020-11-03 13:22] MrSerth commented on #2590
Thanks for your suggestion, @djorkaeffalexandre!

We checked the server settings, they show the following:

<img width="899" alt="Bildschirmfoto 2020-11-02 um 18 17 16" src="https://user-images.githubusercontent.com/7300329/97990175-cf6ef500-1ddf-11eb-83ca-6b03a1f3c2d5.png">

I currently try to find out how we can proceed here.

[2020-11-03 13:51] #2497 closed

[2020-11-03 16:18] djorkaeffalexandre commented on #2593
Hey @pbenkoe,
Can you provide some test credentials on `https://open.rocket.chat/direct/djorkaeff.alexandre`?
I've tried to reproduce it here but not was possible, I followed what you've said:
1. login using iframe
2. expires token
3. logged out
4. login again works as expected

[2020-11-03 21:19] mirabilos commented on #2539
Aaaand fixed.

[2020-11-04 00:05] gabriellsh commented on #2586
Thanks a lot for your help figuring this one out @jacotec. I still didn't get audios to fail playback, but I think once the length issue is resolved, this other one will too.

Maybe they use a fixed encoding size.

[2020-11-04 08:45] acuconfdev commented on #2582
I was trying to implement custom push notifications for RC react native app. I am using RC version 3.6.2 (snap).
I have created GCM account and re-built the app and also updated the server with GCM credentials (Not tried APN though as I was trying with android app). As per the documentation, I have disabled the rocketchat gateway too. But I could not get the notifications working for the app.
[ Fo

[2020-11-04 09:22] ssachan commented on #2582
Notifications seem to be working fine.
But clicking on the message leads to a blank screen. It doesnt take you to the message directly.

[2020-11-04 11:56] diegolmello commented on #2582
@ssachan did you compare the existing server on local database against the server url returned by the push notification? https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2582#issuecomment-716493462

Make sure `Site_Url` setting from the server is correct.

@acuconfdev it's a misconfiguration on your end and unrelated to this issue.

[2020-11-04 13:38] #2554 closed

[2020-11-05 07:31] Dennis14e commented on #2135
Any updates on this?

[2020-11-05 12:10] diegolmello commented on #2135
Not yet.
We have other priorities right now.
On latest releases, we implemented E2E encryption, encrypted user credentials, new threads support, etc.
Next release is planned to contain SSL Client Certificate on Android and other missing features.

I'd be glad to review a PR from the community.
Thank you.

[2020-11-05 14:08] diegolmello commented on #2597
*Right now* is the best time to test 4.12.0.
We're on a beta phase and we're waiting for your feedbacks so we can fix issues before they land final release.

What issues?

Relaunch the mobile version, login with A, and try to invite user into a group.

It worked for me. Can you record a video?

[2020-11-05 14:08] #2597 closed

[2020-11-05 14:13] diegolmello commented on #2591
It's working on my tests.
Can you give us more info?

https://support.securly.com/hc/en-us/articles/212869927-How-to-install-Securly-SSL-certificate-on-Android-device-
https://www.ssldragon.com/blog/how-to-install-an-ssl-certificate-on-android/

[2020-11-05 14:16] diegolmello commented on #2576
We have a markdown regex to identify messages containing 4 chars containing only emojis and make them slightly bigger.
Maybe the regex is taking these characters.

https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/markdown/index.js#L43

[2020-11-05 14:18] diegolmello commented on #2518
Can you reproduce it on 4.12?
Can you reproduce it on web client?

[2020-11-05 14:28] ankar84 commented on #2518
As I stated in first message, web version fixed since some version. Maybe 3.6 or recent 3.7. and that really awesome.

I just checked on 4.12 and it looks like issue fixed in that version. I need more time to tell you for sure.

[2020-11-05 14:40] ankar84 commented on #2518
Did some manual tests and yes, 4.12 has a fix for that issue

[2020-11-05 14:40] #2518 closed

[2020-11-05 14:52] ankar84 commented on #2410
4.12 issue is still here, unfortunately.

[2020-11-05 15:17] DimmoK commented on #2591
Hello.Thanks for your help and sorry for my bad English.I haven't a cert file.I try connect to my workspace, for example:rchat.mysite.com:8866orhttps://rchat.mysite.com:8866And I see the error.I must get cert for this site?Thanks! Отправлено с моего телефона Huawei-------- Исходное сообщение --------От: Diego Mello <notifications@github.com>Дата: чт, 5 нояб. 2020 г., 17:13Кому: "RocketChat/Rocket.

[2020-11-05 15:19] ankar84 commented on #1442
Still in 4.12
@diegolmello I think fix for that issue is not so hard. What do think about that?

[2020-11-05 15:19] diegolmello commented on #2591
Yes. If the server is configured to require a client certificate, you have to install a certificate on your device.
Is that the case?

[2020-11-05 15:32] IhorNykyha commented on #2532
The same behavior. @diegolmello Do you have any information about that?

[2020-11-05 15:34] DimmoK commented on #2591
No. From browser I connect without any problem and doesn't request client cert. But I try from rchat app I have the problem.Отправлено с моего телефона Huawei-------- Исходное сообщение --------От: Diego Mello <notifications@github.com>Дата: чт, 5 нояб. 2020 г., 18:19Кому: "RocketChat/Rocket.Chat.ReactNative" <Rocket.Chat.ReactNative@noreply.github.com>Копия: DimmKo <registration@deltamoby.ru>, Au

[2020-11-05 15:40] falconws commented on #2576
@diegolmello Thank you for your response.
fm... To fix this bug,  exclude these Unicode range from `'\u00a9|\u00ae|[\u2000-\u3300]|\ud83c[\ud000-\udfff]|\ud83d[\ud000-\udfff]|\ud83e[\ud000-\udfff]'` ?
(https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/markdown/index.js#L34)

Hiragana (ひらがな): https://ja.wikipedia.org/wiki/%E5%B9%B3%E4%BB%AE%E5%90%8D_(Unicode%E3%81%AE

[2020-11-05 16:01] ankar84 commented on #2286
I think it could be resolved in 4.12
Did a couple test and it looks like there is avatars in 4.12 with **Block Unauthenticated Access to Avatar**s enabled.
But I also checked it 4.7 - and same - there is avatars. So maybe server version 3.7.1 matters in that case.

[2020-11-05 16:09] diegolmello commented on #2532
We use the embed webview version of admin on mobile.
That's kind of junky, but it works for me.
Drawer doesn't work like usual mobile drawer, so you have to tap on the backdrop to close it.
Open an issue on the server repo if you still can't use it.
Thanks.

[2020-11-05 16:09] #2532 closed

[2020-11-05 16:26] diegolmello commented on #2591
It might be an issue on your server SSL configuration then.
iOS and Android require more strict SSL settings in order to work.

[2020-11-05 16:29] diegolmello commented on #1442
We'll check that open PR

[2020-11-05 16:29] diegolmello commented on #2576
Can you open a PR?

[2020-11-05 19:34] diegolmello commented on #2576
@falconws fix is on the way.
We just need to wait until RN64 is released, but that's probably happening on the next weeks.
I'll make sure it gets picked for 4.13.

[2020-11-05 19:46] diegolmello commented on #2594
I wasn't able to test it.
I'm not sure which one is Hebrew here.
Can you give us more info?
Thanks!

[2020-11-05 21:34] bradroid commented on #2582
@diegolmello

I compared the URL from
`Administration->General->Site URL` with the one defined in the `app.json` and figured out the issue.

One of the URLs had a slash (`/`) at the end while the other one didn't.

Thanks for the help!

[2020-11-05 21:34] #2582 closed

[2020-11-06 04:49] aleadco opened #2613 "The application closes after updating to experimental version 4.12.0"
### Description:

The application closes after updating to experimental version 4.12.0. I've already tried clearing the app data, completely uninstalling, and reinstalling.
The application opens, but after you log in it automatically closes.
The older version without that problem.

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.12.0 Version Experimen

[2020-11-06 05:52] ankar84 commented on #1442
I think I need to close that issue for a few reasons.
1. I'm not sure, but I think, that solution could be in server version or some settings, because I double checked that issue and it's solved in most places in most chats
2. Since that issue was started we changed `Name` in RC - no it includes not only user first name and surname, but also father name (in Russian it called Отчество), so because

[2020-11-06 05:59] ankar84 commented on #1442
So, @diegolmello you can close that issue, it's not in recent chats of any mobile client since 4.7

[2020-11-06 06:01] ankar84 commented on #2613
For me all works good with server 3.7.1 and 4.12 Experimental version.

[2020-11-06 06:26] ankar84 commented on #2410
Actually as you can see in first post of that issue previous version crashed after a few rotates.
Yesterday it took me a 5 minutes or so to reproduce that bug. And it's really good stability improvement.
But unfortunately I found another big bug in Jitsi in 4.12, will report as separate issue.

[2020-11-06 06:27] isaacvonaaron commented on #2594
Hi Diego

The screen is blank. It is blank in any language - Hebrew, English, Chinese...

To get to this blank screen you have to switch the Android device's primary language to Hebrew and the start the Rocket.Chat app, which has to be terminated prior to opening it.

I must emphasize that otherwise the Rocket.Chat app functions OK when the phone is switch to English as primary language. I can eve

[2020-11-06 07:30] Scorpio92 opened #2614 "Cannot read property 'FDROID_BUILD' of null"
### Description:

I try to build whitelabel app from single-server branch.
Current actual commit is 5e633e550e23fdf4e1a618f1e47caba63eb10660.
If I set property APPLICATIONID in gradle.properties, app stay on spash screen and not react. In logcat I see:

[code]

If I use chat.rocket.reactnative for application id, It's works.

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Cha

[2020-11-06 11:41] diegolmello commented on #2613
Can you share a log report?

[2020-11-06 11:45] diegolmello commented on #2594
I tried changing the default language and I couldn't reproduce the issue, but I'm not sure which one is Hebrew on the OS selection.
Can you screenshot?
I have a S10e, so it's probably similar to yours.

[2020-11-06 11:46] diegolmello commented on #2614
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2548

[2020-11-06 11:46] #2614 closed

[2020-11-06 13:34] isaacvonaaron commented on #2594
Sure, does that help?
עברית (ישראל)
Means Hebrew (Israel)

I also tried to shoot its placement on the language selection list but my phone offers Hebrew as a suggestion, which places it at the top.

![WhatsApp Image 2020-11-06 at 15 30 05](https://user-images.githubusercontent.com/10384285/98371609-1c9fd080-2045-11eb-9bdb-ffb8661ea8a9.jpeg)

[2020-11-06 13:42] aleadco commented on #2613
@diegolmello when the application closed send the application log, I imagine that will get to you.  I tried to copy the that log being sent but didn't get any option to do so.  Or is it you mean the server log?  Excuse me. How can I give you the information you need?

[2020-11-06 13:49] djorkaeffalexandre commented on #2613
@aleadco we've found an error related to `es` language, let's check if #2616 fixes your problem, it will be launched on beta soon.
Thanks for your report.

[2020-11-06 13:56] aleadco commented on #2613
@djorkaeffalexandre ok, I will be aware.  Regards my friend.

[2020-11-06 14:27] #2613 closed

[2020-11-06 20:42] aleadco commented on #2613
@diegolmello and @djorkaeffalexandre update 4.12.0 RC.01 resolves the bug.

[2020-11-06 20:54] diegolmello commented on #2613
@aleadco Awesome. Thanks for the feedback.

[2020-11-07 16:45] cmdares commented on #2505
I'm getting the same issue.

[2020-11-09 09:40] phriedrich opened #2620 "Untranslatable strings on login screen"
### Description:

On the screen to join an existing workspace, two strings are hardcoded and can't be translated. Please see attached screenshot.

They are in the file `app/views/NewServerView/ServerInput/index.js`.

![Screenshot](https://user-images.githubusercontent.com/470153/98524606-b51d9700-2277-11eb-9e18-84e29a663585.png)

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
-

[2020-11-09 11:47] Gummikavalier commented on #2519
Hi! This issue seems still to be active in 4.12; read messages still stay under `Unread` header. I can see that the font loses bolding (not very easy to spot with this font), but they don't clean up immediately. Possibly when checking new messages few minutes later they have moved away from the Unread.

[2020-11-09 12:00] diegolmello commented on #2519
@Gummikavalier Can you post a gif/video?

[2020-11-09 12:08] zdumitru commented on #2519
@diegolmello Yes, I also confirm that behaviour. Tested on 4.12.0.21382 version.

![Screenshot_20201109-130150_RocketChat Experimental](https://user-images.githubusercontent.com/11751017/98539392-865deb80-228c-11eb-8b14-9590c42b4e98.jpg)

If you look on the screen, the top channel has been read, but still stays in the "Unread" section. Even though it is not bold anymore. This is a bug and the issu

[2020-11-09 12:39] Gummikavalier commented on #2519
@diegolmello Yes, exactly how @zdumitru has it in his pic. The message does get marked as read, but it just doesn't disappear from under the Unread.

[2020-11-09 14:29] jsalatiel commented on #1760
@diegolmello Isn't OTR messages  p2p encrypted ? I think it should not appear on the mobile app if the chat was done on the web. ( Just like telegram and private chat ). Even If have several telegram clients, only one will be able to see the chat. So I suppose OTR should not be send to the mobile.
btw, is the encrypted message still stored on the database ?

[2020-11-10 05:13] toshanmugaraj commented on #1985
Still the issue exists. Getting logged out when choosing the server suggestion list in login screen.

[2020-11-10 06:41] ankar84 opened #2622 "[Bug] Users are always muted in Jitsi calls in iOS version 4.12.0.316"
### Description:

Details in [open chat](https://open.rocket.chat/channel/react-native?msg=ySXPXrH36XB9fzg4F)
Since 4.12 version released in Apple Store as stable my users start comply about Jitsi calls in that version. iOS users are always muted and they can't unmute themselves.

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.12.0.316
- Device Name:

[2020-11-10 12:09] diegolmello commented on #1985
@toshanmugaraj I think you're talking about a different issue. Can you elaborate?

[2020-11-10 14:14] MrSerth commented on #2590
Disabling the "Fetch full message content from the server on receipt" option, which only works for Enterprise servers, solved my issue.

[2020-11-10 14:14] #2590 closed

[2020-11-10 20:45] jacotec opened #2625 "Broken German translation in 4.12.0 (Profile --> Settings --> Notifications)"
### Description:

When opening the menu, "Profil", "Settings" in 4.12.0 when the language is set to German ...

![image](https://user-images.githubusercontent.com/3321655/98731070-741fa280-239d-11eb-8f4f-c7064f0bc66d.png)

Instead of showing "Benachrichtigungen" (German Translation of "Notifications"), it shows this:

![image](https://user-images.githubusercontent.com/3321655/98731187-a29d7d80-239

[2020-11-11 05:43] ankar84 commented on #2625
Same with other languages.
![image](https://user-images.githubusercontent.com/4023037/98773460-06559400-23fa-11eb-9a6c-b112c85eaf8c.png)

[2020-11-11 07:26] johnypeterson opened #2638 "Admin Panel is unreachable from mobile devices"
### Description:
After the server version update, when trying to open the Admin Panel from a mobile device, it switches to the weird-looking interface which resembles the desktop version. And it is impossible to do anything as admin.

### Steps to reproduce:

1. Log into your server via an Android app (being an Admin on this server).
2. Open the left-side menu.
3. Сlick on Admin Panel
4. Try to op

[2020-11-11 07:39] arpsyapathy opened #2627 "What the difference between bundlePlayRelease and bundleFossRelease? Push notifications work in both cases?"
Hi all!

Tell me please.
What the difference between bundlePlayRelease and bundleFossRelease? Push notifications work in both cases?

I build single-server with my google-service and i want build 4.12

Thank you advanced

[2020-11-11 09:12] toshanmugaraj commented on #1985
@diegolmello
It happens in Android device, build from development branch.

1. Join your workspace with one server URL.
2. Login once and Logout.
3. Now join the workspace with another server URL.
4. Login to the app.
5. Close application.
6. Receive push notification for any new message.
7. Select the notification from notification bar.

Now the application keeps login and logout on infinite loop.

[2020-11-11 10:01] David-Tsui opened #2628 "4.12.0 IOS can't build(WatermelonDB not installed)"
### Description:

Can't build IOS from release tag 4.12.0-rc.1, show IWatermelonDB not installed in Xcode.

### Environment Information:

- Rocket.Chat App Version: 4.12.0-rc.1
- Device Name: Emulator IPhone 11(ios 14.0)

### Steps to reproduce:

1. Clone your repo, checkout to tag 4.12.0-rc.1
2. yarn
3. Xcode, build and run.

### Expected behavior:

Can build.

### Actual behavior:

Can't build.

[2020-11-11 11:56] diegolmello commented on #2627
- Play: Google Play version
- Foss (free and open source software): F-Droid store version
  * Push notifications won't work

[2020-11-11 11:56] #2627 closed

[2020-11-11 11:57] diegolmello commented on #1985
@toshanmugaraj it's unrelated. Can you open a new issue? Thank you.

[2020-11-11 11:58] diegolmello commented on #1985
@djorkaeffalexandre @bestog Can we close this issue? I was never able to reproduce it and it's stale since April.

[2020-11-11 12:00] diegolmello commented on #2628
Does latest commit from `develop` branch work for you? https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md#how-to-run

[2020-11-11 13:34] arpsyapathy commented on #2627
@diegolmello
How build apk with push?
When i bundlePlayRelease i get aab. But i need build apk with push for my users.

[2020-11-11 13:37] diegolmello commented on #2627
You have to use `assemble` instead of `bundle` if you want to generate APK.

https://developer.android.com/studio/build/building-cmdline

[2020-11-11 13:48] diegolmello opened #2629 "Wrong styling on E2E banner"
### Description:

### Environment Information:

- Rocket.Chat Server Version: any
- Rocket.Chat App Version: 4.12
- Device Name: any
- OS Version: any

### Steps to reproduce:

1. Have e2e banner displaying (just login)

### Expected behavior:

Banner's style should follow `Sorting` alignment.
![Screen Shot 2020-11-11 at 10 44 49](https://user-images.githubusercontent.com/804994/98819174-4ffaaa80-

[2020-11-11 21:33] JargeZ commented on #2174
Hello
UIKIT is definitely good and I use it
But now there is a problem that it is impossible to implement navigation in bots like hubots, botkits, botpress and others.
I use command buttons for navigation, but they only work on the desktop version
This function in the current implementation is quite enough for the implementation of navigation, for everything else, UIKIT is used in apps

I want to

[2020-11-12 03:40] bingluen opened #2632 "The release 4.12.0 is same to 4.11.0."
The release 4.12.0 is same to 4.11.0.

Is there mistake on add tag ?

Just see 4.12.0...4.11.0

![圖片](https://user-images.githubusercontent.com/6832868/98892713-d979ad80-24db-11eb-9e7c-718ab9617a21.png)

[2020-11-12 07:36] hungntq opened #2633 "Messages overlap in thread"
### Description:

Messages overlapping after switch between 2 thread

### Environment Information:

- Rocket.Chat Server Version: 3.5.3
- Rocket.Chat App Version: 4.12.0.214
- Device Name:  Samsung A30 (Android)
- OS Version: Android 10

### Steps to reproduce:

1. Click to open a chat room
2. Click on thread 1 => Display thread 1
3. Back to open room view, then click on thread 2 => Display thread

[2020-11-12 07:56] David-Tsui commented on #2632
It should be a mistake, the 4.12.0-rc.1 is the latest.

[2020-11-12 07:57] David-Tsui commented on #2628
@diegolmello Yes

[2020-11-12 08:37] pritamye77 opened #2634 "iOS Project error"
iOS project error

error: /Users/neural/Desktop/Rocket Chat/Rocket.Chat.ReactNative/node_modules/react-native/React/AccessibilityResources/en.lproj: No such file or directory (in target 'React-Core-AccessibilityResources' from project 'Pods')

[2020-11-12 12:01] diegolmello commented on #2632
That's a mistake.
I'm going to fix it on #2635 and create a new release tag.
Thanks for pointing it out.

[2020-11-12 12:08] diegolmello commented on #2633
This is a long time known issue, but it's hard to reproduce.
It's finally planned to be fixed on 4.13 and I'll try using your example.
Thank you.

[2020-11-12 12:31] diegolmello commented on #2632
Fixed.

[2020-11-12 12:31] #2632 closed

[2020-11-12 13:50] zeeshanwarriach93 commented on #1332
Hi can you help me with this?
Do I have to change this
const appGroupPath = isIOS ? appGroup.path : '';
to

const appGroupPath = isIOS ? appGroup.path : 'group.com.example.app';

something like that?

[2020-11-12 14:15] djorkaeffalexandre commented on #2174
Hey @JargeZ, can you open an issue describing these things and provide an app that has this behavior, so we can try it here?
Thanks.

[2020-11-12 14:17] #2519 closed

[2020-11-12 14:31] diegolmello commented on #2638
@johnypeterson Please stop opening duplicated issues.
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2538
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2532

[2020-11-12 14:33] diegolmello commented on #2638
@MartinSchoeler Read this comment https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2532#issuecomment-722475093
This is an issue on the front end.

[2020-11-12 15:31] djorkaeffalexandre commented on #1332
@bradroid @zeeshanwarriach93, not exactly, if you don't have an App Group configured you'll need to set App Group Path as an empty string.
Check these steps and make sure you've followed this things on the right way, so you don't need to change anything into the code.
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#general-setup
We're reading the App Group identifie

[2020-11-12 16:06] #2625 closed

[2020-11-12 19:35] #2622 closed

[2020-11-12 20:50] JargeZ commented on #2174
@djorkaeffalexandre I think there is no need to create a separate issue because the current one is about this problem

The problem is that when sending a message as in the example below to the api address `http://localhost:3000/api/v1/chat.sendMessage`
[code]
On the desktop version, buttons are displayed:
![ex](https://imgur.com/tqfN35v.png)
But not on mobile:
![Imgur](https://imgur.com/vpjB8jl.pn

[2020-11-13 08:09] igalic opened #2642 "Rocket.Chat 4.12.1 crashes on start on Android"
### Description:

since the upgrades this night, the app crashes on startup

### Environment Information:

- Rocket.Chat Server Version: TODO
- Rocket.Chat App Version: 4.12.1
- Device Name: One Plus 5t
- OS Version: 10

### Steps to reproduce:

1. Open App
2. It crashes

I've done this a few times, and "sent Feedback" but i have no idea if this arrives at anyone who cares

### Expected behavior:

[2020-11-13 10:17] urosino commented on #2642
The same for me.

Android 11.

[2020-11-13 11:49] diegolmello commented on #2642
@igalic "Send Feedback" from Android doesn't land anywhere we can see.

Please, grab a log report and send to us.
Feel free to contact me on https://open.rocket.chat/direct/diego.mello

Thank you.

[2020-11-13 12:29] diegolmello commented on #2642
Ok, we have a fix and we're releasing a new build in the next hours.

[2020-11-13 13:13] diegolmello commented on #2642
Released new beta on 4.12.1.2143 on Google Play.
Let me know if it's still happening.
Thanks.

[2020-11-13 13:13] #2642 closed

[2020-11-13 15:54] diegolmello commented on #2638
@johnypeterson I talked to @ggazzo and he's on it.

[2020-11-13 17:41] jfredsilva opened #2643 "iOS crash - MMKV Error"
The app is crashing on MMKV migration.
Error: "Getting a multi-process MMKV migration without setting groupDir makes no sense"

I followed the tutorial but I didn't found any mention about setting the groupDir for MMKV.

[2020-11-13 17:48] djorkaeffalexandre commented on #2643
Did you configured `App Group` string on each target `Info.plist`?
Main App/Share Extension/Notification Service

[2020-11-13 17:59] jfredsilva commented on #2643
Thanks, I missed one .plist

[2020-11-13 18:00] djorkaeffalexandre commented on #2643
You're welcome..

[2020-11-13 18:00] #2643 closed

[2020-11-13 21:51] igalic commented on #2642
thank you very much! works!

[2020-11-14 10:29] #2628 closed

[2020-11-14 21:40] zeeshanwarriach93 opened #2645 "Reply Messages from Notifications not being sent"
Unable to start receiver chat.rocket.reactnative.ReplyBroadcast: java.lang.NullPointerException: value for name x-user-id == null
![Screen Shot 2020-11-15 at 2 37 50 AM](https://user-images.githubusercontent.com/74134024/99157565-d0f7c180-26eb-11eb-84c2-8f4846390638.png)

[2020-11-15 07:08] poorhoseini commented on #2129
Any Good News?

[2020-11-15 19:41] amahbadi opened #2650 "Only the last new message is visible"
### Description:

When the number of messages sent to a user exceeds 1 message, only the last one is displayed in the mobile application. This problem is not seen in the web application.

### Steps to reproduce:

1. Notification arrives
2. Open Mobile app
3. Find user and open chat with this user

### Expected behavior:

 All new messages from this user loaded and shown

### Actual behavior:

Only

[2020-11-16 06:57] terra-assistance commented on #1959
@diegolmello any changes on this topic?

[2020-11-16 07:39] neurolabs commented on #2533
@diegolmello this is not fixed for me in 4.12.0.2140. Please reopen this issue.

I deleted cache and app data before trying to log in.

[2020-11-16 09:13] toshanmugaraj opened #2648 "[Feature] Custom audio alert for Voice / Video calls."
### Description:

It would be better if we can have different audio notification alert, like 30 seconds audio alert ringtone when there is notification with `messageType` is `jitsi_call_started`. This alert can be Audio ringtone / Call Vibration / Silent based on the device sound mode.

### Environment Information:

- Rocket.Chat Server Version: 3.8.0
- Rocket.Chat App Version: 4.12.0
- Device Nam

[2020-11-16 11:38] diegolmello commented on #2648
We're going to take a look at Jitsi notifications soon, but we might use OS' call system instead so a Jitsi call would behave as any phone call.

[2020-11-16 11:38] #2648 closed

[2020-11-16 11:39] diegolmello commented on #2533
@neurolabs That PR removes `AllowBackup` manifest attribute, which is stored on device's OS when the app is uninstalled.
Can you uninstall and try again?

[2020-11-16 12:05] diegolmello commented on #2645
@zeeshanwarriach93 Can you follow the issue template so we can reproduce it and help you?
Thanks.

[2020-11-16 12:25] neurolabs commented on #2533
@diegolmello uninstalling, reinstalling did not help either.

Anything else I can try?

[2020-11-16 12:50] zeeshanwarriach93 commented on #2645
I had problem with host path, I have resolved the issue.
Thanks

[2020-11-16 12:50] #2645 closed

[2020-11-16 15:52] Gummikavalier commented on #2519
Confirmed working, thanks a lot! :+1:

[2020-11-16 16:14] bestog commented on #2519
Good Job. Thank you. :)

[2020-11-17 17:30] diegolmello commented on #2286
@ankar84 is this still an issue?

[2020-11-17 17:53] #2456 closed

[2020-11-18 06:53] ankar84 commented on #2286
Hi, @diegolmello
I need your help in reproducing steps for that issue.
Last week I did try to reproduce that on 4.12 and got strange results.
One user saw my avatar, but other is not.
I think it could be some cache. Users, that I talked previously have my avatar in application cache maybe.
So, I need a proper way to check if that issue is resolved in 4.12.1, can you help me with that?

[2020-11-18 11:49] diegolmello commented on #2286
I see.
4.12 had Jitsi issues (not only voice related, but image related) and we solved them on 4.12.1.
Can you make sure everyone is up-to-date and try again?
Thank you.

[2020-11-18 15:07] behemoth36 opened #2653 "Don't display the RealName in the search menu"
### Description:

When you search a user on mobile app by the search menu, it display the uid of the user not the realname. (The function use real name is enable on the server). It works only by the directory menu.

### Environment Information:

- Rocket.Chat Server Version: 3.8.0
- Rocket.Chat App Version: 4.11.0.2137
- Device Name: Android/MacOS
- OS Version: Android 7.0

### Steps to reproduce:

[2020-11-19 10:20] ramdeveloperbh opened #2655 "iOS: Updated new avatar not refreshed in hamburger menu when user relogin"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.12.1
- Device Name: iPhone 11
- OS Version: 13.6.1

### Steps to reproduce:

1. Login the mobile app.
2. Choose the profile option from hamburger menu.
3. Upload/Update new avatar in Profile screen.
4. Save Changes.
5. Update avatar will refresh in hamburger menu, Profile screen and Dir

[2020-11-19 23:05] fenrirus86 opened #2662 "the Android app Rocketchat returns an error CLEARTEXT"
### Description:

the Android app Rocketchat returns an error CLEARTEXT communication to x.x.x.x not permited by network security policy.

### Steps to reproduce:

install app rocketchat
Enter workspace URL
Tap Connect

### Expected behavior:

Connect to local server

### Actual behavior:

the Android app Rocketchat returns an error CLEARTEXT communication to x.x.x.x not permited by network securi

[2020-11-20 09:36] zdumitru opened #2660 "Channels not marked as read in mobile app, when they have been read in the web version"
### Description:

Summary

If a channel with unread messages is read in the web version or computer app, it still remains and is shown as unread on mobile app. Reloading, refreshing and cleaning the cache of mobile app doesn't help.

Restarting the app and cleaning the cache doesn't help.

### Environment Information:

- Rocket.Chat Server Version: 3.9.0-develop
- Rocket.Chat App Version: 4.12.1.2

[2020-11-20 09:42] helicrenz opened #2661 "horizontal line not showing rocketchat mobile"
### Description:

 RocketChat mobile app not showing horizontal line.

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.12.1.2143
- Device Name:  Android
- OS Version: Android 10

### Steps to reproduce:

1. send message on rocketchat ****
2. check rocketchat mobile app its blank

### Expected behavior:

Have the same display on rocketchat web and desk

[2020-11-20 12:19] diegolmello commented on #2661
I didn't get what's the message content

[2020-11-20 12:34] helicrenz commented on #2661
Hello @diegolmello ,
Thanks for you reply. In Markdown Style guide when sending message **** this will create horizontal line. Like picture above in rocketchat desktop and web. When checking my phone i don't see any horizontal line i can just see blank message.

[2020-11-20 12:37] diegolmello commented on #2661
What's your markdown configuration on the admin?

[2020-11-20 12:40] helicrenz commented on #2661
@diegolmello
![image](https://user-images.githubusercontent.com/42835226/99801115-7984a600-2b70-11eb-9609-f246b5ca109a.png)

[2020-11-20 12:42] diegolmello commented on #2661
I see.
There are some rules missing implementation on our mobile apps.
I'm marking as `improvement`.
PRs appreciated.
Thank you.

[2020-11-20 15:10] zaphod534 opened #2663 "Initial users status not fetched"
### Description:

On app fresh install, the users initial presence status is not fetched (all users are in offline state). On presence update all works as expected.

### Environment Information:

- Rocket.Chat Server Version: 3.8.0
- Rocket.Chat App Version: 4.12.1
- Device Name: iOS Simulator
- OS Version: iOS 14.2

### Steps to reproduce:

1. Open app and connect to a server
2. All users not hav

[2020-11-20 18:21] djorkaeffalexandre commented on #2160
I don't think that this is correct behaviour.

@lelvisl We're generating a new filename to each image before save it to the device, your suggestion is about use the original filename?
If yes, can you create a new issue? Each GH issue should refer to a specific problem.
Thanks.

[2020-11-20 19:49] diegolmello commented on #2662
Do you have SSL configured on your server?
If so, send me a DM: https://open.rocket.chat/direct/diego.mello

[2020-11-21 11:13] bodyionita commented on #2662
I seem to be having a similar issue on my new phone. Had a Samsung Galaxy J4+ and worked just fine on it. When trying it on a Redmi Note 9 Pro I get the same error: "cleartext communication to...".

No SSL on the server as far as I know. The server is hosted at work so I do not know much about it.

[2020-11-21 13:45] devZer0 opened #2665 "server/workspace url gone after auth-token timeout/reset - please improve ui"
hello,

we are using wechange, which is a community platforum with rocketchat as messaging tool.

from time to time, people get disconnected from the rocketchat mobile app and need to re-enter the workspace url.

it's hard enough to get them to use wechange/rocketchat and we are having a hard time to get people to use rocketchat - so imho, it's absolutely damaging for communities , if it's not tri

[2020-11-21 17:41] b90g opened #2666 "Mobile version doesnt recognize backslash escaping"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.12.1.317
- Device Name: iPhone SE (1stgen)
- OS Version: 14.2

### Steps to reproduce:

When escaping star (*) and other signs with a backslash  (`\*`) the star will be  displayed including the backslash in the mobile version, while the Browser just displays the star.

### Expected beha

[2020-11-21 19:04] diegolmello commented on #2662
This is the correct behavior.
We're following Google recommendation of disallowing insecure connections.

[2020-11-21 19:04] #2662 closed

[2020-11-21 19:06] diegolmello commented on #2665
Follow the issue template with proper version and reproducible descriptions.
We fixed this a while ago and we need to make sure we're talking about the same thing or if it's an edge case.
Thank you.

[2020-11-22 17:49] jsalatiel commented on #2084
I face the same problem. No idea how to reproduce anyways. Several users show as online in the mobile app while they are offline. ( Desktop and web version display the correct status )

[2020-11-22 17:53] jsalatiel commented on #2084
But one thing that I noticed is that If I force stop the app, it will update on the next run.

[2020-11-22 18:39] 1rV1N-git commented on #2174
@djorkaeffalexandre can you fix this issue?

[2020-11-22 22:53] devZer0 commented on #2665
after reset, it looks like this:

<img width="281" alt="grafik" src="https://user-images.githubusercontent.com/3506105/99919424-aaeea480-2d1d-11eb-9c3f-443df5b82ccc.png">
<img width="280" alt="grafik" src="https://user-images.githubusercontent.com/3506105/99919429-b215b280-2d1d-11eb-9b94-bc7f5a1fb4ed.png">

it's absolutely NOT obvious to any end-user that you need to click into workspace url input

[2020-11-23 00:17] wellemut commented on #2665
Why does this app throw me out anyway?? WhatsApp/Telegramm never log me out.
Its so unnessesary. If people feel more secure, if they get logged out after a while, they should get an option to activate it, but by default it stops those users, who feel afraid of apps and password anyway...

[2020-11-23 12:11] diegolmello commented on #2665
@devZer0 @wellemut There's a setting on the admin panel under "Accounts" to set session length.
![image](https://user-images.githubusercontent.com/804994/99960405-70abf400-2d6b-11eb-9b1e-cc878b610e32.png)
All users tokens are expired after that and it's pretty common for admins to set it to 1~2 days.

Can you take a look if that's the case?
Even if that's the case, the app should redirect you to t

[2020-11-23 13:17] jhjacobs81 opened #2667 "Rocket.Chat status depends on first opened client?"
so, some of our users noticed something "odd"

When they open the client on their mobile phone, and then on their desktop, their status gets set to "Away" when they quit the mobile app. even though the desktop app is still open.

When they open the desktop app first nothing happens when they open and close the mobile app.

Is there a way to make the status "dependable" on the last opened client?

[2020-11-23 16:28] devZer0 commented on #2665
yes, i know that you can set this at server level, but i have no influence on the rocket server settings.

i only see that the community i'm in does not accept rocketchat as communications tool.

they switch to telegram and all sorts of other group messengers, so i think it's important to be sensitive and to fix "every spoke put in the wheels" of average end-users.

you mean at token expiration i

[2020-11-23 17:10] diegolmello commented on #2665
Yes. If everything works correctly, the app should still log you out and redirect you to the server correct server, so you can enter your credentials again.
That's why it might be a bug.

[2020-11-23 17:27] devZer0 commented on #2665
ok, thanks.

why is it needed to re-enter credentials? thats totally unfavourable on a mobile device

[2020-11-23 17:30] diegolmello commented on #2665
If the admin asks for it, there's nothing we can do.

[2020-11-24 08:47] ankar84 opened #2669 "[Bug][Jitsi][Android] No one hears the user of Rocket.Chat in Jitsi call with third-party recording application installed"
### Description:

I have a few users of my RC server owners of Xiaomi Mi A1 and they all complaining same issue - no one can hear them when they in Jitsi call.
We did try 4.7 whitelabel verion and 4.12.1 play market version - all same, no luck

### Environment Information:

- Rocket.Chat Server Version: 4.12.1
- Rocket.Chat App Version:3.7.1
- Device Name: Xiaomi Mi A1
- OS Version: Android 9

###

[2020-11-24 13:30] bart11064 commented on #2174
Having the same issue here, and interested in getting it working in the mobile app.

[2020-11-24 13:42] djorkaeffalexandre commented on #2669
@ankar84 I've tested this with a Xiaomi Readmi note 9 and can't reproduce the same behavior, can you try to see if the users have permitted the access to microphone and try to reinstall the app?
Thanks.

[2020-11-24 14:24] Alexdc-12 commented on #2665
Is the user recieving a message that they have been logged out and need to log back in?

[2020-11-25 04:57] ankar84 commented on #2669
Hi, @djorkaeffalexandre
Actually I can't reproduce that bug on a bunch of Android smartphones - all works just fine.
On my personal Xiaomi Mi 9 SE all works perfect.
User said, that all permissions are granted and he did a reinstall of applications with no luck.

Can some other applications cause that problem? Like [CallU](https://play.google.com/store/apps/details?id=com.smsrobot.callu&gl=US) whi

[2020-11-25 05:29] ankar84 commented on #2545
Fix in https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2644

[2020-11-25 06:08] ankar84 commented on #2505
@djorkaeffalexandre @imrishabh18 @diegolmello Hello, guys!
Can fix for that issue be included in 4.13 version?

[2020-11-25 06:11] ankar84 commented on #2410
Works perfect in 4.12.1
Thanks @djorkaeffalexandre and @diegolmello

[2020-11-25 06:17] ankar84 commented on #1442
I will reopen it if see that bug in recent chats in recent versions of application.

[2020-11-25 06:17] #1442 closed

[2020-11-25 07:20] David-Tsui commented on #2634
Have you try version 4.12.1?

[2020-11-25 10:58] ankar84 commented on #2669
Yeap, just test it on my Mi 9 SE - when start recording in CallU - no one can hear me anymore.
User said, that all other applications like WhatApp, Telegram and Skype works fine with that call recorder app.
It would be great if RC will compatible with that.
But anyway, now we know the root cause of that problem, and it's not in RC or Jitsi. It incompatibility between Jitsi and CallU.

[2020-11-25 11:04] djorkaeffalexandre commented on #2669
@ankar84, does the Jitsi App also have this incompatibility?
If so, can you open a problem in the Jitsi repository? So, when it is fixed, we just update the SDK and that's it.

[2020-11-25 11:07] ankar84 commented on #2669
Actually, I didn't test that. It could be Jitsi or CallU issue. I don't think it really important, so I just advice user to delete that application to use rc and Jitsi in it.
You can close that issue

[2020-11-25 15:24] falconws commented on #2576
@diegolmello When is release Google Play Store?
You said next week, but now 20 days ago....

[2020-11-25 16:05] diegolmello commented on #2576
@falconws The fix is working, but [React Native 0.64.0 is not released yet](https://github.com/react-native-community/releases/blob/master/CHANGELOG.md).
This fix uses a feature that is unavailable on the current version of Hermes (which is attached to RN64).
The community just released 0.64.0-rc.1, so maybe there's still some time to make it, but I can't promise.
If you can't wait, you can follow

[2020-11-26 07:50] ankar84 opened #2673 "[Bug] Retention policy breaks sorting by activity by prune chat messages"
### Description:

We implemented Rocket Chat Retention Policy in our deployment and now have an issue with sorting by activity on mobile client, web version works good.
As I get - prune messages process updates chats timestamps and it gets upper in Chat List sorted by activity. But in fact, there is no new messages in that chats and they shouldn't appear on top in sort by activity.
I think web ver

[2020-11-26 12:38] progressify opened #2674 "Why react-native-notifications is still 2.1.7?"
### Description:

Today I tried to customize some push notifications logic but I see react-native-notifications is still an old version.
Is there a particular reason?

### Environment Information:

- Rocket.Chat Server Version: latest 3.8
- Rocket.Chat App Version: latest 4.12
- Device Name: pixel 2xl
- OS Version: android 11

[2020-11-26 13:07] diegolmello commented on #2674
Hey, @progressify.
We tried upgrading sometime ago, but they were still working on v3 and there're lots of breaking changes.
In the meantime, we worked on lots of features that required a ton of work from our side, like e2e encryption.
Hopefully, we will find some time to work do it on the next months, but that's not a priority since push notifications are working as expected.
Are you willing to c

[2020-11-26 14:48] progressify commented on #2674
I don't know if I have enough experience with ReactNative for contributions to this work.
I gave a quick look at the code dependencies of the push notifications in the project.
If you or someone of the community can give me a quick panoramic of the operation that I must to accomplish I can give a try.

[2020-11-26 15:51] diegolmello commented on #2674
hmmm it's not going to work.
They changed a lot of things there and we have to do it carefully, but thank you.

[2020-11-26 15:56] progressify commented on #2674
sorry
I must close this issue?

[2020-11-26 15:58] #2674 closed

[2020-11-26 15:58] diegolmello commented on #2674
Np, I did it.
Thanks.

[2020-11-27 16:50] pritamye77 commented on #2634
Yes

[2020-11-27 17:16] pritamye77 commented on #2634
Not yet...I have to check

Thanks

[2020-11-29 01:34] jsalatiel commented on #2084
@diegolmello is there anything I can do or logs that I can collect to help debugging this?

[2020-11-30 01:19] xlinuxmanx commented on #2533
I have this issue as well. I have tried older versions of the Android app as well and it simply does not login. I left the logs open while logging into the mobile app and it shows this post message when i press "Login"

`I20201130-01:13:26.030(0) API ➔ debug POST: /api/v1/login`

I will then spam the Login button until i finally get the error "Your credentials were rejected! Please try again"

And

[2020-11-30 11:53] diegolmello commented on #2084
If you can record a video, it'd help us.
I still can't reproduce it.

[2020-11-30 11:59] diegolmello commented on #2533
@xlinuxmanx If you spam requests, the server will always respond with `Too many requests`.

They are the same. `method.callAnon/*` is a helper to make DDP calls to be ran using HTTP protocol.

I have Android 10 here and it's working.
If you can debug the app on your device, it's going to help us a lot.

[2020-11-30 13:17] neurolabs commented on #2533
@diegolmello see above comments from @haxpak and myself for debugging output.

[2020-11-30 13:19] Cyril-marceau opened #2681 "stable single-server"
Hello,

I'd like to download the latest stable single-server version of Rocket.Chat.ReactNative.

Thanks

[2020-11-30 13:19] diegolmello commented on #2533
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2533#issuecomment-716492861

[2020-11-30 13:28] neurolabs commented on #2533
I see the error, I can debug. I tried, did not get any errors. Feel free to tell me what to do in order to help you.

[2020-11-30 13:33] diegolmello commented on #2533
Can you reach me at https://open.rocket.chat?
I can't think on anything else than a quick call.
Thanks.

[2020-11-30 14:13] neurolabs commented on #2533
@diegolmello and me agreed that I will try to drill down on this with a `git bisect`, because it had been working on my phone in the past. This might take me a couple of days/weeks.

[2020-11-30 15:18] Cyril-marceau commented on #2681
Hi @diegolmello,

Thanks for your answer.

We have read this documentation. This doc specify that we should use the single-server branch to build a white label app.

But the single-server branch seem's to be a dev branch, not a stable one.

We have clone differents commits from this branch to test if one work.
Is there sometime in this branch that mark the good commit to use (such a tag or ...)  ?

[2020-11-30 15:54] diegolmello commented on #2681
`single-server` always points to latest stable release.
For example, right now it's pointing to 4.12.1.

[2020-11-30 17:00] #1711 closed

[2020-11-30 18:27] yash-rajpal commented on #2629
I can do this and make another pull request, can you please elaborate on all the changes to be done?
I see the current Pull request needs some changes.
Thanks.

[2020-11-30 19:22] MJPGPleasant opened #2682 "Android Client does not support Self-Signed Certificates"
### Description:

Android version of Rocket.Chat does not allaw you to accept Self signed or otherwise invalid certificates.

### Environment Information:

- Rocket.Chat Server Version: 3.8.0
- Rocket.Chat App Version: 4.12.1
- Device Name: Samsung J3 (2016)
- OS Version: 7.1.1

### Steps to reproduce:

1. Configure a Rocket.Chat server using a self-signed certificate as per published Rocket.Chat

[2020-11-30 19:56] diegolmello commented on #2629
@rogerioo are you going to do the requested changes?

[2020-11-30 20:00] #2545 closed

[2020-11-30 20:43] MJPGPleasant commented on #2682
I have successfully installed the certificate, but am having difficulties completing the trust.  RocketChat now shows:

Oops!

Hostname <fqdn> not verified:
     certificate: sha256/<certhash>
     DN: <Dn text>
    subjectAltNames: []

Let me know if you can supply any more hints as to how to go about installing the certificate.

[2020-11-30 20:43] rogerioo commented on #2629
@diegolmello yes, I will! I'm just in a rush with the end of semester in my University. By the weekend I believe I'd have finished!

[2020-11-30 20:47] yash-rajpal commented on #2629
@rogerioo Okay, Goodluck with the end of semester exams. I will try to fix some other beginner level issues.

[2020-11-30 20:49] rogerioo commented on #2629
Thanks @yash-rajpal !

[2020-11-30 20:49] diegolmello commented on #2682
@MJPGPleasant On my Android, I have to search for `security certificates` on Settings and check for `User` certificates.
It was disabled.
There're a couple of tutorials on Google telling how to do it.
I couldn't find a good one.
Let me know if it worked.

[2020-11-30 21:02] MJPGPleasant commented on #2682
@diegolmello I have the certificate listed under `View security certificates` > `user` But see no way to enable or disable. Not sure if this is a limitation of the phone or the version of Android I am using.

I would like to see if I could get this working, but at this point the requirements are quickly surpassing what we can expect our end clients to do to set up their own devices.

Thanks for th

[2020-11-30 21:05] diegolmello commented on #2682
To check if the certificate is working, try accessing your server on your device's browser.

[2020-11-30 21:14] MJPGPleasant commented on #2682
Chrome browser has an alert (!) in the address bar, but otherwise allows me through to the site with no additional prompts or other pages before the main site. Not sure if this is because I have previously accepted the certificate in this browser.

The Samsung Browser brings up a standard `Your connection is not private` page, with you having to go to `Advanced` > 'Proceed to <server>` to advance

[2020-11-30 21:21] diegolmello commented on #2682
@MJPGPleasant yeah, that's a sign showing the certificate isn't installed (working).
Browsers let you access insecure websites normally, but tell you if it's encrypted or not.
Mobile apps following security best practices like ours, only accept secure connections.
That's why your server isn't working.

[2020-11-30 21:31] xlinuxmanx commented on #2533
Hey everyone. I was able to fix my issue with Apache. in my case, the issue was that i forgot to enable one of the PHP modules called "proxy_wstunnel". After i enabled that module and restarted Apache, i was able to connect with the mobile app.

So just make sure, if you're using apache for reverse proxy, that you have ran all of these commands:
[code]

[2020-11-30 21:42] MJPGPleasant commented on #2682
Agreed - The certificate is installed (changing the RC error from `Trust anchor for certification path not found` to `Hostname not verified` However the certificate is still not being trusted by Android, either because of configuration of the cert or the target phone.

I will do some more digging through the Android forums to see if I can find anything. In the meantime if you have any guesses let

[2020-12-01 06:47] DimmoK commented on #2591
Hello, maybe it is my problem too
[Google Play - user's comment](https://play.google.com/store/apps/details?id=chat.rocket.android&reviewId=gp%3AAOqpTOGVkeGVGupI2VQMg-lRYR0Ky2L2shzr5ih-HEicOet7299lF4kQDaySa1EdK_GVfDUEK5fqxtw4b8jcEw)

[2020-12-01 09:12] bart11064 opened #2684 "Button on message attachment not showing"
### Description:

As suggested [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2174#issuecomment-726104228), I'm opening a new issue.
When sending a message using API, button described in attachments doesn't display on mobile app (works well on web version).

API endpoint : `http://localhost:3000/api/v1/chat.sendMessage`
JSON content :
[code]

### Environment Information:

- Ro

[2020-12-01 11:58] #2633 closed

[2020-12-01 17:30] #2258 closed

[2020-12-01 19:26] #1689 closed

[2020-12-01 20:19] #2160 closed

[2020-12-02 16:13] MikolajKakol commented on #2591
I have the same problem. Our rocket chat is under VPN. Do I really need to add a certificate to my device? Shouldn't I be able to say go with that certificate, I'm fine with it, as I can in browser?

[2020-12-02 16:29] djorkaeffalexandre commented on #2663
Closed by #2664.

[2020-12-02 16:29] #2663 closed

[2020-12-02 16:38] djorkaeffalexandre commented on #2594
This was a problem related to RTL languages fixed by #2656.

[2020-12-02 16:38] #2594 closed

[2020-12-02 20:24] yash-rajpal commented on #2174
I would be glad to take up this issue, can anyone please brief me what has to be done here?

[2020-12-02 20:25] yash-rajpal commented on #2684
I would be glad to take up this issue, can anyone please brief me on what has to be done here?

[2020-12-03 11:09] diegolmello commented on #2684
@yash-rajpal You have to send a message and display a button like mentioned [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2174#issuecomment-726334810)

[2020-12-03 12:17] djorkaeffalexandre commented on #2660
Hey @zdumitru I can't reproduce it here, can you try to see if it's fixed?
Else you can reopen the issue, thanks..

[2020-12-03 12:17] #2660 closed

[2020-12-03 12:55] djorkaeffalexandre commented on #2387
It was implemented by #2567.

[2020-12-03 12:55] #2387 closed

[2020-12-04 06:43] ankar84 commented on #2286
Just tested 4.12.1 with **Block Unauthenticated Access to Avatars** enabled and saw users avatars.
So, I think that issue is resolved!
Thank you!

[2020-12-04 09:11] sumukhah commented on #2620
I am working on the issue.
One thing I have noticed is that
<b>There is no option to change the language before authentication</b>.
 A user has to authenticate first, then she can change the language through the settings option.
@phriedrich @diegolmello
I have included the strings to the I18n translations and added them to locales/en.json. Do i need to add translations of the strings manually to o

[2020-12-04 11:33] diegolmello commented on #2620
Only add translations to the languages you're fluent at.

[2020-12-04 12:20] phriedrich commented on #2620
Thanks @sumukhah

When it's in the develop branch, I'll add the German translation.

[2020-12-04 13:01] markusstoll commented on #2653
I do observe it even more strange: I do get search results presented duplicate - one with real name and one with user name field.

[2020-12-04 16:53] Sys-Admin889 opened #2691 "The official mobile application not working on Android devices"
### Description:

Rocketchat mobile App does not work on Android devices
Once installing the App and open it, just white window appear and the App not opened correctly.

### Environment Information:

- Rocket.Chat Server Version: 3.8.2
- Rocket.Chat App Version: 4.12.1
- Device Name: Oppo, Huawei, Samsung
- OS Version: All versions

### Steps to reproduce:

Waiting for resolving the problem from v

[2020-12-04 17:55] Sys-Admin889 commented on #2691
Thanks, it seams that the problem was the default language is RTL.

[2020-12-04 17:57] #2691 closed

[2020-12-04 21:07] MJPGPleasant commented on #2682
Upon further investigation there was other un-set parameters in the self-signed certificate that Android requires. We have decided to get a properly secured Cert from a CA to eliminate this and other workarounds required for Self Signed Certs vs investigating this further.

[2020-12-06 11:29] NicoHaase opened #2692 "[Bug] "Sort by activity" not working on iOS"
### Description:

I've configured my RocketChat clients to sort the channel / user list by activity. In the apps on Ubuntu and MacOS, this works pretty fine (such that the channels and users with most recent activity are listed on top), but on iOS, this does not work: some channels with recent activity are shown where they should be shown, but some are listed at positions I do not understand. For

[2020-12-06 11:31] NicoHaase commented on #2692
![screenshot macos](https://user-images.githubusercontent.com/1069028/101278936-f6459000-37be-11eb-97c0-228bf2e43628.png)

[2020-12-06 11:32] djorkaeffalexandre commented on #2692
Hey @NicoHaase do you know if it can be related to messages inside threads?
Check if the latest message on channels that are on wrong position are inside threads.
If yes, it was fixed by #2688.
Thanks in advance.

[2020-12-06 11:37] NicoHaase commented on #2692
Hu @djorkaeffalexandre, thanks for your quick answer! Can you explain further what that fix is about?

To clarify my problem: I've attached two screenshots, and as you can see, the channel starting with "#koe" is missing on iPhone. That's a channel with pretty high activity (nearly daily), and on the iPhone, it's listed below a user I last wrote with a year ago. I would assume that in the last yea

[2020-12-06 11:43] djorkaeffalexandre commented on #2692
@NicoHaase this fix was about some channels that doesn't goes to the right position on chats order when they have a new message inside a thread.
With the fix we're checking for the max date between the `lastMessage.timestamp` and the `roomUpdatedAt`, what is generating the same order of the web client.
You can try these steps:
[code]
If this is the error that you're talking about, so, it will be f

[2020-12-06 11:53] Dharm3438 commented on #2653
I would be glad to take up this issue, can anyone please brief me on what has to be done here? Thanks.

[2020-12-06 12:27] NicoHaase commented on #2692
I don't think that this is the same problem - I've scanned through that channel in question, and I've found numerous answers in threads within the last two months. So, if the problem you have fixed is the same as mine, I would have expected this channel to be sorted somewhere between the other channels with activity within the last two months. But it's not, it's listed after a conversation that is

[2020-12-07 09:50] toshanmugaraj opened #2693 "[BUG] JITSI access token not generated from mobile when making calls."
### Description:

When `JWT auth` is enabled in JITSI call settings of Rocket chat server, and user tries to call from android to iOS user .
The iOS user is prompted with `username \ password` screen to join the call.

### Environment Information:

- Rocket.Chat Server Version: 3.9.0
- Rocket.Chat App Version:  4.12.1
- Device Name: iPhone 11
- OS Version: 14.2

### Steps to reproduce:

1.  Rocket

[2020-12-07 11:59] djorkaeffalexandre commented on #2693
Hey @toshanmugaraj, can you open a PR fixing the problem?
It's just this import line
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/sagas/deepLinking.js#L18
We shouldn't import `callJitsi` directly from `/lib/methods`.
We should use `RocketChat.callJitsi` here
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/sagas/deepLinking.js#L57

[2020-12-07 12:16] sumukhah commented on #2693
Can i work on this? @toshanmugaraj @djorkaeffalexandre ?

[2020-12-07 12:19] djorkaeffalexandre commented on #2693
@sumukhah go ahead

[2020-12-07 12:19] diegolmello commented on #2692
Hey, @NicoHaase.
Thanks for opening this issue.
We're going to release a beta next week containing the fix @djorkaeffalexandre mentioned.
If you happen to narrow it down and find a reproducible case this week, let us know and we'll try to fix it and release on the same beta.
Otherwise, let's test it on beta and check if it's fixed.

[2020-12-07 12:35] yash-rajpal commented on #2684
@bart11064 Can you help me locate the setting for Enabling this in the admin panel. Admin panel contains tons of settings and I am not able to locate this particular setting. I turned on Allow Message Snippeting in the Message section, but this feature didn't work for me in the development server on localhost website.

[2020-12-07 16:49] mirabilos opened #2695 "blue circled number next to channel that doesn’t go away"
I see, next to a channel, a blue circle with the number 1 next to it that doesn’t go away even if I read the messages in the channel. The time-of-day (which for some unknown reason uses US-American format) is also blue. When I go into the channel, the speech bubble icon on top-right also has this number.

### Description:

I have no idea what this means. Documentation is silent about this.

### En

[2020-12-07 16:58] diegolmello commented on #2695
This is an issue we've been working to fix.
Those blue indicators are there when chats are unread (but they aren't really).
Can you tell us the steps you did to reproduce it?

Workaround for you: Open sidebar, Settings > Clear local server cache.

[2020-12-07 17:08] mirabilos commented on #2695
Diego Mello dixit:

I figured so, but they’re staying.

Unfortunately not.

I think I had two earlier, but the other went away when I
read the things in the channel.

Hmm, it’s still there afterwards once things have loaded again.

So perhaps it’s a genuinely unread message I cannot figure out
how to find in order to read it?

[2020-12-07 17:10] diegolmello commented on #2695
You have a `magnifier` and  a `threads` icon on top right.
Tap on threads one and check if there's any unread conversation.

[2020-12-07 17:31] mirabilos commented on #2695
Diego Mello dixit:

The speech bubble?

It shows a huge list of things, basically everything
that’s in the channel, just in a different order.

[2020-12-07 19:52] dkdndes opened #2698 "Password in clear letters for rocket.chat in source code?"
Please check:
* https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/13985cf724fa145f6ffc9b452c17d9ccde221da6/e2e/data/data.cloud.js#L5

* https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/13985cf724fa145f6ffc9b452c17d9ccde221da6/e2e/data.js#L5

https://www.buymeacoffee.com/dkdndes

[2020-12-07 20:04] diegolmello commented on #2698
Hey, @dkdndes.
It's just for e2e testing and it's not really an admin.
It has access to create other users, but so does any users to that server.
Thanks for you concern.

[2020-12-07 20:04] #2698 closed

[2020-12-08 04:47] ankar84 opened #2699 "[Bug][Jitsi] Users can't login Jitsi call with 20+ participants since 4.12.1 version"
### Description:

Users can not join any big Jitsi call since 4.12.1
Using `Jitsi meet` applications they can join

### Environment Information:

- Rocket.Chat Server Version: 3,7,1
- Rocket.Chat App Version: 4.13.0.21833
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 10

### Steps to reproduce:

1. Create 20+ participants Jitsi call in Google Chrome using Invite more people feature and copy

[2020-12-08 05:39] ankar84 commented on #2693
Yeah, I saw when I tap push notification about call started I was join to call as guest, without JWT authentication.

[2020-12-08 06:41] ankar84 commented on #2669
I just did a test Jitsi meet application with that CallU application and can say, that Jitsi meet mobile not involved by that issue.
CallU doesn't show on top of Jitsi Meet like it did with RCRN. So, I think Jitsi Meet mobile application have some protection against such applications like CallU.
Here is a screen of Jitsi Meet application
![image](https://user-images.githubusercontent.com/4023037/1

[2020-12-08 08:36] vova-zush opened #2700 "Error on start app on branch single-server"
Could not GET 'https://www.jitpack.io/org/jitsi/react/jitsi-meet-sdk/2.10.2-rc/jitsi-meet-sdk-2.10.2-rc.pom'. Received status code 401 from server: Unauthorized

[2020-12-08 08:54] bart11064 commented on #2684
@yash-rajpal thanks for your help.
There is no option in the option panel on my knowledge.
This display existed in the previous app, here is a link to the wiki : https://github.com/WideChat/Rocket.Chat.Android/wiki/Phased-approach-to-rich-message-support ans the android PR : https://github.com/RocketChat/Rocket.Chat.Android/pull/1557
It disapeared with the react version.

[2020-12-08 10:16] toshanmugaraj commented on #2693
@djorkaeffalexandre @sumukhah Have tested the fix now JWT based authentication is working !!

[2020-12-08 11:22] diegolmello commented on #2700
It was changed recently on this PR https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2687
Can you follow the changes?

[2020-12-08 15:56] yash-rajpal commented on #2684
@bart11064 Thanks for the Information. Can you please ping me at [rocket chat](https://open.rocket.chat/direct/yash_rajpal) for further assistance?

[2020-12-09 09:16] b90g commented on #2284
iOS 14.2
App: 4.12.1.317
Server: 3.9.1

Setup on my Account is the _Timebased_ Passwords  with SAML.
Sends me back to SAML Startpage after shortly flashing me the 2fa dialog.
Can provide video on request.

Want a new issue?( sounds like the same to me.)

[2020-12-09 11:39] diegolmello commented on #2284
@b90g yeah, please create a new issue.
The focus of this one is FIDO actually.
Thanks.

[2020-12-09 13:01] b90g opened #2703 "SSO doesnt appear to Work with 2FA (TOTP)"
### Description:
Same as mentioned here #2284 but with time based codes.

### Environment Information:

- Rocket.Chat Server Version: 3.9.1
- Rocket.Chat App Version: 4.12.1.317
- Device Name: iphone
- OS Version: 14.2

### Steps to reproduce:

1. In browser: have a SAML Account at the server and activate 2FA (in this case TOTP)
2. on Phone: try to log in
2.1 SAML works,
2.2 then back to SAML... l

[2020-12-09 13:02] b90g commented on #2284
#2703 good luck with FIDO here.

[2020-12-09 13:13] diegolmello commented on #2703
Can you try on Experimental app from TestFlight?
You can join here https://testflight.apple.com/join/7I3dLCNT
It might have been fixed by https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2683 already.

[2020-12-10 10:28] b90g commented on #2703
unfortunatly i have no capacity, but will check with next release.

will close and reopen if #2683 wasnt the fix.

[2020-12-11 08:33] pratyaksh123 commented on #2666
Hey, I'd like to work on this. Can you explain how escaping is done on the web app, I'm not able to escape characters on the web app as well ( backslash is also getting displayed ).

[2020-12-11 08:50] pratyaksh123 commented on #2578
Hey, I would like to Work on this!

[2020-12-11 11:31] diegolmello commented on #2666
@b90g it might be based on the markdown settings from admin panel. Can you share with us?

[2020-12-11 11:33] diegolmello commented on #2578
Awesome. Go for it.

[2020-12-11 12:05] adityarajsinghvi commented on #752
@diegolmello  can you please explain it in more detail?

[2020-12-11 12:09] diegolmello commented on #752
@adityarajsinghvi Configure Custom Fields on two different servers and go to User Info.

[2020-12-11 12:15] adityarajsinghvi commented on #1260
@diegolmello  i can work on this if it's still a open issue and no one is working on it?

[2020-12-11 17:24] metal3d opened #2706 "Some mobile hasn't any notification, error is that we need android_channel_id"
### Description:

Android 8+ version don't have some notifications

### Environment Information:

- Rocket.Chat Server Version: 3.6.1
- Rocket.Chat App Version: built by ourself (4.12.0.103)

### Steps to reproduce:

Wait for notification on Android devices...

### Expected behavior:

Having notifications

### Actual behavior:

Server logs says:

[code]

### Additional context:

We build our own R

[2020-12-11 23:15] b90g commented on #2666
mostly i have no access to the admin settings. i am just a support clerk  trying to send issues when the amount of certainty is big enough.

if there is a markdown add-on for rocketchat i can asked if it is enabled.

when i write `test*ing while test*ing` inside rocketchat (via Browser) i get a cursive  `ing while test`

if i write  `test\*ing while test\*ing` i will get  `test*ing while test*ing`

[2020-12-12 01:43] jsalatiel commented on #2084
Record a video is more complicated for me. I will try help with debug data.

[2020-12-12 16:29] toshanmugaraj commented on #2706
@metal3d  Try clearing the mobile cache, and then logout. Now login again to get notification.

[2020-12-13 21:15] pratyaksh123 commented on #2578
I have implemented this feature, but I am not able to commit my changes because of a failed pre-commit hook.

[2020-12-13 21:25] pratyaksh123 commented on #190
@diegolmello Do we still need to add prettier? Maybe I can help close this issue.

[2020-12-14 07:07] joe733 opened #2711 "[Feature] Ability to hide (channel & dm) avatar on mobile apps"
### Description:

Well, I guess the heading speaks for itself.

### Environment Information:

- Rocket.Chat Server Version: 3.9.1
- Rocket.Chat App Version: 4.12.1.2143
- Device Name: itelA46 L5503
- OS Version: android 9

[2020-12-14 08:17] b90g commented on #2666
lmk if translation is need for german settings panel

![Clipboard - 14  Dezember 2020 09 14](https://user-images.githubusercontent.com/63392812/102056742-18f22d00-3ded-11eb-8747-e04808c21126.png)

[2020-12-14 08:29] ankar84 commented on #2673
That that appears only in mobile version and not in Web or Desktop version, so as a workaround now I hide that old chats with **Swipe left - Hide**.

[2020-12-14 12:07] diegolmello commented on #2578
@pratyaksh123 this is our pre-commit hook https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/package.json#L16

You can run locally in order to check what's wrong with your changes.

[2020-12-14 12:56] pratyaksh123 commented on #2578
This needs to be tested on iOS devices ( unfortunately I don't have a mac ), I have tested on android and it works.

[2020-12-14 13:35] diegolmello commented on #190
@pratyaksh123 Thank you, but we need to do it internally and prevent conflicts.

[2020-12-14 19:14] pratyaksh123 commented on #2711
But you can already do that right? From Profile-> Avatar

[2020-12-14 19:32] pratyaksh123 commented on #2650
That is the same behaviour on web app too, Could you please clarify a bit more

[2020-12-15 01:02] joe733 commented on #2711
![WhatsApp Image 2020-12-14 at 12 17 37](https://user-images.githubusercontent.com/38415384/102154191-e274ea80-3e9e-11eb-8b86-d3434c6e34df.jpeg)

@pratyaksh123, I want those `D`, `A` etc. to be hidden with only `#default` or `#announcements` being shown. I don't this that's possible yet.

[2020-12-15 04:17] granttoday opened #2713 "RocketChatRN-Swift.h file not found"
### Description:

I'm building the app following the Whitelabel guide and I get this error:

![image](https://user-images.githubusercontent.com/46821216/102170476-b97a3880-3e51-11eb-9746-a7df483e2158.png)

### Environment Information:

- Rocket.Chat Server Version: N/A
- Rocket.Chat App Version: single-server
- Device Name: N/A
- OS Version: N/A

### Steps to reproduce:

1. Follow whitelabel guid

[2020-12-15 11:25] diegolmello commented on #2711
@joe733 That should be a setting on the server.
Can you add this feature request there? https://github.com/RocketChat/feature-requests
In order to hide the avatars, we need to redesign all layouts properly instead of showing an empty space.

[2020-12-15 11:25] #2711 closed

[2020-12-15 11:29] jacotec commented on #2586
@gabriellsh I just want to kindly ask if there is any fix at the horizon? ;-)

[2020-12-16 17:05] GustavoEdinger commented on #2713
+1

[2020-12-16 18:08] diegolmello commented on #2713
That file is auto-generated by Xcode.
Check if this is correct for you.
![image](https://user-images.githubusercontent.com/804994/102388348-61a61380-3fb0-11eb-8b45-3ff459ae8836.png)

[2020-12-16 18:37] granttoday commented on #2713
it defaulted to `$(SWIFT_MODULE_NAME)-Swift.h` which used my app's name + Swift.h, by changing it to RocketChatRN-Swift.h it successfully built

[2020-12-16 18:41] granttoday commented on #2713
It builds, but react errors with

[code]

Is this a related issue, or should I create a new issue regarding this

[2020-12-16 18:49] diegolmello commented on #2713
It's not really an issue.
Whitelabel docs are dedicated to intermediate devs, who'd be able follow it without any error.
These are questions for StackOverflow.
You most probably changed the app name and Xcode updated this value somewhere else.

[2020-12-16 19:09] granttoday commented on #2713
ok thanks anyway!

[2020-12-16 19:09] #2713 closed

[2020-12-16 19:12] diegolmello commented on #2713
Let us know on the comments what's your fix.
I drafted the updated version of the docs and this error never happened btw.

[2020-12-16 20:22] yash-rajpal commented on #2653
@behemoth36 It works fine for me, I checked on release app version 4.12.1.2143 and also checked on debug mode. Please update your app and let us know.
![Screenshot_2020-12-17-01-49-48-425_chat rocket android](https://user-images.githubusercontent.com/58601732/102402221-7a431780-400a-11eb-97f1-b34ecb2a5097.jpg)

[2020-12-17 11:15] markusstoll commented on #2653
Hi, I am using latest Beta 4.13.0.22006 and its still not correct

I am search for first Name part which is uniq and should match ONE result, but I do get TWO results, one showing the real name and a second entry, showing the username.

[2020-12-17 11:21] procnedev opened #2720 "4.12.1 cannot be build"
Greetings,
I started trying RockerChat for the first time but:

- using latest Commit: there is an Error in Runtime when do Login (I can understand that latest commit could broken something)
- using 4.12.1 Release (commit 5cc0856750c24d0fabcf204c1657a6f0da62b4ca) it cannot be build because build procedure stucks in one of Gradle tasks about "playDebug" variant

I should admit that I don't understa

[2020-12-17 12:36] diegolmello commented on #2720
I didn't get what's going on and the app is on production for a while.
If you need help, you should send more info and follow our issue template.

[2020-12-17 13:04] procnedev commented on #2720
I do a Clone of repository, a "yarn" command for download all modules/packages and then build the solution using "npx react-native run-android --variant=playDebug" found in package.json file.
After few minutes the build procedure stucks in Gradle task.
This is the console log:

info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
Jetifier found 301

[2020-12-17 13:14] diegolmello commented on #2720
The error says it's a Jitsi issue.
It was fixed on `develop` branch, but not released yet.
Release is planned to happen next Monday.
Can you try that branch?

[2020-12-17 13:29] procnedev commented on #2720
I found "_fix.jitsi-notification_" branch but it generates a 4.13.xxxx version and not a 4.12.

I would like to understand why on Google Play Store I found a compiled and working 4.12.1 if the specific commit (5cc0856750c24d0fabcf204c1657a6f0da62b4ca) cannot be built successfully.

[2020-12-17 14:15] MOST2K2 opened #2721 "Current dev branch cannot build"
npx react-native run-android --variant=experimentalPlayRelease

D8: Program type already present: com.reactnativecommunity.netinfo.AmazonFireDeviceConnectivityPoller$1
com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
Learn how to resolve the issue at https://developer.android.com/studio/build/dependencies#duplicate_classes.
Program type already present: com.r

[2020-12-17 14:28] diegolmello commented on #2721
This CircleCI's workflow ran 3 days ago on develop branch:
![image](https://user-images.githubusercontent.com/804994/102500287-e9e0f300-405a-11eb-8b5d-b080e870997c.png)

Make sure everything is properly set on your env, clear your cache (`rm -rf ./android/app/build`) and try again.

[2020-12-17 14:32] MOST2K2 commented on #2721
It was a clean pull from git in a new folder. It does not work since 2 weeks! Previous version was working, I build under windows 10.

[2020-12-17 14:32] MOST2K2 commented on #2721
![image](https://user-images.githubusercontent.com/3817309/102500874-13127b00-407d-11eb-97ec-d6676269db1b.png)
dev build hangs here, release build see my first post.

[2020-12-17 14:34] diegolmello commented on #2721
I don't have a Windows and everything works as expected.
If you are a dev, please help us figuring out and open a PR, if needed.
Thank you.

[2020-12-17 14:37] MOST2K2 commented on #2721
ok i am an android dev. debug is running now. experimental release should work?

[2020-12-17 14:39] diegolmello commented on #2721
Yep.
Here's our build variants:
[code]

[2020-12-17 20:36] diegolmello commented on #2650
Hey, @amahbadi.
I'm sorry about the delay.
I've been trying to reproduce that, but I can't.
Can you give us more details and tell us if you reproduce it on https://open.rocket.chat?
Thank you.

[2020-12-18 05:38] vantudinh opened #2725 "iOS Project error when run"
error: Build input file cannot be found: '/Users/tudv/Documents/Documents - Tu’s MacBook Pro/ClickStaff/Rocket-Chat-ReactNative/node_modules/react-native/ReactCommon/yoga/yoga/log.cpp' (in target 'Yoga' from project 'Pods')

Please help me !!!

[2020-12-18 14:14] #2434 closed

[2020-12-18 14:14] diegolmello commented on #2434
Hey, this is going to be released next Monday.
I'm sorry about the delay.

[2020-12-18 20:46] C1ean opened #2727 "Jitpack is now private, build failed 401"
Recently, an error occurred while building - there is no access to the maven repository

authorization required ...

[code]

[2020-12-18 21:02] #2727 closed

[2020-12-18 21:06] C1ean commented on #2727
Found a bug in my edits.

[2020-12-18 21:15] C1ean commented on #2692
The problem still active -  in the mobile application does not coincide with the web, and it is also not correct - my messages are displayed as before, in a chaotic manner.

[2020-12-18 21:33] C1ean commented on #2721
Have the same problem when try to build release app for android via command
**./gradlew assembleRelease**

But I have no issues with launches the application in the emulator.
Repository unchanged, dev branch is latest

`> Task :app:mergeDexExperimentalPlayRelease FAILED
D8: Program type already present: com.reactnativecommunity.netinfo.AmazonFireDeviceConnectivityPoller$1
com.android.builder.dexin