[2019-05-06 09:53] sujitkaulavkar123 commented on #870
Hi @diegolmello, Yes I saw it is in `package.json` and found the`@babel/plugin-proposal-decorators` in dependencies but still I am getting this error.
   Do you have any opinion for this error.

[2019-05-07 14:28] #634 closed

[2019-05-07 17:03] djorkaeffalexandre commented on #834
Same problem.

[2019-05-07 17:22] djorkaeffalexandre commented on #834
This problem no block ```react-native run-ios```.
Run ```react-native run-ios```, this command build & run the app.

[2019-05-07 21:22] djorkaeffalexandre commented on #778
@diegolmello Count unread chats or count of unread messages?

[2019-05-07 21:29] diegolmello commented on #778
@djorkaeffalexandre The same calculation [web](https://github.com/RocketChat/Rocket.Chat) does.

[2019-05-08 17:40] diegolmello opened #881 "Better attachment components"
We need to rewrite Video and Audio components.

### Video
- It's buggy
- It could be prettier
- We could fork or contribute to https://github.com/itsnubix/react-native-video-controls

### Audio
- There's a tracking delay
- There's no seek time
- Layout is ok
- We could use our version of https://github.com/itsnubix/react-native-video-controls and rebuild it

[2019-05-10 12:13] diegolmello opened #884 "Pull to refresh on rooms list and room"
We should add pull to refresh on RoomsListView and RoomView to force an update.

#### RoomsListView:
- Pull down to refresh. Above search?
- Fetch all rooms and subs without date: `Promise.all([this.sdk.get('subscriptions.get'), this.sdk.get('rooms.get')])`
- Save new `serversDB.servers.roomsUpdatedAt = new Date()`

#### RoomView:
- Pull up to refresh. Between list and Messagebox.
- Run `loadMessa

[2019-05-10 13:34] marceloschmidt commented on #884
It should ignore any cache and reload everything as if the user is logging in again. Reload rooms, reload messages, even reload avatars.

[2019-05-10 13:43] diegolmello commented on #884
@marceloschmidt I disagree. This is a very expensive task to do in a simple pull to refresh.
What you're suggesting is something like "Clear all my local data from this server".
About avatars: react-native-fast-image don't do it yet, but here's a PR: https://github.com/DylanVann/react-native-fast-image/pull/425
If this is something we can't wait, we may want to create a fork.

[2019-05-10 15:25] djorkaeffalexandre commented on #861
Hi @giterium, What version of your iOS?

[2019-05-10 17:08] djorkaeffalexandre opened #888 "Saving an image to the album"
Save to the album doesn't works.

![](https://i.imgur.com/uHsJmOM.jpg)

[2019-05-10 17:09] #799 closed

[2019-05-12 05:51] lolimay commented on #884
I noticed that youtube, twitter and facebook's activity indicators are all below search.

Can we just simply reuse the `roomsRequest()` action when user pulls down like this?
[code]
What's the difference between `fetching all rooms and subs with updatedSince` and `fetching all rooms and subs without date`?

[2019-05-12 07:36] giterium commented on #861
12.2

[2019-05-13 01:58] djorkaeffalexandre commented on #861
Hi @giterium , can you take a screenshot or gif and put here?

[2019-05-13 06:14] giterium commented on #861
![IMG_0816](https://user-images.githubusercontent.com/16814062/57599488-8712a600-755f-11e9-9cbb-12031867580c.JPG)

[2019-05-13 07:37] giterium commented on #861
Can be manually changed to jpg to send

[2019-05-13 12:18] diegolmello commented on #884
Youtube and Twitter's search on iOS is on header, but ours is on the list.
That's why I'm not sure where's the best place.
Note: Our search is on the header on Android and on the list on iOS.

This is a query. If you request with `updatedSince` it'll do a filter.

[2019-05-14 03:22] SWKende commented on #834
I have a question.I've been stuck here too long.And i found “yarn config delete proxy” try to resolve,but Its not worked for me :(
![image](https://user-images.githubusercontent.com/24774398/57668477-0aa0c580-763a-11e9-92c4-977a2a9c0023.png)

[2019-05-14 04:38] AnBo83 opened #893 "APP force close on editing LDAP-User's Messages"
- Your Rocket.Chat Experimental app version: 1.13.0
- Your Rocket.Chat server version: 1.0.3
- Device (or Simulator) you're running with: Samasung Galaxy S9+

The app will close when you long press messages from LDAP users to edit them.
For messages from other users, the menu appears as desired.

[2019-05-14 11:58] RegisteredPornActor opened #894 "[button request] delete direct message room"
Could someone add a delete button to delete direct message room :( ...

[2019-05-15 18:28] diegolmello opened #897 "[NEW] Share channel"
Similar to "Share message", it must open OS context menu with the same channel link from the web.
The button exists, but is disabled on RoomActionsView.

For example: https://open.rocket.chat/channel/general

[2019-05-15 19:27] #884 closed

[2019-05-15 19:33] #836 closed

[2019-05-15 19:48] diegolmello opened #899 "Switch to react-native-localize"
react-native-i18n is [deprecated](https://github.com/AlexanderZaytsev/react-native-i18n#%EF%B8%8F-this-package-is-deprecated) and we need to switch to the [recommended lib from RN community](https://github.com/react-native-community/react-native-localize)

[2019-05-16 13:40] #701 closed

[2019-05-16 15:10] IlarionHalushka commented on #840
can't reproduce, so closing it.

[2019-05-16 15:10] #840 closed

[2019-05-16 17:16] pranavpandey1998official commented on #396
#803

[2019-05-16 17:16] #396 closed

[2019-05-16 17:19] pranavpandey1998official commented on #697
will be Fixed in #896

[2019-05-16 17:34] pranavpandey1998official commented on #717
No longer seems to be an issue just do steps by @real-player it will be solved

[2019-05-16 17:34] #717 closed

[2019-05-16 17:36] pranavpandey1998official commented on #695
@lienftech is this still a issue with new version can you try using http://rchat.ftech.ai as server url and then see if it works

[2019-05-16 17:38] pranavpandey1998official commented on #683
#803

[2019-05-16 17:38] #683 closed

[2019-05-16 17:49] diegolmello commented on #411
@q210 We support FCM already. Can you try again? I'll close this one.

[2019-05-16 17:49] #411 closed

[2019-05-16 17:50] #179 closed

[2019-05-16 18:00] pranavpandey1998official commented on #789
its fixed

[2019-05-16 18:00] #789 closed

[2019-05-16 18:01] #104 closed

[2019-05-16 18:13] #394 closed

[2019-05-17 02:52] #1 closed

[2019-05-17 14:18] IlarionHalushka opened #901 "[BUG] Join room button doesn't disappear"
Steps to reproduce:
1. open public room (not joined previously)
2. open room Actions
3. go back to Room View
4. click `Join room` button

Expected: button should disappear.
Actual: button stays there.

Note: after going back to Room List View and returning back to same public room - the use is joined.
Skipping step (2) and (3) and clicking `Join room` right away makes the button disappear.

Video:

[2019-05-17 21:19] TheMythPT commented on #746
The idea is the following:
1. The app should use the default set on browser and, iirc, the default is to send on Enter.
2. The option on the app would override the web settings, so basically the behaviour inside the app would differ from the browser behaviour.

[2019-05-18 00:50] djorkaeffalexandre opened #902 "[BUG] - App crash with backspace on input message."
- Your Rocket.Chat Experimental app version: 1.13.0.7547
- Device (or Simulator) you're running with: iPhone X (iOS 12.3)

**Steps to reproduce**
- Open any chat
- Press backspace
- Back to chat list

![](https://media.giphy.com/media/MFOaZjAkDl5NWW23ix/giphy.gif)

[2019-05-18 23:34] djorkaeffalexandre commented on #888
Need to use a new zoom view lib or create a component to save images and display that looks like this:

![](https://i.imgur.com/y6pKXYW.jpg)

[2019-05-19 10:34] lolimay commented on #182
Closed via [#888](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/888)

[2019-05-19 10:34] #182 closed

[2019-05-20 06:27] lolimay commented on #877
<img src="https://user-images.githubusercontent.com/32427260/58000282-e433cc00-7b0a-11e9-81d4-76d9860cd5a1.gif" height="500" />

Sorry, I can not reproduce this bug on Android 9. Did you mean opening URL with custom chrome tabs?

[2019-05-20 12:24] diegolmello commented on #877
@lolimay That's odd, but it doesn't mean it's not happening.
This is the second most recurring error on Fabric.

[2019-05-20 12:25] lolimay commented on #877
OK, I will try to reproduce it.

[2019-05-20 12:41] diegolmello commented on #746
@TheMythPT How would the user add a new line?
Do you have an example app that does it? Twitter, Facebook, etc?

[2019-05-20 13:35] diegolmello opened #903 "Improve image preview"
Currently, we're using [react-native-image-zoom-viewer](https://github.com/magicwing/react-native-image-zoom-viewer) as image viewer.
Animations are too junky and it's not well maintained.

We need to refactor and split by OS:

### iOS
iOS supports zoom by default on ScrollView. We need to wrap the image in a ScrollView and use [maximumZoomScale](https://facebook.github.io/react-native/docs/scroll

[2019-05-20 15:13] diegolmello opened #904 "[IMPROVEMENT] Add loading indicator on OAuth"
If we tap on Facebook login, for example, the webview takes a few seconds to load FB login, but shows a white screen instead of a loading indicator.

We need to add something like this to track loading state:
https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onloadprogress

[2019-05-20 15:18] diegolmello opened #905 "[BUG] Wrong user agent on OAuth"
WebView is showing weird content on OAuthView.
It seems to be introduced on #800.

[2019-05-20 16:21] pranavpandey1998official commented on #905
Mozilla/5.0 (iPhone; CPU iPhone OS 8_3 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Version/8.0 Mobile/12F70 Safari/600.1.4

[2019-05-20 17:15] TheMythPT commented on #746
Like I've said above
1. If the `Send on Enter` is enabled, there's no option to add a newline.
2. If `Send on Enter` is disabled, current behaviour is used.

[2019-05-20 17:20] diegolmello commented on #746
@TheMythPT I've tried Slack, WhatsApp, Twitter and Discord.
None of them have this behaviour.

[2019-05-20 17:49] TheMythPT commented on #746
Makes sense, although those apps are really a bit crappy without almost any possible customisation.

Check [here](https://nextcloud.cloudbnc.tk/s/wKybmY6HtFJ6SRg)

[2019-05-20 17:53] diegolmello commented on #746
@TheMythPT An example! Now we're talking :)

[2019-05-20 17:58] TheMythPT commented on #746
Usually I don't outsource my sources. I like people to think that was my idea 😋

[2019-05-20 18:12] TheMythPT commented on #746
@diegolmello also, your [WhatsApp](https://nextcloud.cloudbnc.tk/s/3wddYXocz48iAWy) must be very outdated! :stuck_out_tongue_closed_eyes:

[2019-05-20 18:19] diegolmello commented on #746
@TheMythPT My WhatsApp is updated on iOS and I don't have this feature, but it's nice to know it exists!

[2019-05-20 19:06] TheMythPT commented on #746
@diegolmello, you should already know that good stuff is just available to Android users!
😝

[2019-05-20 19:11] diegolmello commented on #784
LayoutAnimation is making iOS to blink after leaving a room.

[2019-05-20 20:43] #905 closed

[2019-05-21 17:00] diegolmello commented on #872
#896 may fix

[2019-05-23 01:33] geekgonecrazy opened #916 "Search input keeps focus"
- Your Rocket.Chat Experimental app version: latest TestFlight
- Your Rocket.Chat server version: 1.0.3
- Device (or Simulator) you're running with: iPhone XS

If you tap into search and type something but then remove the text and click into a room.  Every time you come back search is still in focus until you tap sort or something

[2019-05-23 21:40] djorkaeffalexandre opened #919 "Migrate AsyncStorage to RealmDB"
Asyncstorage complicates the code because it creates one more data access point and does not accept objects, which creates unnecessary castings, migrate all data to the realm creating a table of users and of server could improve this.

[2019-05-23 22:26] mmnaseri opened #1885 "Voice messages have no audio on phone"
- Your Rocket.Chat app version: 3.5.0 (257)
- Your Rocket.Chat server version:1.0.3
- Device (or Simulator) you're running with: iPhone XS, iPhone XS Max

First of all, thank you for making such an amazing application. The client is buttery smooth and works just great.

The only problem is that voice messages, once sent on the stream, do not have any audio playback. This is different from https://

[2019-05-23 22:32] mmnaseri commented on #251
Any updates? I'm having the exact same problem.

[2019-05-24 13:01] lolimay commented on #251
Currently Working on this :)

[2019-05-24 18:23] pranavpandey1998official opened #922 "First time you start the app after changing language , dom is rendered in old language"
- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2019-05-24 18:29] pranavpandey1998official opened #923 "Draft Message do not go away when you remove the whole message"
- Your Rocket.Chat Experimental app version: 1.14.0.8021
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

go to any channel
write something on message box
go out of channel
now go back and remove the whole saved message
go back
go to channel again the removed message comes back

[2019-05-25 19:25] Perflyst opened #926 "Add to F-Droid"
The current [Rocket.Chat.Android](https://github.com/RocketChat/Rocket.Chat.Android) got already added to the F-Droid repo.

I would also like to see this new app for RocketChat on F-Droid.

[2019-05-28 09:15] rasos commented on #904
#270

[2019-05-29 00:49] djorkaeffalexandre opened #931 "[IMPROVEMENT] Decrease delay in messages request after restart app"
- Steps to reproduce
   - Open App.
   - Turn app to background mode. (minimized)
   - Receive messages.
   - Reopen App.

After reopen app has a delay of appr. 5 seconds to refresh messages, this is bad, we need to get messages/rooms more early.

[2019-05-29 13:30] diegolmello opened #934 "[BUG] Change server issue"
Change server from servers list is making the selected server to disappear.
This is painful and makes the user to type his credentials again.

How to reproduce:
- Have two logged in servers
- Switch from one to another several times quickly

Note: this bug happens with normal usage as well

[2019-05-29 13:39] diegolmello opened #935 "[BUG] Channels from wrong server after opening notification"
Opening a notification from other server makes channels from both servers to be inserted on local database.

How to reproduce:
- Have two logged in servers
- Log in server A and minimize the app
- Receive a notification from server B and open
- Some channels from server A will appear on server B

[2019-05-29 19:03] pranavpandey1998official opened #938 "App crashes if I switch off mobile data"
- Your Rocket.Chat Experimental app version: 1.14.0.99
![WhatsApp Image 2019-05-30 at 12 32 53 AM](https://user-images.githubusercontent.com/44601530/58583822-7dcd4d00-8272-11e9-9ad1-574db4f47d81.jpeg)

[2019-05-29 19:34] diegolmello commented on #938
@pranavpandey1998official How to reproduce? It happens on production?

[2019-05-29 19:52] diegolmello commented on #923
It's just remove last condition here: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/RoomView/index.js#L230

We should add e2e tests to prevent regression.

[2019-05-29 20:38] pranavpandey1998official commented on #938
@diegolmello nope didn't crash the app on beta ..
To Reproduce
just disconnect to internet and do anything that needs internet like going to any room

[2019-05-29 20:47] diegolmello commented on #938
@pranavpandey1998official When it happen again on production, try to isolate the error and grab the log.

[2019-05-29 21:19] #897 closed

[2019-05-29 23:14] djorkaeffalexandre opened #939 "[IMPROVEMENT] - Use keychain to user access data"
Keychain provides a way to save user data (Eg. Token, CurrentServer...) more easily of that AsyncStorage and can share data between App Groups (Eg. Share Extension), in future we need to unify Access on RC Native Client and RC ReactNative Client, to make this we need use App Groups and Keychain.

https://github.com/oblador/react-native-keychain

[2019-05-30 12:29] #938 closed

[2019-05-30 12:37] pranavpandey1998official commented on #938
https://github.com/infinitered/reactotron/issues/786

[2019-05-30 17:19] #902 closed

[2019-05-30 18:23] #919 closed

[2019-05-30 18:56] #251 closed

[2019-05-31 10:23] dusatvoj opened #943 "Error sending images"
- Your Rocket.Chat Experimental app version: 1.13
- Your Rocket.Chat server version: 1.0.3
- Device (or Simulator) you're running with: Android (Redmi note 4)

Image filename recognition and sending them not working (server has disabled filetype checking)
![Screenshot_2019-05-31-12-17-49-657_chat rocket reactnative](https://user-images.githubusercontent.com/11560794/58699739-891d9700-839e-11e9-9bb

[2019-05-31 11:55] djorkaeffalexandre commented on #770
@diegolmello [PR920](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/920) closes that?

[2019-05-31 12:15] diegolmello commented on #770
@djorkaeffalexandre You're right. Good job!
Weird notation tough.
#920: hashtag is so much prettier 😂

[2019-05-31 12:15] #770 closed

[2019-05-31 14:09] diegolmello opened #944 "[BUG] Crash on message long press"

[2019-05-31 14:29] diegolmello opened #946 "[BUG] Reply preview showing the entire message"
<img src="https://user-images.githubusercontent.com/804994/58712535-21178280-8397-11e9-92fe-b2fface8aae2.png" width="350" />

It should show only the first line.

[2019-05-31 14:42] #944 closed

[2019-05-31 14:43] #946 closed

[2019-05-31 14:52] diegolmello opened #948 "[IMPROVEMENT] Open links as push instead of modal"
Currently, we're opening links as modal.
This disables swipe gesture to pop.

We should open them to the right as push instead.

[2019-05-31 15:09] #948 closed

[2019-05-31 17:13] wreiske opened #950 "Unable to select MP4 file as attachment"
- Your Rocket.Chat Experimental app version: **1.14.0.9999999999**
- Your Rocket.Chat server version: **1.1.1 , and open.rocket.chat**
- Device (or Simulator) you're running with: **SAMSUNG-SM-N920V (Android 7.0)**

![image](https://user-images.githubusercontent.com/6295044/58722524-a6a22f00-83a5-11e9-93b6-1e6e3b519ff2.png)

The upload dialog should respect the server's allowed file types.

[2019-05-31 17:17] diegolmello commented on #950
Hey, man.
Thanks for reporting.
It's not implemented yet.
I'm almost sure this PR will do the job: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/882
I'm closing this one.

[2019-05-31 17:17] #950 closed

[2019-05-31 17:28] wreiske opened #951 "Only last message showing"
- Your Rocket.Chat Experimental app version: **1.14.0.9999999999**
- Your Rocket.Chat server version:  **1.1.1 , and open.rocket.chat**
- Device (or Simulator) you're running with: **SAMSUNG-SM-N920V (Android 7.0)**

![image](https://user-images.githubusercontent.com/6295044/58722698-17e1e200-83a6-11e9-90a1-a5ea1c60368c.png)

Every room and direct message right now on my phone are only showing the

[2019-05-31 19:51] diegolmello opened #952 "[IMPROVEMENT] Use expo-web-browser"
We are using a custom native modules on Android an react-native-safari-view on iOS.
https://github.com/RocketChat/Rocket.Chat.ReactNative/tree/develop/app/utils/openLink

Expo's solution seems better and easier to maintain:
https://docs.expo.io/versions/latest/sdk/webbrowser/#webbrowseropenbrowserasyncurl

[2019-05-31 20:52] IlarionHalushka opened #953 "[BUG] Profile update is broken"
- Your Rocket.Chat Experimental app version: 1.14.0.8014
- Your Rocket.Chat server version: open.rocket.chat
- Device (or Simulator) you're running with: iPhone SE

Steps to reproduce:
1. go to Profile
2. change some inputs settings (phone, languages)
3. click save
4. relaunch app
5. go to profile again

Expected: values are displayed as changed like on step (2).
Actual: values are old, like no pr

[2019-06-01 11:02] IlarionHalushka commented on #943
Thanks for submitting a bug report.
Do you have Rocket Chat server running locally or deployed? If deployed - please give us the url.
What is your Android OS version?

[2019-06-01 11:46] dusatvoj commented on #943
Rocket server is running on https://im.blahobyty.cz. My android version is 7.0 (With xiaomi's MIUI 10.2 Global)

[2019-06-01 18:59] IlarionHalushka commented on #953
Related issue with avatar in settings: avatar changes to default after changing username field.
![ezgif com-video-to-gif (3)](https://user-images.githubusercontent.com/25078524/58752484-37692f80-84b8-11e9-8ed9-39b06d62c0ba.gif)

[2019-06-01 20:19] IlarionHalushka commented on #943
I reproduced the bug, but haven't found the root cause.
Occurs only on Android and only on your server, but doesn't occur on iOS\web.
And also ok when Android + other server 🤔

[2019-06-01 20:30] dusatvoj commented on #943
Hmm, what about filetype settings on servers? We have empty rules (for accepting everything).

[2019-06-01 20:40] IlarionHalushka commented on #943
Just tested with empty value in `Accepted Media Types` and the results are still the same...

[2019-06-01 20:41] IlarionHalushka commented on #943
can you try putting `image/*,audio/*,video/*,application/zip,application/x-rar-compressed,application/pdf,text/plain,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document` in `Accepted Media Types` input and test uploading on your phone again?

[2019-06-01 20:45] dusatvoj commented on #943
It's still broken but I will request other people on our server to test it if it's server or client issue

[2019-06-01 21:56] dusatvoj commented on #943
Btw... In stable app it's OK so it would be a client app bug

[2019-06-04 19:27] diegolmello commented on #926
@Perflyst Thanks for opening.
Sure. Let's do it!

[2019-06-05 13:39] #931 closed

[2019-06-05 16:29] #953 closed

[2019-06-05 18:09] weijia-yu commented on #923
I will take this one @diegolmello

[2019-06-05 19:11] #934 closed

[2019-06-06 17:14] weijia-yu commented on #877
any chance it is `http`? Since Android banned `http` on Android 9

[2019-06-06 17:18] weijia-yu commented on #809
@diegolmello Is this issue ready to work on ? Or we need to wait for the implementation of "Change channel's avatar" feature.

Is there an endpoint to retrieve a channel's avatar already?

[2019-06-06 17:34] diegolmello commented on #809
@weijia-yu Yep. It's available to work on. There's no endpoint so far.

[2019-06-06 20:24] weijia-yu commented on #809
@diegolmello so discussion will be created based on the channel. Instead of using discussion's first letter as the avatar, we should use the channel's avatar as the discussion avatar?

[2019-06-07 05:17] geekgonecrazy opened #966 "Can’t click channels or mentions"
- Your Rocket.Chat Experimental app version: 1.15.0
- Your Rocket.Chat server version: 1.2.0-develop (open)
- Device (or Simulator) you're running with: iOS 12 on iPhone XS

![2C591461-4951-4FE4-80B9-D0BBD5E001E9](https://user-images.githubusercontent.com/51996/59082607-94e6ed00-88b9-11e9-9106-7eecb8029d01.jpeg)

I can’t click either one of these.  Even though #general highlights I can’t seem to c

[2019-06-07 12:35] sampaiodiego opened #1087 "Remove server directly from server's list"
## Describe the bug
Current it is only possible to remove a server by logging out from it. But if the server is not available anymore (i.e.: the server has been turned off) I cannot log in into to it to log out.

## To Reproduce
1. Connect to a running server
2. Shutdown the server
3. Try remove the server from the app

## Expected behavior
A long press on the server item from server's list could

[2019-06-08 11:31] #923 closed

[2019-06-08 16:55] IlarionHalushka opened #968 "[BUG] Profile screen gets frozen when submitting invalid current password"
Steps to reproduce:
1. Go to Profile screen
2. Type new password in New Password field
3. Click Submit
4. In prompt that requires old password type invalid old password
5. Click Ok
6. Alert "There was an error while profile update" appears

Actual Result: screen gets frozen (no response for any gesture).
Expected Result: profile form can be submitted again.

![ezgif com-video-to-gif (4)](https://u

[2019-06-08 18:40] mohammed500k opened #969 "make app connect to specific Url on start up"
it will be really nice if this app be able to connect to one server as an option because many of my users get confused when the app start up its ask them to put url

[2019-06-10 13:04] Yarkhan commented on #627
Sorry for going off topic here. Apart from the Jitsi integration, what else else motivated you guys to switch from Realm to WatermelonDB? Any other benefits in mind?

Personally, I've been having quite a few problems with Realm. Slow debugging, memory leaks in dev mode and core features not being available yet to JS, among others.

[2019-06-10 16:22] #706 closed

[2019-06-10 16:23] #545 closed

[2019-06-10 16:44] weijia-yu commented on #809
I will take this

[2019-06-10 18:36] #542 closed

[2019-06-11 14:01] #803 closed

[2019-06-11 15:35] diegolmello opened #978 "[NEW] Custom fields on signup"
We need to verify if the server has `Accounts_CustomFields` setting and send them on signup.

[2019-06-11 17:13] TheMythPT opened #979 "[Feature Request] Add swipe to right to go from the room to rooms list"
Actually, we need to hit the `UP` arrow to go from the room where we are to the rooms list.
Telegram uses that feature and I think it would be a good enhancement to the app.
Check the screen record [here](https://nextcloud.cloudbnc.tk/s/nqnTgqmJJ4Mfdd8)

[2019-06-11 20:25] weijia-yu commented on #809
@diegolmello Discussion's avatar also fetches from the server from a url, https://open.rocket.chat/avatar/@test?format=png&width=50&height=50&rc_token=wNFj067SOaVCxYyNXgJTskzXUVmcHri8yqAYzhvHoA8&rc_uid=x3GuhZRdGm46JWyqt

test is a discussion I generated, and the url is from the server

[2019-06-11 20:28] weijia-yu commented on #904
I will work on this

[2019-06-11 20:59] #405 closed

[2019-06-11 20:59] #402 closed

[2019-06-11 20:59] #527 closed

[2019-06-11 21:00] #555 closed

[2019-06-12 14:15] djorkaeffalexandre opened #983 "[IMPROVEMENT] Share credentials between native and react-native client."
Use UserDefaults instead AsyncStorage on iOS to get credentials from [Rocket.Chat.iOS](https://github.com/RocketChat/Rocket.Chat.iOS).

[2019-06-12 23:25] weijia-yu commented on #729
I can take this one

[2019-06-13 17:34] marceloschmidt commented on #458
@diegolmello that's the issue I also reported on our channel :)

[2019-06-13 18:43] weijia-yu commented on #729
@diegolmello Right now, when we long press the message, it will pop up message actions, should we just add an option "Direct Message"?

[2019-06-13 18:55] diegolmello commented on #729
@weijia-yu We don't want to create DMs every time.
We should navigate to RoomInfoView and have an option there to Message.
Like this:
<img src="https://user-images.githubusercontent.com/804994/59459446-35c23480-8df3-11e9-9669-9f72b3327c88.png" width="350" />

Feel free to open two PRs instead of one:
- One just to add "Message" option to RoomInfoView
- One to navigate on username/channel press

[2019-06-13 19:58] weijia-yu commented on #729
@diegolmello
so

1. Current user room info only has an avatar and timezone, we wanna add "Message"

2. Currently, if we long press avatar in the channel message, it will detect as long press message. Instead, when we long press users in channel message, it should pop up an actions including "New Message" and "Info"?

[2019-06-13 20:12] diegolmello commented on #729
@weijia-yu

1. That's it
2. Nope. Single taps on avatar/markdown tags (`@username`/`#channel`) must navigate to RoomInfoView directly. No need for another actions sheet.

[2019-06-13 20:15] weijia-yu commented on #729
@diegolmello when will the user click channel avatar? Channel won't appear in chat message, will it? Or in room list, when you click channel avatar, it will go to room info

[2019-06-13 20:31] diegolmello commented on #729
@weijia-yu

Never on the avatar, but the channel name can appear on the message, like `#general`

Yes, and the user may tap on it.

What do you mean by `room list`? RoomsListView won't be changed.

Rules:
- The user may tap on any avatar and it should navigate to RoomInfoView
- The user may tap on any username/channel tag parsed by markdown (`@username`/`#channel`) and it should navigate to RoomIn

[2019-06-15 08:05] DonaldTsang opened #985 "[Feature Request] Compiling the app to only allow a single server"
This might sound weird, but assume that I start my own server, I would like to make the Mobile client to only access my server, or at least treat my server as "first class" such that I can distribute the compiled app binaries to my fans/users.
Is it possible to make a config file for this?

[2019-06-15 08:17] pranavpandey1998official commented on #985
We have a single server branch for this things , #972 tries to update that you can use it after it merges

[2019-06-15 08:22] DonaldTsang commented on #985
Looking good, might want to put this in ReadMe. Also is it possible to do it also on android (https://github.com/RocketChat/Rocket.Chat.Android/issues/2376), electron (https://github.com/RocketChat/Rocket.Chat.Electron/issues/1257) or even the web version?

[2019-06-15 08:23] pranavpandey1998official commented on #985
This repo uses react native so you have both Android and iOS app.. I don't know about the other repo better contact them , I will add this to the readme , as of now I am closing this

[2019-06-15 08:23] #985 closed

[2019-06-18 00:30] weijia-yu commented on #979
@diegolmello I want to work on this, I noticed it already worked on iOS, do you want to add to Android too?

[2019-06-18 06:25] lorek123 commented on #649
Slash commands are now implemented, are you going to work on this soon?

[2019-06-18 07:57] IlarionHalushka opened #988 "[BUG] Broadcast channel is not readonly"
Steps to reproduce:
1. create Broadcast channel with name `broadcast567` (which is readonly by default) and invite `user123` to this channel
2. log in as `user123`
3. search for channel `broadcast567` and open this Room View (Channel)

**Expected**: messagebox is not displayed and there is a message `This room is read only`
**Actual**: messagebox is displayed.

- Your Rocket.Chat Experimental app

[2019-06-18 11:32] diegolmello commented on #649
@lorek123 It's not planned yet.
Let me know if you want to help.

[2019-06-18 11:34] diegolmello commented on #979
@weijia-yu This is not a priority. I'll find something else for you, ok?

[2019-06-18 11:35] #935 closed

[2019-06-18 11:37] #844 closed

[2019-06-18 11:38] #753 closed

[2019-06-18 11:47] diegolmello opened #989 "[NEW] Mark message as unread"
Similar to #709, we should have an option to mark the message as unread.

You need to:
- Add "Mark as unread" option on MessageActions (fired on message long press)
- Call `subscriptions.unread` with `firstUnreadMessage._id`: https://rocket.chat/docs/developer-guides/rest-api/subscriptions/unread/
- Go to rooms list (otherwise you'll mark the rooms as read again)

[2019-06-18 11:48] diegolmello commented on #989
@weijia-yu Can you work on this?

[2019-06-18 12:29] diegolmello opened #990 "Android build fails after Play Services release"
[code]

[2019-06-18 12:40] #990 closed

[2019-06-18 17:18] weijia-yu commented on #989
@diegolmello yes

[2019-06-19 16:38] farmio opened #993 "[Feature Request] Time and Date Format"
It would be nice if the App inherited the time (12/24) and date formats from the system.

[2019-06-19 17:24] mmnaseri opened #994 "Feature request: attach files to chat"
- Your Rocket.Chat Experimental app version: 1.15.0
- Your Rocket.Chat server version: 1.0.3
- Device (or Simulator) you're running with: Pixel 3a running Android 9

In the Kotlin client, I'm able to attach files to the chat, but in the ReactNative client I can only attach photos. Choosing to attach from library restricts the file view to photos, meaning for instance that I cannot attach PDF files

[2019-06-19 18:18] diegolmello commented on #993
Dup of #817

[2019-06-19 18:18] #993 closed

[2019-06-19 18:20] diegolmello commented on #994
Dup of #713

[2019-06-19 18:20] #994 closed

[2019-06-19 18:21] diegolmello commented on #994
@mmnaseri Thanks for opening.
You can track #882

[2019-06-19 18:49] pranavpandey1998official opened #995 "app don't connect with all domains"
- we have to write explicitly http if we want to connect to a sever which uses http connection
- we currently cannot connect to domain by IP address , (something has to do with fetch Api that is not working https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/5f259e552bb6e363c0d79144464411ee444b1184/app/lib/rocketchat.js#L68)

[2019-06-19 22:10] djorkaeffalexandre commented on #939
Closed because we choose to use UserDefaults.

[2019-06-19 22:10] #939 closed

[2019-06-20 15:36] lorek123 commented on #649
not anytime soon, but documentation would help.

[2019-06-20 18:24] diegolmello opened #999 "[BUG] Can't join discussion"
I tap on "Join" button on a discussion channel and nothing happens.

[2019-06-20 18:33] #988 closed

[2019-06-20 19:02] #904 closed

[2019-06-20 19:02] #999 closed

[2019-06-21 16:38] #968 closed

[2019-06-21 16:39] #877 closed

[2019-06-21 16:39] #952 closed

[2019-06-21 16:45] wreiske opened #1002 "Multiple auto complete messages showing"
- Your Rocket.Chat Experimental app version: 1.15.0.8836
- Your Rocket.Chat server version: 1.1.1

![image](https://user-images.githubusercontent.com/6295044/59938206-5d805080-9422-11e9-9828-cb23231c164a.png)

[2019-06-21 16:48] wreiske opened #1003 "Send button disappears sometimes"
- Your Rocket.Chat Experimental app version: 1.15.0.8836
- Your Rocket.Chat server version: 1.1.1

Sometimes when typing up a message, the send button doesn't show up and makes it impossible to send a message.

![image](https://user-images.githubusercontent.com/6295044/59938363-c49e0500-9422-11e9-975c-8c66f3f6976f.png)

[2019-06-24 13:40] dusatvoj commented on #943
Now we are running on RC v1.1.3 and it's solved ... IDK Why, but it works :D

[2019-06-24 13:40] #943 closed

[2019-06-24 14:02] subesokun opened #1008 "Support multiple OAuth providers"
- Your Rocket.Chat Experimental app version: 3.4.2 (2070)
- Your Rocket.Chat server version: 1.1.2
- Device (or Simulator) you're running with: Android 9

If there are multiple OAuth providers defined in the server, only one of them is visible (in form of a button) in the login screen. When accessing Rocket.Chat via the web browser, the buttons for all OAuth providers are visible and selectable.

[2019-06-24 21:13] diegolmello opened #1010 "[IMPROVEMENT] Unify search UX"
Our search is different across OS:

### Android
Magnifier on header
<img src="https://user-images.githubusercontent.com/804994/60052111-df82aa80-96aa-11e9-8015-c1692824cf1e.png" width="350" />

### iOS
Swipe down to show search box
<img src="https://user-images.githubusercontent.com/804994/60052154-f1fce400-96aa-11e9-8e87-adcf047acf92.png" width="350" />

### Proposed change
- We compared the same

[2019-06-24 21:22] diegolmello opened #1011 "[IMPROVEMENT] Change "resend" icon position"
We need to position icon at the right side of username and change from `cross` to `alert` icon.

### Before
<img src="https://user-images.githubusercontent.com/804994/60052861-b82cdd00-96ac-11e9-9396-c4d581c15ca1.png" width="350" />

### After
<img src="https://user-images.githubusercontent.com/804994/60052811-a0edef80-96ac-11e9-965f-e75b51d6f81b.jpeg" width="350" />

[2019-06-26 14:27] lorek123 commented on #872
still an issue

[2019-06-26 19:50] #983 closed

[2019-06-27 16:16] #791 closed

[2019-06-27 16:35] #725 closed

[2019-06-27 17:49] #458 closed

[2019-06-28 12:40] #978 closed

[2019-06-28 12:53] mahal opened #1018 "Support Custom OAuth"
**Feature Request**

We'd love to use the new ReactNative client within our project. We're using custom OAuth
to authenticate the users against our own Wordpress. We know it's on your todo list (in `README.md`) but it's the one most far down in the list.

I kindly suggest to move **Authentication via Custom OAuth** a bit upwards, if the order is the one you're following while implementing.

For An

[2019-06-28 13:02] diegolmello opened #1019 "[CI] Restore cache on CI"
We're not restoring cache on all builds.

### yarn
Here's the time it takes to install npm modules in android by restoring cache:
![image](https://user-images.githubusercontent.com/804994/60343301-0b8f7b80-998a-11e9-828b-9c0b67343664.png)

Because we don't do it on ios builds, here's the difference:
![image](https://user-images.githubusercontent.com/804994/60343332-1ea24b80-998a-11e9-9695-5f160618

[2019-06-28 13:09] diegolmello commented on #1018
Hi, @mahal.
Thanks for your report.
We'll implement more OAuth options in the next months, like SAML, CAS and Custom OAuth.
I'll track Custom OAuth updates in this issue.
Cheers.

[2019-06-28 17:02] #854 closed

[2019-06-28 17:24] diegolmello opened #1021 "[IMPROVEMENT] Reusable toast"
[In this PR](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/898) we declared one toast whenever it's needed.
This is not scalable.

We should do it similar to what we've done on [In-app notifications](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/index.js#L218), where we set notifications element once and we use it in the whole stack.
We need to declare toast o

[2019-06-28 22:44] lorek123 opened #1022 "Last messages is not showing on room list view"
- Your Rocket.Chat Experimental app version: 0.15.0.8836
- Your Rocket.Chat server version: 0.70.4
- Device (or Simulator) you're running with: Xiaomi Mi 9

Description:
room list view shows channels and users, but it won't show last message in conversations.

![Screenshot_2019-06-29-00-35-10-575_chat rocket reactnative](https://user-images.githubusercontent.com/1567272/60374887-e5f48780-9a06-11e9

[2019-06-28 22:51] lorek123 opened #1023 "Show loading indicator on message loading"
Your Rocket.Chat Experimental app version: 0.15.0.8836
Your Rocket.Chat server version: 0.70.4
Device (or Simulator) you're running with: Xiaomi Mi 9

App currently won't indicates that it needs to download new messages to sync.

[2019-06-30 10:50] Perflyst opened #1025 "Cannot write into "read only group" as owner"
- Your Rocket.Chat Experimental app version: 1.15.0
- Your Rocket.Chat server version: 1.2.1
- Device (or Simulator) you're running with: Android 7.1

You cannot write into a read only group even if you are an admin or owner of the group.

Steps to reproduce (iOS):
* Open a channel "read only" as owner
* Try message actions on any message

### GIF
![](https://media.giphy.com/media/hSXPo9XX078nbNzJ

[2019-07-01 12:30] diegolmello commented on #1022
@lorek123 Can you make sure "Store Last Message" setting is set to true?

[2019-07-01 14:05] lorek123 commented on #1022
@diegolmello it is:
![image](https://user-images.githubusercontent.com/1567272/60442746-03e60600-9c1a-11e9-8c19-6699d0102e51.png)

[2019-07-01 16:15] diegolmello commented on #1022
@lorek123 Just to check if never worked or it's another bug: logout from your server and login again.

[2019-07-01 16:55] lorek123 commented on #1022
After relogin it's still the same

[2019-07-02 06:21] subesokun commented on #1008
Do you need more information or help at reproducing this issue?

[2019-07-02 12:13] reetp opened #1030 "Notifications and missing messages"
- Your Rocket.Chat Experimental app version: 1.16.0.9278
- Your Rocket.Chat server version: Open.rocket.chat on 1.3 dev I believe + 1.2.1 + 1.1.3
- Device (or Simulator) you're running with: Samsung S9

When running multiple servers the app struggles to select the correct server/channel/message when you get a taskbar notification.

This also seemed to have the effect of missing some messages eg

0

[2019-07-02 12:35] reetp commented on #725
Adding myself to this because the size is far too big (testing on beta at the minute)

You just cannot use the same size on mobile that you do on a desktop. It takes up half the screen now. I want to read text, and the new size is extremely distracting.

It also turns the app from professional looking to a kids toy.

As you cannot control the size from the server (unfortunately) it either needs re

[2019-07-02 13:01] diegolmello commented on #1008
@subesokun Hi there.
This is not implemented yet.
You can track #1018 for updates.
Thanks.

[2019-07-02 13:01] #1008 closed

[2019-07-04 11:23] #1019 closed

[2019-07-04 12:57] diegolmello opened #1033 "Improve rooms swipes"
- [x] Use react-native-reanimated instead of Animated
- [ ] Add haptic feedback after half of screen is swiped
- [ ] Only one item opened

[2019-07-04 13:57] reetp opened #1035 "[NFR] Backup account settings to file"
It would be extremely useful to backup account settings to a local file.

It doesn't require all the data being backed up as this will sync.

Just the account, the user, and possibly the password.

[2019-07-04 20:29] imdario opened #1036 "Hide "Forgot password" if Accounts_PasswordReset set to False"
- Your Rocket.Chat Experimental app version: 1.16.0
- Your Rocket.Chat server version: 1.1.3
- Device (or Simulator) you're running with: One Plus 6

On desktop and browser, Rocket.chat hides its "Forgot password" link if Accounts_PasswordReset is set to False.

It can be misleading if Rocket.chat is integrated against authentication systems as LDAP, as this reset isn't going to modify the central

[2019-07-04 20:41] diegolmello commented on #1036
Hi, @imdario.
Thanks for opening this issue.
Let's keep track of the progress here.
Let me know if you want to contribute.
Cheers.

[2019-07-05 06:31] imdario commented on #1036
I would love to but I should check first the source code, as I'm React Native isn't my usual craft.

[2019-07-08 22:01] ccfiel commented on #888
Hello. Any updates in this?  ☺️

[2019-07-08 22:12] djorkaeffalexandre commented on #888
Hello @ccfiel ! We prefer to first change the image preview #903 and after that create a "save to album" feature.

[2019-07-08 22:15] ccfiel commented on #888
@djorkaeffalexandre thanks for the update!

[2019-07-09 19:45] lorek123 opened #1042 "Image upload is not working on 0.70.4 server"
- Your Rocket.Chat Experimental app version: 1.16.0.9441
Your Rocket.Chat server version: 0.70.4
Device (or Simulator) you're running with: Xiaomi Mi 9

after an update to the current latest version image upload does not work. after confirmation of upload there is an error:
[code]
I've checked this against open.rocketchat server and it works correctly.

I think this needs to be investigated, if we

[2019-07-12 13:38] diegolmello opened #1046 "Better SafeAreaView"
SafeAreaView is a **thing** just for iPhone devices with notch (iPhone X*).
It doesn't apply to Android.
That said, [looking at react-native-safe-area-view implementation](https://github.com/react-native-community/react-native-safe-area-view/blob/master/index.js), we can see they do a heavy job to identify the device type.

Long story short, we already have our own native implementation returning

[2019-07-13 08:18] lorek123 opened #1051 "Replies send via Experimental app does not render on other apps"
Your Rocket.Chat Experimental app version: 1.16.0.9441
Your Rocket.Chat server version: 0.70.4
Device (or Simulator) you're running with: Mi 9 Android App 350, Desktop app on Linux 2.15.3

When user replies to a message on Experimental app, it doesn't show that this was reply on other apps.
@diegolmello this is another bug related to older version of Rocket.Chat, please consider bumping minimal se

[2019-07-14 12:05] Jan-NiklasB opened #1052 "Can't connect to my server anymore in experimental Build"
- Your Rocket.Chat Experimental app version: 1.16.1 (Updated 2019-07-14)
- Your Rocket.Chat server version: 1.1.3
- Device (or Simulator) you're running with: LG G5 (H850) with Resurrection Remix 7.0.2 (Android 9)

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

I updated my OS and t

[2019-07-14 16:16] pranavpandey1998official commented on #1052
We don't support http server please switch to https and try again

[2019-07-15 12:26] diegolmello commented on #1052
@Jan-NiklasB Can you send your log report?

[2019-07-15 14:47] Jan-NiklasB commented on #1052
@diegolmello
Sure,which one Do you need?
Server log, or App log?
in Case of App log, it would be nice if you can give me a hint where to find them if you don't mean the logcat.

[2019-07-15 14:59] diegolmello commented on #1052
@Jan-NiklasB I just tested 1.16.1 on my Android and it works.
It didn't work on iOS, because Apple rejects http calls (or enforces to do it manually).
We need more data to reproduce.

[2019-07-15 14:59] #1052 closed

[2019-07-15 15:19] Jan-NiklasB commented on #1052
@diegolmello Well, as said I would send logs, but I doesn't know the location of them.
I just tried to get https running, but Caddy ends with Error:
<pre>Jul 15 17:03:09 Kein-PC rocketchat-server.rocketchat-caddy[2926]: Activating privacy features... 2019/07/15 17:03:09 [fb.bogatka.org] failed to get certificate: [fb.bogatka.org] error presenting token: presenting with standard HTTP provider serve

[2019-07-15 16:03] HamzaKhait opened #1054 "Single server branch updates"
Hello,

I have a question about the single server version of Rocket.Chat.
Is the single server branch kept up-to-date on every new release of Rocket.chat ?

Thanks
Hamza

[2019-07-15 17:25] diegolmello commented on #1054
@HamzaKhait I just updated. Thanks.

[2019-07-15 17:25] #1054 closed

[2019-07-16 14:30] #899 closed

[2019-07-17 14:06] #1011 closed

[2019-07-18 17:07] #712 closed

[2019-07-18 17:44] #69 closed

[2019-07-20 16:30] DoM1niC commented on #1042
Yep sending from files doen't work on my dev Build too, currently image/jpeg not valid file or image is to big ... :(

[2019-07-22 02:56] weijia-yu commented on #1046
@diegolmello should we add safe area for android devices too, there are more and more notch android devices

[2019-07-22 11:28] #709 closed

[2019-07-22 13:25] diegolmello opened #1067 "[IMPROVEMENT] Use autoFocus rather than timeout + focus"
In some places, text input must be focused automatically on did mount, but we could do it better.
Currently, we're using a setTimeout to wait for navigation transition animation and then a `inputRef.focus()`.
`TextInput` has a `autoFocus` prop that does it.

Example: [`LoginView`](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/LoginView.js#L88)
[code]

### Where to do

[2019-07-22 19:29] filipedelimabrito opened #1068 "[NEW] Map colors on attachments"
(to be detailed soon).

[2019-07-23 13:00] tj4752 commented on #1067
I'm working on this issue.

[2019-07-23 13:06] diegolmello commented on #1067
@tj4752 Sure! Let me know if you have any questions.

[2019-07-23 14:02] #1021 closed

[2019-07-24 11:21] tj4752 commented on #1067
I have a question @diegolmello . Do we want to keep setTimeout or not?

[2019-07-24 15:07] tj4752 commented on #1067
Hello @diegolmello , I've submitted a pull request closing this issue. Could you please review it?

[2019-07-24 17:05] tj4752 commented on #1067
Hello @diegolmello , I'm facing an error when running eslint during making a commit. Could you please help?
![Screenshot from 2019-07-24 22-23-22](https://user-images.githubusercontent.com/32940477/61813386-3541a280-ae63-11e9-8bee-ce281183cbea.png)
![Screenshot from 2019-07-24 22-23-48](https://user-images.githubusercontent.com/32940477/61813396-383c9300-ae63-11e9-9980-f3280ad7d7a0.png)

[2019-07-24 17:10] diegolmello commented on #1067
@tj4752 Hi. You don't need that `componentDidMount`.
`this.usernameInput` is created on his `inputRef`... the same way `passwordInput` does.
You can safely delete that `componentDidMount`.

[2019-07-25 10:57] AlexxNB opened #1072 "[BUG] Numered lists in separate messages"
When I make num list in one message:
[code]
It is OK.

But when I create items in separate messages:
[code]
[code]
They displayed with number "1" for each items.

Screenshot:
![Filename](https://user-images.githubusercontent.com/10389013/61869245-d40de380-aee3-11e9-9589-28604c2a4e85.jpeg)

[2019-07-25 12:04] diegolmello commented on #1072
@AlexxNB Thanks for reporting!
We're going to refactor this markdown soon.

[2019-07-25 14:38] diegolmello opened #1073 "[IMPROVEMENT] Notification Preferences"
Currently, we have only one option `Enable/Disable notification` to disable mobile notifications.
But the web version has several other options:

<img src="https://user-images.githubusercontent.com/804994/61883171-4c6aa980-aed0-11e9-9a55-abdfcc020cd4.png" width="350" />
<img src="https://user-images.githubusercontent.com/804994/61883187-5391b780-aed0-11e9-9b89-646401c01527.png" width="350" />

###

[2019-07-25 20:00] jackyang1984 opened #1074 "translation error"
file path: containers/MessageActions
line: 263

text: I18n.t('Yes_action_it', { action: 'delete' }) => text: I18n.t('Yes_action_it', { action: I18n.t('delete') }),

[2019-07-25 20:44] ggazzo opened #1075 "New: hide oauth button option"
https://github.com/RocketChat/Rocket.Chat/pull/15053 ;)

[2019-07-25 20:48] diegolmello commented on #1075
@filipedelimabrito Can you do it right after #1018? Thanks!

[2019-07-27 09:29] ccfiel opened #1076 "Cannot upload image or file"
Cannot upload image or files
![Screenshot_20190726-062917](https://user-images.githubusercontent.com/1788360/61992692-052d1600-b094-11e9-88ca-908fbc811ff9.jpg)

[2019-07-27 13:48] DoM1niC commented on #1076
Same like this! https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1042

[2019-07-27 14:35] diegolmello commented on #1076
@ccfiel @DoM1niC can you test on beta?

[2019-07-27 23:29] ccfiel commented on #1076
@diegolmello I am already in beta

![Screenshot_20190727-230805](https://user-images.githubusercontent.com/1788360/62000431-67742e00-b109-11e9-9251-8a8e285364cd.jpg)

[2019-07-29 11:22] DoM1niC commented on #1076
@diegolmello I use the last Dev Commits & the Problem exist here too...

[2019-07-29 12:06] diegolmello commented on #1076
@ccfiel @DoM1niC Post your `File Upload` config of your server here and the image you're trying to send.

[2019-07-29 12:10] ccfiel commented on #1076
File Upload config
![Screenshot from 2019-07-29 20-07-50](https://user-images.githubusercontent.com/1788360/62047317-c2f30880-b23c-11e9-8547-79a935fb5ca4.png)

Image trying to send.
![IMG_20190726_124754](https://user-images.githubusercontent.com/1788360/62047362-ddc57d00-b23c-11e9-802a-38538bf3daf8.jpg)

[2019-07-29 12:16] diegolmello commented on #1076
@ccfiel Ok, I think I found what's going on. Thanks for reporting!

@pranavpandey1998official Can you fix it?
It seems we're not allowing to upload files if `FileUpload_MediaTypeWhiteList` is null.
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageBox/UploadModal.js#L170
Thanks!

[2019-07-29 16:08] DoM1niC commented on #1076
Nice :) no Problem Bugs are still alive every day & every night ^^

[2019-07-29 16:48] #1076 closed

[2019-07-29 21:00] DoM1niC commented on #1042
![WhatsApp Image 2019-07-29 at 22 59 13](https://user-images.githubusercontent.com/1436958/62082211-98ad4500-b254-11e9-851b-5f84acab81f7.jpeg)
Still exist... :(

[2019-07-29 21:14] diegolmello commented on #1042
@DoM1niC It's fixed, but not released.
I just published on the app Google Play and submitted to App Store review.
Android version may be released in the next hours.

If the problem persists, remember to paste app version here.
Thanks.

[2019-07-29 21:14] #1042 closed

[2019-07-29 21:15] #713 closed

[2019-07-29 21:16] diegolmello commented on #713
#882

[2019-07-29 21:16] #694 closed

[2019-07-29 21:18] #233 closed

[2019-07-29 21:18] #326 closed

[2019-07-29 21:18] #341 closed

[2019-07-29 21:18] #369 closed

[2019-07-29 21:18] #404 closed

[2019-07-29 21:18] #419 closed

[2019-07-29 21:18] #586 closed

[2019-07-29 21:19] #672 closed

[2019-07-29 21:19] #682 closed

[2019-07-29 21:19] diegolmello commented on #1074
@jackyang1984 Can you elaborate?

[2019-07-29 21:22] #995 closed

[2019-07-29 21:23] diegolmello commented on #969
@mohammed500k `single-server` branch does that. Can you check? Thanks!

[2019-07-29 21:23] #969 closed

[2019-07-30 00:56] djorkaeffalexandre commented on #817
@diegolmello I think
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1043
and
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1066
Closes this. Right?

[2019-07-30 10:46] DoM1niC opened #1084 "[Bug] Share Media e.g. Images to File Upload -> Error"
I tried to share Images from **WhatsApp** to RocketChat Client but a Error is appear ...
![WhatsApp Image 2019-07-30 at 03 13 23](https://user-images.githubusercontent.com/1436958/62123270-e1521600-b2c7-11e9-9baa-611af5729ad1.jpeg)
![WhatsApp Image 2019-07-30 at 03 13 23-2](https://user-images.githubusercontent.com/1436958/62123272-e1eaac80-b2c7-11e9-96c9-c6124acf8cce.jpeg)

After this the Error w

[2019-07-30 12:08] diegolmello commented on #1084
@DoM1niC I need more info.
Server version, app version, file upload config.

[2019-07-30 13:07] artF-Secure commented on #1084
I've reproduced it on:
Your Rocket.Chat Experimental app version: 1.17.0.10142
Your Rocket.Chat server version: 0.70.4

[2019-07-30 13:10] lorek123 commented on #1084
I've reproduced it on:
Your Rocket.Chat Experimental app version: 1.17.0.10142
Your Rocket.Chat server version: 0.70.4

[2019-07-30 13:24] diegolmello commented on #1084
Does it happens when trying to upload from inside the app or only from share extension?
Does it happens only when uploading from WhatsApp?

[2019-07-30 13:30] lorek123 commented on #1084
FIle upload works fine from inside the app.
file sharing via share extensions does not. I've checked that it won't work against open rocketchat too.

[2019-07-30 13:32] diegolmello commented on #1084
@lorek123 Ok, only from WhatsApp? Does it work from Photos?

[2019-07-30 13:34] lorek123 commented on #1084
Won't work from both WhatsApp and camera app.

[2019-07-30 13:45] lorek123 opened #1085 "Deleting message with attachment crashes app"
- Your Rocket.Chat server version: 0.70.4
- Device (or Simulator) you're running with: Mi 9
- Your Rocket.Chat Experimental app version: 1.17.0.10142

When one tries to remove the message with attached image, app closes without message.
Message is deleted in result, but I think it is not a desired behavior to re-open the app after file removal.

[2019-07-30 13:48] diegolmello commented on #1084
@djorkaeffalexandre We're sending type as `undefined`.
<img src="https://user-images.githubusercontent.com/804994/62134767-7bf62900-b2b7-11e9-881a-be7f5e7724cd.png" />

[2019-07-30 16:15] #1084 closed

[2019-07-30 18:06] justinr1234 opened #1089 "[BUG] Unable to start new chat with directory users"
- Your Rocket.Chat Experimental app version: 1.16.1.9545
- Your Rocket.Chat server version: 1.3.0-develop
- Device (or Simulator) you're running with: iPhone XS Max 12.3.1

I’m unable to create new chats with people searching by name. This works on the native iOS app but not RN.

![4C9106C3-4E88-4890-A991-0CD9289F321F](https://user-images.githubusercontent.com/7017500/62153713-cfbe3d80-b2ca-11e9-8

[2019-07-30 18:17] diegolmello commented on #1089
This is a message from Github with @rocket.cat alias.
Or `@ubergeekzone` doesn't exist or it's a different username.
And don't user `@` when searching.
<img src="https://user-images.githubusercontent.com/804994/62154252-c211b380-b2dc-11e9-8e43-743a8a6916aa.png" />

![image](https://user-images.githubusercontent.com/804994/62154456-1fa60000-b2dd-11e9-8c34-862bcb07067b.png)

[2019-07-30 18:34] #1089 closed

[2019-07-30 18:34] justinr1234 commented on #1089
It was just lagging because of connectivity, I had the issue with a full user of the server.

[2019-07-30 20:20] jackyang1984 commented on #1074
Rocket.Chat.ReactNative

function handleDelete, second alert label did not use translation,

[2019-07-30 20:21] jackyang1984 commented on #1074
source file src/app/containers/MessageActions.js

[2019-07-30 20:27] diegolmello commented on #1074
@jackyang1984 What language? Can you post a screenshot?
Can you create a PR?

[2019-07-31 08:24] lorek123 opened #1090 "[FEAT] search bar for emoji picker"
Your Rocket.Chat server version: 0.70.4
Device (or Simulator) you're running with: Mi 9
Your Rocket.Chat Experimental app version: 1.17.0.10142

As a user I want to search for emoji via text search (by name and alias) to speed up finding proper emoji for reaction.

[2019-07-31 12:38] DoM1niC opened #1091 "[Improvement] Audio Records with Ear ListenMode"
Just if you handset the Phone to Ear to listen the Message only there like Phone Calls.

[2019-07-31 12:42] DoM1niC opened #1092 "[Improvement] Save Images to Gallery / Storage"
I was asked many times how save Images from view to Storage, but currently the Image Modal doesn't have any possiblity to save Images.

[2019-07-31 16:21] #861 closed

[2019-07-31 16:22] diegolmello commented on #1092
Duplicated #888

[2019-07-31 16:22] #1092 closed

[2019-07-31 16:30] diegolmello commented on #1091
@DoM1niC Thanks for opening. It would be a really cool feature.

[2019-07-31 16:32] diegolmello commented on #1090
@lorek123 Thanks for opening.
Yes, we already started some tasks on that way in past months, but we closed that PR to work on other features.
We're going to refactor emoji picker in mid term.
Cheers.

[2019-08-01 09:01] yrjwcharm opened #1094 "How is this library installed? I can't install it"
![image](https://user-images.githubusercontent.com/34397383/62280092-d9d46d80-b47d-11e9-9ccc-f91ef6d69be7.png)

[2019-08-01 09:01] yrjwcharm commented on #1094
@rocket.chat/sdk can't be install.

[2019-08-01 12:07] diegolmello commented on #1094
@yrjwcharm Please send more info: error details, commands used, screenshots, etc.

[2019-08-01 13:42] jackyang1984 commented on #1074
how can i do that? And i found some translation is not correct.

[2019-08-01 17:10] jackyang1984 commented on #1074
Chinese，I just feeling some place is not correct

On Tue, Jul 30, 2019 at 16:27 Diego Mello <notifications@github.com> wrote:

[2019-08-02 01:48] yrjwcharm commented on #1094
@diegolmello  npm install

[2019-08-02 11:22] diegolmello commented on #1094
@yrjwcharm You have to use `yarn`

[2019-08-02 11:22] #1094 closed

[2019-08-02 11:44] pranavpandey1998official commented on #966
#1097

[2019-08-02 11:46] pranavpandey1998official commented on #729
#1097

[2019-08-02 14:48] pranavpandey1998official opened #1098 "miss allignment of roomListViewItem when slash command emojies are used"
See dev channel
![WhatsApp Image 2019-08-02 at 8 17 14 PM](https://user-images.githubusercontent.com/44601530/62378584-be8f5e00-b562-11e9-9de8-395f79f9933d.jpeg)

[2019-08-02 17:38] ggazzo opened #1099 "Remove the notifications"
let the server send a push notification informing I already read/opened the room in another device, then you could remove all notifications related.

related #391

[2019-08-02 17:44] djorkaeffalexandre opened #1100 "[NEW] Support client certificates for SSL (WebSocket & REST)"
We have servers with [ssl-pinning](https://medium.com/@zhangqichuan/explain-ssl-pinning-with-simple-codes-eaee95b70507) and we need to accept a upload of .p12 credentials and use it.

[2019-08-03 15:41] DoM1niC opened #1101 "[Improvement] Multiple Uploads"
More then One Image or file selects from Gallery or FileBrower to upload.

[2019-08-03 20:18] juanpetterson commented on #1010
I'm working on it, and soon I'll send the PR.

[2019-08-05 05:59] amirsafiallah opened #1102 "null is not an object (evaluating 'blob.data')"
- Your Rocket.Chat Experimental app version: [1.17.0](https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/1.17.0)
- Your Rocket.Chat server version: 1.2.3
- Device (or Simulator) you're running with: Samsung Galaxy A50 (Android 9)

When I disconnect from the Internet, this error's thrown.
**It seems the `fetch` makes this error.**

![Screenshot_20190805-102600_ DEVELOP  RocketChatRN

[2019-08-05 06:20] pranavpandey1998official commented on #1102
Same as #938

[2019-08-05 11:45] #1102 closed

[2019-08-07 13:17] diegolmello commented on #391
Hi, @BenWildeman!
Are you still working on this?

[2019-08-07 13:39] BenWildeman commented on #391
short answer is no

[2019-08-07 13:41] ggazzo commented on #391
do you have any draft or working in progress? maybe we could continue from there ;), thx

[2019-08-07 14:05] BenWildeman commented on #391
you know what, I don't have anything to do this weekend so I can get this sorted for you guys 🙂

[2019-08-07 14:13] ggazzo commented on #391
really thanks ❤️

[2019-08-07 14:36] #1018 closed

[2019-08-07 19:20] #1067 closed

[2019-08-07 19:54] geekgonecrazy opened #1111 "Handle logout/session end gracefully"
- Your Rocket.Chat Experimental app version: 1.18.0.10386
- Your Rocket.Chat server version: 1.4.0-develop (open.rocket.chat)
- Device (or Simulator) you're running with: ios 12 (fully patched) iphone XS

If you are logged out by your server for any reason and then you open the app.  It handles it by actually removing the server.

It should at least show a dialog saying what happened.  Ideally it

[2019-08-07 22:22] dusatvoj opened #1112 "Mentions missing"
We have 3 instances of RocketChat server and some people have problem with missing mentions in RC Experimental app

Expectation (and reality on everyone else's RC):
![image](https://user-images.githubusercontent.com/11560794/62661717-3f3ec780-b972-11e9-99ed-c0f96a469da0.png)

Reality on S7 Edge:
![image](https://user-images.githubusercontent.com/11560794/62661777-69908500-b972-11e9-8606-62e3a69ae7

[2019-08-08 12:18] frdmn opened #1115 "Slash command in thread is sent to parent channel"
### General info

- Your Rocket.Chat Experimental app version: 1.17.0
- Your Rocket.Chat server version: 1.4.0-develop
- Device (or Simulator) you're running with: iPhone X

### Issue description

When you try to use slash commands within a thread, the response will be posted in the parent channel and not into the thread itself:

(click screenshot below for a demo screen capture)

[![](https://i.i

[2019-08-08 22:37] juanpetterson commented on #1036
I'm working on it, and soon I'll send the PR.

[2019-08-09 07:07] DoM1niC opened #1119 "[Bug/Issue] App crashed by Sharing Media like Audios / some Videos"
Image Sharing works nice but if I try to share a Voice Message e.g. from WhatsApp to this Client the Program crashed instantly, some Videos crash too from my Gallery & if I try to share from WA to React RocketChat. The Modal not appear, after this the App have to load again (I think crashed).

**Huawei Mate 20 Lite - Android 9**
**RocketChat React:** Develop Branch
**RocketChat Server:** Develop B

[2019-08-09 09:15] DoM1niC opened #1120 "[Build Error] react-native 0.60.4"
Since the new React changes on Android Projekt my Dev Maschine under VirtualBox says **`OutofMemory`**..
**Code** & **Dirs** are clean up before **compile** & **reopen** the **Project**...

![image](https://user-images.githubusercontent.com/1436958/62768330-e9b00b00-ba96-11e9-9484-015c5b331842.png)
**Android Studio 3.4.2**

![image](https://user-images.githubusercontent.com/1436958/62768354-f59bcd

[2019-08-09 11:53] diegolmello commented on #1120
@DoM1niC Try `rm -rf android/app/build` and rerun.

[2019-08-09 13:11] #1036 closed

[2019-08-09 17:28] #428 closed

[2019-08-09 19:35] DoM1niC commented on #1120
This will do before I compile everytime.... :(

[2019-08-09 19:43] diegolmello commented on #1120
@DoM1niC Can you add `org.gradle.jvmargs=-Xmx2048M -XX\:MaxHeapSize\=32g` on `gradle.properties`, clean everything and try again?
RN 60 seems to be heavier than 59.

[2019-08-09 19:54] DoM1niC commented on #1120
Works Thanks :+1:

[2019-08-09 19:54] #1120 closed

[2019-08-09 19:58] filipedelimabrito opened #1123 "[IMPROVEMENT] Honor Accounts_ShowFormLogin setting"

[2019-08-10 16:46] Exordian commented on #697
i still hit this bug using the latest 'develop' branch (currently on 1a6011e9d11b98281b559ed7dfe87d7e96f9d989 )

[2019-08-10 17:27] DoM1niC commented on #1119
Sending Pictures is broken here too....

[2019-08-10 21:26] DoM1niC opened #1126 "[Bug/Issue] New Reacts crashed randomly"
**Huawei Mate 20 Lite - Android 9**
**RocketChat React:** Develop Branch
**RocketChat Server:** Develop Branch

Since the new React Update my App often crashed by open Notifications or interact in some Chats.... If I take a Picture there is crashing too.....

**Update**
Open Notification works sometimes, there is general a problem the App crashed instantly after some interactions.

[2019-08-12 12:02] diegolmello commented on #1126
@DoM1niC Always post log reports in those cases.
You're running develop branch, so your log report is only on click away.

[2019-08-12 14:46] djorkaeffalexandre commented on #1119
@DoM1niC can you give me Android logs?

[2019-08-12 18:06] diegolmello commented on #1115
https://github.com/RocketChat/Rocket.Chat/issues/15165

[2019-08-12 20:06] diegolmello opened #1129 "Typing indicator blink on web"
When typing from the app, web version keeps blinking.

[2019-08-13 18:47] reetp opened #1130 "Cannot click or copy links in Room Info"
- Your Rocket.Chat Experimental app version: 1.18.0.10579
- Your Rocket.Chat server version: various
- Device (or Simulator) you're running with: Samsung S9

Go to Room/Channel
Select Actions (3 dots top right)
Click the Room Info
See links in Topic but you cannot click or copy any of them

![Screenshot_20190813-200842_RocketChat Experimental](https://user-images.githubusercontent.com/3800384/6296

[2019-08-13 18:51] reetp commented on #1035
Oh for this feature over the last couple of months ;-)

[2019-08-15 09:56] mahal commented on #1018
@jbuechele Thanks for the implementation!

[2019-08-15 10:06] mahal commented on #540
The Black Theme makes the iOS Swift App looking better. How are the plans for Theming?

[2019-08-17 10:33] DoM1niC commented on #1126
Seems better now Take Picture is no more crashing & the most looks more stable since recent updates !!!

[2019-08-19 11:51] #1126 closed

[2019-08-19 20:02] lucassmacedo commented on #1130
I have a similar problem. Links dont work

[2019-08-19 20:46] lucassmacedo opened #1137 "Actions buttons problem"
Hello! I Have a problem when a using buttons with links on "actions", the Android  dont create a LINK on button, when a click nothing happens. But on Chrome works fine.
I send a message with a API.

[code]

and on Android the buttons is showing but not working.

![photo5105006752776169521](https://user-images.githubusercontent.com/3357243/63298082-1e973b80-c2a9-11e9-8614-c289bf03b375.jpg)

"On Rea

[2019-08-19 21:50] marianotribuj opened #1138 "Avatars not being shown when UseRealName is activated"
When your server is configured to use Real Names, the user's avatars are not being shown (it shows the autogenerated first letter ones).
I've tracked down the issue to Avatar.js, when it creates the Avatar URL, it uses the Real Name which doesn't exists on the server.

	const room = type === 'd' ? text : `@${ text }`;

I'll try to fix (will need to send the username down to Avatar.js from RoomItem

[2019-08-20 02:46] wreiske opened #1139 "Messages from two servers showing in message list"
- Your Rocket.Chat Experimental app version: 1.18.0.10607
- Your Rocket.Chat server version: 1.3.1
- Device (or Simulator) you're running with: Samsung Note 5

Messages from two different servers are showing up in the same list. I have tried changing back and forth between servers, closing the app, etc.,. Still broken.
![react-native-what](https://user-images.githubusercontent.com/6295044/63313651

[2019-08-20 11:28] sampaiodiego commented on #1137
closing as duplicate of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/649

[2019-08-20 11:28] #1137 closed

[2019-08-20 14:34] marceloschmidt opened #1141 "Custom emojis not rendering"
- Your Rocket.Chat Experimental app version: 1.18.0.10607
- Your Rocket.Chat server version: 1.0.3
- Device (or Simulator) you're running with: Samsung Galaxy S9

Not sure why, but on the native app custom emojis are working. On the RN they are not.

![image](https://user-images.githubusercontent.com/1986378/63356527-543a3400-c33e-11e9-8f80-3c0d99e7f98a.png)
![image](https://user-images.githubuser

[2019-08-20 20:12] djorkaeffalexandre opened #1143 "[IMPROVEMENT] Better Markdown"
We need to make a new redial component.
`react-native-markdown-renderer` no longer meets all our need.

We need to accept:
- [ ] code
- [ ] link
- [ ] image
- [ ] at mention
- [ ] channelLink
- [ ] emoji
- [ ] hashtag
- [ ] paragraph
- [ ] heading
- [ ] code block
- [ ] block quote
- [ ] list
- [ ] item
- [ ] hardBreak
- [ ] thematicBreak
- [ ] softBreak
- [ ] htmlBlock
- [ ] htmlInline
- [ ] tabl

[2019-08-20 20:16] ggazzo commented on #1143
@djorkaeffalexandre would be amazing if you found something we could use in both (web and mobile)

[2019-08-20 20:24] djorkaeffalexandre commented on #1143
@ggazzo I'm will use `commonmark`, I think it work's on Web and Mobile :)

[2019-08-21 20:57] filipedelimabrito opened #1144 "[BUG] Impossible to read a message content"
We have a report from an user where she is not able to see the full message content from our React Native mobile app.

Take a look at the image below:

![Filename](https://user-images.githubusercontent.com/11776825/63467871-d0b33c80-c43c-11e9-8455-4613646537ee.png)

Text content is:

`* we still generate a .apk file from the CI since it is required to publish the app on the F-Droid store (this one

[2019-08-22 03:15] ggazzo commented on #1141
@marceloschmidt are you sure you have your setting "Enable Markdown" enabled?

[2019-08-22 12:42] #774 closed

[2019-08-22 14:11] larryhayes7 commented on #872
The only way until a fix is in place for this to work is to type a character then backspace then paste in the copied text

[2019-08-22 18:08] #729 closed

[2019-08-22 18:08] #966 closed

[2019-08-22 19:15] #778 closed

[2019-08-22 19:24] #1075 closed

[2019-08-23 02:52] MLY123 opened #1147 "yarn 和npm i报错"
mzy:Rocket.Chat.ReactNative XY$ yarn
yarn install v1.16.0
[1/5] 🔍  Validating package.json...
[2/5] 🔍  Resolving packages...
[3/5] 🚚  Fetching packages...
[4/5] 🔗  Linking dependencies...
warning " > react-native-keyboard-input@5.3.1" has incorrect peer dependency "react-native@^0.57.3".
warning " > react-native-markdown-renderer@3.2.8" has incorrect peer dependency "react-native@^0.50.4".
warning

[2019-08-23 16:24] #1073 closed

[2019-08-23 21:26] diegolmello opened #1148 "[IMPROVEMENT] Use JoyPixels"
We should be using JoyPixels instead of Emojione.
https://github.com/joypixels/emoji-toolkit/

[2019-08-24 01:28] MLY123 opened #1149 "The engine "node" is incompatible with this module. Expected version "6.* || 8.* || >= 10.*". Got "9.8.0""
error sane@4.1.0: The engine "node" is incompatible with this module. Expected version "6.* || 8.* || >= 10.*". Got "9.8.0"
error Found incompatible module.

[2019-08-24 02:05] MLY123 commented on #297
这个评论的可能 结果我都试了，结果还是报错。
localhost:Rocket.Chat.ReactNative XY$ npm install
npm WARN deprecated otp.js@1.2.0: This version is deprecated and the library moved to @akanass/rx-otp
npm WARN deprecated joi@7.3.0: This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bug fixes, and security patches. If

[2019-08-24 03:35] pranavpandey1998official commented on #1149
change your node version with nvm

[2019-08-26 10:29] mahal opened #1150 "Custom OAuth: "undefined Error Code: -2""
- Your Rocket.Chat Experimental app version: 1.18.0
- Your Rocket.Chat server version: 1.2.3
- Device (or Simulator) you're running with: EMUI 9.0.1.169, iOS 12.3.1 and iOS 12.4
- Rocket Chat: https://chat.milchjugend.ch
- OAuth-Provider: https://app.milchjugend.ch/ (where everybody can create an account)
- miniOrange OAuth Server for Wordpress

Steps to reproduce:
- Update to 1.18.0 / Fresh Insta

[2019-08-28 17:29] geekgonecrazy opened #1156 "Video zoomed in by default"
- Your Rocket.Chat Experimental app version: 1.19.0.10893
- Your Rocket.Chat server version: 2.0-dev
- Device (or Simulator) you're running with: iphone xs ios 12

Seems that the video is zoomed in by default.

![IMG_1432](https://user-images.githubusercontent.com/51996/63878423-30569e00-c98f-11e9-88bf-858bddc8ffd0.PNG)

Conversation with @diegolmello he thinks: https://github.com/RocketChat/Rocke

[2019-08-28 20:15] justinr1234 opened #1158 "[NEW] Go to message e-mail should launch mobile app"
When you click "go to message" in an e-mail from Rocket.Chat, by default it should launch the mobile app if you have it installed.

[2019-08-28 21:08] diegolmello opened #1160 "[BUG] Remove unread counter on back button from Android"
We received some feedbacks about bad UX and we should keep it on iOS only.

[2019-08-30 14:06] 2disbetter opened #1167 "Not able to upload images or files"
- Your Rocket.Chat Experimental app version: 1.18.0
- Your Rocket.Chat server version: 1.3.2
- Device (or Simulator) you're running with: Moto G7 Power / Android 9

This may be a react issue but I cannot upload images or files because it believes the file is too large regardless of the server setting or the actual file size.

[2019-08-31 00:35] djorkaeffalexandre commented on #1025
Steps to reproduce (iOS):
* Open a channel "read only" as owner
* Try message actions on any message

### GIF
![](https://media.giphy.com/media/hSXPo9XX078nbNzJ3Y/giphy.gif)

[2019-09-02 13:01] reetp opened #1169 "Cannot properly rename channel"
- Your Rocket.Chat Experimental app version: 1.19.0.10977
- Your Rocket.Chat server version: 1.3.2
- Device (or Simulator) you're running with: Samsung S9

Create a channel using the Desktop.

eg testchannel

Go to React App, edit channel to say 'Messing About' and save.

Room Changed to Messing About

Top of screen it still shows 'testchannel' until you go back to the channel list.

Editing chann

[2019-09-02 15:52] dusatvoj commented on #1112
@diegolmello It seems OK in latest google play beta.

[2019-09-02 16:06] #1112 closed

[2019-09-02 16:19] #1100 closed

[2019-09-05 07:59] PedramDarapanah opened #1177 "Unable to build release version"
- Your Rocket.Chat Experimental app version: 1.19.0
- Your Rocket.Chat server version: 1.5.2 (develop 2.0.0)
- Device (or Simulator) you're running with: Emulator & real device Android 9

I get this error while building release app using
`./gradlew assembleRelease`

![err1](https://user-images.githubusercontent.com/12733411/64322933-b9e21d80-cfd8-11e9-96c7-e6b5bcdf2b31.PNG)

what is the problem?

[2019-09-05 08:46] mahal commented on #1150
@filipedelimabrito Thanks for the fix. As I'm not fluent in React I couldn't have done it myself, really appreciate your work!

[2019-09-05 09:16] mahal opened #1178 "Custom OAuth: Showing "Login with e-mail""
- Your Rocket.Chat Experimental app version: 1.19.0
- Your Rocket.Chat server version: 1.2.3
- Device (or Simulator) you're running with: EMUI 9.0.1.169, iOS 12.3.1 and iOS 12.4
- Rocket Chat: https://chat.milchjugend.ch
- OAuth-Provider: https://app.milchjugend.ch/ (where everybody can create an account)
- miniOrange OAuth Server for Wordpress
- basic authentication on Rocket Chat is disabled

St

[2019-09-05 13:28] arminfelder commented on #697
I solved this issue by deleting the android/app/src/main/assets/index.android.bundle
then run react-native start and copy the new bundle file with:
curl "http://localhost:8081/index.android.bundle?platform=android" -o "android/app/src/main/assets/index.android.bundle"

[2019-09-05 18:31] filipedelimabrito commented on #1150
You're welcome @mahal! Thanks for opening this issue!

[2019-09-05 19:47] lorek123 commented on #1167
same here, on 1.19.0.10997 RN and 0.70.4 server

[2019-09-06 03:31] gyverchang commented on #888
This is a huge bummer. Also, any plans to have the image attachments to be downloaded automatically for future references? When viewing file list on the app, images have to be downloaded again  from the server and all we see are empty thumbnails without any indication on whether it is being loaded or not.

[2019-09-06 19:21] justinr1234 opened #1180 "Unable to join meetings from mobile"
- Your Rocket.Chat Experimental app version: 1.19.0.10996
- Your Rocket.Chat server version: 1.4.0-develop
- Device (or Simulator) you're running with: iPhone XS Max with iOS 12.4.1

When you start a new video chat, on mobile it doesn't show the button to click to view the meeting and just shows as a blank message.

[2019-09-07 12:00] peterchiuglg commented on #989
it doesn't work

[2019-09-07 13:07] gyverchang opened #1181 "[IMPROVEMENT] Compress Pictures on Photo Upload"
Given that mobile devices now can capture up to 40mp photos(Huawei P30 Pro, etc), it takes ages to upload photos up to RocketChat. It would be very cool to have a feature such as WhatsApp that can compress pictures on upload. Rocketchat can take this a step further by offering the user to download the compressed version or the original uncompressed version.

Rocketchat Administrators can choose to

[2019-09-08 22:29] lorek123 commented on #1167
It fails silently on file upload, on share it shows:
![image](https://user-images.githubusercontent.com/1567272/64495308-ac5abb00-d298-11e9-90e6-f35b8dbc6784.png).

[2019-09-09 07:02] longtqdayma opened #1183 "fatal: unable to connect to github.com:"
longdv@longdv-virtual:~/Documents/Applications/Rocket.Chat.ReactNative$ yarn
yarn install v1.17.3
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
error Command failed.
Exit code: 128
Command: git
Arguments: ls-remote --tags --heads git://github.com/gwicke/web-streams-polyfill
Directory: /home/longdv/Documents/Applications/Rocket.Chat.ReactNative
Output:
fata

[2019-09-09 11:19] diegolmello commented on #1167
@lorek123 Nice catch! Let's fix it!

[2019-09-09 18:37] lorek123 commented on #1167
@diegolmello ping me on open if you need any details or to test fix.

[2019-09-12 06:50] longtqdayma opened #1187 "error Couldn't find the binary git"
PS E:\ReactNative\Rocket.Chat.ReactNative> yarn
yarn install v1.17.3
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
error Couldn't find the binary git
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

[2019-09-12 13:06] devadattas opened #1188 "iOS Deprecated API Usage Warning"
- Your Rocket.Chat Experimental app version: 1.18.0
- Your Rocket.Chat server version: 1.3.0
- Device (or Simulator) you're running with: iOS

While deploying Rocket.Chat.ReactNative Binaries to AppStore we get the following warning:

It seems to be related to this issue: https://github.com/react-native-community/react-native-webview/issues/819

Making changes as per https://github.com/react-nativ

[2019-09-12 20:06] rasos opened #1191 "Video and photo upload not working on all devices"
We have tested photo and video  on several devices. Not all devices support that yet.

Taking a photo or video does not start at all on a Nexus Tablet with Android 7.1.1.
On a Huawei P10  Plus, Android 9  we can make the video and after that when I can click on the hook to upload the video I automatically return to the chat, but with no uploaded video.

It works fine on a Fairphone 2 with Android

[2019-09-16 13:18] reetp opened #1193 "Cannot reply with thread/quote to message with image only."
- Your Rocket.Chat Experimental app version: 1.20.0-wm.4.11189
- Your Rocket.Chat server version: 2.0.0 (open.rocket.chat)
- Device (or Simulator) you're running with: Samsung S9

Look for a message that is just an image with a comment.

You cannot long press to reply to the message, quote, start a thread etc. The only action available is to open the image.

[2019-09-16 19:32] lorek123 commented on #1193
Just checked that it works in 1.19, just press above the image. It is unintuitive though...

[2019-09-16 19:47] diegolmello commented on #1193
Yep, the image is a touchable element and it handles press before the message.
There are several ways to fix it... passing `onLongPress` down the tree, using react-native-gesture-handler, etc

[2019-09-16 20:50] #1148 closed

[2019-09-16 21:00] #1150 closed

[2019-09-16 21:10] #1156 closed

[2019-09-16 21:19] #1160 closed

[2019-09-16 21:44] lorek123 commented on #1085
seems fixed in 1.20.0.11229

[2019-09-16 21:44] #1085 closed

[2019-09-16 21:58] lorek123 opened #1194 "[BUG] Custom Emoji rendering issues"
- Your Rocket.Chat Experimental app version: 1.20.11229
Your Rocket.Chat server version: 0.70.4
Device (or Simulator) you're running with: Mi 9

Just pulled newest version from play store and introducing JoyPixels also introduce some issues:
1/
![image](https://user-images.githubusercontent.com/1567272/64996112-58298980-d8dd-11e9-8700-0fe9ae582e65.png)
As you can see, selecting normal emoji puts i

[2019-09-16 22:06] diegolmello commented on #1194
@lorek123 Thanks for opening.
First error is a known issue and happens on web version as well.
It wasn't introduce on this version though.
![image](https://user-images.githubusercontent.com/804994/64996575-ab3b1680-d8b4-11e9-94c6-9d628e4c9e0a.png)

Second error was happening on other versions as well, but it should be fixed on this one.
Let's take a look.

[2019-09-17 02:16] gyverchang commented on #1181
Thank you for your clarification! Is this on the mobile client end or is this implemented on the server end? Thank you!

[2019-09-17 12:25] diegolmello commented on #1181
It's on mobile.

[2019-09-17 12:26] diegolmello commented on #1181
I'm closing this issue, ok?

[2019-09-17 12:26] #1181 closed

[2019-09-18 15:14] diegolmello commented on #1194
@lorek123 It's fixed on 1.20.0 beta, isn't? Can we close it?

[2019-09-18 15:15] diegolmello commented on #1191
@rasos Does the app crash? Can you send us some log report?

[2019-09-18 15:16] diegolmello commented on #1187
@longtqdayma It's a connection issue on your side.

[2019-09-18 15:16] #1187 closed

[2019-09-18 15:19] diegolmello opened #1203 "[CHORE] Use React Fragment shorthand"
We've been using `<React.Fragment></React.Fragment>` in some places, but we should be using its shorthand for better readability: `<></>`.

Normal usage: https://reactjs.org/docs/fragments.html#usage
Short syntax: https://reactjs.org/docs/fragments.html#short-syntax

[2019-09-18 17:17] #1194 closed

[2019-09-18 17:19] lorek123 commented on #1194
Lets close it, future changes about the first issue should needs to be discussed both on web and mobile version.

[2019-09-18 17:32] #711 closed

[2019-09-18 17:32] #1180 closed

[2019-09-18 20:51] lorek123 commented on #1167
@diegolmello maybe this is related to 1191?

[2019-09-19 01:14] marianotribuj opened #1207 "Camera controls don't take locale settings"
- Your Rocket.Chat Experimental app version: 1.19.0.10996
- Your Rocket.Chat server version: 2.1.0-develop
- Device (or Simulator) you're running with: iOS phones & simulator

OS is in Spanish.
Rocket.Chat is in French.

When I click on "Prende une photo", the camera is activated, but the interfase is in English: ("Photo" in the middle and "Cancel" on the Left).

Same thing happens with Video.

Al

[2019-09-19 09:27] yt-dev opened #1208 "[iOS] Metro bundler not opening automatically"
No bundle URL present.

Make sure you're running a packager server or have included a .jsbundle file in your application bundle.

RCTFatal
__28-[RCTCxxBridge handleError:]_block_invoke
_dispatch_call_block_and_release
_dispatch_client_callout
_dispatch_main_queue_callback_4CF
__CFRUNLOOP_IS_SERVICING_THE_MAIN_DISPATCH_QUEUE__
__CFRunLoopRun
CFRunLoopRunSpecific
GSEventRunModal
UIApplicationMain
ma

[2019-09-19 12:10] diegolmello commented on #1208
@yt-dev Hi there. Run `yarn start` in another terminal before running `react-native run-ios`.
Metro bundler stopped to run automatically on RN 0.60.4.
I'll take a look on this issue soon.
Thanks.

[2019-09-19 12:12] diegolmello commented on #1207
@marianotribuj Hi there.
Yep, i18n is missing.
Thank you.

[2019-09-19 15:07] marianotribuj commented on #1207
Do you know if the component (react-native-image-crop-picker) allows i18n'ing? If so I could do it, but wasn't able to find the right props.
Thanks Diego!!

[2019-09-19 16:04] diegolmello commented on #1207
Yes, it does.
We do it here: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageBox/index.js#L107

There are more labels, if you want to translate.
Search for `text` or `title` on their API: https://github.com/ivpusic/react-native-image-crop-picker#request-object

[2019-09-19 17:16] wreiske opened #1209 "User is done typing event not sent after attachment sent."
- Your Rocket.Chat Experimental app version: 1.20.0.11408
- Your Rocket.Chat server version: 2.1.0-develop (open)
- Device (or Simulator) you're running with: Note 10+ 5G

The new Watermelon DB is incredibly fast. Wow!

When typing a message from desktop and watching on mobile, the "user is typing" events are working great and are very quick. Once a message is sent, the typing event goes away.

Ho

[2019-09-19 19:14] 2disbetter commented on #1167
Folks this app is so close to being completely ready. Video calling is in and it works great! Just not being able to upload and files of any kind is the only show stopper. Keep up the great work!

[2019-09-19 19:22] diegolmello commented on #1167
@2disbetter Ok, I'll try to fix in this beta. Can you send us your file upload config of your server?

[2019-09-19 19:45] #1051 closed

[2019-09-19 19:51] lorek123 commented on #872
https://gist.github.com/ilya-uryupov/7bc9515c6d315d4919ff56ebf4e20411 this was mentioned here: https://github.com/facebook/react-native/issues/23653 as hack that fixes the issue, maybe this will help ;)

[2019-09-19 20:23] diegolmello commented on #872
@lorek123 I saw that hack, but I'm sure there's a better way to do it 😕

[2019-09-19 21:48] oguhpereira commented on #649
@diegolmello I will help with it.

[2019-09-19 22:01] djorkaeffalexandre commented on #649
@oguhpereira Thank you, we really appreciate it! ❤️😁

[2019-09-19 23:50] lorek123 commented on #627
can be closed because of: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1171

[2019-09-19 23:53] lorek123 commented on #270
I think this can be closed because of https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1093

[2019-09-20 03:48] yt-dev commented on #1208
@diegolmello It works, thanks :)

[2019-09-20 03:50] #1208 closed

[2019-09-20 16:44] rasos commented on #1191
@diegolmello It seems to be simply a permission issue on our test tablet Nexus 7. Even if the app asks for both permissions to access the camera and have access to stored data, access to image-crop-picker is denied.

Here is the logcat when pressing Take a photo and Take a video:

[code]

[2019-09-21 16:56] G2Jose commented on #786
I'd love to work on this as well! Has any work been done on this already?

[2019-09-23 12:39] #627 closed

[2019-09-23 12:39] #270 closed

[2019-09-23 12:42] diegolmello commented on #1191
@rasos We'll take a look. Thanks.

[2019-09-23 13:20] wreiske commented on #1139
I have not seen this happen since the new changes. I'm going to call this fixed! I'll re-open if I notice this again. Thanks for the quick fix!

[2019-09-23 13:20] #1139 closed

[2019-09-23 15:33] wreiske opened #1216 "Slash commands are passing the first command as an argument"
- Your Rocket.Chat Experimental app version: 1.20.0.11408
- Your Rocket.Chat server version: 2.0.0
- Device (or Simulator) you're running with: Note 10+ 5G

![Screenshot_20190923-111317](https://user-images.githubusercontent.com/6295044/65439672-8e8f6900-ddf5-11e9-83c3-b385631d148e.jpg)

This has been an open issue on the Apps engine since October of 2018 and affected the native apps as well. Noti

[2019-09-23 15:54] wreiske opened #1217 "Admin panel doesn't work right with multiple servers"
- Your Rocket.Chat Experimental app version: 1.20.0.11408
- Your Rocket.Chat server version: 2.0.0
- Device (or Simulator) you're running with: Note 10+ 5G

**Steps to reproduce:**
1. Set the first server as a server that you DO NOT have administrator access to.
2. Setup a second server that you DO have access to admin panel.
3. Click on "Admin Panel" on the second server.

The page will then redi

[2019-09-23 19:45] Prateek93a commented on #1203
Hello, I am new to open source coding and would love to work on this issue, can I work on this one, if nobody's assigned already?

[2019-09-24 02:09] alleniver commented on #1191
i hame the same problem!

[2019-09-24 04:51] Prateek93a commented on #698
Can I work on this one?

[2019-09-24 05:00] Prateek93a commented on #315
@ggazzo Can you please ellaborate on the issue ?

[2019-09-24 05:22] Prateek93a opened #1222 "[BUG] Close SortDropdown on sort select"
- Your Rocket.Chat Experimental app version: latest
- Your Rocket.Chat server version: Official Rocket.Chat server instance
- Device (or Simulator) you're running with: Samsung Galaxy J6 Android 9

In the following gif, the sorting pop up does not close after selecting a sorting scheme, so is this behaviour normal? Would not it be better if the popup closes after selecting an option?

![ezgif com-

[2019-09-24 05:56] Prateek93a commented on #1003
Can I work on this issue if it is still persistent?

[2019-09-24 09:26] alleniver commented on #1191
Could be used normally when I restart The Rocket.Chat Server.

[2019-09-24 12:35] diegolmello commented on #315
@ggazzo I think we don't need this anymore.

[2019-09-24 12:35] #315 closed

[2019-09-24 12:36] diegolmello commented on #1222
@Prateek93a I think we could close on sorting select and leave it open on grouping. Can you work on this fix? Thanks!

[2019-09-24 12:48] Prateek93a commented on #1222
Yes I would love to. I want to work on this

[2019-09-24 13:25] lorek123 opened #1225 "No mention nor emoji dropdowns available when sharing a link"
- Your Rocket.Chat Experimental app version: 1.20.0.11408
- Your Rocket.Chat server 0.70.4
- Device (or Simulator) you're running with: Mi9

When user is sharing a link via share extension and tries to mention or add emoji, he needs to write it manually rather than select it from the list.

[2019-09-24 14:07] diegolmello commented on #979
@Prateek93a No. Please work on #872, #698 or #1111.

[2019-09-24 14:22] Prateek93a opened #1228 "Display popup to indicate changes in Profile while changing screens without saving"
- Your Rocket.Chat Experimental app version: 1.20.0.0
- Your Rocket.Chat server version: 2.1.0-rc.0
- Device (or Simulator) you're running with: Samsung Galaxy J6 Android 9

As one can see in the Gif file, the app does not show any popup to alert the user to save changes before changing the screen or else the changes will be lost. I guess using a popup will improve user experience.

![ezgif com-vi

[2019-09-24 20:10] #1217 closed

[2019-09-24 20:17] #1167 closed

[2019-09-24 20:26] #1203 closed

[2019-09-25 01:59] Prateek93a commented on #979
@diegolmello Ok, I will start working on them.

[2019-09-25 06:00] rasos commented on #1191
Photo upload now works on a Nexus Tablet with Andorid 7.1.1.

Taking a video throws exception:
[code]

[2019-09-25 08:07] Prateek93a opened #1231 "Serverdrop not closing after changing screens"
- Your Rocket.Chat Experimental app version: 1.20.0.9999
- Your Rocket.Chat server version: 2.1.0-rc.0
- Device (or Simulator) you're running with: Samsung Galaxy J6

ServerDropdown does not close even after changing screens.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/44807945/65581686-8708c500-df99-11e9-93e9-bed50b060bcd.gif)

[2019-09-25 13:27] Prateek93a commented on #698
On it

[2019-09-25 21:32] #1209 closed

[2019-09-25 22:14] #1216 closed

[2019-09-26 14:29] #1222 closed

[2019-09-26 16:52] #1046 closed

[2019-09-26 18:35] #1138 closed

[2019-09-27 13:05] filipedelimabrito opened #1248 "[IMPROVEMENT] User details screen"
We should show a user details screen with the user e-mail, timezone and more details (to be checked with the design)

[2019-09-27 13:07] #224 closed

[2019-09-27 13:21] reetp opened #1250 "Cannot remove server from list unless logged in"
- Your Rocket.Chat Experimental app version: 1.20.0.11408
- Your Rocket.Chat server version: 2+
- Device (or Simulator) you're running with: Samsung S9

Someone gave me a test login to a server. I tried to login, but couldn't.

I now cannot remove that server from the server dropdown list so it is now stuck there in perpetuity.

Only option currently is to delete all the data from the DBs/reinstal

[2019-09-27 13:26] reetp opened #1251 "[NFR] "Mark as read" notifications in the Notification bar"
- Your Rocket.Chat Experimental app version: 1.20.0.11408
- Your Rocket.Chat server version: 2+
- Device (or Simulator) you're running with: Samsung S9

A lot of applications have the ability to 'Mark as read' in the dropdown at the top of the screen.

Some like Signal/Whatsapp even let you reply.

Certainly a  'Mark as Read' option would be handy.

[2019-09-27 13:41] reetp commented on #1099
Kind of related

https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1251

[2019-09-27 13:43] diegolmello commented on #1099
This is cool, but not trivial.
It requires silent push notifications from server and a few breaking changes because of it.

[2019-09-27 15:24] lorek123 opened #1253 "sharing screen not loading"
- Your Rocket.Chat Experimental app version: 1.20.0.11716
- Your Rocket.Chat server version: 0.70.4
- Device (or Simulator) you're running with: Mi 9

1/ Try to share link or image
2/ App loading screen shows and stays that way

[2019-09-28 08:25] Prateek93a commented on #698
@diegolmello Sir, while working on the issue, I found that I was unable to log into the console for debugging. I used log statements with remote js debugging on, but still I could not see any output in the console. Can please guide me where I am making mistake. I tried react-native log-android also, but for some reason I am not getting the required output.

[2019-09-30 18:41] davidlougheed opened #1259 "Channel avatars not showing after application unloads"
- Your Rocket.Chat Experimental app version: **Testflight** 1.20.0 (11407)
- Your Rocket.Chat server version: 1.2.1
- Device (or Simulator) you're running with: iPhone 8

When app is first installed, channel avatars are displayed. Eventually (e.g. after the app is closed and re-opened), these are unloaded and only are displayed when the channel receives a new message (and disappear at some point a

[2019-09-30 20:53] davidlougheed opened #1260 "Users with no display name set should display username in profile"
- Your Rocket.Chat Experimental app version: **Testflight** 1.20.0 (11407)
- Your Rocket.Chat server version: 1.2.1
- Device (or Simulator) you're running with: iPhone 8

See attached screenshot for a user without any display name set. It would be nice if this still displayed something, even Unnamed (+ username below) like the web desktop version.

![image1](https://user-images.githubusercontent.c

[2019-10-01 04:06] emilwojcik93 opened #1261 "Giphy preview"
Is there chance to add giphy preview in Rocket Chat Android app like it is in desktop app or Experimental version of android client?

[2019-10-01 04:07] emilwojcik93 opened #1262 "Group and reply notifications"
Is there possibility to add time of messge and how long ago this messge was send and instant reply function? Like it is in Android Native Client.

[2019-10-01 04:11] emilwojcik93 opened #1263 "Paste option"
Rocket.Chat Experimental version: 1.19.0
Rocket.Chat Server version: 2.0.0 - Docker install

Phone:

Huawei P20 Lite [ANE-LX1] - EMUI 9.1.0

I don't have aby possibility to paste content of clipboard in message.

[2019-10-01 08:13] lorek123 commented on #1263
duplicate of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/872

[2019-10-01 12:52] diegolmello commented on #1259
@davidlougheed Can you test on latest TestFlight version?
Does it happen on https://open.rocket.chat for you?

[2019-10-01 12:53] diegolmello commented on #1261
Experimental already has giphy preview

[2019-10-01 12:53] #1261 closed

[2019-10-01 12:53] diegolmello commented on #1262
Can you explain more?

[2019-10-01 12:55] #1263 closed

[2019-10-01 14:56] davidlougheed commented on #1259
I'll have to wait for the TestFlight version to come through.
It doesn't seem to happen on open.rocket.chat; there's some flickering or delayed loading at startup but they all load. I'm not in as many channels though.

[2019-10-01 21:02] #1259 closed

[2019-10-02 01:55] geekgonecrazy opened #1267 "Edit message and quote edits quoted msg"
- Your Rocket.Chat Experimental app version: test flight
- Your Rocket.Chat server version: 2.1
- Device (or Simulator) you're running with: ios 13 iPhone xs

[2019-10-02 05:58] Prateek93a commented on #698
@diegolmello The gif shows the implemented react-native-tab-view. I have used lazy loading  for improving the performance. When I swipe across the screens, it works fine, but when I click on a screen which has not been loaded yet, then the screen hangs a bit, as in the Gif.
Sir, is there a way to improve the performance further? or if this is fine for now, should I raise the PR?
![20191002_111707]

[2019-10-02 09:45] rasos commented on #1141
svg custom emojis seem not to work yet #1164 . I have built and tested with `develop` branch into which it had been merged https://github.com/RocketChat/Rocket.Chat.ReactNative/commit/32a681036ea437da9704cba6545ea00ad0e23dbd

[2019-10-02 11:37] diegolmello commented on #698
@Prateek93a Create a PR and I can help you from there.

[2019-10-02 11:39] diegolmello commented on #1141
@rasos Can you create an issue for svgs custom emojis? I'm closing this issue, because it was related to markdown/joypixels. Thanks.

[2019-10-02 11:39] #1141 closed

[2019-10-03 05:49] babrums commented on #1262
I'm not sure, but looks like @emilwojcik93 means Android N instant reply feature and describing how notifications from Telegram, Google Hangouts and other messengers looks like.

[2019-10-03 12:08] diegolmello commented on #1262
Oh sure. We're going to implement this soon. We'll group notifications by channel as well. Thanks.

[2019-10-04 14:27] gyverchang commented on #1181
Is it a planned feature to enable uncompressed uploads?

[2019-10-04 16:14] Prateek93a commented on #1002
@diegolmello Can I work on this?

[2019-10-04 16:19] diegolmello commented on #1002
@Prateek93a sure

[2019-10-04 17:30] Prateek93a commented on #1002
@diegolmello Sir I tried but could not reproduce the issue, is this issue already fixed?

[2019-10-04 17:49] wreiske commented on #1002
I can't reproduce it currently. I think it happens randomly.... it is very possible they fixed this by switching to watermelon.

[2019-10-04 19:08] ggazzo opened #1276 "insert delete-own-message permission"
see https://github.com/RocketChat/Rocket.Chat/pull/15512

[2019-10-04 20:03] diegolmello commented on #1002
Let's close then.
@wreiske please let me know if you find this issue again.
Thanks.

[2019-10-04 20:03] #1002 closed

[2019-10-05 11:15] andypost commented on #1087
It is really confusing ... I can't remove server from list without connecting to it.
Meantime if server using basic auth there's no way to connect to it

[2019-10-05 12:50] Prateek93a commented on #1169
@diegolmello If nobody has taken up this issue, can I work on this?

[2019-10-06 10:28] Prateek93a commented on #1260
@djorkaeffalexandre Can I work on this ?

[2019-10-06 19:35] rasos opened #1278 "svg custom emojis remain transparent"
Custom emojis in svg are not displayed in the app, the area remains transparent / white.
png works fine, though.

- Your Rocket.Chat Experimental app version: 1.20

#1141
May be related with not displaying svg inline images in markup  #302.

[2019-10-07 13:10] dusatvoj opened #1316 "[BUG] - Missing / Hidden messages"
### Description:

When one user in our system writes a message from android RC Experimental so some other people (don't know if all of people in specific channel) including him can't see his messages in WebUI or RocketChat desktop apps but they can see this message in RC Experimental on phone. I don't know how to reproduce it or what's wrong but it has critical severenity for us.

### Expected beh

[2019-10-07 18:57] Nirkus opened #1279 "Release 1.20.0 on Google Play while latest github release is 1.19.0"
- Your Rocket.Chat Experimental app version: 1.20.0.11895
- Your Rocket.Chat server version: n/a
- Device (or Simulator) you're running with: n/a

Hi,

Google Play store distributes release 1.20.0 since 2nd Oct 2019, while the latest release and tag within this github repo today (7th Oct 2019) is 1.19.0.
Isn't this the authoritative git repo for Rocket.Chat Experimental on Google Play?

https://pl

[2019-10-07 19:05] diegolmello commented on #1279
@Nirkus We have experimental both on Google Play and App Store.
We used to set a release tag and then send the app to the stores, but Apple can reject our App and forcing us to release another tag.
We're now always making sure everything is approved before releasing on the repo and that's the case for this version.
1.20.0 is released on Google Play since Oct 2nd, but it was approved by Apple only

[2019-10-07 19:05] #1279 closed

[2019-10-07 19:21] Nirkus opened #1280 "Messages posted via Rocket.Chat Experimental not visible in browser"
- Your Rocket.Chat Experimental app version: 1.20.0.11895
- Your Rocket.Chat server version: 1.3.2
- Device (or Simulator) you're running with: Google Pixel 3a

Since the update to RC Experimental 1.20 (see also #1279), at least some messages posted from the app are not visible for me in the browser.
Only messages sent from my own account from the app seem to be invisible. Other users can see thos

[2019-10-07 19:28] Nirkus commented on #1279
Thank you for the fast reponse.
Can't help it, but this sounds upside down to me.. :)
Couldn't you just push a non-release tag before releasing to app stores and push the release tag after everything is approved?

[2019-10-07 19:30] diegolmello commented on #1279
@Nirkus Np. Let's try that next time.

[2019-10-08 11:18] Prateek93a commented on #1169
@diegolmello Sir, I have fixed the issue, can I raise the PR?

[2019-10-08 12:21] diegolmello commented on #1169
@Prateek93a Don't be shy. You can always open PRs helping us. You don't have to ask :)

[2019-10-08 12:59] Prateek93a commented on #1169
@diegolmello  Ok Sir, thanks.

[2019-10-08 15:19] #1253 closed

[2019-10-08 19:14] diegolmello opened #1286 "Refactor RoomActionsView"
We're using `SectionList` on `RoomActionsView` and it makes it really hard to maintain.
`SectionList` requires data to be split into sections of arrays.
While this is helpful on structured data, it's unnecessary hard to read in our case with *almost* static data.

Also we're using a [`get sections`](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/RoomActionsView/index.

[2019-10-08 20:00] ghalestrilo commented on #1286
Cool, I want to work on that! Do you mind if I fork the repo?

[2019-10-08 20:01] diegolmello commented on #1286
@ghalestrilo This task is already taken. I can find another one for you if you don't mind.

[2019-10-08 20:11] ghalestrilo commented on #1286
No problem, looking forward to it

[2019-10-08 20:18] diegolmello opened #1287 "[IMPROVEMENT] Respect "Hide counter" preference"
If "Hide counter" is set, we shouldn't show alerts from the channel.

- Web behaviour (correct):
![image](https://user-images.githubusercontent.com/804994/66429418-62c3d400-e9ee-11e9-8660-00bd49d7db2d.png)

- App behaviour (incorrect):
<img width="350" alt="Screen Shot 2019-10-08 at 17 08 51" src="https://user-images.githubusercontent.com/804994/66429876-58560a00-e9ef-11e9-8414-3356235560a8.png">

[2019-10-08 20:19] diegolmello commented on #1287
@ghalestrilo can you work on this one? Thanks!

[2019-10-08 20:27] diegolmello opened #1288 "[CHORE] Remove icons folder"
Remove unnecessary `icons/` folder

[2019-10-08 20:33] diegolmello opened #1289 "[CHORE] Refactor RoomItem touchable"
RoomItem's touchable logic can be removed away into a HOC (high-order component).
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/presentation/RoomItem/index.js#L242

It'll make the component easier to read.

[2019-10-09 21:47] isandrade opened #1292 "Can't connect to http server"
- Your Rocket.Chat Experimental app version: 1.20.0
- Your Rocket.Chat server version: 0.57.2
- Device (or Simulator) you're running with: Pocophone F1

I'm trying to connect to a server hosted in the company I work for, and I'm failing to make it happen in mobile apps (React and Kotlin version).

in Ubuntu desktop version or accessing from mobile browser it's working well under the URL http://li2

[2019-10-10 05:26] ankar84 opened #1294 "No send message button after Video Call with Jitsi Meet"
- Your Rocket.Chat Experimental app version: **1.20.0.11895**
- Your Rocket.Chat server version: **2.1.0**
- Device (or Simulator) you're running with: **Xiaomi Redmi Note 4x Snapdragon**

After user made **Video call** using **Jitsi Meet**, there is no send button (blue arrow) to send messages to chat.
User can fix that by go back to home screen and to chat again.
And choose Emoji and that back t

[2019-10-10 10:46] lorek123 commented on #1292
From Readme:
Supported Server Versions: 0.70.0+
Check if you can connect after update ;)

[2019-10-10 11:55] ankar84 commented on #1294
Now I did reproduce that bug on **Xioami Redmi Note 5**.
Steps to reprosuce:
1. Start Video Call in personal chat in **"..." Video Call**
2. Press **red button** to end Video Call. Now you see user menu with audio and video call on top.
3. Press **left arrow** on top or **back smartphone button** to go to chat again
4. Try to write a new message. **Microphone** and **plus** icons does not desapear

[2019-10-10 11:58] ankar84 commented on #1294
Checked that bug **on iOS - no bug**, all works as it should work.

[2019-10-10 12:01] ankar84 commented on #1294
Same bug on Samsung S8 on Android 9.

- Your Rocket.Chat Experimental app version: 1.20.0.11895
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Samsung S8

[2019-10-10 12:20] diegolmello commented on #1294
@ankar84 Ok, we'll take a look. Thanks.

[2019-10-10 12:50] gyverchang opened #1295 "Channel Preview not updating"
- Your Rocket.Chat Experimental app version: 1.20
- Your Rocket.Chat server version: 2.1
- Device (or Simulator) you're running with: Huawei P20 Pro, Android 9.

After replying or receiving a reply, the channel preview is not updated. There is no way to force this except to force close the app and open it. 90% of our user base is getting this issue, personally I get this all the time.

Attached ar

[2019-10-10 13:09] gyverchang opened #1296 "Messages that are sent remained "low key""
- Your Rocket.Chat Experimental app version: 1.2
- Your Rocket.Chat server version: 2.1
- Device (or Simulator) you're running with: Huawei P20 Pro, Android 9

Messages that are being sent and pending confirmation are usually greyed out and it will turn normal black once it is received by the server.

However, there are many instances where the message remain greyed out for an extended period of t

[2019-10-10 13:56] isandrade commented on #1292
Thank you, @lorek123. I looked at the code but not the readme :man_facepalming:

Suggest: the error message could be better. It says the URL I entered is invalid, but this is not the real problem.

[2019-10-10 13:56] #1292 closed

[2019-10-10 16:34] jewom opened #1297 "library not found for -lBugsnagReactNative with iOS"
Hello,

I have this error when I try to compile the app for iOS :

[code]

I don't know why...

[2019-10-10 19:32] djorkaeffalexandre commented on #1297
@jewom What is your Xcode version?

[2019-10-11 01:45] Prateek93a commented on #1289
@diegolmello
hoc-> https://github.com/Prateek93a/Rocket.Chat.ReactNative/blob/hoc-fix/app/presentation/RoomItem/withTouchableComponent.js

index-> https://github.com/Prateek93a/Rocket.Chat.ReactNative/blob/hoc-fix/app/presentation/RoomItem/index.js

Is this how we had to implement hoc?

[2019-10-11 08:38] 2disbetter opened #1301 "Notification disregard sorting settings"
- Your Rocket.Chat Experimental app version: 1.20
- Your Rocket.Chat server version: 1.3.2
- Device (or Simulator) you're running with: Moto G7 Power (Android 9)

When tapping on a notification the sorting conditions of the chat/channel list are ignored and erased . I for example sort alphabetically, by group, by favorites, and unread on top. When I tap on a notification these settings are erased

[2019-10-11 10:22] jewom commented on #1297
I have the version 11.0 of XCode

[2019-10-11 10:51] Nirkus commented on #1280
Meanwhile I encountered messages sent by other users that are not visible within the browser (web app).

Since the Kotlin Android app stopped implementing server features several months ago, this issue leaves Android users with the choice of not having support for server features from several months ago or risk sending invisible messages.

Any feedback on this?

As already mentioned, messages seem

[2019-10-11 12:38] diegolmello commented on #1289
@Prateek93a Cool, but I was thinking more like:
[code]

instead of

[code]

[2019-10-11 13:11] wreiske commented on #1280
We are seeing this same behavior. Users are reporting getting a notification but the message does not show up on desktop. If they check in mobile, the message is there.

[2019-10-11 13:16] diegolmello commented on #1280
@Nirkus @wreiske I'm taking a look now. I'll release a patch asap.

[2019-10-11 13:28] diegolmello commented on #1280
@Nirkus Can you confirm this bug happens on 1.20.1.12048? (it's latest beta)

[2019-10-11 13:38] wreiske commented on #1280
I don't think this is related to TMID because we have 590954 messages without a tmid in our instance.

[code]

[2019-10-11 13:54] Nirkus commented on #1280
* after joining the beta and updating to RCE 1.20.1.12048 all my messages sent from RCE are visible in the webapp (browser)
* after leaving the beta, uninstalling and re-installing RCE, all my messages sent from RCE are not visible in the webapp (browser)
* after re-joining the beta, uninstalling and re-installing RCE, all my messages sent from RCE are visible in the webapp (browser)

Looks good t

[2019-10-11 14:02] diegolmello commented on #1280
@Nirkus Nice to hear that!
I'll do more tests to make sure it's really fixed. Let me know if it happens again.
Thank you.

[2019-10-11 14:23] Nirkus commented on #1280
Once everything is confirmed, a client or server side migration for effected messages would be great.
Or at least a documented script / query to fix effected messages.

[2019-10-12 16:22] rasos commented on #1294
Confirmed on 1.20 build. Only if you leave the channel and enter it again you can send a text message, after having started a video call.

[2019-10-12 17:05] lorek123 commented on #926
Kotlin app used to be on F-Droid: https://f-droid.org/en/packages/chat.rocket.android/ (actually it's still there, but it was not updated for a while)
You should consider adding this app to it before you move with replacing Kotlin app with ReactNative one as in https://rocket.chat/2019/10/11/moving-mobile-apps-to-react/

[2019-10-14 22:16] davidlougheed opened #1305 "In some cases, new messages in conversations are not loaded"
- Your Rocket.Chat Experimental app version: 1.21.1 12049
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: iPhone 8

Basically, in some cases messages are available in the preview but don't appear when the channel is clicked on. App restarts don't fix this, and new messages may appear as normal, leading to a fragmented conversation history.

Had a conversation

[2019-10-14 23:44] CalebeRios commented on #1287
Someone already taken this issue?

[2019-10-15 12:39] asarubbo opened #1307 "Rocket.Chat default user-agent "okhttp""
- Your Rocket.Chat Experimental app version: 1.20.1
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Lenovo K6 (K33a48) - Android 7.0

We have:
- nginx-1.16.1
- nginx with ssl enabled
- nginx listen on a port different to 443
- nginx that serves rocket.chat on a path different than "/"

So compared to "open.rocket.chat" it would be:
https://open.rocket.chat:200

[2019-10-15 12:48] asarubbo commented on #1307
This is what we are able to see from the nginx log:

[code]

[2019-10-15 13:07] asarubbo commented on #1307
I'm sorry for the spam but it was a server-side issue. There was a block for the user agent "okhttp", this is the reason because it failed with the app and went fine with curl.

Since "okhttp" is a common user agent, sometimes blocked, can the app make the request with a more custom user-agent that refer to rocket.chat?

[2019-10-15 13:28] djorkaeffalexandre commented on #1307
Hi @asarubbo , can you give me your username on https://open.rocket.chat?

[2019-10-15 13:30] asarubbo commented on #1307
Hi, I'm @agostino on open.rocket.chat

[2019-10-15 14:25] asarubbo commented on #1307
A summary after a discussion on open.rocket.chat with @djorkaeffalexandre.

Atm the ReactNative app uses "okhttp" as user-agent:
[code]

This user-agent refers to the library and sometimes can result as a bad user-agent because it is used to make scans over the web.
I'd suggest to use a custom user-agent that also can help to identify the client on the server logs.
Atm, the Kotlin version has:
[co

[2019-10-16 00:29] gdantkat commented on #1307
Hi,
I have noticed exactly the same behavior

I have a rocket chat server v 2.1.0 (on docker)
behing an nginx reverse proxy (normally it's well configured as per the documentation)
From Rocket Chat 4.0.0  (on a Xiaomi phone android 8.1.0) : **KO** Same error as mentionned above : "Oops! The URL you entered is invalid. Check it and try again, please!"
From the web interface, access and communicatio

[2019-10-16 00:44] djorkaeffalexandre commented on #1307
Hi @gdantkat , you know if you block `okhttp` user-agent?

[2019-10-16 00:48] gdantkat commented on #1307
From the logs, there has been some 200 response to a GET request so i am guessing not
I haven't done somethingn to explicitely block it, but dunno if there's something implicitely blocking that user-agent.

Btw i am on the rc chat my username is @ant_r

[2019-10-16 06:59] asarubbo commented on #1307
Since the response is 200, it shouldn't be blocked.

[2019-10-16 20:12] #1307 closed

[2019-10-17 10:06] asarubbo commented on #1307
The bug was closed but the relative pr was not merged...

[2019-10-17 10:21] tctovsli opened #1313 "Message attachment color not showing"
- Your Rocket.Chat Experimental app version: 4.0.0.2084 - Not Experimental

- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Samsung S8

**Message attachment color not showing**
We have alerts posted to RocketChat from various sources, which is using attachment colors to show if a problem has occured (color RED) or if it is resolved (color GREEN).
This worked o

[2019-10-17 11:17] ghtjiann4321 opened #1314 "No Readme information about setting up single server"
- Your Rocket.Chat Experimental app version: latest
- Your Rocket.Chat server version: latest
- Device (or Simulator) you're running with: Android Studio Emulator

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2019-10-17 13:12] reetp opened #1315 "Cannot go to message from Search"
- Your Rocket.Chat Experimental app version: 1.20.1.12048
- Your Rocket.Chat server version: 2.2.0-develop
- Device (or Simulator) you're running with: Samsung S9

Actual behaviour:

Go to Channel, Actions, Search
Enter search term
Results list
Try to click or long press results in no action

Expected behaviour:

Go to Selected message

As a side note, there probably should be some 'Back' to retur

[2019-10-17 13:12] reetp commented on #1315
Possibly linked
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1010

[2019-10-17 13:16] reetp commented on #1314
This repo is specifically for Issues with the React Native application, not general help or support.

For the server please read here:
https://rocket.chat/docs/
https://rocket.chat/docs/getting-support/
https://github.com/RocketChat
https://github.com/RocketChat/Rocket.Chat

[2019-10-17 17:06] djorkaeffalexandre commented on #1316
@dusatvoj solved it for you with the latest beta?

[2019-10-17 19:57] vitorandos opened #1317 "Push notifications not working"
- Your Rocket.Chat Experimental app version: 1.20.1.12049
- Your Rocket.Chat server version: 2.2.0-develop
- Device (or Simulator) you're running with: iPhone 8 Plus (iOS 13)

I'm not getting any notifications when I receive a new message, either from a private group or direct messages. In-app notifications still work though.

[2019-10-17 20:40] #1317 closed

[2019-10-18 16:02] dusatvoj commented on #1316
It seems solved now. I forgot to close it. Thank's @djorkaeffalexandre

[2019-10-18 16:02] #1316 closed

[2019-10-18 16:04] djorkaeffalexandre commented on #1316
Nice! You're welcome! 😁

[2019-10-18 19:01] djorkaeffalexandre commented on #1307
@asarubbo Hi, now we changed our `User-Agent`! You can block `okhttp` on your proxy! :)

[2019-10-21 18:22] marianotribuj commented on #1297
Hello! Any updates about this issue? Facing same problem. Xcode 11.1. Thanks

[2019-10-21 19:42] marianotribuj opened #1321 "react-native run-ios failed for Yoga case problem"
- Your Rocket.Chat Experimental app version: 1.20.0
- Your Rocket.Chat server version: N/A
- Device (or Simulator) you're running with: N/A

After cloning the latest version, when run react-native run-ios, I've received an error about not being able to find a folder:

My Folder:
/Rocket.Chat.ReactNative/ios/Pods/Target Support Files/yoga/yoga-prefix.pch"

Needed Folder:
/Rocket.Chat.ReactNative/io

[2019-10-21 20:32] djorkaeffalexandre commented on #1321
Hi! If you run `cd ios & pod install` it will be fix..
We use Pod v1.6.2, you too can downgrade your cocoapdos to this version.

[2019-10-22 08:42] jewom commented on #1297
Hi, no nothing :/

[2019-10-22 12:11] djorkaeffalexandre commented on #1321
@marianotribuj works?

[2019-10-22 12:12] djorkaeffalexandre commented on #1297
Hi @jewom , try it https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1321#issuecomment-544695200 and let me know if works

[2019-10-22 12:35] chicchi7tmp opened #1323 "Crash immediately after the channel list is displayed."
- Your Rocket.Chat Experimental app version: 1.20.1
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Android9(Sharp SH-M10)

When the application is started with the server registered, the application crashes immediately after the channel list is displayed.

This event did not occur in the kotlin version.
This phenomenon occurs even in new accounts that do not

[2019-10-22 13:08] marianotribuj commented on #1321
Hi! Thanks for your answer. I've just tried, but it looks like either I don't have cocoapods on my path, or its not installed at all. Which seems odd, since I've seen on the logs that somehow it has been executed in the past (I have a working app with a forked version).
While writing this message I've realized  that by mistake I opened the RocketChat project, instead of the workspace (in xcode).
N

[2019-10-22 14:10] djorkaeffalexandre commented on #1321
Oh nice! 😁❤️

[2019-10-22 14:10] #1321 closed

[2019-10-22 21:30] djorkaeffalexandre commented on #1323
Hello @chicchi7tmp , can you give-me logs? If not, can you explain more about it? Your site name have multi-byte characters?

Thanks very much! ❤️

[2019-10-23 17:08] chicchi7tmp commented on #1323
Hello djorkaeffalexandre.

I'm not an android app developer so I don't know how to get logs. I'm sorry. Please give me a hint to get the logs.

Instead, when I crashed the app several times on my device, I was able to send logs with android's feedback function. (may be a feature of google play)
The time when the feedback was sent is around 1:30 JST, 24/10/2019. I wrote the title and number of this

[2019-10-24 09:41] seasick opened #1325 "Not all uploads are successful"
- Your Rocket.Chat Experimental app version:4.0.2.2087
- Your Rocket.Chat server version: 2.0.0
- Device (or Simulator) you're running with: Google Pixel 2

Basically the same as [this issue](https://github.com/RocketChat/Rocket.Chat.Android/issues/2507) but I realized that this is a _Rocket.Chat.ReactNative_ issue, thus created it here.

Looking at `adb logcat` I found this error when uploading (

[2019-10-24 11:05] aimador commented on #1325
I was told to move to the React Native section since I have the same upload problem
["old" Android App #2507](https://github.com/RocketChat/Rocket.Chat.Android/issues/2507)

[2019-10-24 11:09] antgel opened #1326 "User still seeing v3.5.1 in Play Store"
I first opened https://github.com/RocketChat/Rocket.Chat.Android/issues/2503, and was told to open here, so here goes:

## Describe the bug
User still seeing v3.5.1 in Play Store, even though 4.0.0 has been out for a while.

## To Reproduce
Have that user's device and open RC in the Play Store.

## Expected behavior
v4.0.0 would be available for download.

## Screenshots
![image](https://user-imag

[2019-10-24 11:14] djorkaeffalexandre commented on #1326
Hi @antgel, we haven't released v4.0.0 for all users. We're making a gradual release

[2019-10-24 11:40] antgel commented on #1326
@djorkaeffalexandre Ah, okay, thanks for the explanation. When will it be fully released, and how can users know this?

[2019-10-24 11:41] djorkaeffalexandre commented on #1326
You're welcome! We'll make a release tag on this repository when it is fully launched! 😁

[2019-10-24 11:48] djorkaeffalexandre commented on #1323
Hello @chicchi7tmp , your server has `subpath` on url?
E.g.: `https://server.com/subpath`

[2019-10-24 11:52] antgel commented on #1326
Thanks again, following. Is this going to be a regular thing or just for the initial roll-out (replacing the Kotlin app)?

[2019-10-24 11:55] djorkaeffalexandre commented on #1326
I think it is only to replacement :)

[2019-10-24 11:59] antgel commented on #1326
Okay, thanks again, looking forward to full roll-out. The UX is so much improved over Kotlin, and I remember when this project started, you've done it in a pretty short time...

[2019-10-24 11:59] #1326 closed

[2019-10-24 12:00] djorkaeffalexandre commented on #1326
You're welcome! We're here to you always.. :)

[2019-10-24 12:48] djorkaeffalexandre commented on #1325
@aimador where you is uploading? Share extension or Room View?

[2019-10-24 12:56] MiaoMiaoai opened #1327 "No bundle URL present Make sure you’re running a packager server or have included a .jsbundle file"
- Your Rocket.Chat Experimental app version: 1.20.1.100
- Your Rocket.Chat server version: 2.1.1
- Device (or Simulator) you're running with: Simulator iPhone X

What are the following mistakes？
react-native run-ios  error:
<img width="277" alt="截屏2019-10-24下午8 42 28" src="https://user-images.githubusercontent.com/19339100/67487047-cbbe7380-f69f-11e9-821c-53f081c27af7.png">

[2019-10-24 13:04] djorkaeffalexandre commented on #1327
Hello @MiaoMiaoai , unfortunately we have an issue with react-native script, it not run metro bundler automatically and you need to run `yarn start` on project folder..

[2019-10-24 14:24] marianotribuj opened #1328 "Unable to debug on iOS Simulator"
- Your Rocket.Chat Experimental app version: 1.20.0
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Simulator Xcode 11.1

After updating the project to version 1.20.0 (I believe it's actually related to RN update from 0.59... to 0.60...); I'm unable to debug it anymore. When I open the contextual menu and select "Debug", the app reloads, and the simulator scre

[2019-10-24 14:48] djorkaeffalexandre commented on #1328
@marianotribuj We use [Reactotron](https://github.com/infinitered/reactotron) to debug our project. :)
I'll try to fix default Debug on React DevTools.
Thx. :+1:

[2019-10-24 15:00] aimador commented on #1325
Sorry, I don't really know what you're referring to. I've opened either a channel or a private conversation and used the "+" next to the input field. I assume you're referring to the room view. I did not use any share functionality so far.

[2019-10-24 15:09] djorkaeffalexandre commented on #1325
@aimador Can you give-me your username on https://open.rocket.chat if you have?

[2019-10-24 15:17] chicchi7tmp commented on #1323
Hello djorkaeffalexandre.
yes.
https://chat.server.com:10443/chat/

[2019-10-24 15:27] marianotribuj commented on #1328
Just something that might help, if I run Android emulator, the debug works well.

[2019-10-24 15:37] djorkaeffalexandre commented on #1323
Oh ok! We make a new version with fix to this problem.
When you have subpaths on url it crashes the app..
Soon we launch the 1.20.2 release version!
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1322
Thx ❤️

[2019-10-24 17:29] chicchi7tmp commented on #1323
The fix was confirmed with Rocket.Chat Version 4.0.2.2087. The app not crash.
Thank you very much!😍

[2019-10-24 17:29] #1323 closed

[2019-10-25 14:59] marianotribuj commented on #1328
I think it would be great for new users, to have a small onboarding document with the tools "recommended" for working with Rocket.chat by the lead developers. For example, I've been building my forked version since may; and never needed to install cocoapods (to be able to do what you've recommended a couple days ago -pod install-).
If you want, just create a bulleted list of tools, and I offer mys

[2019-10-28 08:37] shubhamofbce commented on #1260
I would like to work on this issue. Can I??

[2019-10-28 11:44] diegolmello commented on #1260
@shubhamofbce Sure!

[2019-10-28 12:36] soundstorm commented on #1301
Also applies to iPhone. But no need to re-set them, restart of the app loads the right settings, only when opened from an notification it is temporarily sorted wrong.

[2019-10-28 12:46] #1231 closed

[2019-10-28 16:07] diegolmello commented on #1301
We'll take a look. Thanks!

[2019-10-28 20:04] #1287 closed

[2019-10-28 20:51] #1294 closed

[2019-10-28 20:58] #1288 closed

[2019-10-29 10:53] MiaoMiaoai opened #1332 "iOS error:Failed to open the database. unable to open database file: file on the Real machine"
- Your Rocket.Chat Experimental app version: 1.20.1.100
- Your Rocket.Chat server version: 2.1.1
- Device (or Simulator) you're running with: iPhone 7P
Running on a real machine error:
<img width="843" alt="截屏2019-10-29下午6 52 32" src="https://user-images.githubusercontent.com/19339100/67761018-67275e00-fa7d-11e9-86f7-4fe9ea5e075a.png">
<img width="886" alt="截屏2019-10-29下午6 52 38" src="https://user

[2019-10-29 11:40] djorkaeffalexandre commented on #1332
@MiaoMiaoai it should fixed by https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1322 .
Can you confirm?

[2019-10-29 11:50] MiaoMiaoai commented on #1332
@djorkaeffalexandre  If I change my Bundle ID run on a real machine , I will report an error.

[2019-10-29 12:10] MiaoMiaoai commented on #1332
<img width="682" alt="截屏2019-10-29下午8 07 33" src="https://user-images.githubusercontent.com/19339100/67765854-0ea98e00-fa88-11e9-9ddd-6387d27f8463.png">
<img width="669" alt="截屏2019-10-29下午8 07 48" src="https://user-images.githubusercontent.com/19339100/67765855-10735180-fa88-11e9-8320-38522a957e0d.png">
<img width="523" alt="截屏2019-10-29下午8 07 57" src="https://user-images.githubusercontent.com/19

[2019-10-29 12:31] djorkaeffalexandre commented on #1332
You need to change here to your App Group Identifier: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/database/index.js#L28

[2019-10-29 12:42] MiaoMiaoai commented on #1332
@djorkaeffalexandre  Thank you very much for solving my problem.

[2019-10-29 12:47] #1332 closed

[2019-10-29 13:12] lucasPereira opened #1333 "Slash added at the end of CAS login URL"
- Your Rocket.Chat Experimental app version: 1.20.1
- Your Rocket.Chat server version: 0.72.3
- Device (or Simulator) you're running with: Moto G Play (Android 7.1.1)

Authentication with CAS does not work in the app. The mobile app adds a slash at the end of the CAS login URL. The slash breaks the redirection to the CAS server authentication page.

## Example:

Site URL setting: `https://myrocket

[2019-10-29 13:49] diegolmello opened #1334 "[TESTS] Add markdown to storybook"
We should write stories to ensure markdown is working properly.

[2019-10-29 13:58] djorkaeffalexandre commented on #1327
@MiaoMiaoai fixed?

[2019-10-29 14:00] diegolmello commented on #1250
Duplicated #1087

[2019-10-29 14:00] #1250 closed

[2019-10-29 14:16] djorkaeffalexandre commented on #1297
@jewom It was fixed for you?

[2019-10-29 15:48] asarubbo commented on #1307
Ok, it works..I just was focused only on Experimental :D

[2019-10-30 04:54] jewom commented on #1297
I will try it in 5 days, I'm in holidays for the moment.

[2019-10-30 14:47] disaster123 opened #1343 "notifications have or use the wrong url"
- Your Rocket.Chat Experimental app version: 1.20.1
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: iOS 13.2

We're running the Rocket.Chat Server behind two different URLs and behind two different proxies. While the native iOS app opens the correct server when clicking on a notification. The react app always tries to open the internal url but no the one of th

[2019-10-30 23:08] LeeThompson opened #1347 "[IMPROVEMENT] Support insecure servers"
- Your Rocket.Chat Experimental app version: whatever is on google play
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: samsung galaxy tab 3

The server is private for friends and family and isn't using https

The experimental client now says the url is invalid  and it is not.

Unacceptable.

[2019-10-31 00:16] djorkaeffalexandre commented on #1347
Hi @LeeThompson , can you give me more info about your server?
Has `subpath` on url?
You're using explicit `http://` on url?
What is your version? (You can find this on App Info)

[2019-10-31 01:53] wreiske commented on #872
Me waiting for paste fix....

![image](https://media.giphy.com/media/3o7TKILKwQCtphbl7y/giphy.gif)

[2019-10-31 02:06] wreiske opened #1348 "Clicking user avatar in thread previews crashes app"
- Your Rocket.Chat Experimental app version: 1.20.2.12349
- Your Rocket.Chat server version: 2.3.0-develop
- Device (or Simulator) you're running with: Note 10+ 5g

**Video of the crash:**
https://open.rocket.chat/channel/react-native?msg=kc4533XKJoaQFfrMX

**Steps to reproduce:**
1. Open a channel
2. Click the discussions button to see all the threads/discussions in the channel
3. Click on a user

[2019-10-31 02:11] wreiske opened #1349 "Can't open #sandbox channel on open"
- Your Rocket.Chat Experimental app version: 1.20.2.12349
- Your Rocket.Chat server version: 2.3.0-develop
- Device (or Simulator) you're running with: Note 10+ 5g

**Video of the issue:**
https://open.rocket.chat/channel/react-native?msg=W6yZmfG8GEe4pqyHY

**Steps to reproduce:**
1. Try to join #sandbox on open
2. ![wait forever](https://media.giphy.com/media/o5oLImoQgGsKY/giphy.gif)

![7ib5wxsjw

[2019-10-31 04:03] LeeThompson commented on #1347
I'll gather the additional data when I can (not near the device right now).

I used "http://" explicitly in the URL string.   I'm also running RocketChat on port 3000 so http://[myrocketchatserver]:3000      There are no subpaths on the URL.

While I have a long-term goal to have reverse proxy setup for RocketChat with a self signed SSL certificate the ROOT_URL setting in RocketChat makes it an 'a

[2019-10-31 07:11] ankar84 commented on #1348
I reproduced that bug. Even if user has not avatar, App will crash the same way.

[2019-10-31 07:16] ankar84 commented on #1349
I do not confirm that bug.
I did successfully joined to #sandbox using Rocket.Chat Experimental app version 1.20.2.12349
And leaved a message with no problems.
Device (or Simulator) you're running with: Xiaomi Redmi Note 4x

[2019-10-31 11:13] diegolmello commented on #1347
I don't think starting to support insecure servers is a bug.
If we think on implementing it would be a feature.
On iOS, Apple allows it only by adding an exception like this:
[code]

We would have to figure out how to do that in runtime, since we would want to enable insecure calls only to the selected server.
Another option would be to enable it to any connections, but we need to implement it **c

[2019-11-01 00:40] JoshMcCullough opened #1353 "HTTP redirection not supported"
- Your Rocket.Chat Experimental app version: 4.0.2
- Your Rocket.Chat server version: 1.3.2
- Device (or Simulator) you're running with: Pixel 2 / Android

App does not respect HTTP 30x redirects. For example, if I try to connect with the server URL "https://mysite.net", which we always redirect to "https://www.mysite.net", I won't be able to get past the login screen. In this case we always redir

[2019-11-01 06:53] MiaoMiaoai commented on #1327
@djorkaeffalexandre Solved

[2019-11-01 07:20] phamhien2102 commented on #1328
I also have a same issue. Anyone fixed this?

[2019-11-01 08:29] Kusig opened #1354 "CAS Login adds / to the given login url"
See the following issue here as well, it is the same:  https://github.com/RocketChat/Rocket.Chat.Android/issues/2513

## Description
Connection via CAS Login page doesn't work anymore.  This was working for a long time without problems but with the newest versions of the mobile apps (Android app and Experimental app) there is a problem.

Analysis of our experts showed that since some time, the app

[2019-11-01 09:09] redw0lf opened #1355 "Cannot connect to server secured with .htaccess"
- Your Rocket.Chat Experimental app version: 4.0.2.2087
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: One Plus 6

Using the current experimental version of the app available in the Play Store I cannot connect to our server, which is behind a login with user password configured via .htaccess.
The URL I enter in the connection part is `https://username:passwor

[2019-11-01 11:01] ankar84 opened #1356 "Add JWT authorization support to Rocket.Chat.ReactNative clients."
- Your Rocket.Chat Experimental app version: **4.0.2.2087**
- Your Rocket.Chat server version: **2.1.0**
- Device (or Simulator) you're running with: Xiaomi Redmi Note 4x
After implementing [[NEW] Jitsi meet room access via a token #12259](https://github.com/RocketChat/Rocket.Chat/pull/12259) we can successfully connect securly from Windows desktop clients to Jitsi calls. User with meet link but w

[2019-11-01 12:12] diegolmello commented on #1354
@Kusig Can you reach me on https://open.rocket.chat? I'm `@diego.mello`.
I'll take a look on this ASAP!

[2019-11-01 13:15] reetp opened #1357 "Crash on scrolling back long thread"
- Your Rocket.Chat Experimental app version: 1.20.2-screens-disabled.999999999
- Your Rocket.Chat server version: open.rocket.chat - 2.3.0-develop
- Device (or Simulator) you're running with: Samsung S9

As per discussions with Diego. Bug report sent.

Go to thread
Scroll back fairly quickly
Crash.........

Here's a recent one that crashes or locks.

https://open.rocket.chat/channel/support?msg=TJ

[2019-11-01 16:04] lorek123 opened #1358 "[Feature] Support for fingerprint scanner"
Signal and Whatsapp have a feature that allows to add additional fingerprint scan check before accessing the app. Face ID would be also a nice option if fingerprint scanner is not available. In case of loosing possibility to authenticate there should be an fallback to authenticate using PIN or user password.

an article that I've found looking for examples is React Native: https://blog.theodo.com/

[2019-11-01 17:00] marianotribuj opened #1359 "App crashes on iOS when taking a Video"
- Your Rocket.Chat Experimental app version: develop
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Iphone 11

I can record audios ok, take photos ok, but when try to take a video, the app crashes before showing the UploadModal (I can take the video, but when I click on Use Video it crashes).

It's a clean clone of the current develop branch (the master is th

[2019-11-02 19:51] Shing-Ho opened #1364 "Running the project linking issue."
- Your Rocket.Chat Experimental app version: recent version. https://github.com/RocketChat/Rocket.Chat.ReactNative develop branch 2019-11-1
- Your Rocket.Chat server version: original server
- Device (or Simulator) you're running with: iPhoneX

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or g

[2019-11-03 13:29] dusatvoj commented on #1295
+1

[2019-11-03 18:51] marianotribuj commented on #1359
Maybe it could help, this is a crash report from Test Flight.

Thanks!

<img width="589" alt="Screen Shot 2019-11-03 at 15 50 04" src="https://user-images.githubusercontent.com/7409376/68090369-b5f43f80-fe51-11e9-9947-dc15696562d6.png">

[2019-11-04 09:45] kuluev commented on #1305
Same on Android
App version: 4.0.2
Server: 2.2.0

[2019-11-04 10:08] ar1em commented on #1356
Hi, I have the same problem with iOS app.

Your Rocket.Chat Experimental app version: 1.20.1.12049
Your Rocket.Chat server version: 2.2.0
Device (or Simulator) you're running with: IPhone 7+

I am already sent an issue to the old app (https://github.com/RocketChat/Rocket.Chat.iOS/issues/2780).
Will, this improvement be implemented only in the new (React) version or the old app will be updated eith

[2019-11-04 11:47] diegolmello commented on #1305
@davidlougheed @kuluev Can you test on Experimental 1.20.2.12436? Thanks.

[2019-11-04 11:55] diegolmello commented on #1359
I didn't get now.
You said you were running from develop, so what's `crash report from Test Flight` means?
I just tested here on 1.20.2.12437 from TestFlight and it worked nicely.
Does this version works for you?

If you're running from Xcode, make sure to install yarn and Cocoapods correctly.
Also try cleaning your build with `rm -rf ios/build`.

[2019-11-04 11:58] diegolmello commented on #1295
Can you try on 1.20.2.12436 (Experimental beta on Google Play) or 1.20.2.12437 (Experimental on TestFlight)?

[2019-11-04 12:02] djorkaeffalexandre commented on #1364
Hi @Shing-Ho , what is your Xcode version?

[2019-11-04 14:37] Shing-Ho commented on #1364
Xcode versino is 10.1

[2019-11-04 14:54] djorkaeffalexandre commented on #1364
Hmm ok, can you try with version 10.3 or higher?

[2019-11-04 14:58] diegolmello commented on #1364
I think it should be even 11 or higher

[2019-11-04 15:08] Shing-Ho commented on #1364
Thank you.
I think you should add this requirement into README.md

[2019-11-04 15:21] marianotribuj commented on #1359
Hi Diego,
I have a forked version of RC, that was merged with the latest version (from Master), and then we found the video problem.
So to isolate the issue and know if it was a "merge" issue, I made a clean clone of develop (and then tried with master also), built it, signed (with my apple keys) and uploaded it to my test flight, and the problem still exists.
Yesterday I found that the "crashes"

[2019-11-04 15:29] mrsimpson commented on #1305
@diegolmello Not very sure whether this is the same root cause, but at least similar:
One of our users reported to find the app (Android, 4.0.2, Server 1.3.2) in a state where the app appeared to be loaded (he could browse channels) but did not receive any notifications or message updates.

[2019-11-04 15:43] diegolmello commented on #1359
Very cool.
Please open PRs with these changes.
I would be happy to review them.

Just to isolate the root cause of the issue: do taking video works for you on our app from the store?

[2019-11-04 15:47] diegolmello commented on #1305
@mrsimpson Are you able to reproduce it?
I'm going to release a 4.0.3 beta in a few hours.
Please ask them to join beta and try again.
Let me know if the issue persists and we'll fix it.
Thanks.

[2019-11-04 16:18] marianotribuj commented on #1359
Yes, it does work on the downloaded app.

[2019-11-04 16:25] diegolmello commented on #1359
@marianotribuj Good to know.
Ok, try setting up [react-native-image-crop-picker](https://github.com/ivpusic/react-native-image-crop-picker) on an empty RN app.
You're probably missing something.

Make sure you're running Xcode 11.1 and you've installed Cocoapods.

[2019-11-04 19:01] LeeThompson commented on #1347
I can help test (Android/Windows).

[2019-11-04 21:25] J0kerFace commented on #1305
The current experimental version didnt fix this problem for us.

[2019-11-05 04:28] ankar84 commented on #1305
I definitely experienced this problem on one of the previous experimental versions of RN.

[2019-11-05 04:42] ankar84 commented on #1358
Nice security feature, I think it worth adding.

[2019-11-05 21:30] marianotribuj opened #1369 "Unable to build for Android"
- Your Rocket.Chat Experimental app version: 1.20.0

I tried to update the the version of DeviceInfo, because of an error in detecting isNotch (the current included version 2.3.0 returns just "iPhone" on DeviceInfo.getModel() for all iPhone 11 phones, so Notch is not correctly detected).
Changed package.json to include version 3.1.3, run yarn; and then realized that other things changed on that ve

[2019-11-06 12:05] diegolmello commented on #1369
Not related to this repo.
Please open an issue on react-native-device-info.
Thanks.

[2019-11-06 12:05] #1369 closed

[2019-11-06 12:17] mar-v opened #1370 "Unable to upload avatar through the app"
- Your Rocket.Chat app version: 4.0.3 for official and 1.20.1-jitsi-bb12048 for Experimental
- Your Rocket.Chat server version: 2.0.0 (same with 2.2.0)
- Device (or Simulator) you're running with: HomTom HT70

Uploading a picture in the profile settings seems to do nothing. Steps to reproduce
1. Open the app -> Profile
2. Tap on the cloud icon to upload a new pic.
3. Select a pic form local direct

[2019-11-07 02:15] ljcp commented on #1328
same here , not working for me

[2019-11-07 17:04] davidlougheed commented on #1305
Ok this seems to be fixed for me after a few days of testing @diegolmello
I've ran into a few other messaging bugs but this one at least I haven't seen since.

[2019-11-07 17:47] diegolmello commented on #1305
Let's try #1373.
I'll test for the rest of the day.
If it's better, I'll release as beta asap.

[2019-11-08 12:16] bensarthou opened #1374 "[Improvement][UX] Better integration of Twitter links in Rocket (server and app)"
- Your Rocket.Chat Experimental app version: Rocket.Chat Experimental 1.20.2
- Your Rocket.Chat server version: 2.1.0
- Device (or Simulator) you're running with: Windows, Firefox (similar behaviour on all platforms)

I recently have gone from Slack to Rocket.Chat, and one thing that I think could be missing is proper, readable integration of tweets into channels.

# Rocket App integration
In Rock

[2019-11-08 14:38] t-g-kim opened #1375 "App login issue"
I installed Rocketchat as a sanp on Ubuntu on an AWS EC2 server.
Loadbalancer <-https ------- nginx ----- rocketchat configuration.

Nginx setting
[code]
It doesn't work login in app.
There is no reaction.

[2019-11-08 14:58] reetp commented on #1375
Please read and follow the instructions in the bug template which you have totally ignored:

Because this:

![Screenshot_2019-11-08_14-51-14](https://user-images.githubusercontent.com/3800384/68485462-44443900-0237-11ea-8605-e92ebed0cec2.png)

Please close this issue and fix your websockets - this is a configuration, issue not a bug.

Also note this:

Really? You might want to fix your Nginx confi

[2019-11-08 20:42] davidlougheed commented on #1305
@diegolmello latest seems to have caused some issues loading messages in the channel list screen; I'm not getting the latest updates unless I click on each channel individually. I'll try reinstalling and report back

[2019-11-08 20:45] diegolmello commented on #1305
Ok. Remember to always say the correct version.
Latest version to you is almost never the same to me :)

[2019-11-08 21:06] davidlougheed commented on #1305
oops, my bad. version is 1.20.3 (12541)

[2019-11-08 22:09] davidlougheed commented on #1305
Actually on that build if I log out and back in nothing loads at all
![4A5D93BD-A9EF-41D2-A1EC-DA1703B4033B](https://user-images.githubusercontent.com/357970/68513998-81fe8d00-024a-11ea-9702-5506820b5742.png)

[2019-11-09 01:04] t-g-kim commented on #1375
I can't find the answer.

[2019-11-10 11:53] reetp commented on #1375
This repo is for bugs/issues. Not help.

https://rocket.chat/docs/
https://rocket.chat/docs/installation/manual-installation/configuring-ssl-reverse-proxy/#running-behind-a-nginx-ssl-reverse-proxy

Please close this Issue and follow up as advised - you are not going to get any further assistance here.

[2019-11-10 12:39] alexroosenstein commented on #688
@diegolmello Why was this closed? Are there no plans to support this feature in the future?

[2019-11-10 21:11] localguru opened #1377 "[BUG] other login methods are offered on SAML only login, SAML login button not colored"
## Describe the bug

Although a RC server only allows SAML as authentication method, the app offers the login via e-mail or the creation of an account.

The button of the SAML login is not colored in the configured color. The color of the SAML button is white, so that it is not perceived as a button, but as a hint text. This is a very misleading user guidance!

## To Reproduce

![Screenshot_201911

[2019-11-11 11:52] #1375 closed

[2019-11-11 13:43] reetp commented on #1356
In a word, yes.

The old apps will never have this and are not being updated - see https://rocket.chat/2019/10/11/moving-mobile-apps-to-react/

It will be done when it is done. Of course your PRs with your code to assist are welcome, or you can contribute via:

https://github.com/RocketChat/Rocket.Chat#donate
https://www.bountysource.com/teams/rocketchat

Otherwise you will have to wait patiently

[2019-11-13 13:31] fbuchmeier-abi opened #1380 "Login broken after Upgrade to 4.0.4 from 3.x on Android"
- Your Rocket.Chat Experimental app version: 4.0.4
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Samsung Galaxy S8 Android 9

Hi,

after upgrading the mobile app to 4.0.4, login at our server (version 2.2.0) is completely broken.

We are using the following environment:
[code]
With the latest mobile application running on a Samsung Galaxy S8 with Android 9 a

[2019-11-13 13:36] diegolmello commented on #1380
@fbuchmeier-abi Can you reach me at https://open.rocket.chat? I'm `@diego.mello`.
Thanks.

[2019-11-13 14:18] diegolmello commented on #1380
Attempted to fix on #1381.
If everything is fine, I'll release 4.0.5 later today.

[2019-11-13 16:02] #1380 closed

[2019-11-13 19:04] #1348 closed

[2019-11-13 22:12] diegolmello commented on #1380
@fbuchmeier-abi Fix released as 4.0.5 on Google Play.
Thanks for your help debugging!

[2019-11-14 15:51] localguru opened #1385 "[BUG] missing messages / rooms stop refreshing"
- Your Rocket.Chat Experimental app version: 4.0.4 and 4.0.5
- Your Rocket.Chat server version: 2.1.1, 2.2.0
- Device (or Simulator) you're running with: OnePlus 7 Pro (Android 10), BQ Auqaris X5 Plus (Android 7.7.1)

Sometimes is happens that rooms on the Andriod App (version 4.0.4/4.0.5) are not updated anymore or that messages are missing. The process is difficult to replicate, but I have perso

[2019-11-14 16:22] diegolmello commented on #1385
@localguru If you logout and login again, your local database will be deleted and the error will be gone.
If after this process you find more missing content, please let me know.
Thanks

[2019-11-14 17:57] localguru commented on #1385
@diegolmello FYI: I use only SAML login. Yes, if I logout and login  on SAML again, the rooms are refreshed and up to date. But what does that mean technically? What should that fix?

But would you please reopen the ticket again, because the error here on my device already occurred twice and I do not see a manual logout by the user as a fix, because the user does not know at all that he is missing

[2019-11-14 19:33] EdPalmeira opened #1388 "Is development gonna cease for Rocket.Chat.iOS too?"
The README file for Rocket.Chat.Android says development has ceased and Rocket.Chat mobile is moving to Reactive Native.

Are you guys gonna do the same for Rocket.Chat.iOS?

If so, when?

I am asking because I need to decide which one to adopt for a project in our company.

[2019-11-14 21:02] diegolmello commented on #1385
@localguru That's not what I meant. I'm sorry about the confusion.
A fix was released a few weeks ago and until today we were agreeing as fixed.
But that fix wouldn't solve the problem if the message was already missing (only after a logout everything would behave as expected), that's why I asked you to log out and in and keep me updated.

But you said it happened again, so we'll need to investiga

[2019-11-14 21:07] diegolmello commented on #1388
@EdPalmeira Yes, we are moving everything to React Native.
Check this blog post: https://rocket.chat/2019/10/11/moving-mobile-apps-to-react/

[2019-11-14 21:07] #1388 closed

[2019-11-14 22:26] localguru commented on #1385
@diegolmello Diego, thanks for you time. Once again to the timeline. Yesterday I noticed on App 4.0.4 that a message was not displayed in a private room, but in my Desktop Cient (2.16.2 on Xubuntu) and in any browser. I deinstalled and reinstalled the app, 4.0.4 again. This included a new login to the Shibboleth IDM. The missing messages in the room were loaded, room up to date. Today I noticed a

[2019-11-15 00:43] Conrado916645 opened #1389 "Required password change not working"
Passwords are set to change for 1st login but not working

[2019-11-15 01:25] ljcp commented on #1328
this problem is related to the this line https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/database/index.js#L28

`const appGroupPath = isIOS ? `${ RNFetchBlob.fs.syncPathAppGroup('group.ios.chat.rocket') }/` : '';`

that is immediately executed on app start , i replaced for testing the RNFetchBlob.fs.syncPathAppGroup with the current string path and the debug works! ( pai

[2019-11-15 08:16] phamhien2102 commented on #1328
Tks for your help. I also fixed by replacing to appGroupPath = "";

[2019-11-15 09:48] localguru opened #1390 "[BUG] prune messages are still displayed"
- Your Rocket.Chat Experimental app version: 4.0.5
- Your Rocket.Chat server version: 2.1.1, 2.2.0
- Device (or Simulator) you're running with: OnePlus 7 Pro (Android 10), BQ Auqaris X5 Plus (Android 7.7.1)

If all messages in a channel with `prune messages` function are completely deleted from another client (e.g. desktop client, browser), they are still displayed on the app.

Logout and re-login

[2019-11-15 10:25] localguru opened #1391 "[BUG] single deleted messages are still displayed"
- Your Rocket.Chat Experimental app version: 4.0.5
- Your Rocket.Chat server version: 2.1.1, 2.2.0
- Device (or Simulator) you're running with: OnePlus 7 Pro (Android 10), BQ Auqaris X5 Plus (Android 7.7.1)

Single deleted messages from another client (e.g. desktop client, browser) are still displayed on app.

Logout and re-login refreshes rooms correctly.

see also https://github.com/RocketChat/R

[2019-11-15 10:35] localguru commented on #1385
@diegolmello the problem is back. This morning some of my rooms didn't refresh on both mobiles. Deleted messages will also continue to be displayed on the app. I have opened two more issues.

[2019-11-15 10:58] localguru commented on #1390
And even worse: the first posted message after pruning from another client is not displayed on the mobile app. Seen on two different servers 2.1.1 and 2.2.0.

[2019-11-15 11:57] localguru commented on #1385
@diegolmello I've spent hours trying to replicate this annoying problem. I mean it's related to deleting messages and setting the server to `Message/Show Deleted Status` to `False`.

Steps to recreate this:

Test case A:

1. configure `Message/Show Deleted Status` to `False`
2. compare if the last message in a room is current on the app too.
3. turn off the display of the smart phone.
4. write a m

[2019-11-15 12:17] diegolmello commented on #1390
Prune is not implemented yet.

[2019-11-15 12:25] diegolmello commented on #1385
@localguru Thanks for your investigation.
We're taking a look and we're going to fix it asap.

[2019-11-15 12:28] localguru commented on #1385
@diegolmello thank you! The perfidious thing about this behavior is that you don't get any new messages displayed on the app after deleting a message, unless you write a new message yourself or a new message is being written at the time you are in the channel. But if you don't look into the channel for a long time after a message has been deleted, you will miss complete messages.

Probably this be

[2019-11-15 12:33] diegolmello commented on #1385
@localguru Np.
If you can `Message/Show Deleted Status` to `True` for a while, it would help us.
We need time to release a proper fix.
We're going to work on prune and release it on the same version.

[2019-11-15 12:46] localguru commented on #1385
@diegolmello no problem, I can activate the feature. Thank you so much for taking care of it.

I was able to replicate the problem as described above on three servers of different versions, so I don't think it's just a problem on my live server. If you want me to test something, just let me know.

[2019-11-15 13:39] ljcp commented on #1328
@phamhien2102 you should write the string output of syncPathAppGroup meanwhile and not an empty one ""

[2019-11-17 23:29] localguru commented on #1390
Hmmm ... I thought prune is a server feature. So if I prune a channel eg. via browser the channel in the app should be updated.

[2019-11-18 11:12] jewom commented on #1297
I have the same problem :/

[2019-11-18 11:16] jewom commented on #1297
it's working thanks!

[2019-11-18 11:21] djorkaeffalexandre commented on #1297
Nice! 😁

[2019-11-18 11:21] #1297 closed

[2019-11-18 17:39] wreiske opened #1396 "[BUG] In-app notification redirect does not pull in correct room header"
- Your Rocket.Chat Experimental app version: 1.22.0.12660
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Note 10+ 5G

Clicking on the in-app notification when a user messages a channel will direct you to the channel, however, the channel header will be the user's name instead of the channel.

1. User sends a message to `#helpdesk`
2. In-app notification is sh

[2019-11-18 17:40] wreiske opened #1397 "Settings screen does not show server version ([missing {{version}} value])"
- Your Rocket.Chat Experimental app version: 1.22.0.12660
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Note 10+ 5G

![Screenshot_20191118-123547](https://user-images.githubusercontent.com/6295044/69076057-a142aa80-0a00-11ea-8b7a-3820b24cd974.jpg)

[2019-11-18 19:26] localguru commented on #1397
Don't see that here.

![Screenshot_20191118-201926](https://user-images.githubusercontent.com/8544984/69083014-96f4d080-0a41-11ea-92b3-4ba7a62e620e.jpg)

![Screenshot_20191118-202157](https://user-images.githubusercontent.com/8544984/69083015-978d6700-0a41-11ea-9950-1f8a36fceee5.jpg)

[2019-11-18 19:30] localguru commented on #1397
Ah, I do see that on open.rocket.chat too, right. See https://open.rocket.chat/api/info

[code]
May be it's because the version number contains "-develop"

[2019-11-18 19:50] nicolas63 commented on #1354
I have the same issue. When the pull request will be closed ?

[2019-11-18 20:31] wreiske commented on #1397
![image](https://user-images.githubusercontent.com/6295044/69091497-6d737f00-0a18-11ea-8009-65b7df67c9f6.png)

This also happens on other production servers. Looks like the fix was merged in. https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1392

[2019-11-18 20:37] localguru commented on #1397
That might be a refresh problem. I do see that on my server too, if I change to open.rocket.chat and then go back to my server. Then there is no version number for my 2.2.0 server. If I close the app and restart it and then first go to my server, the version number is displayed correctly again.

[2019-11-18 20:42] localguru commented on #1397
It happens, if you switch on the app between different servers. This first server version is displayed correctly (open.rocket.chat too) and then after the first switch to another server any server is shown with a "missing" server version. Looks like a refresh bug.

[2019-11-18 21:04] localguru commented on #1396
I do see the same problem here. If you click on the notification, you are in the correct channel, but in the header the username of the sender is displayed instead of the channel name. If new messages are posted in the app, they will be displayed in the correct channel. So only the header is wrong. Still quite confusing.

[2019-11-18 22:09] diegolmello commented on #1354
@nicolas63 According to @Kusig, that PR doesn't fix the issue.
DM me and I send you a build for you to test.
Thanks.

[2019-11-18 22:27] diegolmello commented on #1397
Fixed by #1392

[2019-11-18 22:27] #1397 closed

[2019-11-18 22:47] #1354 closed

[2019-11-18 22:47] diegolmello commented on #1354
It's fixed, according to @nicolas63.

[2019-11-19 11:09] R0maNNN opened #1398 "[BUG] Crash while displaying the attached image with “http” in the “File Name” field"
- Your Rocket.Chat Experimental app version: 1.22.0.12660
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Redmi Note 4 MTK (FW: https://forum.xda-developers.com/redmi-note-4/development/rom-project-x-aosp-android-6-0-1-nikel-t3677594)

### Steps to reproduce
1. Drag'n'Drop the png image onto the chat page in RC Web
2. Set the “File Name” field to “http.png”
3.

[2019-11-19 17:05] #1396 closed

[2019-11-19 17:09] diegolmello commented on #1391
Fixed by #1399

[2019-11-19 17:09] #1391 closed

[2019-11-19 17:13] diegolmello commented on #1389
@Conrado916645 it's not implemented yet.
Let me know if you can help.
Thanks.

[2019-11-20 06:30] Pitstopper opened #1405 "[QUESTION] Replace "Read-Unread" and "Star-Unstar" with pictograms"
- Your Rocket.Chat Experimental app version: 1.24.0.12754
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Xiaomi Redmi 3

Hey. When translating, I was faced with the fact that the slide menu "Read-Unread" and "Star-Unstar" look very ugly when translated into Russian (into German too). Is it possible to replace the inscriptions with pictograms, or at least make

[2019-11-20 15:56] HamzaKhait opened #1407 "stable single-server release"
Hello,

I'd like to download the latest stable **single-server** version of Rocket.Chat.ReactNative.
Is the single-server branch up-to-date ?

Thanks
Hamza

[2019-11-20 17:20] rasos commented on #1370
This would not fix #441, but would make it less relvant.

[2019-11-21 04:28] wreiske opened #1408 "Unable to send messages after hitting share on user profile"
- Your Rocket.Chat Experimental app version: 1.24.0.12769
- Your Rocket.Chat server version: 2.3.0-develop
- Device (or Simulator) you're running with: Samsung Galaxy Tab S5e

![20191120_231444](https://user-images.githubusercontent.com/6295044/69304026-1d014a80-0bed-11ea-977b-3b4b31d3475d.jpg)
![20191120_231222](https://user-images.githubusercontent.com/6295044/69304037-25f21c00-0bed-11ea-8189-77

[2019-11-21 12:03] ani4aniket opened #1409 "Profile picture upload is not working"
I have attached a screen recording which I've faced during running the app on iOS simulator.
![Screen Recording 2019-11-21 at 5 23 41 PM](https://user-images.githubusercontent.com/31184591/69336576-cf382100-0c84-11ea-9a79-573c467f9b57.gif)

[2019-11-21 12:15] ani4aniket commented on #1327
This issue is can be solved with running `yarn start` in project directory.

[2019-11-21 12:41] diegolmello commented on #1409
@ani4aniket There're two issues apparently.
First one is not showing the image you've selected at the top of the view.
The other is the avatar cache not refreshing, because your avatar seems to be changed on the web.
<img src="https://user-images.githubusercontent.com/804994/69338943-0b4a9200-0c43-11ea-9c08-1ecfbfcb5614.png" width="350" />

[2019-11-21 13:25] ani4aniket commented on #1409
Yeah, You are right as in my phone app. The image is not updated.
![Screenshot_2019-11-21-18-54-16-04_6c2112e95a10afaab76cfa27a6d42c7b](https://user-images.githubusercontent.com/31184591/69341961-8ab28280-0c90-11ea-8ee6-e7d0712becdc.png)

[2019-11-21 19:10] #1408 closed

[2019-11-22 07:02] phamhien2102 opened #1411 "Click a notification, it didnt go to the detail (channel)"
I faced the issue that user clicks a notification, but it didn't go to detail (channel) while app is closed...I dont know everyone who face this issue? Anyone can help me? I am testing on android.

I download the latest new version of rocket chat...

[2019-11-22 12:04] diegolmello commented on #1411
@phamhien2102 App version?

[2019-11-22 15:37] lucasOlivio opened #1412 "Cannot destructure property `url` of 'undefined' or 'null'"
- Your Rocket.Chat Experimental app version: 1.19.0
- Your Rocket.Chat server version: 2.2.0
- Device (or Simulator) you're running with: Pixel 2 API 29

When I try to run using the vscode debugger it gives me this error in the debug console:

`
/media/lucas/DATA/Repos/Rocket.Chat.ReactNative/node_modules/react-native/node_modules/@react-native-community/cli/build/commands/server/webSocketProxy.js

[2019-11-25 02:46] phamhien2102 commented on #1411
My Rocket.Chat Experimental app version: 1.21.0
My Rocket.Chat server version: 2.2.0

[2019-11-25 11:27] diegolmello commented on #1411
Update your app to the latest version and try again.

[2019-11-25 11:27] #1411 closed

[2019-11-25 14:24] diegolmello commented on #1390
Fixed by #1399

[2019-11-25 14:24] #1390 closed

[2019-11-25 14:25] diegolmello commented on #1385
Fixed by https://github.com/RocketChat/Rocket.Chat/pull/15824 and #1399

[2019-11-25 14:25] #1385 closed

[2019-11-25 19:57] diegolmello opened #1415 "[IMPROVEMENT] Tap app and server version to copy to clipboard"
We should turn `Version` and `Server version` into touchable and copy the content to clipboard.
It's a nice way to get feedback.

<img src="https://user-images.githubusercontent.com/804994/69572639-53e7af80-0fa3-11ea-90aa-433f30732124.png" width="350" />

[2019-11-25 20:01] #710 closed

[2019-11-26 08:07] corincorvus opened #1416 "Cant save Images"
Hi,

If i Show in a Image and hold my Finger on it, a menu comes up to save the Image. After k click on save to Album, the Image didnt save on Smartphone.

Android Version: 4.0.6.2092
(Rocketchat and Rocketchat Experimental tested)
Server Version: Univention 2.2.0

[2019-11-26 12:54] narendrakumar5a1 opened #1417 "Is it possible Integrating Rocket Chat React Native module with existing Android app."
Hi,
Is it possible integrating Rocket Chat React Native module with existing Native Android application.

[2019-11-27 01:44] Prateek93a commented on #1415
@diegolmello Sir, here, do you prefer longpress or tap to copy the contents?

[2019-11-27 06:05] venkatasubramanis opened #1420 "Unable to Build for Android"
This is the log I get when I try to build for Android, while iOS build was successful.

info Running jetifier to migrate libraries to AndroidX. You can disable it using "--no-jetifier" flag.
Jetifier found 2067 file(s) to forward-jetify. Using 4 workers...
info Starting JS server...
* daemon not running; starting now at tcp:5037
* daemon started successfully
info Launching emulator...
error Failed

[2019-11-27 13:29] diegolmello commented on #1415
Hi, @Prateek93a.
A single tap is ok.

[2019-11-27 15:52] Prateek93a commented on #1415
@diegolmello Sir, I am facing the issue - Error: Unable to resolve module `react-native-keycommands`. I tried reinstalling the module, but that got stuck in the middle of installing. I tried to run by reseting cache but it didn't help.Kindly suggest something here.

[2019-11-27 16:32] diegolmello commented on #1415
It could be lots of reasons, but try this.
[code]

[2019-11-27 16:38] CarlJKashnier opened #1421 "Android 8 & 10 - ldap - invalid credentials"
Server is using ldap auth. I am attempting to login via Android App 4.0.X (current version on play store).

It returns credentials invalid.

I can log in using android app 3.5.0 - I can log in with desktop app, I can log in via web access using the same credentials.

We have the latest snap (it seems to be about a month old).

It would seem that it is likely in the login authentication on the late

[2019-11-27 16:41] diegolmello commented on #1421
Hi, @CarlJKashnier!
Can you reach me at https://open.rocket.chat?
I'm `@diego.mello`.
Let's fix this.

[2019-11-27 23:31] Prateek93a commented on #1415
@diegolmello Thanks for the solution Sir. Actually I am using android device so I could not implement the above solution. What worked for me was that I changed the import statement to-
import KeyCommands from 'react-native-keycommands/src';
I read that one possible reason of error could be that the program was unable to detect index.js file. So I did the above change. I do not know if its a good s

[2019-11-28 02:35] lequy1010 opened #1426 "[Feature] Show the list of users who have read the last message"
Hi,
Rocket.Chat is a good flatform for chatting,
Can Rocket.Chat add a feature that displays the list of users who have read the last message?
Example:
![image](https://user-images.githubusercontent.com/7949193/69772308-2298fa80-11c2-11ea-9299-ad73a79933d7.png)

[2019-11-28 12:10] seasick commented on #1325
I tried uploading today again, and this time uploading worked. This time I also was able to test from share extension and room view.

Android App Version: 4.0.6
RocketChat Server Version: 2.2.0

[2019-11-28 12:10] #1325 closed

[2019-11-28 12:25] diegolmello commented on #1426
We call it Read Receipt and it was implemented here: #975
Check the main repo to know how to enable it.

[2019-11-28 12:25] #1426 closed

[2019-11-28 13:35] lequy1010 commented on #1426
your mean is calling to API to get the list of reas receipt?
I want to auto show the that list when have any user read message.
(same show list of reactions when have any user react)

[2019-11-28 18:06] didierm opened #1427 "Version 4.x regression : wrong Username displayed in all Direct Message rooms"
(copied from issue in deprecated repo : https://github.com/RocketChat/Rocket.Chat.Android/issues/2518)

## Describe the bug
In the Android **v4.x.x** app, an identical, wrong username is displayed for all users.

Both **Android v3.5.0** and **iOS v3.5.1** display corrrect usernames.

## To Reproduce
1. Go to 'Direct Message' room
2. Click on '...' (3 dots)
3. [Name] and [Avatar] fields are correct

[2019-11-29 02:26] MiaoMiaoai opened #1428 "Xcode Build erro: error reading:"node_modules/react-native/ReactCommon/jsinspector/InspectorInterfaces.cpp""
Your Rocket.Chat Experimental app version: 1.20.1.100
Your Rocket.Chat server version: 2.1.1
Device (or Simulator) you're running with: Simulator iPhone X

<img width="1088" alt="截屏2019-11-29上午11 01 41" src="https://user-images.githubusercontent.com/19339100/69840785-b688c600-1297-11ea-9dd1-ff41ffe1f8d0.png">

New project just downloaded.

Build in Xcode 11.3 :error: error reading '/Users/hanshaob

[2019-11-29 11:47] diegolmello commented on #1428
Update to latest version and try again.

[2019-11-29 11:47] #1428 closed

[2019-11-29 14:36] Prateek93a commented on #1358
@diegolmello If nobody is working on this, can I take it up? I have implemented a very basic version  of the feature.

using fingerprint-->
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/44807945/69875502-4bfd7780-12e3-11ea-8f36-27575200634a.gif)

using pin-->
![ezgif com-video-to-gif(2)](https://user-images.githubusercontent.com/44807945/69875505-4e5fd180-12e3-11ea-9cc3-3d

[2019-11-29 14:43] djorkaeffalexandre commented on #1358
@Prateek93a You can work on this! Very nice basic version! I liked it! :)

[2019-11-29 16:43] Prateek93a commented on #1358
@djorkaeffalexandre Thanks a lot Sir! So Sir, I was thinking that there will be an option 'Enable TouchId' in the settings menu. If user enables it then he/she will be asked to enter a Pin for fallback. That pin will be stored on the user's device itself. Am I right on this?

[2019-11-29 16:45] diegolmello commented on #1358
We're going to implement E2E encryption in a few months.
We should postpone this feature to after E2E so we can reuse the same encryption methods.

[2019-11-29 16:47] diegolmello commented on #1416
Duplicated of #888

[2019-11-29 16:47] #1416 closed

[2019-11-29 19:24] Prateek93a commented on #1358
@diegolmello Ok Sir

[2019-12-02 02:41] johnlund commented on #1305
Seeing this also on:

Android version: 4.0.6.2092
Server: 2.1.1

[2019-12-02 06:54] kanaev opened #1432 "Messages are not saved locally when delivered by push notifications"
- Your Rocket.Chat Experimental app version: 1.24.0.12814
- Your Rocket.Chat server version: 2.1.1
- Device (or Simulator) you're running with: ZB602KL

Messages are not saved locally when delivered by push notifications:
1. Message delivered in push notification
2. Flight mode turn on
3. Click to notification
4. Сhat opened. No message

If the message is delivered to the phone, it should be possi

[2019-12-02 16:53] Prateek93a opened #1433 "Some words not translated when language is changed"
- Your Rocket.Chat Experimental app version:1.20.1.99999999
- Your Rocket.Chat server version:2.3.0-rc.0 open.rocket.chat
- Device (or Simulator) you're running with: Samsung Galaxy J6

The following Gif shows, 'Directory' and 'Sort by' words don't change when we change language,
although It8n is used.

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/44807945/69978288-3477f

[2019-12-03 02:58] parkerrome commented on #1305
Having members report similar issues on iPhones. Is there a beta that fixes this?

We're running the latest release (1.20) and server version 2.1.1.

[2019-12-03 09:10] phriedrich opened #1434 "When setting user list to "Group favorites", favorite users/rooms show up two times"
- Your Rocket.Chat Experimental app version: 1.25.0.12983
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: iPad w/ iPad OS 13.2.3

When setting user list to "Group favorites", favorite users/rooms show up two times:

In the "Favorites" group and below under "Chats".

In Rocket.Chat directly (and in the old native iOS-app), favorite users/rooms are not shown in

[2019-12-03 11:18] diegolmello commented on #1305
Latest release is 1.24.0. There's even a TestFlight with 1.25.0 already.
Try again on those versions.

[2019-12-03 12:32] #1434 closed

[2019-12-03 14:13] stukev commented on #141
Is there a reason why this isn't even listed in the "current priorities" list on the project start page? It's a pretty important feature.

[2019-12-03 16:58] diegolmello commented on #1305
Fixed by #1410

[2019-12-03 16:58] #1305 closed

[2019-12-03 17:02] #1074 closed

[2019-12-03 17:03] diegolmello commented on #1433
Duplicated of #724

[2019-12-03 17:03] #1433 closed

[2019-12-03 17:03] #1364 closed

[2019-12-03 17:05] diegolmello commented on #1417
https://facebook.github.io/react-native/docs/integration-with-existing-apps

[2019-12-03 17:05] #1417 closed

[2019-12-03 17:07] #1359 closed

[2019-12-03 17:10] diegolmello commented on #1333
Was this fixed by #1362?

[2019-12-04 01:27] kanaev commented on #1432
Very useful when Internet connection may be lost

[2019-12-04 10:27] Prateek93a commented on #1405
@Pitstopper I think doing something with the text would be better because showing just pictogram might cause confusion in interpretting them.

[2019-12-04 10:42] Prateek93a commented on #745
Can I take this up?

[2019-12-04 11:10] phriedrich opened #1436 "Password change field should be disabled, if password change is disabled"
- Your Rocket.Chat Experimental app version: 1.25.0.12983
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: iPad w/ iPad OS 13.2.3

We get the user information via LDAP and disabled the option to change the user's password within Rocket.Chat.

On the web version, the password change field in the user's profile settings is correctly disabled and can not be select

[2019-12-04 11:16] soundstorm commented on #1301
The app is not releasable for iOS with this bug. This messes everything up.

[2019-12-04 11:26] #1289 closed

[2019-12-04 11:28] diegolmello commented on #745
@Prateek93a Nope, we need a design first.
Can you take this one? https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/888

[2019-12-04 14:27] Prateek93a commented on #745
@diegolmello Ok Sir, on it.

[2019-12-04 16:39] #540 closed

[2019-12-04 16:50] #1301 closed

[2019-12-05 06:30] Prateek93a commented on #888
@diegolmello Sir I have implemented the save to function, but on the existing zoom library that is being used in the app. However the same code can be used if some other image-zoom gallery or custom component is implemented.
Currently the feature looks as follows->

1)Using toast- problem here is that the toast box appears below the image so one needs to close the image modal to see the toast. Als

[2019-12-05 10:56] diegolmello commented on #888
Use toast and add that key to en.js.
Also, you don’t need to ask to open your PR.
You’re helping us and I’m always glad to review/help you merge it.
Thanks.

[2019-12-05 12:39] Prateek93a commented on #888
@diegolmello Thanks Sir. Actually I meant that if we will be implementing a different component for image viewing then I can directly use the code there, that is why I asked.
 And thanks for the support Sir :)

[2019-12-05 13:33] phriedrich opened #1440 "App name and version not set for Rocket.Chats internal statistics"
- Your Rocket.Chat Experimental app version: 1.25.0.13047
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: iPad w/ iPad OS 13.2.3

The "user-agent" is working correctly (#1307) and it's showing in the webserver's log:

`"RC-RN Mobile/1.25.0 (build: 13047; os: ios 13.2.3)"`

And for comparison the old app:

`"RC Mobile; iOS 13.2.3; v3.5.2 (262)"`

But in Rocket.

[2019-12-05 13:35] phriedrich commented on #1440
The statistics you can get from API: https://rocket.chat/docs/developer-guides/rest-api/miscellaneous/statistics/

[2019-12-06 03:35] khanhbao0508 opened #1441 "How to custom 'Message Actions'"
I dont know how to custom message action pop-up like this
![image](https://user-images.githubusercontent.com/47891357/70293789-0295b680-1814-11ea-849a-3d8805d28bf2.png)

[2019-12-06 05:17] ankar84 commented on #1436
Same case, and I totally agree with that issue!
Please fix it.

[2019-12-06 06:02] Prateek93a commented on #1441
@khanhbao0508 I believe you are asking how to open MessageAction popup. For that, press and hold on any of the message to open Message Action popup. Hope this helps.

[2019-12-06 06:30] khanhbao0508 commented on #1441
@Prateek93a I'm sorry if my question misunderstood you but I am trying to change the MessageAction design as shown above.
After all, thank you for answer my question

[2019-12-06 06:53] Prateek93a commented on #1441
@khanhbao0508 Oh, Ok, sorry for misunderstanding your question. For customization,the popup component is implemented by ActionSheet component, and it supports styling, so you can pass style props to the component.
https://www.npmjs.com/package/react-native-actionsheet#how-to-redesign-style-

[2019-12-06 06:58] Prateek93a commented on #1441
@khanhbao0508 Oh, sorry for misunderstanding your question. For customisation, popup is implemented using react-native-action-sheet lib, and it supports styling
https://github.com/yfuks/react-native-action-sheet#optional-style-customization

[2019-12-06 07:14] ankar84 opened #1442 "Name instead of Username"
- Your Rocket.Chat app version: **4.1.0.2095**
- Your Rocket.Chat server version: **2.3.0**
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

Rocket.Chat ReactNative client shows **Name** after **Name** (and it is wrong).
Rocket.Chat Election client and browser version shows **UserName** after **Name** (and this is correct)

Here is examples:
My user data
![image](https://user-images.gi

[2019-12-06 12:30] aashaypalliwar commented on #1260
@diegolmello Can I take this issue as it has very less activity from a long time?

[2019-12-06 12:31] diegolmello commented on #1260
@aashaypalliwar sure!

[2019-12-06 13:00] diegolmello commented on #1441
Dup of #759

[2019-12-06 13:00] #1441 closed

[2019-12-07 12:45] localguru commented on #1377
still in version 4.1.0

[2019-12-07 15:24] soundstorm opened #1443 "Muted channels show up in unread counter"
I have some channels muted (no notifications and no unread counter) but they increment the unread counter on the mobile app.

[2019-12-08 07:56] ashwinshettty commented on #1420
I am facing the same issue too :(

[2019-12-08 11:00] Prateek93a opened #1444 "Error when accessing threads of a channel that one has not joined"
- Your Rocket.Chat Experimental app version: 1.25.0.9999...
- Your Rocket.Chat server version: 3.0.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P Sumsung Galaxy J6

![ezgif com-video-to-gif(6)](https://user-images.githubusercontent.com/44807945/70388421-92379280-19d7-11ea-8e5e-f1ee40020a6f.gif)

As the gif shows, the app shows shows error, when one try to access

[2019-12-09 11:33] diegolmello commented on #1420
warn Please launch an emulator manually or connect a device. Otherwise app may fail to launch.

[2019-12-09 11:33] #1420 closed

[2019-12-09 11:56] aashaypalliwar commented on #1442
Hi I am already looking into issue #1260 [https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1260](url) , May I also handle this as it would deal with similar things?

[2019-12-09 11:58] diegolmello commented on #1442
@aashaypalliwar sure

[2019-12-09 17:09] Born-of-dream commented on #141
Can y’all stop being lazy and add encryption for iOS devices. Tf is your problem?

[2019-12-09 19:46] reffu42 commented on #1023
Has there been any update or consideration of this feature? It can be confusing when you load a channel/room and the last message is from a while ago, since there's no way to tell if new messages are loading at all once the room is opened (unlike the channel list, which shows "Updating" in the top left while fetching updates)

[2019-12-09 19:51] ashwinshettty opened #1447 "How to change the Server? Can anyone please help!"
How to change the Server? Can anyone please help!

[2019-12-09 21:11] diegolmello commented on #1447
Ask on https://open.rocket.chat/channel/react-native

[2019-12-09 21:11] #1447 closed

[2019-12-10 04:39] sadstone commented on #1432
Must have feature!

[2019-12-10 14:50] aimador commented on #1325
This is still an issue for me though. I guess I'll have to open another issue then

[2019-12-10 15:27] aimador opened #1449 "Some Uploads still don't work"
- Your Rocket.Chat Experimental app version: 1.25.0.13048
- Also Non-Experimental Version 4.1.0.2095
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: Nokia 8.1 (Android 9), LG G2 (Lineage 16), Huawei P20, P30 (Android 9)

As posted [here: #1325 ](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1325) (The OP closed the issue...), this is still an is

[2019-12-10 15:57] diegolmello commented on #1449
@aimador I tried to upload a 15MB video now and it worked. Can you try uploading one 10MB+ video?

[2019-12-10 16:12] aashaypalliwar commented on #1260
@davidlougheed  I am unable to reproduce the issue. Whenever I try to set an empty name, the app  doesn't update the info. It is giving success message, but when I reopen the app, the previous name persists. Any luck?

[2019-12-10 16:20] davidlougheed commented on #1260
@aashaypalliwar for context, these are LDAP users who are automatically created upon first LDAP login

[2019-12-10 16:35] aimador commented on #1449
Tried a 42 MB video that I've just recorded. Failed in both apps.

[2019-12-10 16:39] diegolmello commented on #1449
@aimador Can you reach me at https://open.rocket.chat? I'm `@diego.mello`.

[2019-12-11 02:24] rvlta opened #1451 "Notification but no message"
- Your Rocket.Chat Experimental app version: 1.25.0.13048
- Your Rocket.Chat server version: 2.1.1
- Device (or Simulator) you're running with: Android 9

When the app is off, the notification popup with the message and when i run the app the message don't appear.
If the discussion continue messages appears but not the first one.
But If the app is running in background and a notification come, the

[2019-12-11 03:47] Prateek93a opened #1452 "Changing notification preferences does not have effect"
- Your Rocket.Chat Experimental app version: 1.25.0.99999999..
- Your Rocket.Chat server version: 3.0.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Samsung Galaxy J6 Android P

Might be linked to #1443
When I change the preferences from default to something else, the change is seen, but changing the preferences again to something else, the change is not seen. After tappin

[2019-12-11 04:53] ankar84 commented on #1356
Little update on that issue.
With Jitsi Meet configuration we made it possible to Rocket.Chat.ReactNative Clients to connect to already created call. One restriction in that case is you can't start call from Rocket.Chat.ReactNative Clients, but only join to started call.
Here is an important part of **/jitsi/prosody/conf.d/jitsi-meet.cfg.lua** config file for that case:

I think main thing here is

[2019-12-11 11:40] diegolmello commented on #1451
I couldn't reproduce.
Can you record a video or something?

[2019-12-11 11:54] rvlta commented on #1451
Oh ?!
Strange because i can reproduce it with other users. Perhaps it come from of the server config.
1) I get the same problem with Rocket.Chat.Android 4.1.0.2095 https://github.com/RocketChat/Rocket.Chat.Android/issues/2524

2) I don't get this problem with 1.13.0.7546 but i don't receive notifications => same with Rocket.Chat.Android 3.5.0(2074)

[2019-12-11 11:58] diegolmello commented on #1451
Can you reproduce it on https://open.rocket.chat?

[2019-12-11 12:27] rvlta commented on #1451
It seem to be worst :
I don't receive notifications and step 7 don't occure

[2019-12-11 13:37] aashaypalliwar opened #1454 "Setting empty name gives a misleading success message with no other effect."
- Your Rocket.Chat Experimental app version: 1.25.0.13048
- Your Rocket.Chat server version: 3.0.0-develop
- Device (or Simulator) you're running with: Pixel 3a

An attempt to set an empty name in the profile section gives success message but the name is found to persist upon reloading the app. If the user wishes to remove his real name completely, their username should be used instead of an 'empt

[2019-12-11 13:38] aashaypalliwar commented on #1454
@diegolmello I would like to work on this.

[2019-12-11 14:33] rvlta commented on #1451
I got this log :
`I20191211-14:09:14.151(0) server.js:212 Integrations ➔ Outgoing WebHook.debug Starting search for triggers for the room: Lw
I20191211-14:09:14.152(0) server.js:212 Integrations ➔ Outgoing WebHook.debug Found 0 to iterate over and see if the match the event.
I20191211-14:09:14.739(0) server.js:212 API ➔ debug POST: /api/v1/subscriptions.read `

But idon't find the file /api/vi.sbs

[2019-12-11 15:51] lucasPereira commented on #1333
Yes, thank you ;-)

[2019-12-11 15:51] #1333 closed

[2019-12-11 16:18] rvlta commented on #1451
I get this log discussion where AAA (rocket.chat.reactive 1.13.0.7546) is communicated with BBB (rocket.chat.reactive 1.25.0.13048)
[LogRC.txt](https://github.com/RocketChat/Rocket.Chat.ReactNative/files/3951378/LogRC.txt)

[2019-12-11 16:34] diegolmello commented on #1451
@rvlta It might be irrelevant to the error, but why are you using 1.13.0?

[2019-12-11 17:08] rvlta commented on #1451
I think the key is in the file LogRC.txt but i can't decrypt it
i use 1.13.0 because i receive all the message but not the notification So 1.25 give me notification and 1.13.0 messages.
To me it's not a matter but for newbe users it's complicated and they often don't want to use RC anymore

[2019-12-11 17:12] diegolmello commented on #1451
Reach me on https://open.rocket.chat. I'm `diego.mello`.
I don't understand why messages aren't showing up to you.
Let's try to simulate this.

[2019-12-11 19:05] foss- opened #1456 "bug in Preferences > Theme Automatic listed too often"
- Your Rocket.Chat Experimental app version: 1.25.0.13047
- Your Rocket.Chat server version: 2.3.1
- Device: iOS 13.3

For me this is reproducible by:

1. going in to preferences > theme
1. going back to preferences
1. again to preferences > theme

Each time an entry is added to the list. Doesn't matter if Automatic is selected or Light or Dark, a new entry is still added for every cycle.

Expecte

[2019-12-11 19:13] diegolmello commented on #1456
I'll take a look.

Yep, too many things going on at the same time.
I'll update it in a few.
Thanks.

[2019-12-11 19:30] #1456 closed

[2019-12-12 05:11] Prateek93a opened #1463 "Use @react-native-community/async-storage"
- Your Rocket.Chat Experimental app version: 4.2.0.99999....
- Your Rocket.Chat server version: 3.0.0-develop
- Device (or Simulator) you're running with: Samsung Galaxy J6 Android P

![Screenshot from 2019-12-12 10-31-57](https://user-images.githubusercontent.com/44807945/70684116-fce41900-1cca-11ea-8bdc-e3b6a99b60ab.png)

AsyncStorage will be removed from react-native core in a future release, s

[2019-12-12 15:44] Prateek93a commented on #1427
@didierm Is this an issue with the react native client or the android client only , because I am not able to reproduce the issue on the experimental version of react native client.

[2019-12-12 17:26] phriedrich opened #1466 "SVG avatars don't show up in channel"
- Your Rocket.Chat Experimental app version: 4.1.0.268
- Your Rocket.Chat server version: 2.3.1
- Device (or Simulator) you're running with: iOS 13.3

I have an incoming webhook set up with a remote custom SVG image. This isn't rendered in the channel. If I set it to a PNG file, it works.

Screenshot 1 shows Rocket.Chat in the browser, Screenshot 2 the missing images in the app.

![Screenshot 1](h

[2019-12-12 18:47] phriedrich opened #1467 "German translation discussion: "Du" or "Sie"?"
- Your Rocket.Chat Experimental app version: 4.1.0.268
- Your Rocket.Chat server version: 2.3.1
- Device (or Simulator) you're running with: iOS 13.3

While adding some strings to the German translation of the app today, I noticed, that in the app's translation in most cases the formal "Sie" is used. (With one exception: "Wie ist dein 2FA-Code?")

I also did this with all translations I added, to

[2019-12-13 11:30] diegolmello commented on #1467
@phriedrich We're going to work on a PoC using Lingohub sharing i18n with the web soon.
In the meantime, I think `Du` is better, but I don't speak german 🤷‍♂
Thanks.

[2019-12-13 11:30] #1467 closed

[2019-12-13 15:40] HamzaKhait opened #1471 "What version of Node.js, Yarn, and react-native to build the app ?"
Hello,

I get many errors when I try to build the react-native app of Rocket.Chat. These errors are mainly linked to Node.js Yarn and react-native versions.

What is the most recommended version of Node.js, Yarn, and react-native for building the latest stable release Version: 4.1.0.

Thanks.

[2019-12-13 15:44] aashaypalliwar commented on #1443
Hi there! I wish to work on this

[2019-12-13 15:57] Prateek93a commented on #1471
Hello @HamzaKhait , I am using the following versions,
 Node version >=8.x is fine, I am having 10.6.1,
React native cli  2.0.1
React native 0.61.3
Yarn v1.17.3
Hope this helps
React native

[2019-12-13 21:50] phriedrich commented on #1467
Thanks! Lingohub looks promising, and we can discuss this topic later again.

Until then, it would be great if the [I18N] German translations pull request could be merged relatively soon, because it would really help with the app in German right now.

[2019-12-13 22:02] diegolmello commented on #1467
Ok. I’ll review it next week.

[2019-12-16 03:34] wlsdk0125 opened #1475 "rocketcaht app click save the images no response"
Click Save image with rocketchat app and no response can't be saved to mobile phone. It can be saved on both PC and mobile browser

[2019-12-16 08:15] dinhduongson opened #1472 "Clean history (delete all messages) not working"
- Your Rocket.Chat Experimental app version: 4.1.0
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: Huawei Y9 2019 (Android 9.1.0), iPhone X Simulator

After I clean history of a room, using /api/v1/rooms.cleanHistory, messages still show.
They only disappear after I re-login.
Delete single message still work.

[2019-12-16 08:40] Nemental commented on #1358
Just to link the "old" Issues :)
https://github.com/RocketChat/Rocket.Chat.iOS/issues/2686
https://github.com/RocketChat/Rocket.Chat.Android/issues/2302
@diegolmello I am happy to hear that the implementation of E2E is not as far as I expected it to be.

[2019-12-16 08:41] wlsdk0125 opened #1473 "Rocketchat app can’t save to the album on the phone since it was updated to 4.1.0"
Your Rocket.Chat app version: 4.1.0.268
Your Rocket.Chat server version: 2.2.0
Device (or Simulator) you're running with: ios

**The app isn't connecting to your server?**
Nginx version is 1.16 and since updated to 4.1.0 ,click the save to the album no response,can't save to the phone,and 3.5.1 version is ok
![984509EA-98B2-49cf-BDC5-5060612B8E61](https://user-images.githubusercontent.com/50854371

[2019-12-16 09:29] Prateek93a commented on #1473
Same as  #888

[2019-12-16 10:39] wlsdk0125 commented on #1473
I am not a professional developer, can you tell me the specific operation process?

[2019-12-16 11:15] corincorvus opened #1474 "Make answers smaller"
Hi,

it is possible to make the answers smaller or mark it better, if they are in a thread? (font size).

In a Channel with a big thread (like 10 answers) on a smartphone u cant see, its a thread, cause the info is on the top. You only see the Messages. Often other users write normally in the channel even tough they want to answer for a question in the thread.

Thread Answers have the same size, f

[2019-12-16 12:02] Prateek93a commented on #1473
@wlsdk0125 Actually a PR for solving the above issue has been made. After it gets accepted and included in the release, the issue will be solved. So till then, you probably have to wait. Thanks.

[2019-12-16 12:04] wlsdk0125 commented on #1473
ok thank you

[2019-12-16 12:14] diegolmello commented on #1472
@dinhduongson It's not implemented yet.

[2019-12-16 12:14] #1473 closed

[2019-12-16 12:29] ivans-netto commented on #1474
Hi @corincorvus, how are you? :)

I'm Ivan, Designer at Rocket Chat and noticed your feedback about threaded messages. Would you like to answer a quick survey about this feature?

https://forms.gle/RcPAjHfZigHoNvXc9

[2019-12-17 12:04] zahaim opened #1531 "Need to type server url after logout on mobile device"
## Describe the feature you'd like

Thanks for this great product. 1 feature missing in our company is:

When logged out from the app, users would like to be able to choose previously used server name from the list.
Users have trouble remembering chat's url in the format http://chat.company-name.com

Many thanks!

[2019-12-17 12:51] monarkh-karina opened #1476 "Admin Panel is not visible in the Android app."
- Your Rocket.Chat app version: 4.1.0.2095
- Your Rocket.Chat server version: 2.3.0
- Device (or Simulator) you're running with: Galaxy J7 SM-J700H (Android 6.0.1)

Steps to reproduce:
1. Log into your server via an Android app (being an Admin on this server).
2. Open the left-side menu.
3. "Chats" "Profile" "Settings" "Logout" options are visible.

Expected behavior: having the "Admin Panel" opti

[2019-12-17 14:11] #1398 closed

[2019-12-17 14:12] #1415 closed

[2019-12-17 15:34] corincorvus commented on #1474
Hey,

iam done :)

[2019-12-17 15:40] ssbing99 opened #1478 "Try to react-native run-android but build failed"
- Your Rocket.Chat Experimental app version: 4.1.0 Master Branch
- Your Rocket.Chat server version: -
- Device (or Simulator) you're running with: android

Hi I am new to React Native and mobile app development. When i cloned this project and try to run-android, and get the below error :

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':ap

[2019-12-17 16:27] #1262 closed

[2019-12-17 18:17] phriedrich commented on #1440
To follow up with what I found out:

Rocket.Chat's statistic module specifically looks for 'RC Mobile' to recognize the app. [1]
But Rocket.Chat.ReactNative sets 'RC-RN Mobile/…'. [2]

[1]: https://github.com/RocketChat/Rocket.Chat/blob/bb842f2e4d60bd2b0cfe136e1dceda976baba544/app/statistics/server/lib/UAParserCustom.js#L55
[2]: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/5f0389c7de

[2019-12-17 19:39] diegolmello commented on #1440
@phriedrich We're cutting version 4.2 already and we're going to release it soon.
Let's try to fix this on 4.3.
Are you willing to open a PR?
Thanks!

[2019-12-17 19:41] diegolmello commented on #1476
Yep, it seems it happens only after logging in.
It works properly after changing server or opening the app again.

[2019-12-17 19:42] diegolmello commented on #1475
Dup of #888

[2019-12-17 19:42] #1475 closed

[2019-12-17 19:48] diegolmello commented on #1474
@corincorvus Thanks for your thoughts.
I'm going to close this issue as we're discussing next steps on threads already.
Cheers.

[2019-12-17 19:48] #1474 closed

[2019-12-17 19:49] diegolmello commented on #1478
Try running `develop` branch.
Does it work?

[2019-12-17 19:54] diegolmello commented on #1471
We don't have a recommend version, but 10.13 works fine here.

[2019-12-17 19:54] #1471 closed

[2019-12-17 19:56] phriedrich commented on #1440
Yes, I can try to get a PR ready for the 4.3 release.

[2019-12-17 19:59] diegolmello commented on #1466
Unfortunately, it's not supported by `SDWebImage` or `Glide` which we use for image cache: https://github.com/DylanVann/react-native-fast-image/issues/78#issuecomment-343713564

[2019-12-17 20:00] diegolmello commented on #1278
Related to #1466. I'm closing this in order to have the conversation there. Thanks.

[2019-12-17 20:00] #1278 closed

[2019-12-17 20:01] phriedrich commented on #1466
Thank you for the info!

[2019-12-17 20:03] diegolmello commented on #1463
We might end up removing AsyncStorage completely and use only [RNUserDefaults ](https://www.npmjs.com/package/rn-user-defaults) so all settings are shared between Official and Experimental app, but thanks for your concern.

[2019-12-17 20:03] #1463 closed

[2019-12-17 20:05] diegolmello commented on #1454
@aashaypalliwar Sure

[2019-12-17 20:08] diegolmello commented on #1452
It's seems to happen after changing a setting and then trying to change it again.

[2019-12-17 20:12] diegolmello commented on #1407
Updated to match master on https://github.com/RocketChat/Rocket.Chat.ReactNative/commit/b77438b79b98ec72380578019eec0d9172fcd9e7

[2019-12-17 20:12] #1407 closed

[2019-12-17 20:14] diegolmello commented on #1436
That setting is not implemented on the app yet.

[2019-12-17 20:15] diegolmello commented on #1405
@brunosquadros What do you think?

[2019-12-18 03:44] Prateek93a commented on #1463
@diegolmello  Ok Sir

[2019-12-18 13:39] ssbing99 commented on #1478
Hi sir, I checkout the latest develop branch, then yarn and run-android and it able to run on simulator now. Thank you.
But there is something that I am wondering, previously i was using npm install , any different between npm install and yarn for this project ? and have the error log for yarn but somehow still able to build and run

[2019-12-18 13:44] diegolmello commented on #1478
You should always follow the docs: https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run
There are lots of differences, but they're not related to the repo.

[2019-12-18 13:44] #1478 closed

[2019-12-18 13:47] ssbing99 commented on #1478
Thank you

[2019-12-18 19:54] #872 closed

[2019-12-18 21:13] #794 closed

[2019-12-18 21:13] #888 closed

[2019-12-18 21:13] #903 closed

[2019-12-19 06:05] ankar84 opened #1484 "Custom fields search doesn't work in RN app"
- Your Rocket.Chat app version: 4.1.0.2095
- Your Rocket.Chat server version: 2.3.2
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

In https://github.com/RocketChat/Rocket.Chat/issues/13537#issuecomment-566882834 we found the way to make **Directory User** search by **custom fields** and it works great in web version of Rocket.Chat but doesn't work in React Native app version.
Please

[2019-12-19 08:45] phriedrich commented on #1440
It works now:
![Bildschirmfoto 2019-12-19 um 09 43 29](https://user-images.githubusercontent.com/470153/71158436-39bc8c80-2244-11ea-8ef1-d9fe362b1192.png)

[2019-12-19 09:53] phriedrich commented on #1421
@diegolmello Did you get more details here?

We also use LDAP and have no problem logging in with the latest version of the app on Android.

[2019-12-19 10:53] phriedrich commented on #1436
Note:

With the `/api/v1/settings.public` endpoint we can get the information, which data are allowed to edit, some of them we should probably check and use to limit what the user can edit:

* Accounts_AllowPasswordChange
* Accounts_AllowRealNameChange
* Accounts_AllowUserAvatarChange
* Accounts_AllowUserProfileChange
* Accounts_AllowUsernameChange

For example it's also possible that it is not al

[2019-12-19 11:36] diegolmello commented on #1421
@phriedrich Nope, so I'm closing now.

[2019-12-19 11:36] #1421 closed

[2019-12-19 11:57] diegolmello commented on #1440
@phriedrich Do you mean on #1482, right?

[2019-12-19 11:59] phriedrich commented on #1440
Yes, after doing the changes in #1482 yesterday, today the test shows up correctly for me in the statistics.

[2019-12-19 12:04] diegolmello commented on #1440
Nice, thanks.

[2019-12-20 06:41] Prateek93a commented on #1452
@diegolmello  I think the issue is related with the rnpicker itself, I put an alert statement in the  function passed to onValueChange prop of the picker such that whenever the value changes, it displays the new value, but every time I change the value, the old value is displayed, hence the old value is getting passed and hence no change is visible.

![ezgif com-video-to-gif (2)](https://user-imag