[2021-04-28 12:46] diegolmello commented on #3098
Can you try on latest version? We're on 4.16.2 already.

[2021-04-28 12:54] diegolmello commented on #3097
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2759

[2021-04-28 12:54] #3097 closed

[2021-04-28 13:22] DYG-GP commented on #3098
I tried with 4.16.1 same thing.

[2021-04-28 13:33] diegolmello commented on #3089
Voip setting was changed on Jitsi PR https://github.com/RocketChat/Rocket.Chat.ReactNative/blame/develop/ios/RocketChatRN/Info.plist#L104

Maybe it was something on their docs and they still have it on their app https://github.com/jitsi/jitsi-meet/commit/fab93a170e72180635e949506d64a539f2ff5ea3#diff-af7c8b9634ca55c1b320a9a9cc2a46373793f4697f79797bb46b62c665ee106fR72

Since we don't have Voip notif

[2021-04-29 05:48] adrastest opened #3100 "Remove check certificate (self signed certificate)"
i want to connect Rocket Chat app to my local server which is based on IP address.
	but when try to connect it alert me (java.security.cert.CertPathValidatorException: Trust anchor for certification path not found) however i added the server certificate which is self signed certificate in my mobile but still it doesn't work properly.
is there anyone tell me how to ignore or remove that code which

[2021-04-29 13:32] diegolmello commented on #3100
Can you try on latest version of the app?

[2021-04-29 14:28] cyrilmarceau opened #3101 "Error on npm run android"
Hello,

During the npm run android I have an error:

[code]

I have tried with several versions and it is always the same error which returns.

Any idea why it's not working ?

I am on **mac** with **android studio.**

Thanks,

[2021-04-30 11:22] rocketbughunter opened #3102 "Turns off face id after re-login"
### Description:

face id is enabled in the settings "sreen lock", I  do log out and again a new login - face id is disabled in the settings "sreen lock" and only asks for a pin

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to reproduce:

1. in the settings I turn on t

[2021-04-30 11:46] rocketbughunter opened #3103 "the number of messages on the blue button for discussion is not updated without re-entering the channel"
### Description:

There is a discussion and a blue button for it inside the channel. The button displays the number of posts within the discussion. I enter the discussion through the blue button and write a new message. I go back to the channel - the number of messages on the blue button has not increased.

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Versio

[2021-04-30 12:07] rocketbughunter opened #3104 "the thread is not removed from unread immediately after reading"
### Description:

There is an unread thread in the channel. I go to the  "Threads" section and filter by "Unread". I see this thread. I fall into the thread and read it. I go back to the "Threads" section through the "Back" button - the thread is still in the Unread list. I change the filter to "All". Then again I change it to "Unread" - now there is no thread here.

### Environment Information:

[2021-05-01 04:52] adrastest commented on #3100
@diegolmello yes i tried with 4.16.1 but can not connect to my server.
when i connect without certificate it alert me (java.security.cert.CertPathvalidatorException: Trust anchor for certification path not found).
and when i add or install server certificate it alert me (Hostname 10.20... not verified:
certificate: sha256...
DN: CN=test, OU=test,O=test,L=kabul,ST=kabul,C=AF
subjectAltNames:[])
any

[2021-05-01 07:13] ankar84 commented on #2286
Hey, @diegolmello
I believe I was wrong in that.
I just enabled **Block Unauthenticated Access to Avatars** on our server and **reinstall RCRN app** - **no avatars as a result**! So, my previous successful experience definitely was **cache related**.
I did try 4.13.1 and 4.16.2 - both has no avatars after application reinstall. **In-app clear cache is not enough**.
Web version is still works perfe

[2021-05-02 15:13] ankar84 commented on #2286
I'm try to dig in that bug a little and it's very strange.
I see that mobile client makes proper request to avatar like this: `https://rc.compamy.com/avatar/ankar84/?format=png&size=100&rc_token=some_token&rc_uid=some_uid&etag=some_etag`
I thinks that it is asking RCRN client because of this User-Agent `RC Mobile; android 9; v4.13.1 (10)`
But still no avatars in Jitsi call in RCRN, but all perfect

[2021-05-03 09:09] shaheem-khanzada opened #3106 "Application extensions and any libraries they link to must be built with the `APPLICATION_EXTENSION_API_ONLY` build setting set to YES."
i am using new M1 chip apple pro with 12.5 xcode and when ever i build latest develop branch of RC i get this error
Application extensions and any libraries they link to must be built with the `APPLICATION_EXTENSION_API_ONLY` build setting set to YES.

[2021-05-03 16:20] diegolmello commented on #3106
https://github.com/facebook/react-native/issues/31179

[2021-05-03 16:20] #3106 closed

[2021-05-04 04:51] adrastest opened #3108 "E2E encryption not working in android when RESET e2e"
when i want to have encrypted messaging with someone it is working fine for first time.
	but when i forget my E2E password and reset it then the E2E not working in a room and I cant see previouse
	encrypted messages. is there any solution to see my message after reset my E2E password?

[2021-05-04 08:37] johncrisp commented on #3108
This was asked in open.rocket.chat

Nope. That's the point of public/private key encryption.

If you forget your password to a key you cannot just 'change' it unless you can remember the original. Try say doing it with a ssh key. You have to create a new key pair.

See this link for reference.

https://open.rocket.chat/channel/react-native?msg=ZG98n8ZfzU3ZiWmo1

At best this is a duplicate of this

[2021-05-04 08:37] #3108 closed

[2021-05-04 08:45] johncrisp commented on #3100
This was answered in open.rocket.chat

https://open.rocket.chat/channel/react-native?msg=SbT4pEpRAGtMYetFz

You must ensure you have created proper certificates.

Also search the interwebs for your issue "Trust anchor for certification path not found"

eg

https://github.com/Piwigo/Piwigo-Android/issues/219
https://android-developers.googleblog.com/2016/07/changes-to-trusted-certificate.html

As f

[2021-05-04 09:24] johncrisp commented on #3086
Anton, as advised on open.rocket.chat this is extremely complicated. It isn't just as simple as 'change the SDK' - if it was it would have been done by now!

Devs are aware and it has been on the map for a long time but this is not going to get fixed any time soon. Opening new issues and tagging people hoping for a response will not change this.

Thank you for your patience.

[2021-05-04 11:51] rocketbughunter opened #3109 "The entrance to the application through the notification of a new message in the thread does not go to the thread, but to the parent chat"
### Description:

I get a notification about a new post in the thread.
Tap on the notification and get into the parent chat, but not on the thread

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version:  ios 14.4.2

### Steps to reproduce:

1. get notification of a message in the thread
2. tap on the

[2021-05-04 12:36] rocketbughunter opened #3110 "You cannot delete a discussion in the mobile application"
### Description:

I create a discussion in a mobile application. I can't delete it later (I can only in the web version)

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to reproduce:

1. create a discussion
2. there is no way to delete it (no edit icon) via the mobile ap

[2021-05-05 10:49] rocketbughunter opened #3111 "In group personal correspondence there is a button "Block user" and it does not work"
### Description:

In group personal correspondence there is a button "Block user" and it does not work. I suppose that in group personal correspondence this button should not be, it should only be in personal correspondence with one user.
And in group personal correspondence instead of it there should be a button "Leave channel", which is in all other group types of chats.

### Environment Informa

[2021-05-06 04:41] gdeusdara commented on #3104
Hey! I did a pull request solving this problem, please check it out (: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3112

[2021-05-06 07:09] rocketbughunter opened #3113 "can't close the keyboard after entering data in one text box on the screen "Room Info Edit""
### Description:

I go to the "Room Info Edit" screen. Tap on the  "Name" field - the keyboard appears and I enter the text. After entering the text, it is not possible to remove the keyboard - tap outside the input field does not remove it, pressing return on the keyboard also does not remove it, but transfers the input focus to the next text field. But I wanted to change only the "Name" field an

[2021-05-06 08:52] emikolajczak commented on #3089
I have build 4.16.2 and no issue. App successfully released in AppStore.

[2021-05-06 08:52] #3089 closed

[2021-05-06 11:52] rocketbughunter opened #3114 "the "invite link" does not fit in the field"
### Description:

I go to the user "Invite users" screen, the link below is cut off and does not fit into the field

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to reproduce:

1. go to the user "Invite users" screen
2. the link below is cut off and does not fit into t

[2021-05-06 11:53] rocketbughunter commented on #3114
![1](https://user-images.githubusercontent.com/82801688/117293968-c0dec480-ae7a-11eb-9dc9-3306a7c445a0.jpeg)

[2021-05-06 12:24] rocketbughunter opened #3115 "error when disabling system notifications in chat"
### Description:

trying to disable system notifications in chat. select all available items and get an error while saving. there is no such error in the web version and it is successfully saved there

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to reproduce:

1. go t

[2021-05-06 12:25] rocketbughunter commented on #3115
https://user-images.githubusercontent.com/82801688/117297730-38165780-ae7f-11eb-94f7-d91aedb86811.mp4

[2021-05-06 12:31] gilesdring commented on #2758
@barrydegraaff Do you have examples of the code that you used to implement the login page? I'd be happy to write up any solutions, given it seems to be a common issue. As far as I can see the iframe settings and oauth are OK. It just doesn't seem to recognise that the login is coming from a mobile app and redirect back to that context properly - as you say, I see the logged in mobile view inside t

[2021-05-06 13:38] matheus-rn commented on #3113
i will work on it

[2021-05-06 13:53] rocketbughunter opened #3118 "function "Unarchive" the channel does not work"
### Description:

I archive the channel, the "Unarchive" button appears, but it does not work

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to reproduce:

1. archive channel
2. "Unarchive" button appears
3. tap "Unarchive" but nothing happens (video 1).

### Expected b

[2021-05-06 13:53] rocketbughunter commented on #3118
https://user-images.githubusercontent.com/82801688/117309921-8fbac000-ae8b-11eb-9bf8-cada028cc047.mp4

[2021-05-07 09:28] rocketbughunter opened #3122 "Search on the screen "Members" do not cut off spaces at the beginning and at the end of the search phrase"
### Description:

Search on the screen "Members" do not cut off spaces at the beginning and at the end of the search phrase. "user" - finds, " user" - does not find, "user " - does not find
search in the  "Directory" and on the chat list - cuts off spaces at the beginning and at the end of the search phrase

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Versi

[2021-05-07 19:31] diegolmello commented on #3101
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md#how-to-run

[2021-05-07 19:31] #3101 closed

[2021-05-08 07:54] barrydegraaff commented on #2758
Here is my implementation:

https://github.com/Zimbra-Community/zimbra-rocket/blob/master/extension/src/tk/barrydegraaff/rocket/Rocket.java#L428

Especially for Mobile apps and the Destkop Electron apps I do some ugly
user agent sniffing:

https://github.com/Zimbra-Community/zimbra-rocket/blob/master/extension/src/tk/barrydegraaff/rocket/Rocket.java#L333

So in case the user uses a Mobile or Elect

[2021-05-09 14:27] ARKEOLOGIST commented on #3122
@diegolmello I'd like to work on this.

[2021-05-10 07:07] ARKEOLOGIST commented on #3114
I would like to work on this.

[2021-05-11 14:26] rocketbughunter opened #3132 "the number of users on the screen "Actions" is not updated after removing or adding a user"
### Description:

if you add or remove a user to the chat, then the number of users on the screen "Actions" is not updated immediately, but only if you exit and re-enter the screen "Actions"

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version:  ios 14.4.2

### Steps to reproduce:

1. go to the  "A

[2021-05-11 14:27] rocketbughunter commented on #3132
![1](https://user-images.githubusercontent.com/82801688/117832504-359c6f00-b27e-11eb-98ac-6064186a0afc.jpeg)

[2021-05-13 12:21] progressify commented on #2866
hi :)
any news about it?

[2021-05-13 19:27] Zeromax opened #3136 "Can not send any message after open Rocket Chat over Notification"
### Description:

This bug occures when a push notification was recieved and the app will be opend with this push notification. Then a message can not be send due to an error. The App has to be closed and reopend again to send any message.

### Environment Information:

This App is a single server Version but updated to the latest rocket chat version. So far no other modifications are made.

- Roc

[2021-05-14 12:13] diegolmello commented on #3136
@Zeromax Thanks for reporting.
Reply from notification doesn't use JS code.
It's done from the native side https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/android/app/src/play/java/chat/rocket/reactnative/ReplyBroadcast.java#L58
I'm interested to know how did you get to that bugsnag report though.

[2021-05-14 12:48] Zeromax commented on #3136
We are currently going to run our own RocketChat server and therefore we compiled the apps by our own as single-server edition (like described in the docs) There it is described to insert a Bugsnag API Key and I have created my own account.

If you need any further Information, let me know. We have this bug also on a samsung device.

When opening the app via Notification from the background then t

[2021-05-14 12:52] diegolmello commented on #3136
Oh, I misunderstood your issue.
I thought it was replying from notifications, but it's actually resuming the app from notification and establishing the socket connection back.
Does it happen all the time or it's after some time in background?

[2021-05-14 12:55] Zeromax commented on #3136
When reporting I had this Issue all the time. But when testing again, it workes sometimes. So it is hard to say how long it should stay in the background.  Also I was not able to reproduce this in my Emulator. Only on real devices.

[2021-05-14 12:59] diegolmello commented on #3136
Ok.
What happens is the OS starts to disable some features from the apps in background after some time in order to free memory and battery consumption.
Some manufacturers are more aggressive than others.
The method you've found is in charge of check that and reopen the socket connecting if necessary.
When we implemented it we had to leave the app in background for 10~30 minutes to be able to repro

[2021-05-14 13:01] diegolmello commented on #3136
Can you reproduce it on the official version of the app and let us know?

[2021-05-14 13:19] Zeromax commented on #3136
Yes I will try. Thanks for all your effort.

[2021-05-14 13:35] Zeromax commented on #3136
Ok, that is weird. I can not reproduce it with the official App. Using https://open.rocket.chat/

I tryed it like I am able to get the Issue for my App. But it seems that there is something different.

[2021-05-14 14:29] diegolmello commented on #3136
Ok, removing the bug label for now. Let us know if you can reproduce it.

[2021-05-14 15:15] Zeromax commented on #3136
Do you think it can be an Issue inside the single-server branch? If I compare develop with single-server branch there are a lot of differnces. I thought that there aren't that much 😉.

I will try to use the develop branch in the evening to check if it works fine then. IMO this Issue only occures when using the single-server branch. But let me check this out.

[2021-05-14 15:55] diegolmello commented on #3136
Ok. Feel free to open a PR to `single-server` if you find the issue.

[2021-05-18 09:47] rocketbughunter opened #3140 "Can't view video attachments on screen "Files""
### Description:

There is a picture attachment - when you tap on it in the chat, it opens for viewing and when you tap on it on the "Files" screen, it also opens for viewing. There is a pdf attachment - when you tap on it in the chat, it opens for viewing and when you tap on it on the "Files" screen, it also opens for viewing. There is a video attachment - when you tap on it in the chat, it opens

[2021-05-18 09:59] rocketbughunter opened #3141 "the "bell" icon for the thread on the "Mentions" screen does not work"
### Description:

There is a thread that mentions a user. In chat, this thread has a "bell icon" that controls folowing / not folowing. in chat this icon works. If you look at this thread on the "Mentions" screen , there is also a "bell icon" there, but it does not work and nothing happens to it when you tap.

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Ver

[2021-05-18 10:00] amandajulia opened #3142 "Two serious E2E problem"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.12.5
- Rocket.Chat App Version: 4.16.2
- Device Name: samsung
- OS Version: android 10

### Steps to reproduce:

First Serious E2E Problem
1. Create Private Channel & Encrypted
2. Add users
3. User Join
4. Message Upload
5. The rocketchat app is infinitely loaded and crash down

Second Serious E2E Problem
1. Create Dir

[2021-05-18 12:27] diegolmello commented on #3142
Hey, @amandajulia.
Try to open separate issues for separate bugs.
This way two different developers can work on a fix and we can talk about each one separately.
Thank you.

[2021-05-18 12:27] #3142 closed

[2021-05-18 13:39] amandajulia opened #3143 "If the user joins the channel before the encrypted channel owner first uploads the message, the rocketchat app loads infinitely and crash down"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.12.5
- Rocket.Chat App Version: 4.16.2
- Device Name: samsung
- OS Version: android 10

### Steps to reproduce:

1. Create Private Channel & Encrypted
2. Add users
3. User Join
4. Message Upload
5. The rocketchat app is infinitely loaded and crash down

### Expected behavior:

### Actual behavior:

### Additional conte

[2021-05-18 13:53] amandajulia opened #3144 "Can't encrypt direct messages room( Slide button not work )"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.12.5
- Rocket.Chat App Version: 4.16.2
- Device Name: samsung
- OS Version: android 10

### Steps to reproduce:

1. Create Direct Messages
2. Can't encrypt direct messages room( Slide button not work )

### Expected behavior:

### Actual behavior:

### Additional context:

[2021-05-18 18:55] tpat2 commented on #3136
I can confirm this on my single-server app version as well, version 4.16.1.3

[2021-05-18 19:02] Zeromax commented on #3136
@diegolmello We are currently testing a fix. I will provide a PR as soon as we can verify that the problem is gone. But it looks really good!

[2021-05-18 19:08] diegolmello commented on #3136
Awesome, @Zeromax! :)

[2021-05-19 12:37] bingluen opened #3146 "Build fail on Xcode 12.5 with OpenSSL 1.1.x"
In order to support Xcode 12.5, flipper have to upgrade to new version.  [1][2][3]

Unfortunately, the version 1.1.x of OpenSSL is need by the new versions of flipper (such as 0.87.0) that support Xcode 12.5. [4]

`react-native-simple-crypto`[5], dependency of Rocket.Chat.ReactNative, using OpenSSL 1.0.x APIs, but there are some breaking change between 1.0.x and 1.1.x. [6]

<img width="799" alt="i

[2021-05-19 12:55] diegolmello commented on #3146
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3106#issuecomment-831372760

[2021-05-19 12:56] diegolmello commented on #3146
@bingluen It's a known issue on React Native with Xcode 12.5.
Can you contribute with a fix based on the comment above?

[2021-05-20 05:16] rocketbughunter opened #3148 "Voice message sent to the chat is displayed in the "Files" section, but you cannot listen to it there"
### Description:

Voice message sent to the chat is displayed in the "Files" section, but you cannot listen to it there. there are play and pause buttons, but nothing happens when you press them

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to reproduce:

1. send voice

[2021-05-20 18:59] bingluen commented on #3146
@diegolmello
I am not familiar with developing cocoapod.
But I will try my best to do this.

[2021-05-22 01:59] josephsmendoza commented on #3100
This is a problem for servers which are not internet-accessible. I already have many services accessible behind a vpn, with no additional config required. Rocket chat should allow the end user to accept a self-signed or even cleartext connection with a warning, the way chrome does.

[2021-05-22 14:13] diegolmello commented on #3100
Did you try to apply your certificate?

[2021-05-22 18:07] p1gp1g opened #3153 "Unifiedpush"
### Description:

Someone came on our matrix room to get help to use Unifiedpush instead of FCM : you can give a look at the WIP migration from FCM to UP on element https://github.com/vector-im/element-android/pull/2993 (the diff shown is not really explicit since I moved the relevant file from fcm directory to main, and I still need to do a few things but I don't have time yet ^^).

To have a fla

[2021-05-22 19:43] josephsmendoza commented on #3100
What do you mean by apply the certificate?

[2021-05-22 19:53] josephsmendoza commented on #3100
https works as expected on desktop, I get a warning which I can dismiss and everything functions as expected. Mobile should be the same.

[2021-05-22 22:12] diegolmello commented on #3100
You have a self signed certificate. Apple won't allow you to connect unless you install you on your phone. For that you have 2 options:
- you install it on your OS
- you tap "apply your certificate" button on the same screen your enter your server url in the app

[2021-05-22 22:24] josephsmendoza commented on #3100
I'm on android, not iOS

[2021-05-23 03:37] fc757 commented on #2343
Greetings. Me and my users with iOS devices  are having the same issue as Christoph. Push notifications work fine. But the app icon  never shows an unread # badge. If there is any way to fix this it would be greatly appreciated. I can provide info and assist in troubleshooting efforts to try and resolve this.

[2021-05-24 05:10] brijpatel6080 commented on #3146
![Screenshot 2021-05-21 at 2 24 21 PM](https://user-images.githubusercontent.com/31682945/119299309-4c7a9280-bc7c-11eb-9af7-441f5b75c1d7.png)

I face this error until last 6 to 7 days any one help me out for the successfully done this project

[2021-05-24 13:59] diegolmello commented on #3100
I said OS and not iOS

[2021-05-24 14:00] #3153 closed

[2021-05-24 16:26] diegolmello commented on #3100
Same for Android, did you try the options I mentioned?

[2021-05-25 02:01] josephsmendoza commented on #3100
I did try that "apply certificate" option but on my device it does nothing. Regardless that button isn't necessary on android, which is the issue at hand.

[2021-05-25 10:18] AlexKalopsia opened #3156 "Reaching server via VPN"
Hi, I currently run RocketChat on a docker container.
The docker container was exposed via reverse proxy (rocketchat.mydomain.com) and the Android app would correctly reach the server.

I am now trying to only reach RC via VPN, so getting rid of all references to the external url, for sacureity reasons. The docker now uses http://localip:port as URL, which I reach via VPN.

The issue now is that t

[2021-05-25 11:01] diegolmello commented on #3156
The issue is that you're using http instead of https

[2021-05-25 12:08] diegolmello commented on #3156
You have a reason: Apple enforces you to use https and Google's best practices tell you the same.
So we disallow http on our app.

[2021-05-25 13:27] AlexKalopsia commented on #3156
So what you are saying that I cannot use the app to connect to my server with a VPN connection?

[2021-05-25 17:36] johncrisp commented on #3156
Not via http, no.

As Diego said, Apple enforces https, and Google strongly recommends it, and will eventually disable it as well.

You can still use a https connection over your VPN.

Set up a proper self signed certificate and reverse proxy on the server, and VPN in.

Closing as this does not appear to be a bug  - for further support please ask in https://open.rocket.chat #support or https://for

[2021-05-25 17:36] #3156 closed

[2021-05-26 05:39] ankar84 opened #3158 "[Jitsi] ScreenSharing drops in RCRN when using recent versions of Jisti server"
### Description:

First of all and most important thing - I'm creating that issue not for devs fix that immediately, no!
I'm making that issue to inform dev and all users of possible problems with recent Jitsi server versions and current RCRN applications and publish a workaround for that problem.
Main issue for all Jitsi problems is https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/308

[2021-05-26 14:09] diegolmello commented on #3158
Thanks, Anton.
We're finishing Full Support to Teams and Jump to Message.
The next thing I'll try to assign to me is update libs :)
If it happens, I'm probably going to start working on it in June.
Besides Jitsi, there're cool new updates on React Native, react-navigation, reanimated, etc that improves the performance a lot!
Let's hope nothing else comes in the way 🤞

[2021-05-26 16:11] ankar84 commented on #3158
That is a very good news, Diego, indeed!
My finger crossed!
Hope you'll get it!

[2021-05-26 17:24] #1315 closed

[2021-05-26 17:24] #3109 closed

[2021-05-26 20:19] HiveMindNet opened #3160 "Auth Deeplink not processing on white label app with fixed server"
### Description:

When using a working deeplink with a fixed server white label app, the deeplink fails unless the app is first fully closed on the device (iOS) before the deeplink is clicked.

When the app is opened, the splash / first screen presented only has a blue 'Login' button which would ordinarily navigate to the server address screen. On the fixed white label app we use iFrame auth. It t

[2021-05-27 05:51] cakesoft-rajesh commented on #2959
I'm still having the same issue.
Xcode: 12.4
Pod: 1.10.1

[2021-05-27 06:41] rocketbughunter opened #3162 "Notifications @here, @all, @user_name from threads are not displayed on the application icon"
### Description:

when in chat uses @here and @all and @user_name notifications, the number of such notifications is displayed in a red circle on the application icon on the phone's desktop. But if you use @here and @all and @user_name notifications in the thread inside the chat, they are not displayed in a red circle on the application icon

### Environment Information:

- Rocket.Chat Server Vers

[2021-05-27 08:13] rajesh-puranik commented on #2959
I'm still having the same issue.
Xcode: 12.4
Pod: 1.10.1

[2021-05-27 08:59] rajesh-puranik commented on #3146
Same issue in Xcode: 12.4.

[2021-05-27 12:48] rajesh-puranik commented on #2959
I found solution by changing this line it works => use_flipper!({ 'Flipper-Folly' => '2.2.0' }) because it need OpenSSL-Universal (1.0.2.19)

[2021-05-27 12:50] rajesh-puranik commented on #3146
I found solution by changing this line it works => use_flipper!({ 'Flipper-Folly' => '2.2.0' }) because it need OpenSSL-Universal (1.0.2.19). Tested on Xcode 12.4

[2021-05-27 15:45] diegolmello commented on #3146
@rajesh-puranik Can you contribute back with a PR?

[2021-05-27 17:45] rajesh-puranik commented on #3146
@diegolmello created PR https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3163

[2021-05-27 20:44] #3110 closed

[2021-05-28 05:49] rocketbughunter opened #3166 "Sound selection for notifications does not work"
### Description:

On the "Notification Preferences" screen for the chat, you can select the sound for notification. But when you select any of the proposed sounds, notifications continue to come with the standard ios sound.

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps t

[2021-05-28 05:49] slajerek opened #3167 "Scrolling "Files" always crashes after a few seconds"
### Description:

Go to channel, open "Files", scroll down a while - it always crashes, and issue there is for some quite long time already.

### Environment Information:

- Rocket.Chat Server Version: 3.11.1
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: iPhone7
- OS Version: 14.5

### Steps to reproduce:

1. Click on channel name
2. Select to view "Files"
3. Scroll, scroll. Often after 1

[2021-05-28 06:10] rocketbughunter opened #3168 "When replying with a quote to a message with an attachment, only the name of the user who sent the attachment is displayed as a quote"
### Description:

When replying with a quote to a message with an attachment, only the name of the user who sent the attachment is displayed as a quote. And it is not clear to other users which attachment it was a reply with a quote to.

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

[2021-05-28 06:26] Arska777 opened #3169 "Rocketchat reactnative client stuck at "updating""
### Description:

Rocketchat Reactnative app is stuck in the "updating" state by just using the client
The "updating" text is seen at the top of the appilication screen below the RocketChat server name
As a result the contents of the chat rooms are not updated correctly and no new message notifications gets through.
When opening the chat room the client will show just partial contents of the chat

[2021-05-28 10:03] rocketbughunter opened #3170 "Setting the duration of notifications does not work"
### Description:

I set different duration of notifications on the "Notification Preferences" screen, but the duration of the notification is still standard

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1. On the "Notification Preferences" screen set any d

[2021-05-28 12:14] diegolmello commented on #3170
That's under "Desktop Options"

[2021-05-28 12:14] #3170 closed

[2021-05-28 12:15] #3166 closed

[2021-05-28 19:30] so121183gak commented on #3100
`I did try that "apply certificate" option but on my device it does nothing. Regardless that button isn't necessary on android, which is the issue at hand.`

I confirm this, the button "use your certificate" does not work, when you click on it, the screen darkens for a second and nothing happens, version Android 10, phone Xiaomi Redmi Note T8, letest version rocketchat from google play.

[2021-05-28 22:56] josephsmendoza opened #3172 "Apply Certificate doesn't work on Android"
`I did try that "apply certificate" option but on my device it does nothing. Regardless that button isn't necessary on android, which is the issue at hand.`

I confirm this, the button "use your certificate" does not work, when you click on it, the screen darkens for a second and nothing happens, version Android 10, phone Xiaomi Redmi Note T8, letest version rocketchat from google play.

_Original

[2021-05-29 12:23] so121183gak commented on #3172
I solved the issue of logging in on an android device without using the "use your certificate" button, it turns out that in the crt certificate, you need to add the entire certificate chain to nginx. I acted on these instructions
https://www.leaderssl.ru/articles/131-ustanovka-sertifikata-nginx

[2021-05-30 03:08] josephsmendoza commented on #3172
That only works if you have paid for a certificate and is a different issue to this one.

[2021-05-30 20:30] so121183gak commented on #3172
for me it works with Let's Encrypt certificate.

[2021-05-30 20:41] josephsmendoza commented on #3172
Which means you have a public facing domain. My server is behind a vpn only.

[2021-05-31 07:20] so121183gak commented on #3172
this is correct, but it doesn't matter where you use this approach, you can create your own Let's Encryp certificate and also push it to nginx.

[2021-05-31 07:29] josephsmendoza commented on #3172
You cannot create a Let's Encrypt certificate, they create the cert and send it to you after verifying that you own the domain name, and it will only work for that domain.

[2021-05-31 08:09] so121183gak commented on #3172
I think there is a variation, try differently https://www.youtube.com/watch?v=DKm8t5aMVS8&list=FLZAsqd1W-43qvaBgl4nJA-w&index=3

[2021-05-31 09:45] josephsmendoza commented on #3172
He says about 3 minutes in that let's encrypt requires a static IP connected to a domain name for their system to work. That's not possible without a public facing ip.

[2021-05-31 09:48] josephsmendoza commented on #3172
Please stop leaving unrelated comments on issue pages, you are distracting from the issue at hand.

[2021-06-01 11:15] AlexKalopsia opened #3176 "Upload fails whenever I upload files via the app"
### Description:
I currently run RocketChat on a docker container. The docker container is also exposed via reverse proxy (rocketchat.mydomain.com)

Whenever I try and upload a file via the app, I get an error message (Try again).

The log shows this:

[code]

The issue does NOT occur if I try and upload from my pc via browser

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- R

[2021-06-01 23:41] Zhaodaidai opened #3179 "安卓APP 通知没有声音"
无论是文字消息 语音消息还是视频邀请  安卓移动端都没有声音通知提示

[2021-06-02 06:46] rocketbughunter opened #3180 "setting off "Show Unread Counter" does not work"
### Description:

On the "Notification Preferences" screen there is a setting "Show Unread Counter".
if I turn it off, the unread count is still displayed

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1. go to direct correspondence with any user
2. on the

[2021-06-02 12:25] diegolmello commented on #3179
Can you follow the template and send us more info about your issue?

[2021-06-02 12:25] #3179 closed

[2021-06-02 12:26] diegolmello commented on #3180
Does it still happen after closing and reopening the app?

[2021-06-03 23:02] johncrisp commented on #3100
Hi.

This and the subsequent https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3172 are essentially birds of the same feather and to do with the use of certificates.

So the first thing is... why?

SSL connections. On the iOS version you have absolutely no choice. No SSL, no connection. That is Apples choice, though quite honestly it is a sensible one for your own security.

Android - T

[2021-06-03 23:02] johncrisp commented on #3172
As per this comment:

Closing as a duplicate of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3100

[2021-06-03 23:02] #3172 closed

[2021-06-03 23:14] johncrisp commented on #3176
Hi,

I think the likely answer here is your nginx config.

Have a look at this one as a guide that I took from the repos and checked it worked on my own install.

https://gist.github.com/johncrisp/fc3706cb8d5b2aafb24e84e2e63770f8

Try disabling http:80 and just use https:443 for starters.

Also check the section here on websockets just in case.

https://gist.github.com/reetp/a66149d5f060f260643a35

[2021-06-03 23:37] serge-petrov commented on #2822
I have the same issue.
Two identical servers Ubuntu 20.04:
Version
3.14.4
Apps Engine Version
1.25.0
Node Version
v12.22.1
Database Migration
222
MongoDB
3.6.14 / wiredTiger (oplog Enabled)
Commit Details
HEAD: (ba6337c2b)
Branch: HEAD

First one works fine but the second one causes blank screen while sharing attachment from another app. I use the same iPhone SE2 and Rocket 4.16.2.23928 for both c

[2021-06-04 00:17] serge-petrov commented on #2877
I have the same issue.
Two identical servers Ubuntu 20.04:
Version
3.14.4
Apps Engine Version
1.25.0
Node Version
v12.22.1
Database Migration
222
MongoDB
3.6.14 / wiredTiger (oplog Enabled)
Commit Details
HEAD: (ba6337c2b)
Branch: HEAD

First one works fine but the second one causes blank screen while sharing attachment from another app. I use the same iPhone SE2 and Rocket 4.16.2.23928 for both c

[2021-06-04 01:05] josephsmendoza commented on #3172
This is not a duplicate. The explanation left on the original issue belongs here. That explanation doesn't solve the issue either, but rather changes it's description, which is that the button appears to do nothing. A toast or message box should be added to show what has happened.

[2021-06-04 01:25] josephsmendoza commented on #3100
Android doesn't disable http connections or require adding certificates to the device. The rocket chat app is disallowing http itself. I don't know why y'all feel the need to lie about these things, or perhaps you're just misinformed, but there is no reason the rocket chat Android app can't connect over http or with a non-trusted certificate when edge cases require it. The app is not made inherent

[2021-06-04 16:26] johncrisp commented on #3100
Please consider your comments and check our code of conduct please.

https://github.com/RocketChat/Rocket.Chat/blob/develop/CODE_OF_CONDUCT.md

No one is purposefully lying, and has no reason to.

The app is not going to handle http, because effectively http is being deprecated by everyone. It is just a matter of time.

As Diego advised, iOS apps won't allow http apps at all now, and as this app i

[2021-06-04 16:36] diegolmello commented on #3100
https://developer.android.com/topic/security/best-practices

[2021-06-04 16:36] #3100 closed

[2021-06-04 20:26] josephsmendoza commented on #3100
There is no indication that it's "a matter of time" before http is universally disabled. Once again, I don't understand where you're drawing that conclusion from. I have to assume that you are either lying or misinformed.

The android developer best practices include the ability to [accept self-signed certificates without the use of the operating system trust store](https://developer.android.com/t

[2021-06-05 05:59] adrastest commented on #3100
this is the problem that many people faced to it but still there is not any perfect solution.
I have the same problem I tried many ways but still no success; however I installed my server certificate (self-signed certificate) but the application alert me (Hostname 10.20... not verified) my server use a self-signed certificate which is not trusted but it is trusted for me I dont like buy a certific

[2021-06-06 21:40] johncrisp commented on #3169
Hi.

First, please upgrade to 3.14.4 - see the release page and changelog.

from Wifi and started to use mobile data and later returned back to Wifi.

Quite probably as it re-establishes a websocket.

Make sure you network connections are working well and your proxy is working correctly - these are the usual sources of  'updating' issues.

[2021-06-07 06:05] ARKEOLOGIST commented on #3118
Is this unique to iOS? I couldn't reproduce it in an Android environment.

[2021-06-07 06:34] rocketbughunter commented on #3180
Yes, after closing and reopening the app the unread counter in the circle to the right of the chat is still displayed on the chat list

[2021-06-07 06:46] rocketbughunter commented on #3118
I checked now on an android device - the behavior is exactly the same. It is possible to archive, but the Unarchive button does not work

[2021-06-07 07:53] rocketbughunter opened #3190 "system messages in the chat in the mobile application do not display the date and time"
### Description:

system messages in the chat in the mobile application do not display the date and time

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1. perform several actions in the chat, such as adding and excluding a user, and so on
2. system messages

[2021-06-07 08:21] rocketbughunter opened #3191 "in the android application there is no red circle with the number of unread messages on the rocket chat icon on the desktop"
### Description:

in the android application there is no red circle with the number of unread messages on the rocket chat icon on the desktop

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.2.23928
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1. send several messages from another account in a direct, or @here

[2021-06-07 08:44] ARKEOLOGIST commented on #3115
This error particularly happens when one tries to set the Hide "Was Set Role" messages or Hide "Role No Longer Defined" messages. One can enable the other messages without getting an error.

[2021-06-07 12:50] diegolmello commented on #3118
Maybe server version or permission related

[2021-06-07 12:50] leitmori opened #3193 "Unable to switch to channel in which a thread was previously selected"
### Description:

It is not possible to switch to a channel in which a thread was previously selected.

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Version: 4.16.2
- Device Name: iPad Air 4
- OS Version: iOS 14.6

### Steps to reproduce:

1. Select a thread in Channel A
2. Switch to Channel B
3. Try to switch back to Channel A

### Expected behavior:

Chann

[2021-06-07 19:45] salmankhadim36 commented on #3146
<img width="853" alt="118815385-c78e2280-b8e3-11eb-823e-08dfdcc0c072-2" src="https://user-images.githubusercontent.com/53314237/121078736-c2d9d180-c7f2-11eb-8c16-2cbecdc7fe7e.png">

Build fail on Xcode 12.5

[2021-06-08 10:44] Arska777 commented on #3169
Hi,
I could not find any references in the 3.14.4 (or latest 3.14.5) Rocket.Chat server release notes that would indicate any fixes to this reported problem. Anyway I have upgraded our internal server to release 3.4.15 and continue using the system. If this problem reoccurs I will let you know.
-Ari

[2021-06-09 10:59] d3hof commented on #2343
Having the exact same issue. Sometimes it works then it stops working. Only restart of the app fixes this.

[2021-06-09 19:21] aKn1ghtOut opened #3200 "[BUG] Discussion title shown incorrectly"
### Description:

The Discussion name shown in the header does not match what was entered, neither does the testID being passed in the header.
https://user-images.githubusercontent.com/38764067/121415491-6b1f9f80-c985-11eb-845d-c6a3af249b54.mp4
### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version: Latest develop
- Device Name: Pixel 3
- OS Version: Android 9

### S

[2021-06-09 19:44] diegolmello commented on #3200
We updated the server. Can you try again?

[2021-06-09 19:50] aKn1ghtOut commented on #3200
Correctly showing now! Thanks Diego!

[2021-06-09 19:50] #3200 closed

[2021-06-10 11:37] gencay99 opened #3203 "Android App Bug Turkish lang"
Hello… While using the Phone Language Turkish in the android application, the process of sending picture, video or audio file from the application fails. It gives a try again warning. I don’t have this problem when I change the language of the phone to English. seamless file, image, etc. transfer operations are working smoothly. I have installed and tried all versions of your Android application o

[2021-06-10 11:46] gencay99 commented on #3040
Merhaba..  Sorunu Çözebildinizmi Acaba Aynı Sorun Bende yaşıyorum Android cihazlarda ...
O Yüzden https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/4.16.2   Bur daki tüm sürümleri tek tek denedim ve sadece  version 4.9.0.2132 Olan stüm kullanıcılarıma Google storedan indirmek yerine bu versiyonu manuel olarak ürümde çalıştığını farkettim o yüzden mobil cihazı android olan kullanıc

[2021-06-10 12:14] diegolmello commented on #3203
Duplicated #3040

[2021-06-10 12:14] #3203 closed

[2021-06-10 17:06] #3115 closed

[2021-06-10 17:52] #3111 closed

[2021-06-14 20:36] alananayaa opened #3209 "iOS APN push not working"
### Description:

iOS Rocket Chat native APN for push notifications not working for white label app, FCM is working correctly

### Environment Information:

- Rocket.Chat Server Version: 3.14.4
- Rocket.Chat App Version: 4.16.2
- Device Name: iPhone 12
- OS Version: 14.6

### Steps to reproduce:

1. Register APN keys to admin on RocketChat server
2. Send test push notification

### Expected behavi

[2021-06-15 21:12] jacotec commented on #2779
@diegolmello Is this issue on the roadmap to be fixed at some point?

[2021-06-16 04:26] hkpanchani commented on #2350
I tried to build release version it throws the following error.
Execution failed for task ':app:processExperimentalPlayReleaseGoogleServices'.

[2021-06-16 05:17] hkpanchani opened #3215 "Release App build failure on Single-Server"
I tried to build release version it throws the following error.
[code]

_Originally posted by @hkpanchani in https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2350#issuecomment-862028921_

[2021-06-16 07:44] DiamoandDog commented on #2526
Have you successfully achieved this goal, can you provide some suggestions or clarifications? Thanks so much！

[2021-06-16 08:53] cremfert commented on #2526
Hi @DiamoandDog,

no, unfortunately, I didn't make any progress. I was able to integrate React Native, set up a Dev Server to deliver the app, but I always only see a white screen without any error message. I tried to strip out the share extension and all other stuff which is not related to the "core", but it didn't help. I gave up in the end.

[2021-06-16 10:53] wtwangcb opened #3216 "Unable to login to self-signed server with iOS client. Cert problem."
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Version: Updated to latest version in App Store
- Device Name: iPhone 12
- OS Version: iOS 14

### Steps to reproduce:

1.
Generate self-signed certificates and setup nginx reverse proxy according to the offical docs located here:
https://developer.rocket.chat/guides/developer/mobile-apps/support

[2021-06-16 11:21] jsalatiel commented on #2849
@diegolmello I understand you do not have enough hands to work on this, but now that you finished teams/jump to message on 4.17 it would be possible to really take a look on this, I am sure I am not the only that thinks that this missing feature is extremely important to engage users in migrating from whatsapp to rocketchat.  And I am talking about this feature only for the mobile application. Ove

[2021-06-16 12:24] diegolmello commented on #3215
That's not enough info to help you.

[2021-06-16 12:26] diegolmello commented on #2779
I thought it was under development by the community.
If it's not, we can take over.

[2021-06-16 12:28] jacotec commented on #2779
@diegolmello I've heard nothing from @yash-rajpal since January, even when asking him on RocketChat. So I guess no one has taken it.
I'd highly appreciate if this can be fixed, at least the "sleep" issue. ;-)

[2021-06-16 14:39] hkpanchani commented on #3215
I am able to build run an app through android studio directly. But when I try to build signed apk it throws the following error.
[code]

[2021-06-16 16:21] diegolmello commented on #3215
Make sure you've added your own `google-services.json` file https://developer.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#generating-android-app-on-firebase

[2021-06-16 17:50] hkpanchani commented on #3215
Yes its added

[2021-06-16 17:52] hkpanchani commented on #3215
I have followed this and able to build debug version..

Can you please guide me how to generate signed apk or aab?
Any script or command?
I have already added keystore file and its details..

[2021-06-16 17:57] diegolmello commented on #3215
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/.circleci/config.yml#L152 This is how we build our bundle.

[2021-06-16 17:57] #3215 closed

[2021-06-16 18:55] jacotec opened #3218 "4.17.0 Android single-server build producing lots of "Invalid prop" errors"
### Description:

Single server 4.17.0 is building and running well on IOS, Android experimental compile brings tons of errors in the metro server window.

The metro server window shows a bunch of "Invalid prop" errors during the build of the ExperimentalPlayRelease in Android studio. See the full log below.

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Vers

[2021-06-17 08:12] uluzox opened #3220 "Unable to build iOS app on single-server branch"
### Description:
I checked out the `single-server` branch of your project, and I am unable to build the ios app.

The build fails with
[code]
verbose build log:
[build.log](https://github.com/RocketChat/Rocket.Chat.ReactNative/files/6668510/build.log)

It seems that some expected method is not available:
[code]

### Environment Information:
- OS Version: macOS Big Sur Version 11.2.1
- XCode
[code]

[2021-06-17 12:13] diegolmello commented on #3220
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3146#issuecomment-844079442

[2021-06-17 12:13] #3220 closed

[2021-06-17 13:03] gerzonc commented on #3218
Those errors are normal, they're just warnings the console drops about types definitions we have, nothing to worry about, your real issue is just with the Metro bundler, which seems like the Android emulator is unable to find, can you try re-opening the Metro bundler (either with `yarn android` or `yarn start`) and then opening the APK again on emulator?

[2021-06-17 13:05] jacotec opened #3221 "4.17.0: Share extension on IOS not working anymore in many apps"
### Description:

With the share extension I was able to also share i.e. pictures from other apps. This does not work anymore with 4.17.0. Usage of the share extension in the picture gallery is still working.

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Version: 4.17.0
- Device Name: iPhone 11 Pro Max
- OS Version: IOS 14.6

### Steps to reproduce:

1. Open

[2021-06-17 13:12] jacotec commented on #3218
@gerzonc Thanks, I'll close this then.
The APK worked after updating Android Studio to the latest version and doing a Build --> Clean.

[2021-06-17 13:12] #3218 closed

[2021-06-17 18:24] jsalatiel opened #3224 "Collapsed and markup language on attachments"
### Description:

Android mobile app does not parse attachments as expected ( like in electron or webapp )

### Environment Information:

- Rocket.Chat Server Version: 3.14.5
- Rocket.Chat App Version: 4.17.0
- Device Name: Oneplus
- OS Version: 10

### Steps to reproduce:

1. Create a simple incoming webhook
2. Send the following example as data
[code]
### Expected behavior:

I was expecting to s

[2021-06-17 18:33] diegolmello commented on #3224
Can you give us more info and follow the issue template?

[2021-06-18 03:06] t2hieu91 commented on #2129
Any Good News?

[2021-06-18 03:09] wtwangcb commented on #3216
I just looked at the source sslPinning.js and found that it requires certificate in p12 format.
I then convert my cert to p12 with OpenSSL， and now the "Apply Cert" function works and successfully applied
my root certificate. But upon typing in my server and  click connect. The dialog pops up again. Same error as before.
"An error occurred while establishing SSL and a secure connection to the seve

[2021-06-18 03:09] wtwangcb commented on #3216
Any ideas on how to solve this/??

[2021-06-18 03:53] jianghuac opened #3226 "click to enter, there is no response."
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:
- OS Version:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional context:

Fill in the domain name can login, but, after entering the account password, click to enter, there is no response.

[2021-06-18 13:04] jsalatiel commented on #3224
Sorry about that, @diegolmello . I created the issue on github mobile and it does not show the issue template.

Hope now it is a lot better to understand =)

[2021-06-18 21:49] #3209 closed

[2021-06-19 08:03] wtwangcb opened #3229 "Push not working using official gateway. No user token found"
### Description:

Message push not working. I use the default official RC's gateway and registered my workspace in
cloud.rocket.chat. Connection shows successful.
But no message push notifications.
When I logged in the admin panel to send a test push, a dialog pops up complaining that
"This user has no token"

### Environment Information:

- Rocket.Chat Server Version:3.15.0
- Rocket.Chat App Vers

[2021-06-19 08:42] wtwangcb commented on #3229
Here are the logs output

I20210616-14:13:31.643(0) Exception while invoking method push_test Error: There are no tokens for this user [error-no-tokens-for-this-user]     at MethodInvocation.push_test (server/lib/pushConfig.js:51:10)     at MethodInvocation.methodsMap.<computed> (app/lib/server/lib/debug.js:76:34)     at maybeAuditArgumentChecks (packages/ddp-server/livedata_server.js:1771:12)

[2021-06-20 20:19] roaring-b commented on #2634
I'm still seeing this with 4.17.0

[2021-06-21 13:27] gerzonc commented on #3040
This issue [seems to be related to RNFetchBlob](https://github.com/joltup/rn-fetch-blob/issues/573) and not directly with Rocket.Chat, and this might require us either to patch the lib ourselves or update it and check if it works properly.

[2021-06-21 14:21] diegolmello commented on #3229
The device needs to contain Google services.
It looks like OPPO A22 doesn't have it.

[2021-06-21 14:21] #3229 closed

[2021-06-21 16:21] johncrisp commented on #3226
Hi, we can't help you without all the correct details.

Github is for bugs and we can see no errors here.

Please ask for support in https://open.rocket.chat/ #support

[2021-06-21 16:21] #3226 closed

[2021-06-21 17:16] aleadco opened #3231 "Links do not work if protocol is not set in URL prefix"
### Description:

Links do not work if protocol is not set in URL prefix

When you send a link in example.com format the address is highlighted and the hyperlink is created but when you try to click it does not react.

I think that's what was meant in #3226

### Environment Information:

- Rocket.Chat Server Version: 3.15
- Rocket.Chat App Version: 4.17
- Device Name: Xiaomi - Samsung
- OS Version

[2021-06-22 10:20] johncrisp commented on #3216
Hi,

github is for proven bugs and not general support

Please follow up on your thread in open.rocket.chat here and we will try and assist you. If we discover a bug we can re-open this.

https://open.rocket.chat/channel/react-native?msg=NgUNbckLqlKusnAuH

[2021-06-22 10:20] #3216 closed

[2021-06-22 10:28] DiamoandDog commented on #2803
Try uninstalling the app and then reinstall it, which is how I solved it

[2021-06-23 16:12] spdreg opened #3236 "[Security Issue] Access token revealed in uploaded file url. Access to the files not properly checked"
### Description:

On iOS RocketChat app users can acquire  full url link to uploaded file in channel.
This url contains userid and access token.
user can send this link to someone else which will revel his userid and access token
Access token as I understood do not have expiration time

So by sending such url user in fact 1) will send permanent link to the file
and 2) the ability to get access to

[2021-06-23 16:14] diegolmello commented on #3236
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3210

[2021-06-23 16:14] #3236 closed

[2021-06-23 21:27] OneTwoBarbecue commented on #3193
Facing the same problem here.
Server Version is Snap 3.15.0, App-Version is 4.17.0 on IPad/IOS.
Additionally when entering a discussion in a channel via the blue button in the messages-view on the right there is no way back to the parent channel.
Inside a discussion no move-back-arrow is shown in the discussion header (as is when entering threads).
Clicking on the parent channel in the channel-lis

[2021-06-24 13:10] pritamye77 opened #3238 "Not getting a push notification on IOS"
Description:
iOS Rocket Chat native APN for push notifications not working ios app

Environment Information:
Rocket.Chat Server Version: 3.15.1
Rocket.Chat App Version: 4.14.0.1
Device Name: iPhone 11
OS Version: 13.5
Steps to reproduce:
Register APN keys to admin on RocketChat server
Send test push notification
Expected behavior:
Get a push notification on iPhone

Actual behavior:
Not getting a p

[2021-06-24 13:15] #2634 closed

[2021-06-24 14:04] jbuechele commented on #2343
@diegolmello I can confirm that. It seems that only unread messages from a direct message are displayed. Messages from a channel or thread are not displayed.

In the render method from the [RoomItemContainer](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/presentation/RoomItem/index.js) the `item.unread` is 0 for channels. Where does the attribute "unread" come from? from t

[2021-06-24 14:46] johncrisp commented on #3238
Hi,

Github is for actual bugs in the software.

There is insufficient information in your issue to be able to debug anything. You must properly fill out the bug reporting template.

When opening issues please make sure you give a through break down of the steps you have taken eg are you running https correctly, is this the standard gateway, are you building your own app etc etc

You will need to

[2021-06-24 14:46] #3238 closed

[2021-06-24 14:56] diegolmello commented on #2343
@jbuechele You might be talking about a different thing.
They are talking about the push notification _badge_ on iOS on home screen, which is sent from the server (a calc based on a summary of unread messages and notifications settings for reach room).

`item.unread` is room specific and only to be displayed on the rooms list.

[2021-06-25 04:17] ankar84 opened #3239 "Attachment picture from permanent link doesn't show at mobile client"
### Description:

Attachment picture from permanent link doesn't show at mobile client
Works good on desktop application and web version.

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Version: 4.17.0
- Device Name: Xiaomi Mi 9se
- OS Version: Android 10

### Steps to reproduce:

1. Send a message with picture
2. Get permanent link for message with picture
3.

[2021-06-25 11:27] jbuechele commented on #2343
Okay thanks. I meant the same. There is a `NotificationsIOS.setBadgesCount(count);` method and I thought the same attribute is used for that.

Could you reproduce it?

[2021-06-25 11:53] diegolmello commented on #2343
I couldn't focus on that yet, but I think it's refreshed (and the badge is displayed) when a push notification is received.
When the app is open or restored, the badge is cleared.

[2021-06-25 11:54] diegolmello commented on #3239
#2853 #2836

[2021-06-25 11:54] #3239 closed

[2021-06-26 10:06] jbuechele commented on #2343
I tried to debug the server code and I think its not a bug. There is a comment that the unread counter is only for mentions and direct messages ([notifyUsersOnMessage](https://github.com/RocketChat/Rocket.Chat/blob/857e21eaa7c8d38c1b52736495470ea72d8a7edd/app/lib/server/lib/notifyUsersOnMessage.js#L83)). The unread counter is then used to calc the badge count ([mobile.js](https://github.com/Rocket

[2021-06-26 21:05] poltrian opened #3240 "Phone App can not share pictures"
Description:

iPhone App can not share pictures

Steps to reproduce:

in a Chat Push + and got to local pictures

share, the App try to Upload, but nothing happend

I use the File storage Option on my Server.

Expected behavior:

Actual behavior:

Server Setup Information:

Version of Rocket.Chat Server:

Operating System: Ubuntu 20.04

Deployment Method: snap

Number of Running Instances:

DB Rep

[2021-06-27 11:59] #3240 closed

[2021-06-27 12:07] genofire opened #3241 "Unified Push with Embedded FCM Distributor"
### Description:

It would be nice if the way of PushNotifications would be use [Unified Push](https://unifiedpush.org/) on Android.
On this way the users could choice if it use google or his own infrastructure for it.

With Fallback to Google's Firebase Cloud Messenger:
https://unifiedpush.org/developers/embedded_fcm/

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App

[2021-06-28 09:04] uluzox commented on #3146
This did not work for me. I am seeing
[code]

[2021-06-28 14:33] diegolmello commented on #3241
That would be cool, but that's not something we can support on master (multiple push notification services might cause issues).
Maybe a specific branch?

[2021-06-29 01:25] Simon2046 opened #3253 "Can't access Admin Panel from app"
### Server Setup Information:

- Version of Rocket.Chat Server: 3.16.0
- Operating System: Ubuntu 18.04.5 LTS
- Deployment Method: tar
- Number of Running Instances: 1
- DB Replicaset Oplog:
- NodeJS Version: 12.18.4
- MongoDB Version: 4.0.23

### Client Setup Information

- Desktop App or Browser Version: iOS App 4.17.0.24389
- Operating System: iOS 14.6

Can't access any item of Admin Panel from

[2021-06-29 13:51] diegolmello commented on #2284
#3134 Google OAuth is now made on external browsers, so that might fix FIDO.
It's still missing for other OAuth or SSO though.
Let me know if this is enough to close this issue.
Thank you.

[2021-06-29 20:33] ferkawi commented on #3220
Hey @uluzox did you solve this issue? I was 3 days just trying a lot of "Solutions" but nothing solved the issue... Also Xcode 12.5 with an M1..thank you!

[2021-06-29 20:38] ferkawi commented on #3146
Same here! Xcode 12.5 and M1

[2021-06-29 20:48] diegolmello commented on #3146
I don't recommend using Xcode 12.5 (you can download 12.4) or new Flipper versions yet (I'm running v0.57 fine here).
I've been working updating all libs and noted this as an issue.
OpenSSL 1.1 changed a lot and we'll have to tweak react-native-simple-crypto to make it work.
I might have a fix in a few weeks (or sooner 🤞 ).

[2021-06-29 20:55] ferkawi commented on #3146
I will give a try! thank you @diegolmello !

[2021-06-30 08:44] ferkawi commented on #3146
So after a lot of tries, is working now, after a fresh clone. Xcode 12.4 Mac Mini M1.

Maybe help somebody: if u get "build commands failed": CompileSwift and CompileSwiftSources just add in the root a new Swift File and include it to all Targets. The file should have only the import Foundation. After that clean the Project (Product->Clean) and rebuild!

[2021-06-30 10:02] ferkawi commented on #3146
So after a lot of tries, is working now, after a fresh clone - without change Flipper. Xcode 12.4 Mac Mini M1.

All the Problems are because of the M1... The Solution...Cocoapods doesnt work with M1 so we should install it with a Rosetta Terminal and exclude arm64 architectur for the project. I excluded it an all Targets and Pod file. Here more:

https://narlei.com/development/apple-m1-xcode-error

[2021-06-30 15:51] genofire commented on #3241
For Android, UnifiedPush is an kind of wrapper for every Push notification - like FCM or Gotify.

[2021-06-30 17:00] diegolmello commented on #3241
For sure the project looks promising, but we need to evaluate it carefully before making a huge effort to change our apps and push gateway.
It's not something simple to do and we have other priorities right now.
I'll make sure to keep this on our radar though.
Thanks for opening.

[2021-06-30 21:39] no-trick-pony commented on #1973
I am a bit confused: Why would you implement this and display it in the UI directly below the chat input at the same level as bold, italic or inline code when it is basically broken in all of your own mobile clients?

[2021-07-01 05:54] ankar84 opened #3246 "Full synchronization of read message status with web client"
### Description:

Now, when I have unread messages, I have unread indicator on RCRN application icon. But if I read all unread messages on web client, that unread indicator remain on  RCRN application icon, which is wrong in that case.

And optional (I don't know if it doable or not) - if I have unread push notification on smartphone and then I read that message on web client - it would be so good

[2021-07-01 12:56] diegolmello commented on #3246
It was possible a few years ago through voip notifications. It's not anymore. Read: https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1099#issuecomment-818713858

The other topic is dup of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2343

[2021-07-01 12:56] #3246 closed

[2021-07-01 16:02] johncrisp commented on #1973
Hi,

So the situation here is complex.

First thing to note is that the mobile app is not 'broken'. However, the specific functionality you require is not yet implemented.

It's not implemented because Katex uses web stuff to render the math operations.

As a result we'd need to either create a native module to do that, or try to embed a webview into the message component.

It is on our long term

[2021-07-01 18:16] diegolmello commented on #3221
I could not reproduce, but I saw that happening to some other apps on iOS.
It looks like an issue on iOS 14 https://developer.apple.com/forums/thread/662671

[2021-07-01 18:16] #3221 closed

[2021-07-01 18:17] reinaldonetof commented on #3193
Thanks for the report! We will work on that!

[2021-07-05 06:05] hkpanchani opened #3250 "Whitelabel branch build failed for android"
### Description:

Release Build failed with following error
Execution failed for task ':app:bundleReleaseJsAndAssets'.

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Version: 4.17.0
- Device Name: Oneplus 6t
- OS Version: Android 10

### Steps to reproduce:
./gradlew assembleRelease

### Expected behavior:
Successfully build APK

### Actual behavior:

Failed

[2021-07-05 06:30] hkpanchani commented on #3250
Was managed to generate apk with
`gradlew app:assembleRelease -x bundleReleaseJsAndAssets`

but the apk doesnt work on any android.
![image](https://user-images.githubusercontent.com/35301566/124427125-9761ec80-dd88-11eb-9df8-716dc5e23bbe.png)

![image](https://user-images.githubusercontent.com/35301566/124427153-a2b51800-dd88-11eb-9354-86aaab819776.png)

[2021-07-05 07:00] hkpanchani commented on #3250
Someone please update whitelabel branch and package dependancies for this branch

[2021-07-05 12:41] diegolmello commented on #3250
Follow the docs https://developer.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#running-the-app-1

[2021-07-05 12:41] #3250 closed

[2021-07-05 12:46] hkpanchani commented on #3250
Yes I am able to build single-server app.
But I am interested in multi-server app.. As our departments uses different instance of rocketchat server so they can utilise single mobile app for 2 servers.

[2021-07-05 12:47] hkpanchani commented on #3250
I am also able to build app from whitelabel brach but it does not work with multi server

[2021-07-05 12:50] diegolmello commented on #3250
We don't have specific docs for your use case.
You can read parts of the docs for whitelabel to learn how to build and configure your app and apply it to `master` branch (so you can have multi server)

[2021-07-06 16:17] johncrisp commented on #3253
So here are some duplicates.... :-(

This is actually a front end issue as the app only uses a web view for this.

I am going to raise it with the product team.

https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3253
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2912
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2638
https://github.com/RocketChat/Rocket.Cha

[2021-07-07 13:21] rocketbughunter opened #3257 "when you enter the chat on a notification of a new message - a scroll is triggered and the message is out of sight"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.15.1
- Rocket.Chat App Version: 4.17.0.24389
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1. Get notified of a new message
2. enter the application via tap on the notification
3. when entering the chat, a scroll was triggered and a new message was out of sight, to see it you have to

[2021-07-07 13:34] rocketbughunter opened #3258 "The unread section is not removed after receiving a new message and swipe to the right and "read"."
### Description:
The "unread on top" setting is enabled. I receive a new message.
The unread section appears.
Swipe right and "read".
The new message icon was removed, but the unread section was NOT removed.

### Environment Information:

- Rocket.Chat Server Version: 3.15.1
- Rocket.Chat App Version: 4.17.0.24389
- Device Name: Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1.

[2021-07-07 14:03] diegolmello commented on #3257
Might have been fixed by https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3225/files#diff-044c49956355a45706300a80d7956a16854cec536c8981c91c940885c3d7cd63R272
It's going to land on 4.18.0.
Please reopen if you see it.
Thanks.

[2021-07-07 14:03] #3257 closed

[2021-07-07 20:21] jhassler1031 commented on #2634
I am having this issue as well.  What was the resolution?

[2021-07-08 06:44] hkpanchani commented on #3250
@diegolmello
Thank you I was able to build the successful. If the requirement of these use case rise, I can try publishing documentation for this kind of cases on separate branch.

[2021-07-08 08:55] rocketbughunter opened #3259 "wrong icon for "unread on top" on the sorting bar"
### Description:
on the sorting panel the "unread on top" item has an eye icon and there should be a flag icon

### Environment Information:

- Rocket.Chat Server Version: 3.15.1
- Rocket.Chat App Version: 4.17.0.24389
- Device Name:  Iphone 11 pro max
- OS Version: ios 14.6

### Steps to reproduce:

1. open sort panel
2. "unread on top" has an eye icon (screenshot 1)
3. but this is an icon to "hi

[2021-07-08 08:56] rocketbughunter commented on #3259
![1](https://user-images.githubusercontent.com/82801688/124893619-8e208c00-dfe3-11eb-84b4-a1bf879346f9.jpeg)

[2021-07-08 08:57] rocketbughunter commented on #3259
![2](https://user-images.githubusercontent.com/82801688/124893669-98db2100-dfe3-11eb-840a-8344baf31663.jpeg)

[2021-07-08 08:57] rocketbughunter commented on #3259
![3](https://user-images.githubusercontent.com/82801688/124893704-a0022f00-dfe3-11eb-9a79-89aec01b336e.jpeg)

[2021-07-08 12:21] diegolmello commented on #3259
Nice catch! We're going to redesign some things and I'll make sure to raise this one. Thank you!

[2021-07-09 14:12] pritamye77 opened #3262 "No bundle URL present."
No bundle URL present.

Make sure you're running a packager server or have included a .jsbundle file in your application bundle.

RCTFatal
__28-[RCTCxxBridge handleError:]_block_invoke
_dispatch_call_block_and_release
_dispatch_client_callout
_dispatch_main_queue_callback_4CF
__CFRUNLOOP_IS_SERVICING_THE_MAIN_DISPATCH_QUEUE__
__CFRunLoopRun
CFRunLoopRunSpecific
GSEventRunModal
-[UIApplication _run

[2021-07-09 14:31] diegolmello commented on #3262
Not enough info. Please follow template.

[2021-07-09 14:31] #3262 closed

[2021-07-09 14:57] pritamye77 opened #3263 "No bundle URL present"
Description:
No bundle URL present.

Make sure you're running a packager server or have included a .jsbundle file in your application bundle.

Environment Information:
Rocket.Chat Server Version: 3.15.1
Rocket.Chat App Version: 4.16.1
Device Name: Iphone 11
OS Version: ios 14.6.0

After running the build gives this error

[2021-07-09 14:59] #3263 closed

[2021-07-09 14:59] pritamye77 commented on #3262
Description:
No bundle URL present.

Make sure you're running a packager server or have included a .jsbundle file in your application bundle.

Environment Information:
Rocket.Chat Server Version: 3.15.1
Rocket.Chat App Version: 4.16.1
Device Name: Iphone 11
OS Version: ios 14.6.0

After running the build gives this error

[2021-07-10 05:35] pritamye77 opened #3266 "No bundle URL present."
Description:
No bundle URL present.

Make sure you're running a packager server or have included a .jsbundle file in your application bundle.

Environment Information:
Rocket.Chat Server Version: 3.15.1
Rocket.Chat App Version: 4.16.1
Device Name: Iphone 11
OS Version: ios 14.6.0

After running the build gives this error
### Steps to reproduce:

After successful build

Run

Give this error after l

[2021-07-10 13:00] glinda93 opened #3267 "ReactOkHttpNetworkFetcher is not public in com.facebook.react.modules.fresco; cannot be accessed from outside package"
### Description:

I've got this error when I try to run android:

I've inspected `ReactOkHttpNetworkFetcher` class and it's indeed not declared as public.

How can I resolve this error?

### Environment Information:

- Rocket.Chat Server Version: latest
- Rocket.Chat App Version: latest
- Device Name: Android
- OS Version: any

### Steps to reproduce:

1. npx react-native run-android

### Expected

[2021-07-12 09:39] 3990995 opened #3268 "Showing All Messages Application extensions and any libraries they link to must be built with the `APPLICATION_EXTENSION_API_ONLY` build setting set to YES."
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:develop
- Device Name: simulator
- OS Version: macos big sur

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional context:

[2021-07-13 16:32] #3268 closed

[2021-07-13 16:32] diegolmello commented on #3268
We need more info and please follow the template.

[2021-07-13 16:33] diegolmello commented on #3266
That's a RN issue.
Metro bundler is not open.

[2021-07-13 16:33] #3266 closed

[2021-07-13 16:35] diegolmello commented on #3191
The badge depends on Android manufacturer to implement badge feature.
You didn't specify which Android device you have, so I can't tell.
Closing for now.
We can reopen if it's the case.

[2021-07-13 16:35] #3191 closed

[2021-07-13 16:42] diegolmello commented on #3168
Duplicated #704

[2021-07-13 16:42] #3168 closed

[2021-07-13 16:46] diegolmello commented on #2695
Fixed already.

[2021-07-13 16:46] #2695 closed

[2021-07-13 16:50] #1844 closed

[2021-07-13 16:50] #1427 closed

[2021-07-13 16:51] #1296 closed

[2021-07-13 16:51] #842 closed

[2021-07-13 16:52] #2186 closed

[2021-07-13 16:52] #2284 closed

[2021-07-13 16:53] #2478 closed

[2021-07-13 16:53] #2525 closed

[2021-07-13 16:54] #2593 closed

[2021-07-14 09:10] idominiki commented on #2135
Hi @diegolmello

Please look further to implement this feature. We got a lot of support tickets, regarding entering the server url at first App launch.

Thanks and Greets
Dominik

[2021-07-15 07:47] xcme opened #3274 "Notification preferences menu shows nothing"
Hi,

Not sure if it's a really bug or just wrong settings somewhere, but I can't get access to notification settings on my Android apps. I don't want to use push because of Google and trying to enable App-In notification, but these setting are unavailable.

### Environment Information:

- Rocket.Chat Server Version: 3.16.1, on my own server in docker container
- Rocket.Chat App Version: 4.17.0, fr

[2021-07-15 07:56] OrigamiKill opened #3275 "[NEW] Add support to "API_EmbedDisabledFor" setting (Copied from previous mobile apps issues)"
Refers to the code on the web client: https://github.com/RocketChat/Rocket.Chat/blob/cb34777455fa232e4b6dc6a622b814aa6d7fcd0d/packages/rocketchat-ui-message/client/message.js#L195-L205.  From RocketChat/Rocket.Chat#10525

[2021-07-15 11:49] Goden4you opened #3276 "Search on main page is case sensitive for russian text"
### Description:

It seems like search for channels/users use case sensitivity for russian text. English text works fine
For example imagine that you have channel "ПРОВЕРКА". And your search will be like this:
1) input - "Пр"
    expected result - "ПРОВЕРКА"
    real result - nothing
<img width="361" alt="Снимок экрана 2021-07-15 в 14 47 21" src="https://user-images.githubusercontent.com/44268968/

[2021-07-15 12:10] diegolmello commented on #3276
Hey, @Goden4you.
Can you test on web client and shows the results?
Thank you.

[2021-07-15 12:54] Goden4you commented on #3276
@diegolmello
<img width="286" alt="Снимок экрана 2021-07-15 в 15 52 05" src="https://user-images.githubusercontent.com/44268968/125791172-13e0a26a-922f-448d-8e99-b6528c77db96.png">

There is no problem on web and desktop. Only mobile

[2021-07-20 05:10] ankar84 commented on #3276
I don't know, but working good for me at 4.13
![IMG_20210720_120834.jpg](https://user-images.githubusercontent.com/4023037/126265329-75735deb-7e7b-4bc5-bdaf-5768c939448b.jpg)

[2021-07-21 09:08] Goden4you commented on #3276
@ankar84 your code of "localSearch" and "search" in app/lib/rocketchat.js is the same as in this repository? If not, can you provide your code of this func?

[2021-07-21 09:46] ankar84 commented on #3276
We didn't change that part of code for sure.
Try to check this
![image](https://user-images.githubusercontent.com/4023037/126468852-78b4e91e-81f1-4214-b0a2-2339fb1e4329.png)
And this
![image](https://user-images.githubusercontent.com/4023037/126468956-4d8e0445-2c0f-43b7-9ce1-f5a5e66d62e2.png)

[2021-07-21 12:46] diegolmello commented on #3276
Can you reproduce it on 4.18.0 and on https://open.rocket.chat?
We can reopen this issue after we are sure it's a bug.
Thanks!

[2021-07-21 15:25] Goden4you commented on #3276
Is the second screen in “Messages”? If it’s true, nothing happens when I switch

[2021-07-22 03:08] ankar84 commented on #3276
It could be iOS only issue because I don't have it in 4.18.0 at open server.

[2021-07-23 08:12] hoanff opened #3293 "[Android-ReactNative] Can't search channel when entering rocket chat app with notification"
Step1: Open Apps
Step2: Hide apps
Step3: Click notifications join Channels Apps
Step4: Search channels
-> Search not working

[2021-07-23 13:18] pritamye77 commented on #3209
Hi, i'm not getting push notification in ios...please help what you have done to fix it ?

[2021-07-25 02:50] hoanff commented on #3293
Step1: Open Apps
![Screenshot_2](https://user-images.githubusercontent.com/61579021/126765920-a19a57af-95c2-45bf-ae29-9f03d176d737.png)
Step2: Hide apps and click notifications
![image](https://user-images.githubusercontent.com/61579021/126765996-2bb53959-52ea-48ce-a823-fa548c1a7b39.png)
Step3: Click notifications join Channels Apps
![image](https://user-images.githubusercontent.com/61579021/12676

[2021-07-26 02:30] 3990995 opened #3296 "最新代码在 XCODE 12（Version 12.5 (12E262)）编译失败"
### Description:

我 clone 了最新的 develop 分支的代码，执行了yarn && yarn ios
最后打开 RocketChatRN.xcworkspace 然后执行 CMD+B 就报错了

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version: develop branch
- Device Name: Simulator iPhone11
- OS Version:  ios14.2

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

我认为可以正常编译

### Actual behavior:

编译错了
UMCore/UMDefines.m
'sharedAppli

[2021-07-26 16:17] diegolmello commented on #3146
Fixed by #3245

[2021-07-26 16:17] #3146 closed

[2021-07-26 16:18] diegolmello commented on #3296
Make sure to pull latest changes, clean and try again.
It should have been fixed by #3245

[2021-07-26 16:19] diegolmello commented on #3293
@LevyCosta Can you reproduce it?

[2021-07-26 16:44] lucalves opened #3299 "Bugsnag error when running the project"
### Description:

I cannot run the project after the `yarn` and `yarn android` command. The error is from project execution.

### Environment Information:

- Device Name: Pixel 3a
- OS Version: Android Emulator with API 30

### Steps to reproduce:

1. Just clone the repository with: `git clone git@github.com:RocketChat/Rocket.Chat.ReactNative.git`.
2. Go to the folder with `cd Rocket.Chat.ReactNat

[2021-07-26 16:45] diegolmello commented on #3299
I'm working on a fix. Thanks.

[2021-07-26 16:47] lucalves commented on #3299
Any workarounds I can do to run the app?

[2021-07-26 16:48] diegolmello commented on #3299
Remove Bugsnag completely.

[2021-07-27 02:20] hoanff commented on #3293
Video reproduce !
https://user-images.githubusercontent.com/61579021/127084793-69d370f5-60c9-4fce-83c0-c8fbad9a901e.mp4

[2021-07-27 02:27] hoanff commented on #3293
Reproduce:
https://user-images.githubusercontent.com/61579021/127085381-7b18b115-5da3-4adb-8b68-4c2ff3e55840.mp4

[2021-07-27 02:32] hoanff opened #3301 "Can't search channel when entering rocket chat app with notification"
https://user-images.githubusercontent.com/61579021/127085722-4dfbc54f-8eaf-43de-825d-ac52c8c6da41.mp4

[2021-07-27 06:15] erfantmi9 opened #3302 "building app in whitelabel mode results an empty screen"
### Description:

I did all steps of white-labeling from your website but it displays a blank screen with a header.

### Environment Information:

- Rocket.Chat App Version: 4.18.0.1
- Device Name: A71 Samsung
- OS Version: 11

### Steps to reproduce:

1.Just clone the repository with `git clone git@github.com:RocketChat/Rocket.Chat.ReactNative.git`.
2.Go to the folder with `cd Rocket.Chat.ReactNa

[2021-07-27 08:12] uluzox commented on #3146
This fix is not part of the `single-server` branch yet, is it?
When will it be merged to the `single-server` branch?

[2021-07-27 10:26] ankar84 opened #3303 "[performance] Update takes to long for users who participates in huge amount of chats"
### Description:

We have a lot of users that participate on a large amount of different chats.
And when such user launch RCRN application, **Updating...** process takes too long, from 30 seconds to few munities, which is really annoying  for users.

Can that process be improved to take 2 or 5 seconds like WhatsApp or Telegram do?

### Environment Information:

- Rocket.Chat Server Version: 3.16.3

[2021-07-27 12:28] diegolmello commented on #3303
Yes, we can take a look soon. I can't reproduce that all the time on open server though. Can you?
Maybe the precise steps are a little bit different?
Wifi vs 4G? Android only? Left the app some time on background? :)

[2021-07-27 13:01] diegolmello commented on #3146
No, it's not released yet.
We still need to battle test everything because it was a huge change and the release is going to happen ~Aug 23.
That's when we merge develop into main and we update single-server and whitelabel docs.

[2021-07-27 18:40] johnjohndoe opened #3304 "Single sign on fails / couldn't find DSO to load: libjsc.so"
### Description:

- Single sign on fails every time.
- I already force stopped the app, cleared the storage and the cache and retried without success.

### Environment Information:

- Rocket.Chat Server Version: ?
- Rocket.Chat App Version: 4.18.0.24757
- Device Name: Pixel 2
- OS Version: Android 10

### Steps to reproduce:

1. Join [Example] channel
2. Select Login
3. Select "Continue with Login

[2021-07-27 21:38] jeremyevans6 commented on #3302
I've also had this error, pleased to see I'm not alone.

I've detailed the issue here, albeit clumsily: [OpenRocketChat]( https://open.rocket.chat/channel/react-native/thread/strDagtBoRARJWYpE)

I've also solved this, albeit by breaking certain checks regarding open registration and probably other things. If you're in a hurry, @erfantmi9, I detailed my solution in the link.

[2021-07-28 02:43] mikerogerz commented on #3302
Same over here. If it's helpful, this is the error in the debug log:

[code]

[2021-07-28 03:56] jeremyevans6 commented on #3302
Put succinctly, the issue seems to be that the Workspace View is top of the OutsideStack, called upon by `app/sagas/init.js` when the server is not set. There's no logic on the way to WorkSpace that sets the server, so the Workspace displays without any available servers.

I suspect the AppConfig server should have been implemented prior to reaching init.js, but I don't know how it's worked in the

[2021-07-28 05:48] erfantmi9 commented on #3302
@mikerogerz  yes. I have the same warning message but I couldn't solve this problem yet.

[2021-07-28 06:28] erfantmi9 commented on #3302
@jeremyevans6 thanks for your help. I read all your conversations on that link. I understood from that conversation that this problem has not yet been fully resolved and is still being investigated. am I correct?

[2021-07-28 06:40] jeremyevans6 commented on #3302
Thanks to you :)

I, and probably much of the team of developers, thought I was just screwing up the installation somewhere. With three new installations of single-server failing, this is an issue indeed.

If you're planning to modify the app, you can get started with my rough patch. Otherwise, you can hang tight for a "real" fix.

[2021-07-28 06:47] erfantmi9 commented on #3302
@jeremyevans6
yesterday I built a project without any changes to the files.  I got the blank screen with that header and nothing else. I thought it was my fault but that was an issue.

[2021-07-28 10:05] ankar84 commented on #3303
I guess you right, Diego!
My bad, I did test on our current whitelabel version, which is on 4.13.1 now

Did some test with latest 4.18.0 version both on open server and my server - all looks perfect. Update... process really as I wanted - about 2-3 seconds.

I prefer to leave that issue open until we build our own RCRN app on 4.18. version and test it.
Thank you, Diego!

[2021-07-28 12:20] diegolmello commented on #3303
Actually, we plan to make it faster.
It can take 10 seconds to connect depending on the app state.

[2021-07-28 12:38] ankar84 commented on #3303
That will a really good point of performance improvement, for sure!
Thanks for the mobile team!

[2021-07-28 15:49] ahampro commented on #3169
@Arska777 has the issue been resolved by the update or not resolved yet?

[2021-07-28 18:32] malikkirchner opened #3306 "Content-encoding gzip broken"
### Description:

The client sends Accept-Encoding: gzip, but does not actually work with Content-Encoding: gzip. With gzip enabled, the client cannot connect to the server anymore.

### Environment Information:

- Rocket.Chat Server Version: 3.15.0
- Rocket.Chat App Version: 4.18.0
- Device Name: OnePlus 7 Pro
- OS Version: Android 11

### Steps to reproduce:

1. Setup Rocket.Chat server behind a

[2021-07-28 20:36] #3299 closed

[2021-07-28 20:54] diegolmello commented on #3306
Can you follow the issue template giving us a proper reproducible example and a detailed stack trace? Thanks!

[2021-07-29 05:45] mcs commented on #2102
Can I find this settings somewhere in the documentation?

[2021-07-29 05:51] ankar84 commented on #2102
Only here https://github.com/RocketChat/Rocket.Chat/pull/17669

[2021-07-29 08:06] malikkirchner commented on #3306
The mobile Github client does not offer the issue template. I have no public _proper example_ or stack trace.

[2021-07-29 21:05] cprice-kgi commented on #2883
I had the same problem, but it was likely due to the fact that I was trying to run in an Android simulator on my M1 mac mini. Once I tested the same .apk on a simulator running on my intel-based macbook, it worked fine. In my case, OAUTH worked fine on ios, but I was having the same issue you described. The issue seems to be with WebView not being able to render on the M1 Android simulator.

[2021-07-30 07:46] jasminehung commented on #3267
Same error here with branch:single-server

[2021-07-30 10:10] hoanff commented on #3293
https://user-images.githubusercontent.com/61579021/127085381-7b18b115-5da3-4adb-8b68-4c2ff3e55840.mp4

[2021-07-30 20:31] jacotec commented on #3302
+1 here. Same issue on my IOS build (I did not run Android yet), I did three new builds and thought I've overlooked something. Now it's clear that it's a bug, rendering 4.18.0 useless for single server builds.

Looks like we need to wait for an official fix or 4.18.1 ...

[2021-07-30 21:02] AlexAlexandre commented on #3302
Hello everyone, we are already aware of the problem and working on a solution.
As soon as possible we will release a fix and let the community know.

[2021-08-02 02:11] hoanff commented on #3293
@diegolmello help me

[2021-08-03 08:14] didacroyo opened #3312 "Deeplink to a r"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.17.0
- Rocket.Chat App Version: 4.18.0.24757
- Device Name: One Plus AC2003 (Android)
- OS Version: Android 11

### Steps to reproduce:

1. Share a link with a mobile user that should redirect to a specific thread (that works for the web app user):
https://go.rocket.chat/room?host=<HOST>&path=<PATH>

2. The link does n

[2021-08-03 09:13] rfakit commented on #2129
anyone there?

[2021-08-03 12:47] diegolmello commented on #3312
@didacroyo Thanks for reporting. Can you send us a complete url (can be a fake one, but containing all params).
I think it contains something pointing to the messageId, right?

[2021-08-03 15:47] didacroyo commented on #3312
Dear @diegolmello,  thanks for the quick reply.

This is an complete url (just replaced the host):
https://go.rocket.chat/room?host=chat.mydomain.com&path=channel/general/thread/EcYgMf8LMcg8DAG4h

I've also tried with different combinations of the param rid, without success. Since it is working fine in the web I get to the conclusion that it is an issue (or a missing feature) affecting only the mo

[2021-08-03 15:54] diegolmello commented on #3312
Yes, you're right.
It's a missing feature.

[2021-08-04 07:43] khalednailigit opened #3315 "Error type 3 Error: Activity class {chat.rocket.whitelabel/chat.rocket.reactnative.MainActivity} does not exist."
info Starting the app on "emulator-5554"...
Starting: Intent { cmp=chat.rocket.whitelabel/chat.rocket.reactnative.MainActivity }
Error type 3
Error: Activity class {chat.rocket.whitelabel/chat.rocket.reactnative.MainActivity} does not exist.

[2021-08-04 12:22] diegolmello commented on #3315
https://developer.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#running-the-app-1

[2021-08-04 12:22] #3315 closed

[2021-08-04 13:48] rocketbughunter commented on #3191
Sorry, I mistakenly indicated an ios device instead of an android

Device Name: Xiaomi Redmi Note 8 Pro
OS Version: android 10

I do not have a new message icon on this device

[2021-08-04 20:59] LaurenceJJones opened #3316 "Mobile Black Screen"
### Description:
https://github.com/RocketChat/Rocket.Chat/issues/22843#issuecomment-892962689

Administration > General > Api
Dropping Max Record Amount below 50 and Default Count below 15 does not allow the mobile app to gather all the settings it needs to show the login form.

### Environment Information:
- Rocket.Chat Server Version: 3.17.0
- Rocket.Chat App Version: 4.18
- Device Name: Unkown

[2021-08-05 06:46] czapi03 commented on #3302
@AlexAlexandre hi, im also facing this issue. do you have any updates yet? Thanks

[2021-08-05 12:28] diegolmello commented on #3316
It's a known issue. Why do you need to change that setting?

[2021-08-05 13:42] LevyCosta commented on #3293
Hey, @hoanff . I was not able to reproduce your issue from my end.
Does it happen "every time" for you?
were you able to reproduce it on a physical device?

[2021-08-05 14:57] shaheem-khanzada opened #3317 "[bug] Mentions not working for Thread Reply message its showing user name"
![IMG_1653](https://user-images.githubusercontent.com/37620819/128371337-a2673537-0428-45bb-afc7-f212a8692066.jpg)

### Description:

Mentions not working for Thread Reply message its showing user name but we need to show as we show mention for other messages

### Steps to reproduce:

1. Long press on a mention message and select replay.
2. when u send that message u will see like this @furqankhan

[2021-08-05 18:36] LaurenceJJones commented on #3316
Just thought it is good practice to limit responses on an API if users don't need it. I couldn't find any information on it so how known is it? Might be useful to document it somewhere if a code change is not needed?

[2021-08-05 18:51] diegolmello commented on #3316
The users do need it and the default (50) is a good limit.
However, it's still a bug.
Even though a low priority one.

[2021-08-06 19:00] cprice-kgi commented on #3088
I ran into this same issue when testing 3.14. I looked into it and it appears the server setting for mobile screen lock is causing this issue. When it is turned on, I also get the black screen when sharing. I fixed it in my code and will open a PR for the fix.

If you have screen lock enabled on the server side, this could be the issue you are seeing as well.

[2021-08-07 09:51] MuhammadAliGabol opened #3321 "How to change android notification small icon? [whitelabeling rocket chat]"
![image](https://user-images.githubusercontent.com/58255871/128596069-9bd985af-babe-4a46-862d-fbdb92a6688f.png)

### Description:

I want to change this small icon which appears in the notification in android. I have tried but haven't found anything.
Is there any way to change it?
if there is then how can I change this icon?

[NOTE] I am whitelabeling the rocket chat app

### Steps to reproduce:

[2021-08-09 12:48] diegolmello commented on #3321
That's `ic_notification` https://developer.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#general-setup-1

[2021-08-09 12:48] #3321 closed

[2021-08-10 16:46] xcme commented on #3274
Hi. No response so far. It supposed to be a simple question, I was thinking...

[2021-08-11 12:26] diegolmello commented on #3303
That's looks too much imo.
Can you reproduce that on open server?
Thanks!

[2021-08-11 13:44] ankar84 commented on #3303
No, unfortunately.
I don't have such activities and subscriptions at open server compare to my production server.
But antway, 4.18.0 looks faster then 4.13

[2021-08-11 20:09] jacotec commented on #3302
@AlexAlexandre Any news?

[2021-08-12 14:36] northway commented on #2235
I'm having the same issue with a similar deployment.

* Version of Rocket.Chat Server: 3.17.0
* Operating System: Ubuntu Linux
* Deployment Method: Docker
* Number of Running Instances: 2
* DB Replicaset Oplog: y
* NodeJS Version: v12.22.1
* Apps Engine Version: 1.27.1
* MongoDB Version: 4.0.26 / wiredTiger (oplog Enabled)

[code]

[2021-08-13 12:41] b90g opened #3326 "Login with SAML sends user in a loop with no error message."
### Description:
User is entering server URL, clicks connect and nothing happens. This has been tried with WLAN and direct mobile internet connections.
### Environment Information:

- Rocket.Chat Server Version: 3.17.0
- Rocket.Chat App Version: 4.18.0
- Device Name: MI ?
- OS Version: MIUI 12.5 (Android 11)

### Steps to reproduce:

1. enter servername (chatbegruenung.de)

### Expected behavior:

[2021-08-13 19:37] ankar84 commented on #2393
Issue was in handling hide of system messages and totally fixed in 4.19.0 with server version 3.16.3

[2021-08-14 03:55] ankar84 commented on #3158
Testing early beta on 4.19 with `trust-bwe=true` and ScreenSharing looks good and stable.
I will continue testing and close that issue when be 100% sure it solved by new Jitsi SDK in 4.19.
Thanks, Diego!

[2021-08-14 03:57] ankar84 commented on #2749
I'm testing early beta of 4.19.0 but that particular issue is really hard to reproduce.
But now it looks like it can be solved.
I'll continue my testing.

[2021-08-14 04:00] ankar84 commented on #3086
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3292 will fix that.
I will close that issue after intensive testing of all Jitsi functionality.

[2021-08-16 06:56] rocketbughunter opened #3327 "After entering a thread through a notification and reading a new message and entering the chat list - the channel remains in the unread section"
### Description:

Enabled setting unread on top. Аfter entering a thread through a notification and reading a new message and entering the chat list - the channel remains in the unread section. Pulling changes does not help, only restarting the application helps, or "clear local server cache"

### Environment Information:

- Rocket.Chat Server Version: 3.17.0-rc.5
- Rocket.Chat App Version: 4.18.0

[2021-08-16 06:57] rocketbughunter commented on #3327
https://user-images.githubusercontent.com/82801688/129523460-4af4261c-5123-4832-ac65-bd0385a8bf9c.mp4

[2021-08-16 14:52] reinaldonetof commented on #3326
Hi, @b90g! Thanks for your report! I tried to reproduce the error, but I could connect to the server and open the SAML page. Could you try again? I tested with a Redmi Note 9, MIUI 12.0.7, and is connecting properly to the server.

[2021-08-16 14:56] reinaldonetof commented on #3317
Thanks for your report, @shaheem-khanzada ! We will evaluate this issue in our next sprint!

[2021-08-16 18:14] AlexAlexandre commented on #3302
Sorry for my late response guys, I was on vacation and went back to work today.

Well, I just open a PR to fix this problem, you can follow this [link.](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3329)

soon as possible we'll update the single-server branch.

[2021-08-16 21:08] #3118 closed

[2021-08-17 06:28] b90g commented on #3326
user noted it works since yesterday, sorry for the disturbance :)

[2021-08-17 06:28] #3326 closed

[2021-08-17 19:00] cprice-kgi opened #3331 "Biometric lock preference not preserved upon logout"
### Description:

On the Admin > Security and privacy > Screen lock screen, choosing a biometric lock preference will save for the duration of your session, but when you logout of the app (and select either option for clearing cookies), the preference is cleared and reset to the default value.

### Environment Information:

- Rocket.Chat Server Version: 3.14.0
- Rocket.Chat App Version: 4.17.0
- D

[2021-08-17 19:00] cprice-kgi commented on #3331
Happy to work on this and convert to an Async Storage property; however, I wanted to get confirmation that it, in fact, should be operating as a user preference, and that the current behavior is not the intended one.

[2021-08-17 19:01] #3302 closed

[2021-08-17 19:37] gerzonc commented on #3331
Fixed on #3331

[2021-08-17 19:39] cprice-kgi commented on #3331
great, thank you!

[2021-08-17 19:43] #3331 closed

[2021-08-18 08:45] danilaandronov commented on #1651
Hello everyone, have you done this feature?

[2021-08-18 14:06] shaheem-khanzada opened #3332 "[Need Info] is there any way to send email as meesage and with good Ui"
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:
- OS Version:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional context:

[2021-08-18 14:50] #3332 closed

[2021-08-18 20:56] shaheem-khanzada opened #3334 "[New] Implement webrtc with (callkit and connection service)"
Hy guys I want to contribute to the implementation of webrtc with a call kit instead of JITSI I just need some help with sockets so can I also use @rocketchat/emitter lib in mobile if yes then just give me some guide so I can start and make Complete Calling app like WhatsApp

[2021-08-19 06:09] ankar84 commented on #3303
I have 1688 subscriptions on my prod server
![image](https://user-images.githubusercontent.com/4023037/130016671-10de5f65-b7b6-4a52-bc2d-7d6884d14fd3.png)

But test 4.19 seems much faster. I will wait it released and give updates here.

[2021-08-19 09:04] zdumitru commented on #2756
@diegolmello Backend part has been fixed [here](https://github.com/RocketChat/Rocket.Chat/pull/21452) and on desktop is shown status for all users when having direct messages between multiple users. So I believe that this issue for mobile part is ready to be worked on.

[2021-08-19 12:19] diegolmello commented on #3303
I see.
I have more than that on my user on open server :)
Maybe it's a machine thing?

[2021-08-19 12:24] diegolmello commented on #2756
Awesome.
I'll bring it up on next sprint planning.
Thanks for letting us know.

[2021-08-19 12:27] diegolmello commented on #3334
Hey, @shaheem-khanzada.
That would be amazing, but what about Android?
Also, I wonder how it would behave on the web.

[2021-08-19 12:28] ankar84 commented on #3303
Could be. I have a pretty powerful Xiaomi Mi 9SE.
And I know, that @wreske have that same issue

[2021-08-19 12:32] diegolmello commented on #3303
I meant machine running the server.
If it keeps happening on 4.19.0, can you add me to your server?

[2021-08-19 13:30] shaheem-khanzada commented on #3334
@diegolmello I will try to use the same functionality as we have on the web and it will work on android and ios and also on web if web users enabled a webrtc service, and for showing call screen in ios we will use callkit and in android, we will use connectionService

[2021-08-19 13:31] shaheem-khanzada commented on #3334
@diegolmello just guide me how can i send and receive events in mobile and i will handle rest

[2021-08-19 13:38] diegolmello commented on #3334
Great.
There's not many events.
We just generate a URL and call Jitsi with it.
This is where we generate the URL https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/methods/callJitsi.js#L38
Everything else is handled by Jitsi.

[2021-08-19 13:57] shaheem-khanzada commented on #3334
@diegolmello check this https://github.com/RocketChat/Rocket.Chat/blob/157b882d38b34b7b79dea527316554fe33f70891/app/webrtc/client/WebRTCClass.js

check `class WebRTCTransportClass extends Emitter` this class we have all the methods i want that in mobile

and jitsi is diffrent and in webrtc we handle all things

[2021-08-19 14:15] diegolmello commented on #3334
I don't know how that would behave on mobile or if we need it at all.
Can you do a proper research on what to do?

[2021-08-19 14:31] shaheem-khanzada commented on #3334
@diegolmello I did my research I need the events to send data like (SDP, candidate, answer) because webrtc is peer to peer but in order to start  call we need a signaling server like sockets and on Rocket chat web I found this class with all the methods implemented just ready to use, but my question is how we can use them and in for that, I need your help

[2021-08-19 14:33] shaheem-khanzada commented on #3334
@diegolmello and in order to use webrtc like web to mobile or mobile to the web we need to use same methods with same data struct

[2021-08-19 14:34] diegolmello commented on #3334
You should check how Jitsi handles it https://github.com/jitsi/jitsi-meet

[2021-08-19 14:41] shaheem-khanzada commented on #3334
@diegolmello jitsi also use a signaling server behind the scene and that's why we have limited options

Rocket web got the webrtc we just need to use the same things in mobile
Example of some methods in web version

    `sendCandidate(data) {
		data.from = this.webrtcInstance.selfId;
		data.room = this.webrtcInstance.room;
		this.log('WebRTCTransportClass - sendCandidate', data);
		Notifications.n

[2021-08-19 15:47] ankar84 commented on #3303
Web version don't have such problems.
And now I'm testing 4.19 on my production server, but with test account. And it's really fast! One slow status that I got it was *Waiting for network...* And it was on open server.
All start application statuses went fats on my server with test account.

I will wait until 4.19 release to check connection on my main account on my production server. And if all w

[2021-08-20 13:01] udvarit commented on #1449
Just so it's clearer for future readers, how I did this on my env:

1. Opened _/etc/nginx/sites-enabled/default_
2. Added `client_max_body_size 50M;` in the server block, after the `error_log` line
3. Restarted nginx with `# systemctl restart nginx.service`

My env: Debian GNU/Linux 10 (buster), Rocket.Chat Server version: 2.4.14, installed via snap

[2021-08-23 12:04] fidelsam1992 commented on #3144
You need to set the "Toggle Room E2E Encryption" permission to the user role

[2021-08-23 16:10] #3296 closed

[2021-08-24 07:41] khalednailigit opened #3339 "Application extensions and any libraries they link to must be built with the `APPLICATION_EXTENSION_API_ONLY` build setting set to YES. (in target 'ShareRocketChatRN' from project 'RocketChatRN')"
Command line invocation:
    /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -workspace RocketChatRN.xcworkspace -configuration Debug -scheme RocketChatRN -destination id=0367AC53-C7C4-4DED-9A69-5EBED357BF3E

User defaults from command line:
    IDEPackageSupportUseBuiltinSCM = YES

note: Using new build system
note: Planning build
note: Analyzing workspace
note: Constructing build d

[2021-08-24 08:20] Nibycz opened #3340 "Rocket.Chat new Develop Version doesnt work. Cannot read property 'KeyboardTrackingScrollBehaviorNone' of null - NativeModules"
## Description
NativeModules seems not working fine.
Im using Rocket.Chat and when im starting the app following Error appears:
![grafik](https://user-images.githubusercontent.com/46518188/130237396-4bcd239c-e48d-44fa-a61e-488b30880ceb.png)
it looks like NativeModules doesnt work properly.

NativeModules is been used here
![grafik](https://user-images.githubusercontent.com/46518188/130237515-fd42b

[2021-08-24 14:45] ankar84 opened #3342 "[bug] Autocomplete don't clear search query"
### Description:

Few versions before a very good feature was introduced - autocomplete as it works on web client. That autocomplete function search not only name of user, but username too (Real Name on Russian in our case).
But now one pitty bug appeared in thst feature - if you start mention with `@` sign and fill few symbols of username and then tap on suggested user - that few symbols remain i

[2021-08-25 19:51] jacotec opened #3346 "Voice Messaging needs much more care"
### Description:

Audio (Voice) Messages are an important feature in all messaging services. Unfortunately I see *no* care to any bugs related to this in the last year.

I've opened a couple of issues with partially breaking issues and it seems the RC team is not interested to at least fix this. I've got a use case of >40% of audio messages and users are - open speech - pissed that all the issues

[2021-08-26 10:03] khalednailigit opened #3347 "error Failed to build iOS project when whitelabeling mobile apps"
error Failed to build iOS project. We ran "xcodebuild" command but it exited with error code 65. To debug build logs further, consider building your app with Xcode.app, by opening RocketChatRN.xcworkspace. Run CLI with --verbose flag for more details.
Command line invocation:
    /Applications/Xcode.app/Contents/Developer/usr/bin/xcodebuild -workspace RocketChatRN.xcworkspace -configuration Debug

[2021-08-26 11:02] Faless opened #3348 "Rotation lock ignored in latest Android version (23rd August)"
### Description:

Since the latest app update (23rd of August 2021) of the Rocket.Chat experimental app, the device rotation settings are ignored, and the app always rotate (even when the device has the rotation locked).
This was not the behaviour before that update, and other users in our server confirmed the same issue after the update.

### Environment Information:

- Rocket.Chat App Version: 4

[2021-08-27 19:56] #3348 closed, assigned to nobody

[2021-08-28 07:14] raza2022 commented on #3267
Strange I am facing the same issue, and linked code didn't change, and the last build finished successfully, @jasminehung @glinda93 have you solved it, or find a workaround, any hint could be very helpful

[2021-08-30 10:56] raza2022 commented on #3267
@diegolmello @djorkaeffalexandre @rodrigok @ggazzo @reinaldonetof @gerzonc my new features can't be pushed due to that issue, what thought it's because some java method is not public, but I didn't found the starting point to make that method public (source File/folder for `com.facebook/xpackage`) any hint will be very helpful

[2021-08-30 11:08] fidelsam1992 opened #3353 "Create team, members not added at creation"
### Description:

At team creation, the selected members are not added to the team.
### Environment Information:

- Rocket.Chat Server Version: 3.14.0
- Rocket.Chat App Version: single_server
- Device Name: iOS - Android

### Steps to reproduce:

1. Create team
2. Select Members
3. Choose name
4. Click Create
5. Team is created but selected members are not added to the new team

### Expected behav

[2021-08-30 17:42] bigfudge99 commented on #3347
try to build the app with xCode. there you can get specific logs of the issue. also try with xCode 12.4, newer version doesn't work.

[2021-08-31 08:03] anggaprytn commented on #3267
same error using rocket chat latest version

[2021-08-31 08:46] Shailesh351 commented on #3267
I'm also facing the same issue

[code]

[2021-08-31 10:05] glinda93 commented on #3267
For more context, this error happens when I tried to upgrade React Native version from `0.63.4` to` 0.64.x` by myself.

Works fine if React Native version is `0.63.4`, although the method is not public.

[2021-08-31 10:52] fidelsam1992 commented on #3267
Unfortunately on my side, I didn't change anything on the code and the build fails.

[2021-08-31 11:41] glinda93 commented on #3267
What is your React Native version?

[2021-08-31 11:42] fidelsam1992 commented on #3267
The one defined in the repo
[code]

[2021-08-31 12:58] shamsnaamir opened #3356 "Whitelabel error"
### Description:

I want to rebrand the android version. I followed Whitelabel documentations. however when I do ' yarn android-whitelabel example.package.name' I get this error:
error: cannot find symbol
import com.facebook.react.modules.network.CustomClientBuilder;
^
symbol: class CustomClientBuilder
location: package com.facebook.react.modules.network

### Environment Information:

- Rocket.Cha

[2021-08-31 12:59] diegolmello commented on #3356
Duplicated https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3267

[2021-08-31 12:59] #3356 closed

[2021-08-31 13:18] diegolmello commented on #3267
For those changing React Native version on package.json and expecting to be enough, it's not :)
I updated it here and it's merged on develop branch, but not released on single-server branch yet https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3245

Can you all try develop branch just to see if the error is gone?
I went through your error during the update, but it was gone after cleaning

[2021-08-31 14:02] fidelsam1992 commented on #3267
Still fails for me (Without upgrading react-native, my current version is `"react-native": "RocketChat/react-native#0.63.4"`

[2021-08-31 14:05] shamsnaamir commented on #3267
same

[2021-08-31 15:34] anggaprytn commented on #3267
BUILD SUCCESSFUL using branch develop

[2021-08-31 16:05] shamsnaamir commented on #3267
I cloned develop branch and it compiled successfully. but about  the single-server branch what should I do?
should I change react-native version or something else?
thanks.

[2021-08-31 17:36] MayurNegi opened #3359 "[BUG] Previous chat doesn't load if discussion is accessed from a message inside the room."
If you try to access a discussion from a message inside a room, previous chats does not load.

[2021-08-31 21:09] shamsnaamir commented on #3267
I changed react-native version to 0.64.2 and removed the patch file related to react-native-0.63.2 and changed `metro-config/src/defaults/blacklist` to `metro-config/src/defaults/exclusionList` and it compiled SUCCESSFULLY!
but after we login to the workspace this error appears:
[code]

[2021-08-31 23:34] shamsnaamir commented on #3267
Is this problem solvable? Should I wait until the release on the single-server branch?
Should I copy files from develop branch to the project, which files?
Should I clone the develop branch and change it and make it kinda "single-server"?

[2021-09-01 03:57] ankar84 opened #3361 "[jitsi] Text in Jitsi chat not visible on Android since 4.19.0"
### Description:

Text in Jitsi chat not visible on Android. iOS is fine.
Maybe worth mention, that I have dark mode on my smartphone.

### Environment Information:

- Rocket.Chat Server Version: 3.16.3
- Rocket.Chat App Version: 4.19.0.25556
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 11

### Steps to reproduce:

1. Start Jitsi call
2. Open chat in Jitsi call and write a message
3. Get so

[2021-09-01 04:11] ankar84 commented on #3086
That issue is totally solved by 4.19.0 release https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/4.19.0

[2021-09-01 04:11] #3086 closed

[2021-09-01 05:13] ankar84 commented on #3158
I can close that issue only after we build whitelabel application based on 4.19.0 and test it with `trust-bwe=true` in detail.

[2021-09-01 05:15] ankar84 commented on #2749
I can close that issue only after we build whitelabel application based on 4.19.0 and very detailed test because that issue not easy to reproduce (now always persist)

[2021-09-01 05:16] ankar84 commented on #3303
I can close that issue only after we build whitelabel application based on 4.19.0 and deep test of it on my server with my main account.

[2021-09-01 12:06] aleadco commented on #3303
@ankar84 I have the same perception, if the application just opens, the process is done very quickly (4G and LAN tested).  But if the application is open and the connection to the network is temporarily lost, it remains in the "Waiting for Connection" state for a long time.  I end up closing and opening again so as not to waste time.

[2021-09-01 13:57] diegolmello commented on #3303
Yep. This is something we improved at the beginning of the year, but for sure there's still room for improvement.
It's not that easy to fix though.

[2021-09-01 16:05] wokawoka opened #3362 "users' avatars not appearing in mobile app connected to a rocketchat installation that uses avatar external provider URL"
### Description:
I run a rocket.chat installation that works correctly. Avatars are regularly sourced from an open URL (which doesn't need authentication) through the "Avatar External Provider URL" field in rocket.chat settings.
Avatars are regularly fetched and shown when our users are connecting to the rocket.chat interface via web.

I then connected the android rocket.chat app to the same rocke

[2021-09-01 16:49] diegolmello commented on #3267
We released 4.19.0 Yesterday https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/4.19.0
Make sure you pull `single-server`, clean everything and try again.
New version contains several dependencies updates (RN, Jitsi, etc), performance improvements (Hermes on iOS) and bug fixes.
Thank you.

[2021-09-01 16:49] #3267 closed

[2021-09-01 16:50] diegolmello commented on #3347
We released 4.19.0 yesterday https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/4.19.0
Make sure you update your branch and follow whitelabel docs https://developer.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps

[2021-09-01 16:50] #3347 closed

[2021-09-01 16:53] diegolmello commented on #3346
Yes, that's something we've been working with our design team the past weeks.
We plan to apply gestures (long press, swipes) to record audio.
However, since we'll be touching on a vital component, we're redesigning it to make the UX more clean.
This whole work will take some time to do, but it's going to be started probably on the next sprint.
Thank you.

[2021-09-01 16:54] diegolmello commented on #3353
@fidelsam1992 can you try that on an up-to-date server?
That's probably fixed already.
Thank you.

[2021-09-02 05:03] wreiske opened #3364 "[Regression] Image uploads are pixelated and low quality when opened"
### Description:

https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2975 broke images from displaying in their full quality when they are opened up.

### Environment Information:

- Rocket.Chat Server Version: 3.18.0
- Rocket.Chat App Version: 4.19.0
- Device Name: Note 10+ 5G
- OS Version: Android

### Steps to reproduce:

1. Take a screenshot on your phone
2. Upload the screenshot as an

[2021-09-02 10:45] jacotec commented on #3346
Sounds good, Diego!
I'd appreciate if - in case some of the bugs are fixed independent from the big UI rework - the fixes will be released even before the "complete package". It does not sound like we'll see the full picture within the next release.

[2021-09-02 10:54] diegolmello commented on #3346
Sure. Can you list the issues in order of priority in your opinion? Depending on the effort of each one we can make sure the most annoying bugs are fixed first.

[2021-09-02 13:33] jacotec commented on #3346
In my opinion and the opinion of my users I'd priorize it like that:

1. #2779
2. #2586
3. #3002
4. #2578

#3078 is pretty annoying too, but I thing as the UI is redesigned this will be covered by the UI rework.

As you see the priority is first to address all issues where recordings can be unrecoverable lost. Playback fixes / improvements are annoying users as well, but at least they don't lose m

[2021-09-02 21:17] jacotec commented on #3364
Confirmed for IOS also. Screenshots are unusable. Happens also with 4.17.
It's not an upload issue as the quality using the web client (also on the same device) is perfect.

[2021-09-03 12:16] diegolmello commented on #3364
Just saw Github mobile app didn't send my comment. I'm sorry about that.
That's an important performance improvement made on the server, but we couldn't land on the same mobile version.
We're working on that as we speak.

[2021-09-03 18:14] shamsnaamir opened #3367 "‌"
‌

[2021-09-03 19:33] #3367 closed

[2021-09-04 04:41] ankar84 commented on #2286
Still an issue at 4.19.0
![44ce290a8599ec48c75903534601f088dada5e1891cd5ac118d715fecffbcbf8](https://user-images.githubusercontent.com/4023037/132082645-feea3c18-ffdc-4d71-98c2-8cd7ad803058.jpeg)
![e3d38be38d39f4928ae2439e1c4cc16d85e3eb39e5f5b16944f4123de29d6718](https://user-images.githubusercontent.com/4023037/132082646-e1ceaf44-62f0-45e0-a078-5a782b087568.jpeg)

[2021-09-05 13:11] Benvorth opened #3368 "Rocket.chat app: can't access server instance on android 10 go"
### Description:

Rocket.Chat App terminates after startup.

Login to my server instance seems to load for some milisecs (was able to configure that after download from Play Store).

### Environment Information:

- Rocket.Chat Server Version: 3.18.0
- Rocket.Chat App Version: 4.19.0
- Device Name: Hafury M20
- OS Version: Android 10 Go

### Steps to reproduce:

1. Download Rocket Chat App in Play

[2021-09-06 12:56] diegolmello commented on #3368
Thanks for opening, @Benvorth.
Can you try logging in on https://open.rocket.chat?

[2021-09-06 14:00] Benvorth commented on #3368
Yes, I am on...

[2021-09-06 14:41] diegolmello commented on #3368
@Benvorth Ok, maybe it's something on your server then.
Can you send me a test account on https://open.rocket.chat/direct/diego.mello?

[2021-09-06 16:45] Benvorth commented on #3368
Ah, sorry, I didn't get it... No, I cannot connect to https://open.rocket.chat with the Android 10 Go phone. Same as with my server: app terminates after login

[2021-09-06 17:36] diegolmello commented on #3368
@Benvorth Can you send us a bug report? https://developer.android.com/studio/debug/bug-report#bugreportdevice
You can DM me with the file.
We'll take a look at it asap.
Thank you.

[2021-09-06 19:41] ljcp commented on #3267
@diegolmello we are facing same issue ( already clean all caches and everything) we are using 4.17.0 version  without doing any change or upgrade to the code now CircleCI is failing , with this same error , so something dependency has to be changed that now doesn't play along with older versions , do you have a clue what could be ?  is upgrading to 4.19.0 the only fix ?

[2021-09-06 22:22] ljcp commented on #3267
issue is that even we are using 4.17.0 and and react native 0.63.4 , Gradle is grabbing version 0.64.2 , trying to figure out where is that set hmm or how to force to stay in 0.63.4

[2021-09-07 07:44] jalbstmeijer commented on #3169
Same issue here.

Have just started using the Rocket.Chat.ReactNative for two days now, but have seen this "stays in updating state" issue twice already.
First time I forced stopped the app to solve the issue. Second time I got an "alert icon" behind my new message. After  "Clear local server cache" this time it worked again.

android: 11 (Oxygen OS 11.0.8.8.IN21BA)
client: 4.19.0.25555
server: 3.

[2021-09-07 20:11] ljcp commented on #3267
for those having my same issue , the problem resides in the jitsi-maven-repository , they didn't change the version number and jitsi is requiring 0.64.2 so the whole project gets the 0.64.2 instead of the 0.63.4 from node modules , you just need to fork the jitsi repository and revert back the commit and update the address in the Gradle build file

[2021-09-08 06:48] emikolajczak commented on #3169
Hi,
I can confirm that this problem also rise my users.

[2021-09-08 06:56] ankar84 commented on #3169
I see that issue from time to time, but not so often at 4.19.0
Proper steps to reproduce are unknown.

[2021-09-08 12:38] diegolmello commented on #3169
That's something we plan to fix asap, but we need all the info available.
So send us steps to reproduce it.
From my understanding, this issue happens when:
- the app is sent to background and stays there for some time
- connection might have changed (e.g. from wi-fi to 4g)
- app is restored
- the app has a socket connection in unknown state

Is this what you're experiencing?

[2021-09-08 12:41] emikolajczak commented on #3169
Yes, I think it is the basic way to try reproduce. But as Anton said occurs from time to time.

[2021-09-08 14:02] #3303 closed

[2021-09-09 08:01] jalbstmeijer commented on #3169
Hi,

Found the chat app in this state again this morning.
Another observation, very selectively incoming messages come through.
Outgoing messages all get the triangle alert icon.
I left the app running and tried to collect some Android logs. I filtered them by the string "rocky".

In the meantime the app has been in this "updating" state for more than an hour already.

Please explain which logs yo

[2021-09-09 11:45] uluzox commented on #3146
Will there be any announcement of this being merged into single-server?

[2021-09-09 11:57] diegolmello commented on #3146
We update `single-server` branch to match `master` every release.
https://rocket.chat/blog/product/mobile-app-4-19/

[2021-09-09 12:01] diegolmello commented on #3169
@jalbstmeijer We don't have logs for this.
So you left the app in background, went to sleep and opened it this morning.
Is that correct?

That's a collateral effect of the `updating` state.
What happens is that the app couldn't establish a connection to the server, so any requests fail.

[2021-09-09 12:41] jalbstmeijer commented on #3169
Correct.

[2021-09-09 22:22] alananayaa opened #3371 "Invalid regular expression: Quantifier has nothing to repeat Error on Xcode 12.5"
### Description:

Cannot compile on Xcode, this error shows up on main.jsbundle, just downloaded and tried to use.
Invalid regular expression: Quantifier has nothing to repeat

### Environment Information:

- Rocket.Chat App Version: 4.19
- Device Name: iPhone 12
- OS Version: 14.7.1

### Steps to reproduce:

1.Try to compile using Xcode, no error showing up on terminal

### Expected behavior:

St

[2021-09-10 08:54] jacotec commented on #3346
@diegolmello Just found out that messages recorded in the web client are shown correctly regarding their length in the mobile apps. I think it's worth to change the recording format from .aac to .mp3. That doesn't cost more storage and bandwidth, will be par with the web client and I think it fixes most of #2586 (not sure if the file system issue will be gone as well then).

What do you think?

[2021-09-10 09:06] ankar84 commented on #2410
Unfortunately that bug come back in 4.19.0 version on Android (iOS rotates without any issues).
Tested on Xiaomi Mi 9SE and Samsung S8

[2021-09-10 15:10] jacotec commented on #3346
I'm playing around with this and I'm pretty convinced I may have a fix for #2586 ... let me test a bit more and I'll make a pull request.

[2021-09-10 15:16] stephenkopylov commented on #3371
Same thing here

[2021-09-10 15:31] diegolmello commented on #3371
Can you send us more info about the error?
What branch?
We're working fine with `develop`.

[2021-09-10 15:36] stephenkopylov commented on #3371
@diegolmello my branch is `single-server`

Just try to run `debug` configuration on device

Looks like it tries to build main.jsbundle seeing that we run it on devce while it has to use metro server

[2021-09-10 15:37] alananayaa commented on #3371
the same as @stephenkopylov, on single-server branch running on debug, while release works correctly

[2021-09-10 15:38] stephenkopylov commented on #3371
I found a little bit "hacky" solution

Run `release` configuration with development provision profiles - you'll have "bundled" version of app but it will run

[2021-09-10 20:23] jacotec commented on #2586
Closed with #3373

[2021-09-10 20:23] #2586 closed

[2021-09-10 20:24] jacotec commented on #2578
Closed with #3373

[2021-09-10 20:24] #2578 closed

[2021-09-10 20:26] jacotec commented on #3346
@diegolmello I should have fixed #2586 and #2578 with #3373

[2021-09-13 14:01] diegolmello commented on #3346
@jacotec we'll take a look. Thanks for your contribution.

[2021-09-13 20:41] #786 closed

[2021-09-14 11:01] leeIco3 opened #3376 "Oauth login failure via ChromeOS Playstore app"
### Description:
When trying to login to to self hosted or open workspace clicking the oauth google login generates the codes and opens in chrome and the request is returned to the app but the app then does nothing with the response, therefore failing to login.

Only seems to happen under Chrome OS using the mobile client via the playstore, have tried beta client and experimental with no success.

[2021-09-14 16:11] #3364 closed

[2021-09-14 17:42] glinda93 commented on #3267
Good point.

I've fixed build issue like this:

**android/app/build.gradle**

[code]

[2021-09-14 18:22] glinda93 commented on #3267
This.
I've fixed issue with the following change:

**android/build.gradle**
[code]

[2021-09-14 18:32] #3088 closed

[2021-09-15 10:24] jacotec commented on #3078
Seemed to be related to recording not continuing in background, can't reproduce anymore with my #3373 changes.

[2021-09-15 10:24] #3078 closed

[2021-09-15 10:29] jacotec commented on #2779
My changes in #3373 are at least "defusing" the main drawback of lost voice messages as the recording now continues in background (and also when the iPhone goes to sleep). So this issue should not trash ongoing voice messages anymore.

However I leave that open as this does not help with the initial issue that sometimes the iPhone falls asleep (although from my point of view the use of the Expo ke

[2021-09-16 12:47] jacotec commented on #3002
@diegolmello I'm on this, solution works in my tests. Will make a few more crosstests and make a PR then.

[2021-09-17 13:46] jacotec commented on #3371
It's the same also with XCode 12.4 ... as soon as I want to run it in XCode on a physical device in debug mode I'm getting this error.

[2021-09-17 14:17] diegolmello commented on #3371
It's related to Hermes, apparently https://github.com/facebook/hermes/issues/46
There's a new version of React Native pointing to newer Hermes, so it might have been fixed there (we'll update soon).
We all see that it's a debug issue only, so it should be fine on release.
As workaround, we could either work on simulator only or disable Hermes.
To disable Hermes, you need to:
- set here to false ht

[2021-09-17 16:15] Geetsharma2000 commented on #3096
is this issue still open??. I am new to open source so can you please guide me .

[2021-09-17 20:20] jacotec commented on #3002
#3388 fixes this.

[2021-09-17 20:20] #3002 closed

[2021-09-19 15:11] rajoriaakash opened #3389 "Bugsnag error while running the project"
### Description:

Can not run the project after following CONTRIBUTING.md, shows a problem with ':bugsnag_react-native'.

### Steps to reproduce:

1. Clone repository by `git clone git@github.com:RocketChat/Rocket.Chat.ReactNative.git` .
2. Move to subfolder by `cd Rocket.Chat.ReactNative` .
3. Install dependencies with `yarn`.
4.Run `yarn android` command.

### Expected behavior:

The app should

[2021-09-20 12:19] #3389 closed

[2021-09-21 14:27] arpsyapathy opened #3395 "Rocket.Chat needs to be updated after upgrading to iOS 15"
Hi all!

After upgradintg device to iOS 15 i see message "Rocket.Chat needs to be updated after upgrading to iOS 15. The developer of this app needs to update it to work with this version of ios."

How fix this?

### Description:

Error "Rocket.Chat needs to be updated after upgrading to iOS 15. The developer of this app needs to update it to work with this version of ios."

### Environment Inform

[2021-09-21 19:36] #3395 closed

[2021-09-22 17:01] rajoriaakash commented on #2152
Hi, I am new to JavaScript, and this project.
I would really like to work on this issue. Could you please help me get a little overview of the code that would be related to this issue? Thanks!

[2021-09-22 17:11] diegolmello commented on #2152
Welcome, @rajoriaakash!
There's a PR open for this issue already on #2939.

[2021-09-22 17:14] rajoriaakash commented on #2152
Oh, ok. Thanks for replying.
Guess I'll just go through that to have a better understanding of code.

[2021-09-23 15:51] arpsyapathy opened #3398 "Bugsnag api key is required in info.plist?"
Hi!

I try build custom Rocket.Chat app with push notifications.
I cant build without bugsnag api. This is required?
Can i build without this? I dont need Bugsnag

[2021-09-23 15:59] diegolmello commented on #3398
Hey.
Yes, it's needed and you can follow instructions on our documentation https://developer.rocket.chat/mobile-app/mobile-app-white-labelling
If you want to build without it, you need to remove the lib yourself.

[2021-09-23 15:59] #3398 closed

[2021-09-23 16:15] arpsyapathy commented on #3398
@diegolmello
Hi Diego!
Can you tell me which library to remove and how to do it please?

[2021-09-24 03:40] ankar84 commented on #3169
I'm currently on 4.19.0 for my main account and can tell that saw `Updating...` status for about 15 seconds. It's definitely much better then it was before, but still need to be improved.
Also I saw loop with `Connecting..` <=> `Waiting for network...` statuses about 2-3 times, then app connected successfully.

[2021-09-24 04:21] aleadco opened #3401 "Emojis go crazy hehehehe"
Emojis overlap each other very abnormally.

 I noticed this error from some versions back both in the production app and in the experimental one, only now it is displayed more frequently

 Device: Xiaomi Redmi Note 6 Pro
 App Version: 4.20.0.25939 Experimental
 RC version: 3.18.1

![IMG_20210923_234845.jpg](https://user-images.githubusercontent.com/35962168/134617751-7d10b0bb-5514-4d89-9686-d7a074

[2021-09-24 04:35] ankar84 commented on #3401
Just checked 4.20 experimental app and I don't see such problem on my side.
Try to clean cache maybe?

I see, that in a recent versions Emoji picker now have a bigger area (like on your screenshot). Before it was about 1/3 of chat height, now it's about 1/2 of chats height.

[2021-09-24 05:43] ankar84 commented on #3389
@rajoriaakash hello!
What was a fix for your problrm?

[2021-09-24 10:41] rajoriaakash commented on #3389
It was some problem with my network so I tried to download it again whenever I encountered an error and all the files finally downloaded after 5-6 times :).

[2021-09-24 12:15] diegolmello commented on #3401
We haven't touch emojis for a while now.
It might be related to keyboard or OS really.
How can we reproduce it?

[2021-09-24 20:31] aleadco commented on #3401
Hola @diegolmello and @ankar84

It is really difficult to reproduce this scenario, I have not been able to define a pattern that causes this behavior.  If I can assure you that it has happened to me on at least two different devices.  Samsung Galaxy S7 Edge with Android 8.0 and the Xiaomi Redmi Note 6 Pro.

 The most I can give you at this time is a small video where you can see some jumps that at

[2021-09-26 19:51] arpsyapathy commented on #3398
@diegolmello
Diego, can you help in this question?
We need remove bugsnag from our whitelabel please.
How to do it?

Thank you advance

[2021-09-27 16:23] rajoriaakash commented on #2152
@diegolmello I have a doubt.
How can we access the `UI_Use_Real_Name` or `useRealName` in the `ReactionsModal` file. I am having a slight difficulty understanding the code. Could you please help? Thanks!

[2021-09-27 19:35] joaohenrifranco commented on #3339
I solved the same problem opening Xcode project settings and changing the `Require Only App-Extension-Safe API` option to `Yes`

<img width="645" alt="Captura de Tela 2021-09-27 às 16 34 07" src="https://user-images.githubusercontent.com/14077663/134973276-27d94d3e-0112-4b93-b581-41c65c693749.png">

[2021-09-28 18:19] spdreg commented on #3236
You really need take security issues more seriously  and address it more quickly with high priority.
you are making a lot of noise  about how secure rocket chat is.  While the core element of messaging - mobile client have such security flaw.

[2021-09-29 14:00] arpsyapathy opened #3408 "Built .ipa installed but does not start on iOS 15. App needs update"
Hi all!

i built my .ip from the documentation
Installed, but it does not start on iOS 15.

Error: "App needs update"

How fix this?

### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.16.1
- Rocket.Chat App Version: 4.19.0
- Device Name: iPhone
- OS Version: iOs 15
- XCode: 13

### Steps to reproduce:

1. Install app from ipa (enterprise)
2. Try to run

[2021-09-30 02:27] ankar84 commented on #3408
We had the same issue.
We fixed it by updating developer machine to Bug Sur and XCode to 13 version.

[2021-09-30 07:42] emikolajczak commented on #3398
Hi,
If you want remove bugsnag from your project on booth RocketChatRN and Rocket.Chat targets you have to:
1. Go to "Build phases" tab
2. Remove task for Bugsnag build (last on list)

[2021-09-30 09:01] mkrumbholz opened #3411 "Omnichannel chats stay in the App"
### Description:

Omnichannel chats that are closed are still displayed as "Chat in Progress" and can not be hidden or marked as read.
This happens also when the chat was also deleted.

### Environment Information:

- Rocket.Chat Server Version: 3.17.2 (Snap)
- Rocket.Chat App Version: 4.19.0.25555
- Device Name: SM-G955F
- OS Version: Android 9

### Steps to reproduce:

1. Start a chat over Omnic

[2021-09-30 12:34] #3408 closed

[2021-09-30 14:12] reinaldonetof commented on #3411
That is a known issue, we are trying to resolve it, but, meanwhile, when this happens again you could try to go to Settings, then click on `Clear local server cache`, this should fix this problem.

[2021-10-02 17:37] arpsyapathy commented on #3408
This dont resolve my problem :(

 @diegolmello

[2021-10-04 12:39] emikolajczak commented on #3398
I have prepared fix for this bug
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3421

[2021-10-04 16:43] arpsyapathy opened #3422 "Task :app:processBugsnagOfficialPlayReleaseManifest FAILED"
Hi all!

Tell me please how remove bugsnag from Android?
I cant build my whitelabel app.

Thank you advance

[code]

[2021-10-05 14:43] lairdaa commented on #1512
I see you have posted this some time ago. Was this issue ever resolved? If how?

[2021-10-05 21:29] #3096 closed

[2021-10-06 09:38] MaxWaldorf commented on #3376
I confirm the same issue on android and IOS with custom OAuth...

https://forums.rocket.chat/t/rocket-chat-4-0-android-mobile-app-4-20-0-26005/12329

[2021-10-06 16:42] jsalatiel opened #3429 "Mobile app crashes creating channels or teams if permission is revoked for the user"
### Description:
on our servers , only admins can create channels and teams. On web app and electron app, normal users ( not admin ) can only see "Direct Messages" and "Discussions" when tapping:
![image](https://user-images.githubusercontent.com/5522389/136246210-19f87a7d-5a91-4171-bd41-887c47e716ff.png)

Unfortunately, on mobile versions, they can see all options, and if they try to create a cha

[2021-10-06 17:13] diegolmello commented on #3429
Fixed on https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3233
It'll be released on 4.21.0 late October.

[2021-10-06 17:13] #3429 closed

[2021-10-06 20:30] #3259 closed

[2021-10-08 07:59] ankar84 opened #6307 "feature request: Ability to share media to other apps"
**Is your feature request related to a problem? Please describe.**
Now user must download image file to then share it with other users via other messenger or email client.

**Describe the solution you'd like**
It would be very nice if user have ability to share image right from chat with no need to download it first.

**Describe alternatives you've considered**
Telegtam and WhatsApp have that feat

[2021-10-08 08:27] ericlambelet opened #3434 "Session expired in the Application but the user is not notified"
### Description:
Sometime, the users receives push notifications, but the message are not displayed in the application.
But login out and entering the credentials again seems to resolve the issue.

### Environment Information:

- Rocket.Chat Server Version: 3.14.1
- Rocket.Chat App Version: 4.12.0.108
- Device Name: iPhone 8
- OS Version: 15.0

### Steps to reproduce:

1. Login the application
2.

[2021-10-08 09:29] ghost opened #3435 "how to generate debug apk without use development server"
how to generate debug apk without use development server. unable to generate apk. can anyone help me out

[2021-10-08 12:56] diegolmello commented on #3435
You can follow the documentation here for whitelabel https://developer.rocket.chat/mobile-app/mobile-app-white-labelling
Or this documentation to run `develop` branch https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md#setting-up-a-development-environment

[2021-10-08 12:56] #3435 closed, assigned to nobody

[2021-10-08 16:22] GSLKim opened #3436 "Whitelabel Doc Missing Logo Reference (Single Server Branch Specific)"
### Description:

Whitelabel guide in the images section is missing a reference to update /app/static/images/logo.png

This is the logo used during the "loader" screen when conversations are being loaded from push notifications after the app loads but before the conversation loads.

### Environment Information:

- Rocket.Chat Server Version: All
- Rocket.Chat App Version: 4.20
- Device Name: Andro

[2021-10-13 07:29] zebesh opened #5016 "[Bug] Rocket.Chat mobile app oauth trouble"
### Description:

We set up Keycloak as Oauth. Authorization works in clients on desktops, in the browser. But on mobile devices the following happens:
After entering a login and password in the OUATH window, a redirect on the page with the text: login Completed. Click here to close this window. It does not happen about clicking, and when you press the cross goes to the tantle window of the logon

[2021-10-21 02:16] 0lipengbin0 opened #3452 "npm install error"
Rocket.Chat.ReactNative-4.20.0

when i run    "npm install " show many errors。

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: rocket-chat-reactnative@4.20.0
npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.8

[2021-10-21 08:31] #3452 closed, assigned to nobody

[2021-10-21 09:19] sergeydeg opened #3453 "Chain validation failed (android)"
### Description:

Trying to connect to RCT on-premise server from Android application cause error "Oops! Chain validation failed"

### Environment Information:

- Rocket.Chat Server Version: 3.17.0
- Rocket.Chat App Version: 4.20.0.26005
- Device Name: Huawei P20 Pro (clt-l29)
- OS Version: Android 10

### Steps to reproduce:

1. Start Application
2. Enter https server address
3. click Connect
4.

[2021-10-21 23:41] mbd98 opened #3456 "Buttons in messages (such as polls), when pressed, send the command string as a non-command message"
### Description:

A few members of our community have experienced an issue with the mobile apps where responding to a poll (using the poll app) sends `/vote {uuid} {answer}` as a standard message - it is not recognized as a command.

Running the `/vote {uuid} {answer}` command on desktop or manually on mobile does work, just the buttons on mobile that fail.

### Environment Information:

- Rocket.

[2021-10-26 07:20] NecatiMeral opened #3461 "Images in Attachment-Fields aren't shown"
### Description:

When embedding a image to an attachments field, it won't get shown on the mobile app (iOS & Android).

### Environment Information:

- Rocket.Chat Server Version: 4.0.1
- Rocket.Chat App Version: 4.20.0.26006
- Device Name: iPhone 12 Pro
- OS Version: 15.0.2

### Steps to reproduce:

1. Use the API to post the following message:
[code]

### Expected behavior:

I've expected to se

[2021-10-26 15:50] mirabilos opened #3462 "F-Droid builds not updating"
The latest version is 4.12.1, see: https://f-droid.org/en/packages/chat.rocket.android/

[2021-10-26 23:51] aboyton opened #3464 "Support command+k keyboard shortcut on an iPad"
### Description:

The command+k shortcut doesn’t work on an iPad with an external keyboard. I assume that this is the case for all devices but I only have an iPad to test.

### Environment Information:

- Rocket.Chat Server Version: 3.16.2
- Rocket.Chat App Version: 4.20.0.26006
- Device Name: iPad
- OS Version: 15.0.2

### Steps to reproduce:

1. Load RocketChat on an iPad with a keyboard connect

[2021-10-30 06:02] DevAhmedRagab commented on #3398
You should remove these from your project:
`@bugsnag/react-native`
`@bugsnag/source-maps`
and remove the imports from the code.

[2021-11-02 11:06] ameer-taghavi opened #3479 "groups.history or groups.messages, which is better?"
Why for fetching groups messages in app, `groups.history` api  was used?
in `groups.messages` api we have `total` &... for better pagination
what is different and which is better?

[2021-11-02 12:59] machadolucas commented on #3422
Hi,
I solved this error by adding the following to the file `android/app/src/main/AndroidManifest.xml`:
[code]

[2021-11-03 13:43] #3422 closed

[2021-11-07 07:11] YousefAlsbaihi opened #3484 "Empty screen using single server"
This was the same issue here [#3302](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3302)
but i still have the same issue

Description:
I did all steps of white-labeling from your website but it displays a blank screen with a header.

Environment Information:
Rocket.Chat App Version: 4.21.0.1
Device Name: iPhone 13
OS Version: 15.0
Steps to reproduce:
1.Just clone the repository with

[2021-11-07 09:39] #3484 closed

[2021-11-09 13:45] veronikasarah opened #3491 "Rocket.Chat Version 4.21. iPhone Nextcloud-Login not working"
Bugreport Rocket.Chat

https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3316

### Description:

Since the rocket.chat App Version 4.21. I am not able to login into my Nextcloud-Login anymore. The page simply does not load anymore. I have tried it in different wifis and with my mobile data at different places. So I don’t think that the connection is too slow for it to load. Detailed des

[2021-11-09 19:28] rasos opened #3495 "List users shared in addressbook"
Users expect to start a chat with their contacts without looking up their nickname. Other messengers show contacts from the addressbook that had installed a client for the same chat platform. The app on the smartphone could gain access to the e-mail contacts (but not the browser on the laptop).

How could we achieve more comfort at onboarding without giving up strong privacy? We probably do not wa

[2021-11-10 09:29] fidelsam1992 commented on #2343
The unread counter settings can be changed from the RocketChat Admin
Administration -> Settings -> General -> Unread Count

The default is that the badge only counts the messages for direct/mentions only

[2021-11-10 19:01] Earvonio commented on #3340
@diegolmello I think there is a problem with the 0.64.2 version in react-native. I saw that you fork from Facebook and create your version. Could you use a newer version for react-native? Maybe this could solve this issue

[2021-11-11 08:44] davidecavezza commented on #3340
Is it possible this mistake is due to Hermes' optimizations of the code?
It looks like the JS engine is trying to access that field of `KeyboardTrackingViewManager` even if the object is null.
Maybe it is because that `?.` operator in `NativeModules.KeyboardTrackingViewManager?.KeyboardTrackingScrollBehaviorNone` is silently converted into `.`.
Does changing the version of Hermes or maybe setting

[2021-11-11 13:08] diegolmello commented on #3340
We've been working with RN 0.64.2 for a few months already without any issues.
We have both M1 and Intel machines.
It's something on your environment.

[2021-11-11 13:08] #3340 closed

[2021-11-12 21:22] mbd98 commented on #3456
We have updated our server to 4.1.0 and the issue persists

[2021-11-16 01:55] Newar417 commented on #861
Still an issue in the latest version.

[2021-11-17 15:32] mahal commented on #1826
Please make this happen. How can we motivate the awesome Rocket.Chat mobile React Native Team to follow up on this?

[2021-11-18 14:31] pavii opened #3506 "RocketChat app crashes when connecting to server"
### Description:

When trying to connect to my server using the RC mobile app the app crashes. I can connect to the server from the browser

### Environment Information:

- Rocket.Chat Server Version: 4.0.3
- Rocket.Chat App Version: 4.21.0.26581
- Device Name: Samsung S9, SM-G960F
- OS Version: Android 10

### Steps to reproduce:

1. Open App
2. Apply certificate
2. write server's URL
3. Click co

[2021-11-20 11:13] veronikasarah commented on #3491
Today I was able to log into my Nextcloud-Account again. This is why I am closing the issue.

[2021-11-20 11:13] #3491 closed

[2021-11-22 11:17] lequy1010 opened #3508 "Can't call forceUpdate on a component that is not yet mounted"
when i run app in develop environment so it show log console as below.

### Description:
ERROR  Warning: Can't call forceUpdate on a component that is not yet mounted. This is a no-op, but it might indicate a bug in your application. Instead, assign to `this.state` directly or define a `state = {};` class property with the desired state in the RoomItemContainer component.
    in RoomItemContainer

[2021-11-22 13:29] diegolmello commented on #3508
It's just a warning and it's not going to crash your app or decrease performance.
We're going to refactor this component Q1/22 when we migrate everything to React Hooks.

[2021-11-22 13:29] #3508 closed

[2021-11-22 13:35] diegolmello commented on #3506
Hey, @pavii.
Can you give us more details on the error?
If it's ok to you, send me test credentials on https://open.rocket.chat/direct/diego.mello
Thanks!

[2021-11-22 13:44] lequy1010 commented on #3508
thank for your reply!

[2021-11-22 14:01] diegolmello commented on #3479
Hey, @ameer-taghavi!
`groups.history` is safer to use since it validates permissions and has some other business logics.
We've been thinking on deprecating a few apis and `groups.messages` might be one of them.

[2021-11-22 14:01] #3479 closed

[2021-11-23 14:02] pavii commented on #3506
Hi @diegolmello
thank you for reply. At this point, it is difficult to provide you with test credentials. Is there any other way I can provide you additional info?

I downgraded RC app to 4.17.0.24391 and it works fine.

[2021-11-23 16:14] diegolmello commented on #3506
The other way would be you create a test server for us.
We don't have an easy way to test your use case right now, so it might take some time for us to be able to help you.
We'd appreciate if you help us on this.

[2021-11-24 13:52] LukeLR commented on #3462
As of today, Rocket.Chat has disappeared from the f-droid repository. Searching for it (https://search.f-droid.org/?q=rocket.chat&lang=de) still reveals a hit, but the icon is missing, and clicking it reveals a 404: https://f-droid.org/de/packages/chat.rocket.android

I have been using Rocket.Chat from f-droid so far, and I think I am not the only one. I'd expect there are at least several people

[2021-11-24 14:39] pavii commented on #3506
Unfortunately, due to nature of my work environment and security concerns I am unable to provide you with test credentials :/

We might be able to provide a test server in the future, but currently we're extremely busy.

My current solution to this problem is using app 4.17

[2021-11-27 10:57] hxkdidi commented on #1327
please believe me ,just add  this line "127.0.0.1 localhost"  to /etc/hosts !!!!!!!

[2021-11-28 09:29] daniilr opened #3525 "Google Security and trust error: Unsafe cipher mode"
### Description:

I am getting Google Play Security and trust error:

Unsafe cipher mode. Your app contains a less secure encryption mode. Please see this [Google Help Centre](https://support.google.com/faqs/answer/10046138) article for details.

- `com.securepreferences.SecurePreferencesOld->encrypt`

### Environment Information:

I am building experimentalPlayRelease from single-server branch (c

[2021-11-28 19:51] entrymaster commented on #3461
is this issue still persists? I would love to work on it !

[2021-11-28 19:54] entrymaster commented on #3436
Can I start my contributions journey with this?

[2021-11-28 20:07] NecatiMeral commented on #3461
Hi @entrymaster,

the issue still persists. 😄

[2021-11-28 20:10] entrymaster commented on #3461
Can u please be a little more detailed on how to clone this issue?

[2021-11-29 14:17] abinhho commented on #1321
Open `.xcworkspace` instead of `.xcodeproj`

[2021-11-29 15:04] diegolmello commented on #3525
Hey, @daniilr.
Thanks for letting us know.
We didn't get this warning.
Can you screenshot what Google says? (not the article, but on Google Play console)

[2021-11-29 18:16] daniilr commented on #3525
Hi, @diegolmello.
Thanks for quick response
Sure:
![image](https://user-images.githubusercontent.com/1212355/143920547-2e15c9ec-fea0-4d14-929d-1f58f3310ac8.png)

I have additionally found that this issue is caused by `react-native-mmkv-storage` dependency
https://github.com/ammarahm-ed/react-native-mmkv-storage/blob/v0.3.5/android/src/main/java/com/ammarahmed/mmkv/Constants.java#L11

I have prepar

[2021-11-29 20:35] diegolmello commented on #3525
It'd be better if you already work on updating the lib to latest version.

[2021-11-29 20:39] daniilr commented on #3525
Unfortunately, the patch doesn't apply to the latest version automatically. Besides that, the latest version is still using weak cryptography.

[2021-12-01 13:11] AndreySemenov1 commented on #2882
update to new version resolved problem.

[2021-12-01 13:11] #2882 closed

[2021-12-02 10:43] jalbstmeijer commented on #3169
Still have seen this issue with server 4.1.2 and client 4.22.
If there is anything I can do to debug? please let me know.

In the meantime running server 4.2.0, I'll report if I encounter it with that version too.

[2021-12-02 10:49] ankar84 commented on #3169
I guess something can change when https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3531 merged. I hope!

[2021-12-03 04:59] ankar84 opened #3539 "[bug] Read messages marked as unread"
### Description:

That issue could be chat-engine problem, but not a mobile application problem. But it is really easy reproducible on mobile, so I make that issue here, on mobile repo. But if it appear to be chat-engine problem, that issue should be transferred to main repo.

### Environment Information:

- Rocket.Chat Server Version: 3.18.3
- Rocket.Chat App Version: 4.22
- Device Name: Samsung

[2021-12-03 10:38] 0spinboson opened #3540 "since nov 22 update the +/voice record buttons sometimes don't change into a 'send' button"
### Description:

since nov 22 update the +/voice record buttons sometimes don't change into a 'send' button, at which point I can't send the text I typed. Killing and restarting the app tends to work, but often doesn't the first time, so high chance of failure. I know of 1 other user who has this issue as well.

### Environment Information:

- Rocket.Chat Server Version:
3.18.3, node v12.22.1
- R

[2021-12-04 11:02] NecatiMeral commented on #3461
Hi, just create a server and post a message by using my posted payload. You have to adjust your username in the payload. Afterwards, use your mobile app to connect to your server.
You'll observe the broken rendering now.

[2021-12-04 20:19] entrymaster commented on #3461
I'm following [this](https://developer.rocket.chat/rocket.chat/rocket.chat-server/windows-10) to create a server. Can u guide me if i'm right !

[2021-12-05 11:10] deprov447 commented on #2883
Exact same issue with me also, using Github OAuth (although I'm not using any emulator, but a real device).

**Device details:**

I found a workaround though, If anyone else came facing same issue:
- Setup ADB
- Inspect Rocket.chat's OAuth tab using chromium's remote debugging tool
- Entering the details on mirrored preview.

Screenshots:
![Screenshot_20211205_155319](https://user-images.githubuse

[2021-12-05 14:55] LIM-SH opened #3542 "Send a message end with symbol ~ cause app stuck"
### Description:
In any kind of room, write a message that end with a symbol **~** and then press send will cause the mobile app (**single server branch**) stuck and no response.

### Environment Information:

- Rocket.Chat Server Version: 4.2
- Rocket.Chat App Version: 4.22.0 (**single server**)
- Device Name: OnePlus 7T
- OS Version: Android 11

### Steps to reproduce:

1.  Go to any room
2.  Wr

[2021-12-05 21:33] NecatiMeral commented on #3461
I would recommend using the [docker compose](https://docs.rocket.chat/quick-start/installing-and-updating/docker-containers/docker-compose) way of setting up a throwaway-server.

[2021-12-06 03:04] ankar84 commented on #3542
Not reproduce on 4.19 and 4.22 versions of RC.RN application on 3.18.3 server.
And on open.rocket.chat (which is on 4.2 version) and with 4.22 client could not reproduce.

[2021-12-06 10:06] LIM-SH commented on #3542
that's weird...
By the way, I just clone from latest "develop" branch and run in Android emulator, the app having the same issue too.

Here are steps
1. clone from https://github.com/RocketChat/Rocket.Chat.ReactNative.git
2. run npm install
3. replace bundle id
4. add google service json for experimental flavour
5. start emulator (Android 10)
6. run command "npm run android-whitelabel {bundle.id}"

[2021-12-06 16:29] #3542 closed

[2021-12-06 19:08] entrymaster commented on #3461
I successfully created server on localhost. But I wasn't able to add the server on app on emulator.

[2021-12-07 20:05] #3169 closed

[2021-12-08 08:50] 9nuh opened #3548 "Cound not get 'https://www.jitpack.io/org/jitsi/react/jitsi-meet-sdk/3.6.0-libre/jitsi-meet-sdk-3.6.0-libre.pom'."
I cant build Android.
Build failed output:
Could not GET 'https://www.jitpack.io/org/jitsi/react/jitsi-meet-sdk/3.6.0-libre/jitsi-meet-sdk-3.6.0-libre.pom'. Received status code 401 from server: Unauthorized

Please help.

[2021-12-08 14:27] b90g opened #3549 "Missing discussion overview in channel menu"
### Description:

Inside channels you can list threads but **not** the discussions. (neither in the regular speach bubble which shows the threads, nor in the extended channel menue after tapping onto the channels name.

### Environment Information:

- Rocket.Chat Server Version: 4.2.0
- Rocket.Chat App Version: 4.22
- Device Name:  Shift6MQ (Ios users reported the same)
- OS Version: Lineage 18.1

[2021-12-08 18:40] leitmori commented on #3193
It is once again not possible to switch to a channel in which a thread was previously open.
https://user-images.githubusercontent.com/29522608/145264988-6a452174-c196-4fda-b5de-a320a0d90817.mov

[2021-12-09 11:01] entrymaster commented on #3461
Can you assign this issue to me?

[2021-12-09 11:13] NecatiMeral commented on #3461
I cannot change the assignments. A Rocket.Chat maintainer has to do this.

[2021-12-09 14:18] songoten28 commented on #2955
- same problem
- I try to set up firebase messaging for another app with "Test" name.
Push notification from FCM dashboard to Rocketchat first, and then push for "Test" name after.

The "Test" name will get FCM after 2~3 seconds but Rocket chat got this one more than 1~2 mins.

[2021-12-13 04:11] smallfish01 opened #3551 "Rocket.Chat mobile app no messages notification"
### Description:

When someone send message to me from APP/Web, I can got notification from web and Windows client, but my iPhone APP didn't have any notification, please check the picture.

I have enabled all message notification in my iPhone.
![rc-2](https://user-images.githubusercontent.com/4077255/145751178-db4ba6d2-bf29-45b6-8cbd-9a317949f3a4.jpg)

![RC-1](https://user-images.githubuserconten

[2021-12-13 07:14] smallfish01 opened #3550 "No new message notification when use mobile app"
### Description:

I installed and use mobile app in my iPhone, when someone send message to me the mobile app now show new message counter, but I can see the new message when I open the APP, I have enabled notification and app background refresh in my iPhone.

I can see the notification when I use Windows client.

### Environment Information:

- Rocket.Chat Server Version:4.1.2
- Rocket.Chat App V

[2021-12-13 08:20] debdutdeb commented on #3550
Hi, closing in favor of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3551

[2021-12-13 08:20] #3550 closed

[2021-12-13 09:21] smallfish01 commented on #3551
Thanks you guys, so I will waitting the next version and try again.

[2021-12-14 02:36] smallfish01 commented on #3551
Hi Diegolmello,

Web page and Windows client is ok, just iPhone and Android APP cannot receive notification.

Thank you.

[2021-12-14 10:40] smallfish01 opened #3554 "how to schedule LDAP user account sync"
### Description:

How to setup my Rocket.Chat server to schedule sync LDAP users from my Windows AD server?

### Environment Information:

- Rocket.Chat Server Version:4.1.2

### Steps to reproduce:

1. Administration--LDAP
2. Not found how to setup schedult LDAP users account sync or sync LDAP users account automatically.

### Expected behavior:

I expece Rocket.Chat server can be sync AD account

[2021-12-14 10:54] diegolmello commented on #3554
Hi, @smallfish01.
Follow https://docs.rocket.chat/guides/administration/settings/ldap
If you still have questions, the correct repo is https://github.com/RocketChat/Rocket.Chat

[2021-12-14 10:54] #3554 closed

[2021-12-14 10:59] diegolmello commented on #3551
Have you tried the server above?
We use this server for our team communication and we know push notifications are working.

[2021-12-14 19:03] Zeromax commented on #3136
Fixed with #3145

[2021-12-14 19:03] #3136 closed

[2021-12-15 03:17] smallfish01 commented on #3554
Hi Diegolmello,
Thanks for your answer, I am sorry sent the wrong area.

[2021-12-15 17:37] TC5022 commented on #1842
@diegolmello is this issue still open? I would like to work on it

[2021-12-15 17:39] #1842 closed

[2021-12-15 17:39] diegolmello commented on #1842
@TC5022 haven't heard of it for sometime. Closing. Thanks!

[2021-12-16 01:46] smallfish01 commented on #3551
Hi Diegolmello,
Thanks for your replied. I just change my APP Rocket.Chat url to https://open.rocket.chat and have a try, looks ok, I can receive some of message notification in my phone, maybe it's related with Rocket.Chat version and network connection issues.

Thank you so much.

[2021-12-16 13:51] #3551 closed

[2021-12-17 11:28] briotechno opened #3559 "App crash after splash screen in android"
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:
- OS Version:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional context:

[2021-12-17 13:05] diegolmello commented on #3559
Hey, @briotechno.
Can you give us more details?
We're on 4.22 (about to release 4.23) as well, so make sure you update.
Thanks!

[2021-12-17 21:34] Yakusari commented on #2129
This should really be added, as it is now it makes the calling option pretty much useless

[2021-12-19 02:27] AHKAH opened #3562 "Login fails silently without any error - 4.21 onward"
### Description:

Hello All,

I have set up a rocketchat server using docker on Windows Server 2022. I have a website on IIS pointing to the docker rocketchat server using a reverse proxy provided by rewrite. Here is my web.config for the website that also contains the rewrite rules:

[code]

In the code above, I had to disable compression as I would keep getting  500 Server error (gzip). Once I a

[2021-12-20 13:45] diegolmello commented on #3562
Thanks for reporting, @AHKAH.
Can you send me test credentials at https://open.rocket.chat/direct/diego.mello?

[2021-12-20 17:27] AHKAH commented on #3562
After Diego pointing to a lack of activity on WebSocket, I review the IIS settings. "HTTP_SEC_WEBSOCKET_EXTENSIONS" must be clear on the reverse proxy settings.

if you are using IIS to set up your server and use URL Rewrite make sure to clear HTTP_SEC_WEBSOCKET_EXTENSIONS header as well. I am attaching the working config file for website pointing to the backend localhost holding rocketchat.

[cod

[2021-12-22 14:53] JoeBloggs3 opened #3572 "Users that shouldn't be able to see DMs can"
### Description:

User is assigned a role that is marked as not being able to view Direct Messages (for testing I assigned a new role that had NOTHING in the permissions screen ticked, and this was set as that user only having that role). As another user with the ability to create and view DMs, I sent a DM to this user. As expected, I couldn't see the DM if I was logged i via Firefox, but if I log

[2021-12-22 19:16] TNF13 commented on #3572
I have seen this issue in our instance as well with iOS.

[2021-12-25 19:45] #3562 closed

[2021-12-28 05:46] weixuefeng commented on #3548
+1

[2021-12-28 07:15] wuvae commented on #3548
build.gradle file
  jitsi_version = isPlay ? "3.6.0" : "3.6.0-libre"
  modify to
  jitsi_version = isPlay ? "3.6.0" : "2.10.0-libre"

[2021-12-28 10:11] jalbstmeijer commented on #3169
Hi,

Connections seem smoother, but unfortunately the issue is still there for me.

server:  4.2.1
client: 4.23.0

The issue looks a bit different since client 4.23.0.
In the chats overview nothing indicates a connection is still being initiated, but when sending  a message I get the red alert icon.
Going back to the  chats overviews, it is and stays in updating state.

I need to clear the client

[2022-01-01 12:38] ah3nan commented on #3548
+1

[2022-01-02 12:42] TheAssassin opened #3582 "Please publish "how to build" instructions"
### Description:

No matter how I try, I struggle to find out how to build this app (or, ideally, the `foss` build variant), for Android. I've spent many hours in the last weeks. Since the app has not been updated in F-Droid for over a year (unfortunately due to build issues as well, as far as I can see), I thought I'd try to build it myself, and eventually try to fix the builds over at F-Droid.

[2022-01-02 12:54] TheAssassin commented on #3462
I also miss the Rocket.Chat libre variant from F-Droid. I use about 4 different servers regularly, and I'd need mobile access to at least some of them.

I'm not sure it's off the roadmap. I think it has been too much work for the Rocket.Chat folks to maintain the F-Droid build, though, so they put that on ice for now.
I presume that they could not estimate the user base over there due to the lack

[2022-01-02 17:23] Arryboom opened #3583 "webp image format is not supported on mobile"
on ios system,the **webp format image** message is showed as blackscreen in channel,failed to preview or download too.
guess this happens on android too.
on web(pc broswer) webp image message is absolutely normally showed and previewed.

- Rocket.Chat Server Version: latest
- Rocket.Chat App Version:latest
- OS Version: ios

for example:
upload this image to any channel on your rocketchat server o

[2022-01-03 16:55] jalbstmeijer commented on #3169
Hi,

Although it is probably a client issue, I'll keep updating the ticket when server or client version gets updated.

Still seeing the issue.

server: 4.3.0
client: 4.23.0

Gr, J

[2022-01-04 15:32] VinodComlink commented on #2634
I am having the same issue. Please share how it can be fixed.

[2022-01-09 10:29] 66Leo66 commented on #1973
There's modules that could render KaTeX without using webview but svg instead. Check https://www.npmjs.com/package/react-native-math-view

By the way, as this issue causes a mess on native clients when reading messages with KaTeX, why is it "not at top of the list for priority right now "?

Looking forward to a fix!

[2022-01-09 13:48] try-catch-stack opened #3590 "Joining and leaving messages are not displayed in teams"
### Description:

When a user joins or leaves a channel , an automatic message is sent with the information "User has joined/left the channel". While the same is expected to happen when joining/leaving a team but rather it does not happen.

A message without any content, containing only username of the user is sent in the team.

![mobile-view1](https://user-images.githubusercontent.com/77742477/14

[2022-01-10 11:14] ankar84 opened #3592 "[Bug] Android client hangs when open chat with crossed out text"
### Description:

That issue is reproducible on on Android and only with old parser.
When user open chat this crossed out text it totally hangs - no buttons works.

### Environment Information:

- Rocket.Chat Server Version: 4.2.2
- Rocket.Chat App Version: 4.23.0
- Device Name: Xiaomi Mi 9 SE
- OS Version: Android 11

### Steps to reproduce:

1. Go to account settings - Preferences - Global and d

[2022-01-10 13:47] jalbstmeijer commented on #3169
Hi,

Any chance we can re-open ticket issue?

Gr, J

[2022-01-11 16:07] diegolmello commented on #3583
Apple released support for WebP on iOS recently, but we don't support it yet.
It should work properly on Android.

[2022-01-11 16:08] diegolmello commented on #3582
Thank you. We'll take a look.

[2022-01-11 16:14] #3582 closed

[2022-01-12 08:52] Arryboom commented on #3583
OK,thanks,do user need to update their ios system at the same time to fix this issue in the future fixed release?

[2022-01-12 10:37] try-catch-stack opened #3599 "Cannot remove a user from the team"
### Description:
The app throws an error when trying to remove a user from the team. It is possible to remove the same user using the web and desktop app tho.

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:  4.23.0
- Device Name: LG G8X
- OS Version: Android 11

### Steps to reproduce:

1. Create a team and add some users.
2. Try to remove a user from the te

[2022-01-12 12:43] diegolmello commented on #3583
We don't have a proper fix at the moment.

[2022-01-12 14:06] entrymaster commented on #3599
Hey, I would like to work on the bug. Can you assign me this issue?

[2022-01-14 15:43] ealbers commented on #2835
How did you solve this problem? I am experiencing the same thing.

[2022-01-14 19:15] ealbers opened #3613 "IOS white screen on simulator after building"
### Description:

After building Rocket.Chat IOS the app launches in the simulator but only displays the white screen. Metro gives the error: 0308010C:digital envelope routines:unsupported and TypeError: Cannot read properties of undefined (reading 'transformFile') at Bundler.js

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:  iPhone 12
- OS V

[2022-01-15 04:25] ankar84 commented on #3592
@diegolmello interesting, but in Experimental app version 4.24.0 with old parser that issue is not replicated anymore.

[2022-01-17 09:16] dunggnguyen commented on #3371
Thanks you!. Someone fix this issue ?

[2022-01-17 14:31] #3590 closed

[2022-01-18 00:55] TheAssassin commented on #3582
I can't produce a build with any of those information. Believe me, I've tried for days. Hence I was asking for precise instructions how to create a libre/F-Droid APK, even if it's just "clone repo, run these five commands, done". I think you might be caught by "works for me", or know some secret steps that need to be run in order to make the build work.

I was hoping for some more guidance, since

[2022-01-18 06:44] sumj25 opened #3626 "Encode special character in url."
### Description:
 I create two-channel with names "**6@&hh"** and **"6@#&%^()hh"** and I see url for 6@&hh  channel name is `https://open.rocket.chat/group/6  -and-hh` and for 6@#&%^()hh is `https://open.rocket.chat/group/6-and-hh-2` which is almost similar.Is that intentional?I think we should encode special characters.

### Environment Information:

- Rocket.Chat Server Version:4.4
- Rocket.Chat

[2022-01-18 13:07] diegolmello commented on #3582
We don't have it, because we haven't been supporting F-Droid for over a year now.

This whole process of creating/maintaining a version on F-Droid requires _at least_ intermediate knowledge of how React Native works, because you need to understand how it deals with native dependencies and how you can remove proprietary libs without breaking the app and the build. It's not easy and, again, we don't

[2022-01-18 23:45] tensor5g commented on #3362
Getting the same issue, can't believe it hasn't been fixed yet

[2022-01-19 02:35] ankar84 commented on #3592
IDK actually, but what if https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3576 fixed that issue in 4.24?

[2022-01-19 13:04] diegolmello commented on #3592
@ankar84 Good call. I'm closing. Please reopen if you see it. Thanks!

[2022-01-20 00:33] sumj25 commented on #3626
@debdutdeb can you look into this?

[2022-01-20 00:35] debdutdeb commented on #3626
Moving to main repo, since this doesn't seem to be related to the mobile client.

I'll take a look at this tomorrow :)

[2022-01-20 11:23] soundstorm opened #3635 "Urgent: HEIC no longer uploaded as JPG on iOS"
https://github.com/RocketChat/Rocket.Chat/issues/23638#issuecomment-1017383490

So I found out, that the iOS and Server-Version is not affecting this issue, but it has to be only the App:
Somewhere between 24. Oct and 5. Nov 2021 in an update the conversion from HEIC images to JPG was removed and so users of other platforms (Browser confirmed, Android unconfirmed) are unable to view Photos from iP

[2022-01-20 11:24] soundstorm commented on #3635
Ah, seems like this is already tackled in #3633

[2022-01-20 17:05] try-catch-stack opened #3638 "Duplicate members in the memberlist of a Channel/Team"
### Description:

Members section of channels or teams does not show all unique members and shows some users multiple times.

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:
- OS Version:

### Steps to reproduce:

1. Got to members section of a channel/team.
2. Scroll down to the bottom and you'll see that some members are present multiple time

[2022-01-20 17:08] try-catch-stack commented on #3638
No it doesn't .
I meant to say that to verify that some members are not shown , I cross checked from the web

[2022-01-20 17:10] try-catch-stack commented on #3638
The bug is most probably related to the way members are fetched and the pagination( Offset and Page size).
I tried by changing the page size (count) to greater than the members present and got the correct result.

[2022-01-20 17:11] diegolmello commented on #3638
Got you.
I've tested on a few rooms and it's working.
Can you give us more details?

[2022-01-20 17:13] try-catch-stack commented on #3638
Working? You mean the bug is for real right?

As I said above , the rooms with members<25 (Page size of the fetched members) should not have this issue.

[2022-01-20 17:19] diegolmello commented on #3638
Ok, I was able to reproduce it on https://open.rocket.chat/channel/general

[2022-01-20 17:19] diegolmello commented on #3638
@try-catch-stack Can you work on a fix?

[2022-01-20 17:20] try-catch-stack commented on #3638
I tested the api endpoint `/channels.members` (Refered [this](https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/channels-endpoints/members#example-call) ) using the same offset and count and this also happens to give duplicate results for example first we take 0 as offset and 25 as count and get a result . Then we take 25 as offset and 25 as count and this

[2022-01-20 17:23] try-catch-stack commented on #3638
I have been trying to look for the fix for a while now and figured out this. I thought that some insights would help so created an issue here.

[2022-01-20 17:40] try-catch-stack commented on #3599
@diegolmello @GleidsonDaniel This is also a major issue that has to be solved.

[2022-01-20 17:43] diegolmello commented on #3599
@try-catch-stack can you or @entrymaster work on a fix? (no need to assign issues on Github btw)

[2022-01-20 17:45] try-catch-stack commented on #3599
Can you please confirm the issue as I have only tested on teams with 1-2 members?

[2022-01-20 18:24] #3635 closed

[2022-01-20 18:26] diegolmello commented on #3599
@LevyCosta can you check, please?

[2022-01-20 18:27] try-catch-stack commented on #3599
@diegolmello  Update: The issue has been solved by https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3557 and it fixes the issue.
Closing the issue!

[2022-01-20 18:27] #3599 closed

[2022-01-21 09:22] strike65 opened #3642 "Display of Images"
Hi there,

during a project by myself I realized that there is no way to apply scaling to an IImageElement in my App.
This results in an "ugly" display (upscaling) of smaller images in the mobile app. It would be helpful if the dimensions of the image were respected in the display.

Regards!

strike65

[2022-01-21 13:08] diegolmello commented on #3642
@strike65 Thanks for your report. Can you follow the issue template and give us more details?

[2022-01-22 11:49] samad-yar-khan opened #3644 "[BUG] Google OAth not working on the android application"
### Description:

Whenever the user triies to log into the Open Workspace Server using Google OAth, they are sent back to the login screen. The user is not authorized.

 ### Environment Information:

- Rocket.Chat App Version: 4.23.0.27401
- Device Name: Redmi K20 Pro
- OS Version:  Android 10 QKQ1.190825.002

### Steps to reproduce:

1. Download and Open the android Application.
2. Click - Join O

[2022-01-24 20:59] Flam3z commented on #3462
I just checked f-droid and the app doesn't exist even when i click the package link referenced above.

[2022-01-25 11:14] markus-gellrich commented on #3582
😥
bye

[2022-01-25 16:53] tkyser-rodeo commented on #3371
Seems inconsistent, maybe it's lack of ios dev experience, but sometimes Xcode builds it no problem others it fusses. When it does complain I just disable Hermes and it works.

[2022-01-26 15:37] Gintasz opened #3655 "Mobile stops updating data & then user is signed out after X amount of time?"
### Description:
I've started a self hosted rocketchat server (4.3.2). Migrated to wiredtiger. Mongodb 5.0

I use my admin account on web and mobile. I noticed this happened about 3 times now today. After having mobile app in background for some time, I reopen it, but nothing gets updated. If I enter a channel, I see spinner spinning. If I swipe-to-refresh in the channels list, I see "updating..."

[2022-01-26 15:53] sumj25 opened #3656 "search text appears at top of the Search Box is that intentional?"
### Description:

In the search screen, search text appears at top of the Search Box is that intentional?

### Environment Information:

- Rocket.Chat Server Version:4.4
- Rocket.Chat App Version:4.24.0
- Device Name: Realme Narzo 20
- OS Version:

### Steps to reproduce:

1. Go to any channel.
2. Click on the search icon which appears right side of the thread icon.
3. And you see a search text ap

[2022-01-26 16:03] sumj25 commented on #3656
@debdutdeb can you look into this?

[2022-01-26 16:13] #3656 closed

[2022-01-26 16:25] diegolmello commented on #3572
@JoeBloggs3 Thanks for reporting.
Found this issue on the main repo https://github.com/RocketChat/Rocket.Chat/issues/20399
Are you able to reproduce this issue on web?
Imo we should limit this direct message creation on backend rather than letting them get created and filtering out on clients.

[2022-01-26 21:45] JoeBloggs3 commented on #3572
@diegolmello If I try my workflow on the web I can see I have a message but I can't view it. Would agree with the viewpoint that the server should police the creation/sending out of messages rather than sending everything and then getting the client side to filter.

[2022-01-27 05:05] ankar84 commented on #3655
Check these settings in Admin UI
![image](https://user-images.githubusercontent.com/4023037/151295317-a3025649-830d-4eae-aee5-49031357e818.png)
![image](https://user-images.githubusercontent.com/4023037/151295330-78d78835-7ab4-42c4-87cf-ddb267a8ac60.png)

[2022-01-27 05:22] Gintasz commented on #3655
This turned out to be because I had a bot signing in to my account every 30 seconds and doing some actions. I fixed it by moving the bot to a separate account.

[2022-01-27 05:22] #3655 closed

[2022-01-28 05:58] ankar84 commented on #3342
@diegolmello Hello!
Can you take that issue to next sprint?
Thank you!

[2022-01-28 06:45] ankar84 commented on #3342
Still an issue in 4.24

[2022-01-28 12:18] diegolmello commented on #3342
@ankar84 Done!

[2022-01-29 14:15] jalbstmeijer commented on #3169
Hi,

Still seeing the issue with server 4.3.2 and client 4.24.

It might be a web-sockets issue in combination with Traefik 1.7.

https://forums.rocket.chat/t/android-mobile-client-stuck-on-updating/11330/2

Any suggestion?

Gr, J

[2022-01-29 14:45] ankar84 commented on #2286
Version 4.24 issue is still here

[2022-02-01 14:38] #3549 closed

[2022-02-01 15:29] MagsMagnoli opened #3679 "Add 24 hour time format"
### Description:

A setting for 24 hour time format exists on the server, but not on the client apps.

1. Expose the option in the profile settings
2. Sync the setting between mobile and desktop apps

### Environment Information:

- Rocket.Chat Server Version: 4.4
- Rocket.Chat App Version: 4.24.0.28002
- Device Name: Android
- OS Version: 12

### Steps to reproduce:

1. Desktop app: Update time f

[2022-02-02 08:05] ankar84 opened #3681 "Logic of mention suggestions differs of Web version"
### Description:

Web client have improved in https://github.com/RocketChat/Rocket.Chat/pull/18309 logic of showing suggestions.
Main concept:

[code]
But mobile client now works differently (wrong, IMHO)
It shows users you talked to in DMs recently in suggestions of private chat where no such users.

### Environment Information:

- Rocket.Chat Server Version: 4.3.3
- Rocket.Chat App Version: 4.24

[2022-02-03 08:10] ankar84 commented on #3592
Still facing that issue in the development branch.
We build our Whitelabel app from develop branch and that issue is still there.

[2022-02-03 11:22] diegolmello commented on #3592
@ankar84 You told us it was working. What changed?

[2022-02-03 11:31] ankar84 commented on #3592
It working it official apps, but not working in our whitelabel app, which we build on develop branch.
From what branch build official apps?

[2022-02-03 14:34] ZathrasXI commented on #3681
Yes, I am experiencing the same bug. Only on mobile

**The '@' list contains people who are not in the chat**
When I type '@' in a group chat
Then I am presented with a list of the people who are not in the chat. It is a list of the people who I have chatted to recently or have a direct message chat with.

Devices: Galaxy A21S, Fairphone 2

**The '@' list does not contain people who are in the cha

[2022-02-03 15:52] ankar84 commented on #2749
Saw that issue recently on 4.23.0 version on iPhone

[2022-02-03 16:41] ged commented on #3681
Except when he *does* show up! ;)

[2022-02-03 20:11] try-catch-stack commented on #3679
Hey @diegolmello
I am implementing this feature and had needed your suggestion on the usage of `UserPreference` endpoint or basically the function defined in rocketchat.js . I mean which is the best place to fetch the time format setting to sync with the web and store in the local state.In my current implementation  , I used it in the RoomListView . What do you think?

[2022-02-03 20:50] diegolmello commented on #3679
@try-catch-stack You'll need to save the preference on our local db.

It's very similar to what we do for [`'show_message_in_main_thread'`](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/database/model/servers/User.js#L27) and you should use it as example.

- You'll need to create a new column on that WatermelonDB table for `'clockMode'` user preference.
- Update the co

[2022-02-04 05:22] ankar84 commented on #3592
@diegolmello we found the root cause of that issue and you need to remember about that in future releases.
On MacOS we used `yarn` to manage packets, on Linux we used `npm` for that.
Your project have `yarn.lock` file to specify packet version for `yarn`, but there is no `packages-lock.json` file to specify packet version for `npm`.
So, `npm` uses latest versions of packets, and obviously there is

[2022-02-04 05:22] #3592 closed

[2022-02-04 16:24] ZathrasXI commented on #3681
@ged solved! ;)

[2022-02-07 18:15] try-catch-stack commented on #3644
The issue has been solved by https://github.com/RocketChat/Rocket.Chat/pull/24381 . You can close the issue @samad-yar-khan .

[2022-02-07 18:29] samad-yar-khan commented on #3644
@try-catch-stack Thanks for notifying :) . Closed !

[2022-02-07 18:29] #3644 closed

[2022-02-08 07:31] khanhbao0508 commented on #3551
Hi @diegolmello,
I have question in this setting. When I set "push notifications" from "all messages" to "Mentions" after that, I close the app and still get the message with no mention. Is that correct behavior in this setting? ( I tried in rocketchat app from app store android version 4.24.0.28001 and Server version 4.4 https://open.rocket.chat/)

[2022-02-08 16:44] #3102 closed

[2022-02-08 19:16] ambegossi commented on #2876
I had this error when I was trying to use the server url with `http://`

Using `https://` everything happened normally

[2022-02-10 12:57] svartedauen opened #3710 "iOS Clients can't auth at Iframe configured server"
- Rocket.Chat Server Version: 3.18.3
- Rocket.Chat App Version: 4.24.0.28004
- Device Name: iPhone 12 Pro
- OS Version: iOS 15.3

### Steps to reproduce:

1. Install RChat 4.24.0.28004 on iOS
2. Enter the URL (server address), click connect.
3. Name of Chat will be displayed, press Login.
4. Click "Login"

### Expected behavior:
Authorization of the user on the server

### Actual behavior:

The we

[2022-02-10 13:16] diegolmello commented on #3710
@svartedauen Thanks for reporting.
Version 3.18 very old though.
Can you update to make sure it's not fixed already?

[2022-02-10 13:58] svartedauen commented on #3710
Okay, today we have already scheduled the maintance for the update. I would not create a ticket if I did not see that authorization works in Android.

[2022-02-10 18:46] diegolmello commented on #3710
You can send a test user to my personal account on https://open.rocket.chat/direct/diego.mello
We've been focusing our efforts to finish the Migration to Typescript this month, but I can add it to next sprint.

[2022-02-11 19:15] godot007 commented on #3548
+1

[2022-02-11 20:05] dudanogueira commented on #3655
Link in forums for reference:
https://forums.rocket.chat/t/fixed-mobile-stops-updating-data-then-user-is-signed-out-after-x-amount-of-time-web-app-too/13111

[2022-02-12 16:01] murtaza98 opened #3723 "[Feature Request] Apps Action Buttons not visible on Apps"
### Description:

Recently, Apps-Engine introduced a new feature that allowed apps to register custom action buttons on various components like Message, Room or Message Input.

Link to relevant feature PRs:
https://github.com/RocketChat/Rocket.Chat.Apps-engine/pull/446
https://github.com/RocketChat/Rocket.Chat/pull/23679

### Environment Information:

- Rocket.Chat Server Version: >=4.3.0
- Rocket

[2022-02-14 10:54] ashwinshetttty opened #3726 "can we open appilcation on expo what is the comand"
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:
- OS Version:

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional context:

[2022-02-14 13:10] diegolmello commented on #3726
Expo is not supported.

[2022-02-15 19:09] svartedauen commented on #3710
Unfortunately, authorization in the our rocket chat is possible only through the corporate portal by Iframe. I am not allowed to create an account in corporate portal for third parties and this complicates the situation.

Tell me, is it possible to test the work through iframe authorization in the iOS client on any alternative environment on your own?

[2022-02-15 19:17] diegolmello commented on #3710
I understand.
We don't have enough create the reproducible example on our own.
Can you setup an env for us? Maybe a cloud trial https://cloud.rocket.chat/.
We can take a look at it next sprint.

[2022-02-17 13:02] artemChernitsov commented on #3484
I have the same issue

[2022-02-18 09:02] AndreySemenov1 commented on #3540
The same issue on iOS.

The workaround is "clear chat", but I would like to do without it.

[2022-02-18 09:06] palnxrepository opened #3755 "Problem only on Sumsung A52"
Non-fatal Exception: io.invertase.firebase.crashlytics.JavaScriptError: Record settings#WebRTC_Enabled not found
       at .anonymous(address at app.bundle:1:920096)
       at .anonymous(address at app.bundle:1:919971)
       at .anonymous(address at app.bundle:1:924425)
       at .anonymous(address at app.bundle:1:1061526)
       at .anonymous(address at app.bundle:1:924344)
       at .anonymous(

[2022-02-18 09:45] #3755 closed

[2022-02-18 14:30] cking-vonix opened #3756 "Subscription synchronization on app start does not correctly sync removed items"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 4.3.1
- Rocket.Chat App Version: 4.24.0
- Device Name: Pixel 3
- OS Version: Android 12

### Steps to reproduce:

1. Open mobile application and login to initialize database
2. Close the app completely
3. Login via web to same account and leave (not delete) a room to remove the subscription for that user.
4. Re-open mobi

[2022-02-18 16:05] elmanytas commented on #2096
I don't find the rocketchat package in f-droid and apk installed from releases page does not install in lineageos without google apps.

[2022-02-19 11:24] hilburger commented on #3462
Hi everybody :)
Are there any news in this?

I have switched to LineageOS and won't install any apps anymore which used Google Services.
I think there are more people like me and the number will grow.

[2022-02-21 01:14] kodaf1 opened #3763 "Can't send voice message from iPhone"
### Description:

I can't send voice messages longer than 2 minutes from iPhone 12.

### Environment Information:

- Rocket.Chat Server Version: 4.4.2
- Rocket.Chat App Version: 4.24.0.28004
- Device Name: iPhone 12
- OS Version: IOS 15.0.2

### Steps to reproduce:

1. Record voice message longer than 2 minutes to any chat.
2. Try to send it
3. You should get error "Error uploading filename"

###

[2022-02-21 01:15] fiberson commented on #3763
I have same problem

[2022-02-21 06:19] ankar84 commented on #3756
I guess I saw that behavior

[2022-02-21 10:18] artemChernitsov commented on #3548
+1

[2022-02-21 14:37] diegolmello commented on #3763
Maybe server is limiting the file size?

[2022-02-22 00:35] kodaf1 commented on #3763
As I wrote in issue file size limit is set to -1(unlimited) and everything is ok on PC.

[2022-02-22 14:07] artemChernitsov commented on #3548
Hi Rocket.Chat team.
Can you please help with this issue?
I can't update Android Build for my Self Hosted Rocket.Chat instance, because I have a similar issue.

[2022-02-23 01:08] utkarshsinghinc commented on #3539
I want to work this issues

[2022-02-23 08:57] debdutdeb commented on #3539
@ankar84 is this happening on the latest release as well?

[2022-02-23 12:53] ankar84 commented on #3539
Yes, issue is still here on 4.25.0.29287 mobile version and 4.3.3 server version

[2022-02-23 13:22] diegolmello commented on #3539
It's planned to be fixed this sprint

[2022-02-24 16:43] fiberson commented on #3763
Guys?

[2022-02-25 13:58] svartedauen commented on #3710
I'm sorry, I'm having trouble deploying due to lack of time. Time is wasted on current work.

[2022-02-28 17:46] pavlof01 commented on #3548
+1

[2022-03-02 13:42] cuongnn-smartosc commented on #3525
Any updates on this, I used version 4.25 and it still having this issue.

Thanks

[2022-03-02 15:28] #3710 closed

[2022-03-02 16:19] diegolmello commented on #3710
@svartedauen That's cool! Just pay attention we didn't touch anything on that part of the code.

[2022-03-02 16:59] cuongnn-smartosc commented on #3548
Hi, I have the same issue when build with Android Studio, turn out I select wrong build Flavor in Android studio

[2022-03-02 17:04] diegolmello commented on #3548
@cuongnn-smartosc Nice catch!

Yes, we have a few build flavors and you'll probably want to use `play` instead of `foss`.
`foss` is the one that uses `libre` version of Jitsi, which is failing to you all.

Make sure you use `experimentalPlay*` or `officialPlay*`.
We use experimental on development, so you if you check the [yarn android](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/de

[2022-03-02 17:04] #3548 closed

[2022-03-03 16:00] stefanandres opened #3811 "Messages are not always properly refreshed since RC mobile v4.25.0"
### Description:

After upgrading the iOS RC client to 4.25.0 newly sent messages are not always being automatically refreshed in the client.

After manually refreshing (i.e. by pulling down) new messages appear though.

### Environment Information:

- Rocket.Chat Server Version: 4.5.0 (also happened with 4.4.x)
- Rocket.Chat App Version: 4.25.0
- Device Name: iPhone
- OS Version: iOS 15.3.1

###

[2022-03-04 21:48] MHFDoge opened #3841 "Caching and persistence of rooms that the user does not have access to anymore."
### Description:

I've noticed for a while there seems to be a problem with how the mobile app caches rooms and other data.

### Environment Information:

- Rocket.Chat Server Version: 4.5.0
- Rocket.Chat App Version: 4.25.0.20370
- Device Name: Samsung Galaxy S21 Ultra
- OS Version: Android 12

### Steps to reproduce:

1. Have an administrator account active on one device,(a browser works), creat

[2022-03-05 05:09] ankar84 commented on #3841
Looks like duplicate of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3756

[2022-03-05 16:45] ckrew89 opened #3846 "Unable to upload images from iOS & iPhone Mini 12"
### Environment Information:

- Rocket.Chat Server Version: 4.4
- Rocket.Chat App Version: 4.25.0.29369
- Device Name:  iPhone Mini 12
- OS Version: 15.3.1

### Steps to reproduce:

1.  Open any chat (Room, DM, note to self, etc)
2.  Press "+" and "Choose from Library," select any locally stored photo, and press "Done"
3. Image preview pans to black space below the image preview; you can scroll up

[2022-03-05 17:31] MHFDoge commented on #3841
Oh, true it does appear to be a duplicate. Sorry about that.

[2022-03-07 07:07] jalbstmeijer commented on #3169
Tried Traefik v2, with the same result. So I'm a bit stuck.
 Any suggestion how to debug further?

[2022-03-07 11:34] cuongnn-smartosc commented on #3811
In additions to above, when you delete the message, it does not automatically disappeared. You can replicated by trying to delete multiple messages.

Thanks

[2022-03-07 13:27] diegolmello commented on #3169
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3815

[2022-03-07 14:20] cuongnn-smartosc opened #3852 "Deleted message will not go away"
### Description:

Try to delete multiple messages, the app stop updating the message list

### Environment Information:

- Rocket.Chat Server Version: 4.5
- Rocket.Chat App Version: 2.25
- Device Name: iOS
- OS Version:

### Steps to reproduce:

1. Type something in the chat
2. Select any message and hit delete
3. The message list does not update (sometime it does)

### Expected behavior:

The del

[2022-03-08 01:01] larcefox commented on #3362
Getting the same issue.
I think that happens because app can't accept self signed certificate.

[2022-03-08 01:07] tensor5g commented on #3362
I don't think that is true. My app is behind a reverse proxy with a letsencrypt certificate (both the rocket.chat app and the server hosting the user's avatars).

[2022-03-08 16:29] jalbstmeijer commented on #3169
Yes my hopes were first with #3531, but that did nothing to improve the situation.
Lately is even become more unstable. Where before it was clear the app was hanging in updating state and cleaning cache was enough to get it to work again. Now the state is sometimes not clear and when it hangs sending an image I have had already several times that even clearing cache hangs and I need to forcefully

[2022-03-10 13:40] khodge281 opened #3901 "notifications"
Why cant my phone alert me to let me know i have a new message on rocket chat. No matter what I do, I can not get any kind of ring tone or alert. I just have to look at my phone about every 5 minutes and that is just ay too counterproductive.  I need an answer right away NOT in two or 3 days. I am working AWAY from my computer and this is a pain in the ass.

[2022-03-11 14:12] #3539 closed

[2022-03-14 10:30] svenseeberg opened #3889 "SSO/SAML Login broken on Android"
### Description:

A login via SAML is currently not possible on Android. The app is immediately logged out after seeing the welcome message for a short time. The problem does not occur on iOS as far as I know.

### Environment Information:

- Rocket.Chat Server Version: 4.5.1/4.5.2
- Rocket.Chat App Version: 4.25.0
- Device Name:
- OS Version: Android 11 (i.e. LinageOS 18.1)

### Steps to reproduc

[2022-03-14 16:41] JonasDeichelmann commented on #1874
Is this Ticket resolved?
I run in the same Issue, as described above.

[2022-03-14 17:58] svenseeberg commented on #3889
It seems that flushing the app cache solves the problem.

[2022-03-15 13:11] diegolmello commented on #3901
There's not enough info to help you, but here's a few reasons:
- You need to register your server.
- Make sure your messages follow this workflow https://whimsical.com/notification-workflow-PRwN4MWNsxSwqHjHXaPUuC

[2022-03-15 14:02] khodge281 commented on #3901
I am not sure how much more info I can give, other than I receive alerts on my DESKTOP when I get a message but NOT on my phone. The message DOES come to my phone, but I can not get it to ring or alert when I get a message.
I am going to ask my office manager if he can check and make sure our server is properly registered and then we can go from there.

Thanks

[2022-03-15 16:58] gerzonc commented on #3811
Can you share more details about this in order to reproduce it? I tried to replicate the issue but I was unable to.

[2022-03-15 18:09] diegolmello commented on #3811
I was also unable to reproduce it.
We thought about making sure we don't send those `undefined` requests, but we'd only be hiding the real issue.
@stefanandres Is there any other thing you do with the app before the actions you wrote on `Steps to reproduce`?

[2022-03-15 18:14] MattiasMentzer commented on #3811
Another step to reproduce is to write some messages as user A in a channel from any client. Then open the app on the iPhone of user B and most of the time these new messages are not displayed or only a few of the new messages (not all).

When you are in a direct interaction (user A and B online and writing) also most of the messages are not displayed to the other user. You always have to refresh w

[2022-03-15 18:25] MattiasMentzer commented on #3811
Maybe. Let us wait until @stefanandres adds some information to it. For my understanding it is the same issue. But maybe we mixed things up a little.

Is there any ETA on a new version of the mobile app for the Apple AppStore and is there a beta (via Testflight)?

[2022-03-16 13:29] diegolmello commented on #3525
We released a version on our [Experimental app](https://play.google.com/store/apps/details?id=chat.rocket.reactnative) containing #3634 and there was no report from Google Play pointing to the cipher mode.
I'm going to keep it open once you folks try it as well.

[2022-03-18 06:41] bingluen opened #3932 "Share to Rocket.Chat is not working on iOS"
### Description:

Share to Rocket.Chat is not working on iOS

### Environment Information:

- Rocket.Chat Server Version: irrelevant
- Rocket.Chat App Version:  fc9e9a4f
- Device Name:  iPhone 12 simulator
- OS Version: 15.2

### Steps to reproduce:

1. open safari
2.  go any website
3. click share button
4. select rocket.chat
### Expected behavior:

Should show dialog  can select workspace or cha

[2022-03-18 07:51] seregasoft opened #3933 "Incorrect link in documentation Mobile App White Labelling - colors.js"
### Description:

Incorrect link in documentation.

### Environment Information:

- Any browser.

### Steps to reproduce:

1. On page https://developer.rocket.chat/mobile-app/mobile-app-white-labelling#general
2. Click on "Change app colors on" [colors.js](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/single-server/app/constants/colors.js)

### Expected behavior:

Open target page.

#