[2020-12-20 05:20] toshanmugaraj commented on #2693
@diegolmello

[2020-12-21 04:09] granttoday commented on #2713
I have figured out what triggered the error. I misread the whitelabel documentation and changed the `name` & `displayName` in app.json, which caused it to build with the wrong name.

[2020-12-21 12:19] diegolmello commented on #2692
@C1ean What app version are you running?

[2020-12-21 12:53] NicoHaase commented on #2692
@djorkaeffalexandre  @diegolmello today, my iPhone received an update to v4.13.0, and the order is now consistent - thanks for your great work!

[2020-12-21 16:01] dossantg commented on #2653
Hello,

It works if you have already started a direct coversation with a person.
On the other hand, if we search for a person for the first time it displays the username and not the real name.

We have the same behavior on Andoid and iOS on the latest versions available in the stores

[2020-12-21 16:11] markusstoll commented on #2653
Indeed, if I search for the first time for a given user, I have one result, showing the user name (not real name).

So the client searches separately (locally and using the search API) and merges the results without consolidation (neither the hits nor the presentation form). Is this observation correct?

[2020-12-21 21:17] sadeghpro opened #2730 "Android gradle sync failed on single-server"
### Description:
Android gradle sync and also yarn android failed on single-server branch with error:
[code]
It's work with master branch but I have this issue with single-server

[2020-12-21 21:30] C1ean commented on #2692
4.13.0.22082
server 3.5.1

I can attach video from my phone..
sorting began to very strangely, and conditionally the oldest messages began to appear with the current time in the history of messages ... which is not reproduced in the web version ..

[2020-12-21 21:56] tymothytym commented on #2730
Change line 146 of /android/app/build.gradle (single-server branch)

from

``versionCode VERSIONCODE``

to

``versionCode VERSIONCODE as Integer``

Fixed it for me

[2020-12-21 22:37] pratyaksh123 commented on #2389
Hey, I think I can work on this,
As a user opens the ```AttachmentView.js``` .We need to search the downloaded videos in the local directory ( with rn-fetch-blob) and if it's there load it and play, else we can stream it and also simultaneously download it ( like WhatsApp ) for later offline use.
And also a user can have an option to turn this auto-download off if he wants!

[2020-12-22 10:02] jacotec opened #2733 "Consecutive uploads are failing with 4.13.0"
### Description:

After opening the app I can do one upload (photo, voice message etc.) into a chat. Every following upload does not work, the "Uploading ..." message at the top of the chat stays forever. Leaving the chat and rejoining it gives the same issue, in this case the banner mentions that the upload has failes, a retry gives the same issue (no upload happening).

The app must be force clo

[2020-12-22 10:08] AmatorPhasma commented on #2733
Same here:

Rocket.Chat Server Version: 3.9.3
Rocket.Chat App Version: 4.13.0
Device Name: iPad (Gen. 7)
OS Version: 14.3

also other apps can not share data to Rocket.Chat app anymore.
For example: Photo and Safari.
After selecting Rocket.Chat as share destination a empty dialog opens.

[2020-12-22 10:13] AmatorPhasma commented on #2699
Same reports on this issue from multiple users in our school, without changing anything except the app version.

[2020-12-22 10:27] yash-rajpal commented on #2733
Seems like a bug on ios version. I tried on Android device and was able to upload multiple image one after another without any issues.

[2020-12-22 10:51] ankar84 commented on #2699
Can you please give more details (Jitisi server info, mobile clients info) and screenshots?
Developers could not reproduce that issue on their [Jitsi server ](https://jitsi.rocket.chat/)

[2020-12-22 11:17] toshanmugaraj commented on #2721
This issue is with duplicate dependencies:

adding this in app\build.gradle works:

`implementation(project(':react-native-jitsi-meet')) {
        exclude group: 'com.facebook.react',module:'react-native-community-async-storage'
        exclude group: 'com.facebook.react',module:'react-native-community_netinfo'
}`

https://github.com/react-native-netinfo/react-native-netinfo/issues/171

[2020-12-22 11:20] diegolmello commented on #2721
Yep.
We have it on our fork here https://github.com/RocketChat/react-native-jitsi-meet/blob/master/android/build.gradle#L58

[2020-12-22 11:35] AmatorPhasma commented on #2733
Had some checks here:
[code]

And yes no share problems on Android 7,8,9 (no version 10 available for me)

[2020-12-22 11:36] diegolmello commented on #2733
I'll take a look and release a 4.13.1 when fixed.

[2020-12-22 11:44] AmatorPhasma commented on #2733
Thank you for the fast response!

[2020-12-22 11:52] NicoHaase commented on #2692
To add one more case that is now handled differently in the mobile app, compared to the others: a colleague **left** a channel (this channel has not seen any other activity since April 2020!), and this trigged the activity flag in the mobile app. Now, this channel is listed amongst other channels that received new messages in the last days.

In the web app and in the native Ubuntu app, this channe

[2020-12-22 12:03] AmatorPhasma commented on #2699
Yeah... that's the nasty kind of bugs.

Jitsi-Server:
[code]
is not the latest 2.0.5142 version because of this bug: https://github.com/RocketChat/Rocket.Chat.Electron/issues/1919

RocketChat App Version: 4.12.1 (mostly... I also have some users with a fairly lower update priority....)
It only happened for iOS/Android App users not on Linux/Mac/Windows - and also not with the Jitsi app.

I already

[2020-12-22 12:08] diegolmello commented on #2699
@AmatorPhasma Can you see if you're able to reproduce it on https://open.rocket.chat or send me your server via DM?
We tried on our server and it always works.
https://open.rocket.chat/direct/diego.mello
Let's fix it.
Thanks.

[2020-12-22 12:15] #2730 closed

[2020-12-22 12:21] diegolmello commented on #2721
For some reason, `yarn` isn't fetching the correct commit.
Remove jitsi meet and add it again.
[code]
Let me know if it works.
@MOST2K2 @C1ean
Thanks!

[2020-12-22 12:49] hibobmaster opened #2735 "Cannot update to the latest version via google play store"
![Screenshot_20201222_204920_com.android.vending.jpg](https://user-images.githubusercontent.com/32976627/102890255-194a9200-4497-11eb-8c6c-94ebe76f48ad.jpg)

[2020-12-22 12:54] diegolmello commented on #2735
Rolling out 4.13.0.22100 right now with a fix.
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2734

[2020-12-22 15:17] arsalan-arshad commented on #2730
project is totally messed up not working

[2020-12-22 16:17] diegolmello commented on #2730
@arsalan-arshad If you have an issue, please report it.
I'm marking your comment as disruptive, because I won't tolerate this kind of behaviour.

[2020-12-22 16:22] MOST2K2 commented on #2721
working after clean. thanks!

[2020-12-22 16:27] #2721 closed

[2020-12-22 16:32] #2735 closed

[2020-12-22 16:56] arsalan-arshad commented on #2730
@

i follow all the points from docs

npx react-native run-android --variant=experimentalPlayRelease

not working throwing this error
Task 'experimentalPlayRelease' not found in project ':app'.

[2020-12-22 17:11] diegolmello commented on #2730
@arsalan-arshad Can you open a new issue?
Your question might not be related to this one.

[2020-12-22 19:11] diegolmello commented on #2733
@jacotec @AmatorPhasma #2738 fixes this issue, but there's not enough time to make a patch on App Store.
If you have a whitelabeled app and can't wait, apply the PR changes manually.
I'm going to create a patch as first thing on 2021.

[2020-12-22 19:36] jacotec commented on #2733
@diegolmello I'll check the fix and will report back. Thanks for your fast fix! :-)

[2020-12-22 20:40] arsalan-arshad opened #2740 "I setup single-server branch and failed to run"
I followed all the points from docs

npx react-native run-android --variant=experimentalPlayRelease

not working throwing this error
Task 'experimentalPlayRelease' not found in project ':app'. (and it's having in gradle but not picking)

[2020-12-22 21:07] jacotec commented on #2733
I can confirm your fix solves the issue!

[2020-12-22 21:07] #2733 closed

[2020-12-23 05:31] ankar84 commented on #2699
I think I have same Jitsi server version because same bug in Electron app!
[code]

@diegolmello what is your versions on `jitsi.rocket.chat`?
By the way, Jitsi calls do not work from web and desktop on open.rocket.chat so I can't check if it involved in https://github.com/RocketChat/Rocket.Chat.Electron/issues/1919 bug

[2020-12-23 10:42] jacotec opened #2741 "4.13.0 IOS - Can't store pictures in gallery"
### Description:

Tapping on a picture in a chat in IOS, then tapping the "Download" symbol in the upper right always gives "Error saving to gallery". Works flawlessly in 4.12.1.

### Environment Information:

- Rocket.Chat Server Version: 3.9.3
- Rocket.Chat App Version: 4.13.0
- Device Name: iPhone 11 Pro Max
- OS Version: IOS 14.3

### Steps to reproduce:

1. Tap on a picture in a chat to maxim

[2020-12-23 11:19] yash-rajpal commented on #2741
I can test this on Android version and its working fine. The save to gallery header is rendered from /app/views/AttachmentView.js and earlier we were using FileSystem from react-native-unimodules, but recently we changed to RNFetchBlob to save the attachment to device storage. Can this change cause an issue on ios devices?
@diegolmello
Should I revert back changes and make a PR?
Thanks.

[2020-12-23 11:29] diegolmello commented on #2741
@yash-rajpal do you have iOS to test it?

We can't revert to Expo, because we changed to rn-fetch-blob to be able to use SSL Client Certificate.

[2020-12-23 11:39] yash-rajpal commented on #2741
@diegolmello no I cant test on ios.
Also I checked, we can directly pass imageurl to cameraRoll.save to save to device for ios.

example :-
`CameraRoll.save(imageurl,{ album: 'Rocket.Chat' })`

[2020-12-23 11:51] diegolmello commented on #2740
@arsalan-arshad What's the commit you're using?
You might want to `git pull` first.
Maybe even clone the repo again.

[2020-12-23 13:42] arsalan-arshad commented on #2740
sir did it but now leave this issue I fixed it. not the other issue is coming when app runs its saying appregistery is not connect it...

[2020-12-23 13:43] arsalan-arshad commented on #2740
![Uploading Screenshot_1608730902.png…]()

[2020-12-23 13:47] diegolmello commented on #2740
Follow the docs.
You shouldn't be changing AppRegistry.

[2020-12-23 13:47] #2740 closed

[2020-12-23 14:35] MOST2K2 opened #2742 "Dev branch with release build: No push notifications under Android 10"
[code]

Please help. Android 9 with the same app is working as expected. I use my own Google play FCM.

[2020-12-23 15:33] arsalan-arshad commented on #2740
I didn't change yet

[2020-12-23 16:26] darenceang commented on #2725
Try launching a terminal and issue the following

[code]

After which, do a yarn && yarn ios again...
Should then fix the error...

[2020-12-23 17:29] yash-rajpal commented on #2742
Similar to issue #2706.

[2020-12-23 17:48] #2742 closed

[2020-12-23 17:49] diegolmello commented on #2706
I have an Android 10 here and it's working.
Is this still an issue?

[2020-12-23 18:58] MOST2K2 commented on #2706
Here its an issue. Did you get the same log output after sending a  test push message from admin panel?
@diegolmello ?

[2020-12-23 19:07] diegolmello commented on #2706
Not really.
It worked locally and it works properly on our open server: https://open.rocket.chat
Can you try there and see if it's working on your device?

[2020-12-23 19:18] MOST2K2 commented on #2706
Send me a test message, i have posted in #sandbox

[2020-12-23 19:30] MOST2K2 commented on #2706
Tested with Yash Rajpal and push notifiations are working with official app on open.rocket.chat.
I have connected from my white lableling app to open.rocket.chat and its not working.
Same apk is working at my wife´s Samsung S8 with Android 9.
At my Samsung S10 with Android 10 i get no push notifications.

[2020-12-24 04:10] vantudinh commented on #2725
Trying it!
Thanks you

[2020-12-24 13:12] #2741 closed

[2020-12-24 13:16] #2725 closed

[2020-12-24 13:22] diegolmello commented on #2706
I have an S10 here and it works.

[2020-12-24 14:36] MOST2K2 commented on #2706
Do you have fcm enabled?

[2020-12-25 07:16] Bestoloch opened #2744 "Wrong username in push notifications"
### Description:
Get wrong usernames in push notifications

### Environment Information:
- Rocket.Chat Server Version: 3.9.0
- Rocket.Chat App Version: 4.12.1 - 4.13.0
- Device Name: OnePlus 8, OnePlus 8T
- OS Version: Android 11

### Steps to reproduce:
1. Go to private/open **group** chat
2. Send messages from different users
3. Get push notifications on your OnePlus

### Expected behavior:
I ca

[2020-12-25 15:51] rnsc opened #2745 "iOS upload fails on second image sent to a channel/DM"
### Description:

Not sure when this bug appeared, but I've noticed it after upgrading my server to 3.9.3
I can only upload one image with the iOS client and then it fails on the subsequent images uploads.
If I force quit the app, I can re-upload again, but only image, and then, subsequent uploads are left hanging.

### Environment Information:

- Rocket.Chat Server Version: 3.9.3
- Rocket.Chat Ap

[2020-12-26 16:05] KokosnussDEV commented on #1973
Upvoting this for implementation

[2020-12-26 22:52] pratyaksh123 opened #2746 "[FEATURE] Show Thumbnails/Preview for Uploaded Videos"
### Description:

Currently there is no thumbnail displayed for an uploaded video.

![WhatsApp Image 2020-12-27 at 4 17 52 AM](https://user-images.githubusercontent.com/55044774/103160409-c5271100-47fa-11eb-8b9b-fe03c5b9a299.jpeg)

### Steps to reproduce:

1. Upload a video

### Expected behavior:

Thumbnails should show up, like this

![WhatsApp Image 2020-12-27 at 4 16 24 AM](https://user-images

[2020-12-26 22:55] pratyaksh123 commented on #2746
I am working on this feature, will soon push a PR for this 🚀
Currently, the thumbnails correctly show up ( like that in the actual behavior image ) but I feel the load time can be significantly improved, working on that.

[2020-12-27 15:36] benndip commented on #2629
Hello I've just resolved the alignment issue now. Can I make a pull request for it?

[2020-12-29 08:32] ankar84 opened #2749 "[Bug][Jitsi] Sometimes Jitsi call application layer behave incorrect"
### Description:

First I saw it in early 4.12.0 version, but I can't reproduce it with screencast.
Now one of our users reproduced that bug with video demo.
Description of that bug - sometimes (more often in long calls, I think) Jitsi windows (or in proper work maybe layer) behave like it's not on top, so you tap in some place in Jitsi calls and RCRN windows appears. Looks like you taped through

[2020-12-29 10:36] MOST2K2 commented on #2706
Rocket Chat Push Gateway is working. My own FCM not :-(

[2020-12-29 12:12] huytx0909 opened #2750 "Task :app:mergeDexExperimentalFossRelease FAILED"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.9.1
- Rocket.Chat App Version: 4.13.0
- Device Name:
- OS Version: Linux Ubuntu 18.04

### Steps to reproduce:

1.
I checked out the `single-server` branch, followed the instructions here:
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#general-setup-1

2.
When I want to generate the app

[2020-12-29 19:08] adrianovieira opened #2751 "[iOS-12.x] Error uploading audio or video (invalid file type)"
### Description:

I am using an iPhone (iOS-12.5).
And I am trying to record a short video and/or an audio to send to any chat channel.

Although I do can send audio/video via RKC-electron destop app,
I always get an error message as an "_invalid file type_" when trying via iphone.

### Environment Information:

- Rocket.Chat Server Version: 3.3.0
- Rocket.Chat App Version: 4.13.0
- Device Name: i

[2020-12-30 08:56] toshanmugaraj opened #2752 "[Bug] Android: When device language in Arabic, and application language in English, side menu appears from right side, not readable"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.9.1
- Rocket.Chat App Version: 4.13.1
- Device Name: Galaxy A51
- OS Version: Android 10, One UI version 2

### Steps to reproduce:

1.  Change the device language settings to `Arabic`.
2.  Launch the application and the language settings to `English`
3.  Now click the `Hamburger` menu to open side menu.
4. Now the sid

[2020-12-30 10:09] didacroyo commented on #2721
Hi All, where can I learn more about the differences of these variants to understand why we need variants?
thanks!

[2020-12-31 17:13] pastgift commented on #2745
I have the same problem.
But uploading file by desktop app and web browser is OK.
This problem only appears on my phone (iPhone 12 Pro Max, 14.2.1)

[2020-12-31 22:46] granttoday opened #2753 "Notifications never registering"
### Description:

Push notifications don't register on whitelabel iOS. On first run, app asks for notification permission but doesn't notify server about deviceID and after digging around the app doesn't appear to register itself.

Do I need to import anything into xcode to get notifications working? I've created all of the certificates and uploaded them to my RC instance and added them to my keyc

[2021-01-02 04:48] ARKEOLOGIST opened #2754 "Refactor code to remove deprecated componentWillReceiveProps() lifecycle function"
### Description:

Multiple files in the project use the componentWillReceiveProps() lifecycle method which should be replaced.

### Additional context:

componentWillReceiveProps() is a legacy lifecycle method and has been deprecated according to the official React docs (https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops). It's better to replace it with componentWillUpd

[2021-01-02 05:44] yash-rajpal commented on #2754
I agree, we can also use getDerivedStateFromProps() along with componentWillUpdate() instead of componentWillReceiveProps(). Are you working on this? If not, I would love to work on it.

[2021-01-02 05:51] ARKEOLOGIST commented on #2754
@yash-rajpal I'll be working on this, but I would definitely love to collaborate with you for the code migration.

[2021-01-02 12:38] darius1810 commented on #2109
Hello @djorkaeffalexandre, is there something new ?

[2021-01-02 13:58] yash-rajpal commented on #2754
Sure, I am happy to collaborate. Can you ping me at https://open.rocket.chat/direct/yash_rajpal, so that we can talk this through.
Thanks.

[2021-01-02 22:03] bla55e commented on #2745
Same problem. Also, when I’m trying to share pictures straight from my photo roll and choose rocket chat, the next screen with contacts won’t appear. iPhone 11 Pro, iOS 14.3, the same problem was observed on 14.2. On iPhone 7 and iOS 14.1, no problems were observed.

Server version
2.4.14

I’m using a rocket for many years without any issues. Already tried to reinstall the app, also download the b

[2021-01-04 06:17] mobin1623 opened #2755 "Not able to generate signed APK : :app:mergeDexOfficialPlayRelease FAILED"
Getting below error while generating signed APK of version **4.13.0**

AGPBI: {"kind":"error","text":"Program type already present: com.reactnativecommunity.netinfo.AmazonFireDeviceConnectivityPoller$1","sources":[{}],"tool":"D8"}
com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
Learn how to resolve the issue at https://developer.android.com/studio/build/depe

[2021-01-04 07:54] toshanmugaraj commented on #2755
Duplicate issue #2721

[2021-01-04 07:55] toshanmugaraj commented on #2750
Duplicate issue #2721

[2021-01-04 12:17] diegolmello commented on #2745
Duplicated of #2733

[2021-01-04 12:17] #2745 closed

[2021-01-04 12:19] diegolmello commented on #2746
@pratyaksh123 Awesome!

[2021-01-04 12:21] #2750 closed

[2021-01-04 12:23] diegolmello commented on #2751
What's your file upload setting on admin?

[2021-01-04 12:25] diegolmello commented on #2753
Follow the docs https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps

[2021-01-04 12:25] #2753 closed

[2021-01-04 12:27] diegolmello commented on #2754
Thanks, guys. Just don't forget that `componentWillUpdate` is also deprecated.

[2021-01-04 12:36] adrianovieira commented on #2751
Hi!

[code]

[2021-01-04 12:39] diegolmello commented on #2751
Ok. Can you try leaving it blank just to test if it works?
![image](https://user-images.githubusercontent.com/804994/103536160-c4ccec80-4e70-11eb-80d0-69f066082718.png)

[2021-01-04 13:13] adrianovieira commented on #2751
Ok. I can for a short test!

But what if we need to define what kind files is allowed for upload?

[2021-01-04 13:19] zdumitru opened #2756 "Not showing users and statuses in direct messages between multiple users"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.10.0-rc.2
- Rocket.Chat App Version: 4.13.1.22127
- Device Name: Samsung S20
- OS Version: Android 11

### Steps to reproduce:

1. Log in to the app.
2. Create a conversation between multiple users
3. Click on the top conversations title
4. Click `Members` --> nothing is shown
5. Click `All` --> nothing is shown

![ima

[2021-01-04 13:34] #2693 closed

[2021-01-04 13:54] adrianovieira commented on #2751
It works when we try to send voice messages (via rocket app itself).

But it isn't work when we try to send a video (via rocket app -> "take a video") - longer than 15seconds

![IMG_8563 PNG](https://user-images.githubusercontent.com/5561794/103541003-74a65800-4e79-11eb-93a6-a2a83c7b3182.jpeg)

[2021-01-04 13:58] diegolmello commented on #2751
Oh, that might be a collateral effect of an already fixed issue, but not released.
I'm releasing 4.13.1 with it now.
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2738

Just as test/workaround, can you try closing the app and then send that video?

[2021-01-04 14:06] adrianovieira commented on #2751
I'm not sure if it is related to a multiple uploads!

I try many times in many ways to upload a video using that "take a video" feature (longer than 15s), but it isn't work.

[2021-01-04 14:34] adrianovieira commented on #2751
This is for your notes...

Just trying to upload only one file which was took by "app take a video" (around 18 seconds duration only), but it doesn't work.

![IMG_8565 PNG](https://user-images.githubusercontent.com/5561794/103544756-580d1e80-4e7f-11eb-885d-2a6dd24e09e3.jpeg)

*PS: that [**X**] button doesn't work either*

[2021-01-04 15:20] ARKEOLOGIST commented on #2754
@diegolmello Should I open a new issue for that or consider it to be a part of this only?

[2021-01-04 15:40] diegolmello commented on #2754
No, it's fine

[2021-01-04 21:41] skug67 commented on #2505
Seems to still be a problem in 4.13.  Definitely interferes w/making Rocket/Jitsi interoperable on mobile devices.

[2021-01-04 21:44] mondlicht-und-sterne opened #2757 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-04 22:16] mddvul22 opened #2758 "Post iframe auth leaves "X SSO" frame on mobile app"
### Description:

We have a RC server that is configured to make use of Rocket Chat's iframe authentication.  Everything is working when we use the browser.  But in the mobile app, we have a frame at the top that reads "X     SSO", that never goes away.

### Environment Information:

- Rocket.Chat Server Version: 3.8.4
- Rocket.Chat App Version: 4.13.0
- Device Name: One Plus 6T
- OS Version: Andr

[2021-01-05 00:06] nooblag opened #2759 "[Bug] Videos do not play on iOS devices"
### Description:
Videos do not play on iOS devices at all.

### Environment Information:

- Rocket.Chat Server Version: 3.9.3 (Snap)
- Rocket.Chat App Version: 4.13.0.22082
- Device Name: iPhone 6s
- OS Version: iOS 13.7

### Steps to reproduce:

1. Shoot video on phone and upload to Rocket Chat

### Expected behavior:
Video plays fine for self and other users

### Actual behavior:
Video does not

[2021-01-05 00:11] granttoday commented on #2753
To anyone else that runs into this issue, remote notifications _do not work_ on the iOS simulator.

[2021-01-05 04:02] BlindHenry opened #2760 "[IOS] app dialog for sharing files is blank"
### Description:

On IOS the app dialog for sharing files with contacts or channels is blank.

### Environment Information:

- Rocket.Chat Server Version: 3.9.4
- Rocket.Chat App Version: 4.13.0.22082
- Device Name: iPad Gen 7
- OS Version: 14.3

### Steps to reproduce:

1. go in any app, like photos or safari
2. press on share and select rocketchat
3. dialog is blank

### Expected behavior:

I'm

[2021-01-05 11:51] diegolmello commented on #2757
Noted. Thanks!

[2021-01-05 11:51] #2757 closed

[2021-01-05 11:57] diegolmello commented on #2760
Hey. I tested here and it worked. Can you share more info?
Maybe a video?

[2021-01-05 12:29] jangaraj opened #2761 "SSO login (SAML with optional mutual TLS) doesn't work in the Android app"
### Description:

SSO login doesn't work in the Android app.

### Environment Information:

- Rocket.Chat Server Version: 3.5.1
- Rocket.Chat App Version: 4.13
- Device Name: Xperia XZ1
- OS Version: Android 9

### Steps to reproduce:

Try to login with offered preconfigured IDP (SAML based SSO) - white screen with SSO title is displayed.

### Expected behavior:

IDP login screen (IDP html login p

[2021-01-05 12:32] zdumitru opened #2762 "Read channels on desktop appear to be unread in mobile app"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.9.3
- Rocket.Chat App Version: 4.13.0.22100
- Device Name: Samsung S20
- OS Version: Android 11

### Steps to reproduce:
Prerequisites - Be logged in at open.rocket.chat in the browser on computer and logged in on mobile app for the same server.

1. Open mobile app with unread channels on top (for me it was 4 in total)

[2021-01-05 12:44] faffeldt commented on #2761
This issue also appears on an OnePlus 5T with Android 10 for the same target Rocket.Chat Server which @jangaraj is trying to use. Some additional info is that the IDP only accepts client certificates which are issued by specific CAs. So it would be interesting to know what the HTTP Header `ssl-client-cert` looks like in case there is no specfic client certificate on the device. Is it not set, miss

[2021-01-05 12:59] BlindHenry commented on #2760
I have made a small screen capture for you, with the photo app trying to share a image.

https://user-images.githubusercontent.com/76985184/103648955-f53e8480-4f5d-11eb-8436-5093fc11c054.MOV

[2021-01-05 16:24] diegolmello commented on #2761
Thanks for opening, @jangaraj .
Can you reach me on https://open.rocket.chat/direct/diego.mello?
I need to test it on your server.

[2021-01-05 17:06] diegolmello commented on #2667
Is this still an issue?
We fixed a status issue on 4.13.0.

[2021-01-05 17:11] diegolmello commented on #2762
@zdumitru Can you try on 4.13.1.22189?
It just landed Google Play (waiting Apple review for iOS one).
I tried here and couldn't reproduce it.
Thanks!

[2021-01-05 17:14] diegolmello commented on #2756
@zdumitru You're right.
It's requiring a change on the backend.
Thanks.

[2021-01-05 17:17] diegolmello commented on #2666
The whole `Marked` md parser isn't implemented on mobile apps.
You might switch to `Original` (or contribute back if it's important to your company).
Thanks.

[2021-01-05 17:20] diegolmello commented on #2673
Hey, @ankar84 .
I'm not sure it's a fix, but a new patch with https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2763 just landed Google Play (iOS to be approved by Apple).
Can you test it?
Thanks!

[2021-01-05 17:24] zdumitru commented on #2762
@diegolmello Yes, looks fixed in the latest update that I just received - `4.13.1.22189`.

[2021-01-05 17:24] diegolmello commented on #2751
Just to isolate the issue, can you try that on https://open.rocket.chat?
I just sent a video with 1 min and it worked.
Thanks!

[2021-01-05 17:25] diegolmello commented on #2762
Awesome!
Let me know if it happens again.
We can reopen this issue if needed.
Thank you.

[2021-01-05 17:27] #2755 closed

[2021-01-05 17:30] diegolmello commented on #2758
Can you check the docs? https://docs.rocket.chat/guides/developer/iframe-integration/authentication#iframe-url
We had a couple of similar issues in the past (if you search from `iframe`) and all of them were configuration mistakes (even if other clients were working).
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2342#issuecomment-664472432

Thanks!

[2021-01-05 17:31] diegolmello commented on #2759
What happens when you try to play the video?
Does the app crashes? Does it hang?
Can you try on https://open.rocket.chat?

[2021-01-05 21:26] AmatorPhasma commented on #2733
Can I ask you carefully if there is an ETA for this Patch?

[2021-01-06 04:34] nooblag commented on #2759
No crashes as far as I know (which is little). But the app seems to hang if you tap the video to play. This is what happens:

https://user-images.githubusercontent.com/1122344/103729273-31dcaf80-5034-11eb-8254-176b6570a24a.mp4

I tried same on open.rocket.chat but there doesn't seem to be an issue there.

https://user-images.githubusercontent.com/1122344/103729410-7e27ef80-5034-11eb-8d7b-7d28dd3c9

[2021-01-06 08:42] Boby commented on #2727
@C1ean can you let me which bugs as I am having the same issues at the moment

[2021-01-06 10:10] jangaraj commented on #2761
It looks like there is no IDP request if client certs are enabled on the IDP, so only blank SSO page is generated for the Android app user. It can be tested with `openssl s_client -connect <idp hostname:port>` - there will be `Acceptable client certificate CA names` if client certs are enabled.

[2021-01-06 11:59] diegolmello commented on #2733
@AmatorPhasma It's live on Google Play already.
It's waiting for review on App Store.

[2021-01-06 13:47] diegolmello commented on #2759
It could be an issue with your file storage service taking too long to load the file.
We've been using S3 on open.
If you let the app load the video for 5~10 minutes, does it load?
Can you debug the app and make sure the URL is properly set on your server?

[2021-01-06 17:25] ankar84 commented on #2673
Yeah, @diegolmello
Looks like #2763 solved that issue and chat list in RCRN experimental application version 4.13.1.22186 without empty chats from far past.
Thanks for your great job, Diego!

[2021-01-06 17:25] #2673 closed

[2021-01-06 18:18] jacotec commented on #2733
@diegolmello Ahm, did I overlook something? I'm also waiting for the 4.13.1 as there are a couple of issues fixed to build my 4.13 app version, but I don't see anything in the relases here. If it's already waiting for review why can't I see the release here?

[2021-01-06 18:21] diegolmello commented on #2733
It's because Apple's review is a process bottleneck.
We have to wait for their approval before starting other tasks (GH release, merge master, docs, etc), because Apple can reject us and all work is going to be lost.

[2021-01-06 18:35] jacotec commented on #2733
OK, I did not know that you'll merge after the review ;-) Good point! (And agree regarding the bottleneck)

[2021-01-06 22:37] zdumitru commented on #2762
@diegolmello It started hapenning again, even though nothing was changed.

[2021-01-06 22:49] BlindHenry commented on #2760
Same on the last 4.13.1 version.

https://user-images.githubusercontent.com/76985184/103827576-9e2dd200-5079-11eb-8385-e5099f54cd28.MP4

[2021-01-06 23:41] nooblag commented on #2759
I'm not sure it's a file system speed issue if the video loads fine on Desktop and Web versions of the app? But I will test your suggestions and get back to you.

As to the second part, how do I "debug the app"?

Also, for some more context, this issue has appeared for me on two separate RC installs that both use Snap on Ubuntu 20. Could there be a problem there?

[2021-01-07 09:28] nooblag commented on #2759
Here is another run, leaving it sit for over 8 minutes. It does not play.

https://user-images.githubusercontent.com/1122344/103875645-cc1d2000-5126-11eb-9f84-8ef0366115ae.mp4

[2021-01-07 11:36] TarunTomar122 commented on #1251
@diegolmello  hey, Is this issue still active? I want to help :)

[2021-01-07 11:57] diegolmello commented on #2762
Ok, let's reopen.
This might fix it https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2765
I'll try to release it as 4.14.0 on Experimental later today.

[2021-01-07 12:02] diegolmello commented on #2760
@BlindHenry I'm going to fix it ASAP.
You said it happens from Safari.
A simple URL link raises the same issue?

[2021-01-07 12:05] diegolmello commented on #2759
Ok.
If it works on open server, then we need to check what might be happening on your server.
Can you create a test user there and send me on https://open.rocket.chat/direct/diego.mello?
Thanks.

[2021-01-07 12:08] diegolmello commented on #1251
We're going to be working on it with a different approach soon.

[2021-01-07 12:08] #1251 closed

[2021-01-07 12:17] BlindHenry commented on #2760
@diegolmello Yes same on Safari with a simple URL (As an example I tried to share this URL: https://blog.fefe.de)

[2021-01-07 12:23] BlindHenry commented on #2760
Here as a video example

https://user-images.githubusercontent.com/76985184/103892223-81ca7d80-50eb-11eb-9e33-fc239ea72f43.MP4

[2021-01-07 12:26] diegolmello commented on #2760
Do you have any other device to try it out and check if it works?

[2021-01-07 12:39] BlindHenry commented on #2760
@diegolmello Yes, an iPhone X with iOS 14.2
and rocket app version 4.12.0 that works, after an update to 4.13.1 it dosen't work and gives a blank dialog.

[2021-01-07 12:57] diegolmello commented on #2760
I've been trying my best to reproduce here, but it works all the time.
Can you try uninstalling and installing your app completely?

[2021-01-07 13:08] deepLifer commented on #2760
Hello, on my Iphone XR this bug also presents (((
RC Version - 4.13.1.22188

[2021-01-07 13:25] BlindHenry commented on #2760
Sorry this dosen‘t helped.
I already Fried this, this Problem is also präsent after a complete factory wipe, (only installieren Rocket from store Nottingham else)

[2021-01-07 13:26] adrianovieira commented on #2751
Hey!
RocketChat App just updated to 4.13.1 on my ios phone.

And now it works **if and only if** we set *"file upload->Accepted Media Types"* as blank.

So, are there anything which we can do on our side to fix it?

Are there a misconfiguration when we use these bellow data on that field?

[2021-01-07 13:35] diegolmello commented on #2751
Awesome!
I'm assigning this issue as a bug, because it _should_ work apparently.
Maybe we're missing something like it doesn't support `\n` on the config, etc.
If you leave only `audio/*` on the setting. Does it work?
What about `audio/*,image/*`?
It's probably some misconfiguration like that.

[2021-01-07 14:29] BlindHenry commented on #2760
A friend tested with iPad Gen8 iOS 14.0 - RocketChat from store (never used before)

Without login to a rocket workspace the share dialog show the message:
![Bildschirm01](https://user-images.githubusercontent.com/76985184/103903912-d5919280-50fc-11eb-9cc0-22776ed57da6.png)
In english something like: No rocket server, you need at least once.

After joining open.rocket.chat, same as my device: the

[2021-01-07 14:31] diegolmello commented on #2760
@gerzonc was able to reproduce and he's taking a look on it already.
Thanks.

[2021-01-07 17:34] diegolmello commented on #2761
Duplicated of #2452

[2021-01-07 17:34] #2761 closed

[2021-01-07 17:48] jangaraj commented on #2452
It looks like from https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2624 it is even worse. I'm not able to reach my IDP (Keycloak - SAML with mutual TLS) even for login/password auth.

Issue can be reproduced with SAML configuration pointed to `https://client.badssl.com/`:
![image](https://user-images.githubusercontent.com/1182932/103926245-910ff200-5110-11eb-94bc-8e18ee49fb36.png)

[2021-01-07 17:58] diegolmello commented on #2760
Ok, found it.
Memory is very limited for sharing files (app extension).
120 MB on some devices.
We'll have to analyse it.

[2021-01-07 21:53] jangaraj opened #2776 "Can't install certificate"
### Description:

I would like to install client certificate from https://badssl.com/download/

### Environment Information:

- Rocket.Chat Server Version: N/A
- Rocket.Chat App Version: 4.13.22189
- Device Name: Sony Xperia
- OS Version: Android 8

### Steps to reproduce:

Try to install certificate:
<img src="https://user-images.githubusercontent.com/1182932/103947905-c2001f00-5130-11eb-9fd6-572

[2021-01-07 22:15] jangaraj commented on #2452
I believe this patch is a problem:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/eeafa7fe44f7fa98adb10d6ab75d2e15289fce6e/patches/react-native-webview%2B10.3.2.patch#L63-L97

There is no `request.proceed`, when cert was not selected -> IDP login form is not loaded, when mutual TLS is offered by IDP on the TCP level -> blank login screen - empty AuthenticationWebView:

<img src="https:

[2021-01-07 23:36] adrianovieira commented on #2751
On our rocket chat server, this settings is an in line entry, e.g.: <details>
[code]
</details>

I described it like this just for better reading

[2021-01-08 02:09] nooblag commented on #2759
Sure, thanks.

[2021-01-08 18:09] jacotec opened #2779 "iPhone goes into sleep during voice message recording"
### Description:

During the recording of a voice message the IOS device seems not always be forced to stay "awake". So it happens that the screen dims during the recording, if you don't pay attention to tap somewhere immediately it goes completely dark and in this case the message which was recorded so far gets lost.

### Environment Information:

- Rocket.Chat Server Version: 3.9.4
- Rocket.Chat

[2021-01-08 18:18] yash-rajpal commented on #2779
@diegolmello can we use expo-keep-awake package for this?

If so I would be happy to work on it. Thanks.

[2021-01-08 18:23] yash-rajpal commented on #2779
I see, we are already using expo-keep-awake package, I will be working on this.

Thanks.

[2021-01-08 18:33] diegolmello commented on #2779
@yash-rajpal Awesome!
Keep Awake is just a temp workaround and it should work, but we're going to remove it soon.
The idea for the next months is to make it more similar to Whatsapp/Telegram and their hold to record approach.
We'll also implement gestures and more stuff to it as well.
If you feel like you can do the hold to record now, go for it.
Thanks.

[2021-01-08 18:34] jacotec commented on #2779
@yash-rajpal Highly appreciated! Thanks!

[2021-01-08 18:39] jacotec commented on #2779
@diegolmello Nice outlook to what will come. That sounds awesome! Voice messaging is a killer feature in many deployments. Hopefully my #2586 will be fixed at some point as well.

[2021-01-08 18:56] yash-rajpal commented on #2779
I would surely give it a try.
@diegolmello  @jacotec Thanks.

[2021-01-08 21:58] jacotec opened #2780 "Jitsi Chat is not available on IOS in Single-Server"
### Description:

During a Jitsi Video call, in the Android app I have the chat symbol left from the microphone button. I can join the Jitsi chat with this button and participate.

In the IOS version this symbol ist just not there and I have no ability to join the Jitsi chat during a video call.

### Environment Information:

- Rocket.Chat Server Version: 3.9.4
- Rocket.Chat App Version: 4.13.1
-

[2021-01-10 06:28] ankar84 commented on #2505
@djorkaeffalexandre @diegolmello hey guys!
That issue looks like easy to fix but no one from community took it. So, please fix it by yourself.
Thanks!

[2021-01-10 16:23] bradroid commented on #1332
@djorkaeffalexandre I have followed whitelabeling guide and have app groups setup. Does that mean that I don't need to modify `app/lib/database/index.js`?

I'm getting this error:

`Fatal error: Failed to open the database. unable to open database file: file WatermelonDB/Database.swift, line 19`

[2021-01-10 19:29] Habbie commented on #2744
Also observed with:

    RocketChat client 4.13.0.22100
    Server Version 3.9.1
    Nokia 6.1 phone (Model TA-1043, Hardware version 5.0)
    Android 10
    security patch level 1 December 2020
    Google Play system update 2020-10-01

(messages were in a thread)

[2021-01-11 07:18] ankar84 commented on #2780
Not confirm for iOS RCRN application version 4.13.1.22188
Chat button exist and works fine

[2021-01-11 08:17] niiiixd opened #2781 "[Bug] "Chat listed ordered by first massage instead of last massage" on android"
### Description:

Android application shows the date of the first chat on the chat page instead of the last chat date. This is while the date on the web and Ubuntu show correctly. Also, if we open the chat, the date will be displayed correctly.

#### Additional information:

- I already this problem by using version 4.12.1 android app on my phone
- This happen for all android user use version 4.12

[2021-01-11 08:40] jacotec commented on #2780
OK ... double checked and it's there in the official app but not in my whitelabeled version built from the official 4.13.1 release.

So the issue might be just in the single-server branch.

[2021-01-11 13:14] nxa127 commented on #1332
same problem here

@djorkaeffalexandre i having same isssue, can you show me example code for this issue ?

[2021-01-11 13:20] diegolmello commented on #2780
@jacotec clear all single-server build cache and try again.
Remove `ios/build`, `ios/Pods` and `node_modules`.

[2021-01-11 13:23] diegolmello commented on #2781
Thanks for reporting.
Do you have a reproducible example?

[2021-01-11 13:43] jacotec commented on #2780
@diegolmello The

[code]

I needed to build Android also fixed this issue. I'll close the issue (but will open a new one I've discovered in the Jitsi chat ;-) ).

[2021-01-11 13:43] #2780 closed

[2021-01-11 14:11] jacotec opened #2782 "Jitsi Chat - Sending with "paper plane" icon in the message bar is not working properly"
### Description:

When you use the Jitsi Chat in a video call, there are two options to send what you have typed:
- The blue "Send" key in the keyboard
- The "paper plane" symbol right from the message entry box

The keyboard button usually works, but when you press the "paper plane" icon to send something, in most cases the complete chat slips behind the keyboard, so that the lower half of the co

[2021-01-11 14:40] diegolmello commented on #2782
That's related to the Jitsi repo.

[2021-01-11 14:40] #2782 closed

[2021-01-11 16:12] C1ean commented on #2533
Very strange, but I also had a similar problem on 4.13.1
In this case, on the emulator I run like this:
[code]
it is not reproduced.

On the device, after creating the archive and distribute ipa - the problem still exists, and after installing the application, the login to the workspace does not work - the button does not respond to any input data.
I think this is an build problem, it does not dep

[2021-01-11 16:54] ArchdukeTim opened #2784 "[IMPROVEMENT] 'New Message' text should be greyed out"
### Description:

In the rocket chat iOS app, the 'New Message' placeholder text is the same color as regular text, making it hard to distinguish as a placeholder.  The text should be greyed out, similar to the desktop app.

### Environment Information:

- Rocket.Chat Server Version: 3.9.4
- Rocket.Chat App Version: 3.12.1
- Device Name: iPhone 11
- OS Version: iOS 14

### Expected behavior:

Plac

[2021-01-11 19:30] C1ean commented on #2533
Another very strange is that when bulid app Debug on the device, there is no problem.
If I get Release option while run, the problem is reproduced immediately.
What is the fundamental difference in the build of these two options?

[2021-01-11 19:50] bradroid commented on #1332
I fixed the issue on my side. The problem for me was that my App Group Identifier definition in "Signing & Capabilities" got out of sync from the one defined in `Info.plist`. Make sure both are using the same value.

[2021-01-12 05:10] nxa127 commented on #1332
@bradroid thank for your help

[2021-01-12 08:01] emikolajczak opened #2785 "[Security] Sensitive data stored in unencrypted database"
### Description:

We have own white label app version based on `single-server` branch. After our security tests was noticed that Android application uses database to store messages inside server-name-experimental.db.db and this file is unencrypted and sensitive data can be accessed. Did you consider to encrypt this database?

### Environment Information:

- Rocket.Chat Server Version: 3.6.3
- Rock

[2021-01-12 11:30] diegolmello commented on #2785
It's a work in progress on the database lib https://github.com/Nozbe/WatermelonDB/pull/907

[2021-01-12 11:33] emikolajczak commented on #2785
Hi, thanks for the reply. Do you plan to implement encryption in rocket app database after implementation in database engine?

[2021-01-12 11:34] diegolmello commented on #2785
Sure.
It's implemented by default on iOS already.

[2021-01-12 15:21] liushmh opened #2787 "app exit when you start direct messaging under E2E model"
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version: 4.13.xx
- Device Name: android / iphone
- OS Version: android 10 / ios 13.7

### Steps to reproduce:

1. Turn on E2E at server administration
2. Change your E2E password
2. Go to NewMessageView
3. find a new user to start a new conversation
4. input some content and send

### Expected behavior:

[2021-01-12 16:14] mddvul22 commented on #2758
Thanks @diegolmello We have now looked over the docs multiple times.  Here is what we are observing: on the mobile app, a logged-in user sees the mobile browser version inside of a "SSO frame", as in the above screenshot. If the user selects "Logout", it immediately calls the URL set in in Accounts > IFrame > API URL, correctly receives a login token, and re-displays the browser homepage, in mobil

[2021-01-12 21:03] diegolmello commented on #2760
@BlindHenry Can you [join TestFlight](https://testflight.apple.com/join/7I3dLCNT), download the latest version and try again?
It contains #2788.
It's the version 4.13.1.22299.

[2021-01-12 21:33] liushmh commented on #2787
I found the reason
when you do change E2E password, it calls

[code]

the publicKey is a pure string, not a json object,
after EJSON.stringify, it will add some escape char, such as " and \

server gets the E2E public key string and save it into the database,
the E2E public key in db will be a string with lots of " and \

when you create a new direct message, the app will call function encryptRoom

[2021-01-12 21:45] diegolmello commented on #2787
@liushmh Can you open a PR?

[2021-01-12 23:19] BlindHenry commented on #2760
@diegolmello
Tested with iPad Gen 7 iOS 14.3 and it worked.

[2021-01-13 11:44] diegolmello commented on #2760
@BlindHenry Ok. I'll add it on the next version then.
Beta is planned to be released next Monday and public release on 25th.
Thanks.

[2021-01-13 20:22] #2760 closed

[2021-01-13 21:45] C1ean commented on #2533
Any news? @neurolabs  did you solve this issue?

[2021-01-14 01:33] AmatorPhasma opened #2796 "App doesn't respect jitsi server settings: startWithAudioMuted and/or startWithVideoMuted"
### Description:

App doesn't respect jitsi server settings: startWithAudioMuted and/or startWithVideoMuted

### Environment Information:

- Rocket.Chat Server Version: 3.9.4
- Rocket.Chat App Version: 4.13.1.22188 (iOS) / 4.13.1.22189 (Android)
- Device Name: iPad (Gen8) / Android (Emulator)
- OS Version: iOS 14.3 / Android 7,8,9,10

### Steps to reproduce:

1. Setup Jitsi with:
[code]
2. Start j

[2021-01-14 04:30] ankar84 commented on #2796
Could be that JitsiSDK just not support that settings.
You better ask about that in Jitsi repo first.

[2021-01-14 07:30] neurolabs commented on #2533
@C1ean No, sorry, I am currently too busy to invest time. The issue still persists for me, though.

[2021-01-14 08:16] adityaofficial10 commented on #2776
Hey!
Can I work on this issue?

[2021-01-14 08:33] ankar84 commented on #2699
Just tested that issue with new updated version of Jitsi https://github.com/jitsi/jitsi-meet-release-notes/blob/master/CHANGELOG-WEB.md#205390-21-01-12 and it's look pretty good.
@AmatorPhasma can you try it?

[2021-01-14 19:16] im-adithya commented on #2752
I didn't face this problem in my phone
Device: Nokia 6.1 Plus
OS: Android 10
App version: 4.13.1

[2021-01-14 21:40] C1ean commented on #2533
@neurolabs  thanks, I hope @diegolmello maybe clears something up ..

[2021-01-15 11:38] diegolmello commented on #2533
@C1ean This issue is not related to whitelabel.
The author of the issue can join his server, but can't login using the app for the store.
Open a new issue to get help.
Thanks.

[2021-01-15 15:07] nooblag commented on #2759
Issue persists in 3.10.3.

[2021-01-15 16:06] C1ean opened #2803 "Rocket chat whitelabel - cannot login to workspace"
### Description:
Problem only for whitelabel build (from develop branch), app from appstore is work correct

The login to the workspace does not work - the button does not respond to any input data.
https://user-images.githubusercontent.com/3279295/104205920-01d04a80-5440-11eb-9678-76f142f48c12.mp4

After building the last build of Rocket Chat repo for ios (4.13.1)
and creating the archive and dis

[2021-01-15 23:31] jeyemwey opened #2806 "Bug on Android: Notification only shows one name"
### Description:

This issue is in regards to the grouped notification that you get from Android if someone wrote in a channel that you monitor.

![Screenshot_20210115-231320~2](https://user-images.githubusercontent.com/2796271/104785346-91e8f980-578a-11eb-90f7-439648754d85.png)

This conversation had two people, but only one of the authors was attributed correctly. Also, the avatar image only sho

[2021-01-15 23:59] playing771 commented on #2803
I had similar problem in IOS (4.13.1 single-server branch).

After entering any valid credentials and pressing login button i cant proceed further to the next screen.

After debugging a bit i noticed catched error "key does not present".
In my case the problem was in UserPreferences storage and setStringAsync method.

removing line ".withEncryption()" solved my issue...

[2021-01-16 17:07] C1ean commented on #2803
Yes, it's very strange, but it helped me too...
remove .withEncryption() from userPreference.js

@diegolmello what do you think about this?

[2021-01-16 17:30] b90g commented on #2703
Here i am with iOS 4.13.1.

TOTP + SAML still sending me back to SAML. For a brief moment the OTP field was displayed.

Want me to provide a video or so?

[2021-01-17 17:48] pinpolygons opened #2807 "How can I get the message when app run background mode on IOS?"
I try to using the react-native-firebase/messaging to receive notification. But when I run app in background mode I just receive the notification and I can't receive the message. Everything work fine on Android.

[2021-01-18 05:26] ankar84 commented on #2806
I definitely saw similar issue on Android device with version 4.12.1
There was one push notification grouped 3 different messages of 2 different users.
All 3 messages was named by one person (his message was last in that group)
But all users have their own avatars.
So - only names was wrong.

[2021-01-18 05:33] ankar84 commented on #1580
Hi, @diegolmello
Any plans to release that feature in near future?
Thanks!

[2021-01-18 05:36] ankar84 commented on #2393
Version 4.13.1 on a server version 3.7.1 still have that bug, so I reopen that issue.
@diegolmello please contact me at open to discuss reproduce opportunities.
Thanks!

[2021-01-18 08:58] bradroid commented on #2735
@diegolmello Hi, I have the same issue as in screenshot, but with my whiteleabeled app. My issue started occurring after I incorporated #2734 fix into my app.
The issue is that I cannot install my app from Play Store if Rocket.Chat is installed on the same device. This is because they have the same `sharedUserId` declared in the Manifest, so I'm getting:
`The application could not be installed: IN

[2021-01-18 10:58] jillemash commented on #2781
Hi,

I subscribed to this issue because I'm also seeing this for a while.
As for the reproduction steps, I don't know if it will work, but I guess you could try:
( - use fresh server/client, new account/contact to interact with)
- ask a contact to send you some messages.
- wait for a couple of days
- ask the contact to send a new message
- look at the messages in general "chat" view, ordered by Ac

[2021-01-18 13:24] niiiixd commented on #2781
![LastVer](https://user-images.githubusercontent.com/10945984/104920823-a6590c00-59ad-11eb-907e-206da86d50c9.jpeg)

This is the last version of android app.

![Rochat-12](https://user-images.githubusercontent.com/10945984/104920879-bc66cc80-59ad-11eb-8e49-fc5dc8393409.jpeg)

and the second photo is 4.12.1 android app

[2021-01-18 13:44] gerzonc commented on #2806
This is a duplicate issue (See #2744). I'm closing it.

[2021-01-18 13:44] #2806 closed

[2021-01-18 13:57] gerzonc commented on #2744
I'll be working with this.

[2021-01-18 14:53] diegolmello commented on #2703
@b90g Yes, please.

[2021-01-18 14:54] diegolmello commented on #2807
We don't use firebase for notifications on iOS

[2021-01-18 14:54] #2807 closed

[2021-01-18 14:58] diegolmello commented on #2735
`sharedUserId` key was used by the native Android app and couldn't be removed on the migration to this repo, because it's how Google Play works.
They require a complete uninstall when this key conflicts.

What might be happening to your app is that you uninstalled and installed your app when the issue was active, so the current `sharedUserId` might be null.
When you added the fix and released to G

[2021-01-18 15:00] diegolmello commented on #2781
Hi.
What's `last version` for you?
We have 4.14.0 on Experimental app with a couple of fixes.
Can you try there?
Thanks.

[2021-01-18 16:14] rajkumarbhaji commented on #411
@diegolmello We have configured Firebase Server keys in RocketChat admin. And we downloaded Rocketchat REactNative code and built it. Now the background messages are working in Android, but on iOS it is not working. Do we have to follow any other stops.
Note: As per the documents, we have configured all the APNs settings, etc... for the preliminary test, we are able to push the messages from the F

[2021-01-18 17:47] pratyaksh123 opened #2810 "Make Jest reporting cleaner"
### Description:

Jest prints all console messages, whether from our own code, third-party framework code, or the test runner itself, so It's easy to lose actually important warnings among the noise.

We can use [jest-clean-console-reporter](https://github.com/jevakallio/jest-clean-console-reporter) , it collects all console messages written by the test process and allows you to group them by know

[2021-01-18 18:02] jeyemwey commented on #2806
Yes, thanks for noticing!

[2021-01-18 18:03] diegolmello commented on #2803
Maybe updating react-native-mmkv-storage fixes it.
Reference:
- https://github.com/ammarahm-ed/react-native-mmkv-storage/issues/31#issuecomment-678605383
- https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/ios/Podfile.lock#L187

Can you guys test if it's the case?
We don't want to disable encryption for user credentials and we'd appreciate PRs.
Thanks!

[2021-01-18 18:20] michaltrmac commented on #2692
Screenshost from my iPhone SE
iOS: 14.1
![93B0F004-B07C-4F8C-8E39-E022C0E19B00](https://user-images.githubusercontent.com/404415/104950939-e32efe00-59c1-11eb-8218-1b61df1a6cf4.jpeg)

App and server version:
![A5336B31-BBF1-45C3-A550-7A33ECB5903B](https://user-images.githubusercontent.com/404415/104950958-e75b1b80-59c1-11eb-97e8-c206549b780d.jpeg)

[2021-01-18 19:10] diegolmello commented on #2692
@michaltrmac you have an updated room with `08/13/2020`, so the date format is `MM/DD/YYYY` and the order sorting by desc activity is correct.

[2021-01-18 19:53] niiiixd commented on #2781
I can't find 4.14.0  and the last version in google play is 4.13.1.22186

[2021-01-18 20:10] diegolmello commented on #2781
https://github.com/RocketChat/Rocket.Chat.ReactNative#download

[2021-01-18 21:39] #1347 closed

[2021-01-18 21:40] #1343 closed

[2021-01-18 21:40] #1286 closed

[2021-01-18 21:42] #1068 closed

[2021-01-18 21:42] #1119 closed

[2021-01-18 21:47] diegolmello commented on #1191
Is this still a thing?

[2021-01-18 21:59] #1033 closed

[2021-01-18 21:59] #1158 closed

[2021-01-18 22:00] #764 closed

[2021-01-18 22:24] LeeThompson commented on #1347
Why is this closed?

[2021-01-18 23:42] michaltrmac commented on #2692
@diegolmello So I probably misunderstand the sort by activity option. In previous versions, any channel activity, including a new message, was taken as a change. Now the new message does not update the activity of the channel.

[2021-01-19 02:26] ankar84 commented on #2744
I definitely saw similar issue on Android device with version 4.12.1
There was one push notification grouped 3 different messages of 2 different users.
All 3 messages was named by one person (his message was last in that group)
But all users have their own avatars.
So - only names was wrong.

[2021-01-19 07:23] b90g commented on #2703
https://user-images.githubusercontent.com/63392812/105000872-35f2cf00-5a2f-11eb-8fc8-280856934834.mp4

The first video shows SAML SSO with 2FA activated. I only press the yellow sign in button once  and after rocketchat is for a while at the login screen i press the pink login button again which shows  that SAML recognized me from my earlier login attempt.

inbetween the first and the second video

[2021-01-19 07:41] rasos commented on #1191
Passed our tests we did last summer and no more complaints from users. Closing.

[2021-01-19 07:41] #1191 closed

[2021-01-19 08:41] ankar84 commented on #2129
Users ask for it in DMs a lot.

[2021-01-19 11:03] niiiixd commented on #2781
4.14.0 on Experimental app have the same problem as 4.13.1.22186

[2021-01-19 11:20] jacalben commented on #2781
Same problem here with version 4.13.1.22189

[2021-01-19 12:31] akoselek273 commented on #2781
iOS: 14.3
App version: 4.14.0.22470 (installed by TestFlight)
Server version: 3.3.0
Same problem

[2021-01-19 12:42] diegolmello commented on #1347
We have no plans on supporting insecure servers.
There're a couple of tools to make your server secure (or at least pass this rule) like https://ngrok.com/.
If you want to allow that for your server, [follow our whitelabel docs](https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps).

[2021-01-19 12:44] diegolmello commented on #2692
@michaltrmac Ok, maybe that's because you're using a really old version of the server.

[2021-01-19 12:46] zdumitru commented on #2762
@diegolmello This also happens the other way around. Just read all the chats on mobile (everything is read and not bold) and then opened web version in browser - three unread channels.

Let me know if you need screenshots, reproduction steps or anything else to fix it.

[2021-01-19 12:48] diegolmello commented on #2762
@zdumitru Interesting. Please, send us some screenshots.

[2021-01-19 12:54] diegolmello commented on #2703
Thanks.
I have a few guesses and we'll take a look.

That's expected. When you login via any 3rd party login (OAuth, SSO), the webview keeps you connected in the same session.
When you logout, the app will ask you if you want to clear your cookies, so you'll be able to login on another SSO session next time.

[2021-01-19 13:01] diegolmello commented on #2781
Ok.
Can someone send me a reproducible example?
On https://open.rocket.chat, if possible.
Thanks.

[2021-01-19 13:02] zdumitru commented on #2762
@diegolmello
1. All chats are marked as read in the RC app - version 4.14.0.22464. No bold channels or PMs (unread are on top). To confirm that, refreshed the view by swiping finger from top to bottom on the screen.
![Screenshot_20210119-135135_RocketChat Experimental](https://user-images.githubusercontent.com/11751017/105037593-7f0e4780-5a5e-11eb-8db0-d6f173ea0d0f.jpg)

2.  Opened open.rocket.cha

[2021-01-19 13:03] diegolmello commented on #2781
Also, have you tried Settings > Clear local server cache?
It refreshes the sync between mobile and server.

[2021-01-19 13:12] diegolmello commented on #2762
@zdumitru Cool, but that doesn't exclude it from still being an issue on the mobile app, as we can't see any of the unread channels on the mobile app.

- Can you scroll to #dev channel on mobile app and check if it's unread?
- Can you tap `Settings > Clear local server cache` tell me what happens?

[2021-01-19 13:16] diegolmello commented on #2810
@pratyaksh123 That would be awesome to have!
Can you work on it?

[2021-01-19 13:31] zdumitru commented on #2762
@diegolmello
* dev channel on mobile is read. This is what I saw when I opened it.
![Screenshot_20210119-142815_RocketChat Experimental](https://user-images.githubusercontent.com/11751017/105041054-d44c5800-5a62-11eb-9f32-d21f187f0c44.jpg)

* When I cleared local server cache it still showed #dev and all other channels read. So nothing changed here.

[2021-01-19 13:33] diegolmello commented on #2762
Ok.
Let me know if you're seeing it often or if you manage to get a reproducible example.
Thanks.

[2021-01-19 14:10] adityarajsinghvi commented on #2784
@diegolmello is this issue resolved or can i take it?

[2021-01-19 14:13] adityarajsinghvi commented on #2779
@diegolmello can i give it a try? If it is not been addressed?

[2021-01-19 15:17] jacotec commented on #2779
@adityarajsinghvi Not yet, but @yash-rajpal wants to work on it. I've had a chat with him a few days ago, not sure how far he proceeded. Maybe Yash can comment?

I'm happy to test as well with my Whitelabel App as soon as a PR is here. I've got tons of complaints about this. Would be nice to have it in the next release which is scheduled for 25th as far as I've read.

[2021-01-19 17:25] yash-rajpal commented on #2779
@jacotec I am on it. maybe half way there, not able to give much time to it as having exams right now.
Would raise a PR as soon as I get time.
Thanks.

[2021-01-19 17:39] pratyaksh123 commented on #2810
Yeah sure, but can you tell me which warnings or errors should we group?
I see a lot of `PropTypes` and `react-test-renderer` warnings. I'm not sure which warnings or errors are redundant.

[2021-01-19 17:42] adityarajsinghvi commented on #2692
Is this issue still open and can @diegolmello tell me what is the exact requirement in this issue?

[2021-01-19 20:55] pratyaksh123 opened #2811 "Improve Room scroll UX on iOS"
### Description:
This is a small thing I noticed on iOS while scrolling user often clicks the `<Message/>` component which uses the `Touchable` component from the library [react-native-platform-touchable](https://github.com/rnc-archive/react-native-platform-touchable).
On iOS, the behavior is similar to using a `TouchableOpacity` which animates this component to a default low opacity, which IMO is

[2021-01-19 21:04] pratyaksh123 opened #2812 "Use in-App-Reviews API"
### Description:
The Google Play In-App Review API, App store rating API lets you prompt users to submit Play Store or App store ratings and reviews without the inconvenience of leaving your app or game. This is a great API that can help apps improving app ratings !

![image](https://user-images.githubusercontent.com/55044774/105092648-81f15280-5ac7-11eb-881b-448f0083e512.png)

![image](https://us

[2021-01-20 01:26] rajkumarbhaji opened #2814 "in iOS devices, Able to receive Firebase direct notifications but NOT able to receive rocketChat messages when app is in background mode."
I pulled latest release 4.13.1 and made all the settings related to PushNotifications and Firebase as below documentation.
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps

Now the problem is: in iOS devices, We are not able to receive the Chat messages when the application is NOT in foreground / in Background.
However, when we push some messages directly from Fireba

[2021-01-20 02:35] StefanGan opened #2815 "When "View Outside Room" permission had change to false, the auto complete mention was not displayed on mobile (working on desktop)"
### Description:

Mention autocomplete which allows the user to see a list of users in the current channel after typing @... does not pop up the users list on mobile devices, it works fine for the same user on desktop app / native web browser. (When "View Outside Room" permission is False.)

### Steps to reproduce:

1. Verify your user which does not have "View Outside Room" permission.
2. Join a

[2021-01-20 03:40] ankar84 commented on #2129
Hi, @diegolmello
[Here](https://github.com/jitsi/jitsi-meet/issues/8436#issuecomment-762825745) @saghul answered:

Can that feature be implemented by this issue? Or I need to make another issue?
Thanks!

[2021-01-20 04:54] ankar84 commented on #2393
still an issue in 4.14.0

[2021-01-20 09:13] JakobZeller commented on #2814
I got the same or at least a similar issu. I configured the app according to the documentation but push notifications for iOS don't seem to work. Android works fine but iOS won't show any push notification, neither from chatting nor from Firebase console.

The in-app "notifications" are working on android and iOS.

[2021-01-20 11:31] raghav-khunger opened #2816 "npm ERR! ERESOLVE unable to resolve dependency tree"
### Description:
Getting the following error while running npm install:

[code]

### Environment Information:

- Rocket.Chat Source:  4.13.1 source code from master branch
- OS Version: macOS Big Sur, Version 11.1
- Machine: MacBook Air (Retina, 13-inch, 2020)
- Editor: VSCode, Version: 1.52.1

### Steps to reproduce:

1. Clone the project from master branch
2. Run npm install

### Expected behavi

[2021-01-20 11:43] diegolmello commented on #2816
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md#how-to-run

Docs advise you to use `yarn`.

[2021-01-20 11:43] #2816 closed

[2021-01-20 11:47] diegolmello commented on #2129
@ankar84 I guess it does but we have other priorities right now.
If this is important to your team, can you hire a freelancer (upwork or any other site) to do it?
I'd make sure it is released ASAP.
Thanks.

[2021-01-20 11:48] diegolmello commented on #2815
Duplicated #1580

[2021-01-20 11:48] #2815 closed

[2021-01-20 11:51] ankar84 commented on #2129
Yeap, I know it.

I don't think it's a critical issue for us, just would be nice if it's implemented in RCRN.

[2021-01-20 11:51] diegolmello commented on #2814
iOS app uses APNS, not Firebase.

[2021-01-20 11:53] rajkumarbhaji commented on #2814
@diegolmello Thank you. Could you please post any documentation to setup APNS ??

[2021-01-20 11:54] diegolmello commented on #2814
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#configuring-ios

[2021-01-20 11:54] #2814 closed

[2021-01-20 11:56] JakobZeller commented on #2814
I configured my app step by step following exactly this documentation.

[2021-01-20 12:14] rajkumarbhaji commented on #2814
@diegolmello I just did once again by following the documentation step by step. Still I am not able to receive the chat messages when app is in background.

[2021-01-20 13:07] rajkumarbhaji commented on #2814
@JakobZeller Is it working fine for you??

[2021-01-20 13:21] JakobZeller commented on #2814
@rajkumarbhaji It's the same issue I described in my first post and you are experiencing.

@diegolmello I am using the single-server branch and set a breakpoint in NotificationService.swift line 10. The breakpoint is never reached.

[2021-01-20 13:50] akoselek273 commented on #2781
My problem is solved after upgrade the server to the latest version (3.10.4)

[2021-01-20 17:47] #2784 closed

[2021-01-20 17:56] #2620 closed

[2021-01-21 07:03] ronakT-addweb opened #2819 "In iPad mini 5th generation can't share photo from the Files or Photos app to chat"
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name:  iPad mini 5th generation
- OS Version: 14.2

### Steps to reproduce:

1.  Go to 'Photos'
2. Click on 'share icon'
3. Select Rocket Chat

### Expected behavior:

 What we expect to happen
It souls share the photo with the chat in Rocket chat. and should open chat list in dialog.

[2021-01-21 07:04] hungnb94 commented on #2759
It may issue involve storage type.
Let's change Storage Type to GridFS then try upload another video file.
I change to GridFS then my server work well. Hope this help you

![Screen Shot 2021-01-21 at 13 59 27](https://user-images.githubusercontent.com/30073979/105314983-418df380-5bf1-11eb-8ec0-59e3b0eeab93.png)

[2021-01-21 08:11] User6554 commented on #2760
Unfortunately I got the same issue as BlindHenry. The same blank page appears if I try to send an attachment trough Rocket.Chat mobile App.

**The important thing is, though, that I downloaded the 4.14.0.22470 Beta via Testflight and had the same issue on an iPhone 12 (iOS 14.3) and an iPad Pro 2nd gen (iOS 14.3).**

I am not sending any pictures or videos because it happens exactly as BlindHenry

[2021-01-21 12:25] nooblag commented on #2759
Thanks @hungnb94, playback and uploads seem okay now on iOS with GridFS as the Storage Type!

I wonder why the problem with FileSystem however?

[2021-01-21 13:00] diegolmello commented on #2819
What's your app version?
Did you see https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2760#issuecomment-764460416?

[2021-01-21 13:20] ronakT-addweb commented on #2760
**App version : 4.13.1.22188**
server version : 3.9.3

[2021-01-21 13:20] diegolmello commented on #2760
@ronakT-addweb can you try beta? https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2760#issuecomment-758987411

[2021-01-21 13:38] ronakT-addweb commented on #2760
Yup, It's working there.

[2021-01-21 13:38] hungntq commented on #2759
@nooblag It's is bug from server.
For more detail you can check [here](https://stackoverflow.com/a/42244954).

Currently Rocket.Chat server does not support http request with by range 0-1 for FileSystem. It always return response code 200. But on iOS it need response code 206 to stream video.
I will try to create pull request for this bug on server

[2021-01-21 13:52] diegolmello commented on #2759
That's huge, @hungntq.
Thanks a lot from your response.

I'm closing this issue here until we have a fix on the server and we're sure there's something to be done on mobile, ok?

[2021-01-21 13:52] #2759 closed

[2021-01-21 14:11] raghav-khunger commented on #1332
These two settings should match:

![image](https://user-images.githubusercontent.com/904902/105362040-677ebc80-5c20-11eb-88fe-ea89f1eca86e.png)

![image](https://user-images.githubusercontent.com/904902/105362100-79605f80-5c20-11eb-8b11-93c30a2999da.png)

[2021-01-21 16:07] jillemash commented on #2781
Hi,

clearing cache didn't work for me.
I've created an account on https://open.rocket.chat. The pseudo is jillemash and the status mentions the bug id (2781).
So if you (@diegolmello, or anyone else) could send  me some messages, with some delay between them, I could check whether updating the server might work for me too.

JM

[2021-01-21 16:11] diegolmello commented on #2781
@jillemash can you try updating your server to 3.10.4?

[2021-01-21 18:03] User6554 commented on #2760
@diegolmello, I would like to contribute somehow in solving the issue. I made this screen recording to highlight how this is happening to me, still with the new beta 4.14.0.22470:

https://user-images.githubusercontent.com/77775128/105392135-2637de00-5c1b-11eb-841c-cfb9c0975c1f.MP4

Tell me please if I can send any other information. Thanks.

[2021-01-21 18:13] diegolmello commented on #2760
@User6554 Some work was done here https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2788
Share extensions have memory limit on iOS and vary depending on the device.
It's 120MB on most devices.
I'd appreciate a PR solving this issue.
Also, can you open a new issue?
Thanks!

[2021-01-21 18:20] User6554 commented on #2760
@diegolmello Sure. I will open a new issue. What do you mean with "PR"? I am sorry, I am completely new to GitHub.

[2021-01-21 18:23] diegolmello commented on #2760
PR = Pull Request.
It's when you to send a code to add a new functionality or a fix to some issue.
I'm sorry, I thought you were a developer.

Open a new issue and I'll ask you to try the upcoming fix on TestFlight.
It might take a while for us to work on this again though.

[2021-01-21 18:26] User6554 commented on #2760
@diegolmello No worries. Sure. I will open a new issue and gladly help you with the TestFlight tests. Thanks.

[2021-01-21 18:35] User6554 opened #2822 "iPhone 12 can't use the share option in iOS (Safari or Photos App), blank window shows up"
### Description:

Unable to use the iOS share feature to send attachment via Rocket.Chat
### Environment Information:

- Rocket.Chat Server Version: 3.9.3
- Rocket.Chat App Version: 4.14.0.22470 (Beta right now, 2021-01-21)
- Device Name: iPhone 12 256GB
- OS Version: iOS 14.3

### Steps to reproduce:

1. Click on the share icon on iOS (tested in Safari and Photos App)
2. Select Rocket.Chat App

#

[2021-01-21 19:52] #2629 closed

[2021-01-22 06:58] ankar84 commented on #2822
Same on iPhone 8
Could be fixed by https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2788

[2021-01-22 07:08] hungntq commented on #2759
Chan Shing Kit already created a [pull request](https://github.com/RocketChat/Rocket.Chat/pull/20203) to fix this issue on server.
I think it will be merge soon. I hope it will help you fix problem

[2021-01-22 12:22] diegolmello commented on #2822
He tested new beta, but the error persists https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2760#issuecomment-764834058
We'll have to plan a deep refactor to the share extension.
Sadly, we don't have control over memory and it's really limited on iOS for share extensions.

[2021-01-22 14:35] jillemash commented on #2781
@diegolmello I cannot do this easily because it's a corporate server.
That's why I wanted to test first on the 'open' server since it's the only thing that changes, so if it does work I could ask them to update the server.
I'll try to ask someone to make this test, I'll keep you posted.

[2021-01-22 17:26] pratyaksh123 opened #2824 "Add react-native-pdf"
### Description:

The current behavior of downloading pdf files is a webview implementation, which can be improved if we use an app-inbuilt pdf viewer that also allows us to leverage local document cache ( something similar to this PR https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2809) and also pdf-thumbnails which can be a good UX.

### Steps to reproduce:

1. Open a pdf file from me

[2021-01-22 20:20] #2744 closed

[2021-01-23 00:39] jacotec commented on #2822
Unfortunately many users told me that my most hated app (the data vac named WhatsApp) does not seem to have any limitations to send pix and vids via share extension. What magic do they use?

[2021-01-23 00:47] jacotec opened #2827 "Memoji part of the keyboard not visible"
### Description:

On IOS the complete memoji part of the keyboard is not there when switched to the emoji keyboard, users can't send memojis.

### Environment Information:

- Rocket.Chat Server Version: 3.10.4
- Rocket.Chat App Version: 4.13.1
- Device Name: All iDevices
- OS Version: IOS 14.3

### Steps to reproduce:

1. Tap into the message box to write a message
2. Switch keyboard to emoji
3. I

[2021-01-23 00:53] jacotec opened #2828 "Selectable notification sounds"
### Description:

The notification sound of the app for new (pushed) messages should at least be globally adjustable. Many apps in these days support a different sound per channel / chat, this would be the most sophisticated solution.

### Environment Information:

- Rocket.Chat Server Version: 3.10.4
- Rocket.Chat App Version: 4.13.1
- Device Name: Any iDevice
- OS Version: IOS 14.3

### Steps to

[2021-01-24 17:55] jillemash commented on #2781
Hi,
I've tested the updated server by creating a second account on open.rocket.chat with another e-mail address, and it worked (same client, new server).
So it may be the solution for me, I'll try to have the server updated.
I have another question, I managed to delete one of my account, but I'm not able to delete the other because I created it with google sign-in and to delete my account, I'm ask

[2021-01-25 06:48] dev7050 opened #2829 "Not able to load script from metrobundler."
Hello Team,

### Description:

After installing node_modules and pods, The project (debug) successfully builds on simulator but it stuck on splash screen. Actually after launch the app doesn't loads scrips from metro bundler. Any help will be appreciated.

### Environment Information:

- Rocket.Chat App Version: Current Develop branch
- OS Version: 10.15.7
- Xcode Version: 12.3

### Expected behav

[2021-01-25 06:57] yash-rajpal commented on #2829
Can you please provide more description?

A video would be great.

[2021-01-25 07:10] dev7050 commented on #2829
Added Description

[2021-01-25 07:24] yash-rajpal commented on #2829
Are you using yarn ios command to start app??

[2021-01-25 07:38] dev7050 commented on #2829
Building from xcode

[2021-01-25 07:45] yash-rajpal commented on #2829
Can you please elaborate your way? I don't think thats the right way to do it. Use `yarn ios` command to run the project.
Refer readme file for develop guides.

[2021-01-25 07:51] dev7050 commented on #2829
I didn't find a readme doc to run project. So, what I did is -

- yarn install
- pod install
- Selected xcode debug scheme
- Build the project (Metro bundler launched)
- App is on simulator but stuck on splash.
- Scipts not loaded from metro bundler

[2021-01-25 07:53] dev7050 commented on #2829
Tried your way to run project but same. Any link to readme doc which I may have missed will be appreciated.

[2021-01-25 07:55] yash-rajpal commented on #2829
[Refer here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md)

Run `react-native start` on one terminal instance in project's root directory. In other terminal instance run `yarn ios`.

[2021-01-25 13:16] diegolmello commented on #2822
Unlimited resources 🤷‍♂️

[2021-01-25 13:21] diegolmello commented on #2827
We would have to evaluate the benefits of it.
Currently, we don't support a type of stickers (memojis are stickers).
Some apps generate images from memojis and upload them as any media.
I'm sure that's not the expected UX.

I'm leaving this issue open as feature request waiting for stickers support, ok?

[2021-01-25 13:26] diegolmello commented on #2781
That's weird. Have you tried logging in with email instead?
Fill an issue on https://github.com/RocketChat/Rocket.Chat if needed (not related to this repo).

[2021-01-25 13:31] jacotec commented on #2827
OK, I thought IOS itself would send these as pictures (that's how it appears to work with Element (former Riot)). Agree to wait for sticker support if this is not just a "flag" in the keyboard to turn on ;-)

[2021-01-25 13:53] jacotec commented on #2822
lol :-)
What I've meant is that they should run into the same IOS limits for the share extensions, or am I doing wrong here?

[2021-01-25 14:06] diegolmello commented on #2822
No, you're kind of right.
Besides the team size (e.g. they can afford to have a squad focused on share extension), they are a native app (advanced memory management) and aggressive compress media (larger the media, larger memory to be held).
But we still have a few techniques to fix this :)

[2021-01-25 14:11] User6554 commented on #2822
@diegolmello That sound promising, a fix for it would be really great. To those trying to fix it, I really appreciate it! Thank you very much.

[2021-01-25 14:54] rajkumarbhaji opened #2831 "Background messages are not able to receive in iOS when app is in background mode."
Hi
I followed exactly the same steps as the below URL to set iOS APNS settings.
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#configuring-ios

But still, the iOS app is not able to receive the message notifications when the app is in background mode.

[2021-01-25 16:34] wreiske opened #2832 "DM rooms show typing status from last group room"
### Description:

I just clicked on a user avatar in a group message and then clicked "message" to go to their DM room... I then saw another user was typing from the DM room that was in the group room. I think there's a bug there!

### Environment Information:

- Rocket.Chat Server Version: 3.10.3
- Rocket.Chat App Version: 4.14.0.22464
- Device Name: Samsung Galaxy Note 10+ 5G
- OS Version: Andro

[2021-01-25 17:19] pratyaksh123 commented on #2832
I'll check this out...

[2021-01-25 17:34] jacotec commented on #2831
I guess you've missed something. APN-Key, APN-Cert and APN-Passphrase entered in the Admin section "Push Messages" of your RC server? Switch "Activate Gateway" switches to off? Restarted RC server after these changes?

I'm using a whitelabel app by myself and don't see any issues with push notifications.

The app itself is unfortunately not updated in the background when the push arrives. You get

[2021-01-26 00:06] rajkumarbhaji commented on #2831
@jacotec Thank you for your response. I follow the exact steps mentioned in the documentation, but I couldn't receive any message notifications on my iOS device.

I also observed that the app is not showing an alert dialog to accept the Notifications when I launch the app for the first time.

[2021-01-26 09:30] huytx0909 opened #2835 "Cannot build the single-server branch for version 4.14.0.1"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.10.0
- Rocket.Chat App Version: 4.14.0.1
- Device Name: iphone 11 Simulator XCode
- OS Version:

### Steps to reproduce:

1. Follow
https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps
### Expected behavior:

App loads into the login screen

### Actual behavior:

App loads with a blank white

[2021-01-26 14:28] rajkumarbhaji commented on #2831
@diegolmello @jacotec
Just I observed that, If I send the message from General Channel, then only the notification / background messages are appearing, but if I send to direct user then the notification are not comming.

[2021-01-26 14:37] diegolmello commented on #2831
@rajkumarbhaji That's not related to the app itself.
It depends on the preferences you configured.

[2021-01-26 14:37] #2831 closed

[2021-01-26 14:38] rajkumarbhaji commented on #2831
@diegolmello configuration where?? I dint configured any to particular channel settings though??

[2021-01-26 15:11] jacotec commented on #2831
@rajkumarbhaji Check the presets for mobile notifiactions in Settings --> Accounts

![grafik](https://user-images.githubusercontent.com/3321655/105863234-f6a91d00-5ff0-11eb-97f3-01cf0ad6d242.png)

However, every user can override these settings in his account settings:

![grafik](https://user-images.githubusercontent.com/3321655/105863389-222c0780-5ff1-11eb-9b3c-6a561dfb6143.png)

[2021-01-26 16:18] rajkumarbhaji commented on #2831
@jacotec Thank you , all the settings are normal, but still not getting the direct message notifications.

[2021-01-26 19:44] FuzzyMistborn opened #2836 "Image sent with image_url show up as blank"
### Description:

I'm using [HomeAssistant](https://www.home-assistant.io/integrations/rocketchat/) to try to send an image to a chat.  HomeAssistant uses an API and specifically uses https://docs.rocket.chat/api/rest-api/methods/chat/postmessage#attachments-detail
I'm using the `image_url` portion and it sends a link to the image just fine and it appears on the desktop/web app.  But when I try to

[2021-01-26 21:00] aKn1ghtOut opened #2837 "Real name not shown in search messages view"
### Description:

The useRealName setting is not enforced in search messages view.

### Environment Information:

- Rocket.Chat Server Version: 3.11.0-develop
- Rocket.Chat App Version: 4.13.1
- Device Name: Oneplus 6
- OS Version: Android 10

### Steps to reproduce:

1. Go to any room with >0 messages
2. Click on search button on top-right
3. Search with query that returns non-zero results. [ Use

[2021-01-26 21:48] aKn1ghtOut opened #2839 "[BUG] Deleted thread replies do not redirect to Thread"
### Description:

When server setting Message_ShowDeletedStatus is true:
Right now, if you delete a reply to a Thread, the message is deleted but the Thread title awkwardly stays in the roomview. On touching(clicking) this message/thread, nothing happens even though the thread title has an arrow next to it that signals something should indeed happen.

![Screenshot_20210127-031314](https://user-ima

[2021-01-27 14:59] yash-rajpal opened #2841 "Markdown links coloured same as normal text."
### Description:
Markdown links in some places have same color as of normal text, making it impossible for user to know if some text contains hyperlinks or not.

### Environment Information:

- Rocket.Chat Server Version: 3.11.0-develop
- Rocket.Chat App Version: 4.14.0
- Device Name: Pixel Emulator
- OS Version: Android 10

### Steps to reproduce:

1.  Goto room info
2.  Set announcements and Top

[2021-01-27 17:39] jacotec opened #2843 "Reply to a message on AppleWatch not working"
### Description:

When you get a message while the iPhone is in sleep mode, the push notification gets diverted to the Apple Watch. When you open the message at the watch, you have to option to send a reply directly via the watch. This usually works on all apps (also for apps which does not have a dedicated watch support like Signal, Riot/Element etc.), so this seems to be handled by WatchOS/IOS.

[2021-01-28 11:57] leitmori opened #2844 "App stopped working on iOS and Android"
### Description:

Login does not work on iOS and Android. Logged-in users only see the "Waiting for network..." notice. No problems in desktop app or browser.

### Environment Information:

- Rocket.Chat Server Version: 3.10.5
- Rocket.Chat App Version: 4.14.0
- Device Name: iPhone 12 / Samsung SM-J530F
- OS Version: iOS 14.4 / Android 9

### Steps to reproduce:

1. Enter workspace URL
2. Enter cr

[2021-01-28 12:34] diegolmello commented on #2844
Do you see the issue on https://open.rocket.chat?

[2021-01-28 12:35] leitmori commented on #2844
No, it works with https://open.rocket.chat

[2021-01-28 12:38] diegolmello commented on #2844
Ok. Can you create a test user for me on your server and send the credentials to https://open.rocket.chat/direct/diego.mello?
Then I can add it to next sprint.
Thanks.

[2021-01-28 12:49] leitmori commented on #2844
Done

[2021-01-28 14:09] leitmori commented on #2844
We will temporarily use the "Intermediate" preset with TLSv1.2 support.

[2021-01-28 15:56] slajerek commented on #2692
I made a huge mistake and upgraded iOS app of Rocket Chat. Now you guys show activity in channel in the list of channels so subtle that is almost not possible to distinguish if someone written to the channel so it is totally meaningless and in principle you could just skip showing if channel has some activity, and now sorting by last activity does not work, meaning app is not useable now. Come on!

[2021-01-28 17:16] diegolmello commented on #2692
Hey, @slajerek.
Are you willing to contribute back to the community?
Thank you.

[2021-01-28 19:28] slajerek commented on #2692
Sure I do! Can with my friend create a theme that will go into official builds? I understand the problem with sorting, that's OK and such error happens, but backup i.e. proper UI can be fixed easily! I will try to compile the sources... thanks!

[2021-01-28 19:40] diegolmello commented on #2692
I'm afraid themes are responsibility of our design team.

I was talking about the sorting issue.
I *think* these two (https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2688 and https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2763) might have created a bug on sorting for older servers while fixed sorting for the newer ones.

[2021-01-28 21:42] C1ean commented on #2803
@diegolmello  yes, it works for me!! thanks!
PR https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2846

[2021-01-28 22:20] C1ean commented on #2727
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2721
[code]

[2021-01-29 04:16] pechqwer opened #2847 "[Bug] iOS has no 'OK' button when logged out from other locations (devices)"
### Description:

[Bug] iOS has no 'OK' button when logged out from other locations (devices)

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.14.0.22701
- Device Name: iPhone 12
- OS Version: iOS 14.4

### Steps to reproduce:

1. User tried to "logged out from other locations" on mobile application (iOS)
2. Pop Up 'Are you sure?' has shown but has on

[2021-01-29 04:40] Conrado916645 opened #2848 "Cant build iOS"
help can't run iOS
The following build commands failed:
	PhaseScriptExecution [CP-User]\ [RNFB]\ Crashlytics\ Configuration /Users/Human/Library/Developer/Xcode/DerivedData/RocketChatRN-fzqgznnolygdwhdpgohdropilzjp/Build/Intermediates.noindex/RocketChatRN.build/Debug-iphonesimulator/ShareRocketChatRN.build/Script-C77883A80C5B024875754F94.sh
(1 failure)

[2021-01-30 05:48] adrastest opened #2849 "Forward messages"
message forward not  exist in rocket chat react native.
we request you if possible add it in next version.

[2021-01-30 13:07] pritamye77 opened #2850 "Seems JitsiMeet issue or Watermelon.db"
objc[11336]: Class PodsDummy_DoubleConversion is implemented in both /private/var/containers/Bundle/Application/E19A558B-2B64-41FF-8B33-315ACDA64F72/Rocket.Chat Experimental.app/Frameworks/JitsiMeet.framework/JitsiMeet (0x107f16040) and /private/var/containers/Bundle/Application/E19A558B-2B64-41FF-8B33-315ACDA64F72/Rocket.Chat Experimental.app/Rocket.Chat Experimental (0x105304fc0). One of the two

[2021-01-30 19:43] serenturgut commented on #2849
Not being able to forward messages like whatsapp is the most important and biggest deficiency.

[2021-01-31 00:13] aleadco opened #2852 "Error uploading files File size (size = 0) is too small (min = 1) [file-too-small]"
### Description:

Some files (Word, Excel, MP3 we have tested) are not loaded from the Android application. On our rocket server there are no extension restrictions for uploading files. From the web interface and the desktop application we have tried to load the same documents and we have not had problems, only from the mobile app.
According to the records, the file has size = 0 and at least it mu

[2021-01-31 00:23] aleadco commented on #2852
The two files shown in the error image have a weight of 53Kb and 21.87Kb respectively.

[2021-01-31 14:28] avpnusr opened #2853 "iOS app does not show thumbnail and attachment-title"
### Description:

In my usecase a bot provides information about movies for enthusiasts, that require the use of tumbnail-pictures, with some text-information besides them and a title above the thumbnail. Unfortunately the iOS-App does not show the thumbnail-picture nor the title. Just the sent text ist readable.

Using a browser or the RocketChat Desktop-App, everything works and is displayed as

[2021-01-31 18:49] ARKEOLOGIST commented on #2847
I'd be happy to tackle this, but I don't have a Mac to test the changes.

[2021-02-01 08:37] ankar84 commented on #2849
Related to https://github.com/RocketChat/feature-requests/issues/308

[2021-02-01 08:39] ankar84 commented on #2850
Please make that issue with template and hide that large log in spoiler.

[2021-02-01 11:41] diegolmello commented on #2849
Hey, thanks for requesting this feature.
As @ankar84 mentioned, there's a feature request for that.
I guess this is for sure something we want to implement, but we have other priorities right now (we have to sync with design team).
I'll leave it open, because (depending on the approach) we might implement it on the app even if it's not implemented on the web client.

[2021-02-01 12:07] refactor-droidyy commented on #2853
@diegolmello can I take this one ??

[2021-02-01 12:07] diegolmello commented on #2853
@refactor-droidyy Yep

[2021-02-01 12:25] ankar84 commented on #2849
This is a very good news if so👍🏻👍🏻

[2021-02-01 17:18] #2822 closed

[2021-02-01 17:23] #2847 closed

[2021-02-01 18:02] bhanujggandhi commented on #2140
@diegolmello Is this issue resolved?

[2021-02-01 18:04] #2140 closed

[2021-02-01 18:04] diegolmello commented on #2140
@bhanujggandhi it is. Thanks.

[2021-02-01 18:13] bhanujggandhi commented on #752
@diegolmello If this issue is not resolved. Can you please guide me through this? I want to work on it

[2021-02-01 18:17] diegolmello commented on #752
It's really old and I don't know if it's still an issue, but the steps remain the same: configure Custom Fields on 2 different servers and go to user info.

Example:
- Server A
Configure "job title" as string

- Server B
Configure "city name" as string

[2021-02-01 18:25] bhanujggandhi commented on #752
Sure! I'll look if this still is a issue

[2021-02-01 18:51] bhanujggandhi commented on #752
@diegolmello I don't think, user profile reducer is dependent on any server. It is a separate reducer that updates user info accordingly. Can you please look in it?

[2021-02-02 07:02] adrastest commented on #1836
invalid URL or unable to establish a secure connection
I want to connect from Android rocket chat react native version 4.5.0 to my local rocket chat server but it alert me the above error.
my server is https://10.20.... with self signed certificate.
anyone help me.
thanks in advance

[2021-02-02 12:18] jsalatiel commented on #2084
Just to explain my scenario, it maybe related somehow.

I have one haproxy loadbalancing for two nginx ingresses that send the traffic for 4 rocketchat instances ( kubernetes ).

This is the log I get from the desktop client  when I start scrolling the contact list after being idle for 5 minutes (  I removed the avatar call )

[code]

And this is what I get from the android app:
[code]

It appears

[2021-02-02 12:19] jsalatiel commented on #2084
@diegolmello  Hope that debug helps.

[2021-02-02 13:41] diegolmello commented on #1836
@adrastest we worked on certificate issues on last versions of the app (We're on 4.14.0 now).
Update it and try again.
If the problem persists, open a new issue for you.
Thanks.

[2021-02-02 13:49] diegolmello commented on #2084
@jsalatiel I see.

So there's an issue when:
- Open app
- Login
- Scroll
- Issue

But after closing the app and being logged in everything works fine?

This issue is old already.
Have you tried it on 4.14.0?

[2021-02-02 14:02] jsalatiel commented on #2084
Hi Diego, the problem is not related to login. I am already logged in on the app on my android.

The issue is:
Open the mobile app after a few minutes. Compare the status with the web or desktop app. Several users will have different status. Most of them remains online or busy on mobile while they are actually offline on desktop/web ui.

When I said close the app, I mean force close ( going in to

[2021-02-02 14:02] jsalatiel commented on #2084
btw, I am already on 4.14.0 and server is 3.8.4

[2021-02-02 14:04] diegolmello commented on #2084
Can you reproduce it on https://open.rocket.chat?
We're on 3.11.0 already.

[2021-02-02 14:07] jsalatiel commented on #2084
I will try. What's your username there ?

[2021-02-02 14:08] diegolmello commented on #2084
`diego.mello`

[2021-02-02 18:23] aleadco commented on #2852
The issue was resolved with update https://github.com/RocketChat/Rocket.Chat/releases/tag/3.11.0
I will leave it open for a few days to review in depth.

[2021-02-02 21:12] MonsieurKoZo commented on #1789
Same issue exists with IOS version and with any audio file. It is impossible to seek in an audio file. Timer is stuck at 00:00 and cursor cannot be moved...

[2021-02-03 04:15] adrastest opened #2864 "how to run project"
the latest(4.14.0) versions don't have (how to run) in readme file .
we request you add it if possible.

[2021-02-03 07:32] ARKEOLOGIST commented on #2864
First install the dependencies using 'npm install' in project folder.
Then type in 'npm run android' or 'npm run ios' in the project folder depending on the platform you want to run the project on.
I'll send in a PR soon that will address these changes if the owners are fine with it.

[2021-02-03 07:34] miamiautumn opened #2865 "Some deleted messages still appear on iOS"
### Description:

If a message is deleted on the MacOS app while the iOS app is open (but the channel with the deleted message is not open), then the message will not appear on MacOS but will still appear on iOS when the channel with the deleted message is open.

### Environment Information:

- Rocket.Chat Server Version: 3.10.4
- Rocket.Chat App Version: 4.14.0
- Device Name: iPhone
- OS Version:

[2021-02-03 07:35] yash-rajpal commented on #2864
@ARKEOLOGIST I think we use yarn for this project Instead of npm.

Steps would be install dependencies by running yarn command and building project using yarn android or yarn ios command.

[2021-02-03 07:40] ARKEOLOGIST commented on #2864
Yes, my mistake. We use yarn in this project.

[2021-02-03 08:06] adrastest commented on #2864
when I run yarn command in the root folder of project it show me  (command 'yarn' not found) .

[2021-02-03 08:08] yash-rajpal commented on #2864
@adrastest Yes, you have to install yarn first in order for it to work.

[2021-02-03 08:13] progressify opened #2866 "Android: crash when jigasi component enter in the jitsi room"
### Description:

When a jigasi component enter in the jitsi room, Rocket chat crash (only android)

### Environment Information:

- Rocket.Chat Server Version: 3.11.0
- Rocket.Chat App Version: 4.14
- Device Name: pixel 2 xl
- OS Version: android 11

### Steps to reproduce:

See my attached video.

### Actual behavior:

https://user-images.githubusercontent.com/11472632/106717177-a5f08000-65ff-11

[2021-02-03 13:30] wojciechkepka commented on #2692
We're currently experiencing similar issues on iOS where messages are placed in wrong order and I can confirm that it has nothing to do with threads as they are not widely used throughout the conversations.

What I noticed though is that when I enable `Group by type` in sorting menu the order is now 100% the same as web client and desktop version.

Client version: 4.11.0.100
Server version: 3.9.3

[2021-02-03 20:00] amoebav commented on #2533
I'm having the same issue on v4.14. I enter in my workspace url and then tap connect, but nothing happens.

[2021-02-03 20:03] diegolmello commented on #2803
@C1ean is this related to #2533

[2021-02-03 20:23] amoebav commented on #2803
I have this issue in iOS, but not in Android.
v4.14.0

[2021-02-03 20:51] diegolmello commented on #2787
I wasn't able to reproduce this issue.
Can you try it on latest server and app version?

[2021-02-03 20:51] #2787 closed

[2021-02-03 23:08] jsalatiel commented on #2084
Upgrade my test environment to 3.11. The problem is a lot worse there. Basically all users are locked in Online state by default unless they manually change. They are never offline, unless set to invisible manually.

[2021-02-03 23:14] jsalatiel opened #2868 "Improve feedback to user when loading conversation after clicking the push notification"
### Description:
When the user receives a push notification from some user, and clicks it, rocketchat app will open that conversation but it will only refresh the conversation with the new message after a few seconds. ( Sometimes over 10 seconds to refresh). While the message is not refreshed, it would be nice if the user had that refresh icon spinning on the screen, so he could be sure new messag

[2021-02-04 06:26] adrastest commented on #1836
@diegolmello when i run version (4.14.0) it show me this error
app:installExperimentalPlayDebug?
nay help

[2021-02-04 06:30] yash-rajpal commented on #1836
@adrastest Can you share what commands are you using to run app?

[2021-02-04 06:34] adrastest commented on #1836
I use yarn android

[2021-02-04 06:37] yash-rajpal commented on #1836
Can you share more error logs?

[2021-02-04 06:45] adrastest commented on #1836
@yash-rajpal  I clean the cache and run again it worked but
can not to connect with my local https server which has self signed certificate.

[2021-02-04 06:58] yash-rajpal commented on #1836
What's the problem? Just use your system's IP address and port on which server is running like this

http://IP:port   -> Enter this url when it asks for server url.

[2021-02-04 07:09] adrastest commented on #1836
@yash-rajpal  the problem is when I want to connect rocket chat server via Android rocket chat react native 4.14.0
it alert me (Java.security.cert.certpahtvalidatorException
trust anchor for certification path not found)
my server is like https://10.20.1.111:5000

[2021-02-04 07:12] adrastest commented on #1836
@yash-rajpal and it is working via http URL but not working with https
however I install server certificate in Mobile app.

[2021-02-04 09:00] ankar84 commented on #2699
Closing that issue because with new Jitsi server 2.0.5390 modern RCRN versions are working pretty stable.

[2021-02-04 10:40] RaviGaruda commented on #2803
i have same issue in android app, i also update react-native-mmkv-storage to latest version 0.4.3 but still i'm can't login

[2021-02-04 16:02] C1ean opened #2870 "[BUG] Push notification opens a list with chats"
### Description:
Push notification when the application is minimized opens the list of chats if a channel not associated with the current notification was opened before.

### Environment Information:

- Rocket.Chat Server Version: 3.5.1
- Rocket.Chat App Version: 4.14.0
- Device Name: Iphone 11 Pro
- OS Version: 14.2

### Steps to reproduce:

For example, there are two channels - A and B.
I open c

[2021-02-04 17:27] diegolmello commented on #2760
We just released 4.14.1 on App Store.
Google Play is taking longer to review it though.
After we land it there, we're going to resume the release process.
Thanks.

[2021-02-05 02:50] zhuyuan2016 opened #2874 "The app crash when we start the video call on android,I try to record the log and got the error "java.lang.UnsatisfiedLinkError: couldn't find DSO to load: libhermes.so",but it works on ios, anyone face same issue?"
### Description:

We use 2.1.0 jitsi SDK on android,check all the android config include 'build.gradle' and 'app\build.gradle'
![QQ截图20210205104407](https://user-images.githubusercontent.com/14816152/106982502-31ecde00-679f-11eb-85ff-4e36f6ffa105.png)
![QQ截图20210205104421](https://user-images.githubusercontent.com/14816152/106982509-34e7ce80-679f-11eb-8b9f-e75a3bdd9d6e.png)
![微信图片_20210205104152](

[2021-02-05 08:04] #2835 closed

[2021-02-05 10:05] RaviGaruda opened #2876 "[RangeError: Maximum call stack size exceeded.]"
### Description:

I Build app successfully and app is getting installed, but when I enter the username and password and click on the login button. I get **"[FRI Feb 05 2021 14:33:10.170] ERROR [RangeError: Maximum call stack size exceeded.]"** I get this inside terminal. There is no message or prompt on the app side.

### Environment Information:

- Rocket.Chat Server Version: 3.10.5
- Rocket.Chat

[2021-02-05 10:12] RaviGaruda commented on #2501
@prajyot-naik have your issue solved? i similar issue got in version 4.14.0.1

[2021-02-05 12:11] User6554 commented on #2760
@diegolmello Thank you. I downloaded version 4.14.1.22787 from the AppStore on my iPhone 12 (256GB). Unfortunately, the issue persists. I restarted my phone hoping it would make a difference. Please tell me if you need any screenshot or screen recording. Thank you!

[2021-02-05 12:39] diegolmello commented on #2874
We're on 4.14.0 already.
Update your app and try again.

[2021-02-05 12:39] #2874 closed

[2021-02-05 12:47] diegolmello commented on #2760
@User6554 We tested with a couple of users and it started to work.

The build was on TestFlight for a while.
I was hoping you tested it.

A deeper refactor is needed for it work if it's the case, so it might take a while for us to plan again.
Some apps do a heavy compression in order to share media through share extension and we can't do that.
We have to follow the settings on admin panel.
The bes

[2021-02-05 14:23] User6554 commented on #2760
@diegolmello Yes, I think I saw, that for some users it started to work.
I also tested the TestFlight release (4.14.1) and the new AppStore release (4.14.1) but unfortunately it did not work either.

Before I open a new issue: Can it be somehow related to the fact that I am connected to a self-hosted workspace. Everything else is working fine though.
If not, I will make Screenshots, make a screen

[2021-02-05 14:24] diegolmello commented on #2760
I don't think so

[2021-02-05 14:25] User6554 commented on #2760
Me either, it seems to be related to the iPhone & the App. So, I will open a new issue!

[2021-02-05 14:36] C1ean commented on #2870
@diegolmello Do you have reproduce this problem? is there a chance to get the fix in the foreseeable future?

[2021-02-05 14:41] diegolmello commented on #2870
@C1ean That's what I've been working on and we want to release a fix asap.
The fix is a little broader though.
The idea is to fix some issues found when the app is a while on background and it's killed by the OS. If that happens and the app is opened from the push notification, it might have a weak connection.
It's hard to reproduce it though, since any change requires the app to be on background

[2021-02-05 14:46] User6554 opened #2877 "iOS App Version 4.14.1 - Dialog for Sharing Files is blank"
### Description:

Eventought this issue was solved for some, it still keeps happening to me:
When using the option for sharing files on iOS with the updated version (4.14.1) of the Rocket.Chat App, a blank dialog appears (refer to the video below).

### Environment Information:

- Rocket.Chat Server Version: 3.9.7
- Rocket.Chat App Version: 4.14.1.22787
- Device Name: iPhone 12 256GB
- OS Version:

[2021-02-06 04:21] #2864 closed

[2021-02-06 04:34] adrastest opened #2879 "self signed certificate not supported?"
I want to connect rocket chat react-native (4.14.0) to my local rocket chat server (https://10.20.1.../1000)  but it alert me (Java.security.cert.CertPathValidatorException trust anchor for certification path not found)
can anyone help me how to solve this from coding ?
I can connect via http but from https it alert me the above error.
my server is self signed certificate and I install certificate

[2021-02-06 06:15] adrastest commented on #2864
when i run rocket chat react-native 4.14.0
its going on when its reach to 99% Executing then its stack without any error.
first I start server with (react-native start)
then run yarn Android command.

[2021-02-06 06:42] zhuyuan2016 commented on #2874
But I make some DIY on the 4.7.0 branch, so I can't update directely,do you know the crash reason in that version, please help me ,Thank you very much!!

[2021-02-06 12:31] torygg commented on #2844
Same problems here... not even a login page showing on Smartphone/Android...

Environment Information:
Rocket.Chat Server Version: 3.11.0
Rocket.Chat App Version: 4.14.0
Device Name: Google Pixel 5
OS Version: Android 11

Address: chat.mdc-ce.de

Enabling lower TLS did not help... not even 1.2 or 1.1

[2021-02-07 23:37] AmatorPhasma commented on #2877
Same on:
- iPad: gen6, gen7, gen8
- iOS version 14.4

Note:
It works in the beta versions from the testflight app: 4.13.1, 4.14.0, 4.14.1

[2021-02-08 12:29] AndreySemenov1 opened #2882 "The application automatically closes after 30 minutes of inactivity in multitasking mode."
### Description:
The application automatically closes after 30 minutes of inactivity in multitasking mode.

### Environment Information:

- Rocket.Chat Server Version: 3.10.5
- Rocket.Chat App Version: 4.13.1.3
- Device Name: iPhone 11
- OS Version: 14.3

### Steps to reproduce:

1. Launch the Rocket app
2. Open your browser
3. Use a browser
4. Lock your device
5. After 30-40 minutes of inactivity

[2021-02-08 12:41] Bestoloch commented on #2882
The same issue. When the app is in the background for a while, it crashes after returning.

[2021-02-08 16:40] newmanw opened #2883 "Blank screen when trying to login w/ OAuth provider"
### Description:

When launching an OAuth authentication page, the view is blank.

![Screen Shot 2021-02-08 at 9 32 26 AM](https://user-images.githubusercontent.com/3382274/107249431-98b50600-69f0-11eb-8aea-ed8faaacccd4.png)

Fired up an emulator and seeing this in the console, not entirely sure its pointing out a problem, but seems related:

`2021-02-08 09:25:26.570 19777-19777/chat.rocket.reactn

[2021-02-08 17:14] amoebav opened #2884 "App Crashes on Startup"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 2.2.0
- Rocket.Chat App Version: 4.14.1
- Device Name: iphone 7
- OS Version: 14.4

### Steps to reproduce:

Tap Rocket.Chat icon app on home screen to open. App opens then immediately crashes.

### Expected behavior:

App to open

### Actual behavior:

Tap Rocket.Chat icon app on home screen to open. App opens then imme

[2021-02-08 17:36] newmanw commented on #2883
Digging more the blank screen looks to be coming from a failure in a regex test here:

https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/AuthenticationWebView.js#L125

Is this possibly an in compatibility problem with server version 3.0.5?

[2021-02-08 23:09] amoebav commented on #2803
I updated react-native-mmkv-storage and that fixed it for me as well for the iOS app.

[2021-02-09 09:30] ankar84 commented on #2669
Another application that causing same issue -[CallRecorder](https://play.google.com/store/apps/details?id=com.appstar.callrecorder)

[2021-02-09 09:32] C1ean commented on #2884
looks like similarly to  https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2870

[2021-02-09 10:22] goelshrrayan opened #2886 "Getting issue in running the android app."
### Description:

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name: OnePlus 8
- OS Version:  11

### Steps to reproduce:

1. We first installed the node modules using npm install in the cloned repo
2. Then we registered the app on firebase to use fcm and replaced the already present google-service.json with our newly generated google-service.json

[2021-02-09 12:34] saurabhkanswal opened #2887 "no space between custom emojis"
->there is no space between custom emojis
![customEmoji](https://user-images.githubusercontent.com/26677033/107364254-37c92300-6b01-11eb-8d07-eef4327fbcdb.jpeg)

[2021-02-09 12:35] saurabhkanswal commented on #2887
Working on the issue:)

[2021-02-09 13:33] diegolmello commented on #2884
We need detailed logs to start investigating the issue.
Is it from the store? Is it whitelabel? Are you logged in? etc

[2021-02-10 04:49] banditAman opened #2889 "Login with google redirects back to login screen on successful login"
### Description:

The Rocket Chat apps (Android and iOS) are

### Environment Information:

- Rocket.Chat Server Version: 3.11.0
- Rocket.Chat App Version: iOS & Android [Latest Build from App Store]
- Device Name: iPhone 6s, iPhone 11
- OS Version: DockerImage

### Steps to reproduce:

1. Open the app
2. Enter the workspace URL
3. Since my org only allows login with google, only that option is pr

[2021-02-10 07:42] adrastest opened #2890 "Minimum bandwidth required for text, voice and video for P2P"
anyone tell how much internet speed or bandwidth is required for point to point connectio.?

[2021-02-10 11:49] diegolmello commented on #2890
For text is really low, but for video/voice you can rely on Jitsi forum questions like this https://community.jitsi.org/t/jitsi-users-recommended-bandwidth-perf-for-a-jitsi-meet-server/12900

[2021-02-10 11:49] #2890 closed

[2021-02-10 12:18] diegolmello commented on #2889
Are you able to login via Google on https://open.rocket.chat?

[2021-02-10 12:23] saurabhkanswal commented on #2887
@diegolmello  before I commit any changes to my local-branch, the last test case is falling. although I have updated the snapshots by using the `yarn test -u` command.

PASS app/lib/database/utils.test.js (5.393s)                                                                                                                                                     PASS app/utils/shortnameToUnicode/shor

[2021-02-11 07:43] banditAman commented on #2889
I checked and it works fine with [open.rocket.chat](open.rocket.chat) ! What could be the issue here? Because login with google for rocket chat works fine in the browser.

[2021-02-11 12:44] diegolmello commented on #2889
It might be a misconfiguration on your admin panel.
You can ask for help on https://open.rocket.chat/channel/support or on https://github.com/RocketChat/Rocket.Chat

[2021-02-11 12:44] #2889 closed

[2021-02-11 19:16] yash-rajpal opened #2896 "LastMessage in Room list doesn't respect use real name setting."
### Description:
In room list screen, when an user sends an attachment, then the preview msg doesn't respects the use real name permission.

### Environment Information:

- Rocket.Chat Server Version: 3.12.0 - develop
- Rocket.Chat App Version: 4.14.1
- Device Name: Redmi k20
- OS Version: Android 10

### Steps to reproduce:

1.  Let any user send you an attachment
2.  Go to room list
3.  username

[2021-02-11 21:43] #2837 closed

[2021-02-12 12:09] wellemut commented on #2665
This was set to 90 days, so it can not be the problem.
I am the admin of it

[2021-02-12 12:10] wellemut commented on #2665
Of course they just see that they are logged out

[2021-02-12 14:29] kresnaputra commented on #2865
Hey, I tried to reproduce the bug. But I don't get issue here. Can you explain more or you can attach some video.

[2021-02-12 14:38] aKn1ghtOut opened #2901 "[BUG] Non-quote attachments use the inaccurate timestamp."
### Description:

Demonstrated on the Open.Rocket.Chat server quite often. In the general channel there, a lot of messages about GitHub activity are shown. However, they all share an origin time of 00:00:00 GMT 1st January 1970, which is to say they use the zero value for the timestamp.

This is unnecessary, as the timestamp is not supposed to be relevant in the message. In the Web Client, the tim

[2021-02-13 08:33] grahhnt commented on #2650
I believe I'm having the same issue above, it tends to happen when one (or more) of the following events occur with the channel:
- over 150k messages exist in the channel
- a high amount of messages sent per minute

it also sometimes occurs when the app is put into the background or closed completely (but this may just be the above events occuring)

I've noticed that it does load properly once the

[2021-02-13 09:36] miamiautumn commented on #2865
I just tried to reproduce it again myself, and it appears to no longer be an issue. I will close this then.

[2021-02-13 09:36] #2865 closed

[2021-02-13 20:37] danfelbm opened #2904 "App won't build with Android Studio"
### Description:

I'm trying to build the app through Android Studio and I followed the guide in the Docs. However when trying to build a signed APK via Android Studio (using the official play debug variant), although the build is successful, the app won't run. Giving the error:

`Unable to load script. Make sure you’re either running a Metro server….`

### Environment Information:

- Rocket.Chat

[2021-02-13 23:28] gpopesc commented on #2866
the same issue here. the mobile client doesn't use jwt authentication for jitsi and that's why exit immediately

[2021-02-15 07:43] b90g commented on #2703
With **email** 2FA users have the same behaviour, want me to open another issue for that?

[2021-02-15 12:24] pratyaksh123 commented on #2904
Did you try `adb reverse tcp:8081 tcp:8081`

[2021-02-15 12:47] danfelbm commented on #2904
Hi @pratyaksh123 thank you for your response. I just tested:
1. `adb reverse tcp:8081 tcp:8081`
2. npx react-native start
3. Android Studio - Build signed apk.
And unfortunately it didn't work. _Same_ error.

If I go to localhost:8081 I see that the metro server is running. So I wonder why Android Studio can't make use of it.
![2021-02-15_07h46_55](https://user-images.githubusercontent.com/1100787

[2021-02-15 15:07] progressify commented on #2866
nope, I don't think this problem is related to JWT authentication. rocket.chat mobile app works good with JWT and the token is correctly used! 😉

[2021-02-15 15:22] yash-rajpal opened #2907 "Reply Preview doesn't respect use real name setting"
### Description:
Reply preview doesn't respects use real name setting.

### Environment Information:

- Rocket.Chat Server Version: 4.14.0
- Rocket.Chat App Version: 3.12.0 -develop
- Device Name: Redmi K20
- OS Version: Android 10

### Steps to reproduce:

1.  Long Press any message
2.  Qoute Message
3.  Check the reply preview

### Expected behavior:
Reply Preview should follow use real name set

[2021-02-15 20:18] MBraunshausen commented on #2877
+1

iPad Air 4. Gen with iOS 14.4
and iPhone X with iOS 14.4

[2021-02-15 21:00] gpopesc commented on #2866
I compared the logs on jitsi server:
-  when I initiate the call from web ui or windows app, it works. It adds the server address in front of the link. I can click the link from mobile app and it works also.
- when I initiate the call from mobile app it doesn't create the link https://jitsi.my.server/RocketChattuhv6B3WApMcuAtzyQ......s7hreck7qYxz3Pkdrocket?jwt=.....

[2021-02-16 04:37] adrastest commented on #2879
can anyone tell me why we can't connect to rocket chat via IP address from mobile app rocket chat react native?

[2021-02-16 08:22] progressify commented on #2866
@gpopesc i think you must to create a new issue for your problem. It's a different case of that I have described in this issue :)

[2021-02-16 09:29] 2disbetter opened #2910 "Push Notifications lead to incorrect discussion / group discussion"
### Description:

Since 14.4 push notifications for specific discussions or group discussion do not function correctly. When the notification is tapped on, it will go to the correct discussion but after loading, another discussion will open which is not correct.

### Environment Information:

- Rocket.Chat Server Version: current snap
- Rocket.Chat App Version: 4.14 / 4.14.1
- Device Name: Fairpho

[2021-02-16 12:21] pechqwer opened #2911 "[Bug] The Online Status has changed into offline when switch the application / lock the screen"
### Description:

[Bug] The Online Status has changed into offline when switch the application / lock the screen

### Environment Information:

- Rocket.Chat Server Version: 3.7.1
- Rocket.Chat App Version: 4.14.0.22701
- Device Name: iPhone 12
- OS Version: iOS 14.4

### Steps to reproduce:

1. Users login to the RocketChat on mobile application (which is connected with the website and the status

[2021-02-16 13:15] matchsp opened #2912 "Admin panel on iphone doesn't scroll"
### Description:

The Admin panel can't be scrolled down on the iphone. This happened after we upgraded RC Server to the 3.10.5 Version

### Environment Information:

- Rocket.Chat Server Version: 3.10.5
- Rocket.Chat App Version: 4.14.1.22787
- Device Name: Iphone 11
- OS Version: ios 14.4

### Steps to reproduce:

1. On the iphone App go to the admin panel
2. Click on any of the Aministration ca

[2021-02-17 04:27] sys-3 opened #2913 "Blocked users' messages are still viewable on mobile"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.11.0
- Rocket.Chat App Version: 4.14.1.22782
- Device Name: LG Stylo 5
- OS Version: Android 10

### Steps to reproduce:

1.
2.
3.
4.

### Expected behavior:

### Actual behavior:

### Additional context:

[2021-02-17 12:01] #2913 closed

[2021-02-18 09:38] gpopesc commented on #2866
I am fed up with rocket chat bugs. I think they consider us a beta testers for app. I still have it on my server, but I switch all users to mattermost. It is simpler, faster, but it does what it should do. Rocket Chat has a lot functionalities, it has a lot of updates, but unfortunately not very well tested.  Now I am looking for a bugs free version and probably I will not update afterwards....but

[2021-02-18 10:34] emikolajczak opened #2916 "Launcher icon not changed - 4.14.1 Android Single-server"
### Description:

Hi, I try to compile `single-server` version 4.14.1. The issue is Android launcher icon not changed to custom. I have replaced all below files (marked blue)
![image](https://user-images.githubusercontent.com/50440047/108343822-ae8aae00-71dc-11eb-883d-d6a98237b31b.png)
But after build and install icon still is
![image](https://user-images.githubusercontent.com/50440047/108343987-e

[2021-02-18 10:41] progressify commented on #2866
@gpopesc I am sorry for your experience. I love rocket.chat and I don't think I will never change it.

@diegolmello if I try to load `libjsc.so` and `libc++_shared.so` in `packagingOptions`:
[code]
it works perfectly but If I try to publish on play store I receive a warning for 32bit library only (probably libjsc is a 32bit library only)
I think jigasi needs some dependencies available in libjsc?

[2021-02-18 12:59] diegolmello commented on #2866
@progressify Do you have logs?

@gpopesc

Sad to hear that, but that's not fair. You've never opened any issues on this repo. We're not free of bugs, but we're a community and opening issues is the first step to have them fixed.

[2021-02-18 13:04] diegolmello commented on #2916
Hey, @emikolajczak.
[Documentation says:](https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#general-setup-1)

We use [Adaptive Icons](https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive), so you should create a new image asset from Android Studio.

[2021-02-18 13:04] #2916 closed

[2021-02-18 13:36] deva-gopalani commented on #2706
Hey Diego... i needed your help... i have cloned this repository and i have made a few tweaks (UI related) for my use case... i have added FCM to my version too... now when we run the debug version (play) everything works fine. I just wanted your help to know how i could go about generating a release version of the same apk so that my users could use it.

Currently the app works on local host so w

[2021-02-18 13:49] gpopesc commented on #2866
https://github.com/RocketChat/Rocket.Chat/issues/20087

Don't get me wrong, I like a lot RocketChat, that's why I am still testing and I follow those topics. but as long as I don't have a single month without server issues, I can't implement it for everybody.
- First time I was using all in one version from docker hub, which become obsolete, then I lost all data (it also my fault)
- then we had hi

[2021-02-18 14:27] grahhnt commented on #2650
@diegolmello I'm not that familiar with the mobile app flow, what endpoints does the app try and load before a room is rendered?

[2021-02-18 15:59] diegolmello commented on #2706
@deva-gopalani Hey. Nice to hear that!
Follow these docs https://reactnative.dev/docs/signed-apk-android

[2021-02-18 16:12] C1ean commented on #2910
Is it similar to  https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2870 ?

[2021-02-18 16:37] deva-gopalani commented on #2706
Thanks for your prompt response @diegolmello ! I would surely refer this for making the release apk.

Another doubt which I had was that now my debug application is working on the localhost. How could I make it work in such a way that my users could use it from anywhere? Like what changes have to be done so that the application can talk with my remote server?

[2021-02-18 17:11] newmanw opened #2917 "[BUG] Android - auth challenge with no cert loaded causes authentication webview to hang"
### Description:

If a certificate auth challenge is requested on Android the webview will hang if no certificate is loaded.

This is a recent breaking change, https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2624.

Our authentication providers will first present a cert auth challenge, if that auth challenge is canceled, the auth provider will present a view allowing users to authenticat

[2021-02-18 17:16] progressify commented on #2866
@diegolmello here the logcat when the jigasi user enter in the room without the inclusion of `libjsc.so` and `libc++_shared.so`

[code]

[2021-02-18 17:17] 2disbetter commented on #2910
It could be, but I have no notice that pattern of use.

[2021-02-18 18:53] #2907 closed

[2021-02-19 09:43] sys-3 opened #2920 "Blocked users' messages are still viewable on mobile"
### Description:

When blocking someone using the web client, the messages are not hidden on the mobile app.

### Environment Information:

- Rocket.Chat Server Version: 3.11.0
- Rocket.Chat App Version: 4.14.1.22782
- Device Name: LG Stylo 5
- OS Version: Android 10

### Steps to reproduce:

1. Go to 'User Page'
2. Click on 'Block'
3. Open Mobile App
4. View their messages in a public channel

##

[2021-02-19 21:45] aKn1ghtOut opened #2923 "[BUG] Fields content in attachments does not render Markdown"
### Description:

On Web client:
![Screenshot from 2021-02-20 03-07-55](https://user-images.githubusercontent.com/38764067/108564541-4ac1cb80-7329-11eb-9249-c189af2f4fb7.png)

On App:
![Screenshot_20210220-030440_ DEBUG _Rocket Chat_Experimental](https://user-images.githubusercontent.com/38764067/108564595-62994f80-7329-11eb-8dd6-dfba156aa3ef.jpg)

### Environment Information:

- Rocket.Chat Serve

[2021-02-20 04:17] adrastest opened #2925 "Play voice messages from cache when mobile data is off."
I want to play those voice messages that I have played before when we dont have internet-connnection.
other apps like Whatsapp can play voice messages from cache in offline mode.

[2021-02-20 10:57] aKn1ghtOut opened #2926 "[BUG] App renders attachments differently from Web Client"
### Description:

While using the message object example from the [Docs page](https://docs.rocket.chat/api/rest-api/methods/chat/postmessage) :
`{
  "alias": "Gruggy",
  "avatar": "http://res.guggy.com/logo_128.png",
  "channel": "#general",
  "emoji": ":smirk:",
  "roomId": "Xnb2kLD2Pnhdwe3RH",
  "text": "Sample message",
  "attachments": [
    {
      "audio_url": "http://www.w3schools.com/tags/

[2021-02-20 11:51] AndreySemenov1 commented on #2882
Hi All!

Any luck ?

[2021-02-21 04:53] adrastest opened #2929 "Notification not working when app is not running."
I use Rocket Chat React-native android app (4.14.0) in my local rocket-chat server (3.10.5)
everything working fine but notification alert not working when app is not ruuning or app is in recent list
anyone help us?

[2021-02-21 23:15] danfelbm commented on #2904
For anyone experiencing the same issue, it seems the metro server had to be running inside Android Studio (its terminal) or from the android folder. And now it works.

[2021-02-22 02:01] stayif commented on #2884
same problem，when I start the Android app, it crashes。

https://user-images.githubusercontent.com/7867389/108647967-f0756600-74f4-11eb-8f41-3409a94728dc.mp4

![Screenshot_2021-02-19-16-42-43-084_com android se](https://user-images.githubusercontent.com/7867389/108647979-fa976480-74f4-11eb-951f-053cd589c52f.jpg)
![Screenshot_2021-02-19-16-42-33-875_com android se](https://user-images.githubusercont

[2021-02-22 09:39] progressify commented on #2866
Let me know if you need other information :)

[2021-02-22 11:44] #2904 closed

[2021-02-22 11:46] diegolmello commented on #2884
@stayif Do you have logs? https://developer.android.com/studio/debug/bug-report

[2021-02-22 21:37] #2505 closed

[2021-02-23 01:19] ThangPh96 commented on #2884
I have the same problem when checkout single-server branch and configuring following this guide https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps#important.

[2021-02-23 02:28] stayif commented on #2884
@diegolmello thanks for your help
[bug.txt.zip](https://github.com/RocketChat/Rocket.Chat.ReactNative/files/6026443/bug.txt.zip)
[bug.txt.2.zip](https://github.com/RocketChat/Rocket.Chat.ReactNative/files/6026444/bug.txt.2.zip)

[2021-02-23 03:05] ThangPh96 commented on #2884
iOS log:

RROR: BSG_KSCrashState.m (183): _Bool bsg_kscrashstate_i_loadState(BSG_KSCrash_State *const, const char *const): /Users/thangphan/Library/Developer/CoreSimulator/Devices/36ACFE90-F825-4D49-BD76-EA63C728137D/data/Containers/Data/Application/5EDFE41E-A554-4F55-AF39-C1B5C7F35B33/Library/Caches/KSCrashReports/WorkUp/WorkUp-CrashState.json: Could not load file: Error Domain=NSCocoaErrorDomain

[2021-02-23 07:47] ThangPh96 commented on #2884
@amoebav I resolved this issue on iOS by https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1332. Pls try it.

[2021-02-23 08:33] emikolajczak opened #2937 "[BUG] Jitsi shared screen not visible on Android"
### Description:

When I join to Jitsi video call via Android app and someone share a screen from desktop app, is not visible.
On iOS app everything is fine, is possible to see shared screen.

### Environment Information:

- Rocket.Chat Server Version: 3.9.7
- Rocket.Chat App Version: 4.14.1
- Device Name: Samsung A20e
- OS Version: Android 9

### Steps to reproduce:

1. Join to Jitsi video call v

[2021-02-23 08:39] emikolajczak opened #2938 "[Issue] Jitis call - lower voice quality"
### Description:

When I join Jitsi call via Android client voice quality is lower than desktop app or iOS app. Volume is significantly lower.

### Environment Information:

- Rocket.Chat Server Version: 3.9.7
- Rocket.Chat App Version: 4.14.1
- Device Name: Samsung A20e
- OS Version: Android 9

### Steps to reproduce:

1. Join to Jitsi call via Android device
2. Voice quality is lower than deskto

[2021-02-23 14:00] #2839 closed

[2021-02-23 20:46] aKn1ghtOut opened #2940 "[BUG] useRealName is not enforced for messages before they're submitted to server and refreshed"
### Description:

When submitting a message using the app, the temporary local copy of the message added does not contain the user's name. This leads to the name glitching/changing once the message is actually published to the user's name as the server has the name in its copy of the message.

### Environment Information:

- Rocket.Chat Server Version: 3.11
- Rocket.Chat App Version: 4.14.1
- Devi

[2021-02-23 21:36] #2940 closed

[2021-02-24 04:39] adrastest commented on #1836
@yash-rajpal @diegolmello
self signed certificate still not solved any new suggestion ?

[2021-02-24 12:19] diegolmello commented on #1836
@adrastest I'm sorry about the silence here, but I asked you to open a new issue if the problem persists https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1836#issuecomment-771642227

Self signed certificate is quite hard for us to be able to help (requires access to server, certificate, user, etc).
What we do every release is to QA on our configured servers.

[2021-02-25 02:24] sys-3 opened #2942 "[IMPROVEMENT] Implement shadowbanning and easier moderation?"
### Description:

Make moderation easier?

### Environment Information:

- Rocket.Chat Server Version: 3.11.1
- Rocket.Chat App Version: 4.14.1.22782
- Device Name: LG Stylo 5
- OS Version: Android 10

[2021-02-25 02:26] #2942 closed

[2021-02-25 07:19] ankar84 commented on #2937
Hi, @emikolajczak
What is your Jitsi server version?

[2021-02-25 07:19] ankar84 commented on #2938
Hi, @emikolajczak
What is your Jitsi server version?

[2021-02-25 07:21] ankar84 commented on #2929
Did you enabled Push Gateway in Admin Panel of your RC Server?
Native (market) applications with work with push only via gateway.

[2021-02-25 07:30] emikolajczak commented on #2937
Hi @ankar84
Prosody, Jicofo - stable-5142-4
Web - stable-4548-1
Videobrige 2

[2021-02-25 07:30] emikolajczak commented on #2938
Hi @ankar84
Prosody, Jicofo - stable-5142-4
Web - stable-4548-1
Videobrige 2

[2021-02-25 07:50] ankar84 commented on #2937
![Screenshot_2021-02-25-14-49-09-354_chat.rocket.reactnative.jpg](https://user-images.githubusercontent.com/4023037/109120619-c3d18080-7778-11eb-980f-0ac22e559c38.jpg)

[2021-02-25 07:52] emikolajczak commented on #2937
Could you share your Jitsi versions?

[2021-02-25 07:54] ankar84 commented on #2937
[code]

[2021-02-25 08:07] aKn1ghtOut commented on #2920
This does not appear to be the blocking policy that Rocket.Chat follows. The app seems to be consistent with the web client here. You might want to open an issue at RocketChat/Rocket.Chat instead

[2021-02-25 09:19] barrydegraaff commented on #2758
@diegolmello I can confirm this issue.

In my scenario I have the SSO banner stay in the APP as well.

iframe url:
https://zm-zimbra9.barrydegraaff.tk/service/extension/rocket?action=redirect
this will always return HTML with a link for the user to go to the login page of my application.

api url:
https://zm-zimbra9.barrydegraaff.tk/service/extension/rocket?action=signOn
if called when logged in,

[2021-02-25 09:30] barrydegraaff commented on #2758
@diegolmello I can send you a test account if you wish!

[2021-02-25 09:39] Badal1234 commented on #2925
I will work on this and make a pull request for this soon.

[2021-02-25 15:13] niiiixd commented on #2781
The problem was solved after upgrading server version to 3.11.0

[2021-02-25 15:52] diegolmello commented on #2781
@niiiixd Thanks for your feedback.
We're going to merge backwards compatibility anyway on #2934

[2021-02-25 16:41] #1476 closed

[2021-02-26 03:11] ThangPh96 opened #2945 "Can't build android apk (unable to load script)"
I'm using this command to build android apk:

`npx jetify && cd android && ./gradlew clean && cd .. && react-native bundle --dev false --platform android --entry-file index.js --bundle-output ./android/app/src/main/assets/index.android.bundle --assets-dest ./android/app/src/main/res && cd android/ && ./gradlew assembleDebug`

Run the apk on device I got the error:

Pls see this image https://prnt.

[2021-02-26 10:07] ThangPh96 commented on #2945
I changed the bundle's name in MainApplication and It worked.
`@Override
    protected @Nullable String getBundleAssetName() {
      return "index.android.bundle";
    }`

[2021-02-26 10:07] #2945 closed

[2021-02-26 13:56] MrWillTurner commented on #2655
+1

[2021-02-26 18:31] #2692 closed

[2021-02-26 18:31] #2781 closed

[2021-02-26 19:34] ahtrahdis7 commented on #2853
@refactor-droidyy are you working on this issue ?

[2021-02-27 05:09] #2929 closed

[2021-02-27 05:14] adrastest commented on #1836
thank you @diegolmello
I created a new issue( self signed certificate not supported?)

[2021-02-27 21:05] ArnavKaushik opened #2952 "[BUG] Google OAuth and password login fail with white-label and official client"
### Description:

I followed the guide on the documentation ([located here](https://docs.rocket.chat/guides/developer/mobile-apps/whitelabeling-mobile-apps)) and when I ran the app (on both iOS and Android) after assigning a custom server in `app.json`, I tried to login with Google OAuth. An OAuth screen pops up, and when I login it disappears and nothing happens. I enabled password login and I tr

[2021-02-28 11:17] serenturgut commented on #2849
Thank you very much for your reply.

On Monday, February 1, 2021, Diego Mello <notifications@github.com> wrote:

[2021-03-01 07:49] mobinpatel1 opened #2955 "Notification delayed from FCM (ReactNative - Android)"
There is delay in notification from rocket chat, sometime the delay exceeds 20 min.

 Chat server used **3.11.1** then also having delay in notification.

Please suggest solution.

Thank you

[2021-03-01 20:49] darthShadow commented on #2952
Is there any temporary workaround or solution available?

[2021-03-01 21:08] diegolmello commented on #2952
Google dropped support for OAuth on embedded browsers https://developers.googleblog.com/2020/08/guidance-for-our-effort-to-block-less-secure-browser-and-apps.html

The workaround I can think of is implementing it using Google's native signin https://github.com/react-native-google-signin/google-signin
We can't do it on our apps, because we need to support multiple Google configurations, but it shou

[2021-03-01 23:41] ArnavKaushik commented on #2952
Thank you for the quick response! I'll definitely look into this.

Would it be possible to get a basic implementation example of this?

[2021-03-02 12:17] dev7050 opened #2956 "Customisation in Jitsi SDK."
Hello Team,

We want to do some customisation on JITSI video call UI. But we haven't found any property through which we can edit video calling screen.

Any help would be appreciated

Thank you :)

[2021-03-02 13:17] diegolmello commented on #2952
@ArnavKaushik It can be a lot of reasons. Can you debug and check for logs?

[2021-03-02 16:40] sergiomb2 opened #2957 "how we close the app without logout ?"
After open rocket chat until reboot the device, rockterchat is always on , without option to close without logout, i.e. don't have to login again write the password , every time , I want close de app .

### Environment Information:

- Rocket.Chat Server Version: 3.0.4
- Rocket.Chat App Version: 4.14.1.22788
- Device Name: ZTE Blade A6
- OS Version: Android 7.1.1

### Steps to reproduce:

1.
2.
3.

[2021-03-02 18:52] ArnavKaushik commented on #2952
Yeah I figured it would be a vague issue. I checked the logs with debug mode on and it seems that the API request is going through, but I don't see any response in the logs. For example, when logging in on mobile with my username/password, I see this in the log: `server.js:204 API ➔ debug POST: /api/v1/login` and that's it. When I login through the web or desktop app, the logs show everything corr

[2021-03-02 19:54] diegolmello commented on #2952
Can you debug the app? There's probably an error happening somewhere, but it doesn't tell the server about it.

[2021-03-02 21:08] ArnavKaushik commented on #2952
After running the app on an iOS simulator and monitoring the console, I found the following errors:

[code]

and when I expanded the error, I saw this:
[code]

Could this be related to a WebSocket error?

Thank you for the help!

[2021-03-03 07:13] zhaolu1206 opened #2958 "Chat feature problem"
After quoting a passage in the chat, the quotation is not a passage, but a link.

[2021-03-03 08:40] Spyspyspy opened #2959 "iOS issue with RSA"
Hello, i can not compile app, because of stack in RSAUtils.swift

I have this error and I don't know what to do next

Value of type 'OpaquePointer' has no member 'pointee'

[2021-03-03 13:05] diegolmello commented on #2952
It doesn't look right.
Follow [this](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/CONTRIBUTING.md#how-to-inspect-the-app) and try to login on https://open.rocket.chat
You'll see the calls to REST API and how the app behaves.
Then test it on your server and check what's going on after `/login` is called.

[2021-03-03 15:45] ArnavKaushik commented on #2952
Thanks for the guide! I followed it and found some more details.

When I logged into the the https://open.rocket.chat server, everything worked as expected. When I logged into my custom server, I found that the login request was returning the correct information (it returned my user data). However, I noticed that there was an error that occurred after the app received my information successfully.

[2021-03-03 18:54] diegolmello commented on #2952
`connect error` is usually something related to socket issues.
Is socket configured on your server?
On your browser, if you open your server url with developer console opened, do you see something?

[2021-03-03 19:54] #2452 closed

[2021-03-03 20:13] ArnavKaushik commented on #2952
It was a socket issue! Turns out the Apache configuration in the documentation ([located here](https://docs.rocket.chat/installation/manual-installation/configuring-ssl-reverse-proxy#running-behind-an-apache-ssl-reverse-proxy)) didn't include this line:

`RewriteCond %{HTTP:CONNECTION} Upgrade [NC]`

before the other `RewriteCond` for the websocket. I've attached my current rewrite rules for futur

[2021-03-03 20:13] #2952 closed

[2021-03-03 20:19] diegolmello commented on #2952
Awesome, @ArnavKaushik!
Thanks for debugging and finding the issue.
Can you open a PR improving our documentation? https://github.com/RocketChat/docs/blob/1f7f71edbf65f68e80ff47c0451bb3d710ba1306/installation/manual-installation/configuring-ssl-reverse-proxy.md#running-behind-an-apache-ssl-reverse-proxy

[2021-03-03 20:30] ArnavKaushik commented on #2952
Sure thing! I'll get it done ASAP.

[2021-03-03 20:50] Earvonio commented on #2959
Hi, I have the same error

[2021-03-04 07:38] ankar84 commented on #2957
I don't have that issue.
Check **Forget User Session on Window Close** setting in **Admin UI - Accounts**
![image](https://user-images.githubusercontent.com/4023037/109927717-ae5ada00-7cd5-11eb-9b6d-c9dbda49e5c4.png)
Or something else related to user session length

[2021-03-04 07:40] ankar84 commented on #2958
Please fill your issue with proper ussie template and attach a screenshot demonstrating your problem.
Thanks!

[2021-03-04 11:51] sergiomb2 commented on #2957
I think I don't have this option on my android

Thank you

[2021-03-04 12:07] diegolmello commented on #2957
@sergiomb2 It's on Admin panel > Accounts.

[2021-03-04 14:38] brunohl91 opened #2962 "OmniChannel Queue does not appear in the Mobile APP"
### Description:
I was conducting some tests with the APP and the OmniChannel service queue does not appear. When the service is transferred directly to my user, I can answer it, but when it comes in a queue, I can't get it through the APP, either using normal or experimental.

### Environment Information:

- Rocket.Chat Server Version: 3.12.0
- Rocket.Chat App Version: 4.14.1.22788
- Device Name:

[2021-03-05 07:55] ankar84 commented on #2699
I must reopen that issue - proof of bug is sent to Diego at open server.

[2021-03-05 12:11] progressify commented on #2866
Hi, have you some news about that? 😉

[2021-03-05 13:27] diegolmello commented on #2866
@progressify I'm planning this for next sprint. Thanks.

[2021-03-05 13:42] #2877 closed

[2021-03-05 13:42] #2819 closed

[2021-03-05 14:34] arielsagaut opened #2967 "Android: No message recording button"
### Description:

Android: No message record button, neither on the message screen nor on the "+"

### Environment Information:

- Rocket.Chat Server Version: 3.9.7
- Rocket.Chat App Version: 4.14.1 and Experimental 4.15.0
- OS Version: Android 10 & 8.1

### Expected behavior:

An audio Button to record messages
![image](https://user-images.githubusercontent.com/80109234/110129531-d1a18a00-7da6-11

[2021-03-08 22:25] Earvonio opened #2969 "IOS: RCTRsaUtils Swift Compiler Error"
### Description:

After downloaded the node modules and launched pod install command, the build failed due to a Swift Compile Error in react-native-simple-crypto framework.

### Environment Information:

- Rocket.Chat App Version: 4.14.1
- XCode Version:  12.4
- Cocoapods Version: 1.10.1

### Steps to reproduce:

1. Clone the project;
2.  Launch _yarn_ command in the main folder;
3. Go in ios fold

[2021-03-09 22:11] jacotec opened #2971 "Make Bugsnag optional for privacy requirements"
### Description:

Got the following message from Apple:

Promising to every user that RC is a fully GDPR compliant and highly privacy respecting solution, ticking several points in the privacy disclaimer as recommended by Bugsnag is not the best solution, especially as Bugsnag does not give me any useful information.

Therefore Bugsnag should be fully optional to use and for privacy reasons you sh

[2021-03-10 08:59] matchsp commented on #2912
With the Rocket.Chat server upgrade to the version 3.12.1 has been the problem resolved

[2021-03-10 12:37] diegolmello commented on #2971
I see your point.
Bugsnag is important not only for our apps, but for yours.
When you whitelabel our app, you may change something (add new features) or you might have done something wrong in the process.
If a crash/bug happens and you have no error monitoring tool, you won't be aware of it.
A crash report from Bugsnag would help you figure our or even help us solving your own issue.

In addition,

[2021-03-10 12:37] #2971 closed

[2021-03-10 13:27] Wahyuaji0098 commented on #2849
Any update on the feature so far?

[2021-03-10 13:54] #2912 closed

[2021-03-10 13:55] diegolmello commented on #2638
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2912#issuecomment-795112741

[2021-03-10 13:55] #2638 closed

[2021-03-10 15:55] nmplcpimenta commented on #2655
I'd like to take on this issue; if anyone has anymore information, I'd be thankful =)

[2021-03-10 18:08] Earvonio commented on #2959
@diegolmello Do you have some insights to resolve this problem? Actually, I can't run the project with XCode due this problem...

[2021-03-10 18:15] djorkaeffalexandre commented on #2959
Which version of Xcode are you using?

[2021-03-10 18:20] djorkaeffalexandre commented on #2959
Do you have made any changes in the source code?

[2021-03-10 18:30] djorkaeffalexandre commented on #2959
Have you tried to close-reopen xcode?
It's hard to track if one of your changes are causing this behavior.
I'm using the same Xcode version of you and already clone and build the project 3 or more times this week.

[2021-03-10 18:42] Earvonio commented on #2959
Yes, I closed and reopened XCode, I cleaned the build folder too. My problem is related to RCTRsaUtils.swift file and I didn't touch something in the pod file or in the project section. The error appear after a yarn -> pod install commands. I think that is related to react-native-simple crypto library.

**This is the error that appears:**

<img width="901" alt="Screenshot 2021-03-10 at 19 35 03" s

[2021-03-10 18:47] djorkaeffalexandre commented on #2959
<img width="682" alt="Screen Shot 2021-03-10 at 3 46 29 PM" src="https://user-images.githubusercontent.com/29778115/110680786-d061ca00-81b7-11eb-8563-de131e505685.png">
<img width="642" alt="Screen Shot 2021-03-10 at 3 45 59 PM" src="https://user-images.githubusercontent.com/29778115/110680794-d35cba80-81b7-11eb-9742-a027a09caba3.png">
<img width="1512" alt="Screen Shot 2021-03-10 at 3 45 54 PM" s

[2021-03-11 07:32] sumukhah commented on #2853
Hello @diegolmello, @avpnusr, @refactor-droidyy
Is this issue still exists?
I would like to work on it

[2021-03-11 08:45] avpnusr commented on #2853
@sumukhah from my view (user) the issue still exists, any help would be highly appreciated

[2021-03-11 08:54] sumukhah commented on #2853
@avpnusr, can you type the exact message here?(before converting to thumbnail)?
It would be helpful for me.
thank you in advance

[2021-03-11 09:39] avpnusr commented on #2853
I'm not sure, I understand what information you need.
The message is sent to the server via a hubnot-instance, I can provide the message-code below (coffee-script):
"_query, votecount, recommender, etc._" are variables, the script gets via JSON from an online-api.

The issue remains identical, if this content is sent via REST/API i.e. with curl.

[code]

[2021-03-11 10:44] sumukhah commented on #2853
Thank you @avpnusr,
I am working on the issue,  Will send a pr soon 👍

[2021-03-11 12:05] #2959 closed

[2021-03-11 12:46] jsalatiel commented on #2849
@diegolmello I would like to give an idea for the implementation here.

Since RocketChat is becoming very popular and it is clearly enterprise focused, it would be nice if this could be implemented in the way telegram does , and not whats app. Let me explain it better:
In whatsapp , if i forward a message from someone, it will look like this:
![image](https://user-images.githubusercontent.com/5522

[2021-03-11 12:55] jsalatiel opened #2974 "Blank activity forwarding audio from whatsapp to rocketchat app"
### Description:

Can not forward audio messages from whatsapp to rocketchat. Get a blank screen after choosing the contact on rocketchat app.

### Environment Information:

- Rocket.Chat Server Version: 3.12.1
- Rocket.Chat App Version: 4.14.1
- Device Name:  Oneplus
- OS Version:  8.1

### Steps to reproduce:

1.  Open Whatsapp, Select some audio message received and choose Share.
2. On the app

[2021-03-11 13:29] jsalatiel commented on #2910
I also noticed that. If i receive a notification from a discussion, the app is not opening on the discussion, instead opens in the last chat i had.

[2021-03-11 13:33] jsalatiel commented on #2084
Upgraded to 3.12.1. Same issue as 3.8.4.
In web app I can notice that when I scroll the contact list status is reloaded, but not on mobile app.
Take a look at this, during scrolling on electron app, it shows the contact status is being reloaded.

![image](https://user-images.githubusercontent.com/5522389/110795082-351f3200-8255-11eb-8b31-1e3b216483e1.png)

[2021-03-11 15:13] barrydegraaff commented on #2758
I have figured out why the SSO banner stays in the screen, what happens is that my application does log in rocket chat, so you can see the UI. But that is just the mobile version of Rocket Chat and not what the Rocket Chat app does/shows.

In the end firing `window.parent.postMessage` from a complex web application is difficult, so I ended up implementing a separate login page, just for mobile dev

[2021-03-12 06:17] sumukhah commented on #2684
@yash-rajpal @diegolmello Is anyone working on this ?, Can I work on this?

[2021-03-12 06:20] yash-rajpal commented on #2684
@sumukhah I am currently not working on this. Please give it a shot. :)

[2021-03-12 08:13] shrinish123 opened #2976 "Unusual spacing in the Room List View"
### Description:
The spacing between the channel name and last message is less making it uncomfortable to read.

### Environment Information:

- Rocket.Chat Server Version: 3.12
- Rocket.Chat App Version:
- Device Name: Samsung A 50
- OS Version:

### Steps to reproduce:

1. Go to channel list and view the space between channel name and last message

### Expected behavior:

 There should be some c

[2021-03-12 08:29] shrinish123 commented on #2967
@arielsagaut do you mean that the recording button doesn't appear when in dark mode?

[2021-03-12 11:41] #2976 closed

[2021-03-12 11:42] diegolmello commented on #2967
There should be a `microphone` button at the right side of `+`.

[2021-03-12 11:42] #2967 closed

[2021-03-12 12:30] arielsagaut commented on #2967
@shrinish123, No, there is no microphone in light mode either.

[2021-03-12 12:38] arielsagaut commented on #2967
@diegolmello, no, there is no microphone to the right of the + and no blue markings
![chrome_2021-03-12_09-28-53](https://user-images.githubusercontent.com/80109234/110940829-47ad7000-8316-11eb-9f9c-15d242fb3c40.png)

[2021-03-12 12:48] diegolmello commented on #2967
@arielsagaut There's a setting to show/hide that https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageBox/index.js#L897
It's `Message_AudioRecorderEnabled`.
Can you check it on Admin Panel?

Also, you can try https://open.rocket.chat to check if the button is there and make sure it's a setting config on your server.

[2021-03-12 17:38] jim0020 commented on #2959
Having the same problem here.  Did anyone find the cause?

[2021-03-13 12:12] kbatavia12 commented on #2824
@pratyaksh123  Can I take this up? Thanks.

[2021-03-13 12:13] pratyaksh123 commented on #2824
Yeah go ahead 👍

[2021-03-13 12:15] kbatavia12 commented on #2824
@pratyaksh123 Can you quickly guide me through it, I had a problem finding the source of the pdf file, can you tell me where to find it? Thanks.

[2021-03-13 18:11] kbatavia12 commented on #2824
@diegolmello @pratyaksh123  I keep getting the error "app:mergeExperimentalPlayDebugNativeLibs failed" when I add react-native-pdf to the project and then I cannot run it in debug mode. Can you please guide me on how to fix this error? Thanks in  advance.

[2021-03-14 10:42] sumukhah commented on #2832
Hello @pratyaksh123, Are you working on this issue?
If not can I take it?

[2021-03-14 13:09] pratyaksh123 commented on #2832
Yeah go ahead, but do confirm this issue is still happening, maybe the team fixed it in some release.

[2021-03-14 17:06] jim0020 commented on #2959
@Earvonio Make sure your Pods are all being included.  I had lots of warnings about the iOS Deployment Target being too low and not supported.  To get to those, click on the Pods project file, then you'll see the list of all the podfile targets, for each one in Build Settings check the setting for iOS Deployment Target.  I set each of mine which was < 9.0 to 9.0.  There's a lot of them so I modifi

[2021-03-15 11:31] giterium commented on #2962
The same problems. I don't know exactly from which version :(

[2021-03-15 14:36] diegolmello commented on #2832
Fixed on #2878

[2021-03-15 14:36] #2832 closed

[2021-03-15 14:45] jim0020 opened #2983 "single-server branch broken due to dependency issues"
### Description:

I'm trying to build from the single-server branch to use our own RocketChat server.  The build fails due to out of date dependency conflicts.

1) the js dependencies are broken and the system can't resolve them.
2) the Podfile references pods which are out of date with the current XCode system.

### Environment Information:

MacOS BigSur (11.2.3)
XCode 12.4
node 15.11.0
npm v7.6.

[2021-03-15 17:31] MonsieurKoZo opened #2985 "listening to and searching in audiofiles with mobile clients"
### Description:

Impossible to listen to entire audio files (maybe a limit on file size or audio length), to search in a file. Counter is stuck at 00:00.

### Environment Information:

- Rocket.Chat Server Version: 3.8.4
- Rocket.Chat App Version: 4.14.1.22787
- Device Name: iPhone
- OS Version: 14.4.1

### Steps to reproduce:

1. Upload a audio file (WAV, MP3, ....)
2. Click on play
3. It's a bu

[2021-03-15 19:29] diegolmello commented on #2699
Hey, @ankar84.
We weren't able to reproduce it.
We've tried with 30+ participants and everything worked fine.
Different than the usual video conferencing, Jitsi decodes videos on the clients rather than the server, so it takes a higher amount of memory and CPU.
Next time you see this error, capture a [bug report](https://developer.android.com/studio/debug/bug-report) and send us.
With that in hand

[2021-03-15 19:29] #2699 closed

[2021-03-15 20:11] jim0020 commented on #2983
Tried the develop branch as well, same issues there.

[2021-03-15 21:13] Earvonio commented on #2959
@jim0020 thank you for your explanation! It was very useful!

[2021-03-16 08:14] HiveMindNet opened #2987 "Deeplink for Authentication Broken"
### Description: When clicking a previously before working deep link with authentication, the URL seems to add to the app but the credentials are not applied and the user is not logged in.

### Environment Information:

- Rocket.Chat Server Version: 3.12.1
- Rocket.Chat App Version: 4.15.0
- Device Name: iPhone 12 Pro Max
- OS Version: 14.4

### Steps to reproduce:

1. Install the app
2. Open deep

[2021-03-16 08:27] ks150820 commented on #2974
The react-native-sound package may help you,
I think you should first check the extension of the shared URL if its extension is .mp3, then you have to put this extension in the react-native-sound package, and then share.

[2021-03-16 11:39] diegolmello commented on #2987
Can you add detailed info?

[2021-03-16 13:51] sumukhah opened #2988 "[Improvement] Adding swipe to 'quote and reply' to a message"
### Description:
At present, users need to long-press on a message to get action sheets and find the 'quote' option to point a message. It would be useful to have swiping action in the message list, and It makes quote and reply action easier and faster!?.

### Expected behavior:
Slide a message to right/left, and it will quote the message.

![gif](https://briffly.com/wp-content/uploads/quick_reply

[2021-03-16 13:54] sumukhah commented on #2988
I would like to work on this,(if this feature is required?)

[2021-03-16 15:25] HiveMindNet commented on #2987
Hi @diegolmello sure :)

1. We use iFrame auth so that users use the log in from our website to authenticate within Rocket. **(WORKS)**
2. We use the API to create and get the authToken as per /api/v1/users.createToken. **(WORKS)**
3. We publish on our website an auth_link such as: https://go.rocket.chat/auth?host=ourdomain.com&token=' . $authToken . '&userId=' . $userId; **(WORKS)**
4. User can i

[2021-03-16 18:09] sumukhah commented on #2988
Closing this issue, copy of #764, #1895
PR is at [#769](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/769)

[2021-03-16 18:10] #2988 closed

[2021-03-16 18:39] sumukhah commented on #2866
Hello @diegolmello, @progressify,
can you explain what is **Jigasi component** means?
and How you joined the meeting/voice call from the second device(in the above video) using Jigasi component?

[2021-03-16 20:21] jbalint-de opened #2990 "[Bug] Directory lists discussions by ID"
### Description:

In the channels directory and the preview discussions are listed by an ID (not sure which one) instead of the discussion name.

### Environment Information:

- Rocket.Chat Server Version: 3.12.1 (Snap)
- Rocket.Chat App Version: 4.15.0.23394, 4.14.122787
- Device Name: iPhone 6S, iPhone SE
- OS Version: iOS 14.4, iOS 14.4.1

### Steps to reproduce:

1. Got to channel directory ->

[2021-03-17 01:45] ankar84 commented on #2699
Hi, Diego!
I will send you a report for sure.
But I think it's a code related issue, but not hardware related.
iOS don't have that issue - iOS code implementation is better then Android
Consecutive successful test with **Jitsi Meet** mobile app right after failed **RCRN app** on same call on same device pointes to code, not hardware.

[2021-03-17 01:52] ankar84 commented on #2699
For some reason on Android RCRN thinks that there is a network failure.
https://github.com/jitsi/jitsi-meet/blob/9f9e192c3ca795826b08e0bfca79a2ea081844e5/react/features/overlay/components/AbstractPageReloadOverlay.js#L150

[2021-03-17 12:25] progressify commented on #2866
hi @sumukhah
jigasi is the jitsi component that manage the sip events. if you can configure a jitsi instance with jigasi you can invite in the call a phone number in the conversation.
when the jigasi user (sip user) enter in the room rocket chat crashes!
If I use the jitsi app on play store works great.

[2021-03-17 19:16] txwheeler commented on #2987
I can confirm that this does not work. If I test this on iOS mobile app version 4.14.1.22787 it works. If I test on iOS mobile version 4.15.0.23394 it will not work.

As @HiveMindNet said, we are using the same process for the deeplink authentication.  It works well from a pc to desktop app or pc to web application.

[2021-03-17 21:26] jacotec commented on #2985
Could be related to #2586

What storage do you use for attachments? File system gave me a 0 length for audio messages with all kinds of trouble, changing to GridFS at least brought stupid lengths with less trouble.

I hope this will be fixed one day.

[2021-03-17 21:29] jacotec commented on #2779
@yash-rajpal Do you see some light on the horizon with this issue? ;-)

[2021-03-18 13:49] diegolmello commented on #2956
Refer to https://jitsi.github.io/handbook/docs/dev-guide/mobile-feature-flags

[2021-03-18 13:49] #2956 closed

[2021-03-18 14:44] #2923 closed

[2021-03-18 17:29] sumukhah opened #2996 "Lot of Suggestions popup in middle of a sentence(message)."
### Description:
While writing messages so many pop-ups come, which feels uneasy to write a message.
for eg:
if I want to give my email id, I will write `MY_EMAIL@GMAIL.COM`. Using an `@` in the middle of a word makes user suggestion popups.(same with `#, :, / ` symbols). I get pop up even if I use it in the middle of a word.

### Environment Information:

- Rocket.Chat Server Version:3.12
- Rocke

[2021-03-18 18:48] sumukhah commented on #1580
Working on the Issue 👍
Will send a PR soon

[2021-03-18 20:15] jsalatiel commented on #2974
Hi, thanks for your help, but that won't help the end user, unfortunately.

[2021-03-18 20:16] jsalatiel commented on #2084
@diegolmello  is there any progress on tracking what triggers this problem?

[2021-03-19 04:12] semartsal opened #2998 ""Jump to Message" Feature"
### Description:

 Hey, Guys. Can u tell, when will the function "Jump to message" be available in the mobile application ? or when development is planned

### Environment Information:

- Rocket.Chat Server Version: 3.11.1
- Rocket.Chat App Version: 4.15
- Device Name: any
- OS Version: Android, iOS

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

### Actual behavior:

### Additional co

[2021-03-19 06:20] ankar84 commented on #2998
Duplicate of https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1315

[2021-03-19 11:51] #2998 closed

[2021-03-19 12:41] sumukhah opened #2999 "Unable to configure detox"
Followed [this doc](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/e2e/README.md), Still getting these errors detox with IOS
### Description:

[code]

[2021-03-19 13:22] alexander-potemkin commented on #1580
Cool, thank you!

[2021-03-20 09:56] sumukhah commented on #2999
This issue is unrelated to Rocket-chat and detox. Caused by XCode.
[This](https://stackoverflow.com/a/63955114) has helped me to fix the problems.

[2021-03-20 09:56] #2999 closed

[2021-03-20 11:26] shrinish123 opened #3001 "Dropdown to select parent channel doesn't work while creating a discussion"
### Description:

The dropdown to select the parent channel doent work on clicking it when we try to create a discussion

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version:
- Device Name: SamsungA 50
- OS Version: Windows

### Steps to reproduce:

1. Go to Create a discussion
2. Try to open the parent channel dropdown
3.

### Expected behavior:

The dropdown sho

[2021-03-20 12:55] #3001 closed

[2021-03-21 17:56] jacotec opened #3002 "Incoming call, alarm clock etc. trashes voice message recording"
### Description:

I'm getting many complaints regarding a reproducible issue when voice messages are being recorded.

When someone is recording a voice message, did already 10 minutes, and i.e. some of these things are happening:

- Incoming call
- Alarm clock of the smart phone fires
- A timer runs off
- iPhone popup asks for network provider updates
- ...

The voice message is fully trashed into

[2021-03-21 22:10] MonsieurKoZo commented on #2985
Hi jacotec,
I use indeed File System, but I do not think I can change it as it is running on a Raspberry PI, so GridFS is not advised.

But it works with the browser, so I would suggest issue comes from the mobile apps.

[2021-03-22 12:08] sumukhah opened #3003 "User status should update only after save action"
### Description:
User status (online, offline, e.t.c) will update even if a user closes the screen(If there is any change in status) without save, whereas user status text remains the same

### Environment Information:

- Rocket.Chat Server Version: 3.12
- Rocket.Chat App Version: 4.15
- Device Name: IPhone 11
both in Android & IOS

### Steps to reproduce:

1.  Click on your status (or edit status

[2021-03-22 20:51] nmagedman commented on #2987
metoo.

What @HiveMindNet describes is exactly our use-case and the problem we are seeing.   We only noticed it after upgrading our RC server from 3.6.0 to 3.12.1, and the RC iphone/android client upgrade came at about the same time.  We likewise can still launch the web-client via a token, but not the mobile app.

[2021-03-22 21:28] jacotec opened #3009 "Badge number getting cleared on app background"
### Description:

The badge number at the app icon is often not properly updated. This issue was introduced in 4.15.0

### Environment Information:

- Rocket.Chat Server Version: 3.12,1
- Rocket.Chat App Version: 4.15.0
- Device Name: iPad, iPhone
- OS Version: IOS 14.4.1

### Steps to reproduce:

1. Use your RC app
2. Have all your messages read
3. Sometimes the badge is still showing a number of

[2021-03-23 01:49] ankar84 commented on #2699
@diegolmello Sent you bug report to DM at open server
Hope it help you

[2021-03-23 12:02] diegolmello commented on #3009
That's not a proper reproducible example.
"Clearly introduced" implies you're certain about how to reproduce and that it doesn't happen on previous versions.
If that's the case, just update your description.
Thanks.

[2021-03-23 12:37] jacotec commented on #3009
Clearly, because it never happened at any user before 4.15.
Since 4.15, I have 5 users with 9 iDevices in my direct "access" where it happens, plus a number of complaints from others.

I am not sure how it can be reproduced ... it happens quite often when you exit the app with all messages read that the badge still shows a number of unread messages. Just re-opening the app and close it again, it s

[2021-03-23 13:00] diegolmello commented on #3009
Understood.
The badge number on app icon is sent on the push notification from the server.
We didn't change anything related to that on the app to clear or update it.
I'm closing until someone can add more info.

[2021-03-23 13:39] diegolmello commented on #2870
Fixed on #2894

[2021-03-23 13:39] #2870 closed

[2021-03-23 13:40] #2958 closed

[2021-03-23 13:41] #2811 closed

[2021-03-23 13:44] diegolmello commented on #2962
It's an enterprise feature and it requires a license.
We're updating our pricing to mention it.
Thank you.

[2021-03-23 13:44] #2962 closed

[2021-03-23 13:44] #2920 closed

[2021-03-23 13:45] #2917 closed

[2021-03-23 15:51] jacotec commented on #3009
@diegolmello OK, I did some more tests and can reproduce it now - and I confirm what you've written above.

The badge **is** updated with push messages, correct. But cleaning it "away" when you close the app with all messages read seems to be what broke.

Test procedure:

- Having my iPhone here with all read messages and no badge icon. Logged in to my account, lets say account "A". App is in back

[2021-03-23 16:02] jacotec commented on #3009
See below a video of the test above. The app is the second from the left in the bottom row (Icon: JC)

The bug might be related to the single-server version as I can't reproduce it with the official RocketChat app on a test server!

(As the screen video is too big for GitHub please find it here: https://jaycloud.de/s/NTHwnZRcJ9zZ784 )

[2021-03-24 14:49] jim0020 commented on #1874
This link is a 404, and I don't see the patch being applied.

[code]

[2021-03-24 15:43] jacotec commented on #3009
@diegolmello Can we agree to reopen this issue as I can fully reproduce it and have posted an evidence that the issue is existing?

I'm getting complaints from nearly all my IOS users regarding this, because they miss messages (if the badge always stays at "1" after a message was read, it stays also "1" when a new message was received) and I'm thinking about reverting my app to 4.14.1 as long as n

[2021-03-24 17:49] diegolmello commented on #3009
@jacotec Makes sense. Can you contribute with a fix? Thank you.

[2021-03-24 17:52] jacotec commented on #3009
@diegolmello Unfortunately not as I have no clue of react native programming. I would immediately if I could!

[2021-03-25 13:17] sumukhah opened #3019 "Mentioning a user, joins the mentioned user to the group"
### Description:
Take for example a user 'A' who is not already a member of a group "Group A". Mentioning user "A" makes the user to join the group.

### Environment Information:

- Rocket.Chat Server Version:3.13
- Rocket.Chat App Version:4.15
- Device Name: IOS & ANDROID
- OS Version: 13.7

### Steps to reproduce:

1.  Go to a group/channel.
2. Mention a user who is not already in the group.
3.

[2021-03-25 13:23] sumukhah commented on #3019
I'll give it a try fixing this bug.

[2021-03-25 13:31] diegolmello commented on #3019
That's not an issue. It's a setting.

[2021-03-25 13:31] #3019 closed

[2021-03-25 13:43] sumukhah commented on #3019
@diegolmello, Where would I get that setting?

[2021-03-25 15:48] diegolmello commented on #3019
I don't recall, but you can test if it's an issue in the app by sending a similar message from the web client.
You'll see that the user is going to be added to the channel.

[2021-03-25 18:17] giterium commented on #1760
are you planning to add the ability to start OTR from a mobile phone?

[2021-03-25 21:15] diegolmello commented on #2911
Fixed on 4.15

[2021-03-25 21:15] #2911 closed

[2021-03-26 12:12] diegolmello commented on #1760
It's not a priority, but it's for sure on our plans

[2021-03-30 06:50] Gummikavalier commented on #2703
We are seeing this behavior with RC iOS client 4.15.0.23394 (server version is currently 3.12.3) when TOTP 2FA is enabled.
I assume the issue began after we upgraded to 3.12.0 from 3.9.8 but I'm not sure.

Clearing up cookies did not help.

[2021-03-30 12:10] diegolmello commented on #2703
Fixed on #2978

[2021-03-30 12:10] #2703 closed

[2021-03-30 19:43] sumukhah opened #3031 "Add e2e tests for Android"
### Description:
Currently, we can run e2e tests only on iPhones. Extend this feature to android mobiles.

### Expected behavior:
Detox integration with both IOS and Android.

### Actual behavior:
Detox integrated with only IOS.

### Additional context:

[2021-03-30 19:47] sumukhah commented on #3031
#3030 Is incomplete PR. Tries to integrate, but stuck in a bug, It may help integrating detox with android.

[2021-04-01 07:06] MonsieurKoZo commented on #2985
Hi guys,
Just to inform you. I upgraded to the last available version on RPI (3.12) and it still does not work.
Though, I tested on my mobile and connected to the Open RC server and it works (version is 3.13). So I think @jacotec may be right about the storage issue...

It doesn't look good to me as under a RPI I cannot use GridFS, and there is no way I use Google or Amazon services.

[2021-04-01 21:01] #2926 closed

[2021-04-01 21:06] #2901 closed

[2021-04-06 09:16] tuanlvntq opened #3038 "Share some file large size had crash on IOS"
### Environment Information:

- Rocket.Chat Server Version: newest
- Rocket.Chat App Version: newest
- Device Name: iPhone x
- OS Version: iOS 13, 14.x

### Steps to reproduce:

1. Goto photo or Files folder
2. Select some file have large size, pdf file about 30mb, videos, images about 40-50mb then share with rocket chat
3. click send -> crash on share extension

### Expected behavior:

Can share

[2021-04-07 02:05] hungnb94 commented on #2955
Android phone just receive notification and show it. So this is not mobile's problem.
You should check problem on server & FCM.
I try to improve notification  a couple times but it still not working perfect.

[2021-04-07 07:07] MDalati opened #3040 "Upload not working when phone language set to Turkish"
### Description:

We are using Rocket.Chat in Turkey and realized there is a problem when uploading files on Android, after investigating the source of problem we discover that this problem happens when phone language is set to Turkish and not related to app language.

I am working on a fork of react-native project, and tried rocket.chat official app from store, and our branch of project, problem

[2021-04-07 12:30] diegolmello commented on #2955
@mobinpatel1 A couple questions:
Are you using our gateway?
What device is having this issue? https://dontkillmyapp.com/
How can we reproduce it?

[2021-04-07 14:50] ntrsboy opened #3042 "single-server version application crash on IOS - Failed prop type"
### Description:

Single-server app crashes on IOS with the following error: "Warning: Failed prop type: Invalid prop `children` of type `array` supplied to `_c`, expected a single ReactElement."

### Environment Information:

- Rocket.Chat Server Version: N/A
- Rocket.Chat App Version: 4.15.0
- Device Name: IOS Emulator iPhone 11 Pro Max or iPhone hardware
- OS Version: IOS 14.4

### Steps to rep

[2021-04-07 16:21] newmanw commented on #2803
I am seeing the same thing on both iOS and Android, with the exception that neither debug nor release seems to work.  I am currently running single-server branch after 4.15.0 release.

I have tried updating MMKV on the iOS side, still the issue persists.  Although since I am seeing this on Android as well, something else must be going on.

[2021-04-07 17:01] newmanw opened #3043 "Bugsnag optional for whitelabel builds"
### Description:

This is related to #2971, but for different reasons.  I support a number of government customers that would like to bring Rocket.Chat into their enterprise.  One reason why applications like Rocket.Chat are invaluable to the government is the ability to host these systems internally. Restrictions when running on a government system are high, one of these being communication with

[2021-04-07 17:25] ntrsboy commented on #3042
For some reason in the Xcode workspace there was a fourth project with the red default icon, which looked somewhat out of place as it is not mentioned anywhere in the build tutorial. Once I removed that project it all built and worked fine. So, closing this issue.

[2021-04-07 17:25] #3042 closed

[2021-04-07 18:56] #2996 closed

[2021-04-08 07:38] ugoertz opened #3045 "Custom OAuth should use exactly same redirect_uri for all requests to OAuth provider"
Logging into a self-hosted RocketChat via a custom OAuth provider with the mobile app does not work for me.

As far as I understand, it is a strict requirement of the OAuth protocol that the exact same redirect_uri is used for the whole process of authenticating a user, and also query parameters such as `?close` have to match. This is not satisfied with the custom OAuth provider settings, because

[2021-04-08 12:24] #1580 closed

[2021-04-08 12:26] diegolmello commented on #3045
@ugoertz Can you test on 4.15.0? It's still live on https://play.google.com/store/apps/details?id=chat.rocket.android

[2021-04-08 12:40] ugoertz commented on #3045
Thanks for the quick reply. I see exactly the same problematic behavior with 4.15.0.23396.

[2021-04-08 12:46] diegolmello commented on #3045
Ok. It's easy to misconfigure custom oauth and we have a couple of issues about it that may help you https://github.com/RocketChat/Rocket.Chat.ReactNative/issues?q=is%3Aissue+custom+oauth
Please follow them and let us know.

[2021-04-08 12:46] #3045 closed

[2021-04-08 13:38] zdumitru opened #3046 "Inconsistent attachment color behaviour between mobile app and web version"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.12.1
- Rocket.Chat App Version: 4.16.0.23722
- Device Name: Samsung S20
- OS Version: Android 11

### Steps to reproduce:

1. Send a meesage to a channel or user that has following format:
[code]

2. Check how it looks in the web version and compare it with mobile app.
3.

### Expected behavior:

Attachment colors shou

[2021-04-09 10:47] ankar84 commented on #2393
Looks like my issue is fixed in 4.16 (I use beta now)
Both problematic chats works as expected.
I'll check that issue for some time and if all ok, I'll close that issue.

[2021-04-09 12:29] adrianovieira opened #3049 "Replay message on iOS not working"
### Description:

Replay message on IOS not working for “screen locked”
### Environment Information:

- Rocket.Chat Server Version:3.13.0
- Rocket.Chat App Version:4.15
- Device Name: iPhone
- OS Version: iOS 12.5.2

### Steps to reproduce:

1. message arrive on locked screen
2. see it and try to answer
3. send it, but I got the image below

### Expected behavior:

Message sent even when answering

[2021-04-09 18:33] ugoertz commented on #3045
I do not think any of those issues is relevant, in fact the `redirect_uri` is never mentioned.

I found out that with Login Style set to "Popup" or "Redirect", the redirect_uri used is the same for all requests (never using the `?close` parameter). In particular with those settings the above problem disappears. (Is this in the documentation anywhere?)

With Login Style set to "Default", logging in

[2021-04-10 10:28] adrastest commented on #2849
@diegolmello  we are still waiting for  forward message.
in which version will be added this feature?

[2021-04-11 21:03] poltrian commented on #1793
some news? Missing these option at the Android App

[2021-04-12 15:59] diegolmello commented on #2849
We've been focusing on Teams and Jump to Message.
We don't have enough hands to work on this.
I'd love to review your PRs.
Thank you.

[2021-04-12 21:20] AmatorPhasma opened #3054 "iOS 4.16.0 broke channel menu (actions)"
### Description:

### Environment Information:

- Rocket.Chat Server Version: 3.13.1
- Rocket.Chat App Version: 4.16.0
- Device Name: iPad Gen 8
- OS Version: 14.4.2

### Steps to reproduce:

1. Click in any channel on the name at th title bar

### Expected behavior:
At least: users can leve the channel there...

### Actual behavior:
broken menu:
<img width="1080" alt="image" src="https://user-ima

[2021-04-13 07:02] Ein-Tim opened #3055 "Missing German translations"
During the log-in process there are some German translations missing:

<img src="https://user-images.githubusercontent.com/67682506/114510353-e0494f80-9c36-11eb-8904-df13fed35e2f.jpeg" width="300">

<img src="https://user-images.githubusercontent.com/67682506/114511072-b93f4d80-9c37-11eb-8d2b-21c73090ff5b.jpeg" width="300">

- Version 4.16.0
- iOS 14.5 Beta 7
- iPhone XR

Is this a problem with ou

[2021-04-13 07:28] Ein-Tim commented on #3055
Closing this issue as fixed after reboot

[2021-04-13 07:28] #3055 closed

[2021-04-13 12:57] diegolmello commented on #1099
Apple is not granting the necessary entitlement, so I'm afraid there's no solution.
Existing apps which used to do it aren't clearing push notifications from Notification Center anymore, like Slack, Telegram, etc.
https://developer.apple.com/forums/thread/130650

On Android, depending on the manufacturer, push notifications aren't delivered all the time and it might not work anyway.
This is mainta

[2021-04-13 21:31] jacotec commented on #3054
I can confirm this! Also for the official RC app.

[2021-04-14 07:39] b90g opened #3059 "SSO - SAML Login does not work"
### Description:

Loging in via SAML doesnt work, always thrown back to Login button.
### Environment Information:

- Rocket.Chat Server Version: 3.12.1
- Rocket.Chat App Version: 4.16
- Device Name: Apple Iphone SE (1)
- OS Version: 14.4.2

### Steps to reproduce:

1. Entering Server Domain
2. Clicking Login-Link on Server Page
3. Loging in via SAML

### Expected behavior:

The App saves the sess

[2021-04-14 07:45] northway commented on #3059
I have the same issue on Android with Rocket.Chat `3.12.3`.

[2021-04-14 09:10] emikolajczak commented on #3059
Hi, same issue with Custom Oauth (Keycloak). But not for all users. In server logs no entries about problems with login.

[2021-04-14 09:38] AvTopo commented on #3059
Addition to issue owner (on same server)
Same issue with:
    Device Name: Apple iPhone Pro 11 Max
    OS Version: 14.4.2

[2021-04-14 10:04] skudi commented on #3059
same issue, server 3.12.0, android app 4.15.0 is working, 4.16.0 is looping, however sometimes, after few tries it starts.
We are using jasig CAS and CAS3.0.

[2021-04-14 10:05] b90g commented on #3059
https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2978/files - sus.

[2021-04-14 12:10] diegolmello commented on #3059
Can someone send me a test user to https://open.rocket.chat/direct/diego.mello?
It's working on my SAML servers.
Thanks.

[2021-04-14 12:22] emikolajczak commented on #3059
In my case login working for new created user and some existing. But some users can't log in. After authorization in oAuth (keycloak), back to oAuth button, and after click again, back again to button.

[2021-04-14 13:04] diegolmello commented on #3059
I'm still trying to reproduce it, but it's working.
If you have a reproducible user, send me.
I can release a patch right away.

[2021-04-14 13:11] diegolmello commented on #3059
Got a reproducible example.
I'm on it and I'll keep you posted.
Thanks!

[2021-04-14 14:24] #3059 closed

[2021-04-14 16:03] #3054 closed

[2021-04-14 19:27] alanedwardes commented on #1691
I’d really love to see this feature - on iOS for example you have to save images to files/photos before sharing them, and it’s a really slow workflow vs other chat apps where you can just paste.

Might be one of those things that’s not important enough for many to report but does slow people down.

[2021-04-14 20:10] jacotec commented on #3009
@diegolmello Do you have any idea here? It's still happening on 4.16 and users are not getting aware of new messages due to the wrong badge number display after closing the app into background.

[2021-04-14 23:08] Jeanstaquet opened #3066 "Missing French translation on the user profile & notifications settings"
### Description:
There are missing french translation in the user profile & notification settings

### Environment Information:

- Rocket.Chat Server Version: 3.14 develop
- Rocket.Chat App Version: 4.16
- Device Name: OnePlus 8 Pro
- OS Version: OxygenOS 11.0.4.4

### Steps to reproduce:

1. go to a french version of the app
2. go on the user profile
3. go on the notification settings

### Expect

[2021-04-15 07:47] jacotec commented on #3009
I finally identified that this regression seems to be dependent on the node version. Updated my dev environment to node version 15.14.0, npm 7.9.0 and yarn 1.22.10, recompiled the app and the issue is gone.

Sorry for the noise!

[2021-04-15 07:47] #3009 closed

[2021-04-15 07:56] Skywalker1-CZ opened #3069 "Fatal bug - Android v. 11 (Samsung Galaxy S20+) - after upgrade on weekend (10-11. April 2021)"
Dear Rocket.chat team,
we've been upgrading our Rocket.Chat client this past weekend (10th - 11th April) and unfortunately uncountered critical issue in the mobile client. I'm using Samsung Galaxy S20+ and the Rocket.chat client 4.16.0.

I've been unable to successfully start the client as it seems to freeze on the Rocket.Chat logo. The client only start if I clear cache and data first but this "f

[2021-04-15 07:58] jacotec opened #3070 "Post node, npm, yarn, XCode and Android Studio versions of the official app in README"
### Description:

After finding out that my issue #3009 was a regression obviously caused by a different node version when buildung my app, I'd highly appreciate if the team would make a note with which version of

- node
- npm
- yarn
- XCode
- Android Studio

the official app is currently built. This can be either in the README here in the Github project or in the whitelabeling docs, but it shoul

[2021-04-15 08:51] lumitor2 commented on #3069
Hello,
we have same problem with Rocket.chat mobile apps from this weeks start. Many colleagues with Android and IOS are unable to log-in with same freeze and same problem after cache clearing.

Thanks for help, Lubomir

[2021-04-15 09:23] vargatamas86 commented on #3069
We have also experienced the issue. Setting the language to English in the profiles of the affected users seems to be a workaround.

[2021-04-15 09:43] tomtomas99911 commented on #3069
This workaround unfortunately is not working for us.

[2021-04-15 09:53] vargatamas86 commented on #3069
Steps to reproduce our workaround:
1) Setting language to en or default in user profile (My Account) on the web UI.
2) Reinstall mobile application.
3) Login in mobile application.

We use LDAP authentication and our affected users had two factor authentication turned off.

[2021-04-15 11:57] diegolmello commented on #3070
Hey, @jacotec.
The installed version of node relies on CircleCI.
For example, we use the image with Xcode 12.1: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/.circleci/config.yml#L6

As per CircleCI documentation, that machine contain the following software installed: https://circle-macos-docs.s3.amazonaws.com/image-manifest/v3985/index.html

I agree that we could add those so

[2021-04-15 12:00] diegolmello commented on #3069
How can we reproduce this issue?
It looks similar to https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/3055, but we tried reproducing it by setting my language to German and it worked.
Let us know and we can work on a patch right away.

[2021-04-15 12:01] vargatamas86 commented on #3069
Our affected users had the Hungarian language set up before the workaround.

[2021-04-15 12:17] diegolmello commented on #3069
The bug was introduced _probably_ on this PR https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/3014
Sadly, I'm not being able to reproduce the issue, so I don't feel comfortable to rollback blindfolded.

[2021-04-15 12:27] diegolmello commented on #3069
Ok, I might have got it.
The RC account must be configured to use an unsupported app language (like Hungarian) and fallback won't work.
I was trying to fallback to default from OS.
I'm working on a fix and I'm going to release a patch right away.
I'll keep you posted.
Thank you all.

[2021-04-15 13:31] #3069 closed

[2021-04-15 13:31] diegolmello commented on #3069
Building 4.16.2

[2021-04-15 15:51] diegolmello commented on #3069
It's live on Google Play. Requesting review on App Store in a bit.

[2021-04-15 19:38] cprice-kgi commented on #1645
is there a way to retro fit this fix into an older (4.9.0) version of the client? i'm observing the "blank" share screen (no image) like diego's above when sharing from gallery/photos on Android 10. if i type a caption to the file share, the caption will share, but not the file/image. this same action works fine and as expected using 4.9.0 on android 11.

the file structure was a bit different at

[2021-04-16 05:06] hrahul2605 commented on #3070
Hey @diegolmello I'd like to work on this if @jacotec is not taking this up.

[2021-04-16 05:07] jacotec commented on #3070
@hrahul2605 Feel free! ;-)

[2021-04-16 10:06] MrDiba opened #3075 "Missing NL translation in the onboarding & join workspace screen"
### Description:

There are NL translations missing for the onboarding & join workspace screens.

### Environment Information:

- Rocket.Chat Server Version: N/A
- Rocket.Chat App Version: 4.16.0.23725
- Device Name: iPhone 11
- OS Version: 14.4.2

### Steps to reproduce:
1. Download the app on a iPhone configured with the Netherlands language.
2. Open the app.

### Expected behavior:

Nice lookin

[2021-04-16 11:36] hrahul2605 commented on #3075
Hi @MrDiba the locale doesnt seem to have these translations as seen from this file
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/i18n/locales/nl.json

Can I take up this issue?

[2021-04-16 11:54] MrDiba commented on #3075
Hi @hrahul2605, I have no problem if you take this issue.

If you need someone to translate, or to verify the translations, I can do that.

[2021-04-16 12:49] hrahul2605 commented on #3075
Cool thanks, I'll open a PR please do verify the same.

[2021-04-16 13:07] diegolmello commented on #3069
Released! https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/4.16.1

[2021-04-16 13:17] hrahul2605 commented on #3075
@MrDiba Please verify the translations in the linked PR #3076 :)

[2021-04-16 13:58] MrDiba commented on #3075
@hrahul2605 I have checked and added some comments, looking very good! Thank you for you work.

[2021-04-16 16:36] jacotec commented on #2779
@adityarajsinghvi I'm not sure if @yash-rajpal is still on it, he's not replying. Do you still want to have a look into it as mentioned on Jan, 19?

[2021-04-16 16:49] cprice-kgi opened #3077 "File sharing from Android Gallery/Photos doesn't share"
### Description:

Sharing a photo from the Gallery/Photos app on Android 10, in some cases, sends nothing.

### Environment Information:

- Rocket.Chat Server Version: 3.6.0
- Rocket.Chat App Version: 4.9.0
- Device Name:  Pixel 3a
- OS Version: Android 10/11

### Steps to reproduce:

1. Go in Gallery/Photos
2. Double-click an image to bring up the full screen preview
3. Click the "share" icon at

[2021-04-16 17:00] jacotec opened #3078 "Recorded Voice Message is lost when the green check is missed on FaceID-iPhones"
### Description:

I finally found out why some users are complaining that they loose recorded voice messages from time to time. They are not sent at all, they are just trashed into nowhere.

### Environment Information:

- Rocket.Chat Server Version: 3.13.1
- Rocket.Chat App Version: 4.16.0
- Device Name: iPhone 11 Pro Max
- OS Version: 14.4.2

### Steps to reproduce:

1. Record a voice message
2.

[2021-04-16 18:18] diegolmello commented on #3077
Update your app

[2021-04-16 18:18] #3077 closed

[2021-04-17 08:09] srkunze commented on #1691
I’s also love to see this feature. 🙂

[2021-04-19 00:44] AmatorPhasma opened #3079 "[4.16] Jitsi - Starting a call from the app results always in a url with the suffix: undefined"
### Description:

Starting a call from app results always in a url with the suffix: undefined
-> start from ios app:
https://jitsi.rocket.chat/RocketChateoRXMCHBbQCdDnrkeundefined
-> start from web/desktop app:
https://jitsi.rocket.chat/RocketChateoRXMCHBbQCdDnrke6PqN65DqGZuxBT44Q

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.023725
- Device Na

[2021-04-19 07:31] lumitor2 commented on #3069
We have working mobile apps now! Thank you.

[2021-04-19 07:55] rocketbughunter opened #3080 "Adding (and excluding) a chat to the favorites section on the chats list does not work"
### Description:

Adding (and excluding) a chat to the favorites section on the chats list does not work
In the version 4.7.0 of the application and the version 3.5.1 of the server, this functionality works correctly

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone 11 pro max
- OS Version: ios 14.4.2

### Steps to rep

[2021-04-19 12:26] AmatorPhasma commented on #3079
closed because works as intended with 4.16.1, my fault to test the wrong version.

[2021-04-19 12:26] #3079 closed

[2021-04-19 15:56] sumukhah commented on #3080
I reproduced this issue. can you verify this @rocketbughunter
If you add a channel to your favorite, then close the app (also remove from the recent app).
Again open the app. Can you see the favorite sections?
In my case, I can see it. I think the home screen does not update right a way on adding favorite item

[2021-04-19 16:34] rocketbughunter commented on #3080
@sumukhah Yes, if I add a chat to favorites and then restart the application (with removal from memory) - then when I start it again, I see the chat in favorites.
The same thing happens with exclusion from favorites - restarting the application helps me see the changes in the favorites.

[2021-04-19 17:30] sumukhah commented on #3080
Working on the issue 👍

[2021-04-19 22:56] jsalatiel commented on #2084
@diegolmello this issue appears to be gone in 4.16. thanks.

[2021-04-19 23:09] #2084 closed

[2021-04-19 23:27] yaliqmadiq opened #3084 "Login accepted but doesn't work on Android with Custom OAuth"
### Description:

server -> https://bait.chat

I'm trying to login with our custom OAuth (we are using https://github.com/go-oauth2/oauth2 which we have customized to use our password store).

Logging in directly on web works fine, new users get auto-created in Rocket.chat

When using mobile on Android, I can enter the login/password and on the OAuth server it accepts it, produces a token and I ca

[2021-04-19 23:46] yaliqmadiq commented on #3084
NEVERMIND... looks like I needed to put websocket forwarding across the entire site, and I didn't know where the wss endpoint was (it's not very clear... maybe this endpoint should be put on the dashboard so it makes it more obvious?)

Nginx config now:

[code]

[2021-04-21 15:00] Gummikavalier commented on #2703
Confirming working in iOS client 4.16.1.23838.

[2021-04-22 03:10] ankar84 commented on #2699
Hey, @diegolmello
Now I'm testing on new Jitsi server, but Android issue still here.
But I did a few experiments and pretty sure that client disconnected from call right after 1 minute.
I checked the time between user from Android appears in call and disappeared from call and it's always 1 minute!
May be in Jitsi SDK there is some time-out constants and one of them is 1 minute. And if we increase

[2021-04-22 07:15] gdeusdara commented on #3080
@sumukhah I just solved this problem. I will make the pull request correctly in the morning

[2021-04-22 08:34] ankar84 commented on #2699
@AmatorPhasma Do you still experience that problem?
@jacotec Hello! Can you share your experience, do you have problem client connects to big room from Android with your whitelabel app?

[2021-04-22 09:42] jacotec commented on #2699
@ankar84 I don't have / use big Jitsi rooms. Biggest was 5 people and that worked fine.

[2021-04-22 09:47] ankar84 commented on #2699
Yeah, up to 15-20 people works pretty well, agree.

[2021-04-22 10:51] jacotec commented on #2699
If I'd need to run such a big meeting I'd not run it on Jitsi either ... I'd use my BigBlueButton server for that.

[2021-04-22 10:56] ankar84 commented on #2699
A few people already recommended me BBB for big calls.
But we still need access from smartphones.

[2021-04-22 23:35] gilesdring commented on #2758
I can confirm I can also see this, using a Keycloak identity provider registered as a custom Oauth provider. I also use iFrame integration to embed this site in an app, but also need to provide native mobile access. I can share settings here, if you need to see anything.

[2021-04-23 07:54] ankar84 opened #3086 "Update Jitsi SDK to current version"
### Description:

Current Jitsi SDK version in RCRN application is 2.10.2, but most recent stable Jitsi SDK is [3.4.0](https://github.com/jitsi/jitsi-meet-release-notes/blob/master/CHANGELOG-MOBILE-SDKS.md#340-2021-04-20) with lots of improvements and new features like screen sharing.

We have a long term bug https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2699 and I made an issue in

[2021-04-23 22:48] Piet2001 opened #3087 "NL translations not working."
### Description:

Translations for NL missing in app.

### Environment Information:

- Rocket.Chat Server Version:
- Rocket.Chat App Version: 4.16.1.23831
- Device Name: Samsung S10
- OS Version: Android 10

### Steps to reproduce:

1. open app on phone

### Expected behavior:

Dutch text

### Actual behavior:

![Screenshot_20210422-123623_RocketChat.jpg](https://user-images.githubusercontent.com/

[2021-04-24 16:22] avmentzer commented on #2877
Same here, waiting since one month for an answer from Support.
![Uploading D9454332-6BBD-4C22-8F33-7943A6939165.jpeg…]()

[2021-04-24 16:22] avmentzer commented on #2877
![3110CCEF-6B51-40E6-91B9-89185208129E](https://user-images.githubusercontent.com/74241215/115965545-12598c00-a52a-11eb-8780-441b097f644c.png)

[2021-04-24 16:31] avmentzer opened #3088 "Sharing content results in Black screen"
### Description:

Sharing anything via Rocket.Chat results in a black screen

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1
- Device Name:  IPhone XR
- OS Version:  14.4.2

### Steps to reproduce:

Share anything via Rocket.Chat

### Expected behavior:

No blank screen

### Actual behavior:

blank screen
![DA009225-D901-4DAB-94CF-A678ECABC37A]

[2021-04-25 23:48] vedatkamer commented on #3040
+1

[2021-04-26 06:59] emikolajczak opened #3089 "iOS 4.16.1 single-server - crash after deploy to AppStore"
### Description:

Hi, I have build own single-server iOS app base on 4.16.1. Build and tests on simulator were fine, but app was rejected in store due to startup crash with error:

[code]

Do you have any idea how to fix it?

### Environment Information:

- Rocket.Chat Server Version: 4.9.7
- Rocket.Chat App Version: 4.16.1 single-server
- Device Name: all
- OS Version: iOS 14.4

### Steps to repr

[2021-04-26 16:51] vplb commented on #3043
We have similar issues and requirements. It's absolutely not ideal but we are testing jamming the data by DNS.

A note, we have tried to change the Bugsnag key to something that will fail, and when it failed it actually ended up taking down the server or causing other technical problems.

I would argue that it should be addressed in all builds: *any* communication involving data collection, on the

[2021-04-27 04:54] Yacobus commented on #2876
Same issue here

[2021-04-27 06:26] adrastest commented on #2682
@MJPGPleasant  could you find any solution for hostname not verified?
if yes plz share to solution i have the same problem.

[2021-04-27 06:40] erdemolcay commented on #3040
We are also experiencing the same problem. When phone language is set to Turkish, file upload not working.

Rocket.Chat server version: 3.13.2
Rocket.Chat App version: 4.16.1

[2021-04-27 15:55] sumukhah commented on #3088
Hello @avmentzer, I tested this with (app: 4.17, server: 3.14), but could not reproduce the issue. Can you share a video record it the error still exist?
Thank you

[2021-04-27 16:18] #3087 closed

[2021-04-27 16:30] avmentzer commented on #3088
I already provided a Video to official support.
As you can see @ the Screenshot the screen stays blank, if I try to share sth via Rocket.Chat (the red button)

Von meinem iPhone gesendet

[2021-04-28 07:10] ankar84 commented on #2699
@diegolmello hey!
Now that issue can be truly closed with this workaround https://github.com/jitsi/jitsi-meet/issues/9060#issuecomment-828204875
But update of Jitsi SDK is still complete solution for that problem.

[2021-04-28 07:11] emikolajczak commented on #3089
Hi, could you advise what can be wrong. As I wrote, on simulator everything is fine.
And on more question, appstore ask about

[code]
Could you advise how to explain it them?

[2021-04-28 10:10] rocketbughunter opened #3096 "There is no date (there is only time) on the "Read receipt" screen"
### Description:

on the "Read receipt" screen there is no reading date and only time. if the message was read on a different date, it cannot be seen (screenshot 1)

in the web version there is a date and you can see if the message was read on another day (screenshot 2)

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16.1.23838
- Device Name: Iphone

[2021-04-28 10:11] rocketbughunter commented on #3096
![1](https://user-images.githubusercontent.com/82801688/116387149-2d2a4a00-a823-11eb-9f46-1585e596c3dc.jpeg)

[2021-04-28 10:11] rocketbughunter commented on #3096
![2](https://user-images.githubusercontent.com/82801688/116387208-3fa48380-a823-11eb-8cf7-2ecea220149b.jpg)

[2021-04-28 12:10] poltrian opened #3097 "iOs app not playing video from Filesystem ony from Gridfs"
### Description:

Hi,

video playing is only from Gridfs possible. Android is no problem and it works

Server: 3.13,2
iOS App: 4.16
Rocketchat runs as snap

Can someone me help please?

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.16
- Device Name:
- OS Version: Ubuntu Snap

### Steps to reproduce:

1.
2.
3.

### Expected behavior:

It looks like

[2021-04-28 12:40] DYG-GP opened #3098 "Crash after UserProfile on admin"
### Description:

Crash after click on user who joined the channel from any channel while logged in as admin.

### Environment Information:

- Rocket.Chat Server Version: 3.13.2
- Rocket.Chat App Version: 4.13.1.1
- Device Name: xiaomi mi 10 lite
- OS Version: android 10

### Steps to reproduce:
1. Login as administrator
2. Go to 'Chats'
3. Go to 'general'
4. Click on 'any user who joined the chan