[2020-03-27 09:09] ankar84 commented on #1025
Hi, @djorkaeffalexandre
We are experiencing same issue with a little difference.
I'am RC **Admin** and I can write to my **Read-only broadcast** channel from **RC.ReactNative version 4.6**
But other user with **moderator rights** in that same chat **can not write messages to that Read-only broadcast channel from RC.ReactNative version 4.6**. But he easily **can do it from web version or desktop cl

[2020-03-27 12:23] djorkaeffalexandre commented on #1025
@ankar84, I'll work on this today!
Probably it'll be fixed in the next beta.
Thanks!

[2020-03-27 14:47] ankar84 commented on #1025
Great news, Alexandre!
Will be waiting.

[2020-03-27 15:19] mar-v opened #1952 "Mobile uploads: names of files are not saved if written in non-latin alphabet (Russian, Arabic, Chinese)"
- Your Rocket.Chat app version: 4.5.2.2110 (beta)
- Your Rocket.Chat server version: 3.1.0
- Device (or Simulator) you're running with: HT 70

Steps to reproduce:

1. Open the app, any room.
2. Click on add files button, select from library, change the name to anything containing Cyrillic, Arabic or Chinese characters (probably other non-latin as well, I only tested with these three)
3. Send the f

[2020-03-28 05:59] EzequielDeOliveira opened #1955 "[BUG] Url preview flash when add or remove reactions"
- Your Rocket.Chat Experimental app version: 4.6.0.999999999
- Your Rocket.Chat server version: 3.1.0-develop
- Device you're running with: Asus zenfone 3 (ZE552KL) Android 8

![20200328_024606](https://user-images.githubusercontent.com/37127457/77816234-e73f0780-709f-11ea-98b6-2cca32fd92d8.gif)

**I'm working on it**

[2020-03-28 17:40] ozata commented on #1952
It works on my system. I reproduced a similar bug, though. When I send a photo with russian letters it looks okay on the mobile and web app,
but when I send with arabic letters it only shows on web app, does not show on mobile.

<img width="292" alt="1" src="https://user-images.githubusercontent.com/33320778/77829546-c2946f80-7133-11ea-920d-4cc35bf929e0.png">
<img width="477" alt="2" src="https://

[2020-03-28 18:04] benndip commented on #1793
Hello everyone I saw this issue then decided to work on it, then i made a pull request, but please why was it rejected? I thought it was handy as @diegolmello  said

[2020-03-28 19:16] diegolmello commented on #1793
@benndip Your PR shows the user's current location on a map.
The intent here is to share the location as a message and see other users' location.

[2020-03-28 20:57] ymybe opened #1957 "Unable to Upload Pictures taken with Camera but Screenshots work."
- Your Rocket.Chat app version: 4.5.1 (iOS -Store & Android - Git Release Downloads  latest release as of 28. March 2020)
- Your Rocket.Chat server version: 3.07
- Devices you're running with: iPhone SE 13.4 & Nexus 5 7.12 /e/

When trying to upload camera Pictures from library the app fails to upload them, i get an error message.

When uploading screenshots it works on both systems.

[2020-03-29 06:52] shash137 commented on #1957
It's working fine in my device, I tried sending the image through camera and picture library it's working.

Device: Asus_X00TD
Android version: 9

[2020-03-29 07:45] shash137 commented on #1952
The bug is there for for both web as well as app client, I reproduce the bug and I tried file name in Russian, Arabic and Spanish language but after sending there was no name, except spanish.

Russian language
![Screenshot_20200329-130001 1](https://user-images.githubusercontent.com/44723604/77843844-996cf100-71be-11ea-8d3e-32a6d930bdda.png)
I didn't get the name in my web client, and also was not

[2020-03-29 08:27] trinhpham commented on #1030
I'd like to get this up, since I am facing the same issue. Both client & server are on latest version.

[2020-03-30 14:20] #1932 closed

[2020-03-30 16:14] diegolmello commented on #1818
When the user taps `logout`, let's ask him if he wants to clear his cookies.
@xtilyn Can you add that to your PR?
Thanks.

[2020-03-30 20:19] #1536 closed

[2020-03-30 22:40] camillagds commented on #141
Updates? :smile:

[2020-03-31 09:20] shash137 commented on #1705
@diegolmello @djorkaeffalexandre  I want to work on this issue.

[2020-03-31 11:23] diegolmello commented on #141
It's planned for Q3/2020.

[2020-03-31 11:26] rnsc opened #1959 "Feature request: support for BigBlueButton video chat"
Hello,

I was wondering if it would be possible to support BigBlueButton meetings inside the iOS application.

Kind regards,

rnsc

[2020-03-31 13:08] ankar84 opened #1960 "[BUG] User can't change presence status"
- Your Rocket.Chat Experimental app version: 4.6
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: iPhone 8

Here you can see, that user presence status is stuck on **Away** and did not change for a while.
![status](https://user-images.githubusercontent.com/4023037/78029721-ba257a00-7369-11ea-80a2-dc5b223b443a.gif)
I saw that bug on Android too.
Often status stu

[2020-04-01 06:54] stefanandres opened #1962 "How to delete configured servers?"
- Your Rocket.Chat Experimental app version: 4.5.2
- Your Rocket.Chat server version: 3.0.1
- Device (or Simulator) you're running with: iPhone 8

I've added multiple test servers to the iOS App. How can I remove them?
I didn't find any way to trigger a delete action.

[2020-04-01 10:39] Prateek93a commented on #1960
@ankar84 The issue is fixed in the latest version

[2020-04-01 10:54] Prateek93a opened #1964 "Changes to UI of CreateDiscussion View needed"
- Your Rocket.Chat Experimental app version: 4.6.0.9
- Your Rocket.Chat server version: 3.1.0-rc.6
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

As the image shows, the name text input does not follow the theme. Also the text in the multiline text box appears at the center instead of top in Android. Also the titles for invite user text input and channel text input are n

[2020-04-01 11:37] Prateek93a opened #1966 "[BUG] MultiSelect keyboard behavior (Android)"
- Your Rocket.Chat Experimental app version: 4.6.0.9
- Your Rocket.Chat server version: 3.1.0-rc.6
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

As the following Gif shows, the input boxes for selecting channel and users don't work properly. The modal showing the input box goes out of screen when keyboard is opened. This creates problem in typing. Also when the modal is

[2020-04-01 11:39] diegolmello commented on #1962
Duplicated #1087

Currently, you can remove it only on logout.

[2020-04-01 11:39] #1962 closed

[2020-04-01 12:07] #1964 closed

[2020-04-01 12:12] stefanandres commented on #1962
Thanks for the quick reply!
Stupid question, but how do I logout of a server? I cannot seem to find this action either.
Also I have added a "New Server" and did not configure it and this is stuck with the standard open.rocket.chat (where I do not have an account). So I am not even logged in there, how do I log out there and remove of from the server list?

[2020-04-01 12:16] diegolmello commented on #1962
How to logout:
 - On our sidebar, Settings > Logout (you have to scroll down).

I didn't understand your app state.
If you're not logged in, you should be able to select the server you want.
Try clearing your app data (via your OS) and installing it again.

[2020-04-01 14:29] ndroo commented on #1938
Hi folks, looks like this date has now passes and no one can push app updates. Has anyone got a plan to work on this?

[2020-04-01 14:31] diegolmello commented on #1938
This issue is closed. I'll answer you at #1188

[2020-04-01 14:36] diegolmello commented on #1188
We were waiting for React Native 62 to be released before taking a look at this, which happened [last week](https://github.com/facebook/react-native/releases/tag/v0.62.0).
Apple is preventing new apps to be submitted on April.
App updates are still possible until the end of the year.

December 2020.

April 2020.

We're releasing 4.6.0 next week and then we'll update all dependencies asap (possibly

[2020-04-01 15:49] tjnull commented on #1806
Hey @diegolmello do you happen to have any update from the design team on this? I am looking to set up a rocketchat instance and I think it would be great to have a way where we can sort members by the roles they have in the member list. Otherwise scrolling through the member list and looking for certain users can become tedious and time consuming.

Discord and Slack have a feature that is similar

[2020-04-01 16:10] #1966 closed

[2020-04-01 18:58] Prateek93a opened #1970 "[BUG] When accessing the threads of a channel or discussion"
- Your Rocket.Chat Experimental app version: 4.6.0.9
- Your Rocket.Chat server version: 3.1.0-rc.6
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

As the Gif shows, when we enter thread view of channel or discussion, we get error message.
![ezgif com-resize(1)](https://user-images.githubusercontent.com/44807945/78175201-20002780-7478-11ea-9bd8-07afd1728d7b.gif)

[2020-04-01 19:19] Prateek93a commented on #1970
Actually the issue is very similar to #1444 but there, the issue came when we tried accessing threads of channel we did not join.

[2020-04-01 19:50] diegolmello commented on #688
I'm sorry, @alexroosenstein.
I closed this by mistake.

[2020-04-01 20:43] #1891 closed

[2020-04-01 21:35] regalstreak opened #1972 "[BUG] AdminPanelView not working with authentication"
I get a white screen on both Android as well as iOS

Related #1937

[2020-04-02 07:34] ankar84 commented on #1356
@djorkaeffalexandre
Almost all fine, but not all.
Today I found, that if you start **Video call** from user profile - JWT authorization will not happened.
![image](https://user-images.githubusercontent.com/4023037/78222168-6c298700-74cd-11ea-9fc7-1120df234077.png)
Alexandre, please fix it.

[2020-04-02 12:17] djorkaeffalexandre commented on #1356
@ankar84 can you open an issue about that? This is weird because we call the same function of the call on RoomActions View.
Can you describe how you navigate to RoomInfo View?
Clicking on some mention or from RoomActions?

[2020-04-02 12:42] ankar84 commented on #1356
In any chat tap at username - you get **User Info** of that user
Tap **Video call** - get error
![videoerror](https://user-images.githubusercontent.com/4023037/78250440-862c8f00-74f8-11ea-95ab-a85621f4664d.gif)

[2020-04-02 12:51] diegolmello commented on #1973
Hey, I transferred this issue to the new repo.

[2020-04-02 12:52] diegolmello commented on #1539
Let's keep conversation on #1973

[2020-04-02 12:52] #1539 closed

[2020-04-03 00:43] ndroo commented on #1188
Thanks for the update, very excited to pull this one down :)

[2020-04-03 01:27] dn-development opened #1980 "Click video to present video player, it will cause error in ios, android not this problem"
I am using react native rocket chat 4.5.1, the error show as below, thanks very much
![IMG_5582](https://user-images.githubusercontent.com/63082570/78314711-5a0f1d80-758d-11ea-9581-5a396b8abca3.PNG)

[2020-04-03 01:46] dn-development opened #1976 "Click video to present video player, it will cause error in ios, android not this problem"
I am using react native rocket chat 4.5.1, the error show as bellow, thanks very much
![IMG_5582](https://user-images.githubusercontent.com/63082570/78314711-5a0f1d80-758d-11ea-9581-5a396b8abca3.PNG)

[2020-04-03 10:17] corincorvus commented on #1920
Today i got the update to 4.6.0.16200
At the Moment i dont have any issues. i will test it this weekend. If i dont get the problem again, i will close this Issue.

[2020-04-03 10:22] ramanamatya opened #1977 "Cannot Post on Readonly channel with post readonly permission"
- Your Rocket.Chat app version: 4.5.2.286
- Your Rocket.Chat server version: 1.3.3
- Device (or Simulator) you're running with: Apple IOS

[2020-04-03 11:48] diegolmello commented on #1976
It's hard to know just by seeing the error, but make sure you pull latest `develop` branch and follow [How to run](https://github.com/RocketChat/Rocket.Chat.ReactNative#how-to-run).

[2020-04-03 11:48] #1976 closed

[2020-04-03 11:49] diegolmello commented on #1920
@corincorvus Ok. Keep us posted.

[2020-04-03 11:51] diegolmello commented on #1977
There's a work in progress at https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1951

You're running a very old version of the server btw.

[2020-04-03 11:51] #1977 closed

[2020-04-03 13:03] ankar84 opened #1978 "[BUG] Time of message is broken"
- Your Rocket.Chat Experimental app version: 4.6
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

Use Real Name enabled
![image](https://user-images.githubusercontent.com/4023037/78363821-19cb9180-75c5-11ea-9ba7-53d938146883.png)

Time of message is aligned to right too much
![image](https://user-images.githubusercontent.com/4023037/78363489-84c

[2020-04-03 13:38] Albert88406 opened #1979 "Password Policy of server is not being followed"
- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2020-04-03 13:40] Albert88406 commented on #1979
Currently it just accept any password even 1 digit

[2020-04-03 14:22] diegolmello commented on #1980
Duplicated of #1976

[2020-04-03 14:22] #1980 closed

[2020-04-03 14:23] diegolmello commented on #1979
Duplicated of #1592

[2020-04-03 14:23] #1979 closed

[2020-04-03 17:58] ReimarBauer commented on #1959
Can this also be added to the android application?

[2020-04-03 18:13] Prateek93a opened #1983 "Able to Post in the threads of a channel without joining the channel"
- Your Rocket.Chat Experimental app version: 4.6
- Your Rocket.Chat server version: 3.1.0-develop open.rocket.chat
- Device (or Simulator) you're running with: Android P Samsung Galaxy J6

As the Gif shows, we are able to post on the threads of a channel, without joining the channel.

Steps to reproduce ->
- Go to a channel which you have not joined
- Look for a thread and press reply
- You are ab

[2020-04-03 18:51] alfinurhakim opened #1984 "Stuck on splashscreen when edit code"
* Your Rocket.Chat Experimental app version: 4.6
 * Your Rocket.Chat server version: 3.0.3
 * Device (or Simulator) you're running with: iPhone 8 Plus

I'm trying install rocket chat react native and its so successfully. But when I edit the code it's a bit like adding a space anywhere and it doesn't affect the code ... the application is directly stuck on the splashscreen on android or ios and doe

[2020-04-03 19:11] alfinurhakim commented on #1984
@djorkaeffalexandre  I'm very confused :(, why is this happening ... because the bundle shows it works and I've tried repeating that shortcut

![image](https://user-images.githubusercontent.com/48195224/78396365-76589c00-7619-11ea-958e-1aefd424d4ab.png)

[2020-04-03 23:01] bestog opened #1985 "Switching between servers - automatically logged out"
I am automatically logged out when I switch between my servers. This is really strange. 🤔

[2020-04-03 23:04] djorkaeffalexandre commented on #1985
@bestog can you please add more info? Like the app version, servers version, etc.
Thanks.

[2020-04-03 23:12] bestog commented on #1985
App Version: 4.5.2.286
App Platform: iOS (iPhone X)
Server Version: 2.4.1
Same in the Other Server.

When i Click on a other Server in the header list. I Switch to the new Server and See for <1sec the channellist/chats. And then a Dialog is showing. Logout please wait. (And Hoppla...)

[2020-04-03 23:43] djorkaeffalexandre commented on #1985
Thanks!
I'm found something like this on my latest PR, #1981, that will turn users able to change their server while connecting, I found an issue that are saving wrong information sometimes when you change from one server to another and I think that is your problem.
It’s happening always or only sometimes?
You know if your connection are really good?

[2020-04-04 06:44] ankar84 commented on #1978
In 4.5 all was fine with time display.
Here screen from version 4.6.0.16200
![Screenshot_2020-04-04-13-43-39-757_chat rocket reactnative](https://user-images.githubusercontent.com/4023037/78420550-5a391700-767a-11ea-83ab-ede52a623478.jpg)

[2020-04-04 07:37] bestog commented on #1985
I tried Rocket.Chat in TestFlight and the experimental. Deleted the App completely and add the two Server. The Same Problem appears.

The Problem exists always in every Situation. :/

[2020-04-04 08:07] mors1eska commented on #1957
I have the same problem
server 3.0.10
klient 4.5.2.286

[2020-04-04 12:05] ankar84 opened #1988 "[Bug] Crash on threads tap"
- Your Rocket.Chat Experimental app version: 4.6.0.16200
- Your Rocket.Chat server version: 3.1.0
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

Tap on threads icon in chat makes app to crash. open.rocket.chat has that bug.
![Отчет](https://user-images.githubusercontent.com/4023037/78450197-1a3c5900-76a7-11ea-9bce-bd90ae3931b8.gif)

[2020-04-04 12:24] ankar84 commented on #1960
@Prateek93a can you clarify by which pr that bug was fixed and in what version?
I think it still persists in 4.6.0.16200

[2020-04-04 15:09] Badal1234 commented on #1983
@Prateek93a ,
I think this behavior is supported in web client.Check there once.

[2020-04-04 15:44] Prateek93a commented on #1960
@ankar84 Hi, sorry I was wrong, I tried to reproduce the error earlier but couldn't reproduce it but now after updating the branch, I am able to reproduce the error. The presence status is not changing. Can you open the issue again? Thanks

[2020-04-04 15:48] Prateek93a commented on #1983
@Badal1234 Hi, actually when on web client, you have to join the room first, only then the message is sent. When try you to reply in a thread, you are automatically made the member and then the message gets sent

[2020-04-04 15:57] ankar84 commented on #1960
No, unfortunately, I can't.
@diegolmello please reopen that issue

[2020-04-04 16:02] ankar84 commented on #1960
Now I did reproduce that bug on 4.6.0.16200 with my local server version 3.0.3
1. Open app, check status - it's ok
2. Minimize app
3. Clear memory
4. Open app
5. You get offline status (or invisible)
6. Try to change status - you can't

[2020-04-04 16:09] ankar84 commented on #1960
Just tested with open.rocket.chat and behaviour a little bit different. When you reopen app, you status online and you can't change it.
![Rocket](https://user-images.githubusercontent.com/4023037/78455584-63050980-76c9-11ea-9cb7-026d177411d2.gif)

[2020-04-04 17:34] alfinurhakim commented on #1984
Oke i will check again and try install nvm ..thank you for your answer @djorkaeffalexandre

[2020-04-05 19:58] ymybe commented on #1957
turns out in my case it was  limited by Nginx.  => Close.

[2020-04-05 19:58] #1957 closed

[2020-04-06 09:39] ankar84 commented on #1988
**4.2 - all fine
4.6.0.16200 - app crash**

@diegolmello @djorkaeffalexandre please look at that bug, IMHO, it's critical.

[2020-04-06 11:39] GOVINDDIXIT opened #1991 "Add fastlane to android module"
- Add Fastlane to the android module to automate android tasks
- Update CircleCi config

[2020-04-06 11:56] diegolmello commented on #1988
Duplicated of #1970

[2020-04-06 11:56] #1988 closed

[2020-04-06 12:11] loopway opened #1993 "Jitsi connection issues"
- Your Rocket.Chat Experimental app version: 4.5.2.286 for iOS
- Your Rocket.Chat server version: 3.0.4
- Device (or Simulator) you're running with: iPhone XR on iOS 13.3.1
- Jitsi Server: docker-jitsi-meet stable-4101-2

Trying to join a Jitsi video chat results in a spinning wheel which eventually times out. On the firewall dropped connections to tcp port 443 are logged. Desktop clients on MacOS

[2020-04-06 13:28] benoitm76 opened #1994 "[BUG] SAML page is closed before typing credentials"
- Your Rocket.Chat Experimental app version: 4.6.0
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: Oneplus 7 pro (Android 10) but problem occurs on tested devices

Hello,

We have a problem with SAML login on the mobile application. Indeed when a user try to login using `Login with SSO` button, our company SSO login page is properly displayed but it automatica

[2020-04-06 13:38] benoitm76 commented on #1994
For me the bug is located here: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/ee0e7bb9d17aebafe13f6660dea53c5494250820/app/views/AuthenticationWebView.js#L82

Our SAML login form redirect the user on a page containing in parameter the redirect URL for validate the SAML connection on rocketchat server. So the view detect a `navigationStateChange` and the URL contains `validate` (becaus

[2020-04-06 14:38] djorkaeffalexandre commented on #1994
Hey @benoitm76, can you reach me on `https://open.rocket.chat`?
My username is `djorkaeff.alexandre`.
I'm working to fix it now.
Thanks in advance.

[2020-04-06 19:07] #1970 closed

[2020-04-06 19:15] #1994 closed

[2020-04-06 19:32] #1960 closed

[2020-04-06 21:42] djorkaeffalexandre commented on #1452
Closed by #2000.

[2020-04-06 21:42] #1452 closed

[2020-04-07 01:03] entonio commented on #1499
Just so you know - no, it does not work in the production version. It worked for a time, maybe a month ago, but at the time you mentioned this, it had ceased working again.

[2020-04-07 11:32] aminvakil opened #2002 "Jitsi using http basic authentication"
## Describe the bug
I've created the jitsi docker and change nginx configuration and set a username/password basic authorization, then I've changed jitsi domain in rocket chat administration to username:password@myjitsi.com and everything works well in rocket chat linux and windows clients.

But I can't start a voice / video call or join a voice / video call from android client. I'm using latest b

[2020-04-07 11:54] diegolmello commented on #1499
@entonio Can you test it on 4.6.1?
We made some changes on https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1995

[2020-04-07 13:07] djorkaeffalexandre commented on #2002
You basic auth is the same of your server?
We can use same credentials to login into your jitsi?
If yes, we can use the basicAuth headers along your app before start a new call and it'll works fine.

[2020-04-07 13:26] aminvakil commented on #2002
I'm using username and password correctly if that's what you mean.

It's credentials of nginx actually, so yes if I browse the url on any browser and use the credentials I can login.

That's the problem I think, android version doesn't basicAuth headers even I've put jitsi url in rocketchat administration as this:
username:password@examplejitsi.com

[2020-04-07 13:44] djorkaeffalexandre commented on #2002
@aminvakil, we never save your combination of username and password on headers, I want to understand how is configured your proxy, if your basic authorization is the same on your server and jitsi, you use the same user to login into your server and on your jitsi?

[2020-04-07 13:55] aminvakil commented on #2002
Jitsi itself is not using any authentication, it's deployed using https://github.com/jitsi/docker-jitsi-meet repo.

This repo has a docker named web which is basically an nginx, I've changed the nginx configuration as I've said previously like this:
[code]

Then in rocketchat Administration > Video Conference > Jitsi > domain section:

Instead of meet.example.com I've put username:password@meet.ex

[2020-04-07 14:01] djorkaeffalexandre commented on #2002
Oh, thanks about that info! Maybe it can be a problem with the jitsi sdk! I'll investigate soon!
If as possible, can you reach me on `https://open.rocket.chat`?
My username is `djorkaeff.alexandre`.
If you give me some test credentials on your server it'll be more fast.
Thanks in advance.

[2020-04-07 14:04] djorkaeffalexandre commented on #1993
Hey @loopway, I think we're setting the Jitsi domain correctly, can you reach me on `https://open.rocket.chat`?
My username is `djorkaeff.alexandre`.
Maybe this can be a problem with the jitsi-sdk.
Thanks in advance.

[2020-04-07 14:19] corincorvus commented on #1920
It works fine since the last Update. Thank you!

[2020-04-07 14:19] #1920 closed

[2020-04-07 14:20] ankar84 commented on #1960
4.6.1 fixed that bug! Thanks a lot!

[2020-04-07 14:22] ankar84 commented on #1356
@djorkaeffalexandre 4.6.1 still has that bug, checked moment ago.

[2020-04-07 14:24] ankar84 commented on #1978
4.6.1 still has that bug

[2020-04-07 14:26] djorkaeffalexandre commented on #1356
@ankar84 I'm doing some refactoring on RoomInfo view to implement livechat Info and Actions, I'll take a moment to check if it was fixed with these refactor!
Thanks and best regards.

[2020-04-07 16:56] ziorufus opened #2005 "Cannot login on my Rocket.Chat server using iOS app"
- Your Rocket.Chat app version: 4.6.0.289
- Your Rocket.Chat server version: 3.0.12
- Device (or Simulator) you're running with: iPhone 8

I installed Rocket.Chat on my server and it seems to work perfectly except from iOS app.
I can login to it from web, Android app, and macOS app.
When I try to login from iOS app I got… nothing! I am asked to insert login and password, I click on the blue button

[2020-04-07 17:04] ghalestrilo commented on #1374
I want to work on this. Has there been any progress yet?

[2020-04-07 17:18] djorkaeffalexandre commented on #1991
We should review it soon, thanks in advance. 🤗

[2020-04-07 17:30] #1374 closed

[2020-04-07 17:42] diegolmello commented on #2005
I transferred this issue to the correct repo, since iOS repo is deprecated: https://github.com/RocketChat/Rocket.Chat.iOS#important---please-read-this-first

WebSocket seems to be off:
![image](https://user-images.githubusercontent.com/804994/78701795-00388b80-78de-11ea-9281-d24a7b1334cf.png)

[2020-04-07 18:29] ziorufus commented on #2005
Thank you very much for your answer. What do I need to do to turn ws on?

I tried different Apache configurations, but I continue to get the error.

[code]

[2020-04-07 18:53] ziorufus commented on #2005
Update: if I use http://rocket.apnetwork.it:3000 everything is ok, but I cannot login from iOS because it does not allow connections that are not on SSL

[2020-04-07 18:56] diegolmello commented on #2005
Ok. Closing then.

[2020-04-07 18:56] #2005 closed

[2020-04-07 19:12] robinreinhardt opened #2006 "Login fails (empty site) after workspace URL"
### Description:

App Login isn't possible anymore.
After entering the rocketchat server address no login fields are visible, just an empty site

### Steps to reproduce:

1. Click "Join a workspace"
2. Enter your workspace URL
3. only an empty site is visible

### Expected behavior:

Normal login screen with username and password field

### Actual behavior:

After entering the workspace URL only a

[2020-04-07 19:18] diegolmello commented on #2006
Send me your server URL at https://open.rocket.chat.
I'm `@diego.mello` there.
Thanks.

[2020-04-07 19:45] robinreinhardt commented on #2006
I'm registered on open.rocket.chat, but cannot find you in the search

[2020-04-07 20:49] robinreinhardt commented on #2006
With the help of @diegolmello we fixed the problem:

In the settings under `General` -> `REST API` an incorrect value was set at `Default Count`
After I set the value from `1` to `50` (default value) the app login was possible again.

The problem is solved and the issue closed.

[2020-04-07 20:49] #2006 closed

[2020-04-08 14:01] monarkh-karina opened #2009 "App crashes on hiding system messages in room settings"
- Your Rocket.Chat app version: 4.5.2 (+ 4.6.0 Experimental)
- Your Rocket.Chat server version: 3.0.2
- Device (or Simulator) you're running with: Samsung Galaxy J7

App crashes while trying to configure system message hiding in a random channel/room (doesn't happen to every channel on the server / no definite pattern so far - happens in both default and non-default channels, with one or multiple

[2020-04-08 14:02] monarkh-karina opened #2010 "Making video calls after Video conference being disabled on the server"
- Your Rocket.Chat app version: 4.5.2 (+ 4.6.0 Experimental)
- Your Rocket.Chat server version: 3.0.2
- Device (or Simulator) you're running with: Samsung Galaxy J7

Steps to reproduce:
1. Disable video conference on the server.
2. User 1 enters the chat with User 2, navigates to the user info and click on "Video call" -> User 2 gets push notification about the call and joins the call.
3. User 2 c

[2020-04-09 02:28] nexus166 opened #2015 "emoji ignored in POST to /api/v1/chat.postMessage"
hi!

POSTing a message to `/api/v1/chat.postMessage` and including an Emoji/avatar for the message, the emoji is visible in web interface but not from mobile - I see the original avatar of the user/bot the token used to authenticate the HTTP request are associated with.

- Your Rocket.Chat Experimental app version: 4.6.0 / android 9
- Your Rocket.Chat server version
[code]

- Device (or Simulator)

[2020-04-09 03:42] ankar84 opened #2016 "[BUG] Version 4.6.1 drops Jitsi call right after start"
- Your Rocket.Chat Experimental app version: 4.6.1.16337
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: Xiaomi Mi9 SE

We have Jitsi integration at our on-premise RC server.
Version 4.6.0 works great with our Jitsi - call starts fine.
But newest version 4.6.1.16337 drops Jitsi call right after successfully created it ("Click to Join" button appear in channel)

[2020-04-09 04:02] ankar84 commented on #2016
@djorkaeffalexandre resolved that issue to me at open.rocket.chat and will resolve it for everybody with this fix https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2017/
Root cause, that default count of results of REST API is set to 50 and now there is 52 settings that mobile application get, so `uniqueID` was cut.
Workaround for that is to set default count for REST API more then 52,for

[2020-04-09 04:35] diegolmello commented on #2016
@ankar84 We're going to merge and release it asap!

[2020-04-09 05:34] #2016 closed

[2020-04-09 07:29] paolo050181 commented on #1191
Hello,
i cannot upload image from mobile and browser.
the debug error when i try is:
API ➔ debug POST: /api/v1/rooms.upload/rAkEiEbmzPWRdPC6k
Meteor ➔ method canAccessRoom -> userId: 6Q7PvzYcaktD56Jwb, arguments: ["rAkEiEbmzPWRdPC6k","6Q7PvzYcaktD56Jwb"]
Error: FileNotFound: no file with id cJtg56H5ZCDf49eyZ found
    at /opt/Rocket.Chat/programs/server/npm/node_modules/meteor/npm-mongo/node_modul

[2020-04-09 15:59] JuzSer opened #2019 "[BUG] Critical - Keep crashing in the room with addSectionBlock UIKit"
- Your Rocket.Chat Experimental app version: 4.6.0.289
- Your Rocket.Chat server version: 3.0.10
- Device (or Simulator) you're running with: iOS 13

I'm developing some apps for Rocket.Chat but there is a critical issue with Block UIKit.

The app keeps crashing when you open a room that contains the BlockBuilder there is addSectionBlock (I will tell you more details below). And so on, you will **

[2020-04-09 16:02] djorkaeffalexandre commented on #2019
Hey @JuzSer, can you contact me on `https://open.rocket.chat/direct/djorkaeff.alexandre`?
If you provide some app with these issue I can debug it more easy.
Thanks in advance.

[2020-04-10 03:04] JuzSer commented on #2019
Hi,
I tried to connect to your rocket but my network is very slow to load.
I've created an app and attached here, so it may help you to see the bug.

The flow is:
- Install app
- Type `/mobile-test`
- So the app will send you a message (that only contains the addSectionBlock).
- You can open rocket via mobile to run the command or just type it on desktop and check on mobile.
- Then the app's crash

[2020-04-10 10:24] farfromrefug opened #2021 "Apk size too big"
Right now you seem to be releasing universal apks which means kind of a huge app.
Could you please switch to aab ?

Our planet will thank you ;)

[2020-04-10 10:26] nexus166 commented on #2015
same with RocketChat Server v3.0.12. About to upgrade to 3.1.0, will post info on that.

[2020-04-10 14:34] pmayer opened #2023 "Broken CAS Authentication on iOS"
- Your Rocket.Chat Experimental app version: 4.6.1 (16339)
- Your Rocket.Chat server version: 3.0.4
- Device (or Simulator) you're running with: iPhone 8

CAS Authentication doesn't work anymore in 4.6.1 (16339) - after logging in the WebView stays open and nothing happens. It worked fine in 4.6.0 (16245) and before.

[2020-04-10 14:48] djorkaeffalexandre commented on #2023
Hey @pmayer, can you contact me on `https://open.rocket.chat/direct/djorkaeff.alexandre`, or provide more info about how looks your CAS url while the oauth webview is opened?
Thanks in advance.

[2020-04-10 15:32] JuzSer commented on #2019
Thank @djorkaeffalexandre 👍
One more thing, can you check the submit button in modal too?
When I provide the close button without submit button in modal, it's also crashed.

[2020-04-10 15:51] djorkaeffalexandre commented on #2019
Fixed here https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2022/commits/16f74fc6ca83111d017d4f9b8e8bcd093f0c0c84 😄

[2020-04-10 23:03] soundsc opened #2025 "Inline image data is displayed in web client, but not in mobile client"
- Rocket.Chat server version: 2.4.8
- Device: iPad (also reported on iPhone)
- Client version 4.6.3.294 on iPadOS 13.4.1

**Bug Description**
Attached images are not displayed for messages with a certain format. Occurs on iPadOS but not in web client.

Screenshot (cropped):

![IMG_0408 PNG](https://user-images.githubusercontent.com/13485513/79027907-516ea680-7b8e-11ea-8b65-71ee1317bc67.jpeg)

**Ex

[2020-04-11 06:24] ankar84 opened #2026 "Reorganize Voice Message to Push-to-Talk mode"
Our users complain about how current Voice Message function works.
If user tap a microphone icon by accident (for example) and then minimized app to background, voice message recording will continue, but most android smartphones will not show any notification about that recording. MIUI of Xiaomi can show notification about microphone usage by backgrounded application. And iOS shows similar notific

[2020-04-11 11:54] soundsc commented on #2025
It seems that the canonical way to upload files is via `/rooms.upload`. That explains why this kind of message is not supported: most clients simply would not create messages in this way.

So it's a question of whether "inline images", which are technically permitted by the server, should be displayed, or how else to deal with this kind of content. Renaming issue title.

[2020-04-11 12:21] aminvakil commented on #2002
https://github.com/jitsi/jitsi-meet/issues/5419

As it has been said on this issue I've successfully enable jwt authentication using https://github.com/jitsi/docker-jitsi-meet and have set it in my rocketchat as well, now android and desktop version both work correctly.

Although it would be great if http basic authentication works as well, but for now jwt does the job.

[2020-04-11 12:21] #2002 closed

[2020-04-11 13:36] trinhpham opened #2027 "[Bug] Audio of Jitsi call is distored when the app is not in foreground"
- Your Rocket.Chat Experimental app version: 4.5.2 from Google Play
- Your Rocket.Chat server version: irrelevant
- Device (or Simulator) you're running with: Redmi Note 5 Pro, MIUI 11.0.3, Android 9

While in call, it's reasonable to take a look on some other apps like emails, documents, etc.
But when other apps are on the foreground, I can't hear the audio as clearly as when RocketChat is on the

[2020-04-13 02:19] aleadco opened #2028 "Error showing the members of a channel or group."
- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: 3.1.0
- Device (or Simulator) you're running with: Android 8.0.0

The option to show the members of a channel or group does not work, Those who are online are not shown and neither are all the channel members

![Screenshot_20200412-200632_RocketChat](https://user-images.githubusercontent.com/35962168/79086769-3bd2

[2020-04-13 09:47] nexus166 commented on #2015
same on 3.1.0 server

[2020-04-13 11:51] diegolmello commented on #2015
Hi! I didn't get what do you mean by `emoji/avatar`.
Can you give us an example of what's not working?
Screenshots?
It's working on our [server](https://open.rocket.chat)

[2020-04-13 12:17] nexus166 commented on #2015
@diegolmello I mean the `emoji` field in the POST endpoint documented at https://rocket.chat/docs/developer-guides/rest-api/chat/postmessage/. It says:

But this is only true on web client: on mobile I see the original avatar of the bot/user POSTing the message through /api/v1/chat.postMessage

[2020-04-13 12:27] nexus166 commented on #2015
**web**
![2015-web](https://user-images.githubusercontent.com/9354925/79120264-cc081380-7d92-11ea-8e9b-cc4e7a1248b0.png)

**mobile**
![2015-mobile](https://user-images.githubusercontent.com/9354925/79120268-cd394080-7d92-11ea-8108-1cfccdcd8bec.jpg)

sorry for kindergarten editing - am a backend guy

[2020-04-13 12:29] diegolmello commented on #2015
Got it. Thanks.

[2020-04-13 12:51] #1025 closed

[2020-04-13 13:11] #2023 closed

[2020-04-13 13:56] #2019 closed

[2020-04-13 14:41] fuckreligious commented on #1993
Hi, please come in just a little questions, thanks

[2020-04-14 11:04] nexus166 commented on #2015
[this](https://github.com/nexus166/rocketchat_post/blob/master/main.go) is the "client code" by the way

[2020-04-14 12:52] Krinkle commented on #2028
I'm having the same issue on iOS. The channel panel says there are 5 members, but then pressing that shows an empty list (the web interface shows 2 active users in the equivalent interface). Pressing "All" shows a spinner for a second but the list remains empty.

|…|…
|--|--
| ![IMG_4042](https://user-images.githubusercontent.com/156867/79226834-eb687480-7e56-11ea-8e73-ce682cc4c47d.PNG) | ![IMG_40

[2020-04-14 13:05] Krinkle opened #2033 "Unable to use "Add users""
- Your Rocket.Chat app version: 4.6.3.294.
- Your Rocket.Chat server version: 3.1.0.
- Device: iPhone running iOS 13.4.

**Steps**:
1. In a channel, press "Add users". (I used a private channel, not sure if specific to that.)
2. Observe the initial list of users based on your past interactions.
3. User the input field to type the name of a user not yet in the channel and not in the initial list.

[2020-04-14 13:14] djorkaeffalexandre commented on #2033
Hey @Krinkle, what I'm doing different here? It worked fine for me.
![](https://media.giphy.com/media/KBPrPhu15Y0RWDURI3/giphy.gif)

[2020-04-14 13:21] Krinkle commented on #2033
The username I added started with a capital letter, and I used copy/paste to insert it.

I copied "Hello SomeNameHere" and pasted it there, then removed "Hello " from the start.

I don't know if that made a difference :)

[2020-04-14 13:36] djorkaeffalexandre commented on #2033
@Krinkle I think it's not create any difference, can you please create a GIF and post here to I see more details?
Thanks in advance.

[2020-04-14 18:16] Krinkle commented on #2033
I've seen restarted my phone for other reasons and am now unable to replicate the issue. I'll re-open if it happens again.

[2020-04-14 18:16] #2033 closed

[2020-04-14 23:09] CantBelieveThisWorks commented on #1711
@diegolmello Could you comment on what is missing to get commit #1125 running on android?
On first glance, the only difference seems to be that on iOS it is showing the certificatePicker, and therefore, a client certificate can be used.
So, is the bottleneck in the way Android is treating certificates, and therefore, only a new certificatePicker for android has to be written, or is there more miss

[2020-04-14 23:21] djorkaeffalexandre commented on #1711
Hey @CantBelieveThisWorks, it's not easily to do, we need to change the core of React Native adding a SSL Pinning before all requests and websocket connection.
Select the certificate is the more easy part of this, the complexity is to pin this certificate on OKHTTP builder and handle the websocket, how you can see on the [legacy android](https://github.com/RocketChat/Rocket.Chat.Android/pull/2007)

[2020-04-15 06:36] brtptrs commented on #2023
This seems to also be a problem on Android. Am I correct that the standard Android app is now based on this ReactNative code?
It shows version 4.6.3 in the android Play Store, and login via CAS shows the same error described above. For our iOS users the latest 4.6.4 version does sove the problem.

[2020-04-15 11:58] mahal commented on #1178
@rasos thank you!

[2020-04-15 11:58] #1178 closed

[2020-04-15 13:13] brtptrs opened #2036 "Broken CAS Authentication on Android"
- Your Rocket.Chat Experimental app version: 4.6.1 and 4.6.3
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: Android 9

The bug from https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2023 seems to also affect Android devices.

Am I correct that the standard Android app is now based on this ReactNative code?

It shows version 4.6.3 in the android Pla

[2020-04-15 13:18] djorkaeffalexandre commented on #2036
@brtptrs it was fixed to android and iOS, wait the 4.6.4 version be launched on Android, you can try to join our beta program, follow README.

[2020-04-15 13:18] #2036 closed

[2020-04-15 13:19] djorkaeffalexandre commented on #2023
Yes @brtptrs, you're right, Android and iOS apps use the same code base in React Native now, so, it was fixed to both.
Thanks.

[2020-04-15 13:23] diegolmello opened #2037 "[BUG] Displaying group DMs as option on Messagebox autocomplete"
![image](https://user-images.githubusercontent.com/804994/79342150-2922d700-7f03-11ea-8163-99a605cf496c.png)

[2020-04-15 13:27] diegolmello commented on #2021
We use [Hermes](https://hermesengine.dev/) to improve our app's performance, but it [doesn't support App Bundles yet](https://reactnative.dev/docs/hermes#note-about-android-app-bundles)

[2020-04-15 13:27] #2021 closed

[2020-04-15 13:30] diegolmello commented on #2026
It's going to be implemented on GSoC

[2020-04-15 15:09] ankar84 commented on #2026
Really good news, Diego!!

[2020-04-16 07:21] MatthiasHertel opened #2040 "Feature: Allow Video Download / Save Video"
#### Your Rocket.Chat app version:
[code]

#### Your Rocket.Chat server version:
[code]
#### Device (or Simulator) you're running with:

ios 13.3.1

 #### Problem:

i can not download a video. watch video works good. There is nowhere a save button.

[2020-04-16 14:10] jcourcel commented on #1825
Hi, I am happy to see you did a fix for this issue. Do you have an idea when it will be released? This issue avoid me and probably many other user to see any video clip and picture send to our tablet. Keep up the good work!

[2020-04-16 14:14] AgentTNT opened #2041 "Feature Request - Logout from other logged in locations"
Please implement the "Logout From Other Logged In Locations" under the profile section within the mobile app to match the desktop/web versions of the app.

[2020-04-16 14:43] aleadco opened #2042 "The entire history is not loaded in the public channels."
When you try to load the history only the last two messages are loaded. In previous versions this error did not happen.

[2020-04-16 14:45] djorkaeffalexandre commented on #2042
@aleadco can you please provide more info like your app and server version?
Thanks in advance.

[2020-04-16 14:58] aleadco commented on #2042
Excuse me, here I leave the data ...

Version: 4.6.4.16459
Server Version: 3.1.0

[2020-04-16 15:00] djorkaeffalexandre commented on #2042
@aleadco you have some gif or steps to reproduce it?
Unfortunately I can't reproduce it here.

[2020-04-16 15:32] aleadco commented on #2042
In the first GIF I show how to clean the cache, in the second I go to the Cujae Community channel and the third is a sample from the browser where you can see the messages of the channel, you will see that not all messages were loaded.  For example, pay attention to the order in which it appears in the audio message and all the messages that were stopped and were before.

![20200416_110750](https:

[2020-04-16 15:36] djorkaeffalexandre commented on #2042
@aleadco Can you please contact me on `https://open.rocket.chat/direct/djorkaeff.alexandre`?
Thanks.

[2020-04-16 16:03] diegolmello commented on #1803
@AgentTNT We enforce user agent to mimic a browser only because Google disallow sign in via Webview.

We don't have enough hands to work on this right now, but if you really need it, you can make it work using this lib: https://github.com/react-native-community/google-signin
I would be glad to review your PR.
Thanks.

[2020-04-16 18:16] Badal1234 commented on #1825
Thanks @jcourcel  for your words.
Sorry, I don't know when it will be released.

[2020-04-16 18:16] Badal1234 commented on #1825
@djorkaeffalexandre ,could you review the above PR ?

[2020-04-17 03:47] ankar84 commented on #2042
@djorkaeffalexandre
Actually I can confirm that bug. I'm sure, I saw it on 4.6.0, now I see it on 4.6.1 and 4.6.4
My read-only channel with more then 20 messages, and I can scroll only couple.
And some links in post do not colored - whey work, but user will not see, that it's a link
Server version 3.0.3

[2020-04-17 04:14] ankar84 commented on #2041
That button in mobile app will be awesome!

[2020-04-17 10:34] User35123 opened #2044 "some (iOS?) Clients can not use Jitsi - "undefined" in headline"
Hello Team!

- Rocket.Chat App Version 4.6.3
- Rocket.Chat server version: 3.1
- Device (or Simulator) you're running with: iPhone SE, iPad 2017 on iOS 13.4.1

It is absolutely not possible to create or join a Jitsi session with some iOS Clients - but not with all. I have a iPhone X Client (Logged in with Account A) and everything works. But it does not work an a iPhone SE and iPad 2017 (Both usin

[2020-04-17 11:34] shloak17107 opened #2045 "[NEW] Feature: Do Not Disturb timer for all conversations"
The app already has an option for turning off notifications for a room completely. However, it does not have an option for turning off notifications for a specified period of time. This feature will be especially useful when a room is very active and the user does not want to be bombarded with notifications from all the messages.

A **Do Not Disturb** feature should be implemented with the followi

[2020-04-17 11:36] diegolmello commented on #2045
Related to https://github.com/RocketChat/Rocket.Chat/pull/8806

[2020-04-17 15:37] nccurry commented on #1409
Seeing this issue on android as well

[2020-04-17 22:38] jsalatiel commented on #2010
It would be nice to remove the Call Button from UserInfo if Video Conference is disabled on the server.

[2020-04-17 22:44] jsalatiel commented on #2010
btw, that video call button uses anny VC backend available ? ( both jitsi or BBB )

[2020-04-18 23:08] loopway commented on #1993
After setting up a test installation I could verify that it works with jitsi-web listening on port 443, but not on port 8443.

[2020-04-19 08:16] Albert88406 opened #2046 "There is no option to remove user or set the user as owner"
- Your Rocket.Chat Experimental app version: ####
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: ####

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

[2020-04-19 16:48] martinhoess opened #2048 "[NEW] Quiet hours for (mobile/iOS) clients"
https://github.com/RocketChat/Rocket.Chat.iOS/issues/2635#issuecomment-615360426

In addition to the [Do Not Disturb](https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2045) feature

Some other apps have settings for quiet hours. So you could mute all or some notifications between a certain daytime. So you could mute notifications after work (e.g.18:00 until 08:00) so something like the

[2020-04-20 08:49] jnoorul commented on #2028
Able to reproduce the issue in iOS and found that method call "getUsersOfRoom" returns below error,

{"isClientSafe":true,"error":500,"reason":"Internal server error","message":"Internal server error [500]","errorType":"Meteor.Error"}

Server side issue?

[2020-04-20 12:40] diegolmello commented on #2046
Duplicated of #1864

[2020-04-20 12:40] #2046 closed

[2020-04-20 16:51] eig0r opened #2051 "facebook , google login ( internal server error )"
- Your Rocket.Chat Experimental app version: 4.6.4
- Your Rocket.Chat server version: 2.4.9
- Device (or Simulator) you're running with: huawei nova3i

after return from facebook  or google login its open use-name page then internal server error
any help please ?
 register  work normal  ( google, fb) from web
register
![Screenshot_20200420_184942_chat rocket reactnative](https://user-images.github

[2020-04-21 02:15] Endareth opened #2053 "Unable to login to server using latest app"
- Your Rocket.Chat app version: 4.6.4.295
- Your Rocket.Chat server version: 2.4.11
- Device (or Simulator) you're running with: iPhone XS (13.4.1), iPhone 6S (11.2.6), iPhone 11 Pro (13.4.5)

After installing fresh versions of the app, I'm unable to log into my Rocket.Chat server.

Steps:
1. Install latest app from App Store and launch
2. Hit "Join a workspace"
3. Enter \<my server url\> and hit

[2020-04-21 04:46] MatthiasHertel commented on #2040
@diegolmello

i can make a litte screencast with my phone to show what i mean or is the problem clear enough ?

[2020-04-21 04:56] MatthiasHertel opened #2052 "Code Blocks on Mobile Phones are not rendered correctly"
#### - Your Rocket.Chat Experimental app version:

Version: 4.6.4.295

#### - Your Rocket.Chat server version:
[code]

#### - Device (or Simulator) you're running with:

ios 13.3.1

#### Problem / Description

rendered code blocks in a message are not shown correctly on mobile clients.
a user wrote the a message with two code blocks (delimitted with three backtics - multiline)
inside the browser t

[2020-04-21 05:00] MatthiasHertel commented on #2052
additionally the original raw-text-message ...

![image](https://user-images.githubusercontent.com/8426566/79827105-c9627b00-839d-11ea-91e6-bc7f5b12e8b2.png)

[2020-04-22 10:34] jenova15 commented on #1959
Same here - we use BBB server for video conferencing for Moodle and Rocket Chat desktop clients but we also have both Android and iOS Rocket Chat users who could use this feature.

[2020-04-22 10:44] alt-alex commented on #1959
Hello, I'm also interested in adding this feature to an android app.

[2020-04-22 11:13] mahal commented on #441
I did a deep investigation into the issue and would like to share following result:
RC-RN client does not reflect any changes to the Avatar.

RC-RN client: 4.6.4.295 iOS, 4.6.4.2118 (Android)
RC server: 2.4.11

Things I tried and tested:

- Setting the Avatar thru API on server
- Setting the Avatar thru Admin-Panel on server
- Setting an external Avatar provider

The "Avatar cache time" is correct

[2020-04-22 11:52] mahal commented on #1409
As by my tests, this is related to the caching issue #441

But by my tests I encountered following when uploading avatars from both Android and iOS:

Steps to reproduce:
- Start RC-RN client
- Login to open.rocket.chat
- Tap Menu > Profile
- Choose image from picture roll
- Save Changes

Actual result:
- App shows "There was an error while changig avatar!"

Environment:
RC-RN client: 4.6.4.295 iOS

[2020-04-22 12:26] diegolmello commented on #2053
@Endareth Can you ping me at https://open.rocket.chat?
I'm `@diego.mello`.
Thanks.

[2020-04-22 12:53] diegolmello commented on #1959
When we do this, we're going to implement for both iOS and Android, but we don't have hands for this right now.
Maybe someone from the community could take it?

[2020-04-22 14:56] photoninger opened #2054 "app crashes on connection to Rocket.Chat Server 3.1.1"
- Your Rocket.Chat Experimental app version: 4.6.4
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Android and iOS devices

The app crashes on connection, stack trace starts with
[code]
With Rocket.Chat server version 3.0.12 the app was working.
The older version of the app (4.5.1) works also with Rocket.Chat server version 3.1.1.

I suspect the change in http

[2020-04-23 17:11] nccurry commented on #178
Also experiencing this.

Would be nice to see this added as it has been one of the first things the users of our RocketChat server have noticed and led to an overall sense that Rocket.chat is not "polished".

[2020-04-24 09:29] ankar84 opened #2058 "Update JitsiMeetSDK"
- Your Rocket.Chat Experimental app version: 4.6.4
- Your Rocket.Chat server version: 3.0.3
- Device (or Simulator) you're running with: Xiaomi Mi9SE

We have a lot of our user complaining issues with Jitsi video call experience.
Disconnects, audio problems and other.
I see, that JitsiMeetSDK in RocketChat.RN application was[ updated 7 month ago](https://github.com/RocketChat/Rocket.Chat.ReactNati

[2020-04-24 11:29] diegolmello commented on #2058
It's going to be updated on #2008.
I'll continue working on it next week.
Thanks.

[2020-04-24 11:44] ankar84 commented on #2058
Great news, Diego!
Thanks for your good work!!

[2020-04-24 14:26] BuZZ-dEE opened #2060 "Add location sharing using Openstreetmap"
Please add location sharing using Openstreetmap.

[2020-04-24 14:31] djorkaeffalexandre commented on #2060
Hey @BuZZ-dEE, please, refer to #1793, it's about location sharing on our client, we'll probably use some open source library to do it.
Thanks.

[2020-04-24 14:31] #2060 closed

[2020-04-24 16:24] arpsyapathy opened #2061 "What need for notification on Android and iOS?"
Hi all.

I have own RC Server (3.0.12) and last from google play Rocket Chat Mobile.
What i need for notification on Android and iOS?
I need push gateway? But I wouldn't want to use a public gateway server.

Any way for this?

Thank you

[2020-04-24 16:43] diegolmello commented on #2061
It's a work in progress, but you can rely on this doc for now: https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit

[2020-04-24 16:43] #2061 closed

[2020-04-24 19:24] cchbr opened #2062 "Can't send image from camera on mobile"
### Description:

When posting a picture from a mobile to a channel or conversation the upload freezes and nothing happens, if it's taken directly from the phone camera. Pictures from the phone gallery are uploaded and posted successfully.

Videos from the camera are also uploaded successfully but can't be replayed later on a desktop.

### Steps to reproduce:

1. Go to a channel or conversation.
2

[2020-04-25 10:18] ankar84 commented on #2042
I think only unread messages are loaded. And previous messages not.

[2020-04-26 09:21] CryptOwl commented on #1489
Any update to this?

[2020-04-27 16:19] djorkaeffalexandre commented on #1854
@sarthakpranesh still happening to you?

[2020-04-27 17:04] sarthakpranesh commented on #1854
Hey @djorkaeffalexandre, yeah it's still happening
current App version: 4.7.0.9999999
current Server version: 3.2.0-rc.1

I have a different test user using which I joined the `sandbox` channel. But when I use `Leave Channel` the room is not removed from the Room list and I am still allowed to send messages. Also, the `Leave Channel` button disappears after doing this.

![1](https://user-images.gi

[2020-04-27 17:06] djorkaeffalexandre commented on #1854
Can you post some GIF?
Unfortunately I'm not able to reproduce it here.
Thanks.

[2020-04-27 17:17] sarthakpranesh commented on #2052
Hey @MatthiasHertel, it looks like this issue does not exist anymore on the latest experiment app ( version: 4.7.0.9999999 )

Screenshot attached below
![2](https://user-images.githubusercontent.com/41206172/80400860-074d2b00-88d9-11ea-876c-90be6dbd0af3.png)

[2020-04-27 18:05] sarthakpranesh commented on #1854
Yeah sure,
So I tested again, this time I made sure I have a good data connection ( last time I tested data connection was not that good ) and the `Leave Channel` option worked. But somehow my `sandbox` channel still does not show the `Leave Channel` button anymore after I clicked on it the last time.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/41206172/80404989-9d844f80-8

[2020-04-27 18:19] sarthakpranesh commented on #1854
I think the error takes place when there is a bad network connection. I was able to reproduce when my network connection was bad.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/41206172/80406399-a70eb700-88e1-11ea-8464-d64446715b4c.gif)

[2020-04-27 20:52] djorkaeffalexandre commented on #1169
Can't reproduce on latest version, I'll close this.
Thanks.

[2020-04-27 20:52] #1169 closed

[2020-04-27 21:00] djorkaeffalexandre commented on #1917
Closing.
Refer to https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1919#issuecomment-620231373

[2020-04-27 21:00] #1917 closed

[2020-04-28 02:03] eig0r commented on #2051
please some help here ..  i cant login with google or facebook from experment app for any server versions local or cloud

[2020-04-28 12:01] diegolmello commented on #2051
There's an open PR. We're going to release a beta this week.

[2020-04-28 12:49] arpsyapathy opened #2070 "1000 limit push for Rocket.Chat free version"
Hi all!

I see https://rocket.chat/pricing 1000 monthly for push notifications for free.
This is for public Rocket.Chat push gateway?

If i want used my custom apps with my FCM and APN - this is was unlimited or too 1000 limit?

[2020-04-28 12:52] diegolmello commented on #2070
This is related to the main repo https://github.com/RocketChat/Rocket.Chat
Can you open an issue there?
Thanks.

[2020-04-28 12:52] #2070 closed

[2020-04-28 15:09] eig0r commented on #2051
when i try to login for open.rocket.chat  with google its working but for  any other servers ( self hosted or cloud free ) i get the same error

[2020-04-28 20:37] QoobIY commented on #1451
I have the same problem on both versions of Rocket (regular and experimental)

[Video](https://srv-file8.gofile.io/download/8msujX/video_2020-04-28_23-30-22.mp4)

[2020-04-28 21:17] diegolmello commented on #1451
@QoobIY `You are not authorized to download this file.`

[2020-04-28 23:14] Endareth commented on #2053
Just upgraded the server to 3.1.1, no change. Tried to ping @diegolmello , but I appear to be blocked :\

[2020-04-29 01:29] Endareth commented on #2053
With help from Diego, I was able to track this issue down to an overly zealous firewall configuration, which was detecting the initial `/api/v1/settings.public` call as a possible SQL injection attack, and dropping the connection. Resolved by tweaking the firewall profile. Probably be worth throwing an error in the client if this initial call fails, but this issue can now be closed, thanks.

[2020-04-29 01:30] #2053 closed

[2020-04-29 06:31] QoobIY commented on #1451
upd:

[2020-04-29 06:34] QoobIY commented on #1451
@diegolmello
We did as indicated here and the problem went away.
#1626 https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1626#issuecomment-582371373

[2020-04-29 08:40] rau-alvin opened #2074 "Show a list of channel users and bug of theme"
Hello!

Thank you four your great progect!

My desktop apps show a list of channel users, but Android apps don’t.
What is the problem?

![Screenshot_2](https://user-images.githubusercontent.com/62691026/80575656-9a3ab200-8a0c-11ea-8e96-f33e4b10f52c.jpg)

![3](https://user-images.githubusercontent.com/62691026/80575677-a0c92980-8a0c-11ea-89d8-e9de0871e7f2.png)

Also i have  an interesting bug of th

[2020-04-29 11:49] diegolmello commented on #2074
Duplicated of #2028
We're going to release a fix in the next days.

Note: Remember to open one issue per subject. If you're still having trouble with theme, open another one.

Thanks.

[2020-04-29 11:49] #2074 closed

[2020-04-29 13:46] steschuser commented on #2054
See this as well after update
Is there a way to insert the missing room.uids?

[2020-04-30 16:24] #1867 closed

[2020-04-30 17:54] #2009 closed

[2020-04-30 18:07] #2054 closed

[2020-04-30 18:08] #2040 closed

[2020-04-30 18:09] #2028 closed

[2020-04-30 18:09] #2051 closed

[2020-04-30 18:10] #2037 closed

[2020-04-30 18:11] #1825 closed

[2020-04-30 18:20] #1952 closed

[2020-04-30 18:54] #1795 closed

[2020-05-01 18:54] MatthiasHertel commented on #2052
@sarthakpranesh
yes it looks so ... but how can i get the latest build ( version: 4.7.0.9999999 ) on ios ?
if i visit the app store on ios i can not update to 4.7.xxx i am still on Version: 4.6.4.295

[2020-05-02 07:37] sarthakpranesh commented on #2052
@MatthiasHertel hey sorry for replying late :sweat_smile: . So we tested this out on the latest build ( version: 4.7.0.9999999 ) and we were able to recreate the error. It seems this only happens when we send a code block from IOS but does not happen when we use Android to send the code block and view it on iPhone. We'll fix it and get back here :fire:

[2020-05-03 09:04] ceefour opened #2084 "User online/presence status are sometimes incorrect"
- Your Rocket.Chat Official app version: 4.6.4.2118
- Your Rocket.Chat Experimental app version: -
- Your Rocket.Chat server version: 3.2.0, using helm chart, Kubernetes 1.16, nginx-ingress, and CloudFront
- Device (or Simulator) you're running with: Realme X2 Pro
- WebSocket supported: yes

**User online/presence status are sometimes incorrect**

This is the presence status list using web client:

[2020-05-04 01:07] Furqankhanzada commented on #1188
@diegolmello is this resolved ?

[2020-05-04 12:23] diegolmello commented on #1188
@Furqankhanzada I had to prioritise #2059
This issue is the next task on my list.

[2020-05-04 14:33] nofikoff commented on #1409
I compared the logs of the upload avatar from the web browser and from the mobile application.
When generating a request from a mobile application, the last parameter is "{}" and must be "" or empty!

Adnroid APP with error upload:
server.js:204 Meteor ➔ method setAvatarFromService -> userId: aW7eNTaqHETbp5YnK, arguments: [“data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAgGBgcGBQ< … >ge4z

[2020-05-04 14:37] djorkaeffalexandre commented on #1409
Hey @nofikoff, I think your error was fixed by #2050. It'll be launched as a public beta soon, try to enroll on our beta apps.
Thanks in advance.

[2020-05-04 16:52] bodrak opened #2086 "e2e tests not working on v4.6+"
Hello,

I noticed that in the version 4.6+ of Rocket.Chat, e2e tests were not working any more. Are you planning to readapt them, and if yes when approximately ?

Thanks

[2020-05-04 17:37] diegolmello commented on #2086
Since a few updates, Detox (the lib we've been using for e2e tests) stopped working properly and we thought too cumbersome to maintain it working.
Even when it worked, it wasn't completely reliable and we never made it to work on Android.
That's why we're analysing other options, like Appium.

[2020-05-04 17:53] bodrak commented on #2086
ok, thanks for your answer !

[2020-05-04 17:53] #2086 closed

[2020-05-04 20:20] #1087 closed

[2020-05-05 07:03] Flam3z commented on #1489
The app on f-droid hasn't been updated in months, any reason why?

[2020-05-06 12:05] AdemOch commented on #1188
Hello I have fixed this issue by updating react-native-device-info to version 3.1.4 and then making the necessary changes in code accordingly (check their GitHub repo)
and then applied @nikbelikov patch (thank you btw) for react-native-keyboard-tracking-view and react-native-keyboard-input as shown here https://github.com/wix/react-native-keyboard-tracking-view/pull/32 (in node_modules ofc if you

[2020-05-07 07:42] saurabhshah-sudo commented on #2041
I shall be happy to add this feature.

[2020-05-07 11:59] diegolmello commented on #2041
@saurabhshah-sudo go for it (:

[2020-05-07 18:50] djorkaeffalexandre commented on #1444
hey @Prateek93a, can you confirm if it's happening yet?
I followed your gif [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1494#issuecomment-587361708) and can't reproduce any error.

[2020-05-08 00:06] Prateek93a commented on #1444
@djorkaeffalexandre I can't reproduce it. I think it was fixed by #1997. Closing it.

[2020-05-08 00:06] #1444 closed

[2020-05-08 14:40] arpsyapathy opened #2092 "Jitsi Meet selfhosted server with JWT auth wotking in Mobile RocketChat?"
Hi all!

Jitsi Meet selfhosted server with JWT auth wotking in Mobile RocketChat?

When i try join to video call i have endless spinning loading wheel =(

[2020-05-08 17:09] #1978 closed

[2020-05-08 17:16] #2015 closed

[2020-05-08 20:50] GOVINDDIXIT opened #2096 "GSoC20: Create F-Droid Build for RN Android"
## SubTasks
- Integrate Fastlane to the android module and configure CI to use Fastlane
 **PR** #2100 (Merged)
- Create Play and Foss builds for android app  **PR** #2171 (Merged)
- Update CI Config to separately build foss and play version for android client  **PR** #2366 (Merged)

[2020-05-09 04:24] Furqankhanzada commented on #1188
@AdemOch I tried your solution but it does not work. can you please provide detailed guidance ?

[2020-05-09 12:36] AdemOch commented on #1188
@Furqankhanzada do a
grep -r "UIWebView" node_modules/*
to know  where it is still in your project's modules

[2020-05-09 14:59] reetp commented on #808
Nothing in 4.6.x

Is this going to be added?

Difficult with so many people remote working and a lot now relying on mobile.

We don't get many live chats, but the ones we do get are often 'Out of Hours' when people are only on mobile and we then can't answer the livechat, despite getting an email notification.

That costs us customers and business - they don't want to hear you are having a day off

[2020-05-09 17:10] luixxiul commented on #1577
For me it is possible to send a message to archived *discussions* on `4.6.4.2118`.

Does `if (room.archived)` check the status of the discussions too?

[2020-05-09 21:16] hp734 commented on #141
This is my #1 wished feature. Please implement soon.

[2020-05-10 04:42] ankar84 commented on #2092
Yes, it does!
Try latest RN application, check Jitsi and RC JWT settings.

[2020-05-11 01:12] ntfchris opened #2099 "Ad hoc distribution issue"
I cannot install the ipa after export as ad hoc distribution
Do I need to do any configuration?
I used the ad hoc distribution provisioning profile with correct UDID added.

[2020-05-11 02:19] efd1006 commented on #1188
@AdemOch i also tried your solution but it didnt worked for me also i did
grep -r "UIWebView" node_modules/*
and there were no UIWebView found in the proijects module but apple still rejects it when im trying to upload it on app store

[2020-05-11 08:38] AdemOch commented on #1188
@efd1006
are you sure it is still because of the UIWebView because it seems that you don't have it in your project anymore!!

[2020-05-11 08:43] efd1006 commented on #1188
thank you for the response.. yes because when i uploaded my binary on app store and the only message in apple email is see was ITMS 90809 which is related to UIWebView deprecation

and im sure that i followed your solution it worked fine on my emulator and theres no more UIWebView word found on my project module or in any part of my project

i wonderwas makes apple reject the app

[2020-05-11 08:52] AdemOch commented on #1188
I'm not sure tbh maybe you forgot to change the build to the newer one you uploaded!! it happens

[2020-05-11 09:13] efd1006 commented on #1188
heres the versions of my suspected packages that uses UIWebView
"react-native-device-info": "^3.1.4"
"react-native-webview": "7.5.1"
 "react-native-keyboard-input": "^5.3.1",
  "react-native-keyboard-tracking-view": "^5.6.1"

[2020-05-11 12:23] diegolmello commented on #1188
Fixed in #2008

[2020-05-11 12:23] #1188 closed

[2020-05-11 12:26] diegolmello commented on #808
Basic livechat (chatting) was fixed on #1674 and released on 4.6.
Visitor livechat page was implemented on #2004 and it's going to be released on 4.7 in a few weeks.
I'm closing.

[2020-05-11 12:26] #808 closed

[2020-05-11 12:45] diegolmello commented on #2099
Transferred to correct repo.
@ntfchris Can you tell us more about your issue?

[2020-05-11 16:47] AgentTNT opened #2102 "Push notice delay"
- Your Rocket.Chat Experimental app version: 4.6.4
- Your Rocket.Chat server version: 3.2.1
- Device (or Simulator) you're running with: Samsung Note10+

With the new changes for the push logic introduced in 3.2.0, there is a delay with messages on android.

Steps to reproduce:

1. Sign into a mobile device and ensure there are no other sessions for this user (desktop/web browser)
2. Send a messag

[2020-05-11 17:28] diegolmello commented on #2102
@AgentTNT We're working on a fix.
Thanks for letting us know.

[2020-05-11 17:51] AgentTNT commented on #2102
Thanks @diegolmello!

[2020-05-11 17:55] AgentTNT opened #2103 "[New] Feature: Implement "Jump to Message""
If this already exist in the mobile app, I apologize.

Please implement the "Jump to Message" feature.

Helpful for when looking at pinned or searching messages to get the context around the results.

[2020-05-11 17:56] diegolmello commented on #2103
Duplicated of #1315

[2020-05-11 17:56] #2103 closed

[2020-05-11 18:05] AgentTNT commented on #1315
This should also apply to pinned messages

[2020-05-12 02:39] efd1006 commented on #1188
thank you

[2020-05-12 05:55] ankar84 commented on #2102
I think, that 2 minutes it is a not so big delay, but I agree with @AgentTNT that when application is minimized, user can't write messages and it is really like user is offline.
And that change will remove that delay, which is very good.
So, setting **offline** status on applications go to background sounds like good idea!

[2020-05-12 06:14] loxK opened #2109 "Not showing NextCloud auth button"
## Describe the bug
In web client (mobile and desktop) I have the button but not in the android app

## Screenshots
Web login:
![image](https://user-images.githubusercontent.com/136687/81644457-7e56f780-9473-11ea-8b22-25aa66002990.png)

Android:
![signal-attachment-2020-05-12-170829](https://user-images.githubusercontent.com/136687/81644497-929af480-9473-11ea-8bfa-a24fb1a4856c.jpeg)

## Devices an

[2020-05-12 08:12] xuanduyrn opened #2108 "[IOS]: Do not show the progress bar when uploading files> 50MB in size"
- Your Rocket.Chat server version: new verison
`"react-native": "0.62.2",`

Issue upload video:
- `src / views / UploadProgress` When uploading a file video with size > 50mb, the progress bar is not visible, the video is still uploaded normally but it must be out of the room and re-visited to see the video I uploaded. `Android works normally`
- I think there is a problem in lib @ nozbe / watermelo

[2020-05-12 08:38] #1866 closed

[2020-05-12 12:06] diegolmello commented on #2108
App version?
Do you mean it doesn't work on iOS only?
It doesn't seem to be related to local db, since the video isn't stored there.

[2020-05-12 12:19] diegolmello commented on #2109
It doesn't work on iOS as well.
Nextcloud auth is not implemented yet.

[2020-05-12 14:08] gitnepal commented on #1907
atleast guys give contribution on releases too, so that we could get more eager to find more bugs ... not a seeker but anyway tho we hoomans
https://github.com/RocketChat/Rocket.Chat.ReactNative/releases/tag/4.6.0-beta.0

[2020-05-12 14:09] AgentTNT commented on #2102
Had some more thoughts to add to this...

Even if the mobile app sets the presence to offline immediately, if the user is idle on another desktop/web session then the 2m timer will start again since that user will be placed in the new idle state after being flipped from just Active via the mobile.

Perhaps the logic should be changed to treat idle states the same as offline and send the push immed

[2020-05-12 14:18] diegolmello commented on #1907
@gitnepal I guess you're right.
Done.
It's hard to track contributors outside commit authors.

[2020-05-12 14:36] AgentTNT opened #2112 "[Cross Post] Disparity between Web and Mobile apps"
Posting this issue here as well for visibility, as this will require a combined effort to get the two offerings in a synced state. Should all be minor changes required in the ordering/wording of the menus. Should also help with bringing a solid "united standards" to the product.

https://github.com/RocketChat/Rocket.Chat/issues/17606

[2020-05-12 16:23] avimanyu786 opened #2113 "False positive on Android Official App: Login screen pops up even when logged in"
- Rocket.Chat Official app version: 4.6.4
- Rocket.Chat server version: 3.1.1
- Device running with: Android 10

The rocket chat login screen pops up even when logged-in to the android app. Closing them twice brings back the logged-in session.

[2020-05-12 22:29] kapiwko commented on #1659
My NGO is migrating to Rocket.Chat, but we have a few visually impaired members, who find it nearly impossiible to use the app with a screen reader. Is it possible for you to fix this? It's an important accessibility issue.

[2020-05-13 00:18] ankushdas9 commented on #2113
@geekgonecrazy  I can confirm this.

It's happening on Android.

Whenever we receive a notification, and we click on it to open the app, it just logs out.

If we launch the app separately without clicking on the notification received, no log out issues.

Downloaded via Play Store. App version: 4.6.4.2118.

[2020-05-13 00:58] geekgonecrazy commented on #2113
@diegolmello your team have any idea on this?

[2020-05-13 04:50] ankar84 commented on #1442
Still in 4.7.0

[2020-05-13 04:51] ankar84 commented on #1978
Fixed in 4.7.0
Thanks!

[2020-05-13 04:54] ankar84 commented on #2058
Updated in 4.7.0
Thanks, @diegolmello !!

[2020-05-13 04:54] #2058 closed

[2020-05-13 07:28] xuanduyrn commented on #2108
![image](https://user-images.githubusercontent.com/31473225/81783257-47411e80-9525-11ea-8dd2-4402968d1148.png)
- App version: I am testing the app on testflight with version 1.0.51 and always merge your code with the latest updates.
Yes, it does not work on iOS
This is the progress I got when I was uploading files on Android, it was always updated in the render () component UploadProgress.js size>

[2020-05-13 11:24] xuanduyrn commented on #2108
Sorry, The problem has been resolved 😅

[2020-05-13 11:24] #2108 closed

[2020-05-13 12:00] ankar84 commented on #2102
That's not good.
Previously was RC server settings Always send push notification and was so horrible.  Someone writes you in open chat and you get push for that, it's very annoying.  See https://github.com/RocketChat/Rocket.Chat/issues/16867

[2020-05-13 12:08] diegolmello commented on #2113
@avimanyu786 @ankushdas9 Can you ping me on https://open.rocket.chat?
I'm `@diego.mello`.
We'll have to test on your end.
Thanks.

[2020-05-13 15:02] avimanyu786 commented on #2113
Many thanks for the assist @diegolmello ! Thank you too @geekgonecrazy and @ankushdas9 !

The issue was around an `http` URL inside **`Admin Panel`** > **`General`** > _`Site URL`_. Changing it to `https` fixed it.

Sometimes the trickiest issues do have simple solutions!

[2020-05-13 15:04] #2113 closed

[2020-05-13 15:28] AgentTNT commented on #2102
I think there may be a bit of a misunderstanding. I do not want the functionality back to always push. I am in agreeance with 2/3 of the new states:
- If online and message not read, start 2m timer to send push
- If offline send push immediately.

The one I do not agree with is count backwards form when the user was last active and start the 2m to send the push.

If we were to treat this the same

[2020-05-13 16:09] geekgonecrazy commented on #2113
Didn’t even think of that causing it.  Cool!  :)

[2020-05-13 20:18] grzebo commented on #1659
Just FYI, problem still persists on the current latest server (3.2.2) and Android apps (regular and experimental).

[2020-05-14 18:46] justnero commented on #672
Hi, @diegolmello
I would like to raise this issue once again. I've made some research and it seems like markdown list causes it. Tested using these devices:

**Android:**
Rocket.Chat app version: 4.6.4.2118
Rocket.Chat Experimental app version: 4.6.4.16459
Rocket.Chat server version: 3.0.3 (docker)
Device you're running with: Samsung S8+

**iOS:**
Rocket.Chat app version: 4.6.4.295
Rocket.Chat ser

[2020-05-15 15:04] djorkaeffalexandre opened #2121 "[NEW] Start app on Startup (Android)"
[Here](https://stackoverflow.com/questions/6391902/how-do-i-start-my-app-on-startup) have some explain about this, we need this as a setting that you can enable/disable.
It's just an Android feature because this isn't possible to do on iOS side.

[2020-05-15 16:19] ankar84 opened #2123 "User status become offline (invisible) on application starts after it was explicitly closed"
- Your Rocket.Chat Experimental app version: 4.7.0.17013
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Xiaomi Mi 9SE

User status become offline (or invisible - gray dot) on application starts after it was explicitly closed (by memory clean or swipe out from launched apps)
![status](https://user-images.githubusercontent.com/4023037/82072945-ae67fa00-9702-11e

[2020-05-15 16:40] AgentTNT opened #2124 "Omnichannel Toggle"
- Your Rocket.Chat Experimental app version: 4.7.0.17013
- Your Rocket.Chat server version: 3.2.1
- Device (or Simulator) you're running with: Samsung Note10+

With the addition of omnichannel in the mobile app (which is awesome btw), can you please implement the toggle to allow the agent to enable/disable the acceptance of new chats?

Also are there plans to implement the queue viewing feature wi

[2020-05-15 16:44] diegolmello commented on #2124
Omnichannel is a whole new world, so we're implementing it in parts.
We plan to implement all features :)

[2020-05-15 17:01] AgentTNT opened #2125 "File upload renaming"
- Your Rocket.Chat Experimental app version: 4.7.0.17013 (and prior versions)
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Samsung Note10+ (Android 10)

When you choose "Choose file" and select the desired file, the confirmation box keeps the source filename. (expected)

When you choose "Choose from library", the source filename is overwritten to just "File

[2020-05-15 20:23] yodatak commented on #2109
It could be very cool to have this fonctionality !

[2020-05-16 12:53] ankar84 commented on #2123
open.rocket.chat with 3.3.0 not affected with that issue. So for now that bug appears on 3.1.1

[2020-05-17 08:27] xuanduyrn opened #2127 "Adding a new field does not work, requiring logout and login again."
- Your Rocket.Chat Experimental app version: 4.6.4.295

- Hi, I am having problems with the fields adding new to the database. Can you explain more to help me how it works and how to optimize the field when adding a field to the local database?
- This is my problem:
 + I added a new field location to the application, updated the field into `tableSchema ``/app/lib/database/schema/servers.js.`
But I

[2020-05-18 00:22] gr0ebi commented on #1356
this is still a problem, just updatet to 3.2.2 and newest Android App (4.6.4.2118)
if I start a DM video call on my webinterface, others can connect with their Android app
so JWT isn't working for starting video calls in the app

[2020-05-18 07:43] ankar84 opened #2128 "System-wide "Hide system messages" settings are partly ignored in App"
- Your Rocket.Chat Experimental app version: 4.7.0.17013
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Xiaomi Mi9SE

I configured **Hide System Messages** settings like this:
![image](https://user-images.githubusercontent.com/4023037/82185973-bc7c6d00-98f2-11ea-846b-08c77af45dbb.png)
And Web versions works perfect - no any system messages about join, leave,

[2020-05-18 10:15] giterium opened #2129 "No signal when starting voice call"
- Your Rocket.Chat Experimental app version: 4.6.4.295
- Your Rocket.Chat server version: 3.0
- Device (or Simulator) you're running with: any

There is no ring sound played when a video call is started. is there a way to activate this or add this feature?
In direct chats. In mass conferences this probably doesn't make sense

[2020-05-18 11:50] diegolmello commented on #2127
https://nozbe.github.io/WatermelonDB/Advanced/Migrations.html

[2020-05-18 11:50] #2127 closed

[2020-05-18 11:51] #2092 closed

[2020-05-18 11:52] diegolmello commented on #2129
It's not implemented yet.

[2020-05-18 12:10] djorkaeffalexandre commented on #1356
Hey @gr0ebi, can you please test our latest beta? v4.7. It seems to be fixed.
The instructions to join our beta programs are on our README.
Thanks.

[2020-05-18 12:14] gr0ebi commented on #1356
@djorkaeffalexandre thanks a lot for your fast reply, i will check when I'm at home!

[2020-05-18 13:45] xuanduyrn commented on #2127
@diegolmello tks :D

[2020-05-18 17:18] gr0ebi commented on #1356
@djorkaeffalexandre
4.7 RC App starting jitsi with JWT works great!
I tested from my phone to other clients that still have 4.6.
Since I start the jitsi session and authorize with JWT all others can join at least anonym. (we have anon-users allowed after someone auths)
So am I right that the next official release will be 4.7 or should I upgrade my clients to the beta?

[2020-05-18 17:19] djorkaeffalexandre commented on #1356
I'm happy to hear this. :)
Yes, the next official release will be 4.7! You can wait this if it's not a problem for you.

[2020-05-18 17:30] ankar84 commented on #1356
I don't know, but for me Jitsi with jwt authorization works since early 4.6 and works great, thanks to @djorkaeffalexandre
And 4.7 has updated Jitsi SDK thanks to @diegolmello

[2020-05-18 17:31] diegolmello commented on #1356
@gr0ebi If you can wait, we're going to release 4.7 officially next week.

[2020-05-18 20:33] gr0ebi commented on #1356
@ankar84 i have the exact same issue as u showed in your GIF
@diegolmello thanks a lot, I'm gonna wait :+1:

[2020-05-19 07:46] xuanduyrn opened #2134 "[Auto-Translate]: The auto translate function is off but the toggle button is still ON"
- Your Rocket.Chat Experimental app version: 4.6.4.295

Hi, I have a question that may be silly, but I still haven't investigated the cause.
If you help me, it will be faster.
**Step**:

1. When entering the chat room
 2. Go to room actions
 3. Select translate function
 4. Enable translate (work)
 5. Disable translate (no work)
 6. clear cache (translate disable)

Can you explain me the mechanism

[2020-05-19 20:29] gerroon commented on #2092
I have Jitsi with JWT works with the desktop Rocket.Chat clients but not the Android clients. The Android client cant seem to be able to initiate video or audio chat.

[2020-05-19 20:56] arpsyapathy commented on #2092
@gerroon +1
I have the same problem! :(

[2020-05-20 02:28] ankar84 commented on #2092
@arpsyapathy self hosted Jitsi server with 2 virtual host's - first with jtw authorization and second guest without authorization.
Call can be started only by authorized user, but guest can then join that call.

[2020-05-20 04:13] gerroon commented on #2092
Not sure how you made it work. Like I said, I can initiate video calls via selfhosted Jitsi on the desktop clients no problem, but the Android client cant do it in the same rooms. How would I debug this?

[2020-05-20 04:24] ankar84 commented on #2092
Can you please post gif or video with problem? Where we can see issue and client version.

[2020-05-20 08:53] beranPro opened #2135 "[Feature] AppConfig support"
Hi Guys,
i'm not sure if this is the right place for feature ideas, but it would be great if someday the app would support [appconfig](https://www.appconfig.org/), so the app can be configured via an mobile device management.

Thanks a lot 👍

[2020-05-20 15:46] gerroon commented on #2092
I cant get a video of it, it happens really fast  It says "connecting to meeting" then a popup shows up with 2 buttons but I cant read what it says on the buttons because happens way too fast

Android 9, Havos Os
Rocket.Chat 4.7.0.2121
Server version 3.2.1

How do I make sure I am using my own Jitsi versions?  Like I said I can start video chats on the desktop clients no problem

Here is how it is

[2020-05-20 15:52] djorkaeffalexandre commented on #2092
@gerroon your SSL certificate is correctly configured at your jitsi-meet server?
Maybe it has some mismatch, check if the secure is showed by browser
![Screen Shot 2020-05-20 at 12 52 23](https://user-images.githubusercontent.com/29778115/82468056-c344e480-9a98-11ea-8abe-9185063f8b26.png)

[2020-05-20 15:57] xuanduyrn commented on #2134
@diegolmello Can you help me? :D

[2020-05-20 16:26] gerroon commented on #2092
My SSL cert is fine because I can use Jitsi alright in the browsers, or Jitsi mobile or with its own desktop apps.  I am using the Jitsi Docker install and forwarding it with Apache

As I mentioned the Rocket.Chat desktop apps have no problem using the video chat which I set up with my own Jitsi instance using JWT.

[2020-05-20 16:27] diegolmello commented on #2134
@xuanduyrn I didn't understand the issue.
Can you give us more details?
Maybe a gif?

[2020-05-20 16:27] djorkaeffalexandre commented on #2092
@gerroon can you test this at some iOS device?

[2020-05-20 16:38] gerroon commented on #2092
I will try it that is what the wifes are for. I will restart my server and upgrade Jitsi as well, in case it is a server issue. It sounds like this should work in theory.

[2020-05-20 18:22] gerroon commented on #2092
Ok , some progress. The main issue of not connecting to the server could be an issue  with my wifi, since my desktop client is connecting to the server over the wire.  I will mess with it later.

I can connect to it using LTE, I can initiate a video call however not much use. I seem to have 2 issues.

- When the other side starts a video call it is not show in the room on the Android app (using th

[2020-05-20 19:15] arpsyapathy commented on #2092
@ankar84 can you show me your prosody conf with virtual hosts?

[2020-05-21 01:57] xuanduyrn commented on #2134
![Hnet-image](https://user-images.githubusercontent.com/31473225/82514863-00fd4800-9b41-11ea-8fbb-fd26191912ea.gif)
Turning off translate doesn't work! @diegolmello

[2020-05-21 02:21] ankar84 commented on #2092
Sure https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1356#issuecomment-564379308

[2020-05-21 06:59] shantanu-csedu opened #2138 "Cannot create release apk"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: N/A
- Device (or Simulator) you're running with: Device and Emulator both

Debug build is working but cannot build release apk, it's failed with following error
**command:**
react-native run-android --variant=release
or
android/gradlew assembleRelease

**Error:**
`Program type already present: com.ocetnik.timer.B

[2020-05-21 08:11] xuanduyrn commented on #2134
![RPReplay-Final1590048323](https://user-images.githubusercontent.com/31473225/82537957-22782700-9b75-11ea-89ed-54de7da02623.gif)
GIF: 28s
Translation is turned off, but the button switch is ON until the clear cache :+1:  @diegolmello help

[2020-05-21 12:15] diegolmello commented on #2138
Not related to this repo.

[2020-05-21 12:15] #2138 closed

[2020-05-22 01:56] t2hieu91 commented on #2134
same issue +1
@diegolmello Does Bro have a solution to this problem?

[2020-05-22 02:19] KMtheStarter commented on #806
Did you solve this problem?
Although my code is built in javascript, I met same issue.

[2020-05-22 04:17] ankar84 commented on #1778
I see that it is an app issue, because web version all markdown renders correctly.
Here is an examples.
![image](https://user-images.githubusercontent.com/4023037/82630668-14211e00-9bfc-11ea-9d76-5af3229c9edd.png)
![image](https://user-images.githubusercontent.com/4023037/82630688-2307d080-9bfc-11ea-9879-ccc6e336f139.png)
and app shows that like this

[2020-05-22 06:19] olafdev opened #2140 "[i18n] Arabic language (RTL)"
Does it support RTL language?
I can't find Arabic. Would you help me?

[2020-05-22 07:33] giterium commented on #1760
Are there any changes on this topic?

[2020-05-22 11:14] AugustoAleGon commented on #806
@KMtheStarter Yeah, I solved. Check the implementation of https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/methods/sendFileMessage.js I realized that the best way to send files is via JS and not libraries.

[2020-05-22 12:09] diegolmello commented on #2140
@expert-group you can help us reviewing this PR https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/1941

[2020-05-22 14:25] diegolmello commented on #1760
We're going to start to work on encryption for next release, but it's a wip.

[2020-05-22 15:29] expert-group commented on #2140
Thank you @diegolmello . Btw could you tell me how can I integrate arabic lanauge and RTL view on latest version? Thank you.

[2020-05-22 15:47] diegolmello commented on #2140
@expert-group It's not implemented yet, but it should be straight forward.
Here's an attempt: https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/856

[2020-05-22 15:56] expert-group commented on #2140
@diegolmello When will it be implemented? Is it planned?

[2020-05-22 15:59] diegolmello commented on #2140
@expert-group It's not planned. Can you do the translations and open a PR?

[2020-05-22 15:59] expert-group commented on #2140
@diegolmello I think view is not ready for RTL yet

[2020-05-22 16:11] expert-group commented on #2140
@diegolmello How can I make view for RTL?

[2020-05-22 16:46] diegolmello commented on #2140
@expert-group Can you at least check #856?

[2020-05-24 08:20] aptvaibhav commented on #2121
Hi, i am new to this community can i work on this bug? And Can u guide me a little bit about this bug.

[2020-05-24 08:24] aptvaibhav commented on #1828
Hi, is this done already?

[2020-05-25 02:38] xuanduyrn commented on #2134
@EzequielDeOliveira work, tks <3

[2020-05-25 03:17] EzequielDeOliveira commented on #2134
@xuanduyrn  YW <3

[2020-05-25 20:35] plmorpheus opened #2144 "User statuses differs in web and mobile app"
### Description:

Some users status are not refreshing in mobile app

### Expected behavior:

Status of users should be the same in web ui and mobile app.

### Actual behavior:

User A goes offline what is visible in web, but in mobile app still remains as online (green dot). The status do not refresh even after few hours. Relogin into app sometimes helps, but not always.

### Server Setup Informa

[2020-05-25 21:21] ggazzo commented on #2144
thanks @plmorpheus just transferred to the right place (at least until we figure out where is the problem)

[2020-05-26 08:02] HiveMindNet commented on #688
Hi @diegolmello diegolmello - I see this closed 11 days ago. Can you please tell me was this intentional and if so, is it because it's either fixed, (if so where / which version / how?) or if it has been dropped?

Thanks so much in advance

[2020-05-26 08:04] HiveMindNet commented on #688
My apologies - it looks like re-reading you only closed the old thread from the old repo.

Still, any update would be appreciated :)

[2020-05-26 11:27] diegolmello commented on #688
It's planned to be implemented for next release, which is planned to be released at the end of June.

[2020-05-26 14:30] IhorNykyha opened #2145 "Missed locales in Screen Lock menu"
- Your Rocket.Chat Experimental app version: 4.7.0
Missed values in locales in Screen Lock menu
![Screenshot 2020-05-26 at 16 50 58](https://user-images.githubusercontent.com/46314384/82912724-15dd3f80-9f76-11ea-8731-94897e046c80.png)
![Screenshot 2020-05-26 at 16 52 40](https://user-images.githubusercontent.com/46314384/82912728-170e6c80-9f76-11ea-9052-2455b0287a86.png)
![Screenshot 2020-05-26 at

[2020-05-26 14:43] diegolmello commented on #2145
Can you tell more info about it?
Are you running from a store?
Are you running from develop branch?

[2020-05-26 16:44] IhorNykyha commented on #2145
I get source code from this
https://github.com/RocketChat/Rocket.Chat.ReactNative/archive/4.7.0.zip

[2020-05-26 16:48] IhorNykyha commented on #2145
Sorry its my mistake

[2020-05-26 16:48] #2145 closed

[2020-05-27 08:06] lpilz opened #2148 "Some settings from desktop version don't work in app"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Samsung Galaxy Note 8

There are several settings which don't seem to apply to the app. Examples are:
1. messageViewMode (Thread replies are not properly hidden from channel when "value" is 3)
2. hideUsernames and UI_use_real_name (usernames are shown inste

[2020-05-27 12:28] diegolmello commented on #2148
There are several settings we didn't implement yet.
Can you open one issue per setting so we can track the development?
I would be happy to review your contributions (:

Closing this one. Thanks.

[2020-05-27 12:28] #2148 closed

[2020-05-28 07:01] magicbelette opened #2149 "Save workspace info"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: self-hosted 3.2.1
- Device Android 10/IOS

Every time the user is logged out when token expires he has to fill in the worskspace name again.

It would be great to save the workspace name to only have username/password to fill in after logout.

Thanks for the job done !

[2020-05-28 09:47] raffaeler commented on #1973
Is this feature working on any client? I can't make it work on any client (web, desktop and android)
TIA

[2020-05-28 10:21] markuspi opened #2150 "Empty Notifications on Android"
Message notifications only contain the user handle. User display name and message content is missing.

- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.0.12
- Device (or Simulator) you're running with: Honor 10 (COL-L29) Android 9

![photo_2020-05-28_12-17-07](https://user-images.githubusercontent.com/22451745/83129775-97031680-a0dd-11ea-9e25-e16fbcc66a

[2020-05-28 12:07] diegolmello commented on #2150
Can you check these settings on Admin > Push?
![image](https://user-images.githubusercontent.com/804994/83139329-914c0780-a0c2-11ea-99ef-892080df3e0f.png)

[2020-05-28 12:13] phriedrich commented on #1973
@raffaeler Yes, it's working for me in the web version. (It has to be enabled in the settings under messages.)

But it's _not_ supported in the mobile app.

[2020-05-28 12:42] raffaeler commented on #1973
thank you @phriedrich. The option is enabled in Messages but I can't make it work from the web.
Could you please type here an example so that I am not misunderstanding the KaTex syntax?
Thank you

[2020-05-28 12:52] phriedrich commented on #1973
The example up in this thread here works for me with the same syntax:

![Bildschirmfoto 2020-05-28 um 14 44 02](https://user-images.githubusercontent.com/470153/83143455-477b1580-a0f2-11ea-9798-0b82d8961134.png)
But it's also possible to set the syntax from `\[KaTeX Block\]` to `$$KaTeX Block$$`:
![Bildschirmfoto 2020-05-28 um 14 45 05](https://user-images.githubusercontent.com/470153/83143404-329

[2020-05-28 14:02] markuspi commented on #2150
Ah, I didn't know it is actually a privacy feature! Since it's an enterprise environment, I unfortunately don't have influence over the server. But that answers my question, thanks!

[2020-05-28 14:02] #2150 closed

[2020-05-28 14:26] lpilz opened #2151 "Threads are not properly hidden"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Samsung Galaxy Note 8

The setting `messageViewMode` 3 (compact layout) is ignored in the app, it always displays in cozy layout (2).

[2020-05-28 14:27] lpilz opened #2152 "Reactions show usernames instead of real names"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Samsung Galaxy Note 8

The setting `UI_use_real_name` is ignored in the app, usernames are always shown.

[2020-05-28 14:29] lpilz opened #2153 "Updated usernames don't show in app"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Samsung Galaxy Note 8

When updating usernames, old usernames (e.g. in reactions) are not updated to match the new one.

[2020-05-28 14:34] djorkaeffalexandre commented on #2152
Hey @lpilz, can you provide more info about when it happens at the thread replies?
With this we can create a checklist to fix all the points!
Thanks in advance.

[2020-05-28 14:35] lpilz commented on #2153
Since this is a bug, which also occurs in the desktop version as I just found out, I'll close it here and open an issue in the main repo.

[2020-05-28 14:35] #2153 closed

[2020-05-28 14:37] raffaeler commented on #1973
Thanks but the syntax with the square bracked does not work.
I enabled the Dollar syntax and it works.
The strange thing is that when I enable the Dollar syntax the square bracket syntax gets swallowed.

It may be a bug. I am using version 3.2.2

[2020-05-28 14:39] djorkaeffalexandre commented on #2153
@lpilz, it's probably related a something like the auto-translate messages, the messages that are saved at your database not will be updated when you change the username, maybe if you clean your cached database it requests the messages with the right name.
Thanks anyway.

![Screen Shot 2020-05-28 at 11 39 20](https://user-images.githubusercontent.com/29778115/83155712-e7777580-a0d7-11ea-9429-eefc7

[2020-05-28 14:44] lpilz commented on #2152
Hey, I'm currently trying to nail down the bug. What's for sure is that for reactions, it is probably not implemented. I just found out, that the username issue in threads is also occurring in the desktop version, so this might be a bug in the main repo somewhere. I'll focus the issue on reactions then :)

[2020-05-28 14:51] lpilz commented on #2153
Auto-Translation is off for us

[2020-05-28 14:53] djorkaeffalexandre commented on #2153
@lpilz, yes, I'm just saying that is the same thing of the auto-translate case, messages already saved at Database.
I'm saying about the client-side, just clean your cache at our mobile app at settings screen and see if it's fixed. :)

[2020-05-28 15:01] lpilz commented on #2153
Ah, I found out that it's the import, which is not working correctly, so somehow the link between `old reactions -> _id -> (current) username` seems to be broken

[2020-05-28 15:19] djorkaeffalexandre commented on #2153
Sure @lpilz, if you want to open an issue at our main repository, don't forget to explain this point.
Thanks.

[2020-05-28 15:32] lpilz commented on #2152
FYI: The thread issue is known and will apparently be fixed with the coming thread rewrite:
https://github.com/RocketChat/Rocket.Chat/issues/15662
https://github.com/RocketChat/Rocket.Chat/issues/17519

[2020-05-29 08:10] trinh-ngo-ntq commented on #1959
@diegolmello so sorry for my sudden request but do you guys have any milestones about this feature?
Rocketchat gonna be rock if calling is not available in Mobile

[2020-05-29 09:18] kscryoice opened #2155 "Dependency not found during yarn or npm install"
- Nodejs version: 12.17.0
- Npm version: 6.14.5
- Yarn: 1.22.4
- Windows 10 v1909

Rocket.Chat.ReactNative branch [develop](https://github.com/RocketChat/Rocket.Chat.ReactNative) on latest version [594e598](https://github.com/RocketChat/Rocket.Chat.ReactNative/commit/594e598167b0ace43ed15410191a32bf59ae22b3)

I clone the repository and tried to install dependency with yarn, but it has error "Could

[2020-05-29 11:41] diegolmello commented on #1959
@trinh-ngo-ntq we do support Jitsi for calls.

[2020-05-29 11:46] diegolmello commented on #2155
Not related to this repo.
If you Google it, you find this issue on yarn: https://github.com/yarnpkg/yarn/issues/2083

[2020-05-29 11:46] #2155 closed

[2020-05-29 16:32] plmorpheus commented on #2084
Same here. Is there any solution for this?

[2020-05-29 16:34] djorkaeffalexandre commented on #2084
Hey guys, not yet, I'll try to take a look into this to the next release 4.8.0.
If someone from community is interested at contribute, I think the logic to re-request the statuses when the websocket connection is lost should be changed.
Thanks in advance.

[2020-05-29 16:49] trinh-ngo-ntq commented on #1959
@diegolmello Yeah i see that plugin, it works great on Mobile (rocketchat-jitsi-meet) but currently no support for BBB, right? We bang our head to stone now, no clue to start.
My project picks BBB for Video call conference because its more mature and stable, then now we must support on mobile version.

p/s: Is Ok to tag you like this, i m afraid that your mailbox gonna be full soon, please pardon

[2020-05-29 18:38] diegolmello commented on #1959
@trinh-ngo-ntq we support videos call already and now we're working on other features, like E2E encryption, push encryption, screen lock (released this week on 4.7.0).
That's why I said above that we don't have hand for this.
We need to work on missing pieces on the app before getting back on this and adding support to another video call plugin.

I agree BBB is awesome and I'd love to review PRs a

[2020-05-29 19:57] djorkaeffalexandre commented on #2144
Hey @plmorpheus, I think this is duplicated. Let's track this issue only at #2084.
Thanks.

[2020-05-29 19:57] #2144 closed

[2020-05-29 20:33] githubbz commented on #2121
Agreed, if you restart your phone you miss notifications, etc... Defn an important feature in my opinion.  Also for iOS your app auto starts automatically when VOIP tags are included. Now that RocketChat has voice call features might be worth looking into as an option to enable that feature and still be approved by Apple Dev review.

[2020-05-29 21:41] aptvaibhav commented on #2121
@djorkaeffalexandre can i work on this bug?

[2020-05-29 21:42] djorkaeffalexandre commented on #2121
Yes, go ahead.
You can find some details at the link.

[2020-05-29 21:43] aptvaibhav commented on #2121
okay

okay

[2020-05-29 21:55] aptvaibhav commented on #2121
can you please temme in which repository should i create this class(StartMyServiceAtBootReceiver) ? @djorkaeffalexandre

[2020-05-30 13:55] ankar84 opened #2158 "Real Name search doesn't work in Add Users form"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

Search for users works perfectly in Directory Search. It does search by username and which is really much important for me and my users it does search by Real Name (which in my deployment almost always Cyrillic and not English names)
Here is

[2020-05-31 03:56] loxK commented on #2109
I had to go forward and Nextcloud can be configured as Custom OAuth, which is supported by the App.

1. Firstly create a Custom OAuth in Rocket Chat server settings, copy the Callback URL
2. Create a new OAuth Client in Nextcloid Security settings, use the Callback URL.
3. Copy Id and Secret from Nextcloud
4. In Rocket Chat Server configure the Custom OAuth provider as follows:
  - Enable: checked

[2020-05-31 19:12] yodatak commented on #2109
Thanks a lot i use your solution @loxK  !

[2020-05-31 20:35] yodatak commented on #2109
I try to get the merge roles fonctionality work but it don't you have any idea how to do it ?

[2020-05-31 20:40] yodatak commented on #2109
I can't find the ocs.data.groups

[2020-05-31 22:09] loxK commented on #2109
I don't use that feature. I tried and it made my account to loose the admin role in Rocket Chat. I didn't dig further.

[2020-05-31 22:22] yodatak commented on #2109
Same for me :+1:

[2020-06-01 06:59] xuanduyrn opened #2159 "[Page Files in Room]: Error paging data"
- Your Rocket.Chat Experimental app version: 4.7.0

![026E105B-7F40-4A30-B775-3B9E262BF187](https://user-images.githubusercontent.com/31473225/83384230-098f3180-a411-11ea-9d7f-f569d0905de4.gif)

- When I go to Page Files I try to scroll down to download more data according to the paging you are doing, but the paginated data is currently being duplicated.
- Do you have any PR for this issue?
@Ezequ

[2020-06-01 12:18] djorkaeffalexandre commented on #2109
Nice workaround @loxK! I'll use this to develop the right way and do this working, probably at the next week!
Thanks! 😃

[2020-06-01 12:21] djorkaeffalexandre commented on #2159
Hey @xuanduyrn, we don't have a PR to this issue yet.
If you want to fix, feel free to open that.
Thanks in advance.

[2020-06-02 14:18] AligDanish commented on #2159
@djorkaeffalexandre I want to solve this issue for study purpose if you allow me.

[2020-06-02 14:19] djorkaeffalexandre commented on #2159
@AligDanish sure, go ahead! 😀

[2020-06-02 14:59] djorkaeffalexandre commented on #2158
Thanks for opening this @ankar84, we'll try to add this as a fix at our 4.8.0 release, this will probably be launched at end of June.

[2020-06-02 15:42] djorkaeffalexandre commented on #1193
It was fixed by #2082 @Aaryan-kapur.

[2020-06-02 15:42] #1193 closed

[2020-06-02 15:45] djorkaeffalexandre commented on #649
It was deprecated and no longer necessary since UIKit was implemented.

[2020-06-02 15:45] #649 closed

[2020-06-02 15:47] djorkaeffalexandre commented on #773
Fixed by #2082.

[2020-06-02 15:47] #773 closed

[2020-06-02 15:54] djorkaeffalexandre commented on #1358
It was done by #2059.
Closing.

[2020-06-02 15:54] #1358 closed

[2020-06-02 15:57] djorkaeffalexandre commented on #1668
Closing this because we changed all the OnBoarding screens.
I think the new onBoarding is doing a great utilization of the device screen. 😁

[2020-06-02 15:57] #1668 closed

[2020-06-02 16:54] sarthakpranesh commented on #1668
Yeah, it definitely is :rocket:

[2020-06-02 18:20] lelvisl opened #2160 "Mobile uploads: names of files are not saved not correctly in non-latin alphabet (Russian, Arabic, Chinese)"
- Your Rocket.Chat Experimental app version: 4.7.0.300
- Your Rocket.Chat server version: 3.3.0
- Device (or Simulator) you're running with: iOS & Android
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1952 - in those fix you are encoding and decoding filename in view.

This works only for photos. When i uploading file from mobile -  i see
![IMAGE 2020-06-02 9:10:28 PM](https://user-

[2020-06-02 20:41] eighthave commented on #1489
@Flam3z "This new version unsurprisingly contains a lot of non-free libraries again" https://gitlab.com/fdroid/fdroiddata/-/issues/1890

[2020-06-02 20:47] djorkaeffalexandre commented on #926
I'll close this.
All tracking about F-Droid build will be done at #2096, feel free to add questions.
Thanks.

[2020-06-02 20:47] #926 closed

[2020-06-02 20:47] djorkaeffalexandre commented on #1489
Hey guys!
I'll close this and we can track the F-droid implementation here:
https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/2096
It's working in progress and should be launched at the next three months.
Thanks.

[2020-06-02 20:47] #1489 closed

[2020-06-03 07:34] expert-group commented on #2027
Is there any solution? Thanks.

[2020-06-03 09:51] wahdatjan opened #2161 "/usr/bin/env: ‘node’: No such file or directory"
Cloned the Rocket chat react native repo then try to **yarn install** . but getting _/usr/bin/env: ‘node’: No such file or directory
_ because i have rocket chat web app running for which i removed node , mongodb and etc because rocketchat doc says meteor installs node internally , you dont need to install seperately . Now how would i manage to run both web app with meteor and reactnative app with

[2020-06-03 11:37] diegolmello commented on #2161
You have to install node.
You can find more info here: https://reactnative.dev/docs/environment-setup

[2020-06-03 11:37] #2161 closed

[2020-06-03 11:41] wahdatjan commented on #2161
@diegolmello will installing node hamper me from running rocket chat web app using meteor
??

[2020-06-04 09:21] ankar84 opened #2164 "[Bug] RoomsListView become not actual in some moment - only clear cache helps"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

Majority of our users are complaint about **room (or chat) list become not actual in some moment** and pull to refresh do not refresh anything, but **clear cache does solve that problem** - all chats, that was in web version appears in mobile appl

[2020-06-04 12:41] vncssj commented on #1369
resolve?

[2020-06-04 14:56] priethor opened #2165 "View/Create permissions not being applied"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.3.0
- Deviceyou're running with: Pocophone F1 with Android 10

Steps to reproduce:
- Go to Admin/Permissions and remove the `create-c`, `create-d`, `create-p`, `view-c` and `view-d` permissions for a role such as `livechat-agent`
- Edit a user by giving it **only** the `livechat-agent` role
- Now if you l

[2020-06-04 17:43] djorkaeffalexandre commented on #2165
Hey @priethor, we have some permissions that are not respected yet on our app, like `create-c`, `create-d`, it's missing implementation.
Really thanks about you to document this here.
If anyone from community want to do this, just go ahead.
If it has no activity from community we'll do ASAP.
Thanks.

[2020-06-05 06:01] ankar84 commented on #2042
Definitely that bug persist in 4.7.0 and server 3.1.1
And yes, **Hide system messages** is enabled on system level and channel level.

[2020-06-05 06:08] ankar84 commented on #2027
I'm not confirm that.
Xiaomi Mi 9 SE, MIUI 11.0.2.0, Android 10
RC.RN 4.7.0 (I'm pretty sure that and 4.6 was same)
RC server 3.1.1
I can press home to go to home screen and can launch different applications **still in call** and all works fine.

One thing - sometimes Jitsi calls holds screen focus (like any video player or youtube) and screen is on all call, but sometime Jitsi call not hold scree

[2020-06-05 10:28] maxsaleev commented on #2160
@djorkaeffalexandre maybe this problem comes from rn-fetch-blob ? And using encodeURI() is not a good idea for rocket.chat ?

I have found something similar there https://github.com/joltup/rn-fetch-blob/issues/254

It seems they also have problems with Russian Arabic Chinese

[2020-06-05 11:48] diegolmello commented on #2027
@ankar84 most of these issues are related to Jitsi itself, but yeah. Please create a separate issue (:

[2020-06-05 12:22] djorkaeffalexandre commented on #2160
Hey guys! I think an `encodeURI` should resolve our issue.
If someone of you can give a try, feel free to open a pull request.
I'll try to take a look ASAP, if nobody take this.
Thanks.

[2020-06-05 16:44] arpsyapathy opened #2167 "How get updates if i use custom .apk?"
Hi all!

I build custom .apk for me with my GCM keys.
How get updates if i use custom .apk?

Or one way - uninstal old version apk and build and install new apk?

Thank you advanced

[2020-06-05 17:07] diegolmello commented on #2167
It's not possible.
You'll need to do it manually every time.

[2020-06-05 17:07] #2167 closed

[2020-06-08 14:04] ankar84 opened #2170 "Preview mode for private chat when open from notification"
- Your Rocket.Chat Experimental app version: 4.7.0.17188
- Your Rocket.Chat server version: 3.1.1
- Deviceyou're running with: Xiaomi Mi 9 SE

**Update: Replicate conditions are still investigating.**
User1 was added to private chat. Then User2 write a message to that private chat so User1 gets that message as push notification. User1 taps on that push notification and gets to strange preview mode

[2020-06-08 16:27] Rhywden opened #2172 "Missing documentation: Configuring mobile client for single-server"
This is the paragraph about single-server for a custom-built mobile app in README.md:

If you don't need multiple servers, there is a branch single-server just for that. Readme will guide you on how to config.

I switched to the single-server branch but the Readme did not guide me (because it was the same as for the master branch). Which "Readme" is meant precisely by this paragraph?

[2020-06-08 16:34] diegolmello commented on #2172
Docs aren't merged yet.
You can refer to our draft here: https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit

[2020-06-08 16:34] #2172 closed

[2020-06-08 23:04] nishantt12 commented on #649
@djorkaeffalexandre @diegolmello "attachment.actions" buttons are still not rendering, how do I use UIKit to render "Actions" and send message based on action click.

[2020-06-08 23:16] nishantt12 opened #2174 "Attachment.actions not rendering"
I am trying to render action buttons and send message based on the action click, but these buttons are not getting rendered in the UI, how can I render the Action buttons in our app?

[code]

[2020-06-09 13:16] djorkaeffalexandre commented on #649
Hey @nishantt12, for now, I think we don't have a fully documentation about our available UIKit components, but you can check how to create apps [here](https://docs.rocket.chat/guides/developer-guides/developing-apps) and can use one of our apps as a base to do your own app.
https://github.com/marceloschmidt/koko
https://github.com/sampaiodiego/rocket.chat.app-poll

[2020-06-09 13:24] djorkaeffalexandre commented on #2128
@ankar84 can you describe "some circumstances"?
I'm not able to reproduce tis behavior here.

[2020-06-09 13:32] priethor commented on #2165
Great! My colleague @victortb will have a look at this issue!

[2020-06-09 14:51] xuanduyrn commented on #1793
I have 1 PR if you want to integrate into the project ❓
https://thumbs.gfycat.com/OilyMisguidedHamster-mobile.mp4

[2020-06-09 16:04] diegolmello commented on #1793
@xuanduyrn Sure! I'd be happy to review it! Thanks.

[2020-06-09 16:07] xuanduyrn commented on #1793
@diegolmello I will create PR this weekend :D

[2020-06-09 18:34] arpsyapathy opened #2176 "Can i get notification when started Video call jitsi?"
Hi all.

Can i get notification when started Video call jitsi?

[2020-06-09 20:09] #2042 closed

[2020-06-09 20:11] #2128 closed

[2020-06-10 03:59] ankar84 commented on #2128
New version works perfect!
Thsnks @djorkaeffalexandre @diegolmello

[2020-06-10 04:02] ankar84 commented on #2042
Fix works great!
Now I successfully scrolled to very top of my read-only channel without any problems.
Thanks @djorkaeffalexandre @diegolmello

[2020-06-10 04:33] ankar84 commented on #2176
There is notifications in fact. But there in no text in that notification #17496
Check you notifications preferences #17689 #17844

[2020-06-10 06:03] expert-group commented on #2152
You are right @lpilz  It is displaying username. but if you want to display real name, you can change it on code easily.

[2020-06-10 06:05] expert-group opened #2178 "How to send a message on rocketchat while audio/video is calling"
When I try to go back to message channel while I have a call, the call is ended. To join I should reconnect. How can I send a message while I have a call? Thank you

[2020-06-10 11:57] alleait opened #2179 "Notifications Delay + Double on desktop"
- Your Rocket.Chat Experimental app version: 4.7.0.2123
- Your Rocket.Chat server version: 1.3.1
- Device (or Simulator) you're running with: Any Android Device

So this issue involves notifications:

1. When a message is previewed/read in Desktop client the mobile app still sends notification to the user for new messages / seems like there is no connection between the notifications of different d

[2020-06-10 12:03] Fishbowler opened #2180 "Watchman errors when doing a detox build"
- Your Rocket.Chat Experimental app version: 4.7.1
- Your Rocket.Chat server version: n/a
- Device (or Simulator) you're running with: iOS 13.5

When preparing to run test, I first build by running:
`detox build -c ios.sim.release`

Early on in the process, this sometimes occurs:

Build still succeeds, but it's slow. Maybe it's always slow, or maybe this is causing some suboptimal behaviour 🤷

[2020-06-10 12:44] Sing-Li opened #2182 "Upload or share file with `#` in name fails"
- Your Rocket.Chat Experimental app version: 4.8.0-beta 0.17442
- Your Rocket.Chat server version: 3.4.0-develop  (extreme threads)
- Device (or Simulator) you're running with: Samsung S10+

Easiest to reproduce:

1) choose a small sized gif/png in file / gallery app

2) rename to add a '#' to name    -- for example  `20200609#230011.jpg`

3)  share + upload to a channel

Observe:

1) preview is b

[2020-06-10 14:51] subesokun opened #2183 "App freezes/crashes when opening a channel"
- Your Rocket.Chat Experimental app version: 4.7.0.2123
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Android 10

Since recently, we have the issue that the mobile app freezes/crashes when opening a certain channel. On Android, you're able to open the channel but once you try to reload it the app becomes unresponsive and there is a permanent loading spinner

[2020-06-12 16:35] AmatorPhasma opened #2186 "Can not see back/home buttons on the light theme at the bottom."
- Rocket.Chat server version: 3.3.0
- Rocket.Chat App version: 4.7.0.xxxx (Also on Experimental App 4.7.1.17491)
- Device (or Simulator) you're running with: **Huawei Honor 6+ / Android 6**

here two images with dark and light theme:
![001](https://user-images.githubusercontent.com/49910825/84524294-05e58f80-acda-11ea-983f-12e755b8e363.png)

![002](https://user-images.githubusercontent.com/4991082

[2020-06-13 20:22] jsalatiel opened #2189 "Give any indication when the server is offline"
- Your Rocket.Chat Experimental app version: 4.7.2
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with:Oneplus

Please give any indication in the app when the server is offline. Currently, if the server is down for any reason, there will be no indication on the app. Add some message , toast or icon saying that the "server is currently offline" or "can not connect t

[2020-06-13 23:28] gwkerr commented on #141
Is there any way I could help implement this?

[2020-06-15 06:59] subesokun commented on #2183
@diegolmello I've found now the message that breaks the app. It's also very easy to reproduce. Just insert in a thread message a table and the app will crash. E.g.

[code]

[2020-06-15 14:00] xuanduyrn opened #2192 "[Jitsi Call]: Call Video/voice background & foreground App"
- Your Rocket.Chat Experimental app version: 4.7.0

Hello, I have 2 questions with video / voice calling:
1. When the application is in foreground mode, next I receive 1 or 2 calls in the RoomListView.js screen so how can I know which call was made first? to be able to handle my extra function? and not display the call after the first call?
2. How can I make calls in the background? Does this back

[2020-06-15 14:05] xuanduyrn commented on #2159
@AligDanish Do you have a solution to this problem? I still haven't had time to look into this issue, if you fixed it, please let me know <3 tks u

[2020-06-15 18:52] dfghdfghfghftghfghfjfghfhjrfghftg commented on #2102
I have same issue on iphone 7 (13.3.1). I use rocket chat for job. I must press the app to received messages on time from 5 min to 5 minutes
![432891F1-E7B0-4964-9F78-0AD2B8877214](https://user-images.githubusercontent.com/18660104/84694715-4b13f680-af52-11ea-9b64-3db7b28b41a6.jpeg)

[2020-06-15 19:35] #759 closed

[2020-06-15 20:46] lkraider commented on #1487
With the help of @diegolmello we were able to find the issue in my case: _the same underlying user id on two servers._

This happened in my case because I migrated data between two servers, and it replicated my user between them, storing it with the same id in the database.

The RN app stores connection information under the user id, so when switching, it overwrites the token for the connection wi

[2020-06-15 21:14] djorkaeffalexandre commented on #2183
Hey @subesokun, what I'm doing different here?
It's not crashing for me.
![Screen Shot 2020-06-15 at 18 13 48](https://user-images.githubusercontent.com/29778115/84706806-011c1800-af34-11ea-8fe5-de8ef06bf599.png)
![Screen Shot 2020-06-15 at 18 13 51](https://user-images.githubusercontent.com/29778115/84706815-037e7200-af34-11ea-84a4-b927ffa57658.png)

[2020-06-15 21:27] djorkaeffalexandre commented on #1926
Closed by #2114.

[2020-06-15 21:27] #1926 closed

[2020-06-15 21:27] djorkaeffalexandre commented on #1609
Closed by #2114.

[2020-06-15 21:27] #1609 closed

[2020-06-15 21:27] djorkaeffalexandre commented on #1594
Closed by #2114.

[2020-06-15 21:27] #1594 closed

[2020-06-15 21:28] #1612 closed

[2020-06-16 06:49] subesokun commented on #2183
@djorkaeffalexandre As far as I can tell you've started a discussion and not a thread. Please try inserting the table in a thread message.

[2020-06-16 13:31] #1991 closed

[2020-06-17 09:48] Rhywden commented on #2025
It also happens when a "normal" user creates a message. A user just posted a link to an animated GIF (which, by the way, resulted in both the link and the image showing) but on the app just the link showed.

This is the web client:

![image](https://user-images.githubusercontent.com/84586/84882906-35a4e680-b090-11ea-82fb-ec508129fad6.png)

This is the app:

![image](https://user-images.githubuserc

[2020-06-17 19:22] #2134 closed

[2020-06-17 19:25] #2180 closed

[2020-06-17 20:12] #688 closed

[2020-06-18 06:25] tiagomartines opened #2196 "The user's avatar is not displayed correctly after login with OAuth"
I am sending the address of the image on the return of the endpoint /me, and the fields are configured correctly in the admin, but the app displays the initial of the user name.

[2020-06-18 11:41] NeK000 opened #2198 "Invalid URL or unable to establish a secure connection"
- Your Rocket.Chat Experimental app version: ####
4.7.2.302
- Your Rocket.Chat server version: ####
3.3.3
- Device (or Simulator) you're running with: ####
Iphone 7

Hi there, I am new to Rocket.Chat but have a quick question regarding an issue I am seeing on the IOS app " Invalid URL or unable to establish a secure connection. Contact your sever admin " My current setup is running behind a letsen

[2020-06-18 11:47] diegolmello commented on #2198
iOS is more strict on SSL than Android.
Can you check your server on https://www.ssllabs.com/ssltest/?

[2020-06-18 12:01] NeK000 commented on #2198
![Screenshot from 2020-06-18 14-00-34](https://user-images.githubusercontent.com/26298182/85017663-25623980-b16c-11ea-9480-0091d0ca36c9.png)

[2020-06-18 12:10] NeK000 commented on #2198
After looking over apple specifications =>

"TLS server certificates and issuing CAs must use a hash algorithm from the SHA-2 family in the signature algorithm. SHA-1 signed certificates are no longer trusted for TLS."

My cert from cloudflare is using SHA-1 with RSA Encrypion version 3 and this is probably the reason failing.

[2020-06-18 12:14] djorkaeffalexandre commented on #2196
Hey @tiagomartines, can you reach me on `https://open.rocket.chat/direct/djorkaeff.alexandre` to a more direct conversation about how can I configure my server to test/implement this?
Thanks. 🤗

[2020-06-18 12:23] NeK000 commented on #2198
https://support.apple.com/en-us/HT210176

After looking into those requirements I believe the issued certificate from cloudflare shoud be enough for IOS.  Also at the bottom of the article it says that the Safari might also refuse it however I am able to access the Rocket.Chat instance from Safari

[2020-06-18 13:44] NeK000 commented on #2198
I reverted only using letsencrypt with http challenge and I have an A score now. However result is still the same.
![image](https://user-images.githubusercontent.com/26298182/85027692-7aa54780-b17a-11ea-998a-004a5fd2cb96.png)

[2020-06-18 22:27] SimonTheCat opened #2202 "Development Environment"
What is recommended software version of development environment for current version Rocket.Chat.ReactNative?

[2020-06-19 12:02] diegolmello commented on #2202
I didn't get your question.
Please follow [installing dependencies guide](https://github.com/RocketChat/Rocket.Chat.ReactNative#installing-dependencies)

[2020-06-19 12:02] #2202 closed

[2020-06-19 15:09] AmatorPhasma opened #2204 "Incorrectly sorting when "UI_Use_Real_Name" is activated"
- Your Rocket.Chat Experimental app version: 4.7.2.17537
- Your Rocket.Chat server version: 3.3.0
- Device (or Simulator) you're running with: Google Nexus / Android 9

Web Browser and Desktop App sorting correct, but the mobile app sort always after the username and ignoring "UI_Use_Real_Name".

![sorting](https://user-images.githubusercontent.com/49910825/85147707-8b73bd00-b24f-11ea-98cf-e59c719

[2020-06-19 21:54] djorkaeffalexandre commented on #2183
@subesokun it not was a discussion, was a thread, but I recorded it again, so you can see that is not crashing here, can you record a GIF with this exactly example that you provide crashing at your app?
Thanks.

![](https://media.giphy.com/media/YSGDAk0vrLmMPn24lY/giphy.gif)
![](https://media.giphy.com/media/SXrxI6O9MGJCbMChyu/giphy.gif)

[2020-06-20 15:15] fasalsh opened #2205 "Android push Notifications are not working"
Hello,

We have recently upgraded our RocketChat instance to the latest v3.3.0 version. Everything works perfectly fine after the upgrade except the Android application push notification. No settings were changed after the upgrade, it was working fine before the upgrade.

Please shed some light on this situation, and advise how we could sort this out.

[2020-06-20 15:18] fasalsh commented on #2205
Here is the details:

RocketChat version: v3.3.0
RocketChat Android App: 4.7.2.2126

OS Type | Linux
linux   x64
kernel 3.10.0-1062.9.1.el7.x86_64
Node v12.16.1
Mongo 4.0.19

[2020-06-21 14:13] subesokun commented on #2183
Luckily, it seems like the bug has been solved implicitly by the latest app release. In the previous version `4.7.0.2123`, I think the rendering of the threads looked different and only the text `Test Value` was displayed and not `| Test | | - | | Value |`. Maybe the term "crash" was misleading. I've observed only that the app freezed (no UI interactions were possible anymore) when opening a chann

[2020-06-22 07:42] subesokun commented on #2183
Can't reproduce it too in our environment. Closing this issue. If I have the same problem again, I'll reopen it.

[2020-06-22 07:42] #2183 closed

[2020-06-22 11:22] jazzman-qp opened #2207 "can't login with iOS app"
Hi!
app ver. 4.7.2.302
server 3.2.2 (ubuntu snap)
iPhone 7 iOS 13.5.1
self-signed rootCA on local server, works well on any other platform, even in Safari on this very iPhone
it connects actually, allows you to register new user and says if you misspell password but do nothing when credentials are good
in logs https://my_rocket_chat_server/api/v1/login
{"status":"error","message":"API endpoint doe

[2020-06-22 12:01] diegolmello commented on #2205
Are you using our gateway for push notifications?

[2020-06-22 12:47] ankar84 commented on #2205
Turn on **debug** for push notifications in **Admin UI - Push** and after server restart check logs for errors and show then here
![image](https://user-images.githubusercontent.com/4023037/85289068-83aa5780-b49f-11ea-83f7-38d6c06e2c90.png)

[2020-06-23 00:23] naoki0719 commented on #2207
I have the same problem.

[2020-06-23 07:20] arpsyapathy opened #2209 "How get last version app in single-server branch?"
Hi all
How get last version app in single-server branch?

Thank you advanced

[2020-06-23 10:02] affandymurad opened #2210 "Unable receiving push notification in Android platform"
- Your Rocket.Chat Experimental app version: 4.6.0.999999999
- Your Rocket.Chat server version: 3.0.9
- Device you're running with: Nokia 6 TA-1021 Android 9

**The app isn't connecting to your server?** No, it's has been connected with our server

I already built customized Rocket Chat RN as our requirement (app package and its display name) and works well. But we face trouble when configured Pus

[2020-06-23 12:23] GOVINDDIXIT opened #2211 "Update CI Config to build foss and play version for android client"
- Create separate jobs to run foss and play build for android client using Fastlane

[2020-06-24 14:13] zhuyuan2016 opened #2214 "lastest single-server branch crash on iPhone simulator"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: unknow
- Device (or Simulator) you're running with: ios 13.5 iphone 11 simulator

I forked the lastest single-server branch. It works on my Android simulator correctly.But it's dosen't work on my iphone 11 simulator(ios 13.5),It just show a logo on a white background page then crash suddenly when I run 'npx react

[2020-06-24 14:21] djorkaeffalexandre commented on #2214
Did you make some change to the code?
Can you confirm if the [Metro bundler](https://github.com/facebook/metro) is running correctly?

[2020-06-24 15:15] zhuyuan2016 commented on #2214
I did't change any code and be sure running the bundle server,I'll be try later according to your third point. Thank you!!

[2020-06-24 15:51] arpsyapathy opened #2215 "I change all images ic_launcher. But after build i see old blue icon. Why?"
Hi all!

1. I clone repo
2. checkout single-server
3. in android\app\src\main\res i change all imanges ic_launcher.
4. build release apk
5. install
6. see old blue rocket icons(((
Why? How fix it?

Thank you

[2020-06-24 16:11] diegolmello commented on #2215
Follow Android's docs: https://developer.android.com/guide/practices/ui_guidelines/icon_design_adaptive

[2020-06-24 16:11] #2215 closed

[2020-06-25 11:25] slimlv commented on #1936
the app is not passing basic auth credentials when make requests for attached files

[2020-06-25 11:38] martinhoess commented on #861
I don't know why this is closed. Shure you can change iOS to use JPG instead of HEIC, but the iOS default is HEIC.
It also looks like there's an easy way: https://github.com/react-native-community/react-native-image-picker/issues/872

[2020-06-25 12:22] fasalsh commented on #2205
I have this resolved after rebooting chat server, and guessing there might had a kernel update or something which corrected the situation.

Anyway, everything works fine as before. Thanks :)

[2020-06-25 12:22] #2205 closed

[2020-06-25 17:54] NeK000 commented on #2198
@diegolmello any other suggestions in order to resolve the ssl issue on the IOS app

[2020-06-25 18:19] ferkawi opened #2218 "Video Playback on iOS"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: iPad 13.3.1 / iPhone 6 12.4.3

Hey guys! First thank you for the great App! So we have a Problem with the Videos. When we send a Video to a User, the User can´t play the video in App, stay all the time the Loading gear on the Screen. Really strange because in And

[2020-06-25 18:25] djorkaeffalexandre commented on #2218
Hey @ferkawi, can provide for us the extension and the size of this video?
Maybe it's not supported by our iOS player.
Thanks in advance.

[2020-06-25 18:33] ferkawi commented on #2218
Thank you for the fast answer! So we tried with MP4, MOV and self recorded MOV with the iPhone & ipad. The size always less than 1MB.

Thank you in advance!

[2020-06-25 18:37] djorkaeffalexandre commented on #2218
Can you provide one of these videos at some link to test it here?

[2020-06-25 18:41] ferkawi commented on #2218
So hier you go: https://www.icloud.com/photos/#0V6AoshVzxanjhHpDTQ_z9wRw

The video was taken with my iPad

[2020-06-25 18:53] djorkaeffalexandre commented on #2218
wow, that's really weird, since it's working fine for me, can you provide me a test user that have the video not working at some room, or you can try to send me this directly at https://open.rocket.chat/direct/djorkaeff.alexandre.
Maybe it's a problem with your upload server, we need to investigate.
![](https://media.giphy.com/media/S3oC9ldydYic4QRHuz/giphy.gif)

[2020-06-25 19:06] ferkawi commented on #2218
You were right! There was a Problem with the Upload Configuration, really weird..so the File-Upload was in Proxy. Just deactivate it and worked! Thank you!

[2020-06-25 19:07] djorkaeffalexandre commented on #2218
@ferkawi nice! So I'll close this, thanks. :)

[2020-06-25 19:07] #2218 closed

[2020-06-25 22:49] shaheem-khanzada opened #2219 "[HELP WANTED] How we can enable emoji option on IOS ?"
![image](https://user-images.githubusercontent.com/37620819/85803134-f5182d80-b75f-11ea-8ee1-0355d97aed8a.png)

[2020-06-26 10:26] alexander-potemkin commented on #1580
Confirming issue. Looking forward for the correction.

[2020-06-26 10:56] haripermadi opened #2220 "Guideline for commit file?"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: not sure
- Device (or Simulator) you're running with: ios 13.5

Hi, I forked the latest version for personal use. I want to commit the file to my forked project but got an error. Is there a guideline on how to commit the file. Thank you in advance.
Here is the error screenshot from my terminal:

<img width="645"

[2020-06-26 12:05] diegolmello commented on #2219
You'll have to change a few places: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageBox/index.js#L195
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageBox/RightButtons.android.js

Reference: https://github.com/wix/react-native-keyboard-input

[2020-06-26 12:05] #2219 closed

[2020-06-26 12:21] diegolmello commented on #2220
Those are lint errors.
If you scroll through the stack trace, you'll see some `warning` and `errors`.
Those errors prevent you from commit your code.
It might be a unused variable, a trailing comma, etc.

[2020-06-26 12:21] #2220 closed

[2020-06-26 13:56] luixxiul commented on #1577
The same issue as above is reproduced on `4.7.2.2126`.

Please let me know if I should open a new ticket to track the issue. Thanks!

[2020-06-26 14:32] haripermadi commented on #2220
Ok, I will check again. I thought I should set something.
Thank you for the response @diegolmello , really appreciated.

[2020-06-26 14:40] djorkaeffalexandre commented on #2214
@zhuyuan2016 can you let me know if this worked? So we can close this issue. :)
Thanks in advance.

[2020-06-26 20:22] #1101 closed

[2020-06-26 20:45] #2124 closed

[2020-06-27 07:00] affandymurad commented on #2210
Dear all, this issue was solved when I type CREATE_TOKENS_FOR_USERS=true in server terminal then restart the service. Thank you for your kindness!

[2020-06-27 07:00] #2210 closed

[2020-06-28 00:09] nishantt12 commented on #2138
I am getting the same issue, how do I resolve this? this is lib which is creating the issue: react-native-background-timer

[2020-06-28 03:18] zhuyuan2016 commented on #2214
It works for me when I add this file named ''googleService-Info'',Thank you!!   ^o^

[2020-06-28 03:18] #2214 closed

[2020-06-28 11:50] ankar84 opened #2221 "No way to leave #general in mobile application"
Leave channel is disappearing right after channel actions opened.
![20200628_184712](https://user-images.githubusercontent.com/4023037/85946691-64646c00-b970-11ea-9ce7-960070add824.gif)
Application version 4.7.2.17537
Server version 3.4 (open.rocket.chat)

[2020-06-29 06:41] #2192 closed

[2020-06-29 14:54] ferkawi opened #2224 "Message / Files Sharing"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: iPad 13.3.1 / iPhone 6 12.4.3

Hello guys! I have a Question (maybe it´s a Issue, im not sure). So when I share a message, for example #general -> right click -> permalink and I copy the perma in a message to another account (have also access to #general), open t

[2020-06-29 16:39] diegolmello commented on #2224
Similar to https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1315

[2020-06-29 16:39] #2224 closed

[2020-06-29 17:30] stacksideflow opened #2226 "Can't add firebase analytics"
- Your Rocket.Chat Experimental app version: 4.8.0.999999999
- Your Rocket.Chat server version: ####
- Device (or Simulator) you're running with: Android, Motorola G8, other devices - most likely hardware independent issue

Following official rocket chat guide for adding push notifications (https://docs.rocket.chat/guides/administrator-guides/notifications/push-notifications) I've created a new fi

[2020-06-29 22:48] AgentTNT opened #2227 "[BUG] Zoomed in images do not reposition - Android"
- Your Rocket.Chat Experimental app version: 4.8.0.17856
- Your Rocket.Chat server version: 3.3.3
- Device (or Simulator) you're running with: Android 10 / Note10+

After updating to the latest Experimental release, once you enlarge a photo in chat you are no longer able to move the photo to view a different area after it has been zoomed in.

[2020-06-30 05:20] ankar84 commented on #2221
I think it could be local cache related issue.
I updated mobile application to version 4.8.0 and had same behavior.
But then I cleared cache and `#general` channel disappeared from my chat list.
So, I'm closing that issue.

[2020-06-30 05:20] #2221 closed

[2020-06-30 05:25] ankar84 commented on #2227
Can you attach a screencast please, I could not reproduce that or I did not understand right your issue.
In my case in 4.8.0.17856 all zoom in and zoom out correctly.

[2020-06-30 05:30] ankar84 commented on #2209
I think you need to build it by yourself using that great [documentation](https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit)

[2020-06-30 06:23] Jose96GIT commented on #2165
I am working on this issue and I'm finding some problems on developing it.

What I'm doing is, after rendering the header of the `NewMessageView` is checking out permissions here, but I don't know how to obtain them. I have seen that the `hasPermission` function is used for obtaining permissions but as I don't have the room id due to that user is not in a room yet, I cannot use it.

Can you please

[2020-06-30 12:33] AgentTNT commented on #2227
Perhaps bad phrasing on my end. Zooming in and out works fine. However when zoomed in and you try to reposition the image once zoomed, the image is stationary. Zoom in on the bottom left and try to move to tyr top right while still zoomed in.

[2020-06-30 13:30] ankar84 commented on #2227
I confirm that - you swipe on image that was zoomed in and nothing happens - image not moving.
As a workaround I can suggest zoom out and zoom in to spot that you need.

[2020-06-30 13:33] Syirrus opened #2228 "Whitelabel app crashes"
- Your Rocket.Chat Experimental app version: 4.7.0
- Your Rocket.Chat server version: 3.3.3
- Device (or Simulator) you're running with: Iphone SE (2nd gen)

**The app compiles, but crashes when I set workspace to: "Legacy Build System"**
The app compiles and runs and then crashes with the following message:
            fatalError("Failed to open the database. \(fmdb.lastErrorMessage())")

**The a

[2020-06-30 13:50] djorkaeffalexandre commented on #2228
@Syirrus probably you forgot to add a AppGroup at your `Info.plist` file.
Follow these [instructions](https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit).

[2020-06-30 13:51] Syirrus commented on #2228
@djorkaeffalexandre I have followed the instructions. :(. Is there something I'm missing?

[2020-06-30 13:53] djorkaeffalexandre commented on #2228
Check your App Group, if it's not accessible [this line](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/lib/database/index.js#L30) will fail.
If you already have an app group configured you maybe forgot to change this line to your own app group.

[2020-06-30 14:04] Syirrus commented on #2228
I will give that a shot and thank you.  Am I able to just replace with the /ios directory with a new one effectively overwriting the old ios directory in my project?  I have made a few changes to the react project and I don't want to have to reapply those changes again if I can help it.

[2020-06-30 14:05] Syirrus commented on #2228
@djorkaeffalexandre sorry if I pinged you twice.

[2020-06-30 14:15] djorkaeffalexandre commented on #2228
@Syirrus yes, you can, make sure that you follow all the instructions steps.

[2020-06-30 15:10] loopway commented on #1993
works now in combination of newer versions:

- Your Rocket.Chat Experimental app version: 4.7.2 for iOS
- Jitsi Server: docker-jitsi-meet stable-4627-1
- Your Rocket.Chat server version: 3.0.4

[2020-06-30 15:10] #1993 closed

[2020-06-30 16:18] magicbelette opened #2229 "Single-server config"
- Your Rocket.Chat Experimental app version: 4.8.0
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Android simulator

Hi, I couldn't find how to specify the SERVER_URL for single-server branch. Nothing in the README nor in https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit

Cheers

[2020-06-30 17:41] Syirrus commented on #2228
@djorkaeffalexandre I've tried and I believe I have followed the whitelabel direction to a "T".  I'm not sure why, but I keep getting the following error when I run npx react-native run-ios:

error Failed to build iOS project. We ran "xcodebuild" command but it exited with error code 65. To debug build logs further, consider building your app with Xcode.app, by opening RocketChatRN.xcworkspace. Ru

[2020-06-30 17:43] djorkaeffalexandre commented on #2228
@Syirrus which version of Xcode are you using?
Can you try to run the project directly at Xcode instead of use the CLI?

[2020-06-30 17:53] Syirrus commented on #2228
@djorkaeffalexandre I'm using Xcode Version 11.5 (11E608c)
If I try to run via command line: **npx react-native run-ios** then I get that error.
If I try to run it via Xcode, I get the following error:

Multiple commands produce '/Users/john/Library/Developer/Xcode/DerivedData/RocketChatRN-blkqoaqdvkjuwhfopsqeamjhifwp/Build/Products/Debug-iphonesimulator/Clarapy.swiftmodule/x86_64.swiftmodule':
1)

[2020-06-30 17:58] djorkaeffalexandre commented on #2228
Try to clean (Command + Shift + K) your build and run it again.

[2020-06-30 18:12] Syirrus commented on #2228
@djorkaeffalexandre I tried that and I have the same issue :(
If I go to "file" -> "workspace settings" -> "legacy build system" then it will compile and runs, but crashes with unrecognized font family 'custom'

hmmmmm

[2020-06-30 19:15] Syirrus commented on #2228
@djorkaeffalexandre Thank you for helping me with this. It seems like the app works, but I keep getting the following error:

https://drive.google.com/file/d/1cW6j_7UfRHui14HKFO3U6KFu6QUxm_Gw/view?usp=sharing

Bypassing this error I get:
https://drive.google.com/file/d/1kYMqBYRs1wtXk8gwdbrlH4Yr6smxqE2C/view?usp=sharing

Note the missing icon

[2020-06-30 19:20] djorkaeffalexandre commented on #2228
Make sure that you have the `custom.ttf` resource and it's checked to RocketChatRN target.
![Screen Shot 2020-06-30 at 16 19 15](https://user-images.githubusercontent.com/29778115/86167826-9bac5780-baed-11ea-8ab4-37f46dc2bd97.png)

[2020-06-30 20:01] Syirrus commented on #2228
@djorkaeffalexandre
Dude, thank you so much. It appears to be working now! I so really appreciate you taking the time to help me. There are so many "gotchas" when compiling this for iOS and Android. I still need to get push notifications to work, but that shouldn't be so bad like it used to be.

Once again, thank you thank you, thank you!

:)

[2020-06-30 20:03] djorkaeffalexandre commented on #2228
@Syirrus you're welcome :)

[2020-06-30 20:03] #2228 closed

[2020-06-30 21:22] AgentTNT commented on #2125
_Technically_ with the new 4.8 exp version, when choosing a file on Android now, the renaming option is gone entirely for both of the above. However now instead of the new name just being `Filename`, it's now the full date/time of the device the moment you select the image from library.

Same source file used in both below. **Also to note that the file extension is changed.**

New choose from libr

[2020-06-30 21:34] AgentTNT commented on #2227
Funny enough, this functionality still works when you are selecting an image from file or library on android, just not after its been sent.

[2020-07-01 11:43] magicbelette commented on #2229
Found in app.json, sorry

[2020-07-01 11:43] #2229 closed

[2020-07-01 18:06] josep112 opened #2233 "rocketchat app ios or android does not appear livechat channels"
I am using the latest version of the app I have already tested the Iphone and Android, the internal channels work perfectly but the channels created in livechat do not appear

[2020-07-01 18:30] diegolmello commented on #2233
We do have support for livechat and I just tested it.
Are you sure the user is a livechat agent?

[2020-07-01 18:34] josep112 commented on #2233
Yes, I'm sure, among the agents I can send and receive messages but not on livechat

[2020-07-01 18:35] diegolmello commented on #2233
I'll have more info than that in order to reproduce the issue.
Can you record videos or send me a test user?

[2020-07-01 19:37] djorkaeffalexandre commented on #2209
@magicbelette `single-server`  branch contains the `4.7.0` version as you can check [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/single-server/ios/RocketChatRN/Info.plist#L22), we update the single server branch on each official release of our apps.

[2020-07-01 19:39] diegolmello commented on #2209
I messed up on the [Android version](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/single-server/android/gradle.properties#L29), but the code is the same as 4.7.0.

[2020-07-01 19:39] #2209 closed

[2020-07-01 19:39] diegolmello commented on #2209
Closed due to inactivity from the author.

[2020-07-01 20:39] josep112 commented on #2233
Yes I can create a user for you, can I send it in your email?

[2020-07-01 20:42] diegolmello commented on #2233
Sure.

[2020-07-02 09:28] Syirrus opened #2235 "Error 400: Push Notifications Not Working for iOS"
- Your Rocket.Chat Experimental app version: Development branch (latest)
- Your Rocket.Chat server version: 3.4.0
- Device (or Simulator) you're running with: Ipad Pro (for push notification test)

**Got error code 400 for token 23022cbeeeaf458e71419ba7d7cf8e83ce34ac3360e9b583cd787a6dec72959d**

I have followed the Whitelabeling guide to the best of my ability. Android push notifications work flaw

[2020-07-02 14:56] AgentTNT opened #2236 "New Action Sheet alignment of icons"
- Your Rocket.Chat Experimental app version: 4.8.0.17856
- Your Rocket.Chat server version: 3.4.0
- Device (or Simulator) you're running with: Android 10

Please fix the alignment of the "Read Receipt" action within the new action sheet. Both the icon and text are askew compared to the others.

![image](https://user-images.githubusercontent.com/29238486/86374212-4f2e5c80-bc52-11ea-85e8-b9b50d9c749

[2020-07-02 17:06] #2236 closed

[2020-07-02 21:14] HiveMindNet commented on #688
Question - just testing 4.8.0.304 over TestFlight on server 3.4.0. Keen to test iFrame auth. We have iFrame auth on the server with default form disabled. Typically and on browser, client logs in to our website (not rocket) and then we use iFrame auth to auth from there into rocket in browser. How can I test iFrame auth in mobile browser? Surely I need to somehow set something up first or enable s

[2020-07-03 05:49] dollah-singh opened #2239 "Urgent help needed for push notification"
Hi Everyone,
I really appreciate your contribution to Rocket.Chat react native app.
I have a problem while working on this app customization.
I cloned Rocket.Chat react native app and I changed the app name and app id (package name) accordingly. 
Also I included my latest google_services.json to the Android Project.
The problem is that Push notification is not working at all for Android for this b

[2020-07-03 10:31] B3QL commented on #1030
I've also encounter problems with synchronization between platforms.
Mobile app on iOS: 4.7.2.302
Self-hosted server version: 3.3.3

Before I flushed all the cache I was receiving Push notifications about latest messages, however I wasn't able to see them in app.
After flushing I can't sync anything  and don't receive any Push notifications.

[2020-07-03 12:25] diegolmello commented on #2235
Refer to these docs: https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit

[2020-07-03 12:25] #2235 closed

[2020-07-03 12:25] diegolmello commented on #2239
Refer to these docs: https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit

[2020-07-03 12:25] #2239 closed

[2020-07-03 12:37] djorkaeffalexandre commented on #688
@HiveMindNet is your iFrame auth following this guide? https://docs.rocket.chat/guides/developer-guides/iframe-integration/authentication
If yes, when you connect to this server at your device what is showed up?
It should show only the login button that open a WebView with your iFrame.

[2020-07-03 12:54] giterium commented on #2158
is there any news?
The same problem is found in chat search...

[2020-07-03 12:57] djorkaeffalexandre commented on #1984
Closed due to inactivity from the author.

[2020-07-03 12:57] #1984 closed

[2020-07-03 13:06] HiveMindNet commented on #688
Hi @djorkaeffalexandre I have followed that exact approach, yes. Using window.parent.postMessage and users auth token. It logs in fine. However, there's no login button at all and the only way I can log in on mobile is using a deep link with auth. The default login form is disabled as we don't allow normal login; only wanting iframe or deeplink. I tried to enable default login form but also this d

[2020-07-03 13:09] djorkaeffalexandre commented on #688
@HiveMindNet I will take a look ASAP, looks like we're not checking if iFrame is enabled to always show the login button that will open the iFrame auth. Thanks for you report! 🤗

[2020-07-03 13:32] djorkaeffalexandre commented on #688
@HiveMindNet #2241.

[2020-07-04 06:26] sephwalker56 commented on #2102
I'm not sure if this is still in the works or if it's been forgotten, but I figured I'd chime in. As of the time of writing, push notifications are still laggy. It makes conversations move very slow and is a huge gripe that all of my mobile users have. I love this software but having a 2-minute average delay between notifications means that a conversation that runs just ten messages takes twenty m

[2020-07-04 06:54] sephwalker56 opened #2243 "[BUG] Sort by activity does not sort by recent posts, instead sorts seemingly arbitrarily"
- Your Rocket.Chat Experimental app version: 4.8.0.2127 (and current non-beta release version, and current beta release version)
- Your Rocket.Chat server version: 3.4.1
- Device (or Simulator) you're running with: Pixel 3a XL on Android 11 beta and another on Android 10 & iPhone 8, iOS 13.5.1

### Description:

This bug occurs on Android 11 beta, Android 10, and iOS 13.5.1, across many devices an

[2020-07-04 08:45] Andreea2400 commented on #2102
Hello,
Thank you very much for testing the app. I cant uninstall because is for
work, but should worked asap at this. Use development testing or hire more
people.On desktop, they came indeed very fast(under 6sec).If you are logged
on mobile and desktop: notifications will came first on desktop -6 sec.,
than on mobile - 1.20minute (which is very long). If you are only on iphone
mobile logged : 1min

[2020-07-04 09:43] Kimpfimp opened #2244 "Creating discussion not working with long-press menu anymore"
Your Rocket.Chat Experimental app version: 4.8.0.17969

Your Rocket.Chat server version: 3.2.2

Device (or Simulator) you're running with:
Moto G7 Plus with Android 10 (Lineage OS 17.1)

### Description:
Clicking on "Create discussion" from the menu when long pressing on a message does not generate discussion. It seems to not do anything at all.

This only happens in the long press menu, creating

[2020-07-04 10:11] HiveMindNet commented on #688
Fantastic @djorkaeffalexandre all working now :)

[2020-07-05 01:01] AgentTNT commented on #2227
This behavior is not experienced on the iOS version of the experimental version of the app.

[2020-07-05 19:36] sistason commented on #1353
I was looking for this issue and found it here...
Is there any idea on when you support this? I have a rocketchat-server I want to move to a different URL, which is apparently a thing I cannot do, as my users would just sit in front of the app not connecting and just... leave?

[2020-07-06 12:07] diegolmello commented on #2102
Make sure you're running Rocket.Chat server 3.4.0+
A fix was released on https://github.com/RocketChat/Rocket.Chat/pull/17669

[2020-07-06 12:07] #2102 closed

[2020-07-06 12:11] diegolmello commented on #2243
I think it's really related to new threads.
It's planned to release support for it on 4.9.0.
Thanks.

[2020-07-06 12:16] diegolmello commented on #2244
Thanks for reporting.
I was able to reproduce it.
In the meantime we work on a fix, you can create discussions from the `Create` button from the rooms list and then `Create Discussion` or tapping the `plus` icon on the channel and then `Create Discussion`.

[2020-07-06 13:27] sephwalker56 commented on #2102
I am indeed running the most recent, 3.4.1, though the last test I did for timings was 3.3.x. Doesn't that fix you linked only apply to emails, or am I misunderstanding it?

[2020-07-06 13:59] sephwalker56 commented on #2102
You would probably know way more about this than myself, but even on 3.4.1 we still are having issues with push notifications. Sometimes they're only delayed a minute or two, but other times they will straight up take hours, suddenly getting slammed with 50 notifications from RocketChat out of nowhere. This isn't a problem that just myself is experiencing, either. Every mobile user on my server is

[2020-07-06 14:18] diegolmello commented on #2102
@sephwalker56 Did you try changing the default delay mentioned on the PR?

[2020-07-06 14:21] matzexcom commented on #688
I got a question regarding the iframe auth. After the SSO we are still in the web view popup kinda thing. Is that intentional or should it transfer to the real mobile app after the SSO workflow?

[2020-07-06 14:23] djorkaeffalexandre commented on #688
@matzexcom it should close the SSO popup.
Can you record a gif and post it here?
If possible can you send me a test user at https://open.rocket.chat/direct/djorkaeff.alexandre?

[2020-07-06 14:53] sephwalker56 commented on #2102
Sorry -- didn't see you'd responded, wanted to test that, hence the deleted messages. I misunderstood and thought it was for just emails, until I dug into the further PRs.

But yes, I've set all three environment variables to 1. Just tested it and it's still quite delayed. One user only received 2 of 10 push messages sent after closing out of mobile app. Still testing it further, once my other adm

[2020-07-06 15:03] diegolmello commented on #2102
Np. Feel free to create another issue if you have more questions. Thanks for the feedback.

[2020-07-06 15:11] Andreea2400 commented on #2102
i used to have this issue on mobile. I make upload from appstore?

În lun., 6 iul. 2020 la 18:03 Diego Mello <notifications@github.com> a
scris:

--
*Savu Andreea*

[2020-07-06 15:11] Andreea2400 commented on #2102
Indeed, i made update today

În lun., 6 iul. 2020 la 18:10 Andreea . <savuandreea1@gmail.com> a scris:

--
*Savu Andreea*

[2020-07-06 15:35] djorkaeffalexandre commented on #688
I talked with @matzexcom and we figured that was a problem with a trick that he is using to get it working at web client, but this trick doesn't work on mobile, now he will use the considerations specified at [this documentation](https://docs.rocket.chat/guides/developer/iframe-integration/authentication#iframe-url).

[2020-07-06 16:03] arpsyapathy opened #2245 "Error "Call Already Ended" when i click button "Click to join""
Hi all!

I get error "Call Already Ended" when i click button "Click to join".
I try this on 5 Android devices.
1. Samsung S7 - Error "Call Already Ended", But when i go to "User menu > VideoCall" i success connect to Video Call Jitsi
2. Samsung Note 9 - Error "Call Already Ended"
3. Xiaomi Mi 8 - OK
4. Xiaomi Mi A2 - OK
5. Samsung S8 - OK

Problem with button "Click to join"?
How fix it?
Thank yo

[2020-07-06 16:40] aleadco commented on #2245
Hi, I can confirm this, the same thing happens in our instance. I don't think it's the app, I think it's related to the communication between jitsi server and rocketserver. In our case, the error came from the web, desktop app, mobile app. Regards

[2020-07-06 19:41] matzexcom commented on #688
like @djorkaeffalexandre wrote, I forget the postMessage call in the iFrame URL, now it works like a charm

[2020-07-07 01:24] xtilyn commented on #2210
Did you set 'Enable Gateway' to false under Push config?

[2020-07-07 13:06] #2204 closed

[2020-07-08 17:03] alexander-potemkin commented on #1580
by the way, @diegolmello , can't help understanding why permissions not preventing user from seeing other users in channel, prevents from mentioning him/her?

[2020-07-08 17:08] diegolmello commented on #1580
@alexander-potemkin Can you give us a reproducible example and/or a video?
I didn't understand what you're talking about exactly.

[2020-07-08 17:33] joernal opened #2258 "App does not prompt user to enter password for password protected channels"
- Your Rocket.Chat Experimental app version: 4.6.4
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: iPhone 11 (iOS 13.5 - Simulator)

App does not prompt user for password when joining password-protected channels. User is unable to join the room with the following response (/api/v1/channels.join):

`{
	"success": false,
	"error": "Invalid Room Password [error-c

[2020-07-08 17:39] diegolmello commented on #2258
@joernal Yeah, it's not implemented yet.
Let me know if you want to contribute.
Thanks for reporting.

[2020-07-08 19:38] #2227 closed

[2020-07-08 20:57] #2244 closed

[2020-07-08 21:19] Fishbowler opened #2267 "CircleCI builds should be optimised on Mac runners"
CircleCI has a maximum of 1 macOS runner, so it's important that we optimise running time.

Expensive operations:

- iOS builds
- iOS test runs
- Brew update

We could use something like [folder-hash](https://www.npmjs.com/package/folder-hash) and [storing artifacts](https://circleci.com/docs/2.0/artifacts/) to see if anything important has changed and, if not, save rebuilding by using a previousl

[2020-07-09 12:17] diegolmello commented on #2267
We save brew cache [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/.circleci/config.yml#L80), but I'm happy to hear more about all of these optimisations (:

[2020-07-10 08:17] hengsok opened #2276 "(BUG) Sending Image/File with description is hidden on iOS upon sent"
- Your Rocket.Chat Experimental app version: ####
4.8.0
- Your Rocket.Chat server version: ####
3.4.1
- Device (or Simulator) you're running with: ####
iPhone 11 Pro Max device

As you can see in the picture below, we downloaded the official RocketChat from iOS store with the latest version 4.8.0 and when we upload a new photo with description, the description became hidden below the MessageBox.

[2020-07-10 10:43] Fishbowler commented on #2267
Better than a folder-hash would be to use the existing git hash for a folder along with the hash for the dependencies. If the source hasn't changed and the node_modules haven't changed, no need to rebuild?

https://stackoverflow.com/a/47721593/399007

[2020-07-10 12:31] diegolmello commented on #2276
Here's a pic I've sent just now.
![image](https://user-images.githubusercontent.com/804994/87154595-e49fa100-c28f-11ea-949e-5c8cf7d24d29.png)

This issue is not related to the feature and may happen once in a while.
We have never been able to reproduce it regularly, so we've never been able to fix it.
Can you open an issue if you manage to fix it?
Thanks.

[2020-07-11 10:49] pokapow opened #2279 "MarkDown rendering for code view different on mobile app"
On mobile, markdown rendering of "```" tags is different than on web.

For this message:
![Capture du 2020-07-11 12-41-13](https://user-images.githubusercontent.com/30467320/87222553-af20b380-c374-11ea-9efb-d0d79f991da9.png)

Rendering on the web:
![Capture du 2020-07-11 12-41-44](https://user-images.githubusercontent.com/30467320/87222559-ce1f4580-c374-11ea-8807-576bc10caf4a.png)

Rendering on mo

[2020-07-11 10:52] hengsok commented on #2276
Hi @diegolmello

Thank you so much for replying.

Upon further investigation after hours and hours of debugging, I found out that if I set in the file KeyboardTrackingViewManager, there is this method below and it seems that in some instances, we fall into the second case below. And that is the reason why we have the content hidden behind the MessageBox differently across different devices. Your d

[2020-07-11 11:14] hengsok commented on #2276
Ok above is definitely a good clue to solving this problem and I found the solution with minimal changes!!

The thing is, since
_observingInputAccessoryView.keyboardHeight <= bottomSafeArea
We need to make sure the keyboard height is less than the bottom area which is the MessageBox in our case.
If we set height of the View encompassing the bottom area to something larger than the keyboard height

[2020-07-11 11:40] hengsok commented on #2276
Ok above is definitely a good clue to solving this problem and I found the solution with minimal changes!! And you wouldn't believe it is that simple to fix which has caused me days to debug this!

The thing is, since
_observingInputAccessoryView.keyboardHeight <= bottomSafeArea
We need to make sure the keyboard height is less than the bottom area which is the MessageBox in our case.

The value of

[2020-07-11 14:26] jcourcel opened #2280 "Cannot access the first left top menu (hamburger menu) on my android 8 inches tablet"
Rocket.Chat app version: 4.8.0
Rocket.Chat server version: 3.0.7
Device running with: Samsung Tab A SM-T350, screen 8 inches
Android version : 7.1.1

Problem description.
When I select the hamburger style menu, on the top left of the application, the screen come white and freeze.

[2020-07-11 17:26] diegolmello commented on #2276
What?
No way! 😄
Can you open a PR setting it to 1?
Thanks! 👏👏👏

[2020-07-12 06:43] hengsok commented on #2276
Sure!  Thanks for contributing so much to this project too! You did a great job for this open source project! @diegolmello

[2020-07-13 03:09] octotep commented on #1626
I'm experiencing this exact problem with our custom compiled Rocket.Chat app with our own push notification certs. Our server is available over HTTPS, so the suggestion above doesn't resolve the problem for us. We've only tested on iOS so far so I cannot comment on Android.

To reproduce:

1. Make sure the Rocket.Chat app gets unloaded (either open a lot of apps, just wait for it to get unloaded i

[2020-07-13 06:51] alexander-potemkin commented on #1580
@diegolmello , please, find the video here: https://yadi.sk/i/LpI6ymHhL_BIYA

v4.8.0 from the appstores; same user has no issues on Mac app.

[2020-07-13 12:20] diegolmello commented on #1626
@octotep Make sure `Site_Url` setting matches your server URL.

[2020-07-13 13:40] DMuckerman commented on #1626
Hey Diego,

I can confirm our Site Url is pointing to the URL we use to access the web app, and I made sure I went back in and updated ROOT_URL for the docker container to also be correct, but I'm still seeing the mobile app hang when attempting to open a push notification after the app has been evicted from memory or force quit.

We're running the latest docker version and the latest build from t

[2020-07-13 16:43] #2276 closed

[2020-07-13 18:53] aasseman opened #2284 "SSO 2FA with FIDO not working"
Rocket.Chat Experimental app version: 4.8.0.17969
Rocket.Chat server version: 3.3
Device: Google Pixel 2, Android 10

I am currently using GSuite SAML. It works perfectly in the browser.
In the Android app, when logging in, there is no way to use a FIDO key, as the SAML login page is using the app's browser, and cannot talk to the key.

A possible solution would be to open the SAML login page in t

[2020-07-13 20:24] AgentTNT commented on #2279
This is a duplicate issue - https://github.com/RocketChat/Rocket.Chat.ReactNative/issues/1778

[2020-07-13 20:25] #2279 closed

[2020-07-14 06:51] ankar84 opened #2285 "Tap on In-App notification while Jitsi call terminate it"
- Your Rocket.Chat Experimental app version: 4.8.1.18375
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Xiaomi Mi 9 SE

### Steps to reproduce:
1. User in Jitsi call.
2. Someone writes a message to user.
3. User gets in-app notification.
4. User tap on in-app notification.
5. Application opens a chat with other user that wrote message
6. Jitsi call for user i

[2020-07-14 08:14] ankar84 opened #2286 "No avatar in Jitsi call in mobile application when Block Unauthenticated Access to Avatars is enabled"
- Your Rocket.Chat Experimental app version: 4.8.1.18375 - 4.16.2
- Your Rocket.Chat server version: 3.7.1 - 3.14.0
- Device (or Simulator) you're running with: Xiaomi Redmi Note 5

According to https://github.com/RocketChat/Rocket.Chat/issues/18117 we need to enable **Block Unauthenticated Access to Avatars** in **Admin UI - Accounts**
Desktop application and web version after that work fine - us

[2020-07-14 16:44] kieran-william opened #2287 "files attachment duplicate when pagination"
- Your Rocket.Chat Experimental app version: 4.8.0

![image](https://user-images.githubusercontent.com/40080911/87452360-5464b180-c62b-11ea-864f-c34a5b42017f.png)
It looks like the data is being duplicated when scrolling to the bottom of the page.
I have just accessed rocketchat code so I can't fix it yet.
Can someone help stop this fix so I can learn.
thanks

[2020-07-14 17:20] Kushagraw12 commented on #2152
Hey I am new here. Can I work on this issue?
Thanks!

[2020-07-14 17:23] diegolmello commented on #2152
@Kushagraw12 sure :)

[2020-07-14 17:46] Kushagraw12 commented on #2152
@diegolmello  Thanks, can you please tell me from where should i start? In which file should i look for the issue?
Thanks!

[2020-07-14 17:57] diegolmello commented on #2152
@Kushagraw12 We should test if `UI_Use_Real_Name` is set [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/ReactionsModal.js#L65) and show the real name instead.

[2020-07-14 20:58] superseby2 opened #2288 "When entering a channel with a thread containing a specific message, app gets stuck"
- Your Rocket.Chat Experimental app version: 4.8.1
- Your Rocket.Chat server version: 3.4.1
- Device (or Simulator) you're running with: Android 8.1.0

I could not narrow down which caracters or combinaison of car. make the app gets stuck

But it seems to be when we have

- One thread
- In this thread the original line the thread was started with
- and a second line with a mix of regular text, mar

[2020-07-15 05:21] ankar84 commented on #2245
Here is a main issue https://github.com/RocketChat/Rocket.Chat/issues/11649

[2020-07-15 05:29] ankar84 opened #2289 "[bug] global search text is invisible in dark mode, only switch is visible"
- Your Rocket.Chat Experimental app version: 4.8.1
- Your Rocket.Chat server version: 3.1.1
- Device (or Simulator) you're running with: Android 10

I think it true only for federation enabled deployments
Bug in dark mode:
![image](https://user-images.githubusercontent.com/4023037/87506833-f1980800-c674-11ea-84c3-2ed115f527fc.png)
And here is a light mode (all fine)
![image](https://user-images.gi

[2020-07-15 05:46] superseby2 commented on #2288
Update ... super hard to understand where it comes from (because everytime, I need to clear cache/data).

It really is related to threads though because, on the problematic channel, when I took out all the content from the thread  and put it back to the main area, I got my channel back (after cleaning cache and data).

In out channel general, we have many many threads with all sort of content, hen

[2020-07-15 12:17] mk0116 opened #2291 "upgrade react-native to 0.63.1"
Recently react native had a big update with many bug fixes and improvement.

It will be great if rocket chat could have the latest react native.

[2020-07-15 12:22] diegolmello commented on #2288
@superseby2 I wasn't able to reproduce here.
Can you reach me at https://open.rocket.chat?
I'm `@diego.mello`.
Let's see if we can reproduce while talking on a channel.
Thanks.

[2020-07-15 12:23] diegolmello commented on #2291
I'm working on this right now.
Thanks.

[2020-07-15 12:23] #2291 closed

[2020-07-15 13:31] diegolmello commented on #2288
Ok, we talked about it and we managed to reproduce it.

### Test plan
- Send this message from web (without backticks)
[code]
- Open the app
- It's going to be stuck

I think it's related to markdown preview: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/markdown/index.js#L385

[2020-07-16 09:50] refactor-droidyy commented on #2158
@ankar84  @giterium can i work on this?

[2020-07-16 09:56] ankar84 commented on #2158
I'm not a developer, to my deep regret.

[2020-07-16 10:35] refactor-droidyy commented on #2287
@kieran-william  @diegolmello  can I work on this ?

[2020-07-16 12:10] diegolmello commented on #2158
@refactor-droidyy sure :)

[2020-07-16 12:10] diegolmello commented on #2287
@refactor-droidyy go for it :)

[2020-07-16 12:56] phriedrich opened #2295 "Read Receipts don't open in new Action Sheet on tablet"
- Your Rocket.Chat Experimental app version: 4.9.0.308
- Your Rocket.Chat server version: 3.4.2
- Device (or Simulator) you're running with: iPad iOS 13.6

When trying to open the read receipts on iPad, they don't open, the action sheet just closes.

The same app version on iPhone works.

![IScreenshot of action sheet](https://user-images.githubusercontent.com/470153/87673208-774ead00-c774-11ea-87

[2020-07-16 12:59] diegolmello commented on #2295
It looks like an issue.
We're just trying to navigate [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageActions/index.js#L204), but tablet uses a master detail layout and it should be done like [this](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/containers/MessageActions/index.js#L121)

[2020-07-16 14:06] phriedrich commented on #2295
@diegolmello Excellent hint! I got it working on the simulator and created a PR.

[2020-07-16 14:16] phriedrich commented on #2295
No it works for both.

[2020-07-16 14:34] cprice-kgi opened #2298 ""Message" button does not initiate DM from User Info"
- Your Rocket.Chat Experimental app version: 4.8.1
- Your Rocket.Chat server version: 2.4.9
- Device (or Simulator) you're running with: iOS 13.3, iPhone 8

When you click a user to bring up their profile (User Info) and click on the "Message" button, the expectation is a direct conversation starts, but currently nothing happens when you click it.

I see the render() is being called twice. compone

[2020-07-16 14:55] cprice-kgi opened #2299 "Admin Panel - inconsistent behavior"
- Your Rocket.Chat Experimental app version: 4.8.1
- Your Rocket.Chat server version: 2.4.9
- Device (or Simulator) you're running with: iOS 13.3, iPhone 8

Clicking "Admin Panel" asks to re-authenticate (we are using an external user store/IdP). Once re-authenticated, a page appears reading "Login completed. Click here to close this window.", but clicking on the link does not close out the page.

[2020-07-17 01:53] xuanduyrn commented on #2287
@refactor-droidyy If there is PR please let me know :heart:

[2020-07-17 17:13] #2295 closed

[2020-07-17 17:45] #2288 closed

[2020-07-17 18:30] Kushagraw12 commented on #2152
Hi! I have been trying for days now, and i keep running into an error while launching my the app locally. Can someone please help me with that?

![Screenshot (56)](https://user-images.githubusercontent.com/53997603/87819055-4318e080-c889-11ea-953a-9685a9a7848c.png)

This is the error that i am getting.
I have attached my android device to my system an even ran this command after that `adb -s <devi

[2020-07-17 18:32] diegolmello commented on #2152
@Kushagraw12

You probably are missing SDK 28.

[2020-07-17 18:35] Kushagraw12 commented on #2152
Ohh, so for that, I shoot up my android Studio and add SDK 28 manually from there right?
Or is there some other way to handle it?
Thanks!

[2020-07-17 18:59] #2287 closed

[2020-07-17 19:24] cprice-kgi commented on #2298
I believe I have fixed this, but would appreciate confirmation from the RC team. It seems to work as expected with the following change to /app/views/RoomInfoView/index.js:

In the loadUser method, I changed line 188 from:
`this.setState({ roomUser: user, room: { ...roomState, rid: room.rid } });`

to:
`this.setState({ roomUser: user, room: { ...roomState, rid: this.rid } });`

[2020-07-17 21:41] jcourcel commented on #2280
This issue disappeared with version 4.9.0.2132.

[2020-07-17 21:41] #2280 closed

[2020-07-18 00:18] #2159 closed

[2020-07-18 11:02] Kushagraw12 commented on #2152
@diegolmello  I added SDK 28 and tried to run the app again, but i am encountering a different error this time. I tried to google this error, but i could not understand the solution. Please help me out! Thanks!

![Screenshot (57)](https://user-images.githubusercontent.com/53997603/87851225-37263080-c914-11ea-98fa-ac94ea739607.png)

[2020-07-18 11:13] IEthMiner opened #2337 "Unable to join workspace Android App"
### Description:

I have logged out of the app this morning and have been unable to get back in.

I'm able to connect to the workspace enter my user and pass then I see this

![image](https://user-images.githubusercontent.com/42719736/87851325-9d4c8c80-c8ef-11ea-9525-ce3f62faa885.png)

### Steps to reproduce:

1.  Join workspace
2. Click the login button
3. Select Continue with Join the Social hub

[2020-07-18 18:55] refactor-droidyy opened #2313 "Username shown in files section instead of Realname"
- Your Rocket.Chat Experimental app version: 4.9.0
- Your Rocket.Chat server version: 3.5.0
- Device (or Simulator) you're running with: POCO X2

When the user navigates to the view Room message it can be seen that the real name is shown for that particular message send by other users which is correct

<img src="https://user-images.githubusercontent.com/44283521/87856076-0e189680-c93a-11ea-8359-91

[2020-07-18 18:55] refactor-droidyy commented on #2313
@diegolmello @djorkaeffalexandre if this issue is valid can I work on this?

[2020-07-19 12:36] 1rV1N-git commented on #2174
Hello @diegolmello
Can you fix it?

[2020-07-20 07:09] nexus166 opened #2315 "Cannot login with custom OAuth on iOS"
- Your Rocket.Chat Experimental app version: app store's latest
- Your Rocket.Chat server version: 3.4.2
- Device (or Simulator) you're running with: iphone XR

Login button opens up Safari browser to continue login, but once finished nothing happens.

Expected behavior: at completed login should return to RocketChat app to finish process

[2020-07-20 11:10] mk0116 opened #2316 "Screen freeze caused by RocketChat/commonmark.js"
Since RocketChat/commonmark.js has been updated, the roomview freezes and nothing is clickable but only scroll action works.

I checked that the code set a week ago works perfectly fine.
(I've had the previous version of rocket chat react native so I was able to find that old package in node_modules)

There were 24 messages.
All the messages in the list do not have any link or some special charact

[2020-07-20 11:44] djorkaeffalexandre commented on #2316
Hey! Can you provide more info like which message is causing this freeze, or send a test user for us enter this channel?
https://open.rocket.chat/direct/djorkaeff.alexandre
Thanks in advance.

[2020-07-20 11:55] diegolmello commented on #2315
Is it working on your web client?
It's most likely a configuration issue.
I can't help you without specific information.

[2020-07-20 11:59] diegolmello commented on #2174
@nishantt12 You should use UIKit for that.
Try `/poll` app: https://github.com/sampaiodiego/rocket.chat.app-poll
It renders buttons dinamically.

[2020-07-20 11:59] #2174 closed

[2020-07-20 12:00] diegolmello commented on #2313
@refactor-droidyy sure

[2020-07-20 12:03] diegolmello commented on #2152
It looks like you don't have a valid JDK.

[2020-07-20 12:06] diegolmello commented on #2298
@cprice-kgi If you fixed it, open a PR and we can review it.

[2020-07-20 12:08] diegolmello commented on #2299
I'm unable to reproduce here.
Send me a test user at https://open.rocket.chat. I'm `@diego.mello`.

[2020-07-20 12:10] diegolmello commented on #2284
I'm unable to reproduce here.
Send me a test user at https://open.rocket.chat. I'm `@diego.mello`.

[2020-07-20 12:11] diegolmello commented on #2226
Follow our whitelabel docs https://github.com/RocketChat/Rocket.Chat.ReactNative/tree/single-server#running-single-server

[2020-07-20 12:11] #2226 closed

[2020-07-20 12:13] diegolmello commented on #2170
I was unable to reproduce it.
Is it still happening?

[2020-07-20 12:15] diegolmello commented on #2245
Ok, closing.
Thanks for investigating.

[2020-07-20 12:15] #2245 closed

[2020-07-20 12:18] djorkaeffalexandre commented on #2207
Hey guys! Can you reach me on https://open.rocket.chat/direct/djorkaeff.alexandre providing a test user to reproduce it here?
Thanks in advance.

[2020-07-20 12:19] stacksideflow commented on #2226
@diegolmello thanks for this! It'd be helpful to blend this into documentation, as now it's really hard to find IMO

[2020-07-20 12:20] diegolmello commented on #2226
@stacksideflow It's a wip. It's going to be merged soon.

[2020-07-20 12:30] ankar84 commented on #2170
It happened once to one of my users. And I did reproduce that once, but then I couldn't reproduce that any more.
So, I think that circumstances of that issue are need to be clarified.

[2020-07-20 12:33] diegolmello commented on #2170
Ok.
I'm going to close it then.
Please reply with a reproducible example if you manage to get one.
Thanks.

[2020-07-20 12:33] #2170 closed

[2020-07-20 12:38] nexus166 commented on #2315
my RocketChat instance has ~15 users using both web clients and mobile, the only iOS user is experiencing the reported issue

[2020-07-20 12:42] diegolmello commented on #2315
Ok, but that's not enough info.
Can you send me a test user at https://open.rocket.chat?
I'm `@diego.mello`.
Thanks.

[2020-07-21 11:33] aimador opened #2322 "Push Message Encryption"
- Your Rocket.Chat Experimental app version: All Versions
- Your Rocket.Chat server version: 3.4
- Device (or Simulator) you're running with: Any

Hi,

since RC will be enforcing the registration for the ability to use the push gateway, we were generally wondering if the push notifications are actually encrypted, besides TLS. Our users depend on the message content being sent as a payload. Turning

[2020-07-21 11:49] diegolmello commented on #2322
Hi!
We're going to implement push notification encryption soon, but we're already finishing a similar feature we called [Push Notification Privacy](https://github.com/RocketChat/Rocket.Chat.ReactNative/pull/2213)
The [server PR](https://github.com/RocketChat/Rocket.Chat/pull/18254) was merged a few hours ago.

It's not an encryption yet, but the info isn't going to be sent to Apple/Google anymore.

[2020-07-21 14:39] refactor-droidyy commented on #2316
@djorkaeffalexandre ui freezing only happens in sandbox room and for other rooms it work fine.

[2020-07-21 15:10] diegolmello commented on #2316
It looks like two different issues.
@refactor-droidyy Can you create a new one for the sandbox channel?
You can link this one as similar though.

[2020-07-21 15:23] Fishbowler opened #2324 "State not immediately updated when a message is pinned or starred"
- Your Rocket.Chat Experimental app version: 4.10.0 (develop)
- Your Rocket.Chat server version: 3.2.2
- Device (or Simulator) you're running with: Simulator - iOS 13.6 on iPhone 11 Pro

When you Pin a message, it's "pinned" state isn't immediately updated internally.
Immediately reopening the Action Sheet for the message shows the option to Pin again.
Leaving it a second before opening the Action

[2020-07-21 19:09] refactor-droidyy opened #2326 "UI freezes in sandbox room"
- Your Rocket.Chat Experimental app version: 4.10.0
- Your Rocket.Chat server version: 3.5.0-rc.0
- Device (or Simulator) you're running with: POCO X2

In a Rocketchat workspace while navigating to the room sandbox's the ui is freezed which does not allow any functionality like navigating back ,accesing files or entering any other room  and many more user have to rerun the app to enter another roo

[2020-07-21 19:21] BizClimb opened #2327 "single-server branch specific issue - App doesn't use white-labeled icon in WorkspaceView."
- Your Rocket.Chat Experimental app version: 4.9.0.1
- Your Rocket.Chat server version: 3.4.2
- Device (or Simulator) you're running with: Android

When using the single-server branch, after installing the android version, it loads the Your workspace page (app/views/WorkspaceView/) but uses the default RocketChat logo, even if you adjusted your server's 512px icon, and if you have set the logo and

[2020-07-21 19:25] diegolmello commented on #2327
Actually, we're using the image set on your server's settings: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/views/WorkspaceView/index.js#L73

Change it on Admin > Settings > Assets and try again.

[2020-07-21 19:57] BizClimb commented on #2327
Every asset is set in the Admin > Settings > Assets (as mentioned in my original post above), even tried to do a re-cache and cleared all cache/storage in the android app, still continues to load the wrong image. I suspect it's loading the faivcon from another workspace (maybe the default rocket workspace) even though I have my workspace as the server in the app.json for single server branch.

I'v

[2020-07-21 20:13] BizClimb commented on #2327
Perhaps this is a problem with assets not saving correctly more so then the react native branch?

Just tried to load: /images/logo/android-chrome-512x512.png in the web browser and it is showing the rocket chat default logo regardless of my logo in the assets being shown as the 512 android chrome image..

[2020-07-21 20:22] diegolmello commented on #2327
Yeah, it looks like an issue on the main repo.
Can you create an issue there?
I'm closing this one.
Thanks.

[2020-07-21 20:22] #2327 closed

[2020-07-21 21:35] BizClimb opened #2329 "single-server branch specific issue - Android - Notification doesn't load app into workspace when app is closed."
- Your Rocket.Chat Experimental app version: 4.9.0.1
- Your Rocket.Chat server version: 3.4.2
- Device (or Simulator) you're running with: Android

I am using Firebase notifications set via google-services.json file on single server branch. This started happening after 4.5. (4.8 and now 4.9 still happening) When I get a notification and the rocketchat app is closed, it opens, but then stays on the

[2020-07-22 07:59] ankar84 commented on #2322
Sound like a wonderful feature!
Will wait it a lot!

[2020-07-22 12:19] diegolmello commented on #2329
I have a single-server app installed and it's working nicely.
Make sure you've followed our whitelabel docs https://docs.google.com/document/d/17ib2Le_SH6U2gP0sEuKapF2J-WgqZxPFMRRVUSofz7Y/edit

[2020-07-22 13:49] diegolmello commented on #2316
@refactor-droidyy @mk0116 You guys were right about commonmark update.
Let's revert it and try updating again later.
Thanks for investigating.

[2020-07-22 14:04] #2316 closed

[2020-07-22 14:04] #2326 closed

[2020-07-22 15:02] #1892 closed

[2020-07-23 03:25] BizClimb commented on #2329
I followed the white label guide, still didn't work. Only difference between the white label guide and what I did was I compiled signed APK with Android Studio instead of command line. I even created a firebase project with chat.rocket.reactnative so I basically didn't have to change anything just to be sure that nothing got "lost" during whitelabeling, I only changed the server url in app.json ro

[2020-07-23 12:15] diegolmello commented on #2329
@BizClimb Ok. Please, open a PR when you find the issue. Thanks.

[2020-07-23 20:53] djorkaeffalexandre commented on #2337
@IEthMiner do you know if social hub is a iFrame authentication or which type of authentication it's using?
Can you send me a test user on https://open.rocket.chat/direct/djorkaeff.alexandre?
Thanks in advance.

[2020-07-24 06:57] IEthMiner commented on #2337
@djorkaeffalexandre it's using oauth connected to auth0.

Not quite sure what you're looking for via that link? Are you wanting me to sign up or?

Thanks

[2020-07-24 11:52] djorkaeffalexandre commented on #2337
@IEthMiner yeah, if you can register to our open server we can have a more directly conversation, and you can provide me test credentials to your server, so, I can reproduce this error here and find the error.
Without this info, I can't understand what can be happening.

[2020-07-24 14:22] IEthMiner commented on #2337
This has now been resolved - Not sure what it was but gave my account details to @djorkaeffalexandre and he was able to log in from another location.

After uninstalling the app on my end and logging in I went straight in with no issues

Great support 👍

[2020-07-24 14:22] #2337 closed

[2020-07-24 14:40] djorkaeffalexandre commented on #2337
We've tried again and it just worked :)
Probably an instability with their server or social hub oauth.
Thanks.

[2020-07-24 16:08] kumbhar-ketan commented on #2138
I'm also getting the same issue. Please help us with this issue.

[2020-07-26 13:24] idominiki commented on #2135
Would be great If you can implement it ASAP :)

[2020-07-26 21:48] aleadco commented on #2245
I currently keep this error in 3.4.2

An alternative solution that I have found is to press the same call button and not the one that appears in the chat window.

[2020-07-27 06:11] refactor-droidyy opened #2341 "Wrong Date and Time shown in File Section"
- Your Rocket.Chat Experimental app version: 4.10.0
- Your Rocket.Chat server version: 3.5.0-rc.3
- Device (or Simulator) you're running with:  POCO X2

Currently the date and time while file section for a particular room is viewed is not displayed correctly it just shows the current date and time everytime a user opens ...which is the current system date and time.

<img src="https://user-images.g

[2020-07-27 09:58] didacroyo opened #2342 "Iframe Authentication Redirection fro mobile APP"
**Description:**
We are using iframe authentication, on the iframe we show a button so the user can go to our website, use the different login options and once the user is logged in is redirected back to RocketChat. At this point RocketChat uses the SSO endpoint to get the login information and the user gets logged into the chat. This works properly on the browser but not on the mobile application

[2020-07-27 12:27] djorkaeffalexandre commented on #2342
Hey @didacroyo, can you provide a test account?
So, we can reproduce it here.
https://open.rocket.chat/direct/djorkaeff.alexandre
Which of these approaches are you following?
https://docs.rocket.chat/guides/developer/iframe-integration/authentication#iframe-url

[2020-07-27 14:22] christoph2806 opened #2343 "[BUG] "Unread" counter badge not updated in iOS app home screen"
- Your Rocket.Chat Experimental app version: 4.9.0.308
- Your Rocket.Chat server version: 2.4.11
- Device (or Simulator) you're running with: iOS 13.5.1 on iPhone 7

The homescreen icon does not properly show the unread count.
See screenshots: I have rooms with unread messages but the icon does not show the unread counter.
Of course I've checked all notification settings but I've not found a way t

[2020-07-27 15:40] djorkaeffalexandre commented on #2342
It was fixed following the docs: https://docs.rocket.chat/guides/developer/iframe-integration/authentication#iframe-url
😄

[2020-07-27 15:40] #2342 closed

[2020-07-27 18:23] aasseman commented on #2284
Found easier steps to reproduce the issue.
The problem seems to impact SSO in general. So it can be triggered by trying to login with Google OAuth, with a google account using FIDO 2FA.

[2020-07-27 20:51] #2267 closed

[2020-07-27 23:21] BizClimb commented on #2329
Tried compiling from command line, tried different OSs to compile, and also just running without compiling with npx react-native run-android. Issue persists regardless, unable to find the cause, but I assume whatever code processes inbound firebase notifications isn't properly opening the correct channel/server in app.json AFTER opening the app correctly.

You can re-create with the following thes

[2020-07-28 04:32] pbenkoe opened #2346 "Push notifications are sent after auth token is invalidated"
- Your Rocket.Chat Experimental app version: 4.9.0.308
- Your Rocket.Chat server version: 3.5.0-develop
- Device (or Simulator) you're running with: iOS

**Steps to reproduce:**
Login user via iFrame authentication (postMessage API).
Invalidate auth token via REST API (either logout or users.removeOtherTokens call).
User will actually get logged out - this part works.

**Expected behavior:**
You s

[2020-07-28 11:58] diegolmello commented on #2329
Did you try with a normal push from a user?
`Send a test push` is only to confirm push configuration is working and the app doesn't implement it, because this push data doesn't have host or content.

[2020-07-28 12:14] diegolmello commented on #2346
This is an issue on the server, which doesn't link session to push token.
Tranferring.

[2020-07-28 12:15] #2346 closed

[2020-07-28 13:26] aimador opened #2348 "[IMPROVEMENT] Save Server URL"
- Your Rocket.Chat Experimental app version: 4.9.0.2132
- Your Rocket.Chat server version: 3.4.2
- Device (or Simulator) you're running with: Any

Hi,

I'm not sure if this was requested specifically for the mobile app already, but could you maybe implement a possibility to save the server URL on the login screen?
Our users are already unhappy about the forced logout every X days. Additionaly they

[2020-07-28 15:41] BizClimb commented on #2329
Yes, same result with a real user message as well, and another note (probably related but not sure), the in notification reply does not get delivered either.

[2020-07-28 15:47] diegolmello commented on #2329
http://chat.bizclimb.com:3000/ your server must be secure.

[2020-07-28 15:50] BizClimb commented on #2329
This was just an extra test server I spun up for testing, my production server is secured with SSL (HTTPS) and is having the same behavior.

[2020-07-28 17:40] BizClimb commented on #2329
Just to be sure I secured the server Via SSL using nginx via the guide here: https://docs.rocket.chat/installation/manual-installation/configuring-ssl-reverse-proxy/

changed the server in app.json from http://chat.bizclimb.com:3000 to https://chat.bizclimb.com

Re-compiled and ran, same two issues persist:
1. If the app is completely closed, it will open from the notification but freeze at splash

[2020-07-28 18:44] diegolmello commented on #2329
First, make sure you have [Reactotron](https://github.com/infinitered/reactotron) installed.

You'll have to run [this](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/ReactotronConfig.js#L17) so the app is connected to Reactotron.
Then run the debug app on your device and make sure the logs are flowing like [this](https://user-images.githubusercontent.com/804994/88707573-d0

[2020-07-28 21:36] BizClimb commented on #2329
I setup reactotron, here is the log for it when it loads the app from the notification and freezes.
[reactotron_timeline.txt](https://github.com/RocketChat/Rocket.Chat.ReactNative/files/4991271/reactotron_timeline.txt)

Doesn't look like there was any output for console.log for the notification even though I did add the code as such:
NotificationsAndroid.setNotificationOpenedListener((notification

[2020-07-29 11:40] emikolajczak opened #2350 "[Question] How to build own application version for own push notifications"
- Your Rocket.Chat Experimental app version: 4.9.0
- Your Rocket.Chat server version: 3.0.12
- Device (or Simulator) you're running with: ####

Hi due to official app push notification limit from 14.08.2020 I want to build own app with own keys.
There is official document https://docs.rocket.chat/guides/administrator-guides/notifications/push-notifications#self-configured
but is not sufficient for

[2020-07-29 12:57] diegolmello commented on #2350
@emikolajczak hey!
Follow this https://github.com/RocketChat/Rocket.Chat.ReactNative/tree/single-server#running-single-server
Let me know if you manage to get it working.
Thanks!

[2020-07-29 12:57] #2350 closed

[2020-07-29 12:59] diegolmello commented on #2329
I see this:
[code]

So something called it and it's probably being called by that notification.
Can you try again?
I can't help you with enough information.

[2020-07-29 18:11] BizClimb commented on #2329
Sure, absolutely, how do I get more information in regards to that? Is there a way I can make reactotron more verbose then it is already or is there something else I should do?

[2020-07-29 18:21] diegolmello commented on #2329
Reactotron shows all logs the same way RN debugger (but faster).
Log this whole notification tap and see what's going on.

[2020-07-29 20:21] BizClimb commented on #2329
![image](https://user-images.githubusercontent.com/60819768/88847038-17142e00-d1ac-11ea-8b55-3512d8f502fc.png)

The log I exported above is from the notification tap until freeze, I'm not seeing any "additional" data in Reactotron though.

[2020-07-29 20:37] BizClimb commented on #2329
![image](https://user-images.githubusercontent.com/60819768/88850652-4e390e00-d1b1-11ea-8d31-e1b53fd9d772.png)
This is the entire reactatron log from tap to freeze expanded completely.

[2020-07-29 20:53] mustifanci opened #2355 "[i18n] Add Turkish"
hi. rocket app moves to reach but i can't choose Turkish Language anymore. Dou ever work on support Turkish language. if you want i and some turkish people contribute for turkish language.

[2020-07-29 21:00] diegolmello commented on #2355
@mustifanci Hey!
We would be glad to add all languages to our app, but it depends more on the community than us, since it's a hard job to add and keep them on track.

Add all translations based on [this file](https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/develop/app/i18n/locales/en.js) to your language.
Add it to the list [here](https://github.com/RocketChat/Rocket.Chat.ReactNative/bl

[2020-07-30 19:28] BizClimb commented on #2329
Is it possible we're looking in the wrong spot, and the receiving end is fine, it's when the outgoing notification is created it might be missing the "action" or an identifier where the notification is supposed to bring the user? Sounds like what might be happening if Deep Linking everything is undefined?

[2020-07-30 19:41] #1626 closed

[2020-07-31 03:06] caesarcxiv opened #2362 "App freezes on status "updating" cannot open messages or channels (Android and apple)"
- Your Rocket.Chat Experimental app version: Android 4.9.0 and apple
- Your Rocket.Chat server version: 3.5.0
- Device (or Simulator) you're running with: 100+ devices

**The app isn't connecting to your server?**
Make sure your server supports WebSocket. These are the minimum requirements for Apache 2.4 and Nginx 1.3 or greater.

Websocket is running / desktop app and browser work

This is a majo

[2020-07-31 08:12] emikolajczak commented on #2350
Hi,
Thanks for this manual.
I try to build app form `single-server` branch, but when I run `gradlew assemblerelease` build hangs after 0.5h on `:app:bundleReleaseJsAndAssets`. Could you help me what can be wrong?

[2020-07-31 10:02] diegolmello commented on #2350
That's the more expensive task on the build. Depends on your machine.
Maybe clean your Android build and try again.

[2020-07-31 10:04] emikolajczak commented on #2350
Thanks for the answer.
From your experience how long it typically takes?
I have core i5 (8th gen) with 16GB of ram.

[2020-07-31 10:40] emikolajczak commented on #2350
I have restarted PC and now `:app:bundleReleaseJsAndAssets` finish with error `Error: EACCES: permission denied, lstat 'C:\...\Rocket.Chat.ReactNative\ios\Pods\Headers\Private\CocoaLibEvent\evdns.h'`
I am trying on Windows 10.

[2020-07-31 12:43] emikolajczak commented on #2350
Finnaly I have build apk. But after i install and run on Phone error occured. Oops! Invalid URL or unable to establish a secure connection.

[2020-07-31 13:37] diegolmello commented on #2350
It's trying to connect to the server on app.json.
Note: localhost doesn't work on the device.

[2020-07-31 14:11] caesarcxiv commented on #2362
@diegolmello emailed you

[2020-07-31 14:35] djorkaeffalexandre commented on #1370
Looks like it's working fine now, when you select a new image, the button to save is enabled. :)
Thanks @mar-v. 🤗

[2020-07-31 14:35] #1370 closed

[2020-07-31 16:15] ankar84 commented on #2362
I have the same issue with app version 4.10.0.19273 and open.rocket.chat (3.6.0-develop)
I did try to clear cache and logoff. Now I can't login - it holds on login process

[2020-07-31 17:40] alexander-potemkin commented on #1580
@diegolmello , any updates?

[2020-07-31 17:50] diegolmello commented on #1580
@alexander-potemkin we've been working on some improvements on the server: https://github.com/RocketChat/Rocket.Chat/pull/18309
We're going to work on them soon on mobile.
Thanks.

[2020-07-31 18:04] alexander-potemkin commented on #1580
I see, thank you! Is there happens to be any time estimate?

[2020-07-31 18:07] diegolmello commented on #1580
We're still planning next release, so no.
Most probably September.

[2020-07-31 18:10] alexander-potemkin commented on #1580
Ok, thank you!

[2020-07-31 18:22] #2233 closed

[2020-07-31 19:29] djorkaeffalexandre commented on #2329
Hey @BizClimb, I guess your problem is related to [this](https://github.com/RocketChat/Rocket.Chat/pull/18442), it'll be merged ASAP to a new server release. (3.5.1)
Update your server ASAP and let's test if this is the problem. :)
Let us know if it works.
Thanks in advance.

[2020-07-31 19:49] BizClimb commented on #2329
3.4.3 is showing as latest release, even though 3.5.0 (which is what I upgraded to) is the release before. I don't see a 3.5.1 yet.

[2020-07-31 19:52] djorkaeffalexandre commented on #2329
@BizClimb

It's not merged yet :)
I've said to you stay tuned and update when the new version launch, then we can see if it fixes your problem.

[2020-07-31 19:53] BizClimb commented on #2329
Excellent, I'll be waiting, will update as soon as it's merged and live.

[2020-07-31 21:07] djorkaeffalexandre commented on #2362
@ankar84 are you using some OAuth client to login into open server?

[2020-08-01 03:26] #860 closed

[2020-08-01 03:59] ankar84 commented on #2362
Hi, Alexandre!
No, I'm using simple login and password with 2fa (Google authenticator)

сб, 1 авг. 2020 г., 04:07 Djorkaeff Alexandre <notifications@github.com>:

[2020-08-01 21:47] luckydonald commented on #1691
Same use case.
Open any website/app, copy an image, paste, you're good to go.

[2020-08-01 21:59] luckydonald opened #2364 "Share media to other apps"
- It is not possible to copy posted images to clipboard (Image, not the url of the message)
- It is not possible to share the image in a different app via share sheet (image itself,  not the url of the post)

- Your Rocket.Chat Experimental app version:

version: 4.8.0.17970
device: iPhone SE

- Your Rocket.Chat server version: 1.30

**The app isn't connecting to your server?**
Make sure your serv